Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(test): backtick object_data identifiers in the helper doc (clippy::doc_markdown)
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

fix(test): split the helper's first doc paragraph (clippy::too_long_first_doc_paragraph)
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

feat(cli): expose naming_convention in the JSON-compile workflow, default camelCase
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/tests.rs
  crates/fraiseql-cli/tests/naming_convention_compile_test.rs
Labels: documentation

fix(db): decode SMALLINT/int2 columns in row_to_map (MutationError.httpStatus)
  CHANGELOG.md
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/integration_tests.rs
Labels: documentation

fix(deps): bump wasmtime 44.0.2 -> 44.0.3 (RUSTSEC-2026-0182)
  Cargo.lock
Labels: none

fix(deps): bump wasmtime bans skip-tree pin 44.0.2 -> 44.0.3
  deny.toml
Labels: none

fix(sdk): bump vulnerable transitive deps (hono, vite, aiohttp)
  sdks/official/fraiseql-python/uv.lock
  sdks/official/fraiseql-typescript/package-lock.json
Labels: none

chore(release): prepare v2.8.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation

ci(release): publish npm via Trusted Publishing (OIDC), drop NPM_TOKEN
  .github/workflows/npm-publish.yml
  .github/workflows/release.yml
  sdks/official/fraiseql-typescript/package.json
Labels: ci

ci(sdk): drop redundant npm publish job from typescript-sdk.yml
  .github/workflows/typescript-sdk.yml
Labels: ci

docs(roadmap): bring current through v2.8.0
  roadmap.md
Labels: documentation

fix(ops): Phase 13 — deployment & ops hardening (H46 + sweep)
  .dagger/main.go
  .github/workflows/ci.yml
  CHANGELOG.md
  Makefile
  crates/fraiseql-observers/src/insecure_guard.rs
  crates/fraiseql-observers/src/insecure_guard/tests.rs
  crates/fraiseql-observers/src/ssrf.rs
  crates/fraiseql-observers/src/transport/tests.rs
  crates/fraiseql-server/src/routes/storage/mod.rs
  crates/fraiseql-server/src/routes/storage/tests.rs
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/fraiseql-hardened.yaml
  deploy/kubernetes/helm/fraiseql/values.yaml
  docker-compose.prod.yml
  docker-compose.yml
  k8s/deployment.yaml
  k8s/service.yaml
  tools/check-deploy-security.sh
Labels: documentation, ci

refactor(cli): Phase 14 — delete dead CLI command handlers & codegen tree
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/codegen/mod.rs
  crates/fraiseql-cli/src/codegen/proto_gen.rs
  crates/fraiseql-cli/src/codegen/row_views.rs
  crates/fraiseql-cli/src/codegen/tests.rs
  crates/fraiseql-cli/src/commands/gateway/config.rs
  crates/fraiseql-cli/src/commands/gateway/merger.rs
  crates/fraiseql-cli/src/commands/gateway/mod.rs
  crates/fraiseql-cli/src/commands/gateway/planner.rs
  crates/fraiseql-cli/src/commands/gateway/server.rs
  crates/fraiseql-cli/src/commands/gateway/tests.rs
  crates/fraiseql-cli/src/commands/generate_proto.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/openapi.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql-cli/src/runner.rs
Labels: none

refactor(db): Phase 14 — delete dead MySQL helpers/tests, empty grpc feature
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-db/src/mysql/adapter_tests.rs
  crates/fraiseql-db/src/mysql/helpers.rs
  crates/fraiseql-db/src/mysql/mod.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
Labels: none

refactor(core,arrow): Phase 14 — delete dead registry/variant, fix arrow drift
  crates/fraiseql-arrow/src/clickhouse_sink.rs
  crates/fraiseql-arrow/src/db_convert.rs
  crates/fraiseql-arrow/src/db_convert/tests.rs
  crates/fraiseql-arrow/src/error.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-core/src/validation/custom_scalar_registry.rs
  crates/fraiseql-core/src/validation/mod.rs
  crates/fraiseql-core/src/validation/tests.rs
Labels: none

test: Phase 14 — close vacuous/zero-coverage test gaps (sub-sweep A)
  crates/fraiseql-core/tests/changelog_e2e.rs
  crates/fraiseql-db/tests/postgres_column_decode_test.rs
  crates/fraiseql-webhooks/src/signature/lemonsqueezy.rs
  crates/fraiseql-webhooks/src/signature/lemonsqueezy/tests.rs
  crates/fraiseql-webhooks/src/signature/postmark.rs
  crates/fraiseql-webhooks/src/signature/postmark/tests.rs
  ignored-tests.md
Labels: documentation

refactor(secrets): Phase 14 — delete 10 unwired "enterprise" encryption modules
  crates/fraiseql-secrets/src/encryption/compliance.rs
  crates/fraiseql-secrets/src/encryption/compliance/tests.rs
  crates/fraiseql-secrets/src/encryption/dashboard.rs
  crates/fraiseql-secrets/src/encryption/dashboard/tests.rs
  crates/fraiseql-secrets/src/encryption/error_recovery.rs
  crates/fraiseql-secrets/src/encryption/error_recovery/tests.rs
  crates/fraiseql-secrets/src/encryption/mapper.rs
  crates/fraiseql-secrets/src/encryption/mapper/tests.rs
  crates/fraiseql-secrets/src/encryption/mod.rs
  crates/fraiseql-secrets/src/encryption/performance.rs
  crates/fraiseql-secrets/src/encryption/performance/tests.rs
  crates/fraiseql-secrets/src/encryption/query_builder.rs
  crates/fraiseql-secrets/src/encryption/query_builder/tests.rs
  crates/fraiseql-secrets/src/encryption/refresh_trigger.rs
  crates/fraiseql-secrets/src/encryption/refresh_trigger/tests.rs
  crates/fraiseql-secrets/src/encryption/rotation_api.rs
  crates/fraiseql-secrets/src/encryption/rotation_api/tests.rs
  crates/fraiseql-secrets/src/encryption/schema.rs
  crates/fraiseql-secrets/src/encryption/schema/tests.rs
  crates/fraiseql-secrets/src/encryption/transaction.rs
  crates/fraiseql-secrets/src/encryption/transaction/tests.rs
Labels: none

test(cli): Phase 15 §2 — compiler→runtime contract gate
  crates/fraiseql-cli/tests/compiler_runtime_contract.rs
Labels: none

test(coverage): Phase 15 §5/§7 — test-support loud-failure gate + release-smoke query
  .github/workflows/release-smoke.yml
  crates/fraiseql-test-support/src/db.rs
Labels: ci

fix(sql): Phase 15 §1 — partial-unique must be a UNIQUE INDEX, not a constraint
  migrations/trinity/002_add_trinity_to_users_example.sql
Labels: none

docs(changelog): Phase 16 — record Phase 14/15 removals, changes, additions
  CHANGELOG.md
Labels: documentation

style: rustfmt the Phase 15 §2 contract-gate doc comment
  crates/fraiseql-cli/tests/compiler_runtime_contract.rs
Labels: none

test(fix): extract test-support db tests to db/tests.rs (lint-tests-layout)
  crates/fraiseql-test-support/src/db.rs
  crates/fraiseql-test-support/src/db/tests.rs
Labels: none

ci(fix): drop the removed core/db `grpc` feature from CI feature lists
  .dagger/main.go
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
Labels: ci

fix(db): #442 — honor order_by in FraiseWire backend + remove dead code
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter/tests.rs
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-db/src/order_by/tests.rs
  crates/fraiseql-db/src/sqlite/adapter/tests.rs
  crates/fraiseql-db/src/sqlite/adapter_tests.rs
  crates/fraiseql-db/src/sqlite/mod.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter/tests.rs
  crates/fraiseql-db/src/sqlserver/adapter_tests.rs
  crates/fraiseql-db/src/sqlserver/mod.rs
Labels: none

feat(auth): #427 — allow-list-backed redirect_uri flow for multi-provider auth
  Makefile
  crates/fraiseql-auth/src/multi_provider.rs
  crates/fraiseql-auth/src/multi_provider/tests.rs
Labels: none

fix(sql): #437 — SQL-layer hardening (F1/F2/F4/F7); F6 deferred to a planned RLS effort
  crates/fraiseql-cli/sql/helpers/mutation_response.sql
  crates/fraiseql-server/migrations/0011_tenants.sql
  deploy/docker/init.sql
  sql/helpers/mutation_response.sql
Labels: none

test(ci): #440 — run fraiseql-storage backend::s3 tests against the bound MinIO
  .dagger/main.go
  CHANGELOG.md
Labels: documentation

ci(fuzz): #441 — weekly scheduled libFuzzer campaign with corpus persistence
  .github/workflows/fuzz.yml
Labels: ci

style: nightly rustfmt the #427/#442 additions
  crates/fraiseql-auth/src/multi_provider.rs
  crates/fraiseql-auth/src/multi_provider/tests.rs
  crates/fraiseql-db/src/order_by/tests.rs
Labels: none

test(storage): #440 — provision the per-test bucket in backend::s3 tests
  crates/fraiseql-storage/src/backend/s3/tests.rs
Labels: none

feat(cli): #384 — residual view-linter checks in `compile --database`
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/database_validator_tests.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/tests/mutation_contract_against_db.rs
Labels: documentation

feat(security): #379 — query cost estimation + per-tenant cost budgets
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/tests.rs
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/graphql/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-server/src/routes/api/tenant_admin.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/tenant_registry.rs
  crates/fraiseql-server/src/routes/graphql/tests.rs
  crates/fraiseql-server/tests/multitenancy_test.rs
Labels: documentation

feat(cli): #383 — `fraiseql watch` (recompile + zero-downtime live reload)
  CHANGELOG.md
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/watch.rs
  crates/fraiseql-cli/src/commands/watch_tests.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/tests/cli_help_tests.rs
Labels: documentation

feat(security): #379 — `[security] persisted_queries_only` shorthand
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/compiler_runtime_contract.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
Labels: documentation

feat(security): #437 F6 / #443 — Row-Level Security on the change-spine change-log
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-observers/migrations/08_create_entity_change_log_contract.sql
  crates/fraiseql-observers/migrations/11_create_change_log_capture_trigger.sql
  crates/fraiseql-observers/migrations/12_enable_change_log_rls.sql
  crates/fraiseql-observers/src/migrations/mod.rs
  crates/fraiseql-observers/src/migrations/tests.rs
  crates/fraiseql-observers/tests/rls_isolation.rs
  docs/architecture/change-log-contract.md
Labels: documentation

feat(security): #437 F6 / #443 — least-privilege REVOKE + doctor RLS check; greenfield migration cleanup
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/pg_catalog.rs
  crates/fraiseql-observers/migrations/08_create_entity_change_log_contract.sql
  crates/fraiseql-observers/migrations/12_enable_change_log_rls.sql
  crates/fraiseql-observers/src/migrations/tests.rs
  docs/architecture/change-log-contract.md
Labels: documentation

feat(cli): #443 — `fraiseql doctor` REVOKE-from-PUBLIC + capture-fn DEFINER checks
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/pg_catalog.rs
  crates/fraiseql-cli/tests/doctor_against_db.rs
Labels: documentation

feat(subscriptions): #425 — deliver the Change-Spine envelope to GraphQL subscription clients
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/subscription/mod.rs
  crates/fraiseql-core/src/runtime/subscription/protocol.rs
  crates/fraiseql-core/src/runtime/subscription/tests.rs
  crates/fraiseql-core/src/runtime/subscription/types.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/routes/subscriptions/tests.rs
  crates/fraiseql-server/src/subscriptions/event_bridge.rs
  crates/fraiseql-server/src/subscriptions/tests.rs
  crates/fraiseql-server/tests/realtime_integration_test.rs
  crates/fraiseql-server/tests/subscription_ws_e2e_test.rs
Labels: documentation

chore(deploy): #436 — harden demo/example/test deployment artifacts
  CHANGELOG.md
  crates/fraiseql-wire/Dockerfile
  deploy/docker/loki-config.yml
  deploy/nginx-fraiseql.conf
  docker/docker-compose.demo.yml
  docker/docker-compose.examples.yml
  docker/docker-compose.prod-examples.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.test.yml
  docker/tls-postgres/docker-compose.yml
  examples/async-jobs-subgraph/docker-compose.yml
  examples/async-jobs-subgraph/fraiseql-side/Dockerfile
  examples/async-jobs-subgraph/subgraph/Dockerfile
  examples/ecommerce_api/docker-compose.yml
  examples/federation/basic/orders-service/Dockerfile
  examples/federation/basic/users-service/Dockerfile
  examples/observability/docker-compose.loki.yml
  tutorial/Dockerfile
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
