Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

🔧 Fix lint: Move Generic to last position in DataLoader class inheritance
  src/fraiseql/optimization/dataloader.py
Labels: none

🔧 Align linting tooling with CI environment
  pyproject.toml
  src/fraiseql/security/rate_limiting.py
  src/fraiseql/security/validators.py
Labels: config, dependencies

🚀 Release v0.7.13
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
  uv.lock
Labels: documentation, tests, cli, config, dependencies

🔥 Hotfix v0.7.14 - Critical Nested Input Conversion Fix
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  src/fraiseql/types/coercion.py
  tests/system/cli/test_main.py
Labels: documentation, tests, types, cli, config, dependencies

✨ Add Built-in JSON Serialization for FraiseQL Input Objects (v0.7.15)
  src/fraiseql/types/constructor.py
  uv.lock
Labels: types

🔧 Fix Date Serialization in to_dict Method
  src/fraiseql/types/constructor.py
Labels: types

🚀 Release v0.7.15 - Built-in JSON Serialization for FraiseQL Input Objects
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
  uv.lock
Labels: documentation, tests, cli, config, dependencies

🔧 Fix linting issues for v0.7.15 release
  src/fraiseql/types/constructor.py
Labels: types

🐛 Fix FraiseQL empty string validation for required fields
  src/fraiseql/utils/fraiseql_builder.py
Labels: none

🐛 Fix FraiseQL Empty String Validation for Required Fields (#53)
  CHANGELOG.md
  src/fraiseql/utils/fraiseql_builder.py
Labels: documentation

🚀 Release v0.7.16 - Enhanced String Validation
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
Labels: documentation, cli, config, dependencies

🔧 Release v0.7.17 - Fix CI/CD Pipeline + String Validation
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  uv.lock
Labels: documentation, cli, config, dependencies

🐛 Fix auth test compatibility with string validation feature
  tests/integration/auth/test_field_authorization_simple.py
Labels: tests

🐛 Fix regression test compatibility with string validation
  tests/regression/test_field_conversion_underscore_number_id_bug.py
Labels: tests

🐛 Fix PrintOptim Backend test compatibility with string validation
  tests/regression/test_printoptim_backend_bug_reproduction.py
Labels: tests

🔖 Revert version numbers to v0.7.16 for proper release
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
Labels: tests, cli, config, dependencies

🐛 Fix FraiseQL v0.7.16 Empty String Validation Regression
  src/fraiseql/types/constructor.py
  src/fraiseql/utils/fraiseql_builder.py
  tests/regression/test_v0716_empty_string_validation_regression.py
Labels: tests, types

🔖 Release v0.7.17 - Critical Empty String Validation Regression Fix
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
  uv.lock
Labels: documentation, tests, cli, config, dependencies

🐛 Fix critical GraphQL validation bypass in v0.7.17
  src/fraiseql/types/coercion.py
  tests/regression/test_v0717_graphql_validation_bypass_regression.py
Labels: tests, types

🐛 Fix critical GraphQL validation bypass in v0.7.17
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  src/fraiseql/types/coercion.py
  tests/regression/test_v0717_graphql_validation_bypass_regression.py
Labels: tests, types, cli, config, dependencies

🧪 Update CLI version test for dynamic versioning
  tests/system/cli/test_main.py
Labels: tests

🚨 CRITICAL FIX: v0.7.19 - None Value Validation Bypass Regression
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/utils/fraiseql_builder.py
  tests/regression/test_v0717_graphql_validation_bypass_regression.py
Labels: documentation, tests, config, dependencies

🔧 Update uv.lock for v0.7.19 dependencies
  uv.lock
Labels: none

🚨 CRITICAL: v0.7.19 - None Value Validation Bypass Regression Fix (#55)
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  src/fraiseql/types/coercion.py
  src/fraiseql/utils/fraiseql_builder.py
  tests/regression/test_v0717_graphql_validation_bypass_regression.py
  tests/system/cli/test_main.py
  uv.lock
Labels: documentation, tests, types, cli, config, dependencies

🐛 Fix JSONB numeric ordering bug causing lexicographic sorting
  TODO_ORDER_BY.md
  src/fraiseql/sql/order_by_generator.py
  tests/integration/database/sql/test_graphql_order_by_generator.py
  tests/integration/database/sql/test_numeric_ordering_bug.py
  tests/integration/database/sql/test_order_by.py
  tests/integration/database/sql/test_order_by_graphql_integration.py
  tests/integration/database/sql/test_order_by_integration.py
  tests/integration/database/sql/test_order_by_list_dict_regression.py
Labels: documentation, tests, sql

Clean up resolved TODO file
  TODO_ORDER_BY.md
Labels: documentation

🐛 Fix JSONB numeric ordering bug causing lexicographic sorting (#56)
  src/fraiseql/sql/order_by_generator.py
  tests/integration/database/sql/test_graphql_order_by_generator.py
  tests/integration/database/sql/test_numeric_ordering_bug.py
  tests/integration/database/sql/test_order_by.py
  tests/integration/database/sql/test_order_by_graphql_integration.py
  tests/integration/database/sql/test_order_by_integration.py
  tests/integration/database/sql/test_order_by_list_dict_regression.py
Labels: tests, sql

🔖 Release v0.7.20 - JSONB Numeric Ordering Bug Fix
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

🔖 Release v0.7.20 - JSONB Numeric Ordering Bug Fix
  docs/api-reference/index.md
  docs/core-concepts/index.md
  docs/core-concepts/ordering-and-sorting.md
  docs/errors/troubleshooting.md
Labels: documentation

🐛 Fix mutation name collision causing parameter validation errors
  src/fraiseql/mutations/mutation_decorator.py
  tests/integration/graphql/mutations/test_similar_mutation_names_collision_fix.py
Labels: tests, mutations

🐛 Fix mutation name collision causing parameter validation errors (#57)
  src/fraiseql/mutations/mutation_decorator.py
  tests/integration/graphql/mutations/test_similar_mutation_names_collision_fix.py
Labels: tests, mutations

🔖 Release v0.7.21 - Mutation Name Collision Fix + Repository Cleanup
  .gitignore
  CHANGELOG.md
  CONFLICT_AUTO_POPULATION_FIX_SUMMARY.md
  docs/releases/RELEASE_NOTES_v0.7.21.md
  pyproject.toml
  src/fraiseql/__init__.py
  tests/fixtures/examples/.database_state_cache.json
  tests/fixtures/examples/.dependency_cache.json
  tests/fixtures/examples/.install_log.txt
Labels: documentation, tests, config, dependencies

feat: Add session variable support for all execution modes
  src/fraiseql/db.py
  tests/integration/session/test_session_variables.py
Labels: tests

feat: Add session variable support for all execution modes (#58)
  src/fraiseql/db.py
  tests/integration/session/test_session_variables.py
Labels: tests

🔖 Release v0.7.22 - Universal Session Variables Support
  RELEASE_NOTES_v0.7.22.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

🐛 Fix enum parameter conversion in GraphQL resolvers
  src/fraiseql/gql/resolver_wrappers.py
  uv.lock
Labels: none

✅ Add comprehensive tests for enum parameter conversion fix
  tests/integration/graphql/test_enum_conversion_fix.py
  tests/integration/graphql/test_enum_edge_cases.py
  tests/integration/graphql/test_enum_parameter_simple.py
Labels: tests

🔧 Fix overly broad test file pattern in .gitignore
  .gitignore
Labels: none

🐛 Fix test function naming to avoid pytest confusion
  tests/integration/graphql/test_enum_parameter_simple.py
Labels: tests

🐛 Fix enum parameter conversion in GraphQL resolvers (#59)
  .gitignore
  src/fraiseql/gql/resolver_wrappers.py
  tests/integration/graphql/test_enum_conversion_fix.py
  tests/integration/graphql/test_enum_edge_cases.py
  tests/integration/graphql/test_enum_parameter_simple.py
  uv.lock
Labels: tests
