Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(ci): suppress fraiseql-observers doc test compilation failures
  crates/fraiseql-observers/src/cached_executor.rs
  crates/fraiseql-observers/src/deduped_executor.rs
  crates/fraiseql-observers/src/factory.rs
  crates/fraiseql-observers/src/job_queue/redis.rs
  crates/fraiseql-observers/src/transport/mssql_bridge.rs
Labels: none

fix(ci): resolve 5 CI failure categories
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/perf-baseline.yml
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  tests/sql/mysql/init.sql
  tests/sql/mysql/procedures.sql
Labels: tests, ci

fix(ci): resolve 4 remaining CI failure categories
  .github/workflows/ci.yml
  .github/workflows/perf-baseline.yml
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  tests/sql/sqlserver/init.sql
Labels: tests, ci

fix(ci): resolve 8 remaining CI failures across 5 jobs
  .github/workflows/perf-baseline.yml
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  tests/sql/mysql/init.sql
  tests/sql/mysql/procedures.sql
  tests/sql/sqlserver/init.sql
Labels: tests, ci

fix(ci): resolve 4 remaining CI failures from round 3
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/ssrf.rs
  tests/sql/mysql/procedures.sql
  tests/sql/sqlserver/init.sql
Labels: tests

fix(ci): add diagnostic output to MySQL mutation test
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
Labels: none

fix(ci): use text protocol for MySQL stored procedure calls
  crates/fraiseql-db/src/mysql/adapter.rs
Labels: none

chore(test): remove diagnostic output from MySQL mutation test
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
Labels: none

chore: remove 45 todo!/unimplemented!/FIXME/HACK markers (fixes #166)
  crates/fraiseql-arrow/src/db.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-auth/src/session.rs
  crates/fraiseql-cli/src/commands/extract/tests.rs
  crates/fraiseql-cli/src/commands/generate/rust_lang.rs
  crates/fraiseql-cli/src/commands/init/skeletons.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/field_filter.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/runtime/subscription/transport.rs
  crates/fraiseql-core/src/runtime/subscription/webhook.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-db/src/dialect/trait_def.rs
  crates/fraiseql-observers/src/executor/retry.rs
  crates/fraiseql-observers/src/factory.rs
Labels: none

chore(release): bump workspace to v2.1.2
  Cargo.lock
  Cargo.toml
Labels: none

fix(ci): replace invalid secrets[var] with explicit secrets.NAME in release workflow
  .github/workflows/release.yml
Labels: ci

fix(ci): replace steps[var] bracket notation in release workflow
  .github/workflows/release.yml
Labels: ci

fix(ci): make crate publish idempotent and increase timeout
  .github/workflows/release.yml
Labels: ci

fix(ci): use HTTP status check for crate existence, add npm idempotency
  .github/workflows/release.yml
Labels: ci

fix(server): move grafana dashboard into crate for cargo publish
  crates/fraiseql-server/resources/fraiseql-dashboard.json
  crates/fraiseql-server/src/routes/api/admin.rs
Labels: none

feat(mutations): apply GraphQL selection set to mutation response entity
  crates/fraiseql-core/src/runtime/executor/classify.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/planning.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
Labels: none

fix(core,db,server): fix three bugs (#171, #172, #173)
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/tests.rs
Labels: none

feat(compiler,db,core): native column detection for direct query args (#174)
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/introspection/mod.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-db/src/where_sql_generator.rs
Labels: none

fix(db,cli): support non-public PostgreSQL schemas in --database validation
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-db/src/postgres/introspector.rs
Labels: none

fix(db): make native column casts dialect-aware
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-db/src/dialect/mysql.rs
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/dialect/sqlite.rs
  crates/fraiseql-db/src/dialect/sqlserver.rs
  crates/fraiseql-db/src/dialect/trait_def.rs
  crates/fraiseql-db/src/where_generator/generic.rs
Labels: none

refactor(db): remove unnecessary cast_native_param overrides from non-PG dialects
  crates/fraiseql-db/src/dialect/mysql.rs
  crates/fraiseql-db/src/dialect/sqlite.rs
  crates/fraiseql-db/src/dialect/sqlserver.rs
  crates/fraiseql-db/src/dialect/trait_def.rs
Labels: none

fix(core): use two-step text cast for native column WHERE params
  crates/fraiseql-core/src/runtime/executor/query.rs
Labels: none

fix(db): make native column casts dialect-aware
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-db/src/dialect/mysql.rs
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/dialect/sqlite.rs
  crates/fraiseql-db/src/dialect/sqlserver.rs
  crates/fraiseql-db/src/dialect/trait_def.rs
  crates/fraiseql-db/src/where_generator/generic.rs
Labels: none

fix(core): use two-step text cast for native column WHERE params
  crates/fraiseql-core/src/runtime/executor/query.rs
Labels: none

refactor(db): remove unnecessary cast_native_param overrides from non-PG dialects
  crates/fraiseql-db/src/dialect/mysql.rs
  crates/fraiseql-db/src/dialect/sqlite.rs
  crates/fraiseql-db/src/dialect/sqlserver.rs
  crates/fraiseql-db/src/dialect/trait_def.rs
Labels: none

fix(db): implement PoolPrewarmConfig — wire pool_min_size and pool_timeout_secs
  crates/fraiseql-db/src/postgres/adapter/integration_tests.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/tests.rs
  crates/fraiseql-db/src/postgres/mod.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/tests/config_struct_test.rs
  crates/fraiseql-server/tests/integration/database_integration_test.rs
  crates/fraiseql-server/tests/wire_backend_feature_test.rs
Labels: none

feat(server): add CacheStatus enum and cache_enabled diagnostic logging
  crates/fraiseql-server/src/routes/api/admin.rs
  crates/fraiseql-server/src/server/builder.rs
Labels: none

feat(server): add ObserverPoolConfig for independent observer pool tuning
  DEPRECATIONS.md
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/observers.rs
Labels: documentation

chore: finalize issue #183 — validation, archaeology, changelog
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-server/src/server_config/methods.rs
Labels: documentation

fix(cache): skip 64-shard lock scan and CascadeInvalidator mutex when cache disabled
  crates/fraiseql-core/src/cache/invalidation_api.rs
  crates/fraiseql-core/src/cache/result.rs
Labels: none

feat(server): wire CachedDatabaseAdapter into request path (#184)
  CHANGELOG.md
  DEPRECATIONS.md
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/config.rs
  crates/fraiseql-server/src/routes/api/admin.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/rest/handler.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/server_config/observers.rs
  crates/fraiseql-server/tests/cache_wiring_tests.rs
Labels: documentation

perf(cache): replace 64-shard LRU with moka W-TinyLFU; add opt-in mode (issue #185)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/tests/cache_wiring_tests.rs
Labels: documentation

fix(cache): remove expire_after_read override — eliminates timer-wheel lock on every get()
  crates/fraiseql-core/src/cache/result.rs
Labels: none

fix(cache): invert opt_in_mode default + TTL-free mutation-only invalidation
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/cache/result.rs
Labels: none

perf(cache): eliminate per-hit allocations in cache hot path
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/result.rs
Labels: none

feat(compiler): auto-infer native_columns from ID/UUID-typed arguments
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/where_clause.rs
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
Labels: none

feat(compiler): warn on wide cascade mutation fan-out + perf changelog
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
Labels: documentation

chore(release): prepare v2.1.2
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
Labels: documentation

chore(release): bump version to 2.1.3
  CHANGELOG.md
  Cargo.toml
Labels: documentation

fix(python-sdk): resolve 4 ty type errors blocking CI
  sdks/official/fraiseql-python/src/fraiseql/config.py
  sdks/official/fraiseql-python/src/fraiseql/integrations/langchain.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/src/fraiseql/schema.py
Labels: none
