Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(cli,db)!: compile --help stops advertising indexed-column validation
  CHANGELOG.md
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-db/src/postgres/mod.rs
  crates/fraiseql-db/src/postgres/where_generator.rs
  crates/fraiseql-db/src/where_clause.rs
Labels: documentation

docs: mutation timing and the tenant claim are described as the server reads them
  CHANGELOG.md
  docs/architecture/enriched-identity-rls.md
  docs/auth/auth0.md
  docs/features/mutation-timing.md
  docs/mcp.md
Labels: documentation

fix(core)!: a fact-table aggregate refuses a filter it cannot apply
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregation/mod.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
Labels: documentation

fix(cli): migrate refuses a server below PostgreSQL 18 before confiture runs
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/migrate.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/tests/server_version_floor_pg.rs
  docs/database-compatibility.md
Labels: documentation

docs(wire): the crate states the PostgreSQL version it is tested on
  CHANGELOG.md
  crates/fraiseql-wire/CONTRIBUTING.md
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql-wire/README.md
  crates/fraiseql-wire/benchmarking.md
  crates/fraiseql-wire/docker-setup.md
  crates/fraiseql-wire/postgres-compatibility.md
  crates/fraiseql-wire/testing-guide.md
  crates/fraiseql-wire/troubleshooting.md
Labels: documentation

chore(sdk-python): urllib3 2.8.0 and banks 2.5.1 in the lockfile
  CHANGELOG.md
  sdks/official/fraiseql-python/uv.lock
Labels: documentation

fix(observers)!: ObserverRuntimeConfig refuses the four keys nothing read; examples load
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  Makefile
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/docs/configuration-examples.md
  crates/fraiseql-observers/examples/01-postgresql-only.toml
  crates/fraiseql-observers/examples/02-postgresql-redis.toml
  crates/fraiseql-observers/examples/03-nats-distributed.toml
  crates/fraiseql-observers/examples/04-multi-database-bridge.toml
  crates/fraiseql-observers/examples/README.md
  crates/fraiseql-observers/examples/job_queue_example.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/config/tests.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-observers/tests/config_documents.rs
  crates/fraiseql-observers/tests/integration_test.rs
Labels: documentation

fix(server)!: [observers.runtime.redis] holds what the server uses; FRAISEQL_REDIS_* apply
  CHANGELOG.md
  crates/fraiseql-observers/docs/configuration-examples.md
  crates/fraiseql-observers/src/cache/redis.rs
  crates/fraiseql-observers/src/cache/tests.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/observers.rs
Labels: documentation

feat(core): fact-table aggregates filter on ltree hierarchies and underscore-spelled operators
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-core/tests/aggregate_hierarchy_filters.rs
Labels: documentation

docs(observers): remove the compose files and guides for an observer binary that never shipped
  CHANGELOG.md
  crates/fraiseql-observers/deployment-guide.md
  crates/fraiseql-observers/deployment.md
  crates/fraiseql-observers/docker-compose.multi-database.yml
  crates/fraiseql-observers/docker-compose.nats-distributed.yml
  crates/fraiseql-observers/docker-compose.postgres-only.yml
  crates/fraiseql-observers/docker-compose.postgres-redis.yml
  crates/fraiseql-observers/docs/README.md
  crates/fraiseql-observers/docs/cli-tools.md
  crates/fraiseql-observers/docs/integration-guide.md
  crates/fraiseql-observers/docs/migration-guide.md
  crates/fraiseql-observers/docs/performance-tuning.md
  crates/fraiseql-observers/docs/troubleshooting.md
  crates/fraiseql-observers/examples/04-multi-database-bridge.toml
  crates/fraiseql-observers/examples/README.md
  crates/fraiseql-observers/tests/README.md
  docs/operations/README.md
  docs/operations/observer-idempotency.md
  docs/operations/observers.md
Labels: documentation

fix(core)!: a window query refuses a where key it cannot apply
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/runtime/window_parser.rs
Labels: documentation

fix(server)!: remove tenant_middleware, which trusted X-Org-ID from any authenticated caller
  CHANGELOG.md
  architecture.md
  crates/fraiseql-server/src/extractors.rs
  crates/fraiseql-server/src/extractors/tests.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/middleware/tenant.rs
  crates/fraiseql-server/src/middleware/tests.rs
  crates/fraiseql-server/src/tests.rs
Labels: documentation

docs(observers): no doc promises concurrent action execution
  CHANGELOG.md
  crates/fraiseql-observers/README.md
  crates/fraiseql-observers/docs/README.md
  crates/fraiseql-observers/docs/performance-tuning.md
  crates/fraiseql-observers/docs/troubleshooting.md
  docs/architecture/overview.md
Labels: documentation

fix(release): bump the Compose stack and runbook image pins with the deploy artifacts
  CHANGELOG.md
  docs/runbooks/01-deployment.md
  docs/runbooks/04-memory-pressure.md
  tools/check-deploy-versions.sh
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/release_helpers_test.sh
Labels: documentation

fix(server): the MCP HTTP endpoint answers requests addressed to the deployment's hostname
  CHANGELOG.md
  crates/fraiseql-server/src/mcp/http.rs
  crates/fraiseql-server/src/mcp/tests.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server/routing/mount_authz_tests.rs
  docs/mcp.md
Labels: documentation

fix(server): one replica polls the observer change log, so a row is dispatched once
  CHANGELOG.md
  crates/fraiseql-observers/src/listener/lease.rs
  crates/fraiseql-observers/tests/advisory_lease_pg.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  docs/operations/observers.md
Labels: documentation

fix(core): introspection reads __type(name:) per request and answers each root under its alias
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested_authz_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/authz.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/introspection_projection.rs
  crates/fraiseql-core/src/runtime/executor/support/introspection_projection_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/planning.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

fix(server)!: the NATS observer transport applies its JetStream limits and refuses the bridge keys
  CHANGELOG.md
  crates/fraiseql-observers/docs/configuration-examples.md
  crates/fraiseql-observers/src/transport/nats.rs
  crates/fraiseql-observers/tests/nats_integration.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/observers.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  docs/operations/observers.md
  tools/check-config-deny-unknown.py
Labels: documentation

fix(sdk-python): @fraiseql.input keeps an input field's deprecated= and description=
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_decorators.py
Labels: documentation, tests

docs(observers): the guides' PromQL queries and alerts use the series the server records
  CHANGELOG.md
  crates/fraiseql-observers/docs/integration-guide.md
  crates/fraiseql-observers/docs/migration-guide.md
  crates/fraiseql-observers/docs/performance-tuning.md
  crates/fraiseql-observers/docs/troubleshooting.md
Labels: documentation

fix(server): a failing root of a multi-root mutation is sanitized like a failed request
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/src/tenancy/tests.rs
Labels: documentation

fix(core): a GraphQL variable the request omits takes its declared default
  CHANGELOG.md
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/graphql/complexity_tests.rs
  crates/fraiseql-core/src/graphql/value_json.rs
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/tests/graphql_sse_e2e_pg.rs
  crates/fraiseql-server/tests/subscription_ws_e2e_test.rs
Labels: documentation

fix(core)!: a constraint a mutation's function violates answers as its typed error
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  docs/architecture/mutation-response.md
  docs/guides/typed-clients.md
Labels: documentation

refactor(observers)!: remove the unreachable `cli` feature and its canned-output commands
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/cli/commands/debug_event.rs
  crates/fraiseql-observers/src/cli/commands/dlq.rs
  crates/fraiseql-observers/src/cli/commands/dlq/tests.rs
  crates/fraiseql-observers/src/cli/commands/metrics.rs
  crates/fraiseql-observers/src/cli/commands/mod.rs
  crates/fraiseql-observers/src/cli/commands/status.rs
  crates/fraiseql-observers/src/cli/commands/validate_config.rs
  crates/fraiseql-observers/src/cli/mod.rs
  crates/fraiseql-observers/src/cli/tests.rs
  crates/fraiseql-observers/src/lib.rs
  docs/features-compatibility-matrix.md
Labels: documentation

fix(release): the smoke's source schema ships the connector its source runs
  crates/fraiseql-server/src/sources/connector_boot_tests.rs
  docker/e2e/functions/pollExample.ts
  docker/e2e/schema.with-source.compiled.json
Labels: none

fix(tools): the guard-lock gate resolves a helper by file, not by bare name
  tools/check-guard-test-lock.py
  tools/tests/guard_test_lock_test.sh
Labels: none

ci: drop the MSRV re-run of the unit tests, and run preflight on forge
  .github/workflows/dagger-feature-matrix.yml
  .github/workflows/dagger-preflight.yml
  .github/workflows/dagger-test.yml
  docs/contributing/branching-model.md
  tools/required-checks.toml
Labels: documentation, ci

ci(image): run the image leg on archbox's main runner, under a 60-min cap
  .github/workflows/dagger-image.yml
Labels: ci

ci(image): the image leg skips a SHA that already passed it
  .dagger/main.go
  .github/workflows/dagger-image.yml
  Makefile
  tools/check-already-passed-guard.py
  tools/tests/already_passed_guard_test.sh
Labels: ci

ci(mirror): minio and fake-gcs-server are mirrored from pinned sources
  .dagger/main.go
  .github/workflows/mirror-base-images.yml
  Makefile
  crates/fraiseql-storage/src/backend/s3/tests.rs
  docs/architecture/storage.md
  tools/changelog-exempt-issues.txt
  tools/check-image-mirror.py
  tools/tests/image_mirror_test.sh
Labels: documentation, ci

fix(observers): webhooks carry the event id, and the idempotency guide describes what runs
  CHANGELOG.md
  crates/fraiseql-observers/docs/configuration-examples.md
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/actions/tests.rs
  crates/fraiseql-observers/src/checkpoint/mod.rs
  crates/fraiseql-observers/src/checkpoint/tests.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/lib.rs
  docs/operations/README.md
  docs/operations/observer-idempotency.md
  docs/operations/zero-downtime-deploys.md
Labels: documentation

ci(sdks): one unfiltered, required `SDK suites` check runs the SDK suites a push touches
  .dagger/main.go
  .github/workflows/csharp-sdk.yml
  .github/workflows/dart-sdk.yml
  .github/workflows/elixir-sdk.yml
  .github/workflows/fsharp-sdk.yml
  .github/workflows/go-sdk.yml
  .github/workflows/java-sdk.yml
  .github/workflows/php-sdk.yml
  .github/workflows/python-sdk.yml
  .github/workflows/ruby-official-sdk.yml
  .github/workflows/rust-sdk.yml
  .github/workflows/sdk-suites.yml
  .github/workflows/typescript-sdk.yml
  Makefile
  sdks/official/fraiseql-elixir/.gitignore
  tools/changelog-exempt-issues.txt
  tools/check-sdk-lockfile-freshness.py
  tools/check-sdk-workflow-coverage.py
  tools/check-suite-coverage.py
  tools/delivery-artifacts.toml
  tools/required-checks.toml
  tools/sdk-suite.sh
  tools/sdk-suites-matrix.py
  tools/suite-coverage-exemptions.toml
  tools/test-sdks.sh
  tools/tests/sdk_workflow_coverage_test.sh
  tools/tests/suite_coverage_workflows_test.sh
  tools/tests/workflow_trigger_rule_test.sh
Labels: ci

fix(observers): every replica delivers every change to its own subscribers
  CHANGELOG.md
  crates/fraiseql-observers/src/listener/mod.rs
  crates/fraiseql-observers/src/listener/tail.rs
  crates/fraiseql-observers/src/listener/tail/tests.rs
  crates/fraiseql-observers/src/transport/mod.rs
  crates/fraiseql-observers/src/transport/nats.rs
  crates/fraiseql-observers/tests/change_log_commit_order_pg.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  docs/operations/observer-idempotency.md
  docs/operations/observers.md
Labels: documentation

feat(inject): a mutation can inject a JWT claim the token may lack
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/src/schema/converter/tenancy.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/compiled/type_inject.rs
  crates/fraiseql-core/src/schema/security_config.rs
  docs/architecture/intermediate-schema.md
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_decorators.py
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/field-completeness.test.ts
Labels: documentation, tests

feat(aggregates): fact tables roll a tree path up by level and filter it by node id
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/analytics.rs
  crates/fraiseql-core/src/compiler/aggregate_types.rs
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/compiler/fact_table/detector.rs
  crates/fraiseql-core/src/compiler/fact_table/mod.rs
  crates/fraiseql-core/src/compiler/tests.rs
  crates/fraiseql-core/src/compiler/window_functions/tests.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/partial_period_builder.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_gates.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_hierarchy.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/mod.rs
  crates/fraiseql-core/src/runtime/native_columns.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/tests/aggregate_hierarchy_filters.rs
  crates/fraiseql-core/tests/aggregate_tree_grouping.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/common/test_db.rs
  crates/fraiseql-core/tests/e2e_aggregate_queries.rs
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
  crates/fraiseql-core/tests/integration/fact_table_integration.rs
  crates/fraiseql-db/src/postgres/introspector.rs
  docs/architecture/intermediate-schema.md
  docs/modules/fact-table.md
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/registry.test.ts
Labels: documentation

fix(security): `jwt:scope` injects the granted scopes
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/security/security_context.rs
  docs/architecture/enriched-identity-rls.md
Labels: documentation

fix(observers): on NATS, an event is acknowledged after its actions ran
  CHANGELOG.md
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/transport/mod.rs
  crates/fraiseql-observers/src/transport/nats.rs
  crates/fraiseql-observers/tests/nats_integration.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  docs/operations/observer-idempotency.md
Labels: documentation

fix(server): --validate-sql-sources checks that the server's role may use each source
  CHANGELOG.md
  crates/fraiseql-server/src/cli.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/sql_source_check.rs
  crates/fraiseql-server/src/sql_source_check_tests.rs
  crates/fraiseql-server/tests/sql_source_boot_check.rs
Labels: documentation

docs(changelog): the NATS ack and per-replica fan-out are listed as behaviour changes
  CHANGELOG.md
  docs/operations/observer-idempotency.md
Labels: documentation

fix(release): the version bump refreshes the Python and Rust SDK lockfiles
  CHANGELOG.md
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/release_helpers_test.sh
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
