Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(ci): bump Coverage timeout to 90m
  .github/workflows/ci.yml
Labels: ci

perf(ci): split coverage into per-crate runs instead of workspace-wide
  .github/workflows/ci.yml
Labels: ci

fix(ci): remove --no-clean from coverage runs (conflicts with --no-report)
  .github/workflows/ci.yml
Labels: ci

fix(ci): use --lib for fraiseql-db coverage (integration tests need fixtures)
  .github/workflows/ci.yml
Labels: ci

fix(ci): exclude test-postgres from fraiseql-db coverage
  .github/workflows/ci.yml
Labels: ci

fix(ci): bump Coverage timeout to 120m
  .github/workflows/ci.yml
Labels: ci

perf(ci): drop --all-features from remaining crates coverage step
  .github/workflows/ci.yml
Labels: ci

fix(ci): add --lib to remaining crates coverage step
  .github/workflows/ci.yml
Labels: ci

fix(ci): lower fraiseql-db coverage threshold to 55%
  .github/workflows/ci.yml
Labels: ci

fix(ci): lower remaining crates coverage threshold to 25%
  .github/workflows/ci.yml
Labels: ci

perf(ci): move coverage to weekly schedule, remove from PR CI
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Labels: ci

perf(core): replace SHA-256 cache key with fast ahash (#155)
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/cache/fact_table_cache.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/tests/cache_key_properties.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
Labels: none

perf(core): eliminate format! allocation in WhereOperator hashing (#155)
  crates/fraiseql-core/src/cache/key.rs
Labels: none

fix(core): update stale SHA-256 references and broken doctests (#155)
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
Labels: none

docs: fix inaccuracies found by adversarial CLAUDE.md audit (#155)
  .claude/CLAUDE.md
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-db/src/filters/mod.rs
  crates/fraiseql-db/src/filters/operators.rs
Labels: none

fix: quality assessment findings — SSRF, lint, test compilation (#155)
  crates/fraiseql-core/src/security/oidc/jwks.rs
  crates/fraiseql-core/src/security/oidc/mod.rs
  crates/fraiseql-core/src/security/oidc/tests.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-error/Cargo.toml
  crates/fraiseql-error/tests/http_responses.rs
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/routes/api/admin.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/grpc/streaming.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/trusted_documents.rs
  crates/fraiseql-server/tests/grpc_transport_e2e_test.rs
  crates/fraiseql-server/tests/rest_transport_e2e_test.rs
Labels: none

chore: prune ghost features and add feature chain checker (#155)
  .github/workflows/feature-flags.yml
  Cargo.lock
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/server/builder.rs
  tools/check-feature-chains.sh
Labels: ci

docs: fix database support matrix — relay, mutations, subscriptions
  README.md
Labels: documentation

chore: apply standalone items from perf/fast-cache-key-155
  crates/fraiseql-error/tests/http_responses.rs
  tools/check-feature-chains.sh
Labels: none

fix(compiler): accept GraphQL `!` suffix in CLI schema validator (closes #151)
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
Labels: none

fix(compiler): support schema-qualified identifiers in sql_source (closes #152)
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/validator/sql_identifier.rs
Labels: none

perf(core): replace SHA-256 cache key with fast ahash (#155)
  Cargo.lock
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/benches/cache.rs
  crates/fraiseql-core/benches/cache_concurrent_bench.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/cache/fact_table_cache.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/tests/cache_key_properties.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
Labels: none

perf(core): eliminate format! allocation in WhereOperator hashing (#155)
  crates/fraiseql-core/src/cache/key.rs
Labels: none

fix(security): phase 1 — RLS bypass, injection, and input validation fixes
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/runtime/executor/explain.rs
  crates/fraiseql-core/src/runtime/executor/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/runtime/subscription/mod.rs
  crates/fraiseql-core/src/runtime/subscription/tests.rs
  crates/fraiseql-core/src/runtime/subscription/types.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/pipeline_codegen_executor_test.rs
  crates/fraiseql-core/tests/pipeline_inject_params_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_error_type_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/projection_generator.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlite/adapter_tests.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/file.rs
  crates/fraiseql-server/src/pool/auto_tuner.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
Labels: none

test(safety-net): phase 3 — critical path tests for untested security and delivery paths
  Cargo.lock
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/subscription/tests.rs
  crates/fraiseql-core/src/security/oidc/tests.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/tests/security/auth_pkce_flow_test.rs
  crates/fraiseql-server/tests/subscription_ws_e2e_test.rs
Labels: none

fix(cleanup): phase 4 — dead code cleanup, SQL fixes, and executor path tests
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/schema/dependency_graph/builder.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/tests/mutation_execution_test.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
Labels: none

feat(wiring): phase 8e+8f — wire orphaned modules into crate structure
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/codegen/proto_gen.rs
  crates/fraiseql-cli/src/codegen/row_views.rs
  crates/fraiseql-cli/src/commands/gateway/config.rs
  crates/fraiseql-cli/src/commands/generate_proto.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/openapi.rs
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-db/src/dialect/mod.rs
  crates/fraiseql-db/src/dialect/mysql.rs
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/dialect/sqlite.rs
  crates/fraiseql-db/src/dialect/sqlserver.rs
  crates/fraiseql-db/src/dialect/trait_def.rs
  crates/fraiseql-db/src/introspector.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/mysql/adapter_tests.rs
  crates/fraiseql-db/src/mysql/mod.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlite/adapter_tests.rs
  crates/fraiseql-db/src/sqlite/mod.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter_tests.rs
  crates/fraiseql-db/src/sqlserver/mod.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/mod.rs
Labels: none

fix(deps+docs): resolve security advisories, doc tests, and dependency duplicates
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/tests/identifier_validation_test.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/storage/mod.rs
  deny.toml
Labels: none

refactor(federation): suppress cognitive complexity warnings with justifications
  crates/fraiseql-federation/src/composition_validator.rs
  crates/fraiseql-federation/src/entity_resolver.rs
  crates/fraiseql-federation/src/requires_provides_validator.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
Labels: none

refactor(observers,core): suppress clippy warnings in observers and core crates
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/runtime/subscription/types.rs
  crates/fraiseql-core/src/schema/dependency_graph/builder.rs
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/elasticsearch_sink.rs
  crates/fraiseql-observers/src/executor/actions.rs
  crates/fraiseql-observers/src/executor/mod.rs
  crates/fraiseql-observers/src/executor/retry.rs
  crates/fraiseql-observers/src/factory.rs
  crates/fraiseql-observers/src/logging/structured.rs
Labels: none

refactor(auth): split AuthError::into_response into response_parts + log_security_details
  crates/fraiseql-auth/src/middleware.rs
Labels: none

chore(server): mark REST/gRPC features as experimental for v2.1.0
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/rest/mod.rs
Labels: none

fix(clippy): resolve all remaining workspace-wide clippy errors
  crates/fraiseql-arrow/benches/flight_benchmarks.rs
  crates/fraiseql-arrow/src/flight_server/handlers/do_exchange.rs
  crates/fraiseql-arrow/src/flight_server/handlers/metadata.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-arrow/src/metadata.rs
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/serve.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
  crates/fraiseql-core/benches/cache_concurrent_bench.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation_entity_resolver.rs
  crates/fraiseql-core/tests/mutation_operation_dispatch.rs
  crates/fraiseql-core/tests/property/property_tests.rs
  crates/fraiseql-db/tests/adapter_parity_test.rs
  crates/fraiseql-secrets/src/encryption/database_adapter.rs
  crates/fraiseql-server/src/middleware/oidc_auth.rs
  crates/fraiseql-server/src/middleware/rate_limit/middleware_fn.rs
  crates/fraiseql-server/src/routes/auth.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/storage/tests.rs
  crates/fraiseql-server/src/subscriptions/event_bridge.rs
  crates/fraiseql-server/tests/integration/database_integration_test.rs
  crates/fraiseql-server/tests/metrics_monitoring_validation_test.rs
  crates/fraiseql-server/tests/security/field_auth_edge_cases_test.rs
  crates/fraiseql-server/tests/wire_backend_feature_test.rs
  crates/fraiseql-wire/src/client/connection_string.rs
  crates/fraiseql-wire/src/metrics/labels.rs
Labels: none

fix(security): harden rate limiter mutex recovery and DLQ serialization fallback
  crates/fraiseql-auth/src/rate_limiting.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-observers/src/deduped_executor.rs
Labels: none

fix(arrow): gracefully skip DB-dependent tests when DATABASE_URL unset
  .github/workflows/ci.yml
  crates/fraiseql-arrow/tests/flight_e2e_test.rs
  crates/fraiseql-arrow/tests/flight_error_handling_test.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
Labels: ci

chore: bump MSRV from 1.88 to 1.91
  Cargo.lock
  Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-core/benches/memory_profile.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-db/src/sqlite/adapter_tests.rs
  crates/fraiseql-federation/tests/http_resolver_integration.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/file.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/grpc/handler.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/grpc/streaming.rs
  crates/fraiseql-server/src/routes/rest/embedding.rs
  crates/fraiseql-server/src/routes/rest/handler.rs
  crates/fraiseql-server/src/routes/rest/idempotency.rs
  crates/fraiseql-server/src/routes/rest/openapi.rs
  crates/fraiseql-server/src/routes/rest/params.rs
  crates/fraiseql-server/src/routes/rest/redis_store.rs
  crates/fraiseql-server/src/routes/rest/resource.rs
  crates/fraiseql-server/src/routes/rest/response.rs
  crates/fraiseql-server/src/routes/rest/router.rs
  crates/fraiseql-server/src/routes/rest/streaming.rs
  crates/fraiseql-server/src/storage/azure.rs
  crates/fraiseql-server/src/storage/s3.rs
  crates/fraiseql-server/tests/rest_transport_e2e_test.rs
  crates/fraiseql-server/tests/security/auth_pkce_flow_test.rs
  rust-toolchain.toml
Labels: none

fix(security): add SSRF bypass env vars for local integration testing
  crates/fraiseql-observers/src/job_queue/executor.rs
  crates/fraiseql-observers/src/ssrf.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/validation.rs
Labels: none

chore(release): add crate READMEs and npm publish job for v2.1.0
  .github/workflows/release.yml
  crates/fraiseql-arrow/README.md
  crates/fraiseql-auth/README.md
  crates/fraiseql-cli/README.md
  crates/fraiseql-core/README.md
  crates/fraiseql-db/README.md
  crates/fraiseql-error/README.md
  crates/fraiseql-federation/README.md
  crates/fraiseql-secrets/README.md
  crates/fraiseql-server/README.md
  crates/fraiseql-webhooks/README.md
Labels: ci

chore(release): prepare v2.1.0
  CHANGELOG.md
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
Labels: documentation

feat(db): expose GROUP BY and aggregations in db.find() (#316)
  .github/workflows/security-compliance.yml
  src/fraiseql/db.py
  tests/regression/issue_315/__init__.py
  tests/regression/issue_315/test_group_by_aggregations.py
Labels: tests, ci
