Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

test(examples): the smoke gate names what it does not cover
  tools/examples-smoke.sh
Labels: none

fix(deps): a stale skip-tree pin fails the run instead of warning under the storm
  .dagger/main.go
  .dagger/security.go
  .github/workflows/security-compliance.yml
  Makefile
  deny.toml
  tools/check-deny-lint-flags.py
  tools/tests/deny_lint_flags_test.sh
Labels: ci

fix(examples): the six example crates state the terms they are offered under
  examples/authentication/Cargo.toml
  examples/basic-query/Cargo.toml
  examples/complex-queries/Cargo.toml
  examples/error-handling/Cargo.toml
  examples/performance/Cargo.toml
  examples/subscriptions/Cargo.toml
Labels: none

fix(ci): a Dockerfile Rust base older than the MSRV fails on push, not at the tag
  .dagger/main.go
  Makefile
  tools/check-dockerfile-msrv.sh
  tools/tests/dockerfile_msrv_test.sh
Labels: none

fix(ci): the release image can be built again, and a member that escapes it fails on push
  .dagger/main.go
  Dockerfile
  Makefile
  tools/check-dockerfile-workspace-members.sh
  tools/tests/dockerfile_workspace_members_test.sh
Labels: none

fix(docker): both stages stop installing a driver library nothing links
  Dockerfile
Labels: none

fix(docs): the release page stops rendering dead links, and the README step stops lying
  CHANGELOG.md
  README.md
  tools/check-docs-version.sh
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/release_helpers_test.sh
Labels: documentation

fix(deps): the aws stack leaves rustls 0.21, and four accepted advisories go with it
  .cargo/audit.toml
  Cargo.lock
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-storage/Cargo.toml
  deny.toml
  docs/dependency-risk-policy.md
  tools/check-default-build-minimums.sh
Labels: documentation

docs(changelog): Phase 10's six issues, and the two its own work exposed
  CHANGELOG.md
Labels: documentation

fix(ci): five jobs that could never run are gone, and the shape now fails on push
  .dagger/main.go
  .dagger/security.go
  .github/workflows/benchmark-velocity.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/dagger-security.yml
  .github/workflows/docker-build.yml
  .github/workflows/perf-baseline.yml
  .github/workflows/security-compliance.yml
  CHANGELOG.md
  Makefile
  tools/check-suite-coverage.py
  tools/check-workflow-job-reachability.py
  tools/tests/suite_coverage_workflows_test.sh
  tools/tests/workflow_job_reachability_test.sh
Labels: documentation, ci

docs(phases): the index names the new program, and the backlog one as deferred behind it
  .phases/README.md
Labels: none

fix(ci): a secret scanner runs again, and its exemptions are pinned by a test
  .dagger/security.go
  .github/workflows/dagger-security.yml
  .github/workflows/security-compliance.yml
  .gitleaks.toml
  CHANGELOG.md
  Makefile
  tools/tests/gitleaks_allowlist_test.sh
Labels: documentation, ci

fix(ci): the examples gate stops passing on files no clone has
  CHANGELOG.md
  docker/docker-compose.test.yml
  docker/init/postgres-tls-init.sh
Labels: documentation

feat(ci): every published image is built before the tag, not after it
  .dagger/image.go
  .dagger/main.go
  .github/workflows/dagger-image.yml
  CHANGELOG.md
  Makefile
  tools/check-dockerfile-workspace-members.sh
  tools/check-image-parity.py
  tools/tests/image_parity_test.sh
Labels: documentation, ci

feat(ci): the shipped image answers a question only a working engine can answer
  .dagger/image.go
  .dagger/image_boot.go
  .github/workflows/dagger-image.yml
  CHANGELOG.md
  Makefile
Labels: documentation, ci

feat(ci): the shipped image is what it declares, and its healthcheck is run
  .dagger/image_boot.go
  .dagger/image_props.go
  .github/workflows/dagger-image.yml
  CHANGELOG.md
  Dockerfile
  Makefile
Labels: documentation, ci

feat(ci): the chart deploys into a real cluster and answers, instead of being linted
  .dagger/image.go
  .env.example
  .github/workflows/dagger-image.yml
  .github/workflows/helm.yml
  CHANGELOG.md
  Makefile
  deploy/kubernetes/README.md
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/fraiseql-hardened.yaml
  deploy/kubernetes/helm/fraiseql/README.md
  deploy/kubernetes/helm/fraiseql/templates/_helpers.tpl
  deploy/kubernetes/helm/fraiseql/templates/config-configmap.yaml
  deploy/kubernetes/helm/fraiseql/templates/configmap.yaml
  deploy/kubernetes/helm/fraiseql/templates/deployment.yaml
  deploy/kubernetes/helm/fraiseql/templates/schema-configmap.yaml
  deploy/kubernetes/helm/fraiseql/templates/secret.yaml
  deploy/kubernetes/helm/fraiseql/templates/serviceaccount.yaml
  deploy/kubernetes/helm/fraiseql/values.yaml
  deploy/kubernetes/service.yaml
  docker-compose.prod.yml
  docker-compose.yml
  tools/chart-deploy-test.sh
  tools/check-deploy-security.sh
Labels: documentation, ci

feat(ci): one Compose stack ships, and it is brought up and queried
  .docker/demo-validate.sh
  .env.example
  .github/workflows/dagger-image.yml
  CHANGELOG.md
  Makefile
  crates/fraiseql-observers/docker-compose.multi-database.yml
  crates/fraiseql-observers/docker-compose.nats-distributed.yml
  crates/fraiseql-observers/docker-compose.postgres-only.yml
  crates/fraiseql-observers/docker-compose.postgres-redis.yml
  crates/fraiseql-wire/docker-compose.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/README.md
  docker/docker-compose.demo.yml
  docker/docker-compose.examples.yml
  docker/docker-compose.prod-examples.yml
  docker/docker-compose.prod.yml
  docker/tls-postgres/docker-compose.yml
  examples/README.md
  examples/async-jobs-subgraph/docker-compose.yml
  examples/federation/basic/docker-compose.yml
  examples/federation/composite-keys/docker-compose.yml
  examples/federation/multi-cloud/docker-compose-local.yml
  examples/federation/saga-basic/docker-compose.yml
  examples/federation/saga-complex/docker-compose.yml
  examples/federation/saga-manual-compensation/docker-compose.yml
  examples/observability/docker-compose.loki.yml
  tools/check-deploy-security.sh
  tools/check-deploy-versions.sh
  tools/check-examples-integrity.sh
  tools/compose-stack-test.sh
  tutorial/README.md
Labels: documentation, ci

feat(ci): what we ship, and what proves it works, is a file CI checks
  .dagger/main.go
  .dagger/release.go
  .github/workflows/bench.yml
  .github/workflows/benchmark-velocity.yml
  .github/workflows/benchmarks.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dagger-preflight.yml
  .github/workflows/dagger-test.yml
  .github/workflows/e2e.yml
  .github/workflows/feature-flags.yml
  .github/workflows/generate-d2-diagrams.yml
  .github/workflows/load-test.yml
  .github/workflows/mutation.yml
  .github/workflows/perf-baseline.yml
  .github/workflows/security-alerts.yml
  .github/workflows/security-compliance.yml
  .github/workflows/security.yml
  .tool-versions
  CHANGELOG.md
  Makefile
  docs/releases.md
  tools/check-delivery-coverage.py
  tools/delivery-artifacts.toml
  tools/tests/delivery_coverage_test.sh
Labels: documentation, ci

fix(sdk): the lockfile we publish agrees with the manifest, and a gate says so
  .dagger/main.go
  .github/workflows/python-sdk.yml
  .github/workflows/rust-sdk.yml
  CHANGELOG.md
  Makefile
  sdks/official/fraiseql-python/uv.lock
  sdks/official/fraiseql-rust/Cargo.lock
  tools/check-sdk-lockfile-freshness.py
  tools/tests/sdk_lockfile_freshness_test.sh
Labels: documentation, ci

fix(ci): the autofix hooks cannot rewrite a ledger or a line of prose
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  deploy/kubernetes/README.md
  docs/architecture/webhooks.md
  examples/async-jobs-subgraph/fraiseql-side/fraiseql.toml
  examples/async-jobs-subgraph/fraiseql-side/server.toml
  examples/federation/basic/server.toml
  examples/federation/composite-keys/server.toml
  tools/suite-coverage-exemptions.toml
  tools/tests/delivery_coverage_test.sh
Labels: documentation, config

fix(storage): a key_prefix-scoped write rule permits creates under its prefix
  CHANGELOG.md
  crates/fraiseql-storage/src/rls/mod.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/src/routes/uploads.rs
  docs/architecture/storage.md
Labels: documentation

feat(storage): object metadata, and set_metadata as its own permission
  crates/fraiseql-server/src/server/routing/storage_policy_admin_tests.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-storage/src/metadata/mod.rs
  crates/fraiseql-storage/src/migrations/mod.rs
  crates/fraiseql-storage/src/policy/mod.rs
  crates/fraiseql-storage/src/policy/spec.rs
  crates/fraiseql-storage/src/policy/tests.rs
  crates/fraiseql-storage/src/rls/mod.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/tests.rs
Labels: none

feat(storage): ingestion paths for object metadata, on one permission
  CHANGELOG.md
  crates/fraiseql-storage/src/policy/mod.rs
  crates/fraiseql-storage/src/rls/mod.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/src/routes/uploads.rs
  docs/architecture/storage.md
Labels: documentation

test(storage): the TOML door reaches the metadata policy surface, and a leg runs it
  .dagger/main.go
  crates/fraiseql-server/src/server_config/tests.rs
  crates/fraiseql-storage/src/routes/mod.rs
Labels: none

fix(storage): the deliberately-dead metadata binding names the lint that fires on it
  crates/fraiseql-storage/src/routes/mod.rs
Labels: none

feat(ci): the feature matrix is runnable before the push it is meant to gate
  .dagger/main.go
  CHANGELOG.md
  Makefile
  docs/contributing/branching-model.md
  tools/feature-combos.py
  tools/lint-feature-matrix.sh
  tools/tests/feature_matrix_local_test.sh
Labels: documentation

fix(ci): a fix recorded as a known issue no longer satisfies the changelog gate
  CHANGELOG.md
  tools/check-changelog-issues.sh
  tools/tests/changelog_gate_test.sh
Labels: documentation

fix(ci): a step that cannot run is deleted or made reachable, and a gate says which
  .github/workflows/bench.yml
  .github/workflows/benchmark-velocity.yml
  .github/workflows/benchmarks.yml
  .github/workflows/generate-d2-diagrams.yml
  .github/workflows/perf-baseline.yml
  CHANGELOG.md
  docs/contributing/benchmarks.md
  docs/performance.md
  tools/check-workflow-job-reachability.py
  tools/tests/workflow_job_reachability_test.sh
Labels: documentation, ci

fix(ci): the release smoke can tell a loaded fixture from an empty one
  .github/workflows/release-smoke.yml
  CHANGELOG.md
Labels: documentation, ci

fix(ci): the feature-OFF refusal paths run, and the gate can see when they do not
  .dagger/main.go
  CHANGELOG.md
  Makefile
  tools/check-suite-coverage.py
  tools/tests/suite_coverage_inner_gates_test.sh
Labels: documentation

fix(test): the observer webhook suites name the setup they need instead of blaming the runtime
  CHANGELOG.md
  crates/fraiseql-server/tests/observer_test_helpers.rs
  tools/changelog-exempt-issues.txt
Labels: documentation

test(rate-limit): the bucket sweep is asserted to be SCHEDULED, not merely callable
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-server/src/middleware/rate_limit/dispatch.rs
  crates/fraiseql-server/src/middleware/rate_limit/in_memory.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/tests/rate_limit_sweep_is_scheduled_test.rs
Labels: documentation

test(webhooks): a signature test asserts WHICH stage failed, not just that one did
  CHANGELOG.md
  crates/fraiseql-webhooks/src/signature/discord/tests.rs
  crates/fraiseql-webhooks/src/signature/paddle/tests.rs
  crates/fraiseql-webhooks/src/signature/sendgrid/tests.rs
  crates/fraiseql-webhooks/src/signature/twilio/tests.rs
Labels: documentation

test(conformance): the harness's four guarantees are pinned by a file that exists
  .dagger/main.go
  CHANGELOG.md
  Makefile
  sdks/official/conformance/README.md
  sdks/official/conformance/project.py
  sdks/official/conformance/selftest.py
Labels: documentation

feat(ci): what we publish is installed, imported, extracted and run — not just probed
  .dagger/image_boot.go
  .github/workflows/dagger-image.yml
  .github/workflows/release-smoke.yml
  CHANGELOG.md
  tools/consume-published-artifacts.sh
  tools/delivery-artifacts.toml
  tools/tests/delivery_coverage_test.sh
Labels: documentation, ci

fix(lint): three clippy findings in this phase's own tests, two of them feature-OFF
  crates/fraiseql-server/tests/observer_test_helpers.rs
  crates/fraiseql-server/tests/rate_limit_sweep_is_scheduled_test.rs
  crates/fraiseql-webhooks/src/signature/discord/tests.rs
  crates/fraiseql-webhooks/src/signature/paddle/tests.rs
  crates/fraiseql-webhooks/src/signature/sendgrid/tests.rs
  crates/fraiseql-webhooks/src/signature/twilio/tests.rs
Labels: none

fix(runtime): a mistyped `limit` is refused, not dropped, so a bounded request stops answering with the whole table
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/argument_value_validation.rs
  crates/fraiseql-core/src/runtime/argument_value_validation_tests.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/tests/argument_value_types_postgres.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
Labels: documentation

fix(rest): an embedded relation is scoped to its parent even when the target query publishes no `where`
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-server/src/routes/rest/embedding/executor.rs
  crates/fraiseql-server/tests/rest_embedding_safety_e2e_pg.rs
Labels: documentation

fix(runtime): a `String` field keeps its text when that text happens to parse as JSON
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-core/tests/string_field_fidelity_postgres.rs
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
