Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(rest): a reconnecting stream client is replayed what it missed, in delivery order
  CHANGELOG.md
  crates/fraiseql-cli/sql/helpers/entity_change_log_contract.sql
  crates/fraiseql-cli/src/config/toml_schema/rest/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/rest/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-observers/migrations/08_create_entity_change_log_contract.sql
  crates/fraiseql-observers/migrations/14_create_observer_dispatch.sql
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/listener/mod.rs
  crates/fraiseql-observers/src/listener/replay.rs
  crates/fraiseql-observers/src/listener/replay/tests.rs
  crates/fraiseql-observers/tests/change_log_commit_order_pg.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/rest/mod.rs
  crates/fraiseql-server/src/routes/rest/openapi/paths.rs
  crates/fraiseql-server/src/routes/rest/openapi/tests.rs
  crates/fraiseql-server/src/routes/rest/resumable_stream.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/rest/sse.rs
  crates/fraiseql-server/src/routes/rest/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/tests/rest_stream_fanout_e2e_pg.rs
  crates/fraiseql-server/tests/rest_write_mount_e2e_pg.rs
  docs/operations/README.md
  docs/operations/graphql-sse-streaming.md
  docs/operations/rest-stream-resumption.md
Labels: documentation

docs(changelog): document #1320, and put [Unreleased] back to one heading per type
  CHANGELOG.md
Labels: documentation

fix(tests): stamp the compiled schemas #1304 made the server refuse, and gate the ones CI mounts
  crates/fraiseql-server/tests/api_key_postgres_e2e_pg.rs
  crates/fraiseql-server/tests/fixtures/federation/schema_reviews.json
  crates/fraiseql-server/tests/fixtures/federation/schema_users.json
  crates/fraiseql-server/tests/hs256_revocation_e2e_pg.rs
  crates/fraiseql-server/tests/hs256_service_account_e2e_pg.rs
  crates/fraiseql-server/tests/local_auth_e2e_pg.rs
  crates/fraiseql-server/tests/mcp_tenant_dispatch_e2e_pg.rs
  crates/fraiseql-server/tests/rbac_admin_e2e_pg.rs
  crates/fraiseql-server/tests/saml_mount_e2e_pg.rs
  crates/fraiseql-server/tests/scim_conformance_e2e_pg.rs
  crates/fraiseql-server/tests/scim_provisioning_e2e_pg.rs
  crates/fraiseql-server/tests/social_oauth_e2e_pg.rs
  crates/fraiseql-server/tests/studio_admin_no_fabricated_success_e2e.rs
  crates/fraiseql-server/tests/tenant_lifecycle_e2e_pg.rs
  crates/fraiseql-server/tests/tenant_schema_isolation_e2e_pg.rs
  tools/check-compiled-schema-stamp.sh
  tools/release.sh
  tools/tests/compiled_schema_stamp_test.sh
Labels: none

docs(actor-policies): spell requires_actor per SDK, because ten of eleven author it
  docs/operations/actor-policies.md
Labels: documentation

docs(sdks): count the community tier from the tree, and gate the arithmetic
  sdks/community/README.md
  sdks/official/conformance/selftest.py
Labels: none

fix(sdk-elixir): build each definition struct once, so a new key cannot reach one macro form only
  sdks/official/fraiseql-elixir/lib/fraiseql/schema.ex
  sdks/official/fraiseql-elixir/test/fraiseql/schema_dsl_test.exs
Labels: none

docs(changelog): record #1317, #1318 and #1319 under Unreleased
  CHANGELOG.md
Labels: documentation

fix(functions): before:mutation is enforced in the engine, so none of its three bypasses remains
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/security/mutation_gate.rs
  crates/fraiseql-core/src/security/mutation_gate/tests.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-server/src/routes/before_mutation/mod.rs
  crates/fraiseql-server/src/routes/before_mutation/tests.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/handler/stages.rs
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/server/functions_setup.rs
  docs/architecture/functions.md
  tools/check-mutation-dispatch-sites.sh
Labels: documentation

fix(image): a build that cannot run a declared section refuses to boot, and a published image can run one
  .dagger/image.go
  .dagger/image_props.go
  .dagger/main.go
  .github/workflows/docker-build.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/schema/loader.rs
  crates/fraiseql-server/src/schema/tests.rs
  deploy/deployment-security-guide.md
  docker/README.md
  docs/architecture/functions.md
  docs/architecture/sources.md
  docs/releases.md
  tools/check-deploy-versions.sh
  tools/check-gated-sections.py
  tools/delivery-artifacts.toml
Labels: documentation, ci

feat(functions): a before:mutation hook can read, read-only and as its caller
  CHANGELOG.md
  Makefile
  crates/fraiseql-cli/src/commands/functions.rs
  crates/fraiseql-cli/tests/fixtures/functions/credit_limit.ts
  crates/fraiseql-cli/tests/functions_invoke.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/support/hook_reader.rs
  crates/fraiseql-core/src/runtime/executor/support/mod.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/security/mutation_gate.rs
  crates/fraiseql-core/src/security/mutation_gate/tests.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-functions/src/host/before_mutation.rs
  crates/fraiseql-functions/src/host/before_mutation/tests.rs
  crates/fraiseql-functions/src/host/live/mod.rs
  crates/fraiseql-functions/src/host/mod.rs
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-functions/src/observer/mod.rs
  crates/fraiseql-functions/src/triggers/mutation/mod.rs
  crates/fraiseql-functions/src/triggers/mutation/tests.rs
  crates/fraiseql-server/src/routes/before_mutation/mod.rs
  crates/fraiseql-server/src/routes/before_mutation/tests.rs
  crates/fraiseql-server/src/server/functions_setup.rs
  docs/architecture/config-vs-settings.md
  docs/architecture/functions.md
Labels: documentation

perf(functions): an invocation stops waiting for its own watchdog to notice it finished
  CHANGELOG.md
  crates/fraiseql-functions/src/runtime/deno/executor.rs
  crates/fraiseql-functions/src/runtime/deno/mod.rs
  crates/fraiseql-functions/src/runtime/deno/watchdog.rs
  crates/fraiseql-functions/src/runtime/deno/watchdog/tests.rs
Labels: documentation

fix(deps): the shipped TLS stack is patched against RUSTSEC-2026-0285
  CHANGELOG.md
  Cargo.lock
Labels: documentation

feat(webhooks): a route's verification scheme is its configuration, not a Rust type
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/inbound/webhook/tests.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/tests/webhook_provider_matrix_pg.rs
  crates/fraiseql-server/tests/webhook_replay_header_dedup_pg.rs
  crates/fraiseql-server/tests/webhook_route_dedup_scope_pg.rs
  crates/fraiseql-webhooks/src/lib.rs
  crates/fraiseql-webhooks/src/scheme.rs
  crates/fraiseql-webhooks/src/scheme/tests.rs
  crates/fraiseql-webhooks/src/signature/generic.rs
  crates/fraiseql-webhooks/src/signature/generic/tests.rs
  crates/fraiseql-webhooks/src/signature/mod.rs
  crates/fraiseql-webhooks/src/signature/registry.rs
  crates/fraiseql-webhooks/src/signature/registry/tests.rs
  crates/fraiseql-webhooks/src/signature/tests.rs
  crates/fraiseql-webhooks/src/traits.rs
Labels: none

feat(webhooks): verification reports what it authenticated, not whether a byte string matched
  crates/fraiseql-observers/src/actions/tests.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/inbound/webhook/tests.rs
  crates/fraiseql-webhooks/src/lib.rs
  crates/fraiseql-webhooks/src/pipeline.rs
  crates/fraiseql-webhooks/src/pipeline/tests.rs
  crates/fraiseql-webhooks/src/scheme.rs
  crates/fraiseql-webhooks/src/signature/discord.rs
  crates/fraiseql-webhooks/src/signature/discord/tests.rs
  crates/fraiseql-webhooks/src/signature/generic.rs
  crates/fraiseql-webhooks/src/signature/generic/tests.rs
  crates/fraiseql-webhooks/src/signature/github.rs
  crates/fraiseql-webhooks/src/signature/github/tests.rs
  crates/fraiseql-webhooks/src/signature/gitlab.rs
  crates/fraiseql-webhooks/src/signature/gitlab/tests.rs
  crates/fraiseql-webhooks/src/signature/lemonsqueezy.rs
  crates/fraiseql-webhooks/src/signature/lemonsqueezy/tests.rs
  crates/fraiseql-webhooks/src/signature/mod.rs
  crates/fraiseql-webhooks/src/signature/paddle.rs
  crates/fraiseql-webhooks/src/signature/paddle/tests.rs
  crates/fraiseql-webhooks/src/signature/postmark.rs
  crates/fraiseql-webhooks/src/signature/postmark/tests.rs
  crates/fraiseql-webhooks/src/signature/sendgrid.rs
  crates/fraiseql-webhooks/src/signature/sendgrid/tests.rs
  crates/fraiseql-webhooks/src/signature/shopify.rs
  crates/fraiseql-webhooks/src/signature/shopify/tests.rs
  crates/fraiseql-webhooks/src/signature/slack.rs
  crates/fraiseql-webhooks/src/signature/slack/tests.rs
  crates/fraiseql-webhooks/src/signature/stripe.rs
  crates/fraiseql-webhooks/src/signature/stripe/tests.rs
  crates/fraiseql-webhooks/src/signature/tests.rs
  crates/fraiseql-webhooks/src/signature/twilio.rs
  crates/fraiseql-webhooks/src/signature/twilio/tests.rs
  crates/fraiseql-webhooks/src/testing.rs
  crates/fraiseql-webhooks/src/traits.rs
  crates/fraiseql-webhooks/tests/discord_replay_test.rs
  crates/fraiseql-webhooks/tests/inbound_pipeline_pg.rs
  crates/fraiseql-webhooks/tests/sendgrid_replay_test.rs
  crates/fraiseql-webhooks/tests/slack_replay_test.rs
  crates/fraiseql-webhooks/tests/twilio_replay_test.rs
Labels: none

refactor(webhooks): boot builds the routes once and the mount serves what it built
  crates/fraiseql-server/src/inbound/mod.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/inbound/webhook/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/tests/webhook_provider_matrix_pg.rs
  crates/fraiseql-server/tests/webhook_replay_header_dedup_pg.rs
  crates/fraiseql-server/tests/webhook_route_dedup_scope_pg.rs
Labels: none

docs(webhooks): the provider table is written from the schemes that exist
  CHANGELOG.md
  docs/architecture/webhooks.md
Labels: documentation

feat(webhooks): the Standard Webhooks scheme, from the vectors its publishers ship
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/inbound/webhook/tests.rs
  crates/fraiseql-server/tests/webhook_provider_matrix_pg.rs
  crates/fraiseql-server/tests/webhook_replay_header_dedup_pg.rs
  crates/fraiseql-server/tests/webhook_route_dedup_scope_pg.rs
  crates/fraiseql-webhooks/src/pipeline.rs
  crates/fraiseql-webhooks/src/scheme.rs
  crates/fraiseql-webhooks/src/scheme/tests.rs
  crates/fraiseql-webhooks/src/signature/generic/tests.rs
  crates/fraiseql-webhooks/src/signature/mod.rs
  crates/fraiseql-webhooks/src/signature/standard_webhooks.rs
  crates/fraiseql-webhooks/src/signature/standard_webhooks/tests.rs
  crates/fraiseql-webhooks/src/signature/tests.rs
  crates/fraiseql-webhooks/src/traits.rs
  crates/fraiseql-webhooks/tests/standard_webhooks_test.rs
Labels: none

test(webhooks): the Standard Webhooks negatives, on both sides of each threshold
  crates/fraiseql-webhooks/src/signature/standard_webhooks/tests.rs
Labels: none

test(webhooks): the ledger and the spine key on the signed id, through the route
  crates/fraiseql-server/tests/webhook_provider_matrix_pg.rs
Labels: none

test(webhooks): both asymmetric prefixes, and an absent secret keeps its own answer
  crates/fraiseql-server/tests/webhook_provider_matrix_pg.rs
Labels: none

docs(webhooks): the two new schemes, and the two facts an operator cannot guess
  CHANGELOG.md
  crates/fraiseql-webhooks/src/signature/mod.rs
  docs/architecture/webhooks.md
Labels: documentation

feat(jwks): a JWKS client that bounds its refetches, because an unknown kid cost one fetch each
  .dagger/release.go
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.lock
  crates/fraiseql-auth/fuzz/Cargo.lock
  crates/fraiseql-core/fuzz/Cargo.lock
  crates/fraiseql-jwks/Cargo.toml
  crates/fraiseql-jwks/README.md
  crates/fraiseql-jwks/src/fetch.rs
  crates/fraiseql-jwks/src/lib.rs
  crates/fraiseql-jwks/src/source.rs
  crates/fraiseql-jwks/src/tests.rs
  crates/fraiseql-secrets/fuzz/Cargo.lock
  crates/fraiseql-server/fuzz/Cargo.lock
  tools/delivery-artifacts.toml
Labels: ci

fix(auth): the algorithm allow-list runs before the key lookup, and core's JWKS cache is the shared one
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/security/oidc/jwks.rs
  crates/fraiseql-core/src/security/oidc/mod.rs
  crates/fraiseql-core/src/security/oidc/tests.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-server/src/middleware/oidc_auth.rs
  crates/fraiseql-server/src/routes/jwks_admin/tests.rs
  crates/fraiseql-server/tests/admin_authz_test.rs
  crates/fraiseql-server/tests/auth_me_integration_test.rs
  crates/fraiseql-server/tests/auth_regression_test.rs
  crates/fraiseql-server/tests/grpc_transport_e2e_test.rs
Labels: none

refactor(auth): the OAuth client's JWKS cache was the second copy of the same rule
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/jwks.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/middleware.rs
  crates/fraiseql-auth/src/oauth/client.rs
  crates/fraiseql-auth/src/oidc_provider.rs
  crates/fraiseql-auth/src/tests.rs
Labels: none

docs(changelog): the JWKS client that replaced two, and what an embedder can see
  CHANGELOG.md
Labels: documentation

feat(webhooks): tokens verified against a key set the sender's publisher serves
  Cargo.lock
  crates/fraiseql-jwks/src/lib.rs
  crates/fraiseql-jwks/src/tests.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.lock
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/inbound/webhook/tests.rs
  crates/fraiseql-server/tests/webhook_provider_matrix_pg.rs
  crates/fraiseql-server/tests/webhook_replay_header_dedup_pg.rs
  crates/fraiseql-server/tests/webhook_route_dedup_scope_pg.rs
  crates/fraiseql-webhooks/Cargo.toml
  crates/fraiseql-webhooks/src/lib.rs
  crates/fraiseql-webhooks/src/pipeline.rs
  crates/fraiseql-webhooks/src/pipeline/tests.rs
  crates/fraiseql-webhooks/src/scheme.rs
  crates/fraiseql-webhooks/src/scheme/tests.rs
  crates/fraiseql-webhooks/src/signature/generic/tests.rs
  crates/fraiseql-webhooks/src/signature/jwt_jwks.rs
  crates/fraiseql-webhooks/src/signature/jwt_jwks/tests.rs
  crates/fraiseql-webhooks/src/signature/mod.rs
  crates/fraiseql-webhooks/src/signature/standard_webhooks.rs
  crates/fraiseql-webhooks/src/signature/tests.rs
  crates/fraiseql-webhooks/src/traits.rs
  crates/fraiseql-webhooks/tests/inbound_pipeline_pg.rs
  crates/fraiseql-webhooks/tests/standard_webhooks_test.rs
Labels: none

test(webhooks): what a token-authenticated delivery writes, against a live database
  .dagger/main.go
  crates/fraiseql-server/tests/webhook_jwt_jwks_dispatch_pg.rs
Labels: none

docs(webhooks): the four JWT schemes, and the two facts an operator cannot guess
  CHANGELOG.md
  docs/architecture/webhooks.md
Labels: documentation

feat(identity): a provision statement, and the profile that may not carry one
  crates/fraiseql-server/src/identity/resolver.rs
  crates/fraiseql-server/src/identity/tests.rs
  crates/fraiseql-server/src/server_config/methods.rs
Labels: none

feat(identity): an unknown subject can be provisioned, then resolved again
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/identity/apply.rs
  crates/fraiseql-server/src/identity/resolver.rs
  crates/fraiseql-server/src/identity/tests.rs
Labels: none

test(identity): the concurrent first request, made deterministic
  crates/fraiseql-server/src/identity/tests.rs
Labels: none

test(identity): what each provisioning failure maps to, and what it costs
  crates/fraiseql-server/src/identity/tests.rs
Labels: none

test(identity): the request after a successful provision costs nothing
  crates/fraiseql-server/src/identity/tests.rs
Labels: none

docs(identity): provisioning on miss, and the writer it races
  CHANGELOG.md
  crates/fraiseql-server/src/identity/resolver.rs
  docs/adr/0016-enriched-identity-resolution.md
  docs/architecture/enriched-identity-rls.md
  docs/architecture/webhooks.md
Labels: documentation

docs(adr): a service account without an actor row is now offered the statement too
  docs/adr/0018-service-account-identities.md
Labels: documentation

fix(ci): markdownlint's heading fixer cannot rewrite an issue reference
  .markdownlint.json
  docs/adr/0020-compiled-schema-build-identity.md
  docs/architecture/functions.md
Labels: documentation

feat(grpc): every mutation converges at the chokepoint, and carries its principal
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-server/src/routes/grpc/handler.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/grpc/tests.rs
  crates/fraiseql-server/tests/grpc_transport_e2e_test.rs
Labels: none

feat(core): a principal that never met a resolver does not execute
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/security.rs
  crates/fraiseql-core/src/schema/compiled/schema_lookup.rs
  crates/fraiseql-server/src/identity/mod.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/tests/enrichment_transport_parity_e2e_pg.rs
Labels: none

fix(grpc): the chokepoint gate has no exemptions left
  .dagger/main.go
  Makefile
  tools/check-mutation-dispatch-sites.sh
Labels: none

docs(grpc): the universality claim is true now, and says what makes it true
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
Labels: documentation
