Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

docs: Clarify denormalized column optimization works for ANY column type
  CHANGELOG.md
  docs/denormalized-columns.md
Labels: documentation

docs: Update v1.9.14 CHANGELOG date to 2026-01-18
  CHANGELOG.md
Labels: documentation

chore(release): bump version to v1.9.14
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
Labels: documentation, tests, config, dependencies

chore(release): bump version to v1.9.15
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

Revert "chore(release): bump version to v1.9.15"
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

feat(ltree): Complete all LTree operators (#248)
  .claude/TODO_IMPLEMENTATION_PLAN.md
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/db/sqlite/where_generator.rs
  crates/fraiseql-core/src/db/sqlserver/where_generator.rs
  crates/fraiseql-core/src/db/where_clause.rs
  crates/fraiseql-core/src/db/where_sql_generator.rs
  crates/fraiseql-wire/src/operators/sql_gen.rs
  crates/fraiseql-wire/src/operators/where_operator.rs
Labels: none

feat(security): Implement JWT signature verification (#225)
  .claude/TODO_IMPLEMENTATION_PLAN.md
  crates/fraiseql-core/src/security/auth_middleware.rs
  crates/fraiseql-core/src/security/mod.rs
Labels: none

feat(indexed-columns): Implement indexed filter columns optimization (#250)
  .claude/TODO_IMPLEMENTATION_PLAN.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/serve.rs
  crates/fraiseql-cli/src/commands/validate.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/postgres/introspector.rs
  crates/fraiseql-core/src/db/postgres/mod.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/security/auth_middleware.rs
Labels: none

docs: Update Phase D completion status
  .claude/GITHUB_ISSUES_FEATURE_PARITY.md
Labels: none

feat(security): Implement field selection filtering (#225)
  .claude/GITHUB_ISSUES_FEATURE_PARITY.md
  .claude/TODO_IMPLEMENTATION_PLAN.md
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/security/field_filter.rs
  crates/fraiseql-core/src/security/mod.rs
Labels: none

feat(ltree): add path comparison operators (lt, lte, gt, gte)
  docs/reference/ltree-operators.md
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
  src/fraiseql/utils/where_clause_descriptions.py
  tests/integration/database/sql/where/specialized/test_ltree_path_comparison.py
  tests/unit/sql/where/operators/specialized/test_ltree.py
Labels: documentation, tests, sql

feat(security): Add field access control to Python SDK and schema compilation
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/introspection.rs
  fraiseql-python/src/fraiseql/__init__.py
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/src/fraiseql/types.py
Labels: none

test(security): Add tests for requires_scope JSON parsing and conversion
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
Labels: none

feat(ltree): expose depth and index operators in GraphQL schema (Phase A)
  Cargo.lock
  src/fraiseql/sql/graphql_where_generator.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
  tests/unit/sql/where/operators/specialized/test_ltree.py
  uv.lock
Labels: tests, sql

feat(sdk): Add scalar type markers for schema authoring
  fraiseql-python/src/fraiseql/__init__.py
  fraiseql-python/src/fraiseql/scalars.py
  fraiseql-python/src/fraiseql/types.py
  fraiseql-python/tests/test_types.py
Labels: tests

feat(scalars): Add 50+ rich scalar types with extensibility support
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/introspection.rs
  fraiseql-python/src/fraiseql/scalars.py
  fraiseql-python/src/fraiseql/types.py
  fraiseql-python/tests/test_types.py
Labels: tests

feat(ltree): expose pattern matching and array operators in GraphQL schema (Phase B)
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/utils/where_clause_descriptions.py
  tests/unit/sql/where/operators/specialized/test_ltree.py
Labels: tests, sql

feat(scalars): Add scalar types to all authoring language SDKs
  fraiseql-go/fraiseql/scalars.go
  fraiseql-java/src/main/java/com/fraiseql/core/Scalars.java
  fraiseql-php/src/Scalars.php
  fraiseql-typescript/src/index.ts
  fraiseql-typescript/src/scalars.ts
  fraiseql-typescript/src/types.ts
Labels: none

feat(wire): Fix TLS implementation and add Docker test infrastructure
  .claude/TODO_IMPLEMENTATION_PLAN.md
  .claude/archived_plans/2026-01-18/analytics-implementation-plan.md
  .claude/archived_plans/2026-01-18/fraiseql-wire-integration-plan.md
  crates/fraiseql-wire/src/connection/tls.rs
  crates/fraiseql-wire/src/connection/transport.rs
  crates/fraiseql-wire/tests/tls_integration.rs
  docker/tls-postgres/certs/ca.crt
  docker/tls-postgres/certs/ca.key
  docker/tls-postgres/certs/server.crt
  docker/tls-postgres/certs/server.key
  docker/tls-postgres/docker-compose.yml
  docker/tls-postgres/entrypoint.sh
  docker/tls-postgres/generate-certs.sh
  docker/tls-postgres/init.sql
  docker/tls-postgres/run-tests.sh
  scripts/setup-tls-postgres.sh
Labels: none

docs: Standardize JSONB column naming and clarify feature status
  .claude/TODO_IMPLEMENTATION_PLAN.md
  README.md
  benches/fixtures/setup_bench_data.sql
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/benches/README.md
  crates/fraiseql-core/benches/database_baseline.rs
  crates/fraiseql-core/src/compiler/fact_table.rs
  docs/GLOSSARY.md
  docs/OBSERVABILITY.md
  docs/README.md
  docs/architecture/analytics/fact-dimension-pattern.md
  docs/architecture/analytics/window-functions.md
  docs/architecture/database/arrow-plane.md
  docs/guides/analytics-patterns.md
  docs/language-generators.md
  docs/observability/examples/basic-denormalization.md
  docs/prd/PRD.md
  docs/reading-order.md
  docs/specs/aggregation-operators.md
  docs/specs/analytical-schema-conventions.md
  docs/specs/schema-conventions.md
  fraiseql-php/src/StaticAPI.php
  fraiseql-php/tests/StaticAPITest.php
Labels: documentation

ci: Add mold linker installation to all Ubuntu CI jobs
  .cargo/config.toml
  .github/workflows/ci.yml
Labels: ci

ci: Remove macOS zld linker settings from repo config
  .cargo/config.toml
Labels: none

style: Run cargo fmt to fix formatting issues
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/introspect_facts.rs
  crates/fraiseql-cli/src/commands/serve.rs
  crates/fraiseql-cli/src/commands/validate_facts.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
Labels: none

feat(validation): Add ID validation profile system (M5)
  crates/fraiseql-core/src/validation/id_policy.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(docs,middleware): Complete low-priority items L1-L6
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/sql_logger.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/middleware/rate_limit.rs
  docs/DEVELOPER_GUIDE.md
  docs/LINTING.md
  docs/PROFILING_GUIDE.md
  examples/README.md
Labels: documentation

refactor(cli): Remove empty ignored optimizer test [Phase 5]
  crates/fraiseql-cli/src/schema/optimizer.rs
Labels: none

docs(core): Add security warnings and comprehensive examples [Phase 6]
  crates/fraiseql-core/src/compiler/parser.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/error.rs
Labels: none

feat(compiler): Add query compilation result caching (M4)
  crates/fraiseql-core/src/compiler/compilation_cache.rs
  crates/fraiseql-core/src/compiler/mod.rs
Labels: none

feat(validation): Add comprehensive tests for pluggable ID validators
  crates/fraiseql-core/src/compiler/window_functions.rs
  crates/fraiseql-core/src/validation/id_policy.rs
Labels: none

fix: Implement extended code review recommendations from Dr. Petrov
  crates/fraiseql-core/src/compiler/fact_table.rs
  crates/fraiseql-core/src/runtime/executor.rs
Labels: none

feat(server): Add CORS and security headers middleware with tests
  crates/fraiseql-server/src/middleware/cors.rs
  crates/fraiseql-server/src/middleware/mod.rs
Labels: none

feat(runtime): Add async cancellation support with ExecutionContext
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/error.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/mod.rs
Labels: none

feat(server): Complete M6 - GraphQL subscriptions over WebSocket
  crates/fraiseql-server/src/config.rs
  crates/fraiseql-server/src/server.rs
Labels: none

feat(cache): Add cascading cache invalidation with transitive dependencies (M3)
  crates/fraiseql-core/src/cache/cascade_invalidator.rs
  crates/fraiseql-core/src/cache/mod.rs
Labels: none

feat(compiler): Add GraphQL enum type support with validation (M1)
  crates/fraiseql-core/src/compiler/enum_validator.rs
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/compiler/parser.rs
Labels: none

fix: Address critical code review issues from peer review
  crates/fraiseql-core/src/compiler/fact_table.rs
  crates/fraiseql-core/src/compiler/parser.rs
  crates/fraiseql-core/src/compiler/validator.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/subscription.rs
Labels: none

docs: Add comprehensive architecture and security documentation
  .claude/ANALYSIS_VERIFICATION_SUMMARY.md
  .claude/ARCHITECTURE.md
  .claude/PHASE_1_DETAILED_SPEC.md
  .claude/PHASE_2_DOCUMENTATION.md
  .claude/QUICK_START_IMPLEMENTATION.md
  .claude/REMEDIATION_INDEX.md
  .claude/VERIFIED_REMEDIATION_PLAN.md
  README.md
  crates/fraiseql-core/docs/SECURITY_PATTERNS.md
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
Labels: documentation

feat(security): Implement JSON path SQL injection remediation [Phase 3]
  README.md
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-core/docs/SECURITY_PATTERNS.md
  crates/fraiseql-core/src/apq/hasher.rs
  crates/fraiseql-core/src/apq/mod.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/config.rs
  crates/fraiseql-core/src/cache/dependency_tracker.rs
  crates/fraiseql-core/src/cache/invalidation.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/db/mod.rs
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/src/db/path_escape.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/db/projection_generator.rs
  crates/fraiseql-core/src/db/sqlite/where_generator.rs
  crates/fraiseql-core/src/db/sqlserver/where_generator.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregate_projector.rs
  crates/fraiseql-core/src/runtime/aggregation.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/src/security/auth_middleware.rs
  crates/fraiseql-core/src/security/error_formatter.rs
  crates/fraiseql-core/src/security/errors.rs
  crates/fraiseql-core/src/security/introspection_enforcer.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/security/query_validator.rs
  crates/fraiseql-core/src/security/tls_enforcer.rs
  crates/fraiseql-core/src/utils/vector.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/path_injection_tests.rs
Labels: documentation

chore: Greenfield cleanup - remove project phase archaeology
  .claude/CLAUDE.md
  .claude/archive/PHASE_2_PLAN.md
  .claude/archive/PHASE_3_1_COMPLETION_REPORT.md
  .claude/archive/PHASE_3_2_COMPLETION_REPORT.md
  .claude/archive/PHASE_3_COMPLETE_IMPLEMENTATION_PLAN.md
  .claude/archive/PHASE_3_COMPLETION_SUMMARY.md
  .claude/archive/PHASE_3_PLAN.md
  .claude/archive/PHASE_3_STATUS.md
  .claude/archive/PHASE_4_PYTHON_AUTHORING.md
  .claude/archive/PHASE_4_QUICK_START.md
  .claude/archive/PHASE_4_READY_TO_START.md
  .claude/archive/PHASE_7_ENTITY_CACHING_PLAN.md
  .claude/archive/PHASE_7_INDEX.md
  .claude/archive/PHASE_7_QUICK_START.md
  .claude/archive/PHASE_8_AUTHORING_SDK_PLAN.md
  .claude/archive/PHASE_8_COMPLETION_REPORT.md
  .claude/archive/phases/README.md
  .claude/archive/phases/analytics-phase-5-integration.md
  .claude/archive/phases/analytics-phase-6-advanced-aggregates.md
  .claude/archive/phases/analytics-phase-7-window-functions.md
  .claude/archive/phases/analytics-phase-8-integration-wiring.md
  .claude/archive/phases/analytics-phase-9-integration-tests.md
  .claude/archive/phases/analytics-phases-summary.md
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/concurrent_load_testing.rs
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/projection_integration.rs
Labels: none

feat(core): Add explicit fact table schema declarations
  crates/fraiseql-core/src/compiler/fact_table.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
