Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(server)!: async-operation and Flight errors go out through the error sanitiser, as /graphql's do
  crates/fraiseql-server/src/arrow/policy_seam.rs
  crates/fraiseql-server/src/arrow/policy_seam_tests.rs
  crates/fraiseql-server/src/async_operations/worker.rs
  crates/fraiseql-server/src/config/error_sanitization.rs
  crates/fraiseql-server/tests/async_operations_e2e_pg.rs
Labels: none

fix(cli): the mutation-contract check fails on a literal stamp its mutation cannot return; contract errors are counted and exported
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/mutation_contract/mod.rs
  crates/fraiseql-cli/src/schema/mutation_contract/tests.rs
  crates/fraiseql-cli/tests/mutation_contract_against_db.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/payload_gates.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/payload_gates_tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/tests/metrics_integration_test.rs
  docs/architecture/mutation-response.md
  docs/guides/database-contract-validation.md
Labels: documentation

test(rest): a read authenticated by cookie or API key is marked public for shared caches
  crates/fraiseql-server/tests/rest_transport_e2e_test.rs
Labels: none

fix(security)!: a subscriber sees its own gap-free delivery position, and a REST stream's id is an opaque token, never a server-wide position
  crates/fraiseql-core/src/runtime/executor/subscription_plan_tests.rs
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/runtime/subscription/types.rs
  crates/fraiseql-server/src/routes/rest/mod.rs
  crates/fraiseql-server/src/routes/rest/resumable_stream.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/rest/sse.rs
  crates/fraiseql-server/src/routes/rest/stream_token.rs
  crates/fraiseql-server/src/routes/rest/tests.rs
  crates/fraiseql-server/tests/rest_stream_fanout_e2e_pg.rs
  crates/fraiseql-server/tests/subscription_ws_e2e_test.rs
Labels: none

fix(security)!: a subscription's changeSpine names no principal but the subscriber and carries no mutation duration
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/subscription_plan.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan_tests.rs
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/runtime/subscription/types.rs
  crates/fraiseql-server/tests/subscription_ws_e2e_test.rs
Labels: documentation

test(server): another principal sending a used Idempotency-Key and body is replayed the first caller's stored response
  crates/fraiseql-server/tests/async_operations_e2e_pg.rs
  crates/fraiseql-server/tests/graphql_idempotency_e2e_test.rs
  crates/fraiseql-server/tests/rest_transport_e2e_test.rs
Labels: none

test(security): a filter through a to-one relation reproduces matching a related row the caller's row policy hides
  crates/fraiseql-server/tests/graphql_nested_type_gates_e2e_pg.rs
Labels: none

test(security): subscribers reproduce seeing server-wide positions that count the events withheld from them
  crates/fraiseql-core/src/runtime/executor/subscription_plan_tests.rs
  crates/fraiseql-server/tests/rest_stream_fanout_e2e_pg.rs
Labels: none

docs(changelog): upgrade notes for the read-gate series, one Security entry
  CHANGELOG.md
Labels: documentation

docs: the depth default is 11; idempotency keys, async-operation errors and REST cache headers documented as they behave
  crates/fraiseql-cli/src/config/toml_schema/rest/mod.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-server/tests/flight_do_put_outbox_pg.rs
  docs/features/async-operations.md
  docs/guides/federation-saga.md
  docs/security/graphql-complexity-limits.md
Labels: documentation

fix(server)!: Arrow Flight serves exactly the views its operator declares in flight_views, and none by default
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-arrow/src/metadata.rs
  crates/fraiseql-server/src/arrow/mod.rs
  crates/fraiseql-server/src/arrow/tests.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
Labels: none

ci(conformance): the gate runs with --no-container, so a broken toolchain step fails instead of falling back to docker
  .github/workflows/sdk-conformance.yml
  sdks/official/conformance/README.md
  sdks/official/conformance/run.py
Labels: ci

test(server): the Flight view-registry tests that need PostgreSQL run in their own suite, named by the integration leg
  .dagger/main.go
  crates/fraiseql-server/src/arrow/tests.rs
  crates/fraiseql-server/tests/flight_views_pg.rs
Labels: none

test(core): a subscription, a REST stream and a payload member are served past the gates of their type's own read
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan_tests.rs
Labels: none

fix(security)!: a type read outside its own root query is refused what its own read refuses; a REST stream asks the #422 authorizer
  crates/fraiseql-core/src/runtime/executor/runners/mutation/payload_gates.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan_tests.rs
Labels: none

docs(changelog): the 403 cases include a type's own read at subscription, stream and payload roots
  CHANGELOG.md
Labels: documentation

style: clear the clippy 1.95 lints, behaviour unchanged
  crates/fraiseql-cli/src/schema/converter/functions.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-federation/src/selection_parser.rs
  crates/fraiseql-functions/src/runtime/deno/watchdog/tests.rs
  crates/fraiseql-functions/src/triggers/tests.rs
  crates/fraiseql-jwks/src/tests.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/routes/query_function/tests.rs
  crates/fraiseql-server/src/server_config/tests.rs
Labels: none

fix(deps)!: wasmtime 48.0.3 for RUSTSEC-2026-0314 and RUSTSEC-2026-0316; MSRV 1.95.0
  .dagger/feature-combos.go
  .dagger/main.go
  .github/workflows/dagger-feature-matrix.yml
  .github/workflows/dagger-test.yml
  .github/workflows/mirror-base-images.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  crates/fraiseql-functions/Cargo.toml
  deny.toml
  deploy/deployment-security-guide.md
  docs/architecture/overview.md
  docs/guides/getting-started.md
  docs/operations/compiled-schema-lifecycle.md
  rust-toolchain.toml
  tools/check-deploy-versions.sh
  tools/lib/release_helpers.sh
Labels: documentation, ci

test(server): flight_views has a named consumer in the config-coverage manifest
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
Labels: none

style(cli): format generate_round_trip_test as the current nightly rustfmt does
  crates/fraiseql-cli/tests/generate_round_trip_test.rs
Labels: none

ci(conformance): the generated-clients job compiles the reference fixture as a project
  .github/workflows/sdk-conformance.yml
Labels: ci

test(storage): decide seam carving without the wall clock; pin the budget fall-back on its own
  crates/fraiseql-storage/src/transforms/retarget.rs
  crates/fraiseql-storage/src/transforms/tests.rs
Labels: none

docs(changelog): the Security entry names GHSA-645f-59rr-6w3p
  CHANGELOG.md
Labels: documentation

chore(release): prepare v2.15.0
  CHANGELOG.md
Labels: documentation

test(core): an exposed changelog with the default roles is a schema the server refuses to load
  crates/fraiseql-core/src/schema/changelog/tests.rs
Labels: none

fix(core): an exposed changelog loads with distinct read and write roles
  crates/fraiseql-core/src/schema/changelog.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
Labels: none

docs(changelog): one 2.15.0 section — the August heading and the promoted notes are one release
  CHANGELOG.md
Labels: documentation

ci(sbom): the release SBOM is the merge of the published crates' BOMs; cargo-cyclonedx pinned
  .github/workflows/sbom-generation.yml
  tools/merge-sbom.py
Labels: ci

chore(deps): extend the five lapsed advisory deadlines to 2026-10-31
  .cargo/audit.toml
  CHANGELOG.md
  deny.toml
  docs/dependency-risk-policy.md
Labels: documentation

chore(deps): extend the five lapsed advisory deadlines to 2026-10-31
  .cargo/audit.toml
  CHANGELOG.md
  deny.toml
  docs/dependency-risk-policy.md
Labels: documentation

ci(fmt): pin the nightly rustfmt, in one place, with a gate
  .dagger/main.go
  CHANGELOG.md
  Makefile
  rust-toolchain.toml
  tools/check-fmt-toolchain.sh
  tools/fmt-toolchain.txt
Labels: documentation

ci(fmt): run the toolchain gate from `make preflight` too
  Makefile
Labels: none

docs(observers): configuration-examples.md describes the ObserverRuntimeConfig that exists
  crates/fraiseql-observers/docs/configuration-examples.md
  crates/fraiseql-observers/docs/migration-guide.md
  crates/fraiseql-observers/docs/troubleshooting.md
Labels: none

chore(deps): Dagger module grpc 1.82.1 → 1.84.0
  .dagger/go.mod
  .dagger/go.sum
Labels: none

chore(deps): TypeScript SDK lockfile — fast-uri, js-yaml, postcss, ip-address to patched releases
  sdks/official/fraiseql-typescript/package-lock.json
Labels: none

chore(deps): Java SDK jackson-databind 2.22.1 → 2.22.3
  sdks/official/fraiseql-java/pom.xml
Labels: none

chore(deps): TypeScript SDK dev tooling — msw, tsx, eslint, prettier to the latest in-range releases
  sdks/official/fraiseql-typescript/package-lock.json
Labels: none

fix(ci): the SBOM copyleft check reads every CycloneDX license shape and stops crashing on null
  .github/workflows/sbom-generation.yml
  CHANGELOG.md
Labels: documentation, ci

chore(deps): Python SDK lockfile — nltk 3.10.3, aiohttp 3.14.3, anyio 4.15.1
  sdks/official/fraiseql-python/uv.lock
Labels: none

test(functions): time the watchdog's finish from the waiter's own start, so a poll loop is caught at its slowest phase
  CHANGELOG.md
  crates/fraiseql-functions/src/runtime/deno/watchdog/tests.rs
Labels: documentation
