Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

refactor(decorators): preserve type annotations on @connection wrapper [REFACTOR]
  src/fraiseql/core/graphql_type.py
  src/fraiseql/decorators.py
  src/fraiseql/gql/builders/registry.py
Labels: core

test(connection): unskip integration tests and add comprehensive validation [QA]
  tests/integration/meta/test_all_decorators.py
  tests/integration/meta/test_connection_decorator.py
Labels: tests

fix(schema): ensure PageInfo type consistency in registry cache
  src/fraiseql/core/graphql_type.py
Labels: core

cleanup: remove planning documents from repository
  .phases/cleanup-integration-tests/IMPROVEMENTS.md
  .phases/cleanup-integration-tests/README.md
  .phases/cleanup-integration-tests/phase-1-audit.md
  .phases/cleanup-integration-tests/phase-2-consolidate.md
  .phases/cleanup-integration-tests/phase-3-rename.md
  .phases/cleanup-integration-tests/phase-4-clean-content.md
  .phases/cleanup-integration-tests/phase-5-verify.md
  .phases/fraiseql-integration-test-gaps-implementation-plan.md
  src/fraiseql/gql/builders/registry.py
  src/fraiseql/gql/builders/schema_composer.py
  tests/integration/meta/test_all_scalars.py
Labels: tests

restore: bring back valuable planning documents
  .phases/cleanup-integration-tests/IMPROVEMENTS.md
  .phases/cleanup-integration-tests/README.md
  .phases/cleanup-integration-tests/phase-1-audit.md
  .phases/cleanup-integration-tests/phase-2-consolidate.md
  .phases/cleanup-integration-tests/phase-3-rename.md
  .phases/cleanup-integration-tests/phase-4-clean-content.md
  .phases/cleanup-integration-tests/phase-5-verify.md
  .phases/fraiseql-integration-test-gaps-implementation-plan.md
Labels: none

fix(tests): use psycopg3 SQL composition for scalar roundtrip tests [REFACTOR]
  tests/integration/meta/test_all_scalars.py
Labels: tests

fix(tests): skip unimplemented GraphQL query test and fix WHERE clause SQL binding [REFACTOR]
  tests/integration/meta/test_all_scalars.py
Labels: tests

feat(graphql): support custom scalars as field types in queries and types [GREEN]
  src/fraiseql/core/graphql_type.py
  tests/integration/meta/test_all_scalars.py
Labels: tests, core

fix(tests): add comprehensive test values for all scalar types [REFACTOR]
  tests/integration/meta/test_all_scalars.py
Labels: tests

test(where): add tests for custom scalar WHERE filters [RED]
  src/fraiseql/sql/graphql_where_generator.py
  tests/integration/meta/test_all_scalars.py
  tests/unit/sql/test_custom_scalar_where_filters.py
Labels: tests, sql

refactor(where): clean up custom scalar filter generation [REFACTOR]
  src/fraiseql/sql/graphql_where_generator.py
Labels: sql

feat(where): enable WHERE clause filtering for custom scalar types
  src/fraiseql/gql/builders/registry.py
  src/fraiseql/where_clause.py
  tests/integration/meta/test_all_scalars.py
Labels: tests

chore(release): prepare v1.8.1 release
  CHANGELOG.md
  README.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix(test): update API key test value to avoid secret scanning false positive
  tests/integration/meta/test_all_scalars.py
Labels: tests

fix(test): change API key test value to avoid secret scanning
  tests/integration/meta/test_all_scalars.py
Labels: tests

fix(release): temporarily disable ApiKeyScalar test to bypass GitHub secret scanning
  tests/integration/meta/test_all_scalars.py
Labels: tests

fix(tests): use obvious fake API key to bypass GitHub secret scanning
  tests/integration/meta/test_all_scalars.py
Labels: tests

chore(release): update uv.lock for v1.8.1 version bump
  uv.lock
Labels: none

fix: resolve v1.8.1 release CI failures
  .phases/verify-examples-compliance/verify.py
  Cargo.toml
  docs/guides/common-mistakes.md
  docs/guides/trinity-pattern-guide.md
  examples/README.md
  examples/_TEMPLATE/README.md
  fraiseql_rs/Cargo.toml
Labels: documentation

fix: complete examples compliance for v1.8.1 release
  .phases/verify-examples-compliance/verify.py
  examples/analytics_dashboard/requirements.txt
  examples/blog_api/requirements.txt
  examples/cascade-create-post/requirements.txt
  examples/cascade-patterns/requirements.txt
  examples/context_parameters/requirements.txt
  examples/ecommerce/requirements.txt
  examples/enterprise_patterns/requirements.txt
  examples/graphql-cascade/requirements.txt
  examples/query_patterns/requirements.txt
  examples/real_time_chat/requirements.txt
  examples/turborouter/requirements.txt
Labels: none

fix: add missing report generator for examples compliance
  .phases/verify-examples-compliance/report_generator.py
Labels: none

fix: complete examples compliance setup for v1.8.1 release
  .phases/custom-scalar-where-support/README.md
  .phases/custom-scalar-where-support/phase-1-red-write-failing-tests.md
  .phases/custom-scalar-where-support/phase-2-green-implement-fix.md
  .phases/custom-scalar-where-support/phase-3-refactor-clean-implementation.md
  .phases/custom-scalar-where-support/phase-4-qa-comprehensive-validation.md
  .phases/fix-connection-decorator-schema/phase-1-preserve-annotations.md
  .phases/fix-scalar-integration-tests/README.md
  .phases/fix-scalar-integration-tests/phase-1-fix-database-roundtrip.md
  .phases/fix-scalar-integration-tests/phase-2-fix-remaining-tests.md
  .phases/fix-scalar-integration-tests/phase-3-fix-remaining-test-failures.md
  .phases/release-v1.8.1/release-plan.md
  examples/blog_enterprise/app.py
  examples/compliance-demo/main.py
  examples/hybrid_tables/main.py
  examples/multi-tenant-saas/main.py
  examples/rag-system/app.py
Labels: none

fix: make PR comment step non-blocking in examples verification
  .github/workflows/verify-examples.yml
Labels: ci

fix: complete linting fixes for examples verification script
  .phases/verify-examples-compliance/verify.py
Labels: none

fix: address linting issues in report generator script
  .phases/verify-examples-compliance/report_generator.py
Labels: none

fix: resolve all linting issues for v1.8.1 release
  .phases/verify-examples-compliance/report_generator.py
  .phases/verify-examples-compliance/verify.py
Labels: none

fix(rust): resolve status code mapping for failed:validation
  .phases/fix-remaining-ci-failures.md
  Cargo.lock
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/response_builder.rs
  tests/unit/core/type_system/test_generic.py
Labels: tests

refactor(rust): enforce single validation status format
  fraiseql_rs/src/mutation/mod.rs
  tests/unit/mutations/test_rust_mutation_binding.py
Labels: tests

docs: update phase plan with completed fixes
  .phases/fix-remaining-ci-failures.md
Labels: none

fix(ci): add missing optional dependencies to tox.ini
  tox.ini
Labels: config

feat: implement automatic WHERE parameter injection for custom scalar filtering
  src/fraiseql/gql/builders/query_builder.py
  tests/integration/meta/test_all_scalars.py
  tests/integration/meta/test_all_where_operators.py
Labels: tests

fix(tests): resolve 31 test failures for full test suite pass
  src/fraiseql/types/coercion.py
  tests/integration/database/sql/test_issue_resolution_demonstration.py
  tests/integration/graphql/schema/test_vector_filter.py
  tests/integration/operators/test_network_operators_e2e.py
  tests/integration/rust/test_rust_pipeline_integration.py
  tests/integration/utils/test_case_conversion_integration.py
  tests/integration/utils/test_introspection_integration.py
  tests/regression/test_rustresponsebytes_null_handling.py
  tests/test_mutation_field_selection_integration.py
  tests/unit/core/json_handling/test_json_validation.py
  tests/unit/validation/test_json_validation.py
Labels: tests, types

feat(filters): implement IpAddressScalar → NetworkAddressFilter mapping
  src/fraiseql/sql/graphql_where_generator.py
  tests/integration/meta/test_all_scalars.py
  tests/integration/operators/test_network_operators_e2e.py
  tests/unit/sql/test_custom_scalar_where_filters.py
Labels: tests, sql

fix(ci): update network filtering test paths in quality-gate workflow
  .github/workflows/quality-gate.yml
Labels: ci

fix(jsonb): resolve nested JSONB field camelCase conversion bug
  fraiseql_rs/src/json_transform.rs
  src/fraiseql/core/selection_tree.py
  tests/regression/test_jsonb_nested_camelcase.py
  tests/unit/core/test_jsonb_camelcase_conversion.py
Labels: tests, core

fix(tests): update Rust mutation test signatures to match 10-arg function
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/tests/integration.rs
  fraiseql_rs/src/mutation/tests/response_building.rs
  fraiseql_rs/src/mutation/tests/test_multiple_entities.rs
Labels: none

fix(clippy): resolve all clippy warnings in mutation module
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/mutation/types.rs
Labels: none

style: fix formatting and remove duplicate imports
  fraiseql_rs/src/cascade/mod.rs
  fraiseql_rs/src/mutation/test_status_only.rs
  fraiseql_rs/src/mutation/tests/classification.rs
  fraiseql_rs/src/mutation/tests/mod.rs
  fraiseql_rs/src/mutation/tests/parsing.rs
  fraiseql_rs/src/mutation/tests/properties.rs
  fraiseql_rs/src/pipeline/projection.rs
Labels: none

docs(changelog): update v1.8.1 with JSONB fix and Rust improvements
  CHANGELOG.md
Labels: documentation

feat(cascade): add depth and transactionId to CascadeMetadata (#174)
  docs/features/graphql-cascade.md
  docs/features/sql-function-return-format.md
  docs/guides/migrating-to-cascade.md
  docs/mutations/cascade-architecture.md
  docs/reference/mutations-api.md
  fraiseql_rs/src/cascade/tests.rs
  src/fraiseql/mutations/types.py
  tests/unit/mutations/test_cascade_metadata.py
Labels: documentation, tests, mutations

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
