Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(cli): add mutation→function drift check to `doctor --against-db` (#384)
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/tests.rs
Labels: none

fix(observers): reload in-process matcher on admin CRUD writes (#466)
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/tests.rs
  crates/fraiseql-server/src/server/routing/observers.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

chore(observers): drop accidental AUDIT-2026-06-11.md from #467 branch
  AUDIT-2026-06-11.md
Labels: documentation

feat(observers): per-subscription webhook signing_secret literal (#467)
  AUDIT-2026-06-11.md
  crates/fraiseql-observers/examples/job_queue_example.rs
  crates/fraiseql-observers/src/cached_executor/tests.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/config/tests.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-observers/src/job_queue/tests.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/queue/tests.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-observers/tests/integration_test.rs
  crates/fraiseql-observers/tests/job_queue_integration.rs
  crates/fraiseql-observers/tests/transport_pipeline_test.rs
  crates/fraiseql-server/src/observers/dlq_handlers/tests.rs
  crates/fraiseql-server/src/observers/mod.rs
  crates/fraiseql-server/src/observers/runtime/tests.rs
  crates/fraiseql-server/src/observers/tests.rs
Labels: documentation

chore(observers): drop accidental AUDIT-2026-06-11.md from #467 branch
  AUDIT-2026-06-11.md
Labels: documentation

style(server): nightly-fmt the #466/#469 cluster code (preflight fix)
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/tests.rs
  crates/fraiseql-server/src/server/routing/observers.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

style(server): nightly-fmt the #466/#469 cluster code (preflight fix)
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/tests.rs
  crates/fraiseql-server/src/server/routing/observers.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

fix(observers): accept null webhook headers in actions round-trip (#466)
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-server/src/observers/mod.rs
Labels: none

fix(observers): accept null webhook headers in actions round-trip (#466)
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-server/src/observers/mod.rs
Labels: none

fix(core): recase camelCase query filters to snake_case JSONB keys (#486)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/explain.rs
  crates/fraiseql-core/src/runtime/executor/support/explain_tests.rs
  crates/fraiseql-core/src/runtime/window_parser.rs
Labels: documentation

fix(cli): mirror runtime single-JSONB predicate in the arity gate (#484)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/mutation_contract/mod.rs
  crates/fraiseql-cli/src/schema/mutation_contract/tests.rs
  crates/fraiseql-cli/tests/mutation_contract_against_db.rs
Labels: documentation

fix(cli): probe mutations as functions and qualified views verbatim (#485)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/tests/source_probe_against_db.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/source_probe.rs
  crates/fraiseql-core/src/schema/source_probe_tests.rs
  crates/fraiseql-db/src/introspector.rs
  crates/fraiseql-db/src/postgres/introspector.rs
Labels: documentation

feat(server): opt-in fail-fast sql_source validation (#487)
  .github/workflows/release-smoke.yml
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/validate.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/tests/validate_sql_sources_gate.rs
  crates/fraiseql-server/src/cli.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/sql_source_check.rs
  crates/fraiseql-server/src/sql_source_check_tests.rs
  crates/fraiseql-server/tests/sql_source_boot_check.rs
Labels: documentation, ci

fix(cli): doctor honours --against-db; stop mis-parsing runtime-config TOML (#488)
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/tests/doctor_against_db.rs
Labels: documentation

fix(core): recase camelCase query filters to snake_case JSONB keys (#486)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/explain.rs
  crates/fraiseql-core/src/runtime/executor/support/explain_tests.rs
  crates/fraiseql-core/src/runtime/window_parser.rs
Labels: documentation

fix(cli): mirror runtime single-JSONB predicate in the arity gate (#484)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/mutation_contract/mod.rs
  crates/fraiseql-cli/src/schema/mutation_contract/tests.rs
  crates/fraiseql-cli/tests/mutation_contract_against_db.rs
Labels: documentation

fix(cli): probe mutations as functions and qualified views verbatim (#485)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/tests/source_probe_against_db.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/source_probe.rs
  crates/fraiseql-core/src/schema/source_probe_tests.rs
  crates/fraiseql-db/src/introspector.rs
  crates/fraiseql-db/src/postgres/introspector.rs
Labels: documentation

feat(server): opt-in fail-fast sql_source validation (#487)
  .github/workflows/release-smoke.yml
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/validate.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/tests/validate_sql_sources_gate.rs
  crates/fraiseql-server/src/cli.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/sql_source_check.rs
  crates/fraiseql-server/src/sql_source_check_tests.rs
  crates/fraiseql-server/tests/sql_source_boot_check.rs
Labels: documentation, ci

fix(cli): doctor honours --against-db; stop mis-parsing runtime-config TOML (#488)
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/tests/doctor_against_db.rs
Labels: documentation

docs(changelog): backfill [Unreleased] entries for post-2.9.0 merges
  CHANGELOG.md
Labels: documentation

chore(release): prepare v2.10.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation

fix(cli): compile carries the SDK federation block (no silent drop)
  CHANGELOG.md
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/intermediate/mod.rs
  crates/fraiseql-cli/src/schema/intermediate/tests.rs
  crates/fraiseql-cli/tests/compile_federation_passthrough.rs
Labels: documentation

fix(cli): TOML [federation] carries subgraph identity to the runtime
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/federation.rs
  crates/fraiseql-cli/src/config/toml_schema/tests.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/compile_federation_passthrough.rs
  docs/architecture/federation.md
Labels: documentation

fix(core): federation _service SDL advertises root Query/Mutation fields
  CHANGELOG.md
  crates/fraiseql-cli/tests/compile_federation_passthrough.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
Labels: documentation

fix(core): federation _service SDL renders the full type closure
  CHANGELOG.md
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-federation/src/service_sdl.rs
  crates/fraiseql-federation/src/service_sdl/tests.rs
Labels: documentation

fix(federation): consistent scalar names + de-dup generated WhereInput fields
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/rich_filters.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
Labels: documentation

feat(federation): carry @shareable/@external/extends through compile into the _service SDL
  crates/fraiseql-cli/src/config/toml_schema/federation.rs
  crates/fraiseql-core/examples/fed_sdl.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-federation/src/service_sdl.rs
Labels: none

fix(federation): gate fed_sdl example behind federation feature + allow stdout
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/examples/fed_sdl.rs
Labels: none

fix(core): changelog honours camelCase naming_convention (#498)
  crates/fraiseql-core/src/schema/changelog.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
Labels: none

docs(federation): single-owner changelog pattern + compile guardrail (#497)
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  docs/guides/changelog-graphql.md
Labels: documentation

test(federation): golden two-subgraph compose suite (hermetic SDL + real composition)
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  .gitignore
  Makefile
  crates/fraiseql-core/tests/federation_compose.rs
  crates/fraiseql-core/tests/fixtures/federation_compose/catalog.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/reviews.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/reviews_conflict.graphql
  tools/federation/compose-check.mjs
  tools/federation/package-lock.json
  tools/federation/package.json
  tools/federation/run-compose-check.sh
Labels: ci

feat(sdk-python): derive federation directives from decorators (#496)
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/src/fraiseql/schema.py
  sdks/official/fraiseql-python/tests/test_federation.py
Labels: tests

feat(cli): short-lived runtime executor + doctor --runtime smoke (#501)
  CHANGELOG.md
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/query.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/tests/runtime_smoke.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/tests/dry_run_rollback_test.rs
Labels: documentation

fix(federation): resolve _entities from sql_source, cast key column to text (#504)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/tests/federation/entity_connection.rs
  crates/fraiseql-core/tests/federation/entity_resolution.rs
  crates/fraiseql-core/tests/federation/entity_where_clause.rs
  crates/fraiseql-federation/src/database_resolver.rs
  crates/fraiseql-federation/src/database_resolver/tests.rs
  crates/fraiseql-federation/src/entity_resolver.rs
  crates/fraiseql-federation/src/query_builder.rs
  crates/fraiseql-federation/src/query_builder/tests.rs
  crates/fraiseql-federation/src/types.rs
Labels: documentation

fix(federation): source _entities relation from queries + project jsonb data (#504)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/tests/federation/entity_connection.rs
  crates/fraiseql-core/tests/federation/entity_resolution.rs
  crates/fraiseql-core/tests/federation/entity_where_clause.rs
  crates/fraiseql-federation/benches/federation_bench.rs
  crates/fraiseql-federation/src/database_resolver.rs
  crates/fraiseql-federation/src/database_resolver/tests.rs
  crates/fraiseql-federation/src/query_builder.rs
  crates/fraiseql-federation/src/query_builder/tests.rs
  crates/fraiseql-federation/src/types.rs
Labels: documentation

fix(federation): resolve _entities from backing query, project jsonb data (#504)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/tests/federation/entity_connection.rs
  crates/fraiseql-core/tests/federation/entity_resolution.rs
  crates/fraiseql-core/tests/federation/entity_where_clause.rs
  crates/fraiseql-federation/benches/federation_bench.rs
  crates/fraiseql-federation/src/database_resolver.rs
  crates/fraiseql-federation/src/database_resolver/tests.rs
  crates/fraiseql-federation/src/entity_resolver.rs
  crates/fraiseql-federation/src/query_builder.rs
  crates/fraiseql-federation/src/query_builder/tests.rs
  crates/fraiseql-federation/src/types.rs
Labels: documentation

style: apply latest nightly rustfmt to resolve preflight drift
  crates/fraiseql-cli/src/config/toml_schema/federation.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-core/examples/fed_sdl.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/federation_compose.rs
Labels: none

style: apply latest nightly rustfmt to resolve preflight drift (#509)
  crates/fraiseql-cli/src/config/toml_schema/federation.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-core/examples/fed_sdl.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/federation_compose.rs
Labels: none

fix(federation): keep first _entities field on minified gateway queries
  CHANGELOG.md
  crates/fraiseql-federation/src/selection_parser.rs
  crates/fraiseql-federation/src/selection_parser/tests.rs
Labels: documentation

fix(federation): resolve owner-split extends entities from type-level sql_source (#507)
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/intermediate/types.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/tests/federation/entity_resolution.rs
  crates/fraiseql-server/tests/federation_integration_test.rs
  crates/fraiseql-server/tests/fixtures/federation/schema_reviews.json
  docs/README.md
  docs/adr/0014-federation-entity-backing-source.md
Labels: documentation
