Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(functions): wire cron functions into the server with an advisory lease (#595)
  CHANGELOG.md
  crates/fraiseql-server/src/cron/mod.rs
  crates/fraiseql-server/src/cron/tests.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/tests/functions_platform_pins_test.rs
  docs/architecture/functions.md
Labels: documentation

feat(functions): declarative `when` predicates on after:mutation triggers (#597)
  CHANGELOG.md
  crates/fraiseql-functions/src/triggers/mod.rs
  crates/fraiseql-functions/src/triggers/mutation/mod.rs
  crates/fraiseql-functions/src/triggers/mutation/tests.rs
  crates/fraiseql-functions/src/triggers/registry/mod.rs
  crates/fraiseql-functions/src/triggers/tests.rs
  crates/fraiseql-functions/src/types.rs
  crates/fraiseql-functions/src/types/tests.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/tests/functions_platform_pins_test.rs
  docs/architecture/functions.md
Labels: documentation

feat(functions): dispatch functions on externally-captured writes — after:capture (#366)
  CHANGELOG.md
  crates/fraiseql-functions/src/observer/mod.rs
  crates/fraiseql-functions/src/triggers/registry/mod.rs
  crates/fraiseql-observers/src/event.rs
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/storage.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/tests/functions_platform_pins_test.rs
  docs/architecture/external-write-capture.md
  docs/architecture/functions.md
Labels: documentation

feat(realtime): subscription-policy owner-filter derivation core (#596 foundation)
  crates/fraiseql-server/src/realtime/mod.rs
  crates/fraiseql-server/src/realtime/subscription_policy.rs
  crates/fraiseql-server/src/realtime/subscription_policy/tests.rs
Labels: none

feat(mcp): `[mcp] read_only` — fail-closed MCP tool exposure (phase 09A)
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/server_settings.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-server/src/mcp/tests.rs
  crates/fraiseql-server/src/mcp/tools.rs
  crates/fraiseql-server/tests/mcp_integration_test.rs
  docs/mcp.md
Labels: documentation

feat(functions): dispatch metrics + Postgres-backed durable DLQ (#598)
  CHANGELOG.md
  crates/fraiseql-functions/src/migrations/mod.rs
  crates/fraiseql-functions/src/migrations/tests.rs
  crates/fraiseql-observers/src/dispatch.rs
  crates/fraiseql-observers/src/dispatch/tests.rs
  crates/fraiseql-server/src/cron/mod.rs
  crates/fraiseql-server/src/function_metrics.rs
  crates/fraiseql-server/src/function_metrics/tests.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/observers/mod.rs
  crates/fraiseql-server/src/observers/pg_function_dlq.rs
  crates/fraiseql-server/src/observers/pg_function_dlq/tests.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/observers/runtime/tests.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/schema/loader.rs
  crates/fraiseql-server/src/server/functions_setup.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/subsystems/loader/tests.rs
  crates/fraiseql-server/src/subsystems/mod.rs
  crates/fraiseql-server/src/subsystems/tests.rs
  crates/fraiseql-server/tests/functions_platform_pins_test.rs
  crates/fraiseql-server/tests/platform_e2e_test.rs
  docs/architecture/functions.md
Labels: documentation

feat(cli): `fraiseql functions invoke` — local V8 test harness (phase 08)
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/functions.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/tests/fixtures/functions/notify_approved.ts
  crates/fraiseql-cli/tests/functions_invoke.rs
  docs/architecture/functions.md
Labels: documentation

feat(functions): close #594's after:ingest bridge + capture token-stability + ship the invoke harness in -full
  .github/workflows/release.yml
  crates/fraiseql-server/src/inbound/email/mod.rs
  crates/fraiseql-server/src/inbound/email/sink.rs
  crates/fraiseql-server/src/inbound/email/sink/tests.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/inbound/webhook/tests.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql/Cargo.toml
Labels: ci

feat(codegen): typed guest payloads — `functions.d.ts` from generate-client (phase 08 cycle 2)
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/generate_client.rs
  crates/fraiseql-codegen/src/client/typescript/functions_dts.rs
  crates/fraiseql-codegen/src/client/typescript/functions_dts/tests.rs
  crates/fraiseql-codegen/src/client/typescript/mod.rs
  docs/architecture/functions.md
Labels: documentation

docs(adr): ADR-0018 service-account identities (Proposed — review gate)
  docs/adr/0018-service-account-identities.md
Labels: documentation

docs(adr): accept ADR-0018 — pin credential storage + audit-identity supersession
  docs/adr/0018-service-account-identities.md
Labels: documentation

docs(adr): reference tracking issue #602 in ADR-0018
  docs/adr/0018-service-account-identities.md
Labels: documentation

fix(rustdoc): green the --all-features preflight gate (train regressions)
  crates/fraiseql-cli/src/commands/functions.rs
  crates/fraiseql-server/src/cron/mod.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/query_bridge.rs
  crates/fraiseql-server/src/routes/rest/handler/mutation.rs
Labels: none

fix(cli): box the server-init/serve futures — clippy large_futures under --all-features
  crates/fraiseql-cli/src/commands/run.rs
Labels: none

feat(subscriptions): fail-closed row-level visibility on the live /ws path (#596)
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/mutation_error_union.rs
  crates/fraiseql-cli/src/schema/converter/relay.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-core/src/runtime/subscription/mod.rs
  crates/fraiseql-core/src/runtime/subscription/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/dependency_graph/tests.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/subscription_policy.rs
  crates/fraiseql-core/src/schema/subscription_policy/tests.rs
  crates/fraiseql-core/tests/security/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_runtime.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/routes/subscriptions/tests.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/tests/graphql_ws_row_visibility_pin_test.rs
  crates/fraiseql-server/tests/subscription_row_visibility_pin_test.rs
  docs/architecture/enriched-identity-rls.md
Labels: documentation

feat(realtime): fail-closed row visibility on the dormant realtime seam (#596)
  CHANGELOG.md
  crates/fraiseql-server/benches/realtime_bench.rs
  crates/fraiseql-server/src/realtime/delivery.rs
  crates/fraiseql-server/src/realtime/server.rs
  crates/fraiseql-server/src/realtime/subscription_policy.rs
  crates/fraiseql-server/src/realtime/subscription_policy/tests.rs
  crates/fraiseql-server/src/realtime/subscriptions.rs
  crates/fraiseql-server/src/realtime/tests.rs
  crates/fraiseql-server/src/server/routing_tests.rs
  crates/fraiseql-server/tests/subscription_row_visibility_pin_test.rs
Labels: documentation

feat(auth): service-account identities — ceiling-bound external principals (ADR-0018)
  CHANGELOG.md
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-server/src/identity/apply.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/src/service_account.rs
  crates/fraiseql-server/src/service_account/tests.rs
  crates/fraiseql-server/tests/service_account_conformance_test.rs
  docs/adr/0018-service-account-identities.md
Labels: documentation

test(functions): e2e after:ingest run_as→bridge proof; finalize archaeology
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/tests/graphql_ws_row_visibility_pin_test.rs
  crates/fraiseql-server/tests/subscription_row_visibility_pin_test.rs
  docs/architecture/enriched-identity-rls.md
Labels: documentation

fix(subscriptions): warn loudly when a hot-reload changes subscription policies (#611)
  crates/fraiseql-server/src/routes/graphql/app_state.rs
Labels: none

ci(dagger): cap test-leg parallelism to stop --all-features OOM (#615)
  .dagger/main.go
Labels: none

fix(storage): private-bucket downloads are not shared-cacheable (#608)
  CHANGELOG.md
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/tests.rs
  docs/architecture/storage.md
Labels: documentation

fix(security): make trusted_proxy_cidrs reachable on the compiled path (#609)
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/security_config_test.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
  docs/guides/production-security-checklist.md
Labels: documentation

fix(core): resolve RLS session vars on Relay node + partial-period aggregate paths (#610)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
Labels: documentation

fix(cli): wire security.token_revocation.revoke_all_ttl_secs to the compiled schema (#612)
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/security_config_test.rs
Labels: none

fix(cli): reconcile [auth] so one block validates on both CLI and server (#612)
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/security_config_test.rs
  crates/fraiseql-server/src/server/builder.rs
  docs/auth/auth0.md
  docs/auth/saml-sso.md
Labels: documentation

fix(cli): reject accepted-but-unconsumed config; drop dead rate-limit reader (#612)
  CHANGELOG.md
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/security_config.rs
  crates/fraiseql-auth/src/security_init.rs
  crates/fraiseql-auth/src/tests.rs
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/observability.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/compiler_runtime_contract.rs
  crates/fraiseql-cli/tests/config_coverage_pin_test.rs
  crates/fraiseql-cli/tests/diagnostic_snapshots.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_field_auth_policy_typo_suggests_correction.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_field_auth_undefined_policy.snap
  crates/fraiseql-server/tests/security_config_runtime_test.rs
  examples/multitenant/README.md
  examples/multitenant/fraiseql.toml
  examples/saas/README.md
  examples/saas/fraiseql.toml
Labels: documentation

style(core): apply latest-nightly rustfmt to #610 test files
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
Labels: none

style(cli): apply latest-nightly rustfmt to [auth] doc comment
  crates/fraiseql-cli/src/config/toml_schema/security.rs
Labels: none

fix(storage): private-bucket downloads are not shared-cacheable (#608)
  CHANGELOG.md
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/tests.rs
  docs/architecture/storage.md
Labels: documentation

fix(security): make trusted_proxy_cidrs reachable on the compiled path (#609)
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/security_config_test.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
  docs/guides/production-security-checklist.md
Labels: documentation

fix(core): repair TypeDefinition doctest broken by subscription_policy field
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
Labels: none

fix(cli): reject accepted-but-unconsumed config; wire revoke_all_ttl_secs (#612 config surface)
  CHANGELOG.md
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/security_config.rs
  crates/fraiseql-auth/src/security_init.rs
  crates/fraiseql-auth/src/tests.rs
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/observability.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/compiler_runtime_contract.rs
  crates/fraiseql-cli/tests/config_coverage_pin_test.rs
  crates/fraiseql-cli/tests/diagnostic_snapshots.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
  crates/fraiseql-cli/tests/security_config_test.rs
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_field_auth_policy_typo_suggests_correction.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_field_auth_undefined_policy.snap
  crates/fraiseql-server/tests/security_config_runtime_test.rs
  examples/multitenant/README.md
  examples/multitenant/fraiseql.toml
  examples/saas/README.md
  examples/saas/fraiseql.toml
Labels: documentation

fix(core): resolve RLS session vars on Relay node + partial-period aggregate paths (#610)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
Labels: documentation

fix(core): repair TypeDefinition doctest broken by subscription_policy field
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
Labels: none

fix(cli): reconcile [auth] so one block validates on both CLI and server (#612 item 9)
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/security_config_test.rs
  crates/fraiseql-server/src/server/builder.rs
  docs/auth/auth0.md
  docs/auth/saml-sso.md
Labels: documentation

fix(observers,cli): admin/observer config dispositions + drift-prevention gate (#612 part 2)
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/tests/config_coverage_manifest_test.rs
  crates/fraiseql-cli/tests/config_coverage_pin_test.rs
  crates/fraiseql-observers/examples/job_queue_example.rs
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/actions/tests.rs
  crates/fraiseql-observers/src/cached_executor/tests.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/config/tests.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-observers/src/job_queue/tests.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/metrics/registry.rs
  crates/fraiseql-observers/src/queue/tests.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-observers/tests/integration_test.rs
  crates/fraiseql-observers/tests/job_queue_integration.rs
  crates/fraiseql-observers/tests/transport_pipeline_test.rs
  crates/fraiseql-server/src/observers/dlq_handlers/tests.rs
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/mod.rs
  crates/fraiseql-server/src/observers/runtime/tests.rs
  crates/fraiseql-server/src/observers/tests.rs
  crates/fraiseql-server/src/routes/api/tenant_admin.rs
  crates/fraiseql-server/src/routes/graphql/tenant_registry.rs
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
Labels: documentation

fix(observers,cli): admin/observer config dispositions + drift-prevention gate (#612 part 2)
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/tests/config_coverage_manifest_test.rs
  crates/fraiseql-cli/tests/config_coverage_pin_test.rs
  crates/fraiseql-observers/examples/job_queue_example.rs
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/actions/tests.rs
  crates/fraiseql-observers/src/cached_executor/tests.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/config/tests.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-observers/src/job_queue/tests.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/metrics/registry.rs
  crates/fraiseql-observers/src/queue/tests.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-observers/tests/integration_test.rs
  crates/fraiseql-observers/tests/job_queue_integration.rs
  crates/fraiseql-observers/tests/transport_pipeline_test.rs
  crates/fraiseql-server/src/observers/dlq_handlers/tests.rs
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/mod.rs
  crates/fraiseql-server/src/observers/runtime/tests.rs
  crates/fraiseql-server/src/observers/tests.rs
  crates/fraiseql-server/src/routes/api/tenant_admin.rs
  crates/fraiseql-server/src/routes/graphql/tenant_registry.rs
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
Labels: documentation

chore(core): reconcile rls_policy doc + remove #612 train archaeology (#612 finalize)
  crates/fraiseql-cli/tests/config_coverage_manifest_test.rs
  crates/fraiseql-cli/tests/config_coverage_pin_test.rs
  crates/fraiseql-cli/tests/security_config_test.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/security/rls_policy.rs
Labels: none

chore(core): reconcile rls_policy doc + remove #612 train archaeology (#612 finalize)
  crates/fraiseql-cli/tests/config_coverage_manifest_test.rs
  crates/fraiseql-cli/tests/config_coverage_pin_test.rs
  crates/fraiseql-cli/tests/security_config_test.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/security/rls_policy.rs
Labels: none

chore(release): prepare 2.13.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation
