Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(schema): orderBy.field is an enum of exactly the keys the query accepts
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
  crates/fraiseql-core/src/schema/derived_inputs_tests.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/tests/fixtures/federation_compose/catalog.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/reviews_conflict.graphql
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-core/tests/order_by_field_enum.rs
  crates/fraiseql-server/tests/order_by_conformance_parity.rs
  docs/features/pagination.md
Labels: documentation

test(relay): the recording double pages like the adapter since keyset cursors
  crates/fraiseql-core/tests/integration/relay_integration.rs
Labels: none

fix(schema): a relay connection publishes the where it reads
  CHANGELOG.md
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/tests/order_by_field_enum.rs
  docs/features/pagination.md
Labels: documentation

test(schema): count the v2.0 fixture's authored enums against what loading derives
  crates/fraiseql-core/tests/schema_migration_test.rs
Labels: none

docs(inbound): stop claiming after:ingest dispatch is at-least-once, and gate the claim
  crates/fraiseql-functions/src/migrations/mod.rs
  crates/fraiseql-functions/src/triggers/source.rs
  crates/fraiseql-server/src/inbound/spine/tests.rs
  tools/check-doc-claims.sh
  tools/tests/check_doc_claims_test.sh
Labels: none

refactor(observers)!: remove the sms, push and search action types
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/observers.rs
  crates/fraiseql-observers/README.md
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/config/tests.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/executor/tests.rs
  docs/operations/observer-idempotency.md
Labels: documentation

docs(webhooks): say what each scheme is verified against, and the choices a capture would settle
  crates/fraiseql-webhooks/src/signature/jwt_jwks.rs
  docs/architecture/webhooks.md
Labels: documentation

feat(inbound): a dispatch ledger makes after:ingest dispatch at-least-once
  CHANGELOG.md
  crates/fraiseql-functions/src/migrations/mod.rs
  crates/fraiseql-functions/src/triggers/source.rs
  crates/fraiseql-server/src/inbound/dispatch_ledger.rs
  crates/fraiseql-server/src/inbound/dispatch_ledger/tests.rs
  crates/fraiseql-server/src/inbound/email/mod.rs
  crates/fraiseql-server/src/inbound/email/sink.rs
  crates/fraiseql-server/src/inbound/email/sink/tests.rs
  crates/fraiseql-server/src/inbound/mod.rs
  crates/fraiseql-server/src/inbound/spine.rs
  crates/fraiseql-server/src/inbound/spine/tests.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/inbound/webhook/tests.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
  crates/fraiseql-server/tests/inbound_email_dedup_scope_pg.rs
  crates/fraiseql-server/tests/webhook_replay_header_dedup_pg.rs
  crates/fraiseql-server/tests/webhook_route_dedup_scope_pg.rs
  docs/architecture/inbound-email.md
  docs/architecture/webhooks.md
  roadmap.md
  tools/check-config-deny-unknown.py
  tools/check-doc-claims.sh
  tools/tests/check_doc_claims_test.sh
Labels: documentation

docs(federation): how a gateway gets a secured subgraph's SDL
  docs/architecture/federation.md
  tools/docs-env-vars.allow
Labels: documentation

feat(vector): a short similarity search says so
  CHANGELOG.md
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/notices.rs
  crates/fraiseql-core/src/runtime/notices_tests.rs
  crates/fraiseql-core/tests/nearest_short_result_pg.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/traits/adapter_types.rs
  crates/fraiseql-db/src/traits/tests.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
  docs/operations/vector-search.md
Labels: documentation

feat(cli): the --emit-ddl directory is a versioned, deterministic contract
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/tests.rs
  docs/operations/README.md
  docs/operations/emit-ddl.md
Labels: documentation

fix(session-vars): the fraiseql. setting namespace is the server's, in any case
  CHANGELOG.md
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  docs/features/session-variables.md
Labels: documentation

fix(relay): a forged cursor is refused as a cursor, not answered with PostgreSQL's cast error
  CHANGELOG.md
  crates/fraiseql-core/tests/relay_keyset_walk.rs
  crates/fraiseql-db/src/keyset.rs
  crates/fraiseql-db/src/keyset/tests.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
Labels: documentation

fix(relay): an anonymous relay page reads with its session variables
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-server/tests/session_variable_header_source_e2e_pg.rs
Labels: documentation

chore(inbound): drop the TDD cycle numbers from the dispatch ledger tests' docs
  crates/fraiseql-server/src/inbound/dispatch_ledger/tests.rs
Labels: none

fix(release): the prepare commit stages what the bump wrote, and only what git tracks
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/release_helpers_test.sh
Labels: none

docs(changelog): 2.17.0 lists the --emit-ddl header and #1314's public fields as breaking
  CHANGELOG.md
Labels: documentation

docs(changelog): a blank line after the 2.17.0 Breaking heading, which markdownlint requires
  CHANGELOG.md
Labels: documentation

fix(server): an engine refusal for size or cost is reported as that refusal, not a 500
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/grpc/streaming.rs
  crates/fraiseql-server/src/tests.rs
  crates/fraiseql-server/tests/engine_refusal_rendering_e2e_pg.rs
  crates/fraiseql-server/tests/locale_grpc_e2e_pg.rs
  docs/security/graphql-complexity-limits.md
Labels: documentation

fix(server): a runtime max_response_bytes holds across hot reload and binds every tenant
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/tenancy/pool_factory.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  crates/fraiseql-server/tests/response_bytes_override_e2e_pg.rs
  docs/security/graphql-complexity-limits.md
Labels: documentation

fix(analytics): aggregate and window limit/offset are validated and held to max_page_size
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/window_parser.rs
  crates/fraiseql-core/tests/aggregate_page_bounds.rs
  docs/architecture/intermediate-schema.md
Labels: documentation

fix(db): a read selecting more than 50 fields is built 50 pairs per jsonb_build_object call
  CHANGELOG.md
  crates/fraiseql-db/src/postgres/adapter/composed.rs
  crates/fraiseql-db/src/postgres/adapter/composed_tests.rs
  crates/fraiseql-db/src/projection_generator.rs
  crates/fraiseql-db/tests/projection_wide_pg.rs
Labels: documentation

perf(relay): an ordered page seeks its index when every key is a proven NOT NULL column
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/pagination_index_advice.rs
  crates/fraiseql-cli/src/commands/pagination_index_advice/tests.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/database_validator_tests.rs
  crates/fraiseql-cli/tests/native_column_nullability_pg.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested_gates_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/order_by_field_enum.rs
  crates/fraiseql-core/tests/relay_keyset_seek.rs
  crates/fraiseql-core/tests/relay_keyset_walk.rs
  crates/fraiseql-db/src/keyset.rs
  crates/fraiseql-db/src/keyset/tests.rs
  crates/fraiseql-db/src/order_by/tests.rs
  crates/fraiseql-db/src/types/sql_hints.rs
  crates/fraiseql-db/tests/keyset_seek_plan_pg.rs
  docs/features/pagination.md
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
Labels: documentation

test: the new PG suites prove their documents load, and #1156's fixture uses scalar leaves
  crates/fraiseql-core/tests/introspection_scalar_completeness.rs
  crates/fraiseql-server/tests/engine_refusal_rendering_e2e_pg.rs
  crates/fraiseql-server/tests/rich_scalar_serving_e2e_pg.rs
  docs/features/pagination.md
Labels: documentation

docs(changelog): 2.17.0 lists the two configuration fields #1531 adds as breaking
  CHANGELOG.md
Labels: documentation

fix(ci): every apt install in the Dagger module refreshes its index in the same exec
  .dagger/image_boot.go
  .dagger/main.go
  .dagger/security.go
  Makefile
  tools/check-dagger-apt.sh
  tools/tests/dagger_apt_test.sh
Labels: none

feat(analytics): a fact-table measure declares its additivity, authored in TypeScript and Go
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/intermediate/analytics.rs
  crates/fraiseql-cli/tests/measure_additivity_compile_test.rs
  crates/fraiseql-core/src/compiler/fact_table/detector.rs
  crates/fraiseql-core/src/compiler/fact_table/mod.rs
  crates/fraiseql-core/src/compiler/fact_table/tests.rs
  crates/fraiseql-core/src/compiler/tests.rs
  crates/fraiseql-core/src/compiler/window_functions/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/tests/aggregate_dimension_paths.rs
  crates/fraiseql-core/tests/aggregate_hierarchy_filters.rs
  crates/fraiseql-core/tests/aggregate_native_dimension_mapping.rs
  crates/fraiseql-core/tests/aggregate_output_alias_casing.rs
  crates/fraiseql-core/tests/aggregate_page_bounds.rs
  crates/fraiseql-core/tests/aggregate_tree_grouping.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/common/test_db.rs
  crates/fraiseql-core/tests/e2e_aggregate_queries.rs
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
  crates/fraiseql-core/tests/locale_collation.rs
  crates/fraiseql-core/tests/locale_localized_aggregate.rs
  crates/fraiseql-core/tests/offset_ceiling_aggregate.rs
  crates/fraiseql-core/tests/sql_behavioral.rs
  crates/fraiseql-server/tests/analytics_injection_e2e_pg.rs
  sdks/official/conformance/expected.full.json
  sdks/official/conformance/project.py
  sdks/official/conformance/reference/full.json
  sdks/official/fraiseql-go/conformance/main.go
  sdks/official/fraiseql-go/fraiseql/analytics.go
  sdks/official/fraiseql-go/fraiseql/analytics_test.go
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-typescript/conformance/export.ts
  sdks/official/fraiseql-typescript/src/__tests__/measure-additivity.test.ts
  sdks/official/fraiseql-typescript/src/index.ts
  sdks/official/fraiseql-typescript/src/registry.ts
Labels: none

feat(analytics): a semi-additive measure is reduced per entity and bucket before it is aggregated
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/pagination_index_advice.rs
  crates/fraiseql-cli/src/commands/semi_additive_index_advice.rs
  crates/fraiseql-cli/src/config/toml_schema/server_settings.rs
  crates/fraiseql-cli/tests/doctor_against_db.rs
  crates/fraiseql-cli/tests/measure_additivity_compile_test.rs
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/compiler/time_reduction.rs
  crates/fraiseql-core/src/compiler/time_reduction/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/mod.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/time_reduction.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/semi_additive_aggregate_pg.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  docs/modules/fact-table.md
Labels: documentation

refactor(analytics)!: partial-period aggregation is removed, and an artifact carrying it is refused
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-core/src/compiler/fact_table/detector.rs
  crates/fraiseql-core/src/compiler/fact_table/mod.rs
  crates/fraiseql-core/src/compiler/fact_table/tests.rs
  crates/fraiseql-core/src/compiler/tests.rs
  crates/fraiseql-core/src/compiler/window_functions/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/mod.rs
  crates/fraiseql-core/src/runtime/aggregation/partial_period_builder.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/partial_period/mod.rs
  crates/fraiseql-core/src/runtime/partial_period/tests.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/tests/aggregate_dimension_paths.rs
  crates/fraiseql-core/tests/aggregate_hierarchy_filters.rs
  crates/fraiseql-core/tests/aggregate_native_dimension_mapping.rs
  crates/fraiseql-core/tests/aggregate_output_alias_casing.rs
  crates/fraiseql-core/tests/aggregate_page_bounds.rs
  crates/fraiseql-core/tests/aggregate_tree_grouping.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/common/test_db.rs
  crates/fraiseql-core/tests/e2e_aggregate_queries.rs
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
  crates/fraiseql-core/tests/locale_collation.rs
  crates/fraiseql-core/tests/locale_localized_aggregate.rs
  crates/fraiseql-core/tests/offset_ceiling_aggregate.rs
  crates/fraiseql-core/tests/sql_behavioral.rs
  crates/fraiseql-core/tests/where_typed_annotation_is_transparent.rs
  crates/fraiseql-server/tests/analytics_injection_e2e_pg.rs
Labels: documentation

docs(changelog): 2.17.0's breaking list names every item semver-checks reports for #1519 and #1459
  CHANGELOG.md
Labels: documentation

feat(mutations)!: a cascade mutation's payload carries typed success fields from an optional result column
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-cli/sql/helpers/mutation_response.sql
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/setup/mod.rs
  crates/fraiseql-cli/src/commands/setup/tests.rs
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/src/schema/mutation_contract/mod.rs
  crates/fraiseql-cli/src/schema/mutation_contract/tests.rs
  crates/fraiseql-cli/tests/auto_mutation_error_union_test.rs
  crates/fraiseql-cli/tests/fixtures/mutation_response_helpers_2_3_0.sql
  crates/fraiseql-cli/tests/mutation_contract_against_db.rs
  crates/fraiseql-cli/tests/mutation_success_fields_compile_test.rs
  crates/fraiseql-cli/tests/setup_against_db.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/invalidation_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/payload_gates.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/mutation.rs
  crates/fraiseql-server/tests/mutation_success_fields_e2e_pg.rs
  docs/adr/0013-mutation-response-v2-schema.md
  docs/architecture/mutation-response.md
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_mutation_success_fields.py
  sdks/official/fraiseql-typescript/src/__tests__/mutation-success-fields.test.ts
  sdks/official/fraiseql-typescript/src/decorators.ts
  sdks/official/fraiseql-typescript/src/index.ts
  sdks/official/fraiseql-typescript/src/registry.ts
Labels: documentation, tests

feat(doctor): doctor and /metrics report the health of the TVIEWs the schema reads
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/tests/cascade_source_compile_test.rs
  crates/fraiseql-cli/tests/doctor_pg_tviews_pg.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/schema/compiled/schema_lookup.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/introspector.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/tests/tviews_cascade_e2e_pg.rs
  docs/guides/database-contract-validation.md
Labels: documentation

feat(mutations): a cascade mutation can serve the rows pg_tviews refreshed in its transaction
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  Makefile
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/src/schema/pg_catalog.rs
  crates/fraiseql-cli/tests/auto_mutation_error_union_test.rs
  crates/fraiseql-cli/tests/cascade_source_compile_test.rs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/runtime/executor/runners/mutation/derived_cascade.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/mutation.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/traits/mutations.rs
  crates/fraiseql-server/tests/tviews_cascade_e2e_pg.rs
  docker/docker-compose.test.yml
  docker/pg-tviews/Dockerfile
  docs/architecture/mutation-response.md
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_mutation_success_fields.py
  sdks/official/fraiseql-typescript/src/__tests__/mutation-success-fields.test.ts
  sdks/official/fraiseql-typescript/src/decorators.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  tools/check-pg-tviews-pin.sh
  tools/tests/pg_tviews_pin_test.sh
Labels: documentation, tests

feat(sdk-java): a Java schema authors localized fields and mutation arguments
  sdks/official/README.md
  sdks/official/conformance/manifest.json
  sdks/official/fraiseql-java/README.md
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/GraphQLField.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/TypeConverter.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/ConformanceExport.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/LocalizedTest.java
Labels: none

feat(sdk-rust): a Rust schema authors localized fields
  sdks/official/README.md
  sdks/official/conformance/manifest.json
  sdks/official/fraiseql-rust/examples/conformance_export.rs
  sdks/official/fraiseql-rust/src/field.rs
Labels: none

fix(sdk-typescript): the `localized: true` option is refused on a non-String at export
  sdks/official/fraiseql-typescript/src/__tests__/localized.test.ts
  sdks/official/fraiseql-typescript/src/registry.ts
Labels: none

feat(sdk-ruby): a Ruby schema authors localized fields and mutation arguments
  sdks/official/README.md
  sdks/official/conformance/manifest.json
  sdks/official/fraiseql-ruby/README.md
  sdks/official/fraiseql-ruby/conformance/export.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/authoring/crud_generator.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/schema.rb
  sdks/official/fraiseql-ruby/test/localized_test.rb
Labels: none

feat(sdk-php): a PHP schema authors localized fields and mutation arguments
  sdks/official/README.md
  sdks/official/conformance/manifest.json
  sdks/official/fraiseql-php/README.md
  sdks/official/fraiseql-php/conformance/export.php
  sdks/official/fraiseql-php/src/Attributes/GraphQLField.php
  sdks/official/fraiseql-php/src/CrudGenerator.php
  sdks/official/fraiseql-php/src/FieldDefinition.php
  sdks/official/fraiseql-php/src/MutationBuilder.php
  sdks/official/fraiseql-php/src/SchemaExporter.php
  sdks/official/fraiseql-php/src/SchemaRegistry.php
  sdks/official/fraiseql-php/src/TypeBuilder.php
  sdks/official/fraiseql-php/tests/LocalizedTest.php
Labels: none

feat(sdk-fsharp): an F# schema authors localized fields and mutation arguments
  sdks/official/README.md
  sdks/official/conformance/manifest.json
  sdks/official/fraiseql-fsharp/README.md
  sdks/official/fraiseql-fsharp/src/FraiseQL/Attributes.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/CrudGenerator.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Dsl.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/MutationBuilder.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/QueryBuilder.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/SchemaExporter.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/SchemaRegistry.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Types.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/ConformanceExportTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/FraiseQL.Tests.fsproj
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/LocalizedTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaExporterTests.fs
Labels: none

feat(sdk-go): a Go schema authors localized fields and mutation arguments
  sdks/official/README.md
  sdks/official/conformance/manifest.json
  sdks/official/fraiseql-go/README.md
  sdks/official/fraiseql-go/conformance/main.go
  sdks/official/fraiseql-go/fraiseql/decorators.go
  sdks/official/fraiseql-go/fraiseql/localized_test.go
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-go/fraiseql/types.go
Labels: none
