Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(federation): Cycle 5 Complete - Phase 16 Readiness 100% (109/109 items)
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/tests/cli_federation_validation.rs
  docs/FAQ.md
  docs/MIGRATION_PHASE_15_TO_16.md
  docs/PHASE_16_READINESS.md
Labels: documentation

docs(phases): Record Cycle 5 completion - Phase 16 at 100%
  .phases/CYCLE_5_COMPLETE.md
Labels: none

refactor(server): Remove scaffolding TODOs and clarify placeholder configs
  .phases/PHASE_21_PREPARATION_PLAN.md
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/runtime_server/mod.rs
  crates/fraiseql-server/src/runtime_server/router.rs
  crates/fraiseql-server/src/server.rs
Labels: none

docs: Add KNOWN_LIMITATIONS and TEST_COVERAGE documentation
  docs/KNOWN_LIMITATIONS.md
  docs/TEST_COVERAGE.md
Labels: documentation

docs(phases): Phase 21 Finalization Checklist - Complete preparation plan
  .phases/PHASE_21_FINALIZATION_CHECKLIST.md
Labels: none

docs(phases): Record Cycle 6 completion - Phase 21 preparation 100%
  .phases/CYCLE_6_COMPLETE.md
Labels: none

refactor(arrow): Document Arrow Flight TODOs as Phase 17 continuation work
  crates/fraiseql-arrow/src/db_convert.rs
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-core/src/arrow_executor.rs
Labels: none

audit(phase-21): Complete Final Quality Audit - Phase 16 GA Production Ready
  .claude/PHASE_21_TASK_1_4_FINAL_QUALITY_AUDIT.md
Labels: none

docs(release): Add v2.0.0 release notes - Phase 16 GA
  RELEASE_NOTES.md
Labels: documentation

Phase 21 Execution Complete: Repository finalized, production ready
  .phases/PHASE_21_EXECUTION_COMPLETE.md
Labels: none

refactor(quality): Fix clippy warnings and formatting issues
  Cargo.lock
  crates/fraiseql-arrow/src/db_convert.rs
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-cli/tests/cli_federation_validation.rs
  crates/fraiseql-core/src/federation/database_resolver.rs
  crates/fraiseql-core/src/federation/requires_provides_validator.rs
  crates/fraiseql-core/tests/e2e_cross_database_chain.rs
  crates/fraiseql-core/tests/e2e_python_authoring.rs
  crates/fraiseql-core/tests/e2e_typescript_authoring.rs
  crates/fraiseql-core/tests/federation_requires_runtime.rs
  crates/fraiseql-core/tests/federation_saga_e2e_scenarios.rs
  crates/fraiseql-core/tests/federation_saga_stress_test.rs
  crates/fraiseql-observers/Cargo.toml
Labels: none

refactor(tests): Fix clippy warnings in test code
  COMPREHENSIVE_REVIEW_2026-01-30.md
  GIT_HISTORY_VERIFICATION_REPORT.txt
  crates/fraiseql-cli/tests/federation_cli_compose.rs
  crates/fraiseql-cli/tests/federation_composition_advanced.rs
  crates/fraiseql-cli/tests/federation_composition_validator.rs
  crates/fraiseql-core/benches/saga_performance_bench.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_cross_database_chain.rs
  crates/fraiseql-core/tests/federation_saga_performance_test.rs
  crates/fraiseql-core/tests/federation_saga_recovery_manager.rs
  crates/fraiseql-core/tests/federation_saga_stress_test.rs
  crates/fraiseql-observers/src/cli/tests.rs
  crates/fraiseql-observers/src/listener/coordinator.rs
  crates/fraiseql-observers/src/listener/failover.rs
  crates/fraiseql-observers/src/resilience/strategies.rs
  crates/fraiseql-observers/src/tracing/tests.rs
  crates/fraiseql-observers/src/transport/postgres_notify.rs
  crates/fraiseql-server/tests/database_query_test.rs
  crates/fraiseql-server/tests/fraiseql_wire_protocol_test.rs
  crates/fraiseql-server/tests/graphql_e2e_test.rs
  crates/fraiseql-server/tests/http_server_e2e_test.rs
  crates/fraiseql-server/tests/server_e2e_test.rs
  crates/fraiseql-wire/src/connection/tls.rs
  crates/fraiseql-wire/tests/tls_integration.rs
  tests/chaos/failure_scenarios_test.rs
  tests/e2e/arrow_flight_pipeline_test.rs
  tests/local_integration/benchmark_test.rs
  tests/local_integration/chaos_test.rs
  tests/local_integration/stress_test.rs
  tests/stress/million_row_test.rs
Labels: documentation, tests

docs(foundation): Add Phase 1 foundation documentation (12 topics)
  docs/README.md
  docs/foundation/01-QUALITY_CHECKLIST.md
  docs/foundation/01-what-is-fraiseql.md
  docs/foundation/02-QUALITY_CHECKLIST.md
  docs/foundation/02-core-concepts.md
  docs/foundation/03-QUALITY_CHECKLIST.md
  docs/foundation/03-database-centric-architecture-old.md
  docs/foundation/03-database-centric-architecture.md
  docs/foundation/04-QUALITY_CHECKLIST.md
  docs/foundation/04-design-principles.md
  docs/foundation/05-QUALITY_CHECKLIST.md
  docs/foundation/05-comparisons.md
  docs/foundation/06-QUALITY_CHECKLIST.md
  docs/foundation/06-compilation-pipeline.md
  docs/foundation/07-QUALITY_CHECKLIST.md
  docs/foundation/07-query-execution-model.md
  docs/foundation/08-QUALITY_CHECKLIST.md
  docs/foundation/08-data-planes-architecture.md
  docs/foundation/09-QUALITY_CHECKLIST.md
  docs/foundation/09-type-system.md
  docs/foundation/10-QUALITY_CHECKLIST.md
  docs/foundation/10-error-handling-validation.md
  docs/foundation/11-QUALITY_CHECKLIST.md
  docs/foundation/11-compiled-schema-structure.md
  docs/foundation/12-QUALITY_CHECKLIST.md
  docs/foundation/12-performance-characteristics.md
  docs/foundation/DIAGRAMMING_ROADMAP.md
  docs/foundation/INDEX.md
Labels: documentation

feat(subscriptions): Wire PostgresListener into server startup (Phase A)
  SESSION_SUMMARY_2026-01-30.md
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/src/server_config.rs
  docs/README.md
  docs/architecture/realtime/subscriptions.md
  docs/foundation/12-performance-characteristics.md
Labels: documentation

revert: Remove PostgresListener integration (wrong architecture)
  SESSION_SUMMARY_2026-01-30.md
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/src/server_config.rs
  docs/README.md
  docs/architecture/realtime/subscriptions.md
  docs/foundation/12-performance-characteristics.md
Labels: documentation

docs: Add Phase A post-mortem analysis
  PHASE_A_POSTMORTEM.md
Labels: documentation

docs(subscriptions): Add corrected architecture document
  docs/architecture/realtime/SUBSCRIPTIONS_CORRECTED_ARCHITECTURE.md
Labels: documentation

docs(subscriptions): Replace LISTEN/NOTIFY with correct polling architecture
  docs/architecture/realtime/subscriptions.md
Labels: documentation

docs(verification): Complete documentation alignment verification
  DOCUMENTATION_VERIFICATION_REPORT.md
Labels: documentation

docs(subscriptions): Deprecate PostgresListener with architectural notice
  crates/fraiseql-core/src/runtime/subscription.rs
Labels: none

refactor(subscriptions): Remove PostgresListener LISTEN/NOTIFY implementation
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/subscription.rs
Labels: none

refactor(server): Remove dual server implementation
  .phases/PHASE_21_EXECUTION_COMPLETE.md
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/runtime_middleware/admission.rs
  crates/fraiseql-server/src/runtime_middleware/cors.rs
  crates/fraiseql-server/src/runtime_middleware/mod.rs
  crates/fraiseql-server/src/runtime_middleware/rate_limit/memory.rs
  crates/fraiseql-server/src/runtime_middleware/rate_limit/mod.rs
  crates/fraiseql-server/src/runtime_middleware/rate_limit/redis.rs
  crates/fraiseql-server/src/runtime_server/mod.rs
  crates/fraiseql-server/src/runtime_server/router.rs
Labels: none

docs: Add comprehensive architecture principles document
  .claude/ARCHITECTURE_PRINCIPLES.md
Labels: none

docs: Update all documentation to reflect unified architecture
  .claude/CLAUDE.md
  .claude/README.md
  README.md
  docs/endpoint-runtime/ARCHITECTURE_UPDATE.md
  docs/endpoint-runtime/README.md
Labels: documentation

chore(fmt): Fix code formatting and setup phase-based development
  .phases/README.md
  .phases/SETUP_SUMMARY.md
  .phases/phase-01-foundation.md
  .phases/phase-02-correctness.md
  .phases/phase-03-performance.md
  .phases/phase-04-extensions.md
  .phases/phase-05-hardening.md
  .phases/phase-06-finalization.md
  crates/fraiseql-cli/tests/federation_cli_compose.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/tests/federation_saga_recovery_manager.rs
  crates/fraiseql-server/tests/graphql_e2e_test.rs
  crates/fraiseql-server/tests/http_server_e2e_test.rs
  crates/fraiseql-server/tests/server_e2e_test.rs
  crates/fraiseql-wire/src/connection/tls.rs
  crates/fraiseql-wire/tests/tls_integration.rs
Labels: none

chore(docker): Setup test database stack with Docker Compose
  docker-compose.yml
  tests/docker/.env.example
  tests/docker/README.md
  tests/docker/manage.sh
Labels: tests

fix(test-infrastructure): Initialize test databases with Docker Compose for multi-database integration testing
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  docker-compose.yml
  tests/sql/postgres/init.sql
  tests/sql/sqlserver/entrypoint-simple.sh
  tests/sql/sqlserver/init-analytics.sql
  tests/sql/sqlserver/init.sql
Labels: tests

fix(fraiseql-wire): Update to v0.1.1 and fix adaptive chunking zero-capacity handling
  Cargo.lock
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql-wire/src/stream/adaptive_chunking.rs
Labels: none

fix(quality): Fix doc comment backticks and document dependency advisories
  .claude/DEPENDENCY_ADVISORIES.md
  crates/fraiseql-observers/tests/bridge_integration.rs
  crates/fraiseql-observers/tests/nats_integration.rs
Labels: none

test(subscriptions): Add RED phase integration tests for subscription manager
  crates/fraiseql-server/tests/subscription_integration_test.rs
Labels: none

feat(subscriptions): Implement EventBridge for unified event pipeline
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/subscriptions/event_bridge.rs
  crates/fraiseql-server/src/subscriptions/mod.rs
  crates/fraiseql-server/tests/subscription_integration_test.rs
Labels: none

test(graphql): Add RED phase E2E feature tests for all major functionality
  crates/fraiseql-server/tests/graphql_features_e2e_test.rs
Labels: none

docs(phase-2): Mark Cycle 2 RED phase as complete
  .phases/phase-02-correctness.md
Labels: none

test(sagas): Add RED phase federation saga validation tests
  crates/fraiseql-server/tests/federation_saga_validation_test.rs
Labels: none

docs(phase-2): Mark Cycle 3 RED phase as complete
  .phases/phase-02-correctness.md
Labels: none

test(errors): Add RED phase error handling validation tests
  crates/fraiseql-server/tests/error_handling_validation_test.rs
Labels: none

test(docs): Add RED phase documentation example validation tests
  crates/fraiseql-server/tests/documentation_examples_test.rs
Labels: none

test(graphql): Transition E2E tests to GREEN phase - mark tests as ignored and prepare database execution
  .phases/phase-02-correctness.md
  crates/fraiseql-server/tests/graphql_features_e2e_test.rs
Labels: none

feat(test-infrastructure): Add database fixture helpers for GREEN phase integration testing
  crates/fraiseql-server/tests/common/database_fixture.rs
  crates/fraiseql-server/tests/common/mod.rs
  crates/fraiseql-server/tests/graphql_features_e2e_test.rs
Labels: none

docs(phase-2): Update Cycle 2 GREEN phase progress tracking
  .phases/phase-02-correctness.md
Labels: none
