Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

ci(dagger): pull CI base images from ghcr.io mirror, not Docker Hub
  .dagger/main.go
  .github/workflows/mirror-base-images.yml
Labels: ci

ci(dagger): authenticate the runner to ghcr.io for the private base-image mirror
  .github/workflows/dagger-feature-matrix.yml
  .github/workflows/dagger-integration.yml
  .github/workflows/dagger-preflight.yml
  .github/workflows/dagger-security.yml
  .github/workflows/dagger-test.yml
Labels: ci

feat(observers): own core.tb_entity_change_log as a shipped contract (Change Spine phase-00)
  crates/fraiseql-observers/migrations/07_create_changelog_views.sql
  crates/fraiseql-observers/migrations/08_create_entity_change_log_contract.sql
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/migrations/mod.rs
  crates/fraiseql-observers/src/migrations/tests.rs
  crates/fraiseql-observers/tests/changelog_views.rs
  crates/fraiseql-observers/tests/entity_change_log_contract.rs
Labels: none

feat(db): correct duration_ms + unify started_at on the DB clock (Change Spine phase-01)
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/security.rs
  crates/fraiseql-db/src/changelog.rs
  crates/fraiseql-db/src/changelog/tests.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/tests/changelog_duration_test.rs
Labels: none

feat(change-spine): executor writes the change-log outbox in-txn + statement caching + opt-out (phase-02)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/schema/compiled/mutation.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/tests/changelog_e2e.rs
  crates/fraiseql-core/tests/changelog_outbox_e2e.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/tests.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/tests/changelog_outbox_test.rs
  crates/fraiseql-server/src/server/builder.rs
Labels: documentation

feat(change-spine): stamp the envelope onto the outbox + multi-DB portability + reader reconcile (phase-03)
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/tests/changelog_e2e.rs
  crates/fraiseql-core/tests/changelog_outbox_e2e.rs
  crates/fraiseql-db/src/changelog.rs
  crates/fraiseql-db/src/changelog/tests.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/tests.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/tests/changelog_outbox_test.rs
  crates/fraiseql-observers/migrations/08_create_entity_change_log_contract.sql
  crates/fraiseql-observers/migrations/09_add_mysql_entity_change_log_contract.sql
  crates/fraiseql-observers/migrations/10_add_mssql_entity_change_log_contract.sql
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/migrations/tests.rs
  crates/fraiseql-observers/tests/entity_change_log_contract.rs
Labels: none

feat(change-spine): doctor changelog-contract drift check + contract doc (phase-04)
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/pg_catalog.rs
  crates/fraiseql-cli/tests/doctor_against_db.rs
  crates/fraiseql-db/src/changelog.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-observers/migrations/08_create_entity_change_log_contract.sql
  crates/fraiseql-observers/src/migrations/mod.rs
  crates/fraiseql-observers/src/migrations/tests.rs
  docs/architecture/change-log-contract.md
  docs/architecture/mutation-response.md
Labels: documentation

fix(change-spine): re-bless codegen snapshot + align observer test table to the contract (dev-RED fix-forward)
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/client.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/enums.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/index.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/inputs.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/mutations.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/queries.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/relationships.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/types.ts
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

fix(change-spine): decode object_id as Uuid in the debezium debug test (dev-RED fix-forward)
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

feat(change-spine): expose @fraiseql.mutation(changelog=False) in the Python + TS SDKs
  CHANGELOG.md
  docs/architecture/change-log-contract.md
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_decorators.py
  sdks/official/fraiseql-typescript/src/decorators.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/registry.test.ts
Labels: documentation, tests

fix(cli): IntermediateMutation::default() must log by default
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/src/schema/intermediate/tests.rs
Labels: none

feat(change-spine): live MySQL + SQL Server in-transaction outbox
  CHANGELOG.md
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-db/src/changelog.rs
  crates/fraiseql-db/src/changelog/tests.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-observers/migrations/09_add_mysql_entity_change_log_contract.sql
  crates/fraiseql-observers/migrations/10_add_mssql_entity_change_log_contract.sql
  docs/architecture/change-log-contract.md
Labels: documentation

feat(change-spine): poller surfaces tenant_id/duration_ms/seq on the observer event path
  CHANGELOG.md
  crates/fraiseql-observers/src/event.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/listener/tests.rs
  crates/fraiseql-observers/src/storage.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-observers/tests/entity_change_log_contract.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
  docs/architecture/change-log-contract.md
Labels: documentation

feat(change-spine): v2.6.0 consumer wave — perf observability + envelope population (#392, #375, #377)
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/perf/analysis.rs
  crates/fraiseql-cli/src/commands/perf/mod.rs
  crates/fraiseql-cli/src/commands/perf/reader.rs
  crates/fraiseql-cli/src/commands/perf/tests.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/tests/perf_against_db.rs
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-core/tests/changelog_outbox_e2e.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-db/src/changelog.rs
  crates/fraiseql-db/src/changelog/tests.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/tests.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/tests/changelog_outbox_test.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/tests.rs
  crates/fraiseql-server/src/tracing_utils.rs
  docs/architecture/change-log-contract.md
Labels: documentation

test(cli): isolate build_config DATABASE_URL test from the parallel env-resolve race
  crates/fraiseql-cli/src/commands/tests.rs
Labels: none

style(cli): nightly-fmt the build_config env-race test comment
  crates/fraiseql-cli/src/commands/tests.rs
Labels: none

chore(release): prepare v2.6.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
Labels: documentation

feat(change-spine): #390 actor model — populate actor_type/acting_for + tenant audit
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/security/actor_type.rs
  crates/fraiseql-core/src/security/actor_type/tests.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-core/tests/changelog_e2e.rs
  crates/fraiseql-core/tests/changelog_outbox_e2e.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-db/src/changelog.rs
  crates/fraiseql-db/src/changelog/tests.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/tests.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/tests/changelog_outbox_test.rs
  crates/fraiseql-observers/migrations/08_create_entity_change_log_contract.sql
  crates/fraiseql-observers/migrations/09_add_mysql_entity_change_log_contract.sql
  crates/fraiseql-observers/migrations/10_add_mssql_entity_change_log_contract.sql
  crates/fraiseql-observers/src/migrations/mod.rs
  crates/fraiseql-server/src/api_key.rs
  crates/fraiseql-server/src/extractors.rs
  crates/fraiseql-server/src/routes/api/tenant_admin.rs
  crates/fraiseql-server/src/tenancy/audit.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  crates/fraiseql-server/tests/multitenancy_test.rs
  docs/architecture/change-log-contract.md
Labels: documentation

test(security): allow unwrap_used/doc_markdown in the new #390 actor test modules
  crates/fraiseql-core/src/security/actor_type/tests.rs
  crates/fraiseql-core/src/security/tests.rs
Labels: none

feat(change-spine): #390 — surface actor_type/acting_for on the change-log reader + bring NATS bridges to full envelope parity
  CHANGELOG.md
  crates/fraiseql-observers/src/event.rs
  crates/fraiseql-observers/src/event/tests.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/listener/tests.rs
  crates/fraiseql-observers/src/storage.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-observers/src/transport/bridge.rs
  crates/fraiseql-observers/src/transport/mssql_bridge.rs
  crates/fraiseql-observers/src/transport/mysql_bridge.rs
  crates/fraiseql-observers/src/transport/tests.rs
  crates/fraiseql-observers/tests/bridge_integration.rs
  crates/fraiseql-observers/tests/entity_change_log_contract.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: documentation

docs(operations): #378 — zero-downtime deploy guide + correct stale schema-lifecycle claims
  CHANGELOG.md
  docs/operations/README.md
  docs/operations/compiled-schema-lifecycle.md
  docs/operations/zero-downtime-deploys.md
Labels: documentation

docs(operations): #378 — cross-link the schema hot-reload runbook from the deploy + lifecycle guides
  docs/operations/compiled-schema-lifecycle.md
  docs/operations/zero-downtime-deploys.md
Labels: documentation

feat(change-spine): #377 reader follow-up — surface schema_version on the change-log reader + NATS bridges
  CHANGELOG.md
  crates/fraiseql-observers/src/event.rs
  crates/fraiseql-observers/src/event/tests.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/listener/tests.rs
  crates/fraiseql-observers/src/storage.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-observers/src/transport/bridge.rs
  crates/fraiseql-observers/src/transport/mssql_bridge.rs
  crates/fraiseql-observers/src/transport/mysql_bridge.rs
  crates/fraiseql-observers/src/transport/tests.rs
  crates/fraiseql-observers/tests/bridge_integration.rs
  crates/fraiseql-observers/tests/entity_change_log_contract.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: documentation

fix(security): #Phase01 injection cluster — C1/H1/H3/H41/H11 + latent sites
  CHANGELOG.md
  crates/fraiseql-cli/src/codegen/row_views.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/tenant_enforcer.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation/entity_connection.rs
  crates/fraiseql-core/tests/federation/entity_cross_db.rs
  crates/fraiseql-core/tests/federation/entity_perf.rs
  crates/fraiseql-core/tests/federation/entity_projection.rs
  crates/fraiseql-core/tests/federation/entity_resolution.rs
  crates/fraiseql-core/tests/federation/entity_where_clause.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/mysql/adapter/tests.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter/tests.rs
  crates/fraiseql-federation/benches/federation_bench.rs
  crates/fraiseql-federation/src/database_resolver.rs
  crates/fraiseql-federation/src/database_resolver/tests.rs
  crates/fraiseql-federation/src/query_builder.rs
  crates/fraiseql-federation/src/query_builder/tests.rs
  crates/fraiseql-federation/src/sql_utils.rs
  crates/fraiseql-federation/src/sql_utils/tests.rs
  crates/fraiseql-observers/README.md
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-wire/src/operators/where_operator/mod.rs
  crates/fraiseql-wire/src/operators/where_operator/tests.rs
Labels: documentation

fix(security): #Phase02 — lockstep deny.toml ↔ audit.toml advisory ignores
  .cargo/audit.toml
  .dagger/main.go
  Makefile
  tools/check-audit-lockstep.sh
Labels: none

fix(security): #Phase02 — lapsed-deadline gate, cargo-audit in Dagger, extend rustls deadline
  .cargo/audit.toml
  .dagger/main.go
  .dagger/security.go
  CHANGELOG.md
  Makefile
  deny.toml
  tools/check-deadlines.sh
Labels: documentation

test(federation): convert mutation + e2e tests off mock adapters to real Postgres
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation/mutation_cross_graph.rs
  crates/fraiseql-core/tests/federation/mutation_error.rs
  crates/fraiseql-core/tests/federation/mutation_extended.rs
  crates/fraiseql-core/tests/federation/mutation_local.rs
  crates/fraiseql-core/tests/federation/mutation_response.rs
Labels: none

fix(security): #Phase03 C1a — enforce authz on Relay node(id:) + fail closed on anonymous RLS relay
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
Labels: documentation

fix(security): #Phase03 C1b — fail closed on authz-gated federation _entities
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
Labels: documentation

fix(security): #Phase03 C3 — mandatory admin-plane auth (H5/H6) + observer secret redaction
  CHANGELOG.md
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/middleware/oidc_auth.rs
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/mod.rs
  crates/fraiseql-server/src/observers/tests.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/observers.rs
  crates/fraiseql-server/tests/admin_authz_test.rs
Labels: documentation

fix(security): #Phase03 C4 — object-level write authz on storage upload + presign (H9/B4)
  CHANGELOG.md
  crates/fraiseql-storage/src/rls/mod.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/tests.rs
Labels: documentation

fix(security): #Phase03 C5 — fail-closed Arrow BulkExport allow-list + honest RLS docs (H39)
  CHANGELOG.md
  crates/fraiseql-arrow/src/flight_server/mod.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
Labels: documentation

fix(security): #Phase03 C6 — small-mount authz (broadcast/introspection-mut/relay) + storage scope/legacy fail-closed
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-server/src/routes/introspection.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server/routing/extensions/tests.rs
  crates/fraiseql-server/src/server/routing/mod.rs
  crates/fraiseql-server/src/server/routing/mount_authz_tests.rs
  crates/fraiseql-server/tests/introspection_mutation_authz_test.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-storage/src/rls/mod.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/tests.rs
Labels: documentation

fix(security): #Phase03 C7 — WS multi-tenant fail-closed + suspended-tenant gating + concurrency quotas
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/runtime/subscription/tests.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/handler/tests.rs
  crates/fraiseql-server/src/routes/graphql/mod.rs
  crates/fraiseql-server/src/routes/graphql/tenant_registry.rs
  crates/fraiseql-server/src/routes/graphql/tests.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/server/routing/admin.rs
Labels: documentation

fix(security): #Phase03 M-quotas RPS — enforce per-tenant requests-per-second
  CHANGELOG.md
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/tenant_registry.rs
  crates/fraiseql-server/tests/multitenancy_test.rs
Labels: documentation

fix(security): #Phase03 C1b/R1 — per-row tenant/owner scoping on federation _entities
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/tests/federation/entity_resolution.rs
  crates/fraiseql-federation/src/database_resolver.rs
  crates/fraiseql-federation/src/database_resolver/tests.rs
  crates/fraiseql-federation/src/entity_resolver.rs
Labels: documentation

fix(security): #Phase04 C1 H8/M-revoke-all — enforce token revocation on the request path
  CHANGELOG.md
  crates/fraiseql-server/src/middleware/oidc_auth.rs
  crates/fraiseql-server/src/routes/auth.rs
  crates/fraiseql-server/src/routes/tests.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/auth.rs
  crates/fraiseql-server/src/server/routing/graphql.rs
  crates/fraiseql-server/src/server/routing/mod.rs
  crates/fraiseql-server/src/server/routing/observers.rs
  crates/fraiseql-server/src/tests.rs
  crates/fraiseql-server/src/token_revocation.rs
  crates/fraiseql-server/tests/revocation_pg_test.rs
Labels: documentation

fix(security): #Phase04 C2 H7 — sanitize REST error bodies, delete orphan middleware
  CHANGELOG.md
  crates/fraiseql-server/src/config/error_sanitization.rs
  crates/fraiseql-server/src/middleware/error_sanitization.rs
  crates/fraiseql-server/src/routes/rest/router/helpers.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
Labels: documentation

fix(security): #Phase04 C3 H12 — refuse to boot on field-encryption markers (write path is inert)
  CHANGELOG.md
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-secrets/README.md
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
Labels: documentation

fix(security): #Phase04 C4 H13 — delete dead encryption-audit logger + excise false compliance claims
  CHANGELOG.md
  crates/fraiseql-secrets/README.md
  crates/fraiseql-secrets/src/encryption/audit_logging.rs
  crates/fraiseql-secrets/src/encryption/audit_logging/tests.rs
  crates/fraiseql-secrets/src/encryption/mod.rs
  crates/fraiseql-secrets/src/lib.rs
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
