Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(server)!: remove broadcast + presence without replacement (#605)
  CHANGELOG.md
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/routes/realtime.rs
  crates/fraiseql-server/src/routes/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/mount_authz_tests.rs
  crates/fraiseql-server/src/server/routing/realtime_removal_survival_tests.rs
  crates/fraiseql-server/src/subscriptions/broadcast.rs
  crates/fraiseql-server/src/subscriptions/mod.rs
  crates/fraiseql-server/src/subscriptions/presence.rs
  crates/fraiseql-server/src/subscriptions/tests.rs
  crates/fraiseql-server/tests/realtime_integration_test.rs
Labels: documentation

feat(server)!: remove broadcast + presence without replacement (#605) (#668)
  CHANGELOG.md
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/routes/realtime.rs
  crates/fraiseql-server/src/routes/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/mount_authz_tests.rs
  crates/fraiseql-server/src/server/routing/realtime_removal_survival_tests.rs
  crates/fraiseql-server/src/subscriptions/broadcast.rs
  crates/fraiseql-server/src/subscriptions/mod.rs
  crates/fraiseql-server/src/subscriptions/presence.rs
  crates/fraiseql-server/src/subscriptions/tests.rs
  crates/fraiseql-server/tests/realtime_integration_test.rs
Labels: documentation

refactor(server): remove the dead AppState realtime-observer seam (#605)
  crates/fraiseql-server/src/routes/graphql/app_state.rs
Labels: none

refactor(server): remove the dead AppState realtime-observer seam (#605) (#669)
  crates/fraiseql-server/src/routes/graphql/app_state.rs
Labels: none

refactor(server): tear down realtime subsystem assembly + mount glue (#605)
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server/routing/mod.rs
  crates/fraiseql-server/src/server/routing/realtime_removal_survival_tests.rs
  crates/fraiseql-server/src/server/routing_tests.rs
  crates/fraiseql-server/src/subsystems/builder.rs
  crates/fraiseql-server/src/subsystems/mod.rs
  crates/fraiseql-server/src/subsystems/tests.rs
  crates/fraiseql-server/src/subsystems/validator.rs
  crates/fraiseql-server/tests/platform_e2e_test.rs
Labels: none

refactor(server): tear down realtime subsystem assembly + mount glue (#605) (#670)
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server/routing/mod.rs
  crates/fraiseql-server/src/server/routing/realtime_removal_survival_tests.rs
  crates/fraiseql-server/src/server/routing_tests.rs
  crates/fraiseql-server/src/subsystems/builder.rs
  crates/fraiseql-server/src/subsystems/mod.rs
  crates/fraiseql-server/src/subsystems/tests.rs
  crates/fraiseql-server/src/subsystems/validator.rs
  crates/fraiseql-server/tests/platform_e2e_test.rs
Labels: none

refactor(server)!: untangle the realtime config formats (#605)
  CHANGELOG.md
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/config/tests.rs
  crates/fraiseql-server/src/config/validation.rs
  crates/fraiseql-server/src/schema/loader.rs
  crates/fraiseql-server/src/schema/tests.rs
Labels: documentation

refactor(server)!: untangle the realtime config formats (#605) (#671)
  CHANGELOG.md
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/config/tests.rs
  crates/fraiseql-server/src/config/validation.rs
  crates/fraiseql-server/src/schema/loader.rs
  crates/fraiseql-server/src/schema/tests.rs
Labels: documentation

feat(server)!: delete the dormant /realtime/v1 module + leaf debris (#605)
  CHANGELOG.md
  crates/fraiseql-core/src/schema/subscription_policy.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/benches/realtime_bench.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/realtime/connections.rs
  crates/fraiseql-server/src/realtime/context_hash.rs
  crates/fraiseql-server/src/realtime/delivery.rs
  crates/fraiseql-server/src/realtime/mod.rs
  crates/fraiseql-server/src/realtime/observer.rs
  crates/fraiseql-server/src/realtime/protocol.rs
  crates/fraiseql-server/src/realtime/routes.rs
  crates/fraiseql-server/src/realtime/server.rs
  crates/fraiseql-server/src/realtime/subscription_policy.rs
  crates/fraiseql-server/src/realtime/subscription_policy/tests.rs
  crates/fraiseql-server/src/realtime/subscriptions.rs
  crates/fraiseql-server/src/realtime/tests.rs
  crates/fraiseql-server/tests/platform_e2e_test.rs
  crates/fraiseql-server/tests/subscription_row_visibility_pin_test.rs
  docs/architecture/enriched-identity-rls.md
Labels: documentation

feat(server)!: delete the dormant /realtime/v1 module + leaf debris (#605) (#672)
  CHANGELOG.md
  crates/fraiseql-core/src/schema/subscription_policy.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/benches/realtime_bench.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/realtime/connections.rs
  crates/fraiseql-server/src/realtime/context_hash.rs
  crates/fraiseql-server/src/realtime/delivery.rs
  crates/fraiseql-server/src/realtime/mod.rs
  crates/fraiseql-server/src/realtime/observer.rs
  crates/fraiseql-server/src/realtime/protocol.rs
  crates/fraiseql-server/src/realtime/routes.rs
  crates/fraiseql-server/src/realtime/server.rs
  crates/fraiseql-server/src/realtime/subscription_policy.rs
  crates/fraiseql-server/src/realtime/subscription_policy/tests.rs
  crates/fraiseql-server/src/realtime/subscriptions.rs
  crates/fraiseql-server/src/realtime/tests.rs
  crates/fraiseql-server/tests/platform_e2e_test.rs
  crates/fraiseql-server/tests/subscription_row_visibility_pin_test.rs
  docs/architecture/enriched-identity-rls.md
Labels: documentation

docs(changelog)!: consolidate the #605 realtime-removal breaking notes
  CHANGELOG.md
Labels: documentation

docs(changelog)!: consolidate the #605 realtime-removal breaking notes (#673)
  CHANGELOG.md
Labels: documentation

chore(server): drop unused direct deps pin-project + tokio-util
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
Labels: none

chore(server): drop unused direct deps pin-project + tokio-util (#674)
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
Labels: none

test(665): Phase 00 baseline pins for changelog + cascade conformance
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
Labels: none

fix(cli): enforce mutation requires_role — the authored role was dropped at compile (#676)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/tests/auto_mutation_error_union_test.rs
  crates/fraiseql-cli/tests/converter_field_survival_test.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
Labels: documentation

test(665): Phase 00 baseline pins for changelog + cascade conformance (#675)
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
Labels: none

fix(cli): enforce mutation requires_role — the authored role was dropped at compile (#676) (#678)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/tests/auto_mutation_error_union_test.rs
  crates/fraiseql-cli/tests/converter_field_survival_test.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
Labels: documentation

feat(core): add TypeDefinition.internal flag; changelog marks its projections (#665)
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/mutation_error_union.rs
  crates/fraiseql-cli/src/schema/converter/relay.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-core/src/schema/changelog.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/dependency_graph/tests.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/tests/security/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_runtime.rs
Labels: none

feat(core): add TypeDefinition.internal flag; changelog marks its projections (#665) (#679)
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/mutation_error_union.rs
  crates/fraiseql-cli/src/schema/converter/relay.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-core/src/schema/changelog.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/dependency_graph/tests.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/tests/security/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_runtime.rs
Labels: none

fix(cli,core): exclude framework projections from cascade classification (#665)
  .dagger/main.go
  Makefile
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  tools/check-internal-flag-sites.sh
Labels: none

fix(cli,core): exclude framework projections from cascade classification (#665) (#680)
  .dagger/main.go
  Makefile
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  tools/check-internal-flag-sites.sh
Labels: none

test(665): prove changelog + cascade compose; docs + CHANGELOG
  CHANGELOG.md
  crates/fraiseql-cli/tests/changelog_cascade_compose_e2e.rs
  crates/fraiseql-server/tests/changelog_cascade_compose_boot.rs
  docs/architecture/mutation-response.md
  docs/guides/changelog-graphql.md
Labels: documentation

test(665): prove changelog + cascade compose; docs + CHANGELOG (#681)
  CHANGELOG.md
  crates/fraiseql-cli/tests/changelog_cascade_compose_e2e.rs
  crates/fraiseql-server/tests/changelog_cascade_compose_boot.rs
  docs/architecture/mutation-response.md
  docs/guides/changelog-graphql.md
Labels: documentation

test(687): Phase 00 baseline pins for declared cascade-node identity
  crates/fraiseql-cli/src/schema/converter/tests.rs
Labels: none

test(687): Phase 00 baseline pins for declared cascade-node identity (#688)
  crates/fraiseql-cli/src/schema/converter/tests.rs
Labels: none

feat(core,cli): add TypeDefinition.embedded; exempt declared value objects from cascade classification (#687)
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/mutation_error_union.rs
  crates/fraiseql-cli/src/schema/converter/relay.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/intermediate/types.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/dependency_graph/tests.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/security/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_runtime.rs
Labels: none

feat(core,cli): add TypeDefinition.embedded; exempt declared value objects from cascade classification (#687) (#689)
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/mutation_error_union.rs
  crates/fraiseql-cli/src/schema/converter/relay.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/intermediate/types.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/dependency_graph/tests.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/security/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_runtime.rs
Labels: none

feat(python-sdk): add @fraiseql.type(embedded=True) value-object marker (#687 Phase 02)
  crates/fraiseql-cli/tests/embedded_value_object_cascade_e2e.rs
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/tests/test_embedded_value_object.py
  sdks/official/fraiseql-python/tests/test_golden_schema.py
  sdks/official/fraiseql-python/tests/test_types_export_minimal.py
  sdks/official/tests/fixtures/golden/python-sdk-02-embedded.json
Labels: tests

feat(python-sdk): add @fraiseql.type(embedded=True) value-object marker (#687 Phase 02) (#696)
  crates/fraiseql-cli/tests/embedded_value_object_cascade_e2e.rs
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/tests/test_embedded_value_object.py
  sdks/official/fraiseql-python/tests/test_golden_schema.py
  sdks/official/fraiseql-python/tests/test_types_export_minimal.py
  sdks/official/tests/fixtures/golden/python-sdk-02-embedded.json
Labels: tests

docs(687): document @fraiseql.type(embedded=True) + re-point cascade diagnostic (#687 Phase 03)
  CHANGELOG.md
  docs/adr/0017-entity-identity-contract.md
  docs/architecture/mutation-response.md
  docs/authoring.md
Labels: documentation

docs(687): document @fraiseql.type(embedded=True) + re-point cascade diagnostic (#687 Phase 03) (#697)
  CHANGELOG.md
  docs/adr/0017-entity-identity-contract.md
  docs/architecture/mutation-response.md
  docs/authoring.md
Labels: documentation

fix(cli): mark synthesized cascade envelope types @shareable for federation (#698)
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/tests/cascade_federation_shareable_e2e.rs
Labels: none

fix(cli): mark synthesized cascade envelope types @shareable for federation (#698) (#699)
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/tests/cascade_federation_shareable_e2e.rs
Labels: none

chore(release): prepare v2.14.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation

chore(release): prepare v2.14.0 (#700)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation

fix(ci): give release-smoke's --config a metrics_token so the published server boots
  .github/workflows/release-smoke.yml
Labels: ci

fix(ci): give release-smoke's --config a metrics_token so the published server boots (#702)
  .github/workflows/release-smoke.yml
Labels: ci

test(federation): real-composer regression for #698 cascade envelope @shareable
  Makefile
  crates/fraiseql-cli/tests/cascade_federation_shareable_e2e.rs
  crates/fraiseql-core/tests/federation_compose.rs
  crates/fraiseql-core/tests/fixtures/federation_compose/cascade_orders.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/cascade_users.graphql
  tools/federation/run-compose-check.sh
Labels: none

test(federation): real-composer regression for #698 cascade envelope @shareable (#703)
  Makefile
  crates/fraiseql-cli/tests/cascade_federation_shareable_e2e.rs
  crates/fraiseql-core/tests/federation_compose.rs
  crates/fraiseql-core/tests/fixtures/federation_compose/cascade_orders.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/cascade_users.graphql
  tools/federation/run-compose-check.sh
Labels: none
