Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

🐛 Fix dynamic filter construction for dictionary where clauses
  src/fraiseql/db.py
  tests/integration/database/repository/test_dynamic_filter_construction.py
Labels: tests

📚 Document WhereInput vs dictionary filter behavior
  docs/core-concepts/filtering-and-where-clauses.md
  tests/integration/database/repository/test_jsonb_vs_dict_filtering.py
Labels: documentation, tests

🐛 Fix dynamic filter construction for dictionary where clauses (#60)
  docs/core-concepts/filtering-and-where-clauses.md
  src/fraiseql/db.py
  tests/integration/database/repository/test_dynamic_filter_construction.py
  tests/integration/database/repository/test_jsonb_vs_dict_filtering.py
Labels: documentation, tests

🔖 Release v0.7.23 - Dynamic Filter Construction Fix
  docs/releases/RELEASE_NOTES_v0.7.23.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

🐛 Fix hybrid table filtering bug + performance optimization
  CHANGELOG.md
  README.md
  docs/api/hybrid-types.md
  docs/hybrid-tables.md
  src/fraiseql/db.py
  src/fraiseql/decorators/hybrid_type.py
  tests/integration/core/test_empty_string_validation_integration.py
  tests/integration/database/repository/test_hybrid_table_filtering_generic.py
  tests/performance/test_hybrid_table_performance.py
  tests/unit/core/type_system/test_empty_string_validation.py
  tests/unit/mutations/test_date_serialization_in_to_dict.py
  tests/unit/mutations/test_nested_input_conversion_comprehensive.py
  tests/unit/mutations/test_nested_input_json_serialization.py
  tests/unit/mutations/test_nested_input_json_serialization_fix.py
  tests/unit/mutations/test_populate_conflict_fields.py
  tests/unit/mutations/test_real_world_nested_input_scenario.py
  uv.lock
Labels: documentation, tests

🐛 Fix hybrid table filtering bug + performance optimization (#61)
  CHANGELOG.md
  README.md
  docs/api/hybrid-types.md
  docs/hybrid-tables.md
  src/fraiseql/db.py
  src/fraiseql/decorators/hybrid_type.py
  tests/integration/core/test_empty_string_validation_integration.py
  tests/integration/database/repository/test_hybrid_table_filtering_generic.py
  tests/performance/test_hybrid_table_performance.py
  tests/unit/core/type_system/test_empty_string_validation.py
  tests/unit/mutations/test_date_serialization_in_to_dict.py
  tests/unit/mutations/test_nested_input_conversion_comprehensive.py
  tests/unit/mutations/test_nested_input_json_serialization.py
  tests/unit/mutations/test_nested_input_json_serialization_fix.py
  tests/unit/mutations/test_populate_conflict_fields.py
  tests/unit/mutations/test_real_world_nested_input_scenario.py
  uv.lock
Labels: documentation, tests

🔖 Release v0.7.24 - Hybrid Table Filtering Bug Fix + Performance Optimization
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

🐛 Fix critical JSONB WHERE clause generation bugs + Industrial test coverage
  src/fraiseql/sql/operator_strategies.py
  tests/regression/where_clause/test_industrial_where_clause_generation.py
  tests/regression/where_clause/test_numeric_consistency_validation.py
  uv.lock
Labels: tests, sql

🔧 Update SQL injection prevention tests for consistent JSONB boolean handling
  tests/integration/database/sql/test_sql_injection_prevention.py
Labels: tests

🔧 Update WHERE generator tests for consistent JSONB boolean handling
  tests/integration/database/sql/test_where_generator.py
Labels: tests

✅ Improve SQL validation with precise structural tests
  tests/integration/database/sql/test_sql_injection_prevention.py
  tests/integration/database/sql/test_where_generator.py
  tests/regression/where_clause/test_precise_sql_validation.py
  tests/regression/where_clause/test_sql_structure_validation.py
Labels: tests

Add complete SQL validation for WHERE clause testing
  tests/integration/database/sql/test_where_generator.py
  tests/regression/where_clause/test_complete_sql_validation.py
Labels: tests

Fix final WHERE generator test with complete SQL validation
  tests/integration/database/sql/test_where_generator.py
Labels: tests

Fix nested dynamic type test with correct casting format
  tests/integration/database/sql/test_where_generator.py
Labels: tests

Fix final edge case test with correct casting format
  tests/integration/database/sql/test_where_generator.py
Labels: tests

Fix hostname test to match actual SQL rendering behavior
  tests/regression/where_clause/test_complete_sql_validation.py
Labels: tests

Fix SQL validation tests to match actual rendered output
  tests/regression/where_clause/test_complete_sql_validation.py
Labels: tests

Fix SQL injection test to handle proper quote escaping
  tests/regression/where_clause/test_complete_sql_validation.py
Labels: tests

🧪 Fix final test rendering issues for industrial WHERE clause validation
  tests/regression/where_clause/test_complete_sql_validation.py
  tests/regression/where_clause/test_precise_sql_validation.py
  tests/regression/where_clause/test_sql_structure_validation.py
  tests/unit/core/type_system/test_graphql_type.py
Labels: tests

🐛 Fix industrial WHERE clause generation bugs - v0.7.24 critical issues (#62)
  src/fraiseql/sql/operator_strategies.py
  tests/integration/database/sql/test_sql_injection_prevention.py
  tests/integration/database/sql/test_where_generator.py
  tests/regression/where_clause/test_complete_sql_validation.py
  tests/regression/where_clause/test_industrial_where_clause_generation.py
  tests/regression/where_clause/test_numeric_consistency_validation.py
  tests/regression/where_clause/test_precise_sql_validation.py
  tests/regression/where_clause/test_sql_structure_validation.py
  tests/unit/core/type_system/test_graphql_type.py
  uv.lock
Labels: tests, sql

🔖 Release v0.7.25 - Industrial WHERE Clause Generation Fix
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

✨ Add authentication-aware GraphQL introspection policy (#63)
  src/fraiseql/fastapi/config.py
  src/fraiseql/fastapi/dependencies.py
  src/fraiseql/graphql/execute.py
  tests/integration/auth/test_introspection_policy.py
  tests/integration/auth/test_schema_introspection_security.py
  uv.lock
Labels: tests

✨ Add authentication-aware GraphQL introspection policy (#63) (#64)
  src/fraiseql/fastapi/config.py
  src/fraiseql/fastapi/dependencies.py
  src/fraiseql/graphql/execute.py
  tests/integration/auth/test_introspection_policy.py
  tests/integration/auth/test_schema_introspection_security.py
  uv.lock
Labels: tests

🔖 Release v0.7.26 - Authentication-Aware GraphQL Introspection
  pyproject.toml
Labels: config, dependencies

✨ Phase 1: Add APQ extensions field to GraphQLRequest model
  src/fraiseql/fastapi/routers.py
  tests/test_apq_request_parsing.py
  uv.lock
Labels: tests

✨ Phase 2: Implement APQ detection logic and utilities
  src/fraiseql/middleware/apq.py
  tests/test_apq_detection.py
Labels: tests

✨ Phase 3: Implement APQ query hash storage system
  src/fraiseql/storage/__init__.py
  src/fraiseql/storage/apq_store.py
  tests/test_apq_storage.py
Labels: tests

✨ Phase 5: Complete APQ Middleware Integration with disciplined TDD
  src/fraiseql/fastapi/routers.py
  src/fraiseql/middleware/__init__.py
  src/fraiseql/middleware/apq.py
  tests/integration/middleware/test_apq_middleware_integration.py
  tests/test_apq_protocol.py
Labels: tests

✨ Implement APQ Storage Backend Abstraction for JSON Passthrough
  .github/ISSUE_TEMPLATE/beta-testing.md
  BETA_TESTING.md
  README.md
  RELEASE_NOTES_v0.7.22.md
  docs/README.md
  docs/advanced/apq-storage-backends.md
  docs/advanced/configuration.md
  docs/advanced/index.md
  docs/advanced/performance-optimization-layers.md
  docs/advanced/performance.md
  docs/development/fixes/NETWORK_OPERATOR_FIX.md
  docs/development/fixes/README.md
  docs/development/fixes/v055_production_workarounds.md
  docs/legacy/RELEASE_NOTES_v0.5.7.md
  docs/releases/CHANGELOG-v0.5.0-beta.md
  docs/releases/RELEASE_NOTES_v0.5.6.md
  docs/releases/RELEASE_NOTES_v0.5.7.md
  docs/releases/RELEASE_NOTES_v0.7.21.md
  docs/releases/RELEASE_NOTES_v0.7.23.md
  src/fraiseql/fastapi/config.py
  src/fraiseql/fastapi/routers.py
  src/fraiseql/middleware/apq_caching.py
  src/fraiseql/storage/apq_store.py
  src/fraiseql/storage/backends/__init__.py
  src/fraiseql/storage/backends/base.py
  src/fraiseql/storage/backends/factory.py
  src/fraiseql/storage/backends/memory.py
  src/fraiseql/storage/backends/postgresql.py
  src/fraiseql/storage/backends/redis.py
  tests/config/__init__.py
  tests/config/test_apq_backend_config.py
  tests/integration/test_apq_backends_integration.py
  tests/middleware/__init__.py
  tests/middleware/test_apq_caching.py
  tests/storage/__init__.py
  tests/storage/backends/__init__.py
  tests/storage/backends/test_base.py
  tests/storage/backends/test_factory.py
  tests/storage/backends/test_memory.py
  tests/storage/backends/test_postgresql_integration.py
Labels: documentation, tests

🔧 Fix version consistency between pyproject.toml and __init__.py
  src/fraiseql/__init__.py
Labels: none

🔖 Release v0.8.0 - APQ Storage Backend Abstraction
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

✨ Add entity-aware query routing for optimal performance and cache consistency
  src/fraiseql/execution/mode_selector.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/routing/__init__.py
  src/fraiseql/routing/config.py
  src/fraiseql/routing/entity_extractor.py
  src/fraiseql/routing/query_router.py
  tests/routing/__init__.py
  tests/routing/test_entity_routing_system.py
Labels: tests

✨ Add entity-aware query routing for optimal performance and cache consistency (#66)
  src/fraiseql/execution/mode_selector.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/routing/__init__.py
  src/fraiseql/routing/config.py
  src/fraiseql/routing/entity_extractor.py
  src/fraiseql/routing/query_router.py
  tests/routing/__init__.py
  tests/routing/test_entity_routing_system.py
Labels: tests

🔖 Release v0.8.1 - Entity-Aware Query Routing
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

✅ Add regression tests for IpAddress→IpAddressString scalar mapping
  tests/regression/test_graphql_ip_address_scalar_mapping.py
Labels: tests

✨ Add automatic docstring extraction for GraphQL schema descriptions
  src/fraiseql/core/graphql_type.py
  src/fraiseql/gql/builders/mutation_builder.py
  src/fraiseql/gql/builders/query_builder.py
  tests/integration/graphql/test_schema_descriptions.py
  tests/unit/core/type_system/test_type_descriptions.py
  tests/unit/decorators/test_query_descriptions.py
  uv.lock
Labels: tests, core

🐛 Fix integration test resolver coroutine issue
  tests/integration/graphql/test_schema_descriptions.py
Labels: tests

🔧 Simplify integration tests to avoid complex field introspection
  tests/integration/graphql/test_schema_descriptions.py
Labels: tests

🗑️ Remove integration test causing environment-specific issues
  tests/integration/graphql/test_schema_descriptions.py
Labels: tests

📚 Update documentation and achieve eternal sunshine code state
  README.md
  docs/core-concepts/type-system.md
  src/fraiseql/gql/builders/mutation_builder.py
  tests/unit/core/type_system/test_type_descriptions.py
  tests/unit/decorators/test_query_descriptions.py
Labels: documentation, tests
