Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

quality(mutation): expand cargo-mutants to auth and secrets crates
  .cargo/mutants.toml
  .github/workflows/mutation.yml
  .gitignore
  crates/fraiseql-auth/src/jwks.rs
  crates/fraiseql-auth/src/oidc_provider.rs
  crates/fraiseql-auth/src/pkce.rs
  crates/fraiseql-core/tests/projection_integration.rs
  crates/fraiseql-secrets/src/encryption/database_adapter.rs
  crates/fraiseql-secrets/src/encryption/rotation_api.rs
  mutants.toml
Labels: ci

quality(server): add AdmissionController overload stress tests
  crates/fraiseql-server/tests/backpressure_overload_test.rs
Labels: none

chore(release): add git-cliff changelog automation
  .github/workflows/changelog-check.yml
  Makefile
  cliff.toml
  releasing.md
Labels: documentation, ci

quality(bench): add dhat memory profiling in CI
  .github/workflows/bench.yml
  Cargo.lock
  Makefile
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/benches/memory_profile.rs
Labels: ci

fix(db): cast numeric params in Gt/Gte/Lt/Lte WHERE operators + clean deny.toml
  Cargo.lock
  Cargo.toml
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_gt.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_gte.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_lt.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_lte.snap
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-db/tests/snapshots/dialect_snapshots__pg_operators__gt.snap
  crates/fraiseql-db/tests/snapshots/dialect_snapshots__pg_operators__gte.snap
  crates/fraiseql-db/tests/snapshots/dialect_snapshots__pg_operators__lt.snap
  crates/fraiseql-db/tests/snapshots/dialect_snapshots__pg_operators__lte.snap
  deny.toml
Labels: none

Release v1.10.1 (#311)
  CHANGELOG.md
  Dockerfile
  deploy/docker/Dockerfile.distroless
  deploy/docker/Dockerfile.hardened
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/__version__.py
  src/fraiseql/db.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/fastapi/turbo.py
  src/fraiseql/mutations/mutation_decorator.py
  tests/mocks/shared.py
  tests/unit/fastapi/test_config_session_variables.py
  tests/unit/test_session_variables.py
  uv.lock
Labels: documentation, tests, mutations, config, dependencies

quality(cli): expand compiler diagnostic snapshot coverage to 32 tests
  crates/fraiseql-cli/tests/diagnostic_snapshots.rs
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_circuit_breaker_per_database_unknown_entity.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_circuit_breaker_per_database_zero_failure_threshold.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_circuit_breaker_per_database_zero_recovery_timeout.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_circuit_breaker_per_database_zero_success_threshold.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_circuit_breaker_zero_recovery_timeout.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_circuit_breaker_zero_success_threshold.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_database_invalid_ssl_mode.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_federation_entity_typo_suggests_correction.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_mutation_type_typo_suggests_correction.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_security_invalid_key_size.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_security_invalid_nonce_size.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_security_leak_sensitive_details.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_security_rate_limit_zero_max_requests.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_security_rate_limit_zero_window.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_security_role_empty_name.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_security_role_no_scopes.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_security_unsupported_encryption_algorithm.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_server_port_zero.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_tls_invalid_min_version.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_tls_missing_cert_file.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_tls_missing_key_file.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_unknown_toml_key.snap
Labels: none

docs: add # Panics sections and remove blanket missing_panics_doc allows
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/proxy.rs
  crates/fraiseql-auth/src/rate_limiting.rs
  crates/fraiseql-core/src/apq/hasher.rs
  crates/fraiseql-core/src/compiler/compilation_cache.rs
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/runtime/field_filter.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-core/src/validation/checksum.rs
  crates/fraiseql-core/src/validation/custom_type_registry/registry.rs
  crates/fraiseql-federation/src/dependency_graph.rs
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/metrics/registry.rs
  crates/fraiseql-observers/src/testing.rs
  crates/fraiseql-secrets/src/lib.rs
  crates/fraiseql-server/src/config/validation.rs
  crates/fraiseql-server/src/federation/health_checker.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/middleware/cors.rs
  crates/fraiseql-server/src/subscriptions/protocol.rs
  crates/fraiseql-webhooks/src/config.rs
  crates/fraiseql-webhooks/src/lib.rs
  crates/fraiseql-webhooks/src/testing.rs
  crates/fraiseql-wire/src/lib.rs
Labels: none

quality(auth): remove 26 crate-level clippy allows, delete dead files, reorganize audit module
  crates/fraiseql-auth/src/audit/chain.rs
  crates/fraiseql-auth/src/audit/logger.rs
  crates/fraiseql-auth/src/audit/mod.rs
  crates/fraiseql-auth/src/audit_file.rs
  crates/fraiseql-auth/src/audit_logging_tests.rs
  crates/fraiseql-auth/src/audit_syslog.rs
  crates/fraiseql-auth/src/constant_time.rs
  crates/fraiseql-auth/src/constant_time_tests.rs
  crates/fraiseql-auth/src/error_sanitization_tests.rs
  crates/fraiseql-auth/src/handlers.rs
  crates/fraiseql-auth/src/integration_security_tests.rs
  crates/fraiseql-auth/src/jwks.rs
  crates/fraiseql-auth/src/jwt.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/monitoring.rs
  crates/fraiseql-auth/src/oauth/client.rs
  crates/fraiseql-auth/src/oauth/failover.rs
  crates/fraiseql-auth/src/oauth/provider.rs
  crates/fraiseql-auth/src/oauth/refresh.rs
  crates/fraiseql-auth/src/oauth/types.rs
  crates/fraiseql-auth/src/oidc_provider.rs
  crates/fraiseql-auth/src/oidc_server_client.rs
  crates/fraiseql-auth/src/operation_rbac.rs
  crates/fraiseql-auth/src/pkce.rs
  crates/fraiseql-auth/src/providers/auth0.rs
  crates/fraiseql-auth/src/providers/github.rs
  crates/fraiseql-auth/src/providers/keycloak.rs
  crates/fraiseql-auth/src/providers/logto.rs
  crates/fraiseql-auth/src/providers/okta.rs
  crates/fraiseql-auth/src/proxy.rs
  crates/fraiseql-auth/src/rate_limiting.rs
  crates/fraiseql-auth/src/security_config.rs
  crates/fraiseql-auth/src/security_tests.rs
  crates/fraiseql-auth/src/session_postgres.rs
  crates/fraiseql-auth/src/state_encryption.rs
Labels: none

chore: fix release workflow tiers, add doc-link imports, fix federation Cargo.toml metadata
  .github/workflows/release.yml
  crates/fraiseql-core/src/cache/cascade_invalidator.rs
  crates/fraiseql-core/src/cache/uuid_extractor.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/aggregate_projector.rs
  crates/fraiseql-core/src/security/auth_middleware/middleware.rs
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-observers/src/matcher.rs
  crates/fraiseql-observers/src/resilience/per_endpoint.rs
  crates/fraiseql-observers/src/resilience/strategies.rs
  crates/fraiseql-wire/src/client/fraise_client.rs
  crates/fraiseql-wire/src/client/query_builder.rs
  crates/fraiseql-wire/src/connection/transport.rs
Labels: ci

quality(db): remove 33 crate-level clippy allows from fraiseql-db
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/types/sql_hints.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_sql_generator.rs
Labels: none

quality(secrets): remove 24 crate-level clippy allows from fraiseql-secrets
  crates/fraiseql-secrets/src/encryption/audit_logging.rs
  crates/fraiseql-secrets/src/encryption/compliance.rs
  crates/fraiseql-secrets/src/encryption/credential_rotation.rs
  crates/fraiseql-secrets/src/encryption/dashboard.rs
  crates/fraiseql-secrets/src/encryption/database_adapter.rs
  crates/fraiseql-secrets/src/encryption/error_recovery.rs
  crates/fraiseql-secrets/src/encryption/mapper.rs
  crates/fraiseql-secrets/src/encryption/middleware.rs
  crates/fraiseql-secrets/src/encryption/mod.rs
  crates/fraiseql-secrets/src/encryption/performance.rs
  crates/fraiseql-secrets/src/encryption/query_builder.rs
  crates/fraiseql-secrets/src/encryption/refresh_trigger.rs
  crates/fraiseql-secrets/src/encryption/rotation_api.rs
  crates/fraiseql-secrets/src/encryption/schema.rs
  crates/fraiseql-secrets/src/encryption/transaction.rs
  crates/fraiseql-secrets/src/lib.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/env.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/file.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/backend.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/mod.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/tests.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/validation.rs
  crates/fraiseql-secrets/src/secrets_manager/mod.rs
  crates/fraiseql-secrets/src/secrets_manager/types.rs
Labels: none

quality(federation): remove 15 crate-level clippy allows from fraiseql-federation
  crates/fraiseql-federation/src/composition_validator.rs
  crates/fraiseql-federation/src/connection_manager.rs
  crates/fraiseql-federation/src/entity_resolver.rs
  crates/fraiseql-federation/src/http_resolver.rs
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/metadata_helpers.rs
  crates/fraiseql-federation/src/query_builder.rs
  crates/fraiseql-federation/src/requires_provides_validator.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_executor/mod.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/requires.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/src/types.rs
Labels: none

fix(federation): replace manual range checks with contains()
  crates/fraiseql-federation/src/connection_manager.rs
Labels: none

feat(core): add MAX_VARIABLES_COUNT guard to RequestValidator
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/security/query_validator.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
Labels: none

feat(server): wire OpenAPI spec to /api/v1/openapi.json endpoint
  crates/fraiseql-server/src/routes/api/mod.rs
Labels: none

docs: create DEPRECATIONS.md with policy and current items
  DEPRECATIONS.md
Labels: documentation

docs(architecture): document async_trait migration candidates
  docs/architecture/async-trait-migration.md
Labels: documentation

docs: add getting-started video tutorial outline
  docs/getting-started-video-outline.md
Labels: documentation

feat(server): add global error sanitization middleware
  crates/fraiseql-server/src/middleware/error_sanitization.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/server/routing.rs
Labels: none

feat(server): add rate limit Prometheus metrics
  crates/fraiseql-server/src/middleware/rate_limit/dispatch.rs
  crates/fraiseql-server/src/middleware/rate_limit/in_memory.rs
  crates/fraiseql-server/src/middleware/rate_limit/mod.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/server/routing.rs
Labels: none

chore(sdks): align all 10 SDK versions to 2.1.0
  sdks/official/fraiseql-csharp/src/FraiseQL/FraiseQL.csproj
  sdks/official/fraiseql-dart/pubspec.yaml
  sdks/official/fraiseql-elixir/mix.exs
  sdks/official/fraiseql-fsharp/src/FraiseQL/FraiseQL.fsproj
  sdks/official/fraiseql-go/fraiseql/version.go
  sdks/official/fraiseql-java/pom.xml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-ruby/lib/fraiseql.rb
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-typescript/package.json
Labels: none

chore(sdks): complete packaging metadata for 5 secondary SDKs
  sdks/official/fraiseql-csharp/src/FraiseQL/FraiseQL.csproj
  sdks/official/fraiseql-dart/pubspec.yaml
  sdks/official/fraiseql-fsharp/src/FraiseQL/FraiseQL.fsproj
  sdks/official/fraiseql-php/composer.json
  sdks/official/fraiseql-ruby/fraiseql.gemspec
Labels: none

ci: add cargo-semver-checks job for PR API compatibility checks
  .github/workflows/ci.yml
Labels: ci

perf(cache): shard LRU cache into 64 stripes for reduced lock contention
  crates/fraiseql-core/src/cache/config.rs
  crates/fraiseql-core/src/cache/result.rs
Labels: none

docs(architecture): add pool auto-tuning design document
  docs/architecture/pool-tuning.md
Labels: documentation

fix: resolve CI blockers and improve quality across workspace
  .github/workflows/ci.yml
  .github/workflows/perf-baseline.yml
  Cargo.lock
  crates/fraiseql-arrow/src/clickhouse_sink.rs
  crates/fraiseql-arrow/src/flight_server/handlers/do_exchange.rs
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
  crates/fraiseql-core/src/compiler/window_functions/planner.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-observers/src/executor/retry.rs
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-observers/src/search/http.rs
  crates/fraiseql-observers/src/ssrf.rs
  crates/fraiseql-secrets/src/encryption/rotation_api.rs
  crates/fraiseql-server/src/middleware/rate_limit/in_memory.rs
  crates/fraiseql-server/tests/secrets_manager_integration_test.rs
  deny.toml
  docs/README.md
  docs/mcp.md
Labels: documentation, ci

feat(cli): add `fraiseql doctor` diagnostic command (#129)
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/runner.rs
Labels: none

feat(sdks): add REST annotation support to 6 SDKs (#130)
  sdks/official/fraiseql-csharp/src/FraiseQL/Builders/MutationBuilder.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Builders/QueryBuilder.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Models/IntermediateMutation.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Models/IntermediateQuery.cs
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/RestAnnotationTests.cs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Dsl.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/MutationBuilder.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/QueryBuilder.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/SchemaExporter.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/SchemaRegistry.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Types.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/FraiseQL.Tests.fsproj
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/RestAnnotationTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaExporterTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaRegistryTests.fs
  sdks/official/fraiseql-go/fraiseql/decorators.go
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-go/fraiseql/rest_annotations_test.go
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/RestAnnotationTest.java
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_rest_annotations.py
  sdks/official/fraiseql-typescript/src/decorators.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/rest-annotations.test.ts
Labels: tests

feat(sqlite): add direct-SQL mutation support (#135)
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/traits.rs
  docs/architecture/overview.md
Labels: documentation

feat(observers): replace email action stub with real SMTP via lettre (#131)
  Cargo.lock
  Cargo.toml
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/config/mod.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/config/tests.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/lib.rs
Labels: none

feat(core): complete ELO validation — age(), length(), SQL constraints, JS codegen (#132)
  crates/fraiseql-core/src/validation/compile_time.rs
  crates/fraiseql-core/src/validation/elo_expressions.rs
  crates/fraiseql-core/src/validation/js_codegen.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(server): add cloud storage backends — GCS, Azure Blob, S3/R2 (#134)
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/config/validation.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/storage/azure.rs
  crates/fraiseql-server/src/storage/gcs.rs
  crates/fraiseql-server/src/storage/local.rs
  crates/fraiseql-server/src/storage/mod.rs
  crates/fraiseql-server/src/storage/s3.rs
  crates/fraiseql-server/src/storage/tests.rs
Labels: none

feat(server): add S3-compatible European storage providers (#134)
  crates/fraiseql-server/src/config/validation.rs
  crates/fraiseql-server/src/storage/mod.rs
  crates/fraiseql-server/src/storage/tests.rs
Labels: none

feat(cli): add `fraiseql federation gateway` command (#128)
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/gateway/config.rs
  crates/fraiseql-cli/src/commands/gateway/merger.rs
  crates/fraiseql-cli/src/commands/gateway/mod.rs
  crates/fraiseql-cli/src/commands/gateway/planner.rs
  crates/fraiseql-cli/src/commands/gateway/server.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/runner.rs
Labels: none

fix(release): phase 1 release blockers — P01, P02, P03
  Cargo.toml
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/tests/error_rate_limiter_memory.rs
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation/entity_connection.rs
  crates/fraiseql-core/tests/federation/entity_where_clause.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-db/src/types/db_types.rs
  crates/fraiseql-error/Cargo.toml
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/src/database_resolver.rs
  crates/fraiseql-federation/src/entity_resolver.rs
  crates/fraiseql-federation/src/query_builder.rs
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-secrets/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-test-utils/Cargo.toml
  crates/fraiseql-webhooks/Cargo.toml
  crates/fraiseql/Cargo.toml
Labels: none

fix(tests): resolve 17 pre-existing test failures across workspace
  crates/fraiseql-core/src/security/oidc/tests.rs
  crates/fraiseql-server/tests/api_query_tests.rs
  crates/fraiseql-server/tests/error_handling_validation_test.rs
  crates/fraiseql-server/tests/example_validation_test.rs
  crates/fraiseql-server/tests/integration/server_e2e_test.rs
  crates/fraiseql-server/tests/profile_error_redaction_test.rs
  crates/fraiseql-webhooks/src/signature/twilio.rs
Labels: none

feat(python-sdk): restore 4 missing features — crud, tenant_scoped, inject_defaults, UNSET (#122-#125)
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-python/src/fraiseql/config.py
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/src/fraiseql/unset.py
  sdks/official/fraiseql-python/tests/test_decorators.py
Labels: tests

chore: phase 2 quick wins — SAFETY comments, deny.toml as single audit source
  .github/workflows/ci.yml
  .github/workflows/security-compliance.yml
  .github/workflows/security.yml
  crates/fraiseql-arrow/src/flight_server/convert.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-arrow/src/metadata.rs
  crates/fraiseql-cli/src/commands/generate_views.rs
  crates/fraiseql-core/src/compiler/lowering.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/mod.rs
  crates/fraiseql-core/src/runtime/executor/explain.rs
  crates/fraiseql-core/src/runtime/executor/planning.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/runtime/window.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-federation/src/mutation_query_builder.rs
  crates/fraiseql-wire/src/client/query_builder.rs
  deny.toml
Labels: ci

chore(lints): promote missing_errors_doc and missing_panics_doc to deny
  Cargo.toml
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
