Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

chore(ci): add observers-nats combo to feature flags matrix
  .github/workflows/feature-flags.yml
Labels: ci

chore(ci): scope Go staticcheck to ./fraiseql/... package
  .github/workflows/go-sdk.yml
Labels: ci

feat(fsharp-sdk): add REST annotation support to QueryDefinition and MutationDefinition
  sdks/official/fraiseql-fsharp/src/FraiseQL/Dsl.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/MutationBuilder.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/QueryBuilder.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Types.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaExporterTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaRegistryTests.fs
Labels: none

chore(docker): update :full image to include all optional features
  .github/workflows/docker-build.yml
Labels: ci

fix(docs): resolve 49 rustdoc broken intra-doc links
  crates/fraiseql-arrow/src/cache.rs
  crates/fraiseql-auth/src/rate_limiting.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/schema/introspection_types.rs
  crates/fraiseql-core/src/security/audit.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-core/src/utils/clock.rs
  crates/fraiseql-db/src/projection_generator.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-error/src/lib.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/backend.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/mod.rs
  crates/fraiseql-server/src/resilience/mod.rs
  crates/fraiseql-server/src/server_config/observers.rs
  crates/fraiseql-webhooks/src/lib.rs
Labels: none

feat(server): add HTTP header count and size limits
  crates/fraiseql-server/src/middleware/header_limits.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/server_config/defaults.rs
  crates/fraiseql-server/src/server_config/mod.rs
Labels: none

chore(ci): document cargo-audit ignore rationale in security.yml
  .github/workflows/security.yml
Labels: ci

perf(core): use Arc::unwrap_or_clone on cache hits and Vec::with_capacity in mutation args
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
Labels: none

docs(architecture): document error type hierarchy and boundaries
  crates/fraiseql-auth/src/error.rs
  crates/fraiseql-error/src/auth.rs
  crates/fraiseql-error/src/observer.rs
  crates/fraiseql-observers/src/error.rs
  crates/fraiseql-wire/src/auth/mod.rs
  docs/architecture/error-hierarchy.md
Labels: documentation

docs(architecture): document Config vs Settings semantic distinction
  crates/fraiseql-server/src/server_config/mod.rs
  docs/architecture/config-vs-settings.md
Labels: documentation

docs: create DEPRECATIONS.md and troubleshooting guide
  DEPRECATIONS.md
  docs/operations/troubleshooting.md
Labels: documentation

chore(ci): consolidate security workflows
  .github/workflows/security-compliance.yml
  .github/workflows/security.yml
Labels: ci

chore(ci): add CodeQL SAST and expand feature flag matrix
  .github/workflows/codeql.yml
  .github/workflows/feature-flags.yml
Labels: ci

feat(server): wire observer health into health check endpoint
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/health.rs
  crates/fraiseql-server/src/server/routing.rs
Labels: none

feat(server): add rate limiting sanity warning to startup validation
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
Labels: none

perf(build): replace tokio "full" with minimal feature set
  Cargo.toml
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-secrets/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-webhooks/Cargo.toml
  crates/fraiseql-wire/Cargo.toml
Labels: none

test(server): strengthen assertions in graphql_http_layer_test.rs
  crates/fraiseql-server/src/middleware/header_limits.rs
  crates/fraiseql-server/tests/graphql_http_layer_test.rs
Labels: none

test(server): strengthen assertions in profile_query_limits_test.rs
  crates/fraiseql-server/tests/profile_query_limits_test.rs
Labels: none

test(server): strengthen assertions in request validation and introspection tests
  crates/fraiseql-server/tests/graphql_request_validation_test.rs
  crates/fraiseql-server/tests/introspection_security_test.rs
Labels: none

test(core): strengthen assertions in query_optimization_validation_test.rs
  crates/fraiseql-core/tests/query_optimization_validation_test.rs
Labels: none

test(core): strengthen assertions in validation_rate_limiting.rs
  crates/fraiseql-core/tests/validation_rate_limiting.rs
Labels: none

docs: create feature compatibility matrix
  docs/features-compatibility-matrix.md
Labels: documentation

feat(config): add mutation_timing configuration
  crates/fraiseql-core/src/config/database.rs
  crates/fraiseql-core/src/config/mod.rs
Labels: none

feat(postgres): inject started_at session variable before mutations
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/integration_tests.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
Labels: none

docs: document mutation timing feature
  docs/features/mutation-timing.md
Labels: documentation

refactor(arrow): replace Box<dyn Error> with ArrowFlightError in schema inference
  crates/fraiseql-arrow/src/schema_gen.rs
Labels: none

fix(ci): remove broken federation entry, gate auth tests, upgrade matrix to cargo test
  .github/workflows/feature-flags.yml
  crates/fraiseql-server/src/routes/graphql/tests.rs
Labels: ci

feat(secrets): add health_check and name methods to SecretsBackend trait
  crates/fraiseql-secrets/src/encryption/middleware.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/env.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/file.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/backend.rs
  crates/fraiseql-secrets/src/secrets_manager/mod.rs
  crates/fraiseql-secrets/src/secrets_manager/types.rs
  crates/fraiseql-secrets/tests/encryption_rotation_test.rs
Labels: none

feat(server): wire cache/secrets health probes and implement 3-tier status
  crates/fraiseql-server/src/routes/health.rs
Labels: none

test(core): strengthen assertions in validation, security, and compiler modules
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/compiler/enum_validator.rs
  crates/fraiseql-core/src/compiler/validator.rs
  crates/fraiseql-core/src/security/auth_middleware/middleware.rs
  crates/fraiseql-core/src/security/field_filter.rs
  crates/fraiseql-core/src/security/tls_enforcer.rs
  crates/fraiseql-core/src/validation/composite.rs
  crates/fraiseql-core/src/validation/cross_field.rs
  crates/fraiseql-core/src/validation/date_validators.rs
  crates/fraiseql-core/src/validation/id_policy.rs
  crates/fraiseql-core/src/validation/mutual_exclusivity.rs
Labels: none

test(auth): strengthen assertions in rate_limiting, RBAC, and state_store
  crates/fraiseql-auth/src/operation_rbac.rs
  crates/fraiseql-auth/src/rate_limiting.rs
  crates/fraiseql-auth/src/state_store.rs
Labels: none

test(observers,secrets): strengthen assertions in observer and vault tests
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/config/tests.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-secrets/src/encryption/query_builder.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/tests.rs
Labels: none

test(federation,arrow): strengthen assertions in http_resolver, saga, and arrow conversion
  crates/fraiseql-arrow/src/convert.rs
  crates/fraiseql-federation/src/http_resolver.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
Labels: none

test(core): strengthen assertions in input validation modules
  crates/fraiseql-core/src/validation/async_validators.rs
  crates/fraiseql-core/src/validation/custom_type_registry/tests.rs
  crates/fraiseql-core/src/validation/input_object.rs
  crates/fraiseql-core/src/validation/input_processor.rs
Labels: none

fix: resolve compile errors and clippy warnings across workspace
  crates/fraiseql-federation/src/connection_manager.rs
  crates/fraiseql-server/tests/secrets_manager_integration_test.rs
Labels: none

test(core): strengthen cache and config assertions
  crates/fraiseql-core/src/cache/cascade_invalidator.rs
  crates/fraiseql-core/src/cache/cascade_response_parser.rs
  crates/fraiseql-core/src/cache/entity_key.rs
  crates/fraiseql-core/src/config/mod.rs
Labels: none

test(core): strengthen remaining compiler assertions
  crates/fraiseql-core/src/compiler/fact_table/tests.rs
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/compiler/parser.rs
  crates/fraiseql-core/src/compiler/window_allowlist.rs
  crates/fraiseql-core/src/compiler/window_functions/tests.rs
Labels: none

test(auth,arrow): strengthen remaining integration test assertions
  crates/fraiseql-arrow/tests/schema_refresh_test.rs
  crates/fraiseql-auth/tests/error_oidc_integration.rs
Labels: none

test(secrets): strengthen remaining encryption assertions
  crates/fraiseql-secrets/src/encryption/audit_logging.rs
  crates/fraiseql-secrets/src/encryption/credential_rotation.rs
  crates/fraiseql-secrets/src/encryption/mapper.rs
  crates/fraiseql-secrets/src/encryption/mod.rs
  crates/fraiseql-secrets/src/encryption/refresh_trigger.rs
  crates/fraiseql-secrets/src/encryption/rotation_api.rs
  crates/fraiseql-secrets/src/encryption/schema.rs
  crates/fraiseql-secrets/src/encryption/transaction.rs
Labels: none

test(wire): strengthen wire protocol assertions
  crates/fraiseql-wire/src/auth/scram.rs
  crates/fraiseql-wire/src/client/connection_string.rs
  crates/fraiseql-wire/src/connection/state.rs
  crates/fraiseql-wire/src/connection/transport.rs
  crates/fraiseql-wire/src/json/validate.rs
  crates/fraiseql-wire/src/operators/field.rs
  crates/fraiseql-wire/src/operators/order_by.rs
  crates/fraiseql-wire/src/operators/where_operator.rs
  crates/fraiseql-wire/src/stream/filter.rs
  crates/fraiseql-wire/src/stream/json_stream.rs
  crates/fraiseql-wire/src/stream/typed_stream.rs
Labels: none
