Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

test(release): the lockfile-freshness self-test follows the SDK version
  tools/tests/sdk_lockfile_freshness_test.sh
Labels: none

chore(release): prepare v2.16.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  README.md
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-server/tests/fixtures/federation/schema_reviews.json
  crates/fraiseql-server/tests/fixtures/federation/schema_users.json
  crates/fraiseql-wire/fuzz/Cargo.toml
  deploy/kubernetes/helm/fraiseql/Chart.yaml
  deploy/kubernetes/helm/fraiseql/values.yaml
  docker-compose.yml
  docker/e2e/schema.compiled.json
  docker/e2e/schema.with-source.compiled.json
  docs/architecture/overview.md
  docs/runbooks/01-deployment.md
  docs/runbooks/04-memory-pressure.md
  docs/value-proposition.md
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-python/uv.lock
  sdks/official/fraiseql-rust/Cargo.lock
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation

fix(release): every Cargo.lock records its path packages at their manifests' version
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-arrow/fuzz/Cargo.lock
  crates/fraiseql-auth/fuzz/Cargo.lock
  crates/fraiseql-core/fuzz/Cargo.lock
  crates/fraiseql-db/fuzz/Cargo.lock
  crates/fraiseql-federation/fuzz/Cargo.lock
  crates/fraiseql-secrets/fuzz/Cargo.lock
  crates/fraiseql-server/fuzz/Cargo.lock
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.lock
  tools/check-cargo-lock-path-versions.py
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/cargo_lock_path_versions_test.sh
  tools/tests/release_helpers_test.sh
Labels: documentation

fix(observers): a NATS dispatch longer than ack_wait is not redelivered
  crates/fraiseql-observers/src/transport/mod.rs
  crates/fraiseql-observers/src/transport/nats.rs
  crates/fraiseql-observers/src/transport/tests.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

test(observers): an event whose runtime died mid-dispatch is still redelivered
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

feat(observers): a failed progress acknowledgement is logged and counted
  CHANGELOG.md
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/transport/mod.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/tests/metrics_integration_test.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  docs/operations/observer-idempotency.md
Labels: documentation

feat(sql): error_entry builds an errors[] entry whose identifier is a translation key
  crates/fraiseql-cli/sql/helpers/mutation_response.sql
  crates/fraiseql-cli/tests/setup_against_db.rs
  docs/architecture/mutation-response.md
  sql/helpers/mutation_response.sql
Labels: documentation

feat(server): an opt-in check flags mutation failures with no translatable errors[] entry
  CHANGELOG.md
  crates/fraiseql-cli/tests/setup_against_db.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/tests/mutation_error_shape_check.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
  crates/fraiseql-server/tests/metrics_integration_test.rs
  docs/architecture/mutation-response.md
Labels: documentation

feat(cli): `federation sdl` prints exactly what `_service { sdl }` serves
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/federation/mod.rs
  crates/fraiseql-cli/src/commands/federation/sdl.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/tests/federation_sdl_against_db.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
Labels: none

test(cli): `federation sdl` refuses a schema that is not a federated subgraph
  .dagger/main.go
  Makefile
  crates/fraiseql-cli/src/commands/federation/sdl.rs
  crates/fraiseql-cli/tests/federation_sdl_against_db.rs
  crates/fraiseql-server/tests/federation_integration_test.rs
Labels: none

docs(changelog): `fraiseql federation sdl` (#1427)
  CHANGELOG.md
Labels: documentation

fix(aggregates): a mapped dimension answers under the key the request grouped by
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/tests/aggregate_native_dimension_mapping.rs
Labels: none

fix(aggregates): `where` reads a mapped dimension's column, cast as the column is
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-core/tests/aggregate_native_dimension_mapping.rs
Labels: none

fix(aggregates): a dimension mapping fires whichever casing its key is declared in
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/tests/aggregate_native_dimension_mapping.rs
Labels: none

fix(aggregates): a fact table that declares one dimension twice is refused
  CHANGELOG.md
  crates/fraiseql-cli/tests/compile_refuses_what_load_refuses_test.rs
  crates/fraiseql-core/src/compiler/fact_table/mod.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/schema/compiled/fact_table_links.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
Labels: documentation

fix(subscriptions): a filter binds the argument however the document spells it
  crates/fraiseql-core/src/runtime/executor/subscription_plan.rs
  crates/fraiseql-core/src/runtime/subscription/arguments.rs
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/runtime/subscription/mod.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/tests/subscription_pipeline_e2e_pg.rs
  crates/fraiseql-server/tests/subscription_ws_e2e_test.rs
Labels: none

fix(subscriptions): an argument the subscription does not declare is refused
  crates/fraiseql-core/src/runtime/subscription/arguments.rs
  crates/fraiseql-server/tests/subscription_pipeline_e2e_pg.rs
Labels: none

fix(subscriptions): an argument value of the wrong type is refused
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/subscription/arguments.rs
  crates/fraiseql-server/tests/subscription_pipeline_e2e_pg.rs
Labels: documentation

fix(release): a re-cut of an untagged version folds into its section
  CHANGELOG.md
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/release_helpers_test.sh
Labels: documentation

docs(core): link MutationErrorShapeCheck without a redundant target
  crates/fraiseql-core/src/runtime/mod.rs
Labels: none

fix(subscriptions): a filter value sent as an undefined variable is refused, not dropped
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/subscription_plan_tests.rs
  crates/fraiseql-core/src/runtime/subscription/arguments.rs
  crates/fraiseql-server/tests/subscription_pipeline_e2e_pg.rs
Labels: documentation

fix(db): a SQL NULL decodes to null without a type-drift warning
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/tests/postgres_column_decode_test.rs
Labels: documentation

fix(aggregation): output aliases keep the requested key's case
  CHANGELOG.md
  crates/fraiseql-core/src/compiler/tests.rs
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/partial_period_builder.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/window.rs
  crates/fraiseql-core/tests/aggregate_native_dimension_mapping.rs
  crates/fraiseql-core/tests/aggregate_output_alias_casing.rs
  crates/fraiseql-core/tests/e2e_window_functions.rs
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__cumulative_sum__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__dense_rank__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__filtered__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__frame_exclusion__exclude_current_row_postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__lag__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__last_value__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__lead__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__moving_average__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__multiple_windows__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__ntile__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__rank__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__row_number__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__stddev_variance__stddev_postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__stddev_variance__variance_postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__with_limit_offset__postgres.snap
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__with_limit_offset__postgres.snap.new
Labels: documentation

fix(release): the Rust SDK publishes with the token the repository has
  .dagger/main.go
  .github/workflows/release.yml
  .github/workflows/rust-sdk.yml
  CHANGELOG.md
  Makefile
  tools/check-publish-secrets.py
  tools/tests/publish_secrets_test.sh
Labels: documentation, ci

fix(aggregates): a declared dimension path is read at its declared location
  CHANGELOG.md
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/compiler/fact_table/mod.rs
  crates/fraiseql-core/src/compiler/fact_table/tests.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/mod.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/runtime/window_parser.rs
  crates/fraiseql-core/tests/aggregate_dimension_paths.rs
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
Labels: documentation

fix(aggregates)!: compile and load refuse a dimension json_path the runtime cannot read
  CHANGELOG.md
  crates/fraiseql-cli/tests/compile_refuses_what_load_refuses_test.rs
  crates/fraiseql-core/src/compiler/fact_table/detector.rs
  crates/fraiseql-core/src/compiler/fact_table/tests.rs
  crates/fraiseql-core/src/schema/compiled/fact_table_links.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  docs/modules/fact-table.md
Labels: documentation

fix(aggregates)!: a dimension mapping must name a declared filter column
  CHANGELOG.md
  crates/fraiseql-cli/tests/compile_refuses_what_load_refuses_test.rs
  crates/fraiseql-core/src/schema/compiled/fact_table_links.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  docs/architecture/intermediate-schema.md
Labels: documentation

fix(window): a window where reads filter columns and mapped dimensions from their column
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/runtime/window_parser.rs
  crates/fraiseql-core/tests/aggregate_native_dimension_mapping.rs
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__cumulative_sum__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__dense_rank__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__filtered__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__frame_exclusion__exclude_current_row_postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__lag__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__last_value__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__lead__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__moving_average__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__multiple_windows__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__ntile__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__rank__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__row_number__postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__stddev_variance__stddev_postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__stddev_variance__variance_postgres.snap.new
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__with_limit_offset__postgres.snap.new
Labels: documentation

test(server): pin that a header session variable is never fed from the header
  crates/fraiseql-server/tests/session_variable_header_source_e2e_pg.rs
  tools/suite-coverage-exemptions.toml
Labels: none

feat(locale): [locale] resolves one locale per request and reaches read SQL
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/mod.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-cli/tests/seam_coverage_manifest_test.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/support/security.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/request_locale.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/locale.rs
  crates/fraiseql-core/src/schema/locale/tests.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/request_locale.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/reload_gate.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
  docs/features/request-locale.md
Labels: documentation

feat(locale): resolution order pinned per branch; an enrichment source is a consumer
  crates/fraiseql-core/src/schema/compiled/schema_lookup.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
  docs/features/request-locale.md
Labels: documentation

feat(locale): every transport runs in the request locale, anonymous requests included
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-server/src/arrow/policy_seam.rs
  crates/fraiseql-server/src/async_operations/store.rs
  crates/fraiseql-server/src/async_operations/worker.rs
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/routes/async_operations.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
  crates/fraiseql-server/tests/locale_grpc_e2e_pg.rs
Labels: documentation

test(locale): a write never carries the locale, on any write entry point
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
Labels: none

feat(locale): the request locale is its own section of the result-cache key
  CHANGELOG.md
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/request_locale.rs
  crates/fraiseql-core/tests/where_typed_annotation_is_transparent.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
Labels: documentation

feat(locale): a text sort follows the request locale's collation
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/schema/locale.rs
  crates/fraiseql-core/tests/locale_collation.rs
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-db/src/order_by/tests.rs
  crates/fraiseql-db/src/types/sql_hints.rs
Labels: none

feat(locale): every text sort site follows the request locale's collation
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/mod.rs
  crates/fraiseql-core/src/runtime/aggregation/partial_period_builder.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/window.rs
  crates/fraiseql-core/tests/locale_collation.rs
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
Labels: none

fix(relay)!: a cursor page under a non-cursor orderBy is refused, not answered wrong
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/tests/locale_collation.rs
Labels: documentation

feat(locale): boot refuses a locale whose collation the database lacks
  CHANGELOG.md
  crates/fraiseql-cli/tests/locale_projection_proof_test.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
  docs/features/request-locale.md
Labels: documentation

feat(locale): a localized field is returned as the request locale's label
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/mutation_error_union.rs
  crates/fraiseql-cli/src/schema/converter/relay.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/intermediate/types.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/compile_refuses_what_load_refuses_test.rs
  crates/fraiseql-cli/tests/converter_field_survival_test.rs
  crates/fraiseql-cli/tests/converter_inject_params_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/request_locale.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-core/tests/security/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_runtime.rs
  crates/fraiseql-db/src/projection_generator.rs
Labels: documentation

feat(locale): every read path returns a localized field as the request locale's label
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-core/src/runtime/request_locale.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
  crates/fraiseql-server/tests/locale_grpc_e2e_pg.rs
  crates/fraiseql-server/tests/subscription_pipeline_e2e_pg.rs
Labels: none
