Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

test(integration): Clean up test names to remove phase references
  tests/integration/database/sql/where/README.md
  tests/integration/database/sql/where/test_mixed_datetime.py
  tests/integration/database/sql/where/test_mixed_hostname.py
Labels: tests

docs: Update references for reorganized integration tests [PHASE-4]
  CONTRIBUTING.md
  docs/architecture/type-operator-architecture.md
Labels: documentation

docs: Document integration test reorganization in CHANGELOG
  CHANGELOG.md
Labels: documentation

test(integration): Move WHERE tests to organized structure [PHASE-3]
  tests/integration/database/sql/where/network/test_consistency.py
  tests/integration/database/sql/where/network/test_ip_filtering.py
  tests/integration/database/sql/where/network/test_ip_operations.py
  tests/integration/database/sql/where/network/test_jsonb_integration.py
  tests/integration/database/sql/where/network/test_mac_filtering.py
  tests/integration/database/sql/where/network/test_mac_operations.py
  tests/integration/database/sql/where/network/test_network_fixes.py
  tests/integration/database/sql/where/network/test_production_bugs.py
  tests/integration/database/sql/where/spatial/test_coordinate_operations.py
  tests/integration/database/sql/where/specialized/test_ltree_filtering.py
  tests/integration/database/sql/where/specialized/test_ltree_operations.py
  tests/integration/database/sql/where/temporal/test_daterange_filtering.py
  tests/integration/database/sql/where/temporal/test_daterange_operations.py
  tests/integration/database/sql/where/test_mixed_phase4.py
  tests/integration/database/sql/where/test_mixed_phase5.py
Labels: tests

test(integration): Create WHERE test directory structure [PHASE-2]
  tests/integration/database/sql/where/README.md
  tests/integration/database/sql/where/__init__.py
  tests/integration/database/sql/where/network/README.md
  tests/integration/database/sql/where/network/__init__.py
  tests/integration/database/sql/where/spatial/README.md
  tests/integration/database/sql/where/spatial/__init__.py
  tests/integration/database/sql/where/specialized/README.md
  tests/integration/database/sql/where/specialized/__init__.py
  tests/integration/database/sql/where/temporal/README.md
  tests/integration/database/sql/where/temporal/__init__.py
Labels: tests

refactor(tests): reorganize mutation tests to pipeline-based structure
  CHANGELOG.md
  QA_REPORT.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/mutation/tests/README.md
  fraiseql_rs/src/mutation/tests/auto_populate_fields_tests.rs
  fraiseql_rs/src/mutation/tests/classification.rs
  fraiseql_rs/src/mutation/tests/composite_tests.rs
  fraiseql_rs/src/mutation/tests/edge_case_tests.rs
  fraiseql_rs/src/mutation/tests/error_array_generation.rs
  fraiseql_rs/src/mutation/tests/format_tests.rs
  fraiseql_rs/src/mutation/tests/integration.rs
  fraiseql_rs/src/mutation/tests/mod.rs
  fraiseql_rs/src/mutation/tests/parsing.rs
  fraiseql_rs/src/mutation/tests/properties.rs
  fraiseql_rs/src/mutation/tests/response_building.rs
  fraiseql_rs/src/mutation/tests/validation_tests.rs
Labels: documentation

fix(tests): Use as_string(None) for SQL comparisons in MAC tests
  tests/integration/database/sql/where/network/test_mac_operations.py
Labels: tests

feat(operators): Add _cast_both_sides method to BaseOperatorStrategy
  src/fraiseql/sql/operators/base.py
Labels: sql

feat(mutations): auto-populate status and errors fields in success responses
  CHANGELOG.md
  README.md
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/mutation/tests/auto_populate_fields_tests.rs
  fraiseql_rs/src/mutation/tests/mod.rs
Labels: documentation

feat: implement consistent SQL type casting across all operators
  CHANGELOG.md
  CONTRIBUTING.md
  src/fraiseql/sql/operators/advanced/coordinate_operators.py
  src/fraiseql/sql/operators/base.py
  src/fraiseql/sql/operators/postgresql/daterange_operators.py
  src/fraiseql/sql/operators/postgresql/macaddr_operators.py
  src/fraiseql/sql/operators/postgresql/network_operators.py
  tests/integration/database/sql/where/MIGRATION_HISTORY.md
  tests/integration/database/sql/where/QUICK_REFERENCE.md
  tests/integration/database/sql/where/network/test_consistency.py
  tests/integration/database/sql/where/network/test_ip_operations.py
  tests/integration/database/sql/where/network/test_jsonb_integration.py
  tests/integration/database/sql/where/network/test_network_fixes.py
  tests/integration/database/sql/where/network/test_production_bugs.py
  tests/integration/database/sql/where/spatial/test_coordinate_operations.py
  tests/integration/database/sql/where/temporal/test_daterange_operations.py
Labels: documentation, tests, sql

docs(architecture): comprehensive mutation schema fix analysis
  .phases/mutation-schema-fix/IMPLEMENTATION_SUMMARY.md
  .phases/mutation-schema-fix/README.md
  .phases/mutation-schema-fix/phase-1-root-cause.md
  .phases/mutation-schema-fix/phase-2-fix-implementation.md
  .phases/mutation-schema-fix/phase-3-testing.md
  .phases/mutation-schema-fix/phase-4-migration.md
Labels: none

fix(mutations): add auto-populated fields to schema and implement field selection
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/mutation/tests/properties.rs
  fraiseql_rs/src/mutation/tests/response_building.rs
  src/fraiseql/mutations/decorators.py
Labels: mutations

fix(mutations): extract selected fields from GraphQL query for response filtering
  CHANGELOG.md
  src/fraiseql/mutations/mutation_decorator.py
  tests/integration/test_mutation_field_queries.py
  tests/integration/test_mutation_schema_complete.py
  tests/test_mutation_field_selection_integration.py
  tests/unit/mutations/test_auto_populate_schema.py
  tests/unit/mutations/test_field_extraction.py
  tests/unit/mutations/test_rust_field_selection.py
Labels: documentation, tests, mutations

feat(mutations): add diagnostic logging and edge case tests [Phase 0]
  fraiseql_rs/src/mutation/response_builder.rs
  pyproject.toml
  src/fraiseql/mutations/decorators.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/rust_executor.py
  tests/mutations/test_field_extraction_edge_cases.py
Labels: tests, mutations, config, dependencies

feat(mutations): auto-inject code field on Error types [Phase 1]
  src/fraiseql/mutations/decorators.py
  src/fraiseql/mutations/mutation_decorator.py
  tests/test_mutation_field_selection_integration.py
Labels: tests, mutations

refactor(mutations): clean up Rust response builder [Phase 2]
  fraiseql_rs/src/mutation/response_builder.rs
Labels: none

feat(mutations): add named fragment support and canary tests [Phase 3]
  src/fraiseql/mutations/mutation_decorator.py
  tests/mutations/test_canary.py
  tests/mutations/test_field_extraction_edge_cases.py
Labels: tests, mutations

docs: update CHANGELOG for v1.8.1 release [Phase 5]
  CHANGELOG.md
Labels: documentation

docs(CHANGELOG): clarify database layer and code computation
  CHANGELOG.md
Labels: documentation

docs(CHANGELOG): add multiple entities pattern documentation
  CHANGELOG.md
Labels: documentation

test(mutations): add test for multiple entity fields pattern
  CHANGELOG.md
  fraiseql_rs/src/mutation/tests/mod.rs
  fraiseql_rs/src/mutation/tests/test_multiple_entities.rs
  tests/integration/graphql/mutations/test_multiple_entity_fields.py
Labels: documentation, tests

feat(mutations): add multiple entity extraction support for Error types [TDD]
  CHANGELOG.md
  fraiseql_rs/src/mutation/response_builder.rs
  tests/integration/graphql/mutations/test_decorators.py
  tests/integration/graphql/mutations/test_multiple_entity_fields.py
Labels: documentation, tests

test(mutations): enable native error arrays integration tests (WP-034)
  tests/integration/graphql/mutations/test_native_error_arrays.py
Labels: tests

test(mutations): fix native error arrays test fixtures and setup
  tests/integration/graphql/mutations/test_native_error_arrays.py
Labels: tests

refactor(examples): clean up mutation type versioning inconsistencies
  docs/audits/examples_versioning_audit_2025-12-12.md
  examples/context_parameters/schema.sql
  examples/mutations_demo/README.md
  examples/mutations_demo/_old_init.sql.deprecated
  examples/mutations_demo/mutation_functions.sql
  examples/mutations_demo/setup.sql
Labels: documentation

refactor(examples): remove deprecated init.sql file from mutations_demo
  examples/mutations_demo/README.md
  examples/mutations_demo/_old_init.sql.deprecated
Labels: none

docs(phases): mark Phase 4 complete and add mutation test documentation
  .phases/fraiseql-auto-injection-redesign/PHASE_4_COMPLETE.md
  .phases/fraiseql-auto-injection-redesign/README.md
  tests/test_mutation_field_selection_integration.py
  tests/unit/mutations/README.md
  tests/unit/mutations/test_field_selection_performance.py
  tests/unit/mutations/test_named_fragments.py
  tests/unit/mutations/test_rust_field_selection.py
Labels: tests

test(mutations): update tests for v1.8.1 field semantics [Phase 1]
  tests/unit/decorators/test_decorators.py
  tests/unit/mutations/test_auto_populate_schema.py
Labels: tests

test(integration): skip WP-034 tests pending schema refresh feature [Phase 1.5]
  tests/integration/graphql/mutations/conftest.py
  tests/integration/graphql/mutations/test_native_error_arrays.py
Labels: tests

test(fastapi): add schema refresh API tests [RED]
  tests/unit/fastapi/test_schema_refresh.py
Labels: tests

feat(fastapi): add schema refresh API [GREEN]
  src/fraiseql/fastapi/app.py
  src/fraiseql/testing/__init__.py
  src/fraiseql/testing/schema_utils.py
  tests/conftest.py
  tests/unit/fastapi/test_schema_refresh.py
Labels: tests

docs(testing): document schema refresh API and mark WP-034 for investigation [QA]
  docs/testing.md
  tests/integration/graphql/mutations/conftest.py
  tests/integration/graphql/mutations/test_native_error_arrays.py
Labels: documentation, tests

test(helpers): add SQL rendering utility + discover API mismatch [Phase 2.1]
  .phases/phase2-critical-findings.md
  tests/helpers/__init__.py
  tests/helpers/sql_rendering.py
  tests/helpers/test_sql_rendering.py
Labels: tests

test(core): fix special types tier1 API parameter order and SQL rendering [Phase 3.1]
  .phases/reference-docs/README-fraiseql-test-remediation.md
  .phases/reference-docs/README.md
  .phases/reference-docs/field-selection-implementation-summary.md
  .phases/reference-docs/field-selection-test-coverage-implementation-plan.md
  .phases/reference-docs/field-selection-test-coverage-improvement-prompt.md
  .phases/reference-docs/field-selection-test-coverage-summary.md
  .phases/reference-docs/fix-markdown-linting.md
  .phases/reference-docs/fraiseql-phase1-and-phase1.5-complete.md
  .phases/reference-docs/fraiseql-phase1-complete.md
  .phases/reference-docs/fraiseql-phase1-execution-guide.md
  .phases/reference-docs/fraiseql-phase1.5-blocker-analysis.md
  .phases/reference-docs/fraiseql-phase1.5-integration-test-infrastructure.md
  .phases/reference-docs/fraiseql-test-remediation-decision-matrix.md
  .phases/reference-docs/fraiseql-test-remediation-executive-summary.md
  .phases/reference-docs/fraiseql-test-suite-100-percent-plan-UPDATED.md
  .phases/reference-docs/fraiseql-test-suite-100-percent-plan.md
  .phases/reference-docs/fraiseql-test-suite-remediation-strategy.md
  .phases/reference-docs/fraiseql-v181-migration-issue.md
  .phases/reference-docs/fraiseql_examples_versioning_audit.md
  .phases/reference-docs/phase0-coverage-gaps.md
  .phases/schema-refresh-api/README.md
  .phases/schema-refresh-api/phase-1-red.md
  .phases/schema-refresh-api/phase-2-green.md
  .phases/schema-refresh-api/phase-3-refactor.md
  .phases/schema-refresh-api/phase-4-qa.md
  .phases/test-failure-deep-analysis.md
  src/fraiseql/fastapi/app.py
  src/fraiseql/sql/operators/core/numeric_operators.py
  tests/core/test_all_special_types_fix.py
  tests/core/test_field_type_propagation.py
  tests/core/test_jsonb_network_casting_fix.py
  tests/core/test_production_fix_validation.py
  tests/core/test_special_types_tier1_core.py
  tests/regression/where_clause/test_complete_sql_validation.py
  tests/regression/where_clause/test_industrial_where_clause_generation.py
  tests/regression/where_clause/test_numeric_consistency_validation.py
  tests/regression/where_clause/test_precise_sql_validation.py
  tests/regression/where_clause/test_sql_structure_validation.py
Labels: tests, sql

fix(mutations): remove diagnostic logging and fix test fixtures [Phase 3.1]
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/rust_executor.py
  tests/integration/test_mutation_schema_complete.py
  tests/regression/test_field_conversion_underscore_number_id_bug.py
Labels: tests, mutations

test(regression): fix network filtering API parameter order and method names [Phase 3.2]
  tests/regression/v0_5_7/test_network_filtering_regression.py
Labels: tests

test(unit): fix field type extraction SQL rendering [Phase 3.3]
  tests/integration/repository/test_specialized_types_repository_integration.py
  tests/unit/graphql/test_field_type_extraction.py
Labels: tests

fix(db): fix repository operator strategy API and implement IP auto-detection [Phase 3.4]
  src/fraiseql/db.py
  src/fraiseql/sql/operators/fallback/comparison_operators.py
  src/fraiseql/sql/operators/fallback/list_operators.py
Labels: sql

feat: implement Phase 1 of field name conversion integration
  tests/integration/repository/test_field_name_mapping_integration.py
Labels: tests

fix: support deeply nested WHERE clauses with field name conversion
  src/fraiseql/where_normalization.py
  tests/integration/repository/test_field_name_mapping_integration.py
Labels: tests
