Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(types): add support for recursive/self-referential types (Issue #255)
  src/fraiseql/core/graphql_type.py
  src/fraiseql/sql/graphql_where_generator.py
  tests/unit/core/type_system/test_recursive_types.py
Labels: tests, core, sql

feat(observers): Phase 1 - Event transport abstraction layer [NATS]
  crates/fraiseql-observers/src/error.rs
  crates/fraiseql-observers/src/executor.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/transport/in_memory.rs
  crates/fraiseql-observers/src/transport/mod.rs
  crates/fraiseql-observers/src/transport/postgres_notify.rs
Labels: none

chore(release): bump version to v1.9.16
  CHANGELOG.md
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

feat(phase-9.1): NATS Client Wrapper - Connection, publish, subscribe logic
  fraisier/fraisier/nats/__init__.py
  fraisier/fraisier/nats/client.py
  fraisier/fraisier/nats/events.py
  fraisier/pyproject.toml
  fraisier/tests/test_nats_client.py
Labels: tests

feat(phase-9.3): Provider Integration - Add NatsEventProvider mixin to all providers
  fraisier/fraisier/nats/__init__.py
  fraisier/fraisier/nats/provider.py
  fraisier/fraisier/providers/bare_metal.py
  fraisier/fraisier/providers/coolify.py
  fraisier/fraisier/providers/docker_compose.py
Labels: none

feat(phase-9.2): NATS JetStream Transport Implementation
  crates/fraiseql-observers/src/transport/nats.rs
Labels: none

feat(phase-9.4): Subscribers & Handlers - Event handler registry and callbacks
  fraisier/fraisier/nats/__init__.py
  fraisier/fraisier/nats/subscribers.py
  fraisier/tests/test_subscribers.py
Labels: tests

chore(infra): Add NATS JetStream to docker-compose
  docker-compose.test.yml
  docker-compose.yml
Labels: none

fix(observers): Mark doctest as ignore (uses testing feature)
  crates/fraiseql-observers/src/executor.rs
Labels: none

feat(observers): PostgreSQL-to-NATS bridge with checkpoint persistence
  crates/fraiseql-observers/migrations/03_add_nats_transport.sql
  crates/fraiseql-observers/src/transport/bridge.rs
  crates/fraiseql-observers/src/transport/mod.rs
Labels: none

feat(phase-9.5): Configuration & Compose - NATS service and environment variables
  fraisier/.env.example
  fraisier/docker-compose.yml
  fraisier/fraisier/nats/__init__.py
  fraisier/fraisier/nats/config.py
  fraisier/monitoring/nats.conf
Labels: none

feat(observers): Phase 2 - NATS transport configuration and bridge tests
  crates/fraiseql-observers/src/config.rs
  crates/fraiseql-observers/tests/bridge_integration.rs
Labels: none

feat(phase-9.6): Testing - Unit, integration, E2E tests for NATS integration
  fraisier/tests/test_nats_config.py
  fraisier/tests/test_nats_integration.py
Labels: tests

feat(phase-9.7): Documentation - NATS integration guide, examples, and troubleshooting
  fraisier/docs/NATS_EXAMPLES.md
  fraisier/docs/NATS_INTEGRATION_GUIDE.md
  fraisier/docs/NATS_TROUBLESHOOTING.md
Labels: none

feat(observers): Phase 3 - MySQL to NATS bridge implementation
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/migrations/04_add_mysql_nats_transport.sql
  crates/fraiseql-observers/src/transport/mod.rs
  crates/fraiseql-observers/src/transport/mysql_bridge.rs
Labels: none

feat(phase-10.1): API Reference Documentation - Complete REST API endpoints, CLI commands, and webhook integration guide
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/migrations/05_add_mssql_nats_transport.sql
  crates/fraiseql-observers/src/transport/mod.rs
  crates/fraiseql-observers/src/transport/mssql_bridge.rs
  fraisier/.claude/PHASE_10_COMPLETE_DOCUMENTATION_PLAN.md
  fraisier/docs/API_REFERENCE.md
  fraisier/docs/CLI_REFERENCE.md
  fraisier/docs/WEBHOOK_REFERENCE.md
Labels: none

feat(phase-10.1): Event Reference Documentation - Complete NATS event types, filtering, replay, and integration patterns
  fraisier/docs/EVENT_REFERENCE.md
Labels: none

feat(phase-10.2): Getting Started Guides - SQLite, PostgreSQL, MySQL, Docker Compose setups with production examples
  fraisier/docs/GETTING_STARTED_DOCKER.md
  fraisier/docs/GETTING_STARTED_MYSQL.md
  fraisier/docs/GETTING_STARTED_POSTGRES.md
  fraisier/docs/GETTING_STARTED_SQLITE.md
Labels: none

docs: Phase 10 completion summary (10.1-10.2 complete, 9,200+ lines documented)
  fraisier/.claude/PHASE_10_COMPLETION_SUMMARY.md
Labels: none

feat(phase-10.3): Provider Setup Guides - Bare Metal (SSH+systemd), Docker Compose, and Coolify deployment guides with security best practices
  fraisier/docs/PROVIDER_BARE_METAL.md
  fraisier/docs/PROVIDER_COOLIFY.md
  fraisier/docs/PROVIDER_DOCKER_COMPOSE.md
Labels: none

feat(phase-10.4): Monitoring Setup Guide - Prometheus, Grafana dashboards, alerting rules, NATS integration, and advanced monitoring
  fraisier/docs/MONITORING_SETUP.md
Labels: none

feat(phase-10.5): Troubleshooting Guide - 50+ scenarios with debug commands
  fraisier/docs/TROUBLESHOOTING.md
Labels: none

feat(phase-10.6): Real-World Examples - 4 production configurations
  fraisier/docs/REAL_WORLD_EXAMPLES.md
Labels: none

feat(phase-10.7): FAQ and Advanced Topics - Complete knowledge base
  fraisier/docs/FAQ_AND_ADVANCED_TOPICS.md
Labels: none

chore(phase-10): Update INDEX.md with Phase 10 documentation overview
  fraisier/docs/INDEX.md
Labels: none

feat(phase-6): Observer Management API - CRUD endpoints and database schema
  crates/fraiseql-observers/migrations/06_create_observer_management.sql
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/observers/config.rs
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/mod.rs
  crates/fraiseql-server/src/observers/repository.rs
  crates/fraiseql-server/src/observers/routes.rs
Labels: none

feat(phase-7): Observer Runtime - Server integration and execution loop
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/mod.rs
  crates/fraiseql-server/src/observers/routes.rs
  crates/fraiseql-server/src/observers/runtime.rs
Labels: none

docs: Add TODO for January 23, 2026 session
  TODO_20260123.md
Labels: documentation

docs(todo): Create comprehensive TODO for 2026-01-23 cleanup and FraiseQL alignment
  fraisier/TODO_20260123.md
Labels: none

test(phase-1): Observer E2E integration tests - Priority 1 complete
  .claude/OBSERVER_E2E_IMPLEMENTATION.md
  OBSERVER_E2E_TESTS.md
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/observability/metrics.rs
  crates/fraiseql-server/tests/observer_e2e_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: documentation

feat(phase-7): Observer Runtime - Server Integration with Graceful Shutdown
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/src/server_config.rs
Labels: none

fix(observers): Remove clippy warnings from Phase 7 code
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/mod.rs
  crates/fraiseql-server/src/observers/repository.rs
Labels: none

test(observers): Runtime integration tests - Priority 1 complete
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

test(observers): Fix runtime integration tests and add basic lifecycle validation
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

fix(observers): Fix Debezium envelope format and wildcard entity matching
  crates/fraiseql-observers/src/matcher.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

test(observers): Add extensive debug tests for webhook execution pipeline
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

fix(observers): Fix critical query bugs in ChangeLogListener
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-server/src/observers/runtime.rs
Labels: none

fix(observers): Fix ChangeLogListener query to handle nullable fields and correct timestamp type
  crates/fraiseql-observers/src/listener/change_log.rs
Labels: none

test(observers): Fix unused variable warnings in integration tests
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

feat(observers): Complete Phase 2 investigation - Observer webhook execution working
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/executor.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none
