Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(types): use GraphQL built-in ID scalar to avoid reserved type conflict
  src/fraiseql/types/scalars/graphql_utils.py
  src/fraiseql/types/scalars/id_scalar.py
Labels: types

test(types): update ID type tests for GraphQL built-in ID scalar
  tests/types/test_id_type.py
Labels: tests

fix(ci): resolve pre-existing CI stability issues
  .github/workflows/docs-validation.yml
  .pre-commit-config.yaml
  tox.ini
Labels: config, ci

docs(readme): fix v1.10.0 description to reflect actual features
  README.md
Labels: documentation

chore(release): bump version to v1.9.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

feat(where): add IDPolicy-aware filter mapping for ID fields
  src/fraiseql/sql/graphql_where_generator.py
  tests/config/test_id_policy.py
Labels: tests, sql

chore(release): bump version to v1.9.3
  CHANGELOG.md
  Cargo.toml
  README.md
  deploy/docker/Dockerfile
  deploy/docker/Dockerfile.hardened
  docs/archive/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix(where): use IDFilter for ID type regardless of policy (Scenario A)
  CHANGELOG.md
  Cargo.lock
  src/fraiseql/sql/graphql_where_generator.py
  tests/config/test_id_policy.py
  uv.lock
Labels: documentation, tests, sql

chore(release): bump version to v1.9.4
  CHANGELOG.md
  Cargo.toml
  README.md
  deploy/docker/Dockerfile
  deploy/docker/Dockerfile.hardened
  docs/archive/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

docs: add backport plan for critical v1.9.2-v1.9.4 fixes
  .phases/BACKPORT-CRITICAL-FIXES-v1.9.4.md
Labels: none

docs: add v2.0.0 implementation status and release readiness assessment
  .phases/IMPLEMENTATION-STATUS-v2.0.0-CANDIDATE.md
Labels: none

test(starlette): add critical APQ and WHERE clause parity tests
  tests/starlette/test_parity.py
Labels: tests

docs(v2.0.0): add comprehensive release notes, migration guide, and final verification
  .phases/V2.0.0-FINAL-VERIFICATION-SUMMARY.md
  .phases/V2.0.0-RELEASE-NOTES.md
  docs/STARLETTE-MIGRATION-GUIDE.md
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
  tests/starlette/test_parity.py
Labels: documentation, tests

fix(ci): use manylinux_2_28 for GLIBC compatibility (Issue #220)
  .github/workflows/publish.yml
Labels: ci

docs: update README for v2.0.0 release
  README.md
  docs/STARLETTE-SERVER.md
  docs/features/fragments.md
  docs/getting-started/quickstart.md
Labels: documentation

chore(release): bump version to v1.9.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

fix(ci): install OpenSSL dev packages in manylinux container
  .github/workflows/publish.yml
Labels: ci

docs: reframe v2.0.0 messaging for accurate pluggable architecture
  README.md
  docs/AXUM-NATIVE-SERVER.md
  docs/FRAMEWORK-COMPARISON.md
  docs/STARLETTE-SERVER.md
  docs/getting-started/quickstart.md
Labels: documentation

feat(phase-2): Python wrapper for Axum HTTP server (7-10x faster)
  PHASE_2_COMPLETION_SUMMARY.md
  PHASE_2_IMPLEMENTATION_PLAN.md
  examples/axum_quickstart.py
  src/fraiseql/__init__.py
  src/fraiseql/axum.pyi
  src/fraiseql/axum/__init__.py
  src/fraiseql/axum/app.py
  src/fraiseql/axum/config.py
  src/fraiseql/axum/server.py
Labels: documentation

test(phase-2): Add 43 unit tests and comprehensive QA report
  PHASE_2_QA_PLAN.md
  PHASE_2_QA_REPORT.md
  src/fraiseql/axum/server.py
  tests/examples/__init__.py
  tests/integration/axum/__init__.py
  tests/performance/axum/__init__.py
  tests/unit/axum/__init__.py
  tests/unit/axum/__pycache__/__init__.cpython-313.pyc
  tests/unit/axum/__pycache__/test_config.cpython-313-pytest-8.4.2.pyc
  tests/unit/axum/__pycache__/test_server.cpython-313-pytest-8.4.2.pyc
  tests/unit/axum/test_config.py
  tests/unit/axum/test_server.py
Labels: documentation, tests

feat(axum): implement custom CORS configuration (Phase 3A)
  examples/axum_cors_configuration.py
  src/fraiseql/axum/cors.py
  tests/unit/axum/test_cors.py
Labels: tests

feat(axum): implement custom middleware support (Phase 3B)
  examples/axum_middleware_examples.py
  src/fraiseql/axum/middleware.py
  tests/unit/axum/test_middleware.py
Labels: tests

feat(axum): add GraphQL Playground configuration (Phase 3C)
  examples/axum_playground_examples.py
  src/fraiseql/axum/playground.py
  tests/unit/axum/test_playground.py
Labels: tests

feat(axum): add OpenAPI/Swagger documentation (Phase 3D)
  examples/axum_openapi_examples.py
  src/fraiseql/axum/openapi.py
  tests/unit/axum/test_openapi.py
Labels: tests

docs: add Phase 3 completion summary
  PHASE_3_COMPLETION_SUMMARY.md
Labels: documentation

docs: add comprehensive Phase 2 + Phase 3 QA report
  PHASE_2_3_QA_REPORT.md
Labels: documentation

docs: add quality reinforcement summary
  QUALITY_REINFORCEMENT_SUMMARY.md
Labels: documentation

feat(axum): implement Phase 3E advanced configuration options
  examples/axum_phase_3e_configuration.py
  src/fraiseql/axum/config.py
  tests/unit/axum/test_config.py
Labels: tests

chore(phase-3): Phase 3F final polish and QA complete
  PHASE_3F_FINAL_POLISH_QA.md
Labels: documentation

refactor(clippy): Fix all remaining Rust clippy warnings
  fraiseql_rs/src/cache/coherency_validator.rs
  fraiseql_rs/src/cache/monitoring.rs
  fraiseql_rs/src/cache/query_result.rs
  fraiseql_rs/src/cache/tests_integration_e2e.rs
  fraiseql_rs/src/cache/tests_monitoring.rs
  fraiseql_rs/src/http/auth_middleware.rs
  fraiseql_rs/src/http/benchmarks.rs
  fraiseql_rs/src/http/http2_integration_tests.rs
  fraiseql_rs/src/http/py_bindings.rs
  fraiseql_rs/src/http/tests.rs
  fraiseql_rs/src/rbac/py_bindings.rs
  fraiseql_rs/src/rbac/row_constraints.rs
  fraiseql_rs/src/subscriptions/connection_manager.rs
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/stress_utils.rs
Labels: none

feat: enable stricter ruff rules for better code quality
  pyproject.toml
Labels: config, dependencies

feat: achieve 0 Python code quality violations
  benchmarks/vectorstore_integration_benchmark.py
  pyproject.toml
  src/fraiseql/axum/server.py
Labels: config, dependencies

feat: complete Rust clippy::pedantic compliance
  fraiseql_rs/src/cache/coherency_validator.rs
  fraiseql_rs/src/http/operation_metrics_middleware.rs
  fraiseql_rs/src/http/operation_monitor.rs
  fraiseql_rs/src/http/py_bindings.rs
  fraiseql_rs/src/rbac/py_bindings.rs
  fraiseql_rs/src/rbac/row_constraints.rs
  fraiseql_rs/src/rbac/where_merger.rs
Labels: none

docs: add comprehensive code quality review and cleanup strategy
  QUALITY_REVIEW_AND_CLEANUP_STRATEGY.md
Labels: documentation

chore(docs): eliminate documentation debt through comprehensive consolidation
  docs/README.md
  docs/STRUCTURE.md
  docs/api/http-server.md
  docs/archive/README.md
  docs/archive/phases/PHASE_1_DOCUMENTATION_COMPLETE.md
  docs/archive/phases/PHASE_2_3_QA_REPORT.md
  docs/archive/phases/PHASE_2_COMPLETION_SUMMARY.md
  docs/archive/phases/PHASE_2_IMPLEMENTATION_PLAN.md
  docs/archive/phases/PHASE_2_QA_PLAN.md
  docs/archive/phases/PHASE_2_QA_REPORT.md
  docs/archive/phases/PHASE_3F_FINAL_POLISH_QA.md
  docs/archive/phases/PHASE_3_COMPLETION_SUMMARY.md
  docs/archive/phases/PHASE_3_PLANNING.md
  docs/archive/phases/PHASE_4_1_IMPLEMENTATION_SUMMARY.md
  docs/archive/phases/PHASE_4_2_IMPLEMENTATION_SUMMARY.md
  docs/archive/phases/PHASE_4_3_IMPLEMENTATION_SUMMARY.md
  docs/archive/phases/PHASE_4_4_IMPLEMENTATION_SUMMARY.md
  docs/archive/phases/PHASE_4_5_IMPLEMENTATION_SUMMARY.md
  docs/archive/phases/PHASE_4_COMPLETION_SUMMARY.md
  docs/archive/phases/PHASE_4_ENVIRONMENT_ANALYSIS.md
  docs/archive/phases/PHASE_4_FINAL_STATUS.md
  docs/archive/phases/PHASE_4_STATUS.md
  docs/archive/planning/PLANNING_COMPLETE_SUMMARY.md
  docs/archive/planning/PLANNING_SESSION_COMPLETE.md
  docs/archive/planning/PLAN_REVIEW.md
  docs/archive/planning/PLAN_V3_CHANGES_SUMMARY.md
  docs/archive/statuses/COMMIT-7-IMPLEMENTATION-SUMMARY.md
  docs/archive/statuses/QUALITY_REINFORCEMENT_SUMMARY.md
  docs/getting-started/README.md
  docs/guides/authentication.md
  docs/guides/caching-strategy.md
Labels: documentation

refactor: remove phase references and rename test files
  src/fraiseql/audit/__init__.py
  src/fraiseql/audit/models.py
  src/fraiseql/audit/query_builder.py
  src/fraiseql/auth/rust_provider.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/fastapi/routers.py
  src/fraiseql/fastapi/tracing_middleware.py
  tests/chaos/basic_validation.py
  tests/chaos/cache/test_cache_coherency_validation.py
  tests/chaos/cache/test_cache_coherency_validation_real.py
  tests/chaos/database/test_connection_pool_validation.py
  tests/chaos/database/test_connection_pool_validation_real.py
  tests/chaos/resources/test_resource_limits_validation.py
  tests/chaos/resources/test_resource_limits_validation_real.py
  tests/chaos/test_initialization_verification.py
  tests/chaos/test_initialization_verification_real.py
  tests/integration/query_builder/test_order_by_functionality.py
  tests/integration/query_builder/test_where_clause_passthrough.py
  tests/integration/rust/test_graphql_pipeline_execution.py
  tests/test_subscriptions_authentication.py
  tests/test_subscriptions_basic.py
  tests/test_subscriptions_filtering.py
  tests/test_subscriptions_websocket.py
Labels: tests

fix(pytest): add missing phase markers to configuration
  pyproject.toml
Labels: config, dependencies

fix(benchmarks): update deprecated PyO3 API to 0.25.1 standard
  benches/full_pipeline.rs
Labels: none

fix(rbac): remove unused variable warnings in row_constraints tests
  fraiseql_rs/src/rbac/row_constraints.rs
Labels: none

docs(guides): consolidate caching documentation with unified strategy guide
  docs/guides/caching-strategy.md
  docs/guides/performance-tuning.md
  docs/production/monitoring.md
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/unit/axum/__pycache__/test_config.cpython-313-pytest-8.4.2.pyc
Labels: documentation, tests
