Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

ci(gates): a tags-only workflow stops reading as one that reaches branches
  tools/check-suite-coverage.py
  tools/tests/suite_coverage_gating_test.sh
Labels: none

ci(gates): the two checks that ran on every push and could fail no merge
  tools/check-suite-coverage.py
  tools/required-checks.toml
  tools/suite-coverage-exemptions.toml
  tools/tests/suite_coverage_gating_test.sh
Labels: none

ci(gates): lib test modules get the two axes the gate already asked of binaries
  .dagger/main.go
  Makefile
  tools/check-suite-coverage.py
  tools/tests/suite_coverage_inner_gates_test.sh
Labels: none

ci(gates): a filter that matches nothing stops reading as a passing leg
  .dagger/main.go
  Makefile
  tools/check-suite-coverage.py
  tools/tests/suite_coverage_filters_test.sh
Labels: none

docs(changelog): the four gate-integrity fixes of this batch
  CHANGELOG.md
Labels: documentation

perf(gates): the test-name scan stops trying two regexes at every offset
  tools/check-suite-coverage.py
Labels: none

fix(server): the lib test binary compiles without `auth`, and a combo builds it
  .dagger/feature-combos.go
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/tests.rs
  tools/feature-combos.py
Labels: none

docs(changelog): the fraiseql-server auth-off test compile (#1277)
  CHANGELOG.md
Labels: documentation

fix(federation): the saga-store connection test stops dialling a hardcoded localhost
  crates/fraiseql-federation/src/saga_store/tests.rs
Labels: none

docs(ci): required-checks.toml stops documenting the order that reddens dev
  CHANGELOG.md
  tools/check-required-checks.sh
  tools/required-checks.toml
Labels: documentation

refactor(ci): GitHub's push ref-filter rule has one implementation, not four
  .dagger/main.go
  CHANGELOG.md
  Makefile
  tools/check-sdk-publication-claims.py
  tools/check-sdk-workflow-coverage.py
  tools/check-suite-coverage.py
  tools/check-trigger-rule-copies.py
  tools/check-workflow-job-reachability.py
  tools/tests/workflow_trigger_rule_test.sh
Labels: documentation

fix(fixtures): the e2e seed stops squatting the integration seed's tb_user
  .dagger/image_boot.go
  .dagger/main.go
  .github/workflows/release-smoke.yml
  CHANGELOG.md
  Makefile
  docker/e2e/init-postgres.sql
  tools/chart-deploy-test.sh
  tools/check-fixture-relation-collisions.py
  tools/compose-stack-test.sh
  tools/tests/fixture_relation_collisions_test.sh
Labels: documentation, ci

fix(db): offset pagination orders totally, so two pages cannot overlap
  CHANGELOG.md
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter/tests.rs
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-db/src/order_by/tests.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/postgres/adapter/tests.rs
Labels: documentation

fix(federation): the subgraph URL guard stops hand-rolling the hostname rule
  CHANGELOG.md
  crates/fraiseql-arrow/src/clickhouse_sink/tests.rs
  crates/fraiseql-core/src/runtime/subscription/webhook.rs
  crates/fraiseql-federation/src/http_resolver.rs
  crates/fraiseql-functions/src/host/live/http_validator/tests.rs
  crates/fraiseql-observers/src/ssrf.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/tests.rs
  crates/fraiseql-server/src/server/tests.rs
Labels: documentation

feat(cli): a paginated query declares the order its pages are cut in
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/compiled_schema_seam_test.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-test-utils/src/schema_builder.rs
Labels: none

feat(cli): --database makes the page ordering cheaper, never necessary
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-db/src/introspector.rs
  crates/fraiseql-db/src/postgres/introspector.rs
Labels: none

feat(db): the tie-breaker uses the identity the schema declared
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-db/src/order_by/tests.rs
  crates/fraiseql-db/src/types/sql_hints.rs
Labels: none

feat(core): a paged read is ordered by the identity its query declares
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
Labels: none

test(server): a three-page walk returns every row once, against a real database
  .dagger/main.go
  crates/fraiseql-server/tests/rest_pagination_stability_e2e_pg.rs
Labels: none

feat(cli): the deployment states its pagination posture, and the compiler says so
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/operations.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  docs/README.md
  docs/features/pagination.md
  fraiseql.toml.example
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
Labels: documentation

chore(ci): the required-checks ledger keeps its reasoning through the formatter
  .pre-commit-config.yaml
  tools/required-checks.toml
Labels: config

fix(observers): every transport honours EventFilter, and a subscription's tenant scope has a name
  crates/fraiseql-observers/src/executor/retry.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/transport/in_memory.rs
  crates/fraiseql-observers/src/transport/mod.rs
  crates/fraiseql-observers/src/transport/nats.rs
  crates/fraiseql-observers/src/transport/postgres_notify.rs
  crates/fraiseql-observers/src/transport/tests.rs
  crates/fraiseql-observers/tests/bridge_integration.rs
  crates/fraiseql-observers/tests/nats_integration.rs
  crates/fraiseql-observers/tests/transport_pipeline_test.rs
Labels: none

fix(rest): the event stream scopes to the caller's tenant and stops discarding Last-Event-ID
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/routes/rest/openapi/paths.rs
  crates/fraiseql-server/src/routes/rest/openapi/security.rs
  crates/fraiseql-server/src/routes/rest/openapi/tests.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/rest/sse.rs
  crates/fraiseql-server/src/routes/rest/tests.rs
  crates/fraiseql-server/tests/rest_write_mount_e2e_pg.rs
Labels: none

docs(changelog): the tenant filter, the refused resumption, and the EventFilter break
  CHANGELOG.md
Labels: documentation

fix(arrow): delete the three schema builders that had no caller and one wrong shape
  CHANGELOG.md
  crates/fraiseql-arrow/src/flight_server/handlers/metadata.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-arrow/src/schema.rs
  crates/fraiseql-arrow/src/schema/tests.rs
Labels: documentation

fix(core): #596's subscription-policy refusal runs on the load path, and validate() goes
  CHANGELOG.md
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/property/property_schema.rs
  crates/fraiseql-core/tests/property/property_tests.rs
Labels: documentation

fix(db): a vector threshold predicate reads the native column, not the JSONB text
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection_tests.rs
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/types/sql_hints.rs
  crates/fraiseql-db/src/utils.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-db/src/where_generator/generic/tests.rs
  crates/fraiseql-server/tests/graphql_vector_e2e_pg.rs
Labels: none

docs(changelog): the vector threshold operand, and the scan settings a filtered search needs
  CHANGELOG.md
  docs/operations/vector-search.md
Labels: documentation

fix(db): pgvector scan settings ride the connection startup packet
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-db/src/postgres/adapter/integration_tests.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/tests.rs
  crates/fraiseql-db/src/postgres/mod.rs
  crates/fraiseql-db/tests/postgres_tls_test.rs
  crates/fraiseql-db/tests/postgres_tls_verify_test.rs
  crates/fraiseql-db/tests/vector_scan_startup_options_pg.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/tenancy/mod.rs
  crates/fraiseql-server/src/tenancy/pool_factory.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
  crates/fraiseql-server/tests/integration/database_integration_test.rs
  crates/fraiseql-server/tests/mcp_tenant_dispatch_e2e_pg.rs
  crates/fraiseql-server/tests/tenant_lifecycle_e2e_pg.rs
  crates/fraiseql-server/tests/tenant_provisioning_test.rs
  crates/fraiseql-server/tests/tenant_schema_isolation_e2e_pg.rs
  crates/fraiseql-server/tests/wire_backend_feature_test.rs
Labels: none

test(core): the schema round-trip property must generate names the loader accepts
  crates/fraiseql-core/tests/property/property_tests.proptest-regressions
  crates/fraiseql-core/tests/property/property_tests.rs
Labels: none

test(db): the vector-scan suite creates the extension it needs
  crates/fraiseql-db/tests/vector_scan_startup_options_pg.rs
Labels: none

refactor(sdk-php): remove the per-field resolver authoring surface
  CHANGELOG.md
  sdks/official/fraiseql-php/README.md
  sdks/official/fraiseql-php/src/Attributes/GraphQLField.php
  sdks/official/fraiseql-php/src/FieldDefinition.php
  sdks/official/fraiseql-php/src/SchemaRegistry.php
  sdks/official/fraiseql-php/src/TypeBuilder.php
  sdks/official/fraiseql-php/src/TypeConverter.php
  sdks/official/fraiseql-php/src/TypeInfo.php
  sdks/official/fraiseql-php/tests/AttributesTest.php
  sdks/official/fraiseql-php/tests/FieldDefinitionTest.php
  sdks/official/fraiseql-php/tests/IntegrationTest.php
  sdks/official/fraiseql-php/tests/TypeBuilderTest.php
  sdks/official/fraiseql-php/tests/TypeInfoTest.php
  tools/check-sdk-dead-surface.sh
Labels: documentation

fix(sdk-php): JsonSchema models the document the SDK produces, and carries it verbatim
  CHANGELOG.md
  sdks/official/fraiseql-java/api-guide.md
  sdks/official/fraiseql-php/README.md
  sdks/official/fraiseql-php/src/CacheKey.php
  sdks/official/fraiseql-php/src/JsonSchema.php
  sdks/official/fraiseql-php/src/Validator.php
  sdks/official/fraiseql-php/tests/AdvancedFeaturesTest.php
  sdks/official/fraiseql-php/tests/IntegrationTest.php
  sdks/official/fraiseql-php/tests/JsonSchemaTest.php
  sdks/official/fraiseql-php/tests/OptimizationTest.php
Labels: documentation

fix(observers): compile with --no-default-features, and gate the shape in the matrix
  .dagger/feature-combos.go
  CHANGELOG.md
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-observers/src/factory.rs
  crates/fraiseql-observers/tests/bridge_integration.rs
Labels: documentation

feat(rest): wire /{resource}/stream to the EventBridge fan-out
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-observers/tests/bridge_integration.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/rest/sse.rs
  crates/fraiseql-server/src/routes/rest/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/src/subscriptions/event_bridge.rs
  crates/fraiseql-server/src/subscriptions/mod.rs
  crates/fraiseql-server/src/subscriptions/tests.rs
  crates/fraiseql-server/tests/rest_stream_fanout_e2e_pg.rs
  crates/fraiseql-server/tests/rest_write_mount_e2e_pg.rs
Labels: documentation

fix(sdk-java): SchemaCache counts reads that found something, not writes
  CHANGELOG.md
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaCache.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/CachingAndMonitoringTest.java
Labels: documentation

feat(sdks): pagination_order becomes a conformance construct, and ten SDKs author it
  CHANGELOG.md
  docs/features/pagination.md
  sdks/official/README.md
  sdks/official/conformance/expected.full.json
  sdks/official/conformance/expected.minimal.json
  sdks/official/conformance/manifest.json
  sdks/official/conformance/project.py
  sdks/official/conformance/reference/full.json
  sdks/official/fraiseql-csharp/src/FraiseQL/Builders/QueryBuilder.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Models/IntermediateQuery.cs
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/ConformanceExportTest.cs
  sdks/official/fraiseql-dart/conformance/export.dart
  sdks/official/fraiseql-dart/lib/src/authoring/schema.dart
  sdks/official/fraiseql-elixir/conformance/export.exs
  sdks/official/fraiseql-elixir/lib/fraiseql/definitions.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/schema.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/schema_exporter.ex
  sdks/official/fraiseql-elixir/test/fraiseql/schema_dsl_test.exs
  sdks/official/fraiseql-fsharp/src/FraiseQL/CrudGenerator.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Dsl.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/QueryBuilder.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Types.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/ConformanceExportTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaExporterTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaRegistryTests.fs
  sdks/official/fraiseql-go/conformance/main.go
  sdks/official/fraiseql-go/fraiseql/decorators.go
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/ConformanceExport.java
  sdks/official/fraiseql-php/conformance/export.php
  sdks/official/fraiseql-php/src/QueryBuilder.php
  sdks/official/fraiseql-python/conformance/fixture_full.py
  sdks/official/fraiseql-ruby/conformance/export.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/schema.rb
  sdks/official/fraiseql-typescript/conformance/export.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/tests/run_parity.sh
Labels: documentation

feat(schema)!: a compiled schema is a build artifact of the release that produced it
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/tests/compiler_runtime_contract.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/schema_migration_test.rs
  crates/fraiseql-core/tests/security/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/security/integration_field_rbac_runtime.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/graphql/reload_gate.rs
  crates/fraiseql-server/src/server/parity_tests.rs
  crates/fraiseql-server/src/tenancy/pool_factory.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  crates/fraiseql-server/tests/constructor_drift_test.rs
  docker/e2e/schema.compiled.json
  docker/e2e/schema.with-source.compiled.json
  docs/adr/0020-compiled-schema-build-identity.md
  docs/operations/compiled-schema-lifecycle.md
  docs/operations/zero-downtime-deploys.md
  docs/releases.md
  docs/runbooks/13-schema-hot-reload-failure.md
  docs/security/threat-model.md
  tools/check-compiled-schema-stamp.sh
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/compiled_schema_stamp_test.sh
  tools/tests/release_helpers_test.sh
Labels: documentation

fix(cli): doctor reports the build that compiled a schema, not a key nothing writes
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/tests.rs
Labels: none

feat(cli): doctor names the index that removes a sort from every paginated read
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/pagination_index_advice.rs
  crates/fraiseql-cli/src/commands/pagination_index_advice/tests.rs
  crates/fraiseql-db/src/postgres/introspector.rs
  crates/fraiseql-db/src/postgres/introspector/tests.rs
  crates/fraiseql-db/src/postgres/mod.rs
  docs/guides/database-contract-validation.md
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
