Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(introspection): add regex pattern support to PostgresIntrospector (#149)
  src/fraiseql/introspection/postgres_introspector.py
  tests/unit/test_introspection/test_regex_pattern_support.py
Labels: tests

chore: prepare v1.8.2 release
  CHANGELOG.md
  README.md
  docs/strategic/version-status.md
Labels: documentation

chore: fix version consistency (1.8.2)
  fraiseql_rs/Cargo.toml
  src/fraiseql/__init__.py
Labels: none

fix: WHERE clause filtering on hybrid tables (Issue #124)
  src/fraiseql/db.py
  src/fraiseql/gql/builders/registry.py
  src/fraiseql/where_normalization.py
Labels: none

chore(release): bump version to v1.8.3 - WHERE clause filtering fix
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix: WHERE clause filtering on hybrid tables (Issue #124)
  src/fraiseql/db.py
  src/fraiseql/gql/builders/registry.py
  src/fraiseql/where_normalization.py
Labels: none

chore(release): bump version to v1.8.3 - WHERE clause filtering fix
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

chore(release): add release automation system for v1.8.3+
  .claude/CLAUDE.md
  Cargo.lock
  Makefile
  docs/RELEASE_WORKFLOW.md
  scripts/pr_ship.py
  scripts/version_manager.py
  uv.lock
Labels: documentation

chore(release): v1.8.3 - Release automation system (#183)
  .claude/CLAUDE.md
  Cargo.lock
  Makefile
  docs/RELEASE_WORKFLOW.md
  scripts/pr_ship.py
  scripts/version_manager.py
  uv.lock
Labels: documentation

chore(prek): migrate from pre-commit to prek (Rust-based, 7-10x faster)
  .claude/CLAUDE.md
  Makefile
  README.md
Labels: documentation

fix: correct broken documentation link in RELEASE_WORKFLOW.md
  docs/RELEASE_WORKFLOW.md
Labels: documentation

chore(prek): migrate from pre-commit to prek (7-10x faster) (#184)
  .claude/CLAUDE.md
  Makefile
  README.md
  docs/RELEASE_WORKFLOW.md
Labels: documentation

fix: multi-field GraphQL queries with Rust field-only mode
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/builder.rs
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/db.py
  src/fraiseql/fastapi/routers.py
  tests/integration/http_endpoint/__init__.py
  tests/integration/http_endpoint/test_multi_field_http.py
  tests/regression/test_issue_multiple_root_fields.py
Labels: tests, core

chore(release): bump version to v1.8.4
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

feat: implement Phase 1 multi-field query routing with Rust-only merge
  Cargo.lock
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/builder.rs
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/fastapi/routers.py
  tests/integration/test_multi_field_routing.py
  tests/unit/core/test_rust_multi_field.py
  tests/unit/fastapi/test_multi_field_executor.py
  uv.lock
Labels: tests, core

feat: extract and pass field selections with aliases to Rust
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_executor.py
Labels: tests

feat: implement field selection filtering and aliases in Rust (Phase 2 complete)
  fraiseql_rs/src/json_transform.rs
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_executor.py
Labels: tests

feat: add comprehensive variable support tests for multi-field queries
  tests/unit/fastapi/test_multi_field_variables.py
Labels: tests

feat: implement @skip and @include directive support for multi-field queries
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_directives.py
Labels: tests

feat: Add field arguments support to multi-field GraphQL queries
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_arguments.py
Labels: tests

feat: Add error location reporting to multi-field GraphQL queries
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_error_locations.py
Labels: tests

feat: Document nested field error limitation for multi-field GraphQL queries
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_nested_errors.py
Labels: tests

docs: Update nested field error documentation to reflect architectural decision
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_nested_errors.py
Labels: tests

feat: Add default variable values support to multi-field GraphQL queries
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_variable_defaults.py
Labels: tests

feat: Add fragment spread support to multi-field GraphQL queries
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_fragments.py
Labels: tests

chore(rust): Fix Clippy warnings for multi-field query implementation
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/tests/properties.rs
  fraiseql_rs/src/pipeline/builder.rs
  tests/unit/fastapi/test_multi_field_errors.py
Labels: tests

docs: Update CHANGELOG for multi-field GraphQL query features
  CHANGELOG.md
Labels: documentation

fix: Resolver argument passing for multi-field queries with dataloader support
  src/fraiseql/fastapi/routers.py
Labels: none

chore(test): Skip pytest-benchmark tests when fixture unavailable
  tests/performance/test_rustresponsebytes_performance.py
Labels: tests

fix: multi-field GraphQL queries with Rust field-only mode (#185)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/json_transform.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/tests/properties.rs
  fraiseql_rs/src/pipeline/builder.rs
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/db.py
  src/fraiseql/fastapi/routers.py
  tests/integration/http_endpoint/__init__.py
  tests/integration/http_endpoint/test_multi_field_http.py
  tests/integration/test_multi_field_routing.py
  tests/performance/test_rustresponsebytes_performance.py
  tests/regression/test_issue_multiple_root_fields.py
  tests/unit/core/test_rust_multi_field.py
  tests/unit/fastapi/test_multi_field_arguments.py
  tests/unit/fastapi/test_multi_field_directives.py
  tests/unit/fastapi/test_multi_field_error_locations.py
  tests/unit/fastapi/test_multi_field_errors.py
  tests/unit/fastapi/test_multi_field_executor.py
  tests/unit/fastapi/test_multi_field_fragments.py
  tests/unit/fastapi/test_multi_field_nested_errors.py
  tests/unit/fastapi/test_multi_field_variable_defaults.py
  tests/unit/fastapi/test_multi_field_variables.py
  uv.lock
Labels: documentation, tests, core, config, dependencies

chore(release): bump version to v1.8.5
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

docs: Add comprehensive GraphQL spec compliance gap analysis (2025-12-17)
  .phases/graphql-spec-compliance-gap-analysis-2025-12-17.md
Labels: none

chore(release): bump version to v1.8.7
  .phases/EXECUTIVE-SUMMARY.md
  .phases/IMPLEMENTATION-ROADMAP.md
  .phases/INDEX.md
  .phases/QA-PLANNING-20251217-115602/00-MANIFEST.txt
  .phases/QA-PLANNING-20251217-115602/DOCUMENTATION-QUALITY-ASSURANCE.md
  .phases/QA-PLANNING-20251217-115602/QA-EXECUTION-SUMMARY.md
  .phases/QA-PLANNING-20251217-115602/QA-REVIEW-PLAN.md
  .phases/QA-PLANNING-20251217-115602/README-QA-PLANNING.md
  .phases/QA-PLANNING-20251217-115602/START-HERE.md
  .phases/QA-PLANNING-20251217-115602/fraiseql-graphql-compliance-report.md
  .phases/QA-REVIEW-graphql-spec-gaps-final.md
  .phases/README-IMPLEMENTATION.md
  .phases/implementation-plan-fragment-cycles.md
  .phases/implementation-plan-nested-fragments.md
  .phases/implementation-plan-view-directives.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  QA-REPORT-20251217.md
  README.md
  docs/examples/fragment-cycles.md
  docs/examples/nested-fragments.md
  docs/features/fragments.md
  docs/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_fragments.py
  uv.lock
Labels: documentation, tests, config, dependencies

chore(release): v1.8.7 - Fragment Enhancements + QA Planning (#186)
  .phases/EXECUTIVE-SUMMARY.md
  .phases/IMPLEMENTATION-ROADMAP.md
  .phases/INDEX.md
  .phases/QA-PLANNING-20251217-115602/00-MANIFEST.txt
  .phases/QA-PLANNING-20251217-115602/DOCUMENTATION-QUALITY-ASSURANCE.md
  .phases/QA-PLANNING-20251217-115602/QA-EXECUTION-SUMMARY.md
  .phases/QA-PLANNING-20251217-115602/QA-REVIEW-PLAN.md
  .phases/QA-PLANNING-20251217-115602/README-QA-PLANNING.md
  .phases/QA-PLANNING-20251217-115602/START-HERE.md
  .phases/QA-PLANNING-20251217-115602/fraiseql-graphql-compliance-report.md
  .phases/QA-REVIEW-graphql-spec-gaps-final.md
  .phases/README-IMPLEMENTATION.md
  .phases/graphql-spec-compliance-gap-analysis-2025-12-17.md
  .phases/implementation-plan-fragment-cycles.md
  .phases/implementation-plan-nested-fragments.md
  .phases/implementation-plan-view-directives.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  QA-REPORT-20251217.md
  README.md
  docs/examples/fragment-cycles.md
  docs/examples/nested-fragments.md
  docs/features/fragments.md
  docs/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/fastapi/routers.py
  tests/unit/fastapi/test_multi_field_fragments.py
  uv.lock
Labels: documentation, tests, config, dependencies

deploy: 87e0ffd395de995176404c58eee65885d83eda28
  RELEASE_WORKFLOW/index.html
  advanced/examples/index.html
  advanced/rust-mutation-pipeline/index.html
  advanced/where-input-types/index.html
  architecture/type-operator-architecture/index.html
  audit/documentation-inventory/index.html
  audits/examples_versioning_audit_2025-12-12/index.html
  core/queries-and-mutations/index.html
  database/index.html
  development/framework-submission-guide/index.html
  features/graphql-cascade/index.html
  features/mutation-result-reference/index.html
  features/sql-function-return-format/index.html
  getting-started/first-hour/index.html
  guides/common-mistakes/index.html
  guides/error-handling-patterns/index.html
  guides/filtering/index.html
  guides/migrating-to-cascade/index.html
  guides/mutation-sql-requirements/index.html
  guides/trinity-pattern-guide/index.html
  guides/troubleshooting-mutations/index.html
  migration/from-graphene/index.html
  migration/from-postgraphile/index.html
  mutations/cascade-architecture/index.html
  mutations/status-strings/index.html
  performance/index.html
  planning/archived-pre-v1.9/cascade-implementation-recommendation/index.html
  planning/archived-pre-v1.9/graphql-cascade-simplified-approach/index.html
  quick-reference/mutations-cheat-sheet/index.html
  reference/cli/index.html
  reference/decorators/index.html
  reference/mutations-api/index.html
  reference/where-clause-syntax-comparison/index.html
  search/search_index.json
  security-compliance/security-profiles/index.html
  sitemap.xml
  sitemap.xml.gz
  strategic/version-status/index.html
  testing/index.html
Labels: none

docs(performance): comprehensive performance testing with real measured data
  PERFORMANCE_TESTING_COMPLETION_SUMMARY.md
  docs/performance-testing/MEDIUM_VPS_BENCHMARKS.md
  docs/performance-testing/README.md
  docs/performance-testing/REALISTIC_TESTS_SUMMARY.md
  docs/performance-testing/RUN_REALISTIC_TESTS.md
  pyproject.toml
  tests/performance/README_REALISTIC.md
  tests/performance/test_performance.py
Labels: documentation, tests, config, dependencies

docs: comprehensive competitive positioning analysis - FraiseQL in GraphQL framework landscape
  docs/COMPETITIVE_POSITIONING.md
Labels: documentation

docs(readme): completely revamped with competitive positioning focus
  README.md
Labels: documentation

docs(readme): tone down Strawberry/Graphene comparisons for fairness
  README.md
Labels: documentation

docs: clean up redundant and aggressive documentation
  PERFORMANCE_TESTING_COMPLETION_SUMMARY.md
  docs/COMPETITIVE_POSITIONING.md
  docs/performance-testing/README.md
  docs/performance-testing/REALISTIC_TESTS_SUMMARY.md
  docs/performance-testing/RUN_REALISTIC_TESTS.md
  tests/performance/README_REALISTIC.md
Labels: documentation, tests
