Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(clippy): add backticks to error codes in auth_middleware doc [4 violations fixed]
  fraiseql_rs/src/http/auth_middleware.rs
Labels: none

fix(clippy): add #[must_use] and use let...else syntax in response_filtering_integration.rs [3 violations fixed]
  fraiseql_rs/src/http/response_filtering_integration.rs
Labels: none

fix(clippy): fix doc backticks, boolean logic, and map().unwrap_or in complexity.rs [3 violations fixed]
  fraiseql_rs/src/graphql/complexity.rs
Labels: none

fix(clippy): fix final 6 violations with allow attributes and cargo clippy --fix [6 violations fixed, 222→0 total]
  fraiseql_rs/src/auth/py_bindings.rs
  fraiseql_rs/src/cache/query_result.rs
  fraiseql_rs/src/db/errors.rs
  fraiseql_rs/src/db/pool_production.rs
  fraiseql_rs/src/db/transaction.rs
  fraiseql_rs/src/graphql/variables.rs
  fraiseql_rs/src/http/operation_metrics_middleware.rs
  fraiseql_rs/src/http/py_bindings.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/rbac/row_constraints.rs
  fraiseql_rs/src/rbac/where_merger.rs
  fraiseql_rs/src/security/profiles.rs
Labels: none

refactor: eliminate all clippy suppressions with better code patterns
  fraiseql_rs/src/auth/py_bindings.rs
  fraiseql_rs/src/db/pool_production.rs
  fraiseql_rs/src/graphql/variables.rs
  fraiseql_rs/src/rbac/row_constraints.rs
  fraiseql_rs/src/rbac/where_merger.rs
Labels: none

docs: add comprehensive documentation to all clippy allow attributes
  fraiseql_rs/src/apq/backends/memory.rs
  fraiseql_rs/src/apq/metrics.rs
  fraiseql_rs/src/auth/cache.rs
  fraiseql_rs/src/auth/py_bindings.rs
  fraiseql_rs/src/cache/mod.rs
  fraiseql_rs/src/core/arena.rs
  fraiseql_rs/src/db/metrics.rs
  fraiseql_rs/src/db/prototype.rs
  fraiseql_rs/src/graphql/types.rs
  fraiseql_rs/src/http/operation_metrics_middleware.rs
  fraiseql_rs/src/http/operation_monitor.rs
  fraiseql_rs/src/http/response_filter.rs
  fraiseql_rs/src/http/tests.rs
  fraiseql_rs/src/json_transform.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/types.rs
  fraiseql_rs/src/query/where_normalization.rs
  fraiseql_rs/src/rbac/py_bindings.rs
  fraiseql_rs/src/rbac/row_constraints.rs
  fraiseql_rs/src/response/field_filter.rs
  fraiseql_rs/src/response/json_transform.rs
  fraiseql_rs/src/security/py_bindings.rs
  fraiseql_rs/src/security/response_limits.rs
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/metrics.rs
Labels: none

chore: apply rustfmt formatting fixes
  fraiseql_rs/src/apq/hasher.rs
  fraiseql_rs/src/core/arena.rs
  fraiseql_rs/src/db/runtime.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/rbac/where_merger.rs
  fraiseql_rs/tests/test_v1_9_6_integration.rs
Labels: none

chore: remove debug code and fix warnings
  fraiseql_rs/src/mutation/response_builder.rs
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestResourceChaos.json
Labels: tests

fix(phase-a): add clippy allow attributes for debug_assertions variables in websocket and rate_limit
  fraiseql_rs/src/http/websocket.rs
  fraiseql_rs/src/security/rate_limit.rs
Labels: none

fix(phase-a): resolve unused variable warnings with proper cfg guards for debug_assertions
  fraiseql_rs/src/http/websocket.rs
  fraiseql_rs/src/security/rate_limit.rs
Labels: none

test(phase-b): fix 37 test compilation errors - update signatures to MutationConfig
  fraiseql_rs/src/graphql/variables.rs
  fraiseql_rs/src/mutation/tests/integration.rs
  fraiseql_rs/src/mutation/tests/response_building.rs
  fraiseql_rs/src/mutation/tests/test_multiple_entities.rs
Labels: none

feat(phase-c): Complete async Python bindings via pyo3-async-runtimes
  Cargo.lock
  fraiseql_rs/src/auth/py_bindings.rs
  fraiseql_rs/src/http/py_bindings.rs
  fraiseql_rs/src/mutation/tests/integration.rs
  fraiseql_rs/src/rbac/py_bindings.rs
Labels: none

docs: Add comprehensive module-level documentation to mutation module
  fraiseql_rs/src/mutation/parser.rs
  fraiseql_rs/src/mutation/tests/test_multiple_entities.rs
  fraiseql_rs/src/mutation/types.rs
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
  tests/unit/axum/__pycache__/__init__.cpython-313.pyc
  tests/unit/axum/__pycache__/test_config.cpython-313-pytest-8.4.2.pyc
  tests/unit/axum/__pycache__/test_server.cpython-313-pytest-8.4.2.pyc
Labels: tests

feat(Phase D.1): Implement AxumRegistry foundation class
  src/fraiseql/axum/__init__.py
  src/fraiseql/axum/registry.py
  tests/unit/axum/test_registry.py
Labels: tests

feat(Phase D.2): Implement auto-discovery system
  src/fraiseql/axum/__init__.py
  src/fraiseql/axum/discovery.py
  tests/unit/axum/test_discovery.py
Labels: tests

feat(Phase D.3): Add registration hooks to decorators
  src/fraiseql/axum/registration_hooks.py
  src/fraiseql/decorators.py
  src/fraiseql/types/fraise_type.py
  tests/unit/axum/test_decorator_hooks.py
Labels: tests, types

feat(Phase D.4): Enhance app factory with auto-discovery support
  src/fraiseql/axum/app.py
  src/fraiseql/axum/server.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
  tests/unit/axum/test_app_factory_discovery.py
Labels: tests

test(Phase D.4): Add real-world discovery test scenarios
  PHASE-D4-SUMMARY.md
  tests/unit/axum/test_app_factory_discovery.py
Labels: documentation, tests

docs(Phase D.4): Update summary with real-world discovery tests
  PHASE-D4-SUMMARY.md
Labels: documentation

refactor(Phase D.4): Remove zero-config auto-discovery, keep explicit registration
  src/fraiseql/axum/app.py
  tests/unit/axum/test_app_factory_discovery.py
Labels: tests

docs(Phase D.4): Update summary with architectural decision
  PHASE-D4-SUMMARY.md
Labels: documentation

docs(Phase D.5): Add comprehensive registry system documentation
  docs/examples/01-simple-blog.md
  docs/guides/fastapi-migration.md
  docs/guides/registry-system.md
Labels: documentation

docs(Phase D.5): Add advanced multi-feature example application
  docs/examples/02-advanced-app.md
Labels: documentation

docs(Phase D.5): Complete registry system documentation
  src/fraiseql/axum/discovery.py
  src/fraiseql/axum/registry.py
  src/fraiseql/core/graphql_type.py
  src/fraiseql/fastapi/routers.py
  src/fraiseql/middleware/apq_caching.py
  src/fraiseql/middleware/apq_selection.py
Labels: core

docs: Add Phase 1 and v2.0 preparation status reports
  PHASE_1_COMPLETE.md
  V2_PREPARATION_STATUS.md
Labels: documentation

docs: Add Phase 0 & 1 deliverables summary
  PHASE_0_1_DELIVERABLES.md
Labels: documentation

refactor: Simplify v2.0 HTTP server strategy - 3 servers instead of 5
  V2_MULTI_FRAMEWORK_STRATEGY.md
  V2_PREPARATION_CHECKLIST.md
  docs/DEPRECATION_POLICY.md
  docs/MODULAR_HTTP_ARCHITECTURE.md
  docs/ORGANIZATION.md
Labels: documentation

docs: Add strategy simplification documentation
  STRATEGY_SIMPLIFICATION.md
Labels: documentation

feat(Phase 3): Add code organization validation scripts
  scripts/check_all_organization.py
  scripts/check_file_sizes.py
  scripts/check_file_structure.py
  scripts/check_naming.py
Labels: none

docs(Phase 4): Add comprehensive refactoring roadmap for v2.0
  docs/REFACTORING_ROADMAP.md
Labels: documentation

docs(QA): Add Phase 4 quality assurance review report
  docs/QA_PHASE_4_REVIEW.md
Labels: documentation

docs(Phase 5): Create philosophy-aware implementation plan
  docs/PHASE_5_IMPLEMENTATION_PLAN.md
Labels: documentation

docs: Add philosophy impact analysis for Phase 5
  docs/PHILOSOPHY_IMPACT_ANALYSIS.md
Labels: documentation

refactor(Phase 5): Begin modular extraction - registry, pool, executor
  src/fraiseql/db/STRUCTURE.md
  src/fraiseql/db/__init__.py
  src/fraiseql/db/executor.py
  src/fraiseql/db/pool.py
  src/fraiseql/db/registry.py
  src/fraiseql/db_core.py
  src/fraiseql/db_core.pyi
Labels: none

refactor(Phase 5.2): Extract query_builder and session modules
  src/fraiseql/db/__init__.py
  src/fraiseql/db/query_builder.py
  src/fraiseql/db/session.py
Labels: none

refactor(Phase 5.3): Extract FraiseQLRepository to repository.py
  src/fraiseql/db/__init__.py
  src/fraiseql/db/repository.py
Labels: none

refactor(Phase 5.5): Complete modularization with deprecation and documentation
  docs/PHASE_5_COMPLETION_SUMMARY.md
  src/fraiseql/db_core.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
Labels: documentation, tests

feat(Phase 2): Implement Rust QueryBuilder with strict clippy compliance (WIP)
  docs/MIGRATION_TO_RUST_SQL_BUILDING.md
  docs/PHASE_1_ANALYSIS_PYTHON_QUERY_BUILDER.md
  fraiseql_rs/src/db/mod.rs
  fraiseql_rs/src/db/query_builder.rs
Labels: documentation

feat(Phase 3a): Implement unified process_graphql_request() FFI binding
  docs/ARCHITECTURE_UNIFIED_RUST_PIPELINE.md
  docs/MIGRATION_TO_RUST_SQL_BUILDING.md
  docs/PHASE_1_ANALYSIS_PYTHON_QUERY_BUILDER.md
  docs/PHASE_3A_COMPLETION_UNIFIED_FFI.md
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/unified.rs
  tests/unit/ffi/test_process_graphql_request.py
Labels: documentation, tests

feat(Phase 3b): Migrate to unified FFI adapter layer (backward compatible)
  docs/PHASE_3B_IMPLEMENTATION_SUMMARY.md
  docs/PHASE_3B_MIGRATION_PLAN.md
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/core/rust_transformer.py
  src/fraiseql/core/unified_ffi_adapter.py
  src/fraiseql/fastapi/routers.py
Labels: documentation, core

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
