Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(cdc): the Kafka sink, and a scheme Kafka does not have
  .dagger/feature-combos.go
  .dagger/main.go
  .github/workflows/mirror-base-images.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-cdc-sinks/src/kafka.rs
  crates/fraiseql-cdc-sinks/src/kafka/tests.rs
  crates/fraiseql-cdc-sinks/src/lib.rs
  crates/fraiseql-cdc-sinks/src/sink.rs
  crates/fraiseql-cdc-sinks/src/sink/tests.rs
  crates/fraiseql-cdc-sinks/tests/cdc_kafka_e2e.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/cdc_outbound/mod.rs
  crates/fraiseql-server/src/cdc_outbound/tests.rs
  crates/fraiseql-server/src/server_config/cdc_outbound.rs
  crates/fraiseql-test-support/src/services.rs
  docs/features/cdc-outbound.md
  tools/check-guard-parity.sh
  tools/check-suite-coverage.py
Labels: documentation, ci

feat(cdc): the Kinesis sink, and an endpoint that is only a region
  .dagger/feature-combos.go
  .dagger/main.go
  .github/workflows/mirror-base-images.yml
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-cdc-sinks/src/kafka.rs
  crates/fraiseql-cdc-sinks/src/kafka/tests.rs
  crates/fraiseql-cdc-sinks/src/kinesis.rs
  crates/fraiseql-cdc-sinks/src/kinesis/tests.rs
  crates/fraiseql-cdc-sinks/src/lib.rs
  crates/fraiseql-cdc-sinks/src/sink.rs
  crates/fraiseql-cdc-sinks/src/sink/tests.rs
  crates/fraiseql-cdc-sinks/tests/cdc_kinesis_e2e.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/cdc_outbound/mod.rs
  crates/fraiseql-server/src/cdc_outbound/tests.rs
  crates/fraiseql-server/src/server_config/cdc_outbound.rs
  crates/fraiseql-test-support/src/services.rs
  deny.toml
  docs/features/cdc-outbound.md
Labels: documentation, ci

docs(cdc): three sinks, and a README that still claimed one
  crates/fraiseql-cdc-sinks/README.md
  crates/fraiseql-cdc-sinks/src/lib.rs
Labels: none

feat(cdc): the Kinesis sink, and an endpoint that is only a region
  .dagger/feature-combos.go
  .dagger/main.go
  .github/workflows/mirror-base-images.yml
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-cdc-sinks/src/kafka.rs
  crates/fraiseql-cdc-sinks/src/kafka/tests.rs
  crates/fraiseql-cdc-sinks/src/kinesis.rs
  crates/fraiseql-cdc-sinks/src/kinesis/tests.rs
  crates/fraiseql-cdc-sinks/src/lib.rs
  crates/fraiseql-cdc-sinks/src/sink.rs
  crates/fraiseql-cdc-sinks/src/sink/tests.rs
  crates/fraiseql-cdc-sinks/tests/cdc_kinesis_e2e.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/cdc_outbound/mod.rs
  crates/fraiseql-server/src/cdc_outbound/tests.rs
  crates/fraiseql-server/src/server_config/cdc_outbound.rs
  crates/fraiseql-test-support/src/services.rs
  deny.toml
  docs/features/cdc-outbound.md
Labels: documentation, ci

fix(docker): move the release image's Rust builder to the MSRV it cannot build without
  Dockerfile
  examples/federation/basic/orders-service/Dockerfile
  examples/federation/basic/users-service/Dockerfile
Labels: none

feat(cdc): the Kafka sink, and a scheme Kafka does not have
  .dagger/feature-combos.go
  .dagger/main.go
  .github/workflows/mirror-base-images.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-cdc-sinks/src/kafka.rs
  crates/fraiseql-cdc-sinks/src/kafka/tests.rs
  crates/fraiseql-cdc-sinks/src/lib.rs
  crates/fraiseql-cdc-sinks/src/sink.rs
  crates/fraiseql-cdc-sinks/src/sink/tests.rs
  crates/fraiseql-cdc-sinks/tests/cdc_kafka_e2e.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/cdc_outbound/mod.rs
  crates/fraiseql-server/src/cdc_outbound/tests.rs
  crates/fraiseql-server/src/server_config/cdc_outbound.rs
  crates/fraiseql-test-support/src/services.rs
  docs/features/cdc-outbound.md
  tools/check-guard-parity.sh
  tools/check-suite-coverage.py
Labels: documentation, ci

chore(ci): mirror the patch-pinned rust:1.94.1 base, and a reminder that was wrong about every package
  .github/workflows/mirror-base-images.yml
Labels: ci

chore(toolchain): MSRV 1.94.1, and a floor no leg had ever tested
  .dagger/feature-combos.go
  .dagger/main.go
  .github/workflows/dagger-feature-matrix.yml
  .github/workflows/dagger-test.yml
  CHANGELOG.md
  Cargo.toml
  docs/architecture/overview.md
  docs/guides/getting-started.md
  docs/operations/compiled-schema-lifecycle.md
  rust-toolchain.toml
Labels: documentation, ci

docs(cdc): three sinks, and a README that still claimed one
  crates/fraiseql-cdc-sinks/README.md
  crates/fraiseql-cdc-sinks/src/lib.rs
Labels: none

fix(deny): a deadline the gate could not see, and a date that granted one extra day
  .cargo/audit.toml
  .dagger/main.go
  Makefile
  deny.toml
  tools/check-deadlines.sh
  tools/tests/check_deadlines_test.sh
Labels: none

feat(query): a total the page cannot move, and a REST count that read the whole table
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-server/tests/graphql_count_e2e_pg.rs
  docs/authoring-ir-format.md
Labels: documentation

fix(auth): a revocation store that was written and never read
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-server/src/middleware/hs256_auth.rs
  crates/fraiseql-server/src/middleware/oidc_auth.rs
  crates/fraiseql-server/src/server/routing/mod.rs
  crates/fraiseql-server/tests/hs256_revocation_e2e_pg.rs
Labels: documentation

feat(query): a fragment that arrives late, and a second envelope for the same delivery
  CHANGELOG.md
  crates/fraiseql-core/src/graphql/defer/mod.rs
  crates/fraiseql-core/src/graphql/defer/tests.rs
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/middleware/stream_auth.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/handler/incremental.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
  crates/fraiseql-server/src/routes/graphql/tests.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/server/routing/graphql.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/tests.rs
  crates/fraiseql-server/tests/common/server_harness.rs
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
  crates/fraiseql-server/tests/graphql_sse_e2e_pg.rs
  docs/operations/README.md
  docs/operations/graphql-sse-streaming.md
Labels: documentation

feat(query): a read that arrives as it is produced, and an export that stopped re-reading
  CHANGELOG.md
  Makefile
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/integration_tests.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/streaming.rs
  crates/fraiseql-db/src/postgres/adapter/tests.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/traits/adapter_types.rs
  crates/fraiseql-db/src/traits/tests.rs
  crates/fraiseql-db/tests/postgres_tls_test.rs
  crates/fraiseql-db/tests/postgres_tls_verify_test.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/grpc/streaming.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/helpers.rs
  crates/fraiseql-server/src/routes/rest/streaming/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/tests.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx/mod.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/tenancy/pool_factory.rs
  crates/fraiseql-server/tests/integration/database_integration_test.rs
  crates/fraiseql-server/tests/rest_tenant_isolation_e2e_pg.rs
  crates/fraiseql-server/tests/wire_backend_feature_test.rs
  docs/operations/graphql-sse-streaming.md
  docs/runbooks/07-connection-pool-exhaustion.md
Labels: documentation

feat(query): a list inside a row that arrives in pieces, and a refusal that became a shape
  CHANGELOG.md
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/graphql/stream_split/mod.rs
  crates/fraiseql-core/src/graphql/stream_split/tests.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
  crates/fraiseql-server/tests/graphql_sse_e2e_pg.rs
  docs/operations/graphql-sse-streaming.md
Labels: documentation

feat(rest): an export every route offered, and the flag that decides which ones do
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-cli/tests/rest_annotation_round_trip_test.rs
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-server/src/routes/rest/handler/query.rs
  crates/fraiseql-server/src/routes/rest/handler/response.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx/mod.rs
  crates/fraiseql-server/tests/rest_export_integrity_e2e_pg.rs
  crates/fraiseql-server/tests/rest_tenant_isolation_e2e_pg.rs
  crates/fraiseql-test-utils/src/schema_builder.rs
  docs/operations/graphql-sse-streaming.md
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_rest_annotations.py
Labels: documentation, tests

refactor(vector): a query builder that built SQL by hand and answered to no one
  CHANGELOG.md
  crates/fraiseql-core/src/utils/mod.rs
  crates/fraiseql-core/src/utils/tests.rs
  crates/fraiseql-core/src/utils/vector.rs
Labels: documentation

feat(vector): a type with two embeddings that could not be searched at all
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params_tests.rs
  crates/fraiseql-server/tests/graphql_vector_e2e_pg.rs
  docs/operations/vector-search.md
Labels: documentation

fix(docs): a rustdoc link that a cached doc build never re-checked
  crates/fraiseql-db/src/traits.rs
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
Labels: none

docs(changelog): say which vector thing was removed
  CHANGELOG.md
Labels: documentation

feat(vector): a metric with no column to apply to, and the bit width that decides the answer
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/toml_schema/types.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/tests/vector_authoring_contract_test.rs
  crates/fraiseql-codegen/src/client/python/render.rs
  crates/fraiseql-codegen/src/client/typescript/render.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params_tests.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/introspection/field_resolver.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-db/src/order_by/tests.rs
  crates/fraiseql-db/src/types/sql_hints.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-db/src/where_generator/generic/tests.rs
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/routes/grpc/handler.rs
  crates/fraiseql-server/src/routes/rest/openapi/format.rs
  crates/fraiseql-server/tests/graphql_vector_e2e_pg.rs
  crates/fraiseql-wire/docs/operators.md
  crates/fraiseql-wire/src/operators/mod.rs
  crates/fraiseql-wire/src/operators/sql_gen/mod.rs
  crates/fraiseql-wire/src/operators/where_operator/mod.rs
  docs/authoring-ir-format.md
  docs/operations/vector-search.md
Labels: documentation

feat(vector): two more ways to store the same vector, and one distinction that was not one
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/tests/vector_authoring_contract_test.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/introspection/field_resolver.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-db/src/types/sql_hints.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-server/tests/graphql_vector_e2e_pg.rs
  docs/authoring-ir-format.md
  docs/operations/vector-search.md
Labels: documentation

fix(compile): three lists of the same scalars, and the type that fell between them
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
  crates/fraiseql-cli/tests/vector_authoring_contract_test.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/scalar_types.rs
  crates/fraiseql-core/src/schema/tests.rs
Labels: documentation

bench(vector): the filter that made a top-10 search answer with two rows
  CHANGELOG.md
  benches/vector_filtered_ann.sql
  docs/operations/vector-search.md
Labels: documentation

style(sdks): rustfmt and dart format on the new vector authoring code
  sdks/official/fraiseql-dart/conformance/export.dart
  sdks/official/fraiseql-dart/test/vector_field_test.dart
  sdks/official/fraiseql-rust/examples/conformance_export.rs
  sdks/official/fraiseql-rust/src/field.rs
Labels: none

style(sdk-rust): a builder that beta clippy can see is const
  sdks/official/fraiseql-rust/src/field.rs
Labels: none

fix(codegen): two vector types the client generators typed as nothing in particular
  CHANGELOG.md
  crates/fraiseql-codegen/src/client/python/render.rs
  crates/fraiseql-codegen/src/client/python/tests.rs
  crates/fraiseql-codegen/src/client/typescript/render.rs
  crates/fraiseql-codegen/src/client/typescript/render/tests.rs
Labels: documentation

feat(codegen): the two languages whose client had a document core and no renderer
  .github/workflows/sdk-conformance.yml
  CHANGELOG.md
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/generate_client.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-codegen/src/client/go/emit.rs
  crates/fraiseql-codegen/src/client/go/mod.rs
  crates/fraiseql-codegen/src/client/go/render.rs
  crates/fraiseql-codegen/src/client/go/runtime.rs
  crates/fraiseql-codegen/src/client/go/tests.rs
  crates/fraiseql-codegen/src/client/mod.rs
  crates/fraiseql-codegen/src/client/python/tests.rs
  crates/fraiseql-codegen/src/client/rust/emit.rs
  crates/fraiseql-codegen/src/client/rust/mod.rs
  crates/fraiseql-codegen/src/client/rust/render.rs
  crates/fraiseql-codegen/src/client/rust/runtime.rs
  crates/fraiseql-codegen/src/client/rust/tests.rs
  crates/fraiseql-codegen/src/client/tests.rs
  crates/fraiseql-codegen/tests/client_go_consumer.rs
  crates/fraiseql-codegen/tests/client_rust_consumer.rs
  docs/guides/typed-clients.md
  tools/suite-coverage-exemptions.toml
Labels: documentation, ci

fix(ci): the standby the server suite never bound, and the gate that could not see it
  .dagger/main.go
  tools/check-suite-coverage.py
Labels: none

feat(admin): the endpoint that runs SQL nobody compiled
  .dagger/feature-combos.go
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-auth/src/audit/logger.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/postgres/adapter/admin_sql.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/traits/adapter_types.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/middleware/auth.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/routes/api/admin_sql.rs
  crates/fraiseql-server/src/routes/api/mod.rs
  crates/fraiseql-server/src/routes/api/types.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server_config/admin_sql.rs
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/tests.rs
  crates/fraiseql-server/tests/admin_sql_console_e2e_pg.rs
  docs/operations/README.md
  docs/operations/admin-sql-console.md
Labels: documentation

feat(mcp): the schema an agent can browse, not only call
  CHANGELOG.md
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/mcp/mod.rs
  crates/fraiseql-server/src/mcp/resources.rs
  crates/fraiseql-server/src/mcp/tests.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/tests/mcp_tenant_dispatch_e2e_pg.rs
  docs/mcp.md
Labels: documentation

feat(mcp): a thread the client can partition but not address across
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-cli/src/config/toml_schema/server_settings.rs
  crates/fraiseql-cli/src/config/toml_schema/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/mcp/mod.rs
  crates/fraiseql-server/src/mcp/session.rs
  crates/fraiseql-server/src/mcp/session/tests.rs
  crates/fraiseql-server/src/mcp/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/tests/mcp_integration_test.rs
  crates/fraiseql-server/tests/mcp_transport_stamp_e2e_pg.rs
  docs/mcp.md
Labels: documentation

docs(changelog): one heading per type, as the rule has said since the 24-heading cleanup
  CHANGELOG.md
Labels: documentation

docs(mcp): the key an operator reads the reference to find
  docs/features/session-state.md
  docs/mcp.md
Labels: documentation

fix(lint): three files the repo's own formatters reject, and two "fixes" that corrupt them
  CHANGELOG.md
  deny.toml
  docs/operations/graphql-sse-streaming.md
Labels: documentation

feat(admin): the endpoint that runs SQL nobody compiled
  .dagger/feature-combos.go
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-auth/src/audit/logger.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/postgres/adapter/admin_sql.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/traits/adapter_types.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/middleware/auth.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/routes/api/admin_sql.rs
  crates/fraiseql-server/src/routes/api/mod.rs
  crates/fraiseql-server/src/routes/api/types.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server_config/admin_sql.rs
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/tests.rs
  crates/fraiseql-server/tests/admin_sql_console_e2e_pg.rs
  docs/operations/README.md
  docs/operations/admin-sql-console.md
Labels: documentation

fix(compile): three lists of the same scalars, and the type that fell between them
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
  crates/fraiseql-cli/tests/vector_authoring_contract_test.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/scalar_types.rs
  crates/fraiseql-core/src/schema/tests.rs
Labels: documentation

style(sdk-rust): a builder that beta clippy can see is const
  sdks/official/fraiseql-rust/src/field.rs
Labels: none

feat(mcp): the schema an agent can browse, not only call
  CHANGELOG.md
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/mcp/mod.rs
  crates/fraiseql-server/src/mcp/resources.rs
  crates/fraiseql-server/src/mcp/tests.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/tests/mcp_tenant_dispatch_e2e_pg.rs
  docs/mcp.md
Labels: documentation

bench(vector): the filter that made a top-10 search answer with two rows
  CHANGELOG.md
  benches/vector_filtered_ann.sql
  docs/operations/vector-search.md
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
