Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

docs: human navigation sprint — capability matrix, test taxonomy, module guides
  CONTRIBUTING.md
  Makefile
  README.md
  crates/fraiseql-cli/src/commands/compile.rs
  docs/adr/0009-database-feature-parity.md
  docs/architecture/README.md
  docs/database-compatibility.md
  docs/modules/README.md
  docs/modules/cache.md
  docs/modules/fact-table.md
  docs/modules/window-functions.md
  docs/testing.md
  fraiseql-python/src/fraiseql/decorators.py
Labels: documentation

docs(ops): add operational docs; fix wire doc proliferation; add create_table_if_not_exists
  crates/fraiseql-observers/src/checkpoint/mod.rs
  crates/fraiseql-wire/DEVELOPMENT.md
  crates/fraiseql-wire/DOCUMENTATION.md
  crates/fraiseql-wire/README.md
  docs/operations/README.md
  docs/operations/compiled-schema-lifecycle.md
  docs/operations/observer-idempotency.md
Labels: documentation

chore(.claude): fix stale references to deleted/moved files
  .claude/CLAUDE.md
Labels: none

chore(hygiene): fix unwrap lint coverage and remove phase aliases
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/arrow_bridge.rs
  crates/fraiseql-observers/src/cached_executor.rs
  crates/fraiseql-observers/src/deduped_executor.rs
  crates/fraiseql-observers/src/job_queue/mod.rs
  crates/fraiseql-observers/src/transport/bridge.rs
  crates/fraiseql-observers/src/transport/mssql_bridge.rs
  crates/fraiseql-observers/src/transport/mysql_bridge.rs
  crates/fraiseql-observers/tests/bridge_integration.rs
  crates/fraiseql-server/src/mcp/executor.rs
Labels: none

fix(security): add SQL identifier validation + harden federation resolver
  crates/fraiseql-core/src/federation/database_resolver.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/security_sql_identifier_test.rs
Labels: none

test(errors): expand error chain coverage + strengthen test-utils assertions
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-test-utils/src/assertions.rs
  crates/fraiseql-test-utils/src/lib.rs
Labels: none

refactor(server): split server.rs into focused submodules
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing.rs
Labels: none

fix(schema): update doctests for TypeName/FieldName newtypes
  crates/fraiseql-core/src/compiler/window_functions.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-core/tests/e2e_window_functions.rs
Labels: none

refactor(cache): split adapter.rs into adapter/ submodule
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/mutation.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
Labels: none

refactor(cli): split schema/converter.rs into focused submodules
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/mod.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/tests.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/schema/converter/directives.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/src/schema/converter/relay.rs
  crates/fraiseql-cli/src/schema/converter/subscriptions.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
Labels: none

refactor(cli): split commands/init.rs into focused submodules
  crates/fraiseql-cli/src/commands/init.rs
  crates/fraiseql-cli/src/commands/init/mod.rs
  crates/fraiseql-cli/src/commands/init/skeletons.rs
  crates/fraiseql-cli/src/commands/init/sql_templates.rs
  crates/fraiseql-cli/src/commands/init/tests.rs
Labels: none

refactor(core): split window_functions.rs and fact_table.rs into submodules
  crates/fraiseql-cli/src/commands/init/skeletons.rs
  crates/fraiseql-core/src/compiler/fact_table.rs
  crates/fraiseql-core/src/compiler/fact_table/detector.rs
  crates/fraiseql-core/src/compiler/fact_table/mod.rs
  crates/fraiseql-core/src/compiler/fact_table/tests.rs
  crates/fraiseql-core/src/compiler/window_functions.rs
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
  crates/fraiseql-core/src/compiler/window_functions/mod.rs
  crates/fraiseql-core/src/compiler/window_functions/planner.rs
  crates/fraiseql-core/src/compiler/window_functions/tests.rs
Labels: none

test(snapshots): accept SQLite WHERE generator snapshot updates
  .gitignore
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_sqlite_eq.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_sqlite_gt.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_sqlite_like.snap
Labels: none

refactor(cli): finalize extract.rs split into extract/ submodule
  crates/fraiseql-cli/src/commands/extract.rs
  crates/fraiseql-cli/src/commands/generate.rs
Labels: none

feat(core): add MutationCapable marker trait for compile-time mutation safety
  crates/fraiseql-core/src/db/fraiseql_wire_adapter.rs
  crates/fraiseql-core/src/db/mod.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/projection_generator.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/pipeline_codegen_executor_test.rs
  crates/fraiseql-core/tests/pipeline_inject_params_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_error_type_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-core/tests/relay_integration.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
  docs/architecture/overview.md
Labels: documentation

feat(cache): add RlsEnforcement policy + is_multi_tenant schema detection
  ROADMAP.md
  crates/fraiseql-core/src/cache/config.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/security_config.rs
  crates/fraiseql-core/tests/cache_rls_isolation_test.rs
  crates/fraiseql-server/src/server/builder.rs
Labels: documentation

chore: add MutationCapable to executor mock + commit fuzz gitignores
  crates/fraiseql-core/fuzz/.gitignore
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-wire/fuzz/.gitignore
Labels: none

test(server): Phase 2 — replace fake tests with honest ones
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/tests/auth_bypass_detection_test.rs
  crates/fraiseql-server/tests/common/graphql_executor.rs
  crates/fraiseql-server/tests/common/mod.rs
  crates/fraiseql-server/tests/graphql_features_e2e_test.rs
  crates/fraiseql-server/tests/graphql_request_validation_test.rs
  crates/fraiseql-server/tests/integration_performance_validation_test.rs
Labels: none

refactor(schema): type 4 CompiledSchema config fields + fix pre-existing clippy
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-core/src/cache/config.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/golden_fixtures_test.rs
  crates/fraiseql-server/src/mcp/mod.rs
  crates/fraiseql-server/src/routes/api/admin.rs
  crates/fraiseql-server/src/routes/api/query.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/subscriptions/webhook_lifecycle.rs
  tests/fixtures/golden/07-relay-uuid-cursor.json
Labels: tests

fix(tests): replace .unwrap() with .expect() to satisfy unwrap_used lint
  crates/fraiseql-cli/src/commands/init/tests.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-server/tests/auth_bypass_detection_test.rs
Labels: none

refactor(schema): migrate fields 5-7 to typed config structs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/rich_filters.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-core/fuzz/Cargo.lock
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/golden_fixtures_test.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
  crates/fraiseql-server/src/api_key.rs
  crates/fraiseql-server/src/federation/circuit_breaker.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/token_revocation.rs
  fraiseql-rust/Cargo.lock
  sdks/official/fraiseql-rust/Cargo.lock
Labels: none

docs(perf): replace hardcoded % claims with honest labels
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/benches/sql_projection_benchmark.rs
  crates/fraiseql-core/tests/query_optimization_validation_test.rs
  crates/fraiseql-server/tests/integration_performance_validation_test.rs
Labels: none

fix(deps): eliminate duplicate thiserror via vendored graphql-parser patch
  Cargo.lock
  Cargo.toml
Labels: none

feat(federation): real subgraph integration tests + CI + RLS hardening
  .github/workflows/ci.yml
  Cargo.lock
  IGNORED_TESTS.md
  codecov.yml
  crates/fraiseql-core/src/federation/service_sdl.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/tests/federation/fixtures/router.yaml
  crates/fraiseql-core/tests/federation/fixtures/supergraph_single.graphql
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/tests/common/mod.rs
  crates/fraiseql-server/tests/common/server_harness.rs
  crates/fraiseql-server/tests/federation_integration_test.rs
  docker/federation-ci/docker-compose.yml
  docker/federation-ci/init-mysql.sql
  docker/federation-ci/init-postgres.sql
  docker/federation-ci/orders-service/Dockerfile
  docker/federation-ci/orders-service/server.py
  docker/federation-ci/products-service/Dockerfile
  docker/federation-ci/products-service/server.py
  docker/federation-ci/resolv.conf
  docker/federation-ci/router.yaml
  docker/federation-ci/supergraph.graphql
  docker/federation-ci/users-service/Dockerfile
  docker/federation-ci/users-service/server.py
Labels: documentation, ci

feat(schema): replace serde_json::Value with typed GraphQLValue for default_value
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/compiler/ir.rs
  crates/fraiseql-core/src/compiler/parser.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/graphql_value.rs
  crates/fraiseql-core/src/schema/mod.rs
Labels: none

refactor(schema): type fact_tables HashMap with FactTableMetadata
  crates/fraiseql-cli/src/commands/validate_facts.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-core/src/compiler/fact_table/mod.rs
  crates/fraiseql-core/src/compiler/ir.rs
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/compiler/parser.rs
  crates/fraiseql-core/src/compiler/validator.rs
  crates/fraiseql-core/src/runtime/executor/aggregate.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/graphql_value.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/golden_fixtures_test.rs
  tests/fixtures/golden/05-security-inject-cache.json
Labels: tests

feat(tests): add SQL snapshot pairing policy (Issue 5)
  .pre-commit-config.yaml
  crates/fraiseql-core/tests/sql_behavioral.rs
  docs/testing.md
  tests/snapshot-pairs.md
  tools/check-snapshot-pairing.sh
Labels: documentation, tests, config

feat(tests): implement aggregate, mutation, and RLS behavioral tests
  crates/fraiseql-core/tests/sql_behavioral.rs
  tests/snapshot-pairs.md
Labels: tests

fix(server): replace inline rate-limit closure with named middleware fn
  crates/fraiseql-server/src/server/routing.rs
  rust-toolchain.toml
Labels: none

test(observers): add 19 observer transport pipeline integration tests
  crates/fraiseql-observers/tests/transport_pipeline_test.rs
Labels: none

test(wire): add 35 SDK SQL compliance tests for WhereOperator
  crates/fraiseql-wire/tests/sdk_sql_compliance_test.rs
Labels: none

docs: correct stale file paths in module documentation
  docs/modules/cache.md
  docs/modules/fact-table.md
  docs/modules/window-functions.md
Labels: documentation

fix(validation,observers): replace mock validators with real implementations; fix observer correctness
  crates/fraiseql-core/src/validation/async_validators.rs
  crates/fraiseql-core/src/validation/mod.rs
  crates/fraiseql-observers/src/listener/coordinator.rs
  crates/fraiseql-observers/src/listener/failover.rs
  crates/fraiseql-observers/src/tracing/propagation.rs
  crates/fraiseql-observers/src/transport/in_memory.rs
Labels: none

fix(validation,wire,gitignore): hardcoded date, LIKE injection, empty IN, gitignore
  .gitignore
  crates/fraiseql-core/src/validation/date_validators.rs
  crates/fraiseql-wire/src/operators/sql_gen.rs
Labels: none

fix(observers): W3C traceparent spec compliance
  crates/fraiseql-observers/src/tracing/propagation.rs
Labels: none

fix(observers): document bit-preserving i64↔u64 checkpoint cast
  crates/fraiseql-observers/src/listener/coordinator.rs
Labels: none

fix(observers): stop_health_monitor now works; failover_threshold_ms consulted
  crates/fraiseql-observers/src/listener/failover.rs
Labels: none

fix(auth): rate limiter clock failure no longer disables brute-force protection
  crates/fraiseql-auth/src/rate_limiting.rs
Labels: none

fix(auth): JWT validator requires audience by default; callers must configure with_audiences()
  crates/fraiseql-auth/src/jwt.rs
Labels: none

fix(secrets): shared Vault HTTP client, 30s timeout, rotate_secret cache invalidation
  crates/fraiseql-secrets/src/secrets_manager/backends/vault.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
