Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(java): Phase 4 - Examples and integration tests
  fraiseql-java/src/main/java/com/fraiseql/examples/BasicSchema.java
  fraiseql-java/src/main/java/com/fraiseql/examples/EcommerceSchema.java
  fraiseql-java/src/test/java/com/fraiseql/core/Phase4IntegrationTest.java
Labels: none

docs: Update README to accurately reflect full feature set
  README.md
Labels: documentation

feat(java): Phase 5 - Advanced features
  fraiseql-java/src/main/java/com/fraiseql/core/ArgumentBuilder.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaValidator.java
  fraiseql-java/src/test/java/com/fraiseql/core/Phase5AdvancedTest.java
Labels: none

fix: Correct GitHub repository URLs in badges
  README.md
Labels: documentation

feat(java): Phase 6 - Optimization and performance
  fraiseql-java/src/main/java/com/fraiseql/core/PerformanceMonitor.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaCache.java
  fraiseql-java/src/test/java/com/fraiseql/core/Phase6OptimizationTest.java
Labels: none

feat(java): Phase 7 - Release and Packaging
  fraiseql-java/API_GUIDE.md
  fraiseql-java/CHANGELOG.md
  fraiseql-java/CONTRIBUTING.md
  fraiseql-java/EXAMPLES.md
  fraiseql-java/INSTALL.md
  fraiseql-java/RELEASE_CHECKLIST.md
  fraiseql-java/pom.xml
Labels: none

feat(php): Phase 1 - Foundation & Project Setup
  fraiseql-php/composer.json
  fraiseql-php/phpunit.xml
  fraiseql-php/src/Attributes/GraphQLField.php
  fraiseql-php/src/Attributes/GraphQLType.php
  fraiseql-php/src/TypeConverter.php
  fraiseql-php/src/TypeInfo.php
  fraiseql-php/tests/AttributesTest.php
  fraiseql-php/tests/TypeConverterTest.php
  fraiseql-php/tests/TypeInfoTest.php
Labels: none

feat(php): Phase 2 - Type System Implementation
  fraiseql-php/src/FieldDefinition.php
  fraiseql-php/src/FraiseQLException.php
  fraiseql-php/src/SchemaRegistry.php
  fraiseql-php/src/StaticAPI.php
  fraiseql-php/src/TypeBuilder.php
  fraiseql-php/tests/FieldDefinitionTest.php
  fraiseql-php/tests/SchemaRegistryTest.php
  fraiseql-php/tests/StaticAPITest.php
  fraiseql-php/tests/TypeBuilderTest.php
Labels: none

feat(php): Phase 3 - JSON Export and Schema Formatting
  fraiseql-php/src/JsonSchema.php
  fraiseql-php/src/SchemaFormatter.php
  fraiseql-php/tests/JsonSchemaTest.php
  fraiseql-php/tests/SchemaFormatterTest.php
Labels: none

feat(php): Phase 4 - Examples and Integration tests
  fraiseql-php/examples/BasicSchema.php
  fraiseql-php/examples/EcommerceSchema.php
  fraiseql-php/tests/IntegrationTest.php
Labels: none

feat(php): Phase 5 - Advanced Features
  fraiseql-php/src/ArgumentBuilder.php
  fraiseql-php/src/CacheKey.php
  fraiseql-php/src/Validator.php
  fraiseql-php/tests/Phase5Test.php
Labels: none

feat(php): Phase 6 - Optimization
  fraiseql-php/src/LazyLoader.php
  fraiseql-php/src/PerformanceMonitor.php
  fraiseql-php/src/SchemaCache.php
  fraiseql-php/tests/Phase6Test.php
Labels: none

feat(phase2): Add E2E testing infrastructure
  Makefile
  fraiseql-typescript/tsconfig.json
  tests/e2e/python_e2e_test.py
Labels: tests

docs: Add comprehensive language generators and E2E testing documentation
  README.md
  docs/cli-schema-format.md
  docs/e2e-testing.md
  docs/language-generators.md
Labels: documentation

feat(e2e): Add VelocityBench blogging app E2E test target
  Makefile
  tests/e2e/velocitybench_e2e_test.py
Labels: tests

docs: Update documentation for VelocityBench E2E integration test
  README.md
  docs/e2e-testing.md
Labels: documentation

feat(e2e): Add comprehensive multi-language VelocityBench E2E test
  tests/e2e/velocitybench_all_languages_test.py
  tests/e2e/velocitybench_schemas.py
Labels: tests

feat(e2e): Add Tier 1A language expansion - Kotlin, C#, Rust, JavaScript, Ruby
  tests/e2e/velocitybench_all_languages_test.py
  tests/e2e/velocitybench_schemas.py
Labels: tests

feat(e2e): Add real E2E compilation test framework - semantic equivalence validation
  tests/e2e/velocitybench_compilation_test.py
Labels: tests

docs: Add next priority - fix CLI schema format for E2E compilation
  .claude/NEXT_STEPS.md
Labels: none

fix(schema): Normalize schema field names and types for CLI compatibility
  tests/e2e/velocitybench_all_languages_test.py
  tests/e2e/velocitybench_e2e_test.py
  tests/e2e/velocitybench_schemas.py
Labels: tests

fix(cli): Add missing sql_projection_hint field to test schema
  crates/fraiseql-cli/src/commands/compile.rs
Labels: none

feat(phase-3): Implement real database health checks and expose adapter for introspection
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-server/src/routes/health.rs
Labels: none

test(phase-3.2): Add comprehensive integration test suite for HTTP endpoints
  crates/fraiseql-server/tests/endpoint_health_tests.rs
  crates/fraiseql-server/tests/graphql_e2e_test.rs
Labels: none

feat(phase-3.2): Add production deployment configurations and guide
  .dockerignore
  Dockerfile
  docker-compose.yml
  docs/DEPLOYMENT_GUIDE.md
  k8s/deployment.yaml
  k8s/service.yaml
Labels: documentation

docs(phase-3): Add comprehensive completion reports and status summary
  .claude/PHASE_3_2_COMPLETION_REPORT.md
  .claude/PHASE_3_STATUS.md
Labels: none

feat(phase-3.3): Implement comprehensive observability stack - Prometheus metrics, structured JSON logging
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/logging.rs
  crates/fraiseql-server/src/metrics.rs
  crates/fraiseql-server/src/middleware/logging.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/routes/mod.rs
  docs/STRUCTURED_LOGGING.md
  monitoring/grafana-dashboard.json
Labels: documentation

feat(phase-3.3): Add comprehensive performance monitoring and tracking
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/performance.rs
  docs/PERFORMANCE_MONITORING.md
Labels: documentation

feat(phase-3.3): Implement distributed tracing support with W3C standards
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/tracing.rs
  docs/DISTRIBUTED_TRACING.md
Labels: documentation

docs(phase-3.3): Add comprehensive observability documentation
  docs/OBSERVABILITY.md
  docs/OBSERVABILITY_QUICK_REFERENCE.md
Labels: documentation

docs: Add comprehensive E2E testing analysis and recommendations
  .claude/E2E_TESTING_ANALYSIS.md
Labels: none

feat(phase-3.4): Add fraiseql-wire protocol integration tests
  .claude/.gitignore
  .claude/00_READ_ME_FIRST_CLI_FIX.md
  .claude/00_START_HERE.md
  .claude/00_START_HERE_SEQUENTIAL.md
  .claude/ASSESSMENT_INDEX.md
  .claude/CLI_FIX_COMPLETION_REPORT.md
  .claude/CLI_FIX_INDEX.md
  .claude/CLI_SCHEMA_FIX_IMPLEMENTATION_PLAN.md
  .claude/CLI_SCHEMA_FIX_SUMMARY.md
  .claude/CLI_SCHEMA_FORMAT_ANALYSIS.md
  .claude/COMPREHENSIVE_ROADMAP.md
  .claude/CONVERSION_COMPLETE.md
  .claude/E2E_IMPLEMENTATION_CHECKLIST.md
  .claude/E2E_TESTING_STRATEGY.md
  .claude/EXECUTIVE_SUMMARY_CLI_FIX.md
  .claude/FRAISIER_ACTION_ITEMS.md
  .claude/FRAISIER_GRAPHQL_API.md
  .claude/FRAISIER_INDEX.md
  .claude/FRAISIER_INTEGRATION_ANALYSIS.md
  .claude/FRAISIER_PUBLIC_DOCS.md
  .claude/FRAISIER_QUICK_REFERENCE.md
  .claude/FRAISIER_SUMMARY.txt
  .claude/GO_AUTHORING_LAYER_PLAN.md
  .claude/IMPLEMENTATION_PLAN.md
  .claude/IMPLEMENTATION_PLAN_SEQUENTIAL.md
  .claude/LANGUAGE_GENERATORS_DASHBOARD.md
  .claude/LANGUAGE_GENERATORS_STATUS.md
  .claude/LANGUAGE_GENERATORS_SUMMARY.txt
  .claude/PHASE_3_1_COMPLETION_REPORT.md
  .claude/PHASE_3_COMPLETE_IMPLEMENTATION_PLAN.md
  .claude/QUICK_FIXES_CHECKLIST.md
  .claude/QUICK_FIX_CHECKLIST.md
  .claude/QUICK_REFERENCE_SEQUENTIAL.md
  .claude/QUICK_START_GUIDE.md
  .claude/README_FRAISIER_DOCS.md
  .claude/README_SEQUENTIAL_EDITION.md
  .claude/SEQUENTIAL_EDITION_INDEX.md
  .claude/SEQUENTIAL_PLAN_SUMMARY.md
  crates/fraiseql-server/tests/fraiseql_wire_protocol_test.rs
Labels: none

feat(phase-7.1): Implement entity-level caching foundation
  .claude/ENTITY_CACHING_DISCOVERY.md
  .claude/PHASE_7_ENTITY_CACHING_PLAN.md
  .claude/PHASE_7_INDEX.md
  .claude/PHASE_7_QUICK_START.md
  crates/fraiseql-core/src/cache/cascade_metadata.rs
  crates/fraiseql-core/src/cache/entity_key.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/uuid_extractor.rs
Labels: none

feat(phase-7): Rearchitect entity-level cache with GraphQL Cascade integration
  crates/fraiseql-core/src/cache/cascade_response_parser.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/query_analyzer.rs
  crates/fraiseql-core/src/cache/uuid_extractor.rs
Labels: none

feat(phase-7.4): Add entity-aware cache invalidation to CachedDatabaseAdapter
  crates/fraiseql-core/src/cache/adapter.rs
Labels: none

feat(phase-7.5): Add comprehensive E2E tests for cascade-based cache invalidation
  crates/fraiseql-core/src/cache/adapter.rs
Labels: none

docs(phase-8): Create comprehensive Phase 8 Python SDK implementation plan
  .claude/PHASE_8_AUTHORING_SDK_PLAN.md
Labels: none

docs(phase-8): Document Phase 8 Python SDK completion status
  .claude/PHASE_8_COMPLETION_REPORT.md
Labels: none

fix(code-quality): Eliminate all 50 compilation warnings
  crates/fraiseql-core/src/cache/dependency_tracker.rs
  crates/fraiseql-core/src/cache/query_analyzer.rs
  crates/fraiseql-core/src/compiler/fact_table.rs
  crates/fraiseql-core/src/compiler/window_functions.rs
  crates/fraiseql-core/src/runtime/aggregation.rs
  crates/fraiseql-server/src/metrics.rs
  crates/fraiseql-server/src/middleware/logging.rs
  crates/fraiseql-server/src/performance.rs
  crates/fraiseql-server/src/tracing.rs
  crates/fraiseql-server/src/validation.rs
Labels: none

fix(tests): Eliminate all test warnings for completely clean compilation
  crates/fraiseql-server/tests/concurrent_load_test.rs
  crates/fraiseql-server/tests/fraiseql_wire_protocol_test.rs
  crates/fraiseql-server/tests/http_server_e2e_test.rs
  crates/fraiseql-server/tests/test_helpers.rs
Labels: none
