Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat: Enhanced network address filtering with specialized IP operators
  CHANGELOG.md
  docs/api-reference/index.md
  docs/core-concepts/filtering-and-where-clauses.md
  docs/core-concepts/index.md
  docs/core-concepts/type-system.md
  docs/learning-paths/migrating.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/network_utils.py
  src/fraiseql/sql/operator_strategies.py
  tests/sql/test_network_address_filtering.py
  tests/sql/test_restricted_filter_types.py
Labels: documentation, tests, sql, config, dependencies

Fix automatic JSON serialization for @fraiseql.type decorated classes
  CHANGELOG.md
  docs/api-reference/decorators.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/fastapi/json_encoder.py
  tests/core/test_unset_json_serialization.py
  tests/types/test_fraise_type_serialization.py
Labels: documentation, tests, config, dependencies

fix: restore WHERE clause generation for GraphQL filters in CQRSRepository (v0.3.10)
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cqrs/repository.py
  tests/sql/test_graphql_where_repository_fix.py
  tests/sql/test_where_clause_bug.py
  tests/sql/test_where_clause_bug_summary.py
Labels: documentation, tests, config, dependencies

feat: CamelForge integration - Database-native GraphQL field transformation (v0.4.0)
  CAMELFORGE_INTEGRATION.md
  CHANGELOG.md
  CONFIGURATION_SIMPLIFIED.md
  FINAL_CAMELFORGE_SUMMARY.md
  README.md
  RELEASE_NOTES_v0.4.0.md
  SIMPLE_CAMELFORGE_TESTING.md
  TEAM_TESTING_GUIDE.md
  TESTING_CAMELFORGE.md
  docker-compose.camelforge-test.yml
  docker/test-camelforge.dockerfile
  pyproject.toml
  scripts/create-testing-branch.sh
  src/fraiseql/db.py
  src/fraiseql/fastapi/camelforge_config.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/fastapi/dependencies.py
  src/fraiseql/sql/sql_generator.py
  tests/field_threshold/test_camelforge_complete_example.py
  tests/field_threshold/test_camelforge_integration.py
  tests/field_threshold/test_camelforge_integration_e2e.py
  tests/field_threshold/test_simplified_camelforge_config.py
Labels: documentation, tests, sql, config, dependencies

fix: AsyncGenerator typing for Python 3.12+ compatibility
  examples/subscription_example.py
  examples/websocket_fastapi.py
  tests/database_conftest.py
  tests/regression/test_id_parameter_fix.py
  tests/subscriptions/test_lifecycle_integration.py
  tests/subscriptions/test_subscription_integration.py
  tests/subscriptions/test_subscriptions.py
Labels: tests

Release 0.4.1: Fix critical OrderBy unpacking error
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/caching/cache_key.py
  src/fraiseql/cqrs/repository.py
  src/fraiseql/db.py
  src/fraiseql/sql/sql_generator.py
  tests/sql/test_orderby_complex_scenarios.py
Labels: documentation, tests, sql, config, dependencies

fix: Critical JSONB numeric type coercion bug in v0.4.1
  src/fraiseql/core/json_passthrough_repository.py
  src/fraiseql/db.py
  src/fraiseql/fastapi/json_encoder.py
  src/fraiseql/repositories/intelligent_passthrough.py
  src/fraiseql/repositories/passthrough_mixin.py
  src/fraiseql/sql/sql_generator.py
  tests/core/test_fix_verification.py
  tests/core/test_jsonb_numeric_coercion_bug.py
  tests/core/test_jsonb_type_coercion_adversarial.py
  tests/sql/test_sql_generator.py
Labels: tests, core, sql

fix: JSONB numeric type coercion in SQL generator with json_output=True
  pyproject.toml
  src/fraiseql/db.py
  src/fraiseql/fastapi/json_encoder.py
  src/fraiseql/repositories/intelligent_passthrough.py
  src/fraiseql/repositories/passthrough_mixin.py
  src/fraiseql/sql/sql_generator.py
  tests/core/test_fix_verification.py
  tests/core/test_jsonb_numeric_coercion_bug.py
  tests/core/test_jsonb_type_coercion_adversarial.py
  tests/core/test_unset_json_serialization.py
  tests/field_threshold/test_camelforge_complete_example.py
  tests/field_threshold/test_camelforge_integration.py
  tests/field_threshold/test_camelforge_integration_e2e.py
  tests/sql/test_graphql_where_repository_fix.py
  tests/sql/test_network_address_filtering.py
  tests/sql/test_orderby_complex_scenarios.py
  tests/sql/test_restricted_filter_types.py
  tests/sql/test_sql_generator.py
  tests/sql/test_where_clause_bug.py
  tests/sql/test_where_clause_bug_summary.py
  tests/types/test_fraise_type_serialization.py
Labels: tests, sql, config, dependencies

fix: Schema-aware JSONB operator selection to resolve numeric coercion bug
  src/fraiseql/sql/sql_generator.py
  tests/core/test_auto_camel_case_integration.py
  tests/core/test_fix_verification.py
  tests/core/test_graphql_type.py
  tests/core/test_jsonb_numeric_coercion_bug.py
  tests/core/test_jsonb_type_coercion_adversarial.py
  tests/database_conftest.py
  tests/field_threshold/test_camelforge_complete_example.py
  tests/field_threshold/test_camelforge_integration.py
  tests/field_threshold/test_camelforge_integration_e2e.py
  tests/field_threshold/test_simplified_camelforge_config.py
  tests/regression/test_id_parameter_fix.py
  tests/sql/test_graphql_where_repository_fix.py
  tests/sql/test_orderby_complex_scenarios.py
  tests/sql/test_sql_generator.py
  tests/sql/test_sql_generator_comprehensive.py
  tests/sql/test_where_clause_bug.py
  tests/sql/test_where_clause_bug_summary.py
  tests/subscriptions/test_lifecycle_integration.py
  tests/subscriptions/test_subscription_integration.py
  tests/subscriptions/test_subscriptions.py
  tests/utils/test_auto_camel_case.py
  uv.lock
Labels: tests, sql

chore: Bump version to 0.4.3 for JSONB operator selection release
  pyproject.toml
Labels: config, dependencies

fix: AsyncGenerator typing for Python 3.12+ compatibility in test
  tests/regression/test_id_parameter_fix.py
Labels: tests

feat: Fix TurboRouter fragment field extraction and double-wrapping bugs
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/fastapi/turbo.py
  src/fraiseql/turbo/enhanced_turbo_router.py
  tests/turbo/test_turbo_router.py
Labels: documentation, tests, config, dependencies

feat: Fix critical mutation passthrough bug in v0.4.5
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/graphql/execute.py
  src/fraiseql/mutations/parser.py
  tests/test_always_data_config_integration.py
Labels: documentation, tests, mutations, config, dependencies

fix: Update __version__ to 0.4.5 in __init__.py
  src/fraiseql/__init__.py
Labels: none

chore: Bump version to 0.4.6 - fix version reporting
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

feat: FraiseQL v0.5.0 - Revolutionary Zero-Inheritance Mutation Pattern
  CHANGELOG.md
  examples/blog_api/test_debug_duplicate.py
  examples/blog_api/test_simple.py
  examples/debug_and_validation_demo.py
  examples/ecommerce/test_ecommerce.py
  pyproject.toml
  scripts/test_database_setup.py
  src/fraiseql/__init__.py
  src/fraiseql/graphql/execute.py
  src/fraiseql/mutations/decorators.py
  src/fraiseql/mutations/error_config.py
  src/fraiseql/types/common.py
  src/fraiseql/types/generic.py
  tests/database/test_composite_type_parsing.py
  tests/integration/test_graphql_error_serialization.py
  tests/integration/test_printoptim_patterns.py
  tests/integration/test_zero_inheritance_patterns.py
  tests/mutations/test_auto_mutation_fields.py
  tests/test_always_data_config_integration.py
  tests/types/test_default_error_type.py
  tests/unit/test_fraise_type_json_serialization.py
  uv.lock
Labels: documentation, tests, types, mutations, config, dependencies

fix: Add serialization to mutation decorator resolver
  src/fraiseql/mutations/mutation_decorator.py
Labels: mutations

chore: Save current mutation error management system before rebuild
  src/fraiseql/core/graphql_type.py
  src/fraiseql/graphql/execute.py
  src/fraiseql/mutations/decorators.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/parser.py
  tests/test_serialization_fix_tdd.py
  uv.lock
Labels: tests, core, mutations

feat: Implement clean mutation error management system
  src/fraiseql/mutations/clean_decorator.py
  src/fraiseql/mutations/result_processor.py
  tests/mutation_error_management/__init__.py
  tests/mutation_error_management/test_error_result_processor.py
  tests/mutation_error_management/test_graphql_integration.py
Labels: tests, mutations

feat: Release v0.5.0-beta1 with Clean Mutation Error Management System
  CHANGELOG-v0.5.0-beta.md
  pyproject.toml
Labels: documentation, config, dependencies

feat: Complete micro TDD development of enhanced FraiseQL pattern with error arrays
  tests/blog_e2e/ERROR_ARRAYS_RED_PHASE_GUIDE.md
  tests/blog_e2e/IMPLEMENTATION_GUIDE.md
  tests/blog_e2e/MICRO_TDD_COMPLETE_SUMMARY.md
  tests/blog_e2e/PRINTOPTIM_ERROR_ARRAYS_EXAMPLE.md
  tests/blog_e2e/README.md
  tests/blog_e2e/conftest.py
  tests/blog_e2e/enhanced_fraiseql_pattern.py
  tests/blog_e2e/final_enhanced_blog_mutations.py
  tests/blog_e2e/fraiseql_tests/__init__.py
  tests/blog_e2e/fraiseql_tests/enhanced_mutation.py
  tests/blog_e2e/functions.sql
  tests/blog_e2e/functions_with_error_arrays.sql
  tests/blog_e2e/graphql_types.py
  tests/blog_e2e/graphql_types_with_error_arrays.py
  tests/blog_e2e/run_green_phase.py
  tests/blog_e2e/run_red_phase.py
  tests/blog_e2e/run_red_phase_clean_pattern.py
  tests/blog_e2e/run_red_phase_error_arrays.py
  tests/blog_e2e/run_red_phase_structure_demo.py
  tests/blog_e2e/run_refactor_phase.py
  tests/blog_e2e/schema.sql
  tests/blog_e2e/test_error_arrays.py
  tests/blog_e2e/test_green_phase_validation.py
  tests/blog_e2e/test_red_phase.py
  tests/blog_e2e/test_red_phase_clean_fraiseql_pattern.py
  tests/blog_e2e/test_red_phase_error_arrays.py
  tests/blog_e2e/test_refactor_phase.py
  tests/blog_e2e/validate_green_phase.py
Labels: tests

feat: Complete Enhanced/Optimized → Default patterns renaming with migration tooling
  tests/blog_e2e/MIGRATION_REPORT.md
  tests/blog_e2e/fraiseql_defaults.py
  tests/blog_e2e/migrate_fraiseql.py
  tests/blog_e2e/migration_tooling.py
  tests/blog_e2e/run_red_phase_renaming.py
  tests/blog_e2e/test_red_phase_default_fraiseql_patterns.py
  tests/blog_e2e/validate_green_phase_renaming.py
Labels: tests

feat: Remove legacy patterns and fix database driver to psycopg3
  tests/blog_e2e/conftest.py
  tests/blog_e2e/fraiseql_defaults.py
  tests/blog_e2e/validate_green_phase_renaming.py
Labels: tests

docs: Update Phase 1 critical documentation to clean default patterns
  README.md
  docs/api-reference/decorators.md
  docs/mutations/index.md
Labels: documentation

fix: Update test script to properly count results with assert statements
  tests/blog_e2e/src/blog/test_types_only.py
Labels: tests

fix: Remove unused variables from domain entities
  tests_new/e2e/blog_demo_enterprise/src/blog/domain/content/post.py
  tests_new/e2e/blog_demo_enterprise/src/blog/domain/management/organization.py
  tests_new/e2e/blog_demo_enterprise/src/blog/domain/users/user.py
Labels: none

feat: Transform E2E test suite from mocks to real database operations
  tests_new/e2e/blog_demo_simple/app.py
  tests_new/e2e/blog_demo_simple/app.py.backup
  tests_new/e2e/blog_demo_simple/blog_schema.py
  tests_new/e2e/blog_demo_simple/conftest.py
  tests_new/e2e/blog_demo_simple/pytest.ini
  tests_new/e2e/blog_demo_simple/test_blog_complete.py
  tests_new/e2e/blog_demo_simple/test_database_seeding.py
  tests_new/e2e/blog_demo_simple/test_database_setup.py
  tests_new/shared/__init__.py
  tests_new/shared/fixtures/__init__.py
  tests_new/shared/fixtures/database/__init__.py
  tests_new/shared/fixtures/database/seeding.py
  tests_new/shared/fixtures/database/setup.py
  tests_new/shared/utilities/__init__.py
  tests_new/shared/utilities/graphql_client.py
Labels: tests

fix: Apply pre-commit hook formatting fixes to test infrastructure
  tests_new/shared/__init__.py
  tests_new/shared/fixtures/__init__.py
  tests_new/shared/fixtures/database/__init__.py
  tests_new/shared/fixtures/database/seeding.py
  tests_new/shared/fixtures/database/setup.py
  tests_new/shared/utilities/__init__.py
  tests_new/shared/utilities/graphql_client.py
Labels: none

refactor: Replace print statements with professional logging and Rich console output
  tests_new/e2e/blog_demo_enterprise/assess_tests.py
  tests_new/e2e/blog_demo_enterprise/tests/integration/test_content_multi_tenant.py
  tests_new/e2e/blog_demo_simple/app.py.backup
  tests_new/e2e/blog_demo_simple/run_tests.py
  tests_new/e2e/blog_demo_simple/test_blog_complete.py
  tests_new/e2e/blog_demo_simple/test_blog_real_database.py
Labels: tests

refactor: Clean up experimental mutation system artifacts
  src/fraiseql/mutations/clean_decorator.py
Labels: mutations

fix: Complete test suite consolidation (with some failing tests to address)
  tests/e2e/blog_demo_enterprise/tests/__init__.py
  tests/e2e/blog_demo_enterprise/tests/conftest.py
  tests/e2e/blog_demo_enterprise/tests/fixtures/__init__.py
  tests/e2e/blog_demo_enterprise/tests/fixtures/enterprise_graphql_client.py
  tests/e2e/blog_demo_enterprise/tests/integration/__init__.py
  tests/e2e/blog_demo_enterprise/tests/integration/test_content_multi_tenant.py
  tests/e2e/blog_demo_enterprise/tests/integration/test_multi_tenant.py
  tests/e2e/blog_demo_enterprise/tests/unit/__init__.py
  tests/e2e/blog_demo_enterprise/tests/unit/domain/__init__.py
  tests/e2e/blog_demo_enterprise/tests/unit/domain/test_organization.py
  tests/e2e/blog_demo_enterprise/tests/unit/domain/test_post_entity.py
  tests/e2e/blog_demo_enterprise/tests/unit/domain/test_user_entity.py
  tests/e2e/blog_demo_enterprise/tests/unit/domain/test_value_objects.py
  tests/e2e/blog_demo_simple/test_blog_real_database.py
Labels: tests

refactor: Finalize test suite consolidation and cleanup experimental artifacts
  experimental_tests/test_green_phase_validation.py
  experimental_tests/test_red_phase.py
  experimental_tests/test_red_phase_clean_fraiseql_pattern.py
  experimental_tests/test_red_phase_default_fraiseql_patterns.py
  experimental_tests/test_red_phase_error_arrays.py
  experimental_tests/test_refactor_phase.py
  tests/auth/test_auth_fixtures.py
  tests/cli/cli/__init__.py
  tests/cli/cli/conftest.py
  tests/cli/cli/test_check.py
  tests/cli/cli/test_dev.py
  tests/cli/cli/test_generate.py
  tests/cli/cli/test_init.py
  tests/cli/cli/test_integration.py
  tests/cli/cli/test_main.py
  tests/cli/cli/test_sql_helper.py
  tests/core/test_graphql_type_comprehensive.py.disabled
  tests/core/test_nested_object_tenant_id_bug.py
  tests/core/test_nested_object_tenant_id_fix.py
  tests/core/test_nested_tenant_fix_real_db.py
  tests/core/test_resolve_nested_parameter.py
  tests/database/integration/test_repository_where_integration.py
  tests/fastapi/test_routers_extended.py
  tests/mutations/test_mutation_error_handling.py
  tests/regression/test_first_query_null_issue.py
  tests/security/test_csrf_protection.py
  tests/security/test_csrf_protection_extended.py
  tests/sql/test_sql_generator.py
  tests/sql/test_sql_generator_comprehensive.py
  tests/sql/test_where_clause_bug_summary.py
  tests/sql/test_where_generator.py
  tests/sql/test_where_generator_comprehensive.py
  tests/subscriptions/test_caching_extended.py
  tests/subscriptions/test_websocket_extended.py
Labels: tests

docs: Add verification timestamp to README
  README.md
Labels: documentation

chore: Clean up intermediate reorganization files for fresh start
  REORGANIZATION_PLAN.md
  TEST_REORGANIZATION_SUMMARY.md
  tests/README.md
Labels: documentation, tests

fix: Improve integration test robustness and handle missing dependencies gracefully
  CHANGELOG.md
  scripts/clean_broken_tests.py
  tests/conftest.py
  tests/fixtures/examples/conftest_examples.py
  tests/integration/examples/test_blog_enterprise_integration.py
  tests/pytest.ini
Labels: documentation, tests

fix: Skip domain structure test due to dataclass inheritance issues
  examples/README.md
  examples/blog_enterprise/domain/common/base_classes.py
  tests/integration/examples/test_blog_enterprise_integration.py
Labels: tests

feat: Achieve production readiness with comprehensive test suite optimization
  pyproject.toml
  tests/fixtures/examples/conftest_examples.py
  tests/integration/auth/test_auth_enforcement.py
  tests/integration/database/repository/test_composite_type_parsing.py
  tests/integration/database/repository/test_db_comprehensive.py
  tests/integration/database/repository/test_db_extended.py
  tests/integration/database/repository/test_json_passthrough_integration.py
  tests/integration/database/repository/test_jsonb_extraction.py
  tests/integration/graphql/subscriptions/test_lifecycle_integration.py
  tests/integration/performance/test_field_limit_integration.py
  tests/integration/performance/test_graphql_field_limit_e2e.py
  tests/integration/performance/test_query_timeout_integration.py
  tests/system/cli/test_integration.py
  tests/system/fastapi_system/test_context_getter.py
  tests/system/fastapi_system/test_context_merging_edge_cases.py
  uv.lock
Labels: tests, config, dependencies

feat: Enable comprehensive Docker test suite - all 47 critical tests now running
  pyproject.toml
  uv.lock
Labels: config, dependencies

feat: Achieve PERFECT test suite - 0 skipped tests, 2410 passing
  examples/blog_enterprise/domain/common/events.py
  tests/integration/examples/test_blog_enterprise_integration.py
Labels: tests

Release v0.5.0: FraiseQL Production-Ready with Perfect Test Suite
  CHANGELOG-v0.5.0-beta.md
  CHANGELOG.md
  examples/blog_enterprise/requirements.txt
  examples/blog_simple/requirements.txt
  pyproject.toml
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
Labels: documentation, tests, cli, config, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
