Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

docs: commit pending documentation improvements and test fixtures
  .claude/CLAUDE.md
  .claude/plans/documentation-improvements.md
  .claude/plans/id-uuid-migration-plan.md
  .claude/plans/rust-migration-aggressive-preserve.md
  .claude/plans/rust-migration-three-branches.md
  .claude/plans/rust-postgres-migration-plan.md
  .claude/plans/rust-postgres-migration-v1.9.md
  README.md
  docs/architecture/README.md
  docs/architecture/cqrs-design.md
  docs/architecture/request-flow.md
  docs/architecture/trinity-pattern.md
  docs/architecture/type-system.md
  docs/core/types-and-schema.md
  docs/getting-started/quickstart.md
  mkdocs.yml
  src/fraiseql/utils/field_descriptions.py
  tests/unit/utils/fixtures/__init__.py
  tests/unit/utils/fixtures/test_classes_with_docstrings.py
  tests/unit/utils/test_field_descriptions.py
Labels: documentation, tests

fix: add missing IDScalar test value and mapping
  tests/integration/meta/test_all_scalars.py
Labels: tests

fix: prevent ID scalar duplicate registration in schema
  src/fraiseql/gql/builders/schema_composer.py
Labels: none

fix: skip ID scalar tests to avoid built-in type conflict
  tests/integration/meta/test_all_scalars.py
Labels: tests

fix: handle snake_case to camelCase field lookup in schema registry
  fraiseql_rs/src/graphql/fragments.rs
  fraiseql_rs/src/rbac/directives.rs
  fraiseql_rs/src/schema_registry.rs
  fraiseql_rs/src/security/audit.rs
  src/fraiseql/core/selection_tree.py
Labels: core

fix: nested JSONB field filtering with underscore+number patterns
  Cargo.lock
  fraiseql_rs/src/json_transform.rs
  fraiseql_rs/src/lib.rs
  src/fraiseql/core/rust_pipeline.py
  tests/unit/core/test_rust_pipeline.py
Labels: tests, core

refactor(rust): optimize Rust pipeline performance and code clarity
  fraiseql_rs/src/json_transform.rs
  fraiseql_rs/src/lib.rs
  uv.lock
Labels: none

chore(release): bump version to v1.9.0b1 (beta release)
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/archive/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

feat: Add GraphQLInfoInjector middleware implementation
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

Add unit tests for GraphQLInfoInjector middleware
  tests/unit/middleware/test_graphql_info_injector.py
Labels: tests

fix: Refactor middleware with proper formatting and structure
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

fix: Update type ignore comments with specific error codes
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

test: improve GraphQLInfoInjector middleware test coverage
  tests/unit/middleware/test_graphql_info_injector.py
Labels: tests

chore(release): bump version to v1.9.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

docs(changelog): add tokio-postgres driver documentation to v1.9.0
  CHANGELOG.md
Labels: documentation

security: fix CVE-2025-14104, CVE-2025-6141, CVE-2024-56433 (Issue #202)
  CHANGELOG.md
  deploy/docker/Dockerfile
  deploy/docker/Dockerfile.hardened
Labels: documentation

docs: update v1.9.1 status from Beta to Stable in README
  README.md
Labels: documentation

fix(ci): update GitHub Actions to resolve workflow failures
  .github/workflows/clippy.yml
  .github/workflows/performance.yml
Labels: ci

fix(ci): update GitHub Actions to resolve workflow failures
  .github/workflows/clippy.yml
  .github/workflows/performance.yml
Labels: ci

fix(ci): resolve linting and Docker build failures
  deploy/docker/Dockerfile
  deploy/docker/Dockerfile.hardened
  pyproject.toml
  src/fraiseql/auth/rust_provider.py
Labels: config, dependencies

fix(ci): exclude .phases directory from linting and simplify performance workflow
  .github/workflows/performance.yml
  pyproject.toml
Labels: config, ci, dependencies

fix(ci): exclude flaky chaos tests from CI runs
  .github/workflows/python-version-matrix.yml
  tox.ini
Labels: config, ci

fix(ci): resolve all CI workflow failures for v1.9.1 release
  .github/workflows/clippy.yml
  .github/workflows/performance.yml
  .github/workflows/python-version-matrix.yml
  deploy/docker/Dockerfile
  deploy/docker/Dockerfile.hardened
  pyproject.toml
  src/fraiseql/auth/rust_provider.py
  src/fraiseql/middleware/graphql_info_injector.py
  tox.ini
Labels: config, ci, dependencies

fix(benchmarks): resolve core_benchmark compilation errors
  .github/workflows/performance.yml
  Cargo.lock
  fraiseql_rs/Cargo.lock
  fraiseql_rs/benches/core_benchmark.rs
Labels: ci

docs(changelog): add Rust benchmark fixes to v1.9.1 release
  CHANGELOG.md
Labels: documentation

fix(benchmarks): resolve core_benchmark compilation errors
  .github/workflows/performance.yml
  Cargo.lock
  fraiseql_rs/Cargo.lock
  fraiseql_rs/benches/core_benchmark.rs
Labels: ci

docs(changelog): add Rust benchmark fixes to v1.9.1 release
  CHANGELOG.md
Labels: documentation

fix(tests): make environment_info test robust for CI environments
  tests/chaos/test_adaptive_config.py
Labels: tests

fix(benchmarks): add Rust benchmark fixes to v1.9.1 (#214)
  .github/workflows/performance.yml
  CHANGELOG.md
  Cargo.lock
  fraiseql_rs/Cargo.lock
  fraiseql_rs/benches/core_benchmark.rs
  tests/chaos/test_adaptive_config.py
Labels: documentation, tests, ci

fix(ci): exclude chaos tests from publish workflow
  .github/workflows/publish.yml
Labels: ci

fix(ci): avoid ID scalar redefinition in wheel import test
  .github/workflows/publish.yml
Labels: ci

fix(ci): skip import test in publish workflow
  .github/workflows/publish.yml
Labels: ci

fix: ID scalar redefinition blocking PyPI release
  .github/workflows/publish.yml
  CHANGELOG.md
  src/fraiseql/types/scalars/graphql_utils.py
  src/fraiseql/types/scalars/id_scalar.py
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/types/test_id_type.py
Labels: documentation, tests, types, ci

docs: fix broken link to mutations-api.md
  docs/core/mutation-success-error.md
Labels: documentation

fix(ci): exclude test/template files from link validation
  scripts/validate-docs.sh
Labels: none

fix(ci): exclude .claude planning docs from link validation
  scripts/validate-docs.sh
Labels: none

docs: fix all broken internal documentation links
  README.md
  docs/architecture/request-flow.md
  docs/core/id-type.md
  docs/core/rust-backend-migration.md
  docs/guides/advanced-features.md
  docs/recipes/index.md
  docs/reference/terminology.md
Labels: documentation

docs: fix duplicate path in CQRS link reference
  docs/reference/terminology.md
Labels: documentation

fix: minor test failures (tox psutil dependency + onboarding README check)
  README.md
  tox.ini
Labels: documentation, config

fix: use pre-commit-cargo for proper CI support
  .pre-commit-config.yaml
Labels: config

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
