Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

docs(changelog): guide, sidecar example, CHANGELOG for #149
  CHANGELOG.md
  docs/guides/changelog-graphql.md
  examples/changelog-sidecar/README.md
  examples/changelog-sidecar/fraiseql.toml
  examples/changelog-sidecar/sidecar.ts
Labels: documentation

test(core): end-to-end changelog GraphQL stack + TEXT[] row mapping (#149)
  crates/fraiseql-core/tests/changelog_e2e.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
Labels: none

docs(changelog): document v2.4.0 known limitations + ci(workflows): move workspace semver check to workflow_dispatch
  .github/workflows/semver.yml
  CHANGELOG.md
Labels: documentation, ci

docs(changelog): drop body H1 (front-matter title is canonical, MD025)
  docs/guides/changelog-graphql.md
Labels: documentation

test(core): extract inline test block in changelog.rs to sibling tests.rs
  crates/fraiseql-core/src/schema/changelog.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
Labels: none

style(core): nightly rustfmt on changelog::tests
  crates/fraiseql-core/src/schema/changelog/tests.rs
Labels: none

feat(observers)+docs+ci: changelog-over-GraphQL (#149) + Known Limitations CHANGELOG + workspace semver to workflow_dispatch (#406)
  .github/workflows/semver.yml
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/mod.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/schema/changelog.rs
  crates/fraiseql-core/src/schema/changelog/tests.rs
  crates/fraiseql-core/src/schema/compiled/mutation.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/changelog_e2e.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-observers/migrations/07_create_changelog_views.sql
  crates/fraiseql-observers/tests/changelog_views.rs
  docs/guides/changelog-graphql.md
  examples/changelog-sidecar/README.md
  examples/changelog-sidecar/fraiseql.toml
  examples/changelog-sidecar/sidecar.ts
Labels: documentation, ci

ci(cost): Tier 1 cuts — preflight target + skip 5 high-cost PR jobs
  .github/workflows/bench.yml
  .github/workflows/benchmarks.yml
  .github/workflows/codeql.yml
  .github/workflows/security-compliance.yml
  Makefile
Labels: ci

test(storage): serialize testcontainer startup to dodge conquer-once race (#408)
  crates/fraiseql-storage/src/metadata/tests.rs
Labels: none

ci(dagger): disable hosted CI on push/PR/schedule (Track 0 Day-0)
  .github/workflows/bench.yml
  .github/workflows/benchmark-velocity.yml
  .github/workflows/benchmarks.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/changelog-check.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/docker-build.yml
  .github/workflows/e2e.yml
  .github/workflows/feature-flags.yml
  .github/workflows/fuzz.yml
  .github/workflows/generate-d2-diagrams.yml
  .github/workflows/helm.yml
  .github/workflows/load-test.yml
  .github/workflows/mutation.yml
  .github/workflows/perf-baseline.yml
  .github/workflows/security-alerts.yml
  .github/workflows/security-compliance.yml
  .github/workflows/security.yml
Labels: ci

feat(ci): Dagger lint-routes gate (Track 0, Phase 01)
  .dagger/.gitattributes
  .dagger/.gitignore
  .dagger/go.mod
  .dagger/go.sum
  .dagger/main.go
  .github/workflows/dagger-lint-routes.yml
  .tool-versions
  dagger.json
Labels: ci

feat(ci): Dagger fast-gate preflight (Track 0, Phase 02)
  .dagger/main.go
  .github/workflows/dagger-preflight.yml
Labels: ci

chore(ci): retire dagger-lint-routes.yml (subsumed by preflight)
  .github/workflows/dagger-lint-routes.yml
Labels: ci

feat(ci): Dagger workspace test suite (Track 0, Phase 03)
  .dagger/main.go
  .github/workflows/dagger-test.yml
Labels: ci

test(core): route integration tests through the harness
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
  crates/fraiseql-core/tests/integration/fact_table_integration.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
Labels: none

feat(ci): Dagger integration matrix via native service bindings
  .dagger/main.go
Labels: none

feat(test-support): single env-URL provisioning harness crate
  Cargo.lock
  Cargo.toml
  crates/fraiseql-test-support/Cargo.toml
  crates/fraiseql-test-support/README.md
  crates/fraiseql-test-support/src/db.rs
  crates/fraiseql-test-support/src/lib.rs
  crates/fraiseql-test-support/src/services.rs
  crates/fraiseql-test-support/src/services/tests.rs
  crates/fraiseql-test-utils/Cargo.toml
  crates/fraiseql-test-utils/src/db.rs
  crates/fraiseql-test-utils/src/db/tests.rs
Labels: none

ci(dagger): integration matrix workflow (7 suites)
  .github/workflows/dagger-integration.yml
Labels: ci

test(server): route db + vault integration tests through the harness
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/tests/database_query_test.rs
  crates/fraiseql-server/tests/secrets_manager_integration_test.rs
Labels: none

test(observers): route redis + nats integration tests through the harness
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/queue/tests.rs
  crates/fraiseql-observers/tests/nats_integration.rs
Labels: none

feat(ci): observers integration suite (pg+redis+nats)
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  crates/fraiseql-observers/tests/bridge_integration.rs
Labels: ci

feat(ci): http-e2e integration suite (server binary as bound service)
  .dagger/main.go
  .github/workflows/dagger-integration.yml
Labels: ci

feat(ci): tls integration suite (wire TLS over Dagger-bound postgres-tls)
  .dagger/main.go
  .github/workflows/dagger-integration.yml
Labels: ci

feat(ci): sqlserver integration suite — enforcing gate (no continue-on-error)
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
Labels: ci

test(core): Tier-C — route tests off testcontainers onto the harness
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/common/testcontainer.rs
  crates/fraiseql-core/tests/error_real_database.rs
  crates/fraiseql-core/tests/integration/cross_database_test.rs
Labels: none

test(db): Tier-C — route row_to_map tests off testcontainers onto the harness
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-db/tests/row_to_map_test.rs
Labels: none

chore(ci): sync Cargo.lock for test-support dev-dep edges
  Cargo.lock
Labels: none

test(functions): Tier-C — route cron-migration tests off testcontainers onto the harness
  .dagger/main.go
  Cargo.lock
  crates/fraiseql-functions/Cargo.toml
  crates/fraiseql-functions/src/migrations/tests.rs
Labels: none

test(wire): Tier-C — route integration tests off testcontainers onto the harness
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  Cargo.lock
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql-wire/tests/common/mod.rs
  crates/fraiseql-wire/tests/integration.rs
  crates/fraiseql-wire/tests/integration_operators.rs
  crates/fraiseql-wire/tests/load_tests.rs
  crates/fraiseql-wire/tests/scram_integration.rs
  crates/fraiseql-wire/tests/streaming_integration.rs
  crates/fraiseql-wire/tests/stress_tests.rs
  crates/fraiseql-wire/tests/testcontainer_auth.rs
  crates/fraiseql-wire/tests/typed_streaming.rs
Labels: ci

test(storage): Tier-C — route metadata/routes/migrations + emulators onto the harness
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  Cargo.lock
  crates/fraiseql-storage/Cargo.toml
  crates/fraiseql-storage/src/metadata/tests.rs
  crates/fraiseql-storage/src/migrations/tests.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  crates/fraiseql-test-support/src/lib.rs
  crates/fraiseql-test-support/src/services.rs
Labels: ci

test(server): Tier-C — route pg/usage/observer/minio tests onto the harness
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  crates/fraiseql-server/src/storage/s3.rs
  crates/fraiseql-server/tests/observer_repository_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
  crates/fraiseql-server/tests/pipeline_e2e_test.rs
  crates/fraiseql-server/tests/storage_minio_integration_test.rs
  crates/fraiseql-server/tests/usage_postgres_backend_test.rs
  crates/fraiseql-test-support/src/lib.rs
  crates/fraiseql-test-support/src/services.rs
Labels: ci

test(server): Tier-C federation — bound-service Apollo Router suite + resolver fixes
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  Cargo.lock
  crates/fraiseql-federation/src/database_resolver.rs
  crates/fraiseql-federation/src/selection_parser.rs
  crates/fraiseql-federation/src/selection_parser/tests.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/tests/federation_integration_test.rs
  crates/fraiseql-server/tests/fixtures/federation/init_reviews.sql
  crates/fraiseql-server/tests/fixtures/federation/init_users.sql
  crates/fraiseql-server/tests/fixtures/federation/schema_reviews.json
  crates/fraiseql-server/tests/fixtures/federation/schema_users.json
Labels: ci

ci(dagger): restore broad core/db postgres sweep + cross-db suite
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/integration/cross_database_test.rs
  crates/fraiseql-db/tests/row_to_map_test.rs
Labels: ci

chore(test): reword TRUNCATE in Tier-C test docs (clippy doc_markdown)
  crates/fraiseql-core/tests/integration/cross_database_test.rs
  crates/fraiseql-server/tests/observer_repository_test.rs
  crates/fraiseql-storage/src/metadata/tests.rs
  crates/fraiseql-storage/src/routes/tests.rs
Labels: none

fix(observers): cast entity_id to uuid in tb_observer_log writes/reads
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

ci(dagger): feature-flag check matrix (Phase 05)
  .dagger/feature-combos.go
  .github/workflows/dagger-feature-matrix.yml
Labels: ci

fix(deps): skip duplicate etcetera 0.11.0 from testcontainers
  deny.toml
Labels: none

ci(dagger): port security & compliance gates to Dagger
  .dagger/security.go
  .github/workflows/dagger-security.yml
Labels: ci

fix(ci): self-initializing mssql service for the sqlserver suite
  .dagger/main.go
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  tests/sql/sqlserver/init.sql
Labels: tests

fix(db): pin session variables to the operation's connection (#329)
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/relay_cache.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/relay.rs
  crates/fraiseql-core/tests/session_variables_integration.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/traits/relay.rs
  crates/fraiseql-server/src/routes/grpc/handler.rs
Labels: none
