Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

docs(production): add search keywords to operational documentation
  docs/production/deployment.md
  docs/production/health-checks.md
  docs/production/monitoring.md
  docs/production/observability.md
  docs/production/security.md
Labels: documentation

docs(phase-5): add search keywords to 33 core documentation files
  docs/advanced/advanced-patterns.md
  docs/advanced/bounded-contexts.md
  docs/advanced/database-patterns.md
  docs/advanced/event-sourcing.md
  docs/advanced/migration-guide.md
  docs/advanced/multi-tenancy.md
  docs/core/concepts-glossary.md
  docs/core/configuration.md
  docs/core/database-api.md
  docs/core/dependencies.md
  docs/core/fraiseql-philosophy.md
  docs/core/migrations.md
  docs/core/postgresql-extensions.md
  docs/core/project-structure.md
  docs/core/queries-and-mutations.md
  docs/core/rust-backend-migration.md
  docs/core/trinity-pattern.md
  docs/core/types-and-schema.md
  docs/features/ai-native.md
  docs/features/graphql-cascade.md
  docs/features/index.md
  docs/features/pgvector.md
  docs/getting-started/README.md
  docs/getting-started/first-hour.md
  docs/getting-started/installation.md
  docs/guides/cascade-best-practices.md
  docs/guides/error-handling-patterns.md
  docs/guides/langchain-integration.md
  docs/guides/migrating-to-cascade.md
  docs/guides/performance-guide.md
  docs/guides/trinity-pattern-guide.md
  docs/guides/troubleshooting.md
  docs/guides/understanding-fraiseql.md
Labels: documentation

docs(phase-6): add performance directory with overview and benchmarking guide
  docs/performance/benchmarking-guide.md
  mkdocs.yml
Labels: documentation

fix(docs): correct Trinity Pattern naming in core guides (Phase 1)
  docs/core/trinity-pattern.md
  docs/guides/common-mistakes.md
  docs/guides/mutation-sql-requirements.md
  docs/guides/troubleshooting-mutations.md
Labels: documentation

fix(docs): Trinity Pattern compliance Phase 2 (Medium Priority)
  docs/advanced/database-patterns.md
  docs/advanced/multi-tenancy.md
  docs/api/index.md
  docs/core/concepts-glossary.md
  docs/core/queries-and-mutations.md
  docs/features/ai-native.md
  docs/features/depth-protection.md
  docs/features/graphql-cascade.md
  docs/features/mutation-result-reference.md
  docs/features/security-architecture.md
  docs/features/sql-function-return-format.md
  docs/features/zero-n-plus-one.md
  docs/migration/from-postgraphile.md
  docs/migration/from-strawberry.md
  docs/performance/benchmarking-guide.md
  docs/performance/rust-pipeline-optimization.md
  docs/reference/cli.md
  docs/reference/database.md
Labels: documentation

fix(docs): Trinity Pattern compliance Phase 3 (Archive Cleanup)
  docs/archive/autofraiseql/README.md
  docs/archive/autofraiseql/postgresql-comments.md
  docs/archive/database/database-level-caching.md
  docs/archive/database/migrations.md
  docs/archive/database/table-naming-conventions.md
  docs/archive/deployment/operations-runbook.md
  docs/archive/development/framework-submission-guide.md
Labels: documentation

test(where-clause): add comprehensive edge case tests for Issue #124
  tests/regression/issue_124/test_where_clause_edge_cases.py
Labels: tests

test(where-clause): strengthen assertions and document known limitations
  tests/regression/issue_124/test_where_clause_edge_cases.py
Labels: tests

fix(where-clause): preserve nested clause structure in complex AND/OR filters
  src/fraiseql/where_normalization.py
  tests/regression/issue_124/test_where_clause_edge_cases.py
  tests/unit/test_where_normalization.py
Labels: tests

chore(ci): add clippy strict mode + update CHANGELOG with recent improvements
  .github/workflows/quality-gate.yml
  CHANGELOG.md
  fraiseql_rs/Cargo.lock
Labels: documentation, ci

chore(release): bump version to v1.9.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/archive/strategic/version-status.md
  docs/production/runbooks/README.md
  docs/production/runbooks/authentication-failures.md
  docs/production/runbooks/database-performance-degradation.md
  docs/production/runbooks/graphql-query-dos.md
  docs/production/runbooks/high-memory-usage.md
  docs/production/runbooks/rate-limiting-triggered.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

docs: remove AI appreciation phrases from documentation
  CHANGELOG.md
  CONTRIBUTING.md
  dev/architecture/vision.md
  docs/archive/strategic/v1-vision.md
  docs/features/ai-native.md
  docs/getting-started/quickstart.md
Labels: documentation

docs: fix broken documentation links
  CONTRIBUTING.md
  README.md
  docs/getting-started/quickstart.md
Labels: documentation

fix(ci): resolve CI/CD quality gate failures
  .github/workflows/quality-gate.yml
  CHANGELOG.md
Labels: documentation, ci

docs: fix all broken internal documentation links
  docs/advanced/database-patterns.md
  docs/advanced/rust-mutation-pipeline.md
  docs/advanced/where-input-types.md
  docs/architecture/README.md
  docs/examples/advanced-filtering.md
  docs/examples/nested-fragments.md
  docs/examples/semantic-search.md
  examples/README.md
  examples/blog_simple/README.md
  examples/ecommerce/README.md
Labels: documentation

style: apply ruff formatting to test files
  tests/performance/test_performance.py
  tests/regression/issue_124/test_where_clause_edge_cases.py
  tests/regression/issue_192/test_input_type_docstring_introspection.py
Labels: tests

docs(database): update find() and find_one() signatures for v1.9.0+
  docs/core/database-api.md
  docs/core/queries-and-mutations.md
  docs/reference/database.md
  docs/tutorials/interactive-examples.md
Labels: documentation

docs(database): clarify field_name parameter is optional with defaults
  docs/reference/database.md
Labels: documentation

docs(database): show field_name auto-inference like other GraphQL frameworks
  docs/reference/database.md
Labels: documentation

fix(core): prevent 'type' and 'input' from shadowing Python builtins
  src/fraiseql/__init__.py
Labels: none

docs: fix find() signatures and add best practices across all documentation
  README.md
  docs/core/concepts-glossary.md
  docs/core/database-api.md
  docs/core/explicit-sync.md
  docs/core/project-structure.md
  docs/core/queries-and-mutations.md
  docs/getting-started/quickstart.md
  docs/reference/database.md
  docs/reference/quick-reference.md
Labels: documentation

docs: add comprehensive guides for auto-inference, mutations, and advanced features
  docs/core/auto-inference.md
  docs/core/mutation-success-error.md
  docs/guides/advanced-features.md
  docs/reference/quick-reference.md
Labels: documentation

docs(quality): comprehensive quality improvement (Phases 2-3 + cleanup)
  docs/README.md
  docs/examples/canonical-examples.md
  docs/features/graphql-cascade.md
  docs/features/index.md
  docs/features/mutation-result-reference.md
  docs/features/sql-function-return-format.md
  docs/getting-started/first-hour.md
  docs/getting-started/quickstart.md
  docs/guides/decision-matrices.md
  docs/guides/understanding-fraiseql.md
  docs/migration/from-graphene.md
  docs/migration/from-postgraphile.md
  docs/migration/from-strawberry.md
  docs/migration/migration-checklist.md
  docs/reference/terminology.md
  docs/tutorials/blog-api.md
  docs/tutorials/interactive-examples.md
Labels: documentation

docs(quality): Phase 4 cleanup - deduplication, boilerplate removal, terminology fixes
  docs/advanced/authentication.md
  docs/advanced/bounded-contexts.md
  docs/advanced/database-patterns.md
  docs/advanced/event-sourcing.md
  docs/advanced/multi-tenancy.md
  docs/architecture/direct-path-implementation.md
  docs/core/auto-inference.md
  docs/core/ddl-organization.md
  docs/core/dependencies.md
  docs/core/explicit-sync.md
  docs/core/fraiseql-philosophy.md
  docs/core/migrations.md
  docs/core/mutation-success-error.md
  docs/core/postgresql-extensions.md
  docs/examples/advanced-filtering.md
  docs/features/ai-native.md
  docs/guides/advanced-features.md
  docs/guides/cascade-best-practices.md
  docs/guides/decision-matrices.md
  docs/guides/performance-guide.md
  docs/guides/understanding-fraiseql.md
  docs/migration/from-graphene.md
  docs/migration/from-strawberry.md
  docs/performance/apq-assessment.md
  docs/performance/apq-optimization-guide.md
  docs/performance/caching.md
  docs/performance/performance-guide.md
  docs/performance/rust-pipeline-optimization.md
  docs/performance/server-cache-invalidation.md
  docs/production/deployment.md
  docs/production/health-checks.md
  docs/production/monitoring.md
  docs/production/observability.md
  docs/production/security.md
  docs/reference/database.md
  docs/reference/quick-reference.md
  docs/reference/repositories.md
  docs/reference/terminology.md
  docs/reference/where-clause-syntax-comparison.md
Labels: documentation

feat: Add GraphQLInfoInjector middleware implementation
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

docs(patterns): improve CASCADE and change_log pattern documentation
  docs/advanced/database-patterns.md
  docs/guides/cascade-best-practices.md
  docs/reference/mutations-api.md
Labels: documentation

fix: Update type ignore comments with specific error codes
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

fix: Refactor middleware with proper formatting and structure
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

docs(production): complete Loki integration guide + quick fixes
  docs/core/migrations.md
  docs/examples/advanced-filtering.md
  docs/production/loki-integration.md
  docs/reference/cli.md
Labels: documentation

docs(examples): add missing UUID imports to all Python code examples
  docs/advanced/advanced-patterns.md
  docs/advanced/authentication.md
  docs/advanced/bounded-contexts.md
  docs/advanced/database-patterns.md
  docs/advanced/event-sourcing.md
  docs/advanced/nested-array-filtering.md
  docs/advanced/where-input-types.md
  docs/core/auto-inference.md
  docs/core/concepts-glossary.md
  docs/core/database-api.md
  docs/core/explicit-sync.md
  docs/core/fraiseql-philosophy.md
  docs/core/mutation-success-error.md
  docs/core/project-structure.md
  docs/core/queries-and-mutations.md
  docs/core/rust-pipeline-integration.md
  docs/core/trinity-pattern.md
  docs/core/types-and-schema.md
  docs/examples/semantic-search.md
  docs/guides/advanced-features.md
  docs/guides/common-mistakes.md
  docs/guides/decision-matrices.md
  docs/guides/filtering.md
  docs/guides/langchain-integration.md
  docs/guides/trinity-pattern-guide.md
  docs/reference/cli.md
  docs/reference/database.md
  docs/reference/decorators.md
  docs/reference/repositories.md
  docs/tutorials/beginner-path.md
  docs/tutorials/blog-api.md
  docs/tutorials/interactive-examples.md
Labels: documentation

Add instance methods (inject and process_info) to GraphQLInfoInjector class
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

Fix pytest fixture: remove self parameter from injector fixture
  tests/unit/middleware/test_graphql_info_injector.py
Labels: tests

Move pytest fixture outside test class to module level
  tests/unit/middleware/test_graphql_info_injector.py
Labels: tests

Fix pytest fixture indentation - remove leading spaces
  tests/unit/middleware/test_graphql_info_injector.py
Labels: tests

Fix inject wrapper to handle resolvers without info parameter
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

feat(types): add ID type for GraphQL-standard identifiers
  src/fraiseql/types/__init__.py
  src/fraiseql/types/scalars/__init__.py
  src/fraiseql/types/scalars/graphql_utils.py
  src/fraiseql/types/scalars/id_scalar.py
  tests/integration/test_id_in_schema.py
  tests/types/test_id_type.py
  tests/unit/core/type_system/test_id_scalar.py
Labels: tests, types

feat(cli): use ID type in generated code
  src/fraiseql/cli/commands/generate.py
  src/fraiseql/cli/commands/init.py
  src/fraiseql/patterns/trinity.py
Labels: cli

Fix indentation in inject method - indent sync_wrapper properly
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

Fix inject method indentation and simplify wrapper logic
  src/fraiseql/middleware/graphql_info_injector.py
Labels: none

docs(plan): add ID migration plan for reference
  .claude/plans/immediate-id-migration.md
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
