Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

docs(changelog): record the #329 session-variable connection-affinity fix
  CHANGELOG.md
Labels: documentation

docs(db): resolve rustdoc intra-doc links to DatabaseAdapter methods (#329)
  crates/fraiseql-db/src/traits.rs
Labels: none

fix(core): unify mutation/query projection; recase update input (#400, #410)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-core/src/utils/casing.rs
  crates/fraiseql-core/tests/mutation_execution_test.rs
  crates/fraiseql-core/tests/mutation_projection_parity.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/utils.rs
  crates/fraiseql-server/src/routes/rest/handler/mutation.rs
Labels: documentation

fix(server): reject non-postgresql URLs at startup with a clear error (#327)
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/url_guard.rs
Labels: none

feat(server,cli): expose mysql/sqlite/sqlserver Cargo features (#327)
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-server/Cargo.toml
Labels: none

feat(server): dispatch on URL scheme + SQLite mutation guard (#327)
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/url_guard.rs
Labels: none

feat(cli): dispatch on URL scheme in fraiseql run (#327)
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/runner.rs
Labels: none

docs(changelog): document multi-DB runtime support (#327)
  CHANGELOG.md
Labels: documentation

ci(dagger): cover #327 non-wire multi-DB dispatch in the feature matrix
  .dagger/feature-combos.go
Labels: none

fix(server): extract url_guard tests to sibling tests.rs (#327)
  crates/fraiseql-server/src/url_guard.rs
  crates/fraiseql-server/src/url_guard/tests.rs
Labels: none

ci(dagger): parallelize the feature matrix across lanes
  .dagger/feature-combos.go
  .github/workflows/dagger-feature-matrix.yml
Labels: ci

fix(server): enforce RLS and auth on the MCP tool-call path
  CHANGELOG.md
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/mcp/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/tests/mcp_e2e_test.rs
  crates/fraiseql-server/tests/mcp_integration_test.rs
Labels: documentation

fix(core): make the query-complexity scorer overflow-safe
  CHANGELOG.md
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/graphql/tests.rs
Labels: documentation

fix(core,db): read aliased query fields from their source JSONB column (#418)
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection_tests.rs
  crates/fraiseql-core/tests/query_alias_projection_parity.rs
  crates/fraiseql-db/src/projection_generator.rs
Labels: none

fix(core): detect __typename in inline fragments on the mutation-error fallback (#419)
  CHANGELOG.md
  Makefile
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
Labels: documentation

docs(changelog): record the #418 aliased-field fix
  CHANGELOG.md
Labels: documentation

ci(dagger): add publish-dry-run gate (Phase 06, Cycle 2)
  .dagger/release.go
Labels: none

ci(release): tolerate first-publish siblings in the dry-run gate
  .github/workflows/release.yml
Labels: ci

ci(dagger): add publish-order + topological self-test (Phase 06, Cycle 1)
  .dagger/release.go
Labels: none

ci(dagger): add semver-named + semver-workspace gates (Phase 06, Cycle 3)
  .dagger/release.go
Labels: none

ci(dagger): add `make release-validate` pre-tag wrappers (Phase 06, Cycle 4)
  Makefile
Labels: none

chore(release): prepare v2.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
Labels: documentation

test(codegen): make the client snapshot version-agnostic
  crates/fraiseql-codegen/tests/client_ts_snapshot.rs
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/client.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/enums.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/index.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/inputs.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/mutations.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/queries.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/relationships.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/types.ts
Labels: none

fix(ci): disable errexit in the release dry-run gate
  .github/workflows/release.yml
Labels: ci

fix(ci): tolerate both cargo dep-resolution phrasings in the release dry-run gate
  .github/workflows/release.yml
Labels: ci

fix(workspace): require matching 2.4.0 versions for inter-crate deps
  Cargo.toml
Labels: none

fix(release): keep fraiseql-cli's floor at 2.3.0 to break the server dev-dep cycle
  Cargo.toml
Labels: none

fix(release): tolerate first-publish siblings in the Dagger dry-run gate
  .dagger/release.go
  tools/lib/dry_run_tolerance.sh
  tools/tests/dry_run_tolerance_test.sh
Labels: none

fix(release): harden release.sh — real tag notes, internal floor bump, pre-tag validation
  .dagger/main.go
  Makefile
  crates/fraiseql-storage/Cargo.toml
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/release_helpers_test.sh
Labels: none

fix(deps): bump opentelemetry-go OTLP HTTP exporters to v1.43.0 (GHSA-w8rr-5gcm-pp58)
  .dagger/go.mod
  .dagger/go.sum
Labels: none

feat(security): clamp top-level first/last/limit to a configurable max page size (#421)
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/server_settings.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/tests.rs
  docs/security/graphql-complexity-limits.md
Labels: documentation

fix(deps): bump aiohttp to 3.14.0 in the Python SDK lock (GHSA-hg6j-4rv6-33pg, GHSA-jg22-mg44-37j8)
  sdks/official/fraiseql-python/uv.lock
Labels: none

fix(storage): match list prefix literally to close LIKE-injection (#339)
  crates/fraiseql-storage/src/metadata/mod.rs
  crates/fraiseql-storage/src/metadata/tests.rs
Labels: none

fix(storage): isolate buckets, defang downloads, and cap uploads (#336, #337, #338)
  CHANGELOG.md
  crates/fraiseql-server/src/server/routing_tests.rs
  crates/fraiseql-server/src/subsystems/tests.rs
  crates/fraiseql-storage/src/config/mod.rs
  crates/fraiseql-storage/src/graphql/mod.rs
  crates/fraiseql-storage/src/graphql/tests.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/src/service/tests.rs
Labels: documentation

fix(server): wire [storage.<name>] TOML into the binary's mounted storage routes (#334)
  CHANGELOG.md
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server/routing/extensions/tests.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/storage.rs
  crates/fraiseql-server/src/server_config/tests.rs
  crates/fraiseql-server/tests/storage_wiring_test.rs
Labels: documentation

fix(server): enforce tenant dispatch on WebSocket subscriptions (#331)
  CHANGELOG.md
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/routes/subscriptions/tests.rs
  crates/fraiseql-server/src/server/routing/admin.rs
Labels: documentation

fix(server): map suspended tenant to HTTP 503 + Retry-After (#332)
  CHANGELOG.md
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/handler/tests.rs
Labels: documentation

fix(server): unify tenant-key validator with schema-mode (#333)
  CHANGELOG.md
  crates/fraiseql-server/src/routes/api/tenant_admin.rs
  crates/fraiseql-server/src/routes/graphql/tenant_key.rs
  crates/fraiseql-server/src/routes/graphql/tenant_key/tests.rs
  crates/fraiseql-server/src/tenancy/schema_isolation.rs
  crates/fraiseql-server/tests/multitenancy_test.rs
Labels: documentation

fix(server): wire the multi-tenant runtime into the binary (#330)
  CHANGELOG.md
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/tests.rs
  crates/fraiseql-server/src/tenancy/pool_factory.rs
  crates/fraiseql-server/tests/tenant_provisioning_test.rs
Labels: documentation

test(server): migrate tenant_key_tests off hyphenated header keys (#333 follow-up)
  crates/fraiseql-server/src/routes/graphql/tests.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
