Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

docs: update README with DDD philosophy and modern typing
  README.md
Labels: documentation

fix: resolve GitHub Actions workflow issues for production readiness
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  docs/advanced/authentication.md
  docs/advanced/configuration.md
  docs/advanced/database-api-patterns.md
  docs/advanced/domain-driven-database.md
  docs/advanced/eliminating-n-plus-one.md
  docs/advanced/execution-modes.md
  docs/advanced/index.md
  docs/advanced/lazy-caching.md
  docs/advanced/llm-native-architecture.md
  docs/advanced/pagination.md
  docs/advanced/performance.md
  docs/advanced/security.md
  docs/advanced/turbo-router.md
  docs/api-reference/application.md
  docs/api-reference/decorators.md
  docs/api-reference/index.md
  docs/architecture/decisions/README.md
  docs/comparisons/alternatives.md
  docs/comparisons/index.md
  docs/core-concepts/architecture.md
  docs/core-concepts/database-views.md
  docs/core-concepts/index.md
  docs/core-concepts/query-translation.md
  docs/core-concepts/type-system.md
  docs/getting-started/first-api.md
  docs/getting-started/graphql-playground.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/migration/index.md
  docs/mutations/index.md
  docs/mutations/migration-guide.md
  docs/mutations/postgresql-function-based.md
  docs/tutorials/blog-api.md
  docs/tutorials/index.md
  mkdocs.yml
  uv.lock
Labels: documentation, ci

fix: remove mermaid2 plugin from docs dependencies
  pyproject.toml
Labels: config, dependencies

chore: cleanup pre-commit config - remove non-existent benchmark directories
  .pre-commit-config.yaml
  pyproject.toml
Labels: config, dependencies

fix: update vulnerable dependencies for security
  uv.lock
Labels: none

chore: bump version to 0.1.1
  pyproject.toml
  src/fraiseql/__init__.py
Labels: config, dependencies

docs: add CI/CD badges to README
  README.md
Labels: documentation

deploy: 9d3ddd14618061ad5c763c05d59de3172a4af712
  sitemap.xml
  sitemap.xml.gz
Labels: none

docs: fix broken links and clarify caching strategy
  docs/advanced/authentication.md
  docs/advanced/performance.md
  docs/advanced/security.md
  docs/api-reference/index.md
  docs/comparisons/alternatives.md
  docs/getting-started/graphql-playground.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
Labels: documentation

docs: fix mermaid diagram syntax in turbo-router.md
  docs/advanced/turbo-router.md
Labels: documentation

fix: remove docs-deploy workflow causing build failures
  .github/workflows/docs-deploy.yml
Labels: ci

fix: remove inline comments from pyproject.toml dependencies
  pyproject.toml
Labels: config, dependencies

fix: pin protobuf>=4.25.8 to address CVE-2025-4565
  pyproject.toml
Labels: config, dependencies

fix: remove Zipkin exporter to resolve protobuf dependency conflict
  pyproject.toml
  src/fraiseql/tracing/opentelemetry.py
Labels: config, dependencies

refactor: make Redis an optional dependency
  pyproject.toml
Labels: config, dependencies

docs: add missing anchor targets and clarify installation
  docs/advanced/security.md
  docs/api-reference/decorators.md
  docs/getting-started/installation.md
  docs/tutorials/index.md
  pyproject.toml
Labels: documentation, config, dependencies

chore: bump version to 0.1.2
  CHANGELOG.md
Labels: documentation

fix: update version to 0.1.2 in __init__.py
  src/fraiseql/__init__.py
Labels: none

chore: bump version to 0.1.2
  CHANGELOG.md
Labels: documentation

docs: add missing anchor targets and clarify installation
  docs/advanced/security.md
  docs/api-reference/decorators.md
  docs/getting-started/installation.md
  docs/tutorials/index.md
  pyproject.toml
Labels: documentation, config, dependencies

fix: update version to 0.1.2 in __init__.py
  src/fraiseql/__init__.py
Labels: none

deploy: 4d8a8661af04a7d0c4bf11a74fbcce47c7c813b6
  advanced/security/index.html
  api-reference/decorators/index.html
  getting-started/installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tutorials/index.html
Labels: none

fix: install all optional dependencies in CI tests
  .github/workflows/test.yml
Labels: ci

fix: resolve Pydantic v2 deprecation warnings
  src/fraiseql/audit/security_logger.py
  tests/core/test_unset_type_compatibility.py
Labels: tests

fix: resolve enum serialization JSON error
  src/fraiseql/core/graphql_type.py
  src/fraiseql/types/enum.py
  tests/types/test_enum.py
  tests/types/test_enum_serialization.py
Labels: tests, core, types

docs: add database nomenclature and QA audit docs
  docs/architecture/database-nomenclature.md
  docs/architecture/database-qa-prompt.md
Labels: documentation

fix: resolve AsyncConnectionPool deprecation warning in psycopg 3.2+
  src/fraiseql/fastapi/app.py
Labels: none

docs: improve database documentation and restore nomenclature guide
  README.md
  docs/advanced/database-api-patterns.md
  docs/advanced/lazy-caching.md
  docs/architecture/database-qa-prompt.md
  docs/core-concepts/database-views.md
  docs/mutations/postgresql-function-based.md
  docs/tutorials/blog-api.md
  examples/blog_api/db/migrations/001_initial_schema.sql
Labels: documentation

deploy: 6e8a4cdf21157118d4551d260c42f18b8459e9fb
  advanced/database-api-patterns/index.html
  advanced/lazy-caching/index.html
  architecture/database-nomenclature/index.html
  core-concepts/database-views/index.html
  mutations/postgresql-function-based/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tutorials/blog-api/index.html
Labels: none

chore: release v0.1.3
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/__init__.pyi
  src/fraiseql/mutations/__init__.py
  src/fraiseql/mutations/error_config.py
  src/fraiseql/mutations/error_config.pyi
  tests/mutations/test_error_config.py
  tests/mutations/test_mutation_error_as_data.py
Labels: tests, mutations, config, dependencies

feat: add default schema configuration for mutations and queries
  CHANGELOG.md
  FEATURE_REQUEST_DEFAULT_SCHEMA.md
  README.md
  docs/advanced/configuration.md
  docs/api-reference/decorators.md
  docs/mutations/migration-guide.md
  docs/mutations/postgresql-function-based.md
  src/fraiseql/fastapi/config.py
  src/fraiseql/fastapi/dependencies.py
  src/fraiseql/gql/builders/registry.py
  src/fraiseql/mutations/mutation_decorator.py
  tests/config/test_default_schema.py
  tests/config/test_default_schema_e2e.py
  tests/config/test_default_schema_integration.py
  tests/mutations/test_mutation_decorator.py
Labels: documentation, tests, mutations

fix: make schema resolution lazy to avoid timing issues
  src/fraiseql/mutations/mutation_decorator.py
  tests/config/test_default_schema_e2e.py
Labels: tests, mutations

chore: prepare release v0.1.4
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

deploy: fe2b15ee57a87efd682da6be5ab4f8bce2fca389
  advanced/configuration/index.html
  api-reference/decorators/index.html
  mutations/migration-guide/index.html
  mutations/postgresql-function-based/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

docs: add mutation result pattern structure
  docs/mutations/mutation-result-pattern.md
Labels: documentation

docs: add mutation result type definitions
  docs/mutations/mutation-result-pattern.md
Labels: documentation

docs: add GraphQL resolver integration patterns
  docs/mutations/mutation-result-pattern.md
Labels: documentation

docs: add mutation result pattern examples
  docs/mutations/mutation-result-pattern.md
Labels: documentation

docs: complete mutation result pattern guide
  docs/mutations/mutation-result-pattern.md
Labels: documentation

docs: add mutation result pattern to mutations index
  docs/mutations/index.md
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
