Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

✨ Add automatic docstring extraction for GraphQL schema descriptions (#67)
  README.md
  docs/core-concepts/type-system.md
  src/fraiseql/core/graphql_type.py
  src/fraiseql/gql/builders/mutation_builder.py
  src/fraiseql/gql/builders/query_builder.py
  tests/unit/core/type_system/test_type_descriptions.py
  tests/unit/decorators/test_query_descriptions.py
  uv.lock
Labels: documentation, tests, core

🔖 Release v0.9.0 - Automatic Docstring Extraction for GraphQL Schema Descriptions
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

✨ Add automatic field description extraction feature
  docs/auto_field_descriptions.md
  examples/auto_field_descriptions.py
  src/fraiseql/types/constructor.py
  src/fraiseql/utils/field_descriptions.py
  tests/unit/utils/test_field_descriptions.py
  uv.lock
Labels: documentation, tests, types

🔍 Add automatic where clause filter descriptions
  examples/enhanced_where_clauses.py
  src/fraiseql/utils/field_descriptions.py
  src/fraiseql/utils/where_clause_descriptions.py
  tests/unit/utils/test_where_clause_descriptions.py
Labels: tests

📚 Document existing complex nested where clause syntax
  examples/complex_nested_where_clauses.py
  examples/existing_complex_where_syntax.py
  src/fraiseql/utils/where_clause_descriptions.py
Labels: none

✨ Add comprehensive automatic field description extraction (#68)
  docs/auto_field_descriptions.md
  examples/auto_field_descriptions.py
  examples/complex_nested_where_clauses.py
  examples/enhanced_where_clauses.py
  examples/existing_complex_where_syntax.py
  src/fraiseql/types/constructor.py
  src/fraiseql/utils/field_descriptions.py
  src/fraiseql/utils/where_clause_descriptions.py
  tests/unit/utils/test_field_descriptions.py
  tests/unit/utils/test_where_clause_descriptions.py
  uv.lock
Labels: documentation, tests, types

🔖 Release v0.9.1 - Comprehensive Automatic Field Description Extraction
  CHANGELOG.md
  docs/auto_field_descriptions.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

Update uv.lock for v0.9.1
  uv.lock
Labels: none

🐛 Fix APQ backend integration - enable custom storage backends
  src/fraiseql/fastapi/routers.py
Labels: none

🐛 Fix APQ backend integration - enable custom storage backends (#69)
  src/fraiseql/fastapi/routers.py
Labels: none

🔖 Release v0.9.2 - APQ Backend Integration Fix
  CHANGELOG.md
  RELEASE_NOTES_v0.9.2.md
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

✨ Phase 1: Add optional context parameter to APQ backend methods
  docs/apq-tenant-context-phases.md
  src/fraiseql/storage/backends/base.py
  src/fraiseql/storage/backends/memory.py
  src/fraiseql/storage/backends/postgresql.py
  tests/storage/backends/test_context_aware_backend.py
Labels: documentation, tests

✨ Phase 2: Pass context from router to APQ backend
  src/fraiseql/fastapi/routers.py
  src/fraiseql/middleware/apq_caching.py
  tests/integration/test_apq_context_propagation.py
  tests/integration/test_apq_store_context.py
Labels: tests

📚 Phase 3 & 4: Tenant-specific caching examples and documentation
  docs/apq_tenant_context_guide.md
  examples/apq_multi_tenant.py
  tests/integration/test_tenant_specific_caching.py
Labels: documentation, tests

✨ Implement tenant-aware caching directly in base APQ backends
  src/fraiseql/storage/backends/memory.py
  src/fraiseql/storage/backends/postgresql.py
  tests/integration/test_apq_context_propagation.py
  tests/integration/test_tenant_specific_caching.py
  tests/storage/backends/test_context_aware_backend.py
  tests/storage/backends/test_postgresql_integration.py
Labels: tests

🧹 Marie Kondo cleanup - remove all transitional artifacts
  docs/apq_tenant_context_guide.md
  examples/apq_multi_tenant.py
  src/fraiseql/storage/backends/memory.py
  src/fraiseql/storage/backends/postgresql.py
  tests/integration/test_apq_context_propagation.py
  tests/integration/test_tenant_specific_caching.py
  tests/storage/backends/test_context_aware_backend.py
Labels: documentation, tests

✨ Add built-in tenant-aware APQ caching support (#70)
  docs/apq-tenant-context-phases.md
  docs/apq_tenant_context_guide.md
  examples/apq_multi_tenant.py
  src/fraiseql/fastapi/routers.py
  src/fraiseql/middleware/apq_caching.py
  src/fraiseql/storage/backends/base.py
  src/fraiseql/storage/backends/memory.py
  src/fraiseql/storage/backends/postgresql.py
  tests/integration/test_apq_context_propagation.py
  tests/integration/test_apq_store_context.py
  tests/integration/test_tenant_specific_caching.py
  tests/storage/backends/test_context_aware_backend.py
  tests/storage/backends/test_postgresql_integration.py
Labels: documentation, tests

🔖 Release v0.9.3 - Built-in Tenant-Aware APQ Caching
  CHANGELOG.md
  RELEASE_NOTES_v0.9.3.md
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

🐛 Fix nested object filtering in JSONB WHERE clauses (#71)
  src/fraiseql/sql/where_generator.py
  tests/integration/database/repository/test_nested_object_filter_integration.py
  tests/integration/database/sql/test_where_generator.py
Labels: tests, sql

🔖 Prepare release v0.9.4 - Nested Object Filtering Fix
  CHANGELOG.md
  RELEASE_NOTES_v0.9.4.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

🐛 Fix nested object filtering in JSONB WHERE clauses (#71) (#71)
  src/fraiseql/sql/where_generator.py
  tests/integration/database/repository/test_nested_object_filter_integration.py
  tests/integration/database/sql/test_where_generator.py
Labels: tests, sql

🐛 Fix nested object filtering on hybrid tables (#72)
  src/fraiseql/db.py
  tests/integration/database/repository/test_hybrid_table_nested_object_filtering.py
  tests/integration/database/repository/test_jsonb_vs_dict_filtering.py
  uv.lock
Labels: tests

🔖 Prepare release v0.9.5 - Hybrid Table Nested Filtering Fix
  CHANGELOG.md
  RELEASE_NOTES_v0.9.5.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

✨ Add native dual-hash support for Apollo Client APQ compatibility
  CHANGELOG.md
  docs/advanced/turbo-router.md
  src/fraiseql/fastapi/turbo.py
  tests/test_apollo_client_apq_dual_hash.py
  uv.lock
Labels: documentation, tests

📝 Add author section to README
  README.md
Labels: documentation

🔖 Prepare release v0.9.6 - Apollo Client APQ Dual-Hash Support
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

📦 Update uv.lock for v0.9.6 dependencies
  uv.lock
Labels: none

✨ Add native dual-hash support for Apollo Client APQ compatibility (#73)
  CHANGELOG.md
  README.md
  docs/advanced/turbo-router.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/fastapi/turbo.py
  tests/test_apollo_client_apq_dual_hash.py
  uv.lock
Labels: documentation, tests, config, dependencies

🐛 Fix ruff linting error - unused evicted_hash variable
  src/fraiseql/fastapi/turbo.py
Labels: none

✨ Add context_params support for TurboQuery multi-tenant queries
  CHANGELOG.md
  RELEASE_NOTES_v0.10.0.md
  pyproject.toml
  src/fraiseql/fastapi/turbo.py
  tests/integration/caching/test_turbo_router.py
Labels: documentation, tests, config, dependencies

🔖 Update all version references from 0.9.6 to 0.10.0
  docs/advanced/turbo-router.md
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation

🐛 Fix TurboRouter dual-hash APQ lookup for Apollo Client queries
  CHANGELOG.md
  RELEASE_NOTES_v0.10.1.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/fastapi/turbo.py
  tests/test_apollo_client_apq_dual_hash.py
Labels: documentation, tests, config, dependencies

🐛 Fix TurboRouter dual-hash APQ lookup for Apollo Client queries (#74)
  CHANGELOG.md
  RELEASE_NOTES_v0.10.1.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/fastapi/turbo.py
  tests/test_apollo_client_apq_dual_hash.py
Labels: documentation, tests, config, dependencies

✨ Add prepare_input hook and empty string to NULL conversion for mutations
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/types/constructor.py
  src/fraiseql/utils/fraiseql_builder.py
  tests/unit/core/type_system/test_empty_string_validation.py
  tests/unit/decorators/test_empty_string_to_null.py
  tests/unit/decorators/test_mutation_decorator.py
Labels: tests, types, mutations

🔖 Bump version to 0.10.2
  CHANGELOG.md
  RELEASE_NOTES_v0.10.2.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

🔖 Release v0.10.3: IpAddressString CIDR notation support
  CHANGELOG.md
  docs/core-concepts/type-system.md
  pyproject.toml
  src/fraiseql/types/scalars/ip_address.py
  tests/unit/core/type_system/test_ip_address_scalar.py
Labels: documentation, tests, types, config, dependencies

docs: replace Material icons with standard emoji for ReadTheDocs compatibility
  docs/index.md
  docs/learning-paths/index.md
Labels: documentation

✨ Add comprehensive examples for all documented features
  examples/documented_api.py
  examples/enterprise_patterns/cqrs/README.md
  examples/enterprise_patterns/cqrs/functions.sql
  examples/enterprise_patterns/cqrs/main.py
  examples/enterprise_patterns/cqrs/mutations.py
  examples/enterprise_patterns/cqrs/queries.py
  examples/enterprise_patterns/cqrs/requirements.txt
  examples/enterprise_patterns/cqrs/schema.sql
  examples/enterprise_patterns/cqrs/types.py
  examples/enterprise_patterns/cqrs/views.sql
  examples/fastapi/README.md
  examples/fastapi/main.py
  examples/fastapi/mutations.py
  examples/fastapi/queries.py
  examples/fastapi/requirements.txt
  examples/fastapi/schema.sql
  examples/fastapi/types.py
  examples/filtering.py
  examples/hybrid_tables.py
  examples/specialized_types.py
  examples/turborouter/README.md
  examples/turborouter/main.py
  examples/turborouter/queries.py
  examples/turborouter/schema.py
  examples/turborouter/schema.sql
  examples/turborouter/turbo_config.py
  uv.lock
Labels: none

📚 Convert apq_multi_tenant.py to directory with comprehensive documentation
  examples/apq_multi_tenant/README.md
  examples/apq_multi_tenant/main.py
  examples/apq_multi_tenant/requirements.txt
Labels: none

✨ Add comprehensive admin-panel and saas-starter examples
  examples/admin-panel/README.md
  examples/admin-panel/main.py
  examples/admin-panel/models.py
  examples/admin-panel/mutations.py
  examples/admin-panel/queries.py
  examples/admin-panel/requirements.txt
  examples/admin-panel/schema.sql
  examples/saas-starter/.env.example
  examples/saas-starter/README.md
  examples/saas-starter/main.py
  examples/saas-starter/models.py
  examples/saas-starter/requirements.txt
  examples/saas-starter/schema.sql
Labels: none
