Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(ci): exclude dev/audits from documentation link validation
  scripts/validate-docs.sh
Labels: none

fix(ci): update file paths in validation scripts after doc consolidation
  .github/workflows/docs-validation.yml
  scripts/validate-docs.sh
Labels: ci

fix(ci): remove pip cache from publish workflow
  .github/workflows/publish.yml
Labels: ci

docs: add FraiseQL best practices to quality audit plan
  dev/audits/documentation-quality-audit-plan.md
Labels: none

docs: add GraphQL client mutation payload patterns
  dev/architecture/graphql-mutation-payload-patterns.md
  dev/audits/documentation-quality-audit-plan.md
Labels: none

docs: fix Phase 3 critical and high-priority pattern violations
  docs/advanced/authentication.md
  docs/core/database-api.md
  docs/performance/caching.md
Labels: documentation

docs: add Phase 3 remediation status
  dev/audits/phase3/remediation-status.md
Labels: none

docs: add type safety warnings to dict-based filter examples
  docs/core/database-api.md
Labels: documentation

docs: update remediation status - all MEDIUM priority fixes complete
  dev/audits/phase3/remediation-status.md
Labels: none

docs: fix LOW priority async context and naming issues
  docs/advanced/authentication.md
  docs/performance/caching.md
Labels: documentation

docs: final remediation status - all 47 violations fixed
  dev/audits/phase3/remediation-status.md
Labels: none

docs: organize audit and planning documents
  dev/audits/archive/2024-11-01-python-version-audit/README.md
  dev/audits/archive/2024-11-01-python-version-audit/python-version-analysis.md
  dev/audits/archive/2024-11-01-python-version-audit/python-version-update-summary.md
  dev/audits/archive/2024-11-01-python-version-audit/type-hinting-audit.md
  dev/audits/archive/2024-11-01-python-version-audit/version-status.md
  dev/audits/phase3/remediation-status.md
  dev/planning/README.md
  dev/planning/documentation-quality-audit-plan.md
Labels: none

docs: update Python version requirement to 3.13+ across documentation
  README.md
  docs/archive/GETTING_STARTED.md
  docs/archive/ROADMAP.md
  docs/benchmarks/methodology.md
  docs/case-studies/README.md
  docs/core/dependencies.md
  docs/deployment/README.md
  docs/features/index.md
  docs/getting-started/README.md
  docs/getting-started/first-hour.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/guides/troubleshooting-decision-tree.md
  docs/guides/troubleshooting.md
  docs/migration/v0-to-v1.md
  docs/migration/v1-to-v2.md
  docs/production/README.md
  docs/tutorials/beginner-path.md
  fraiseql_rs/Cargo.lock
Labels: documentation

fix(rust): Add ARM64 compilation support with multi-arch SIMD dispatch
  ARM64_FIX_SUMMARY.md
  CHANGELOG.md
  PLAN_ARM64_SIMD_FIX.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/core/camel.rs
  fraiseql_rs/src/core/mod.rs
  fraiseql_rs/src/core/transform.rs
  fraiseql_rs/src/lib.rs
  pyproject.toml
  scripts/audit-docs-quality.sh
  scripts/validate-docs-code-examples.sh
  uv.lock
Labels: documentation, config, dependencies

fix(ci): exclude dev/ directory from ruff lint checks
  pyproject.toml
Labels: config, dependencies

fix(rust): add missing cfg guard for find_underscores_avx2 function
  fraiseql_rs/src/core/camel.rs
Labels: none

fix(ci): remove --strict flag from twine check to allow deprecated metadata
  .github/workflows/publish.yml
Labels: ci

fix(ci): allow twine validation to continue despite deprecated metadata warnings
  .github/workflows/publish.yml
Labels: ci

fix: Union type reconstruction in get_non_optional_type causing GraphQL schema build failures
  src/fraiseql/utils/annotations.py
  tests/unit/utils/test_annotations.py
Labels: tests

chore: bump version to v1.1.3
  pyproject.toml
Labels: config, dependencies

fix: update __version__ to 1.1.3
  src/fraiseql/__init__.py
Labels: none

chore: bump version to v1.1.4
  pyproject.toml
  src/fraiseql/__init__.py
Labels: config, dependencies

fix: replace dict|list union types with Any for JSONB fields
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/where/operators/jsonb.py
  src/fraiseql/types/scalars/json.py
Labels: types, sql

chore: bump version to v1.1.5
  pyproject.toml
  src/fraiseql/__init__.py
Labels: config, dependencies

fix(graphql): add support for typing.Any in GraphQL input types
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/core/graphql_type.py
  tests/unit/core/type_system/test_graphql_type_conversion.py
  uv.lock
Labels: tests, core, config, dependencies

fix(db): optimize RustResponseBytes null detection with O(1) pattern matching
  src/fraiseql/db.py
  tests/regression/test_rustresponsebytes_null_handling.py
  tests/regression/v0_1_0/test_v0_1_0b46_fix.py
  tests/unit/db/test_rust_response_null_detection.py
Labels: tests

chore: bump version to v1.1.7
  CHANGELOG.md
  README.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

chore: prepare release v1.1.8
  ARM64_FIX_SUMMARY.md
  CHANGELOG.md
  DOCS_CONSOLIDATION_PLAN.md
  INSTALLATION.md
  PHASE_1_FIX_DOCUMENTATION_LINKS.md
  PHASE_2_FIX_TOX_VALIDATION.md
  PLAN_ARM64_SIMD_FIX.md
  README.md
  RELEASE_NOTES.md
  pyproject.toml
  src/fraiseql/__init__.py
  tests/integration/database/repository/test_jsonb_rust_deserialization.py
  tests/integration/graphql/test_jsonb_graphql_full_execution.py
  uv.lock
Labels: documentation, tests, config, dependencies

feat: RustResponseBytes GraphQL pass-through architecture (v1.2.0)
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/execution/unified_executor.py
  src/fraiseql/fastapi/routers.py
  src/fraiseql/gql/graphql_entrypoint.py
  src/fraiseql/graphql/execute.py
  tests/integration/database/repository/test_jsonb_rust_deserialization.py
  tests/integration/fastapi/test_fastapi_jsonb_integration.py
  tests/integration/graphql/test_jsonb_graphql_full_execution.py
  tests/performance/test_rustresponsebytes_performance.py
  tests/unit/core/test_rust_pipeline_schema_type.py
  tests/unit/fastapi/test_fastapi_router_rustresponsebytes.py
  tests/unit/gql/test_graphnoterouter_rustresponsebytes.py
  tests/unit/graphql/test_execute_rustresponsebytes.py
  tests/utils/graphql_test_client.py
  tests/utils/test_graphql_test_client.py
  uv.lock
Labels: documentation, tests, core, config, dependencies

chore: prepare release v1.2.0
  CHANGELOG.md
  README.md
  src/fraiseql/__init__.py
  src/fraiseql/db.py
  tests/unit/db/test_field_name_auto_extract.py
  tests/unit/fastapi/test_fastapi_router_rustresponsebytes.py
Labels: documentation, tests

fix: mutation return object resolution (issue #110)
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/mutations/parser.py
  tests/regression/test_issue_110_rust_mutation_object_return.py
Labels: documentation, tests, mutations, config, dependencies

fix: dynamic entity hint detection for mutation return objects (issue #110 follow-up)
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/mutations/parser.py
  tests/regression/test_issue_110_rust_mutation_object_return.py
  uv.lock
Labels: documentation, tests, mutations, config, dependencies

feat: dict-based nested object filtering with comprehensive tests and docs
  DOCUMENTATION_UPDATE_SUMMARY.md
  docs/README.md
  docs/advanced/where_input_types.md
  docs/examples/dict-based-nested-filtering.md
  docs/reference/where-clause-syntax-comparison.md
  src/fraiseql/db.py
  tests/integration/database/repository/test_nested_object_filter_edge_cases.py
  tests/integration/database/repository/test_nested_object_filter_integration.py
  tests/integration/database/repository/test_nested_object_filter_logical_operators.py
  tests/unit/db/test_nested_jsonb_path_builder.py
  tests/unit/db/test_nested_object_filter_detection.py
Labels: documentation, tests

feat: Update real_time_chat to use Trinity identifiers and Hungarian view naming
  examples/real_time_chat/db/migrations/001_chat_schema.sql
  examples/real_time_chat/db/views/chat_views.sql
Labels: none

feat: Update ecommerce to use Trinity identifiers and Hungarian view naming
  examples/ecommerce/schema.sql
Labels: none

feat: Update turborouter to use Trinity identifiers and Hungarian view naming
  examples/turborouter/schema.sql
Labels: none

feat: Update documented_api to use Trinity identifiers and Hungarian naming
  examples/documented_api/schema.sql
Labels: none

feat: Update ltree examples to use Trinity identifiers and Hungarian naming
  examples/ltree-hierarchical-data/organization-chart/setup.sql
  examples/ltree-hierarchical-data/product-catalog/setup.sql
Labels: none

feat: Update blog_api views and functions for Trinity compatibility
  examples/blog_api/db/migrations/002_functions.sql
  examples/blog_api/db/views/composed_views.sql
Labels: none

feat: Update blog_simple for Trinity identifier compatibility
  examples/blog_simple/README.md
  examples/blog_simple/app.py
  examples/blog_simple/db/setup.sql
  examples/blog_simple/models.py
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
