Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

docs: Remove archive directory (preserved in git history)
  docs/archive/FAKE_DATA_GENERATOR_DESIGN.md
  docs/archive/GETTING_STARTED.md
  docs/archive/README.md
  docs/archive/ROADMAP.md
  docs/archive/TESTING_CHECKLIST.md
  docs/archive/fraiseql_enterprise_gap_analysis.md
Labels: documentation

fix(docs): Complete WP-002 - fix last naming inconsistency
  docs/database/DATABASE_LEVEL_CACHING.md
Labels: documentation

feat(planning): Update WP-003 work package with completed dependencies
  .phases/docs-review/fraiseql_docs_work_packages/WP-003-create-trinity-migration-guide.md
  .phases/docs-review/fraiseql_docs_work_packages/WP-005-fix-advanced-patterns-naming.md
  .phases/docs-review/fraiseql_docs_work_packages/WP-006-fix-example-readmes.md
  .phases/docs-review/fraiseql_docs_work_packages/WP-007-write-rag-tutorial.md
  .phases/docs-review/fraiseql_docs_work_packages/WP-008-vector-operators-reference.md
  .phases/docs-review/fraiseql_docs_work_packages/WP-010-create-security-compliance-hub.md
  .phases/docs-review/fraiseql_docs_work_packages/WP-011-slsa-provenance-guide.md
Labels: none

feat(database): Create comprehensive Trinity Migration Guide [WP-003]
  docs/database/migrations.md
Labels: documentation

feat(database): Complete WP-003 with concise migration guide and example script
  docs/database/example-migration.sql
  docs/database/migrations.md
Labels: documentation

docs(migration): Add Confiture references for production migrations
  docs/database/example-migration.sql
  docs/database/migrations.md
Labels: documentation

fix(docs): Correct Confiture zero-downtime description
  docs/database/migrations.md
Labels: documentation

fix(docs): Correct all fabricated Confiture details
  docs/database/migrations.md
Labels: documentation

feat(advanced): Fix SQL naming in advanced patterns docs [WP-005]
  docs/advanced/bounded-contexts.md
  docs/advanced/database-patterns.md
  docs/advanced/multi-tenancy.md
Labels: documentation

feat(examples): Fix READMEs to properly explain Trinity Pattern [WP-006]
  examples/blog_simple/README.md
  examples/mutations_demo/README.md
Labels: none

fix(docs): Remove "Sacred" from Trinity Identifiers terminology
  examples/blog_api/db/0_schema/01_write/011_tb_user.sql
  examples/blog_api/db/0_schema/01_write/012_tb_post.sql
  examples/blog_api/db/0_schema/01_write/013_tb_comment.sql
  examples/blog_api/db/migrations/001_initial_schema.sql
  examples/blog_simple/README.md
  examples/blog_simple/db/setup.sql
  examples/complete_cqrs_blog/migrations/001_initial_schema.sql
  frameworks/fraiseql/migrations/001_initial_schema.sql
Labels: none

fix(docs): Complete WP-006 - correct blog_simple README to match actual SQL schema
  examples/blog_simple/README.md
Labels: none

feat(ai-ml): Complete RAG system with accurate FraiseQL information [WP-007, WP-017] - FOR REVIEW
  docs/ai-ml/rag-tutorial.md
  examples/rag-system/.env.example
  examples/rag-system/README.md
  examples/rag-system/app.py
  examples/rag-system/requirements.txt
  examples/rag-system/schema.sql
Labels: documentation

fix(ai-ml): Correct FraiseQL API usage in RAG example [WP-007, WP-017]
  docs/ai-ml/rag-tutorial.md
  examples/rag-system/app.py
  examples/rag-system/requirements.txt
Labels: documentation

feat(ai-ml): Add Docker setup and E2E tests for RAG example [WP-007, WP-017]
  examples/rag-system/.dockerignore
  examples/rag-system/DOCKER.md
  examples/rag-system/Dockerfile
  examples/rag-system/app.py
  examples/rag-system/docker-compose.yml
  examples/rag-system/test-rag-system.sh
Labels: none

fix(ai-ml): Update test script to support both docker-compose syntaxes
  examples/rag-system/test-rag-system.sh
Labels: none

feat(ai-ml): Add local model support for RAG system (no OpenAI API key needed) [WP-007, WP-017]
  examples/rag-system/LOCAL_MODELS.md
  examples/rag-system/app.py
  examples/rag-system/docker-compose.yml
  examples/rag-system/local_embeddings.py
  examples/rag-system/requirements.txt
  examples/rag-system/test-rag-system.sh
Labels: none

docs(ai-ml): Mark performance numbers as typical benchmarks, not tested values
  examples/rag-system/LOCAL_MODELS.md
Labels: none

docs(reference): Add comprehensive vector operators reference guide [WP-008]
  .phases/docs-review/EXECUTION_GUIDE.md
  docs/reference/vector-operators.md
Labels: documentation

docs(journeys): Add persona journey guides and verify documentation accuracy
  .phases/docs-review/EXECUTION_GUIDE.md
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
  CHANGELOG.md
  docs/advanced/database-patterns.md
  docs/journeys/architect-cto.md
  docs/journeys/backend-engineer.md
  docs/journeys/junior-developer.md
  src/fraiseql/mutations/rust_executor.py
  src/fraiseql/utils/casing.py
  tests/integration/graphql/mutations/test_input_camelcase_to_snake_case.py
  tests/unit/utils/test_dict_keys_to_snake_case.py
  uv.lock
Labels: documentation, tests, mutations

docs(journeys): Fix hallucinated references in journey documentation
  docs/journeys/architect-cto.md
  docs/journeys/backend-engineer.md
  docs/journeys/junior-developer.md
Labels: documentation

docs(examples): Fix blog_enterprise README to use trinity naming pattern [WP-006]
  examples/blog_enterprise/README.md
Labels: none

docs(wp-030): Revise WP-030 to reflect FraiseQL's correct two-layer audit pattern
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
Labels: none

docs(overview): Mark WP-003 and WP-008 as completed, add status tracking
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
Labels: none

docs(security): Create comprehensive Security & Compliance Hub [WP-010]
  docs/security-compliance/README.md
Labels: documentation

docs(overview): Mark WP-010 as completed
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
Labels: none

docs(security): Create comprehensive SLSA Provenance Verification Guide [WP-011]
  docs/security-compliance/slsa-provenance.md
Labels: documentation

docs(overview): Mark WP-011 as completed
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
Labels: none

docs(security): Create comprehensive international Compliance Matrix [WP-012]
  docs/security-compliance/compliance-matrix.md
Labels: documentation

docs(security): Create comprehensive Security Profiles Guide [WP-013]
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
  docs/security-compliance/security-profiles.md
Labels: documentation

docs(production): Create comprehensive Production Deployment Checklist [WP-014]
  docs/production/deployment-checklist.md
Labels: documentation

test(examples): Add comprehensive test harness for all code examples [WP-020]
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
  examples/blog_enterprise/domain/__init__.py
  scripts/test_all_examples.py
Labels: tests

docs(journeys): Add AI/ML Engineer and DevOps Engineer journey docs [WP-009]
  docs/journeys/ai-ml-engineer.md
  docs/journeys/devops-engineer.md
Labels: documentation

docs(journeys): Add Security Officer and Procurement Officer journey docs [WP-015]
  docs/journeys/procurement-officer.md
  docs/journeys/security-officer.md
Labels: documentation

test(docs): Add comprehensive link validation tool [WP-023]
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
  scripts/validate_links.py
Labels: none

test(docs): Complete code example validation with enhanced tooling [WP-021]
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
  docs/guides/performance-guide.md
  scripts/validate_code_examples.py
Labels: documentation

docs(review): Mark WP-021 as complete in overview
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
Labels: none

docs(review): Add WP-021 completion report and validation output
  .phases/docs-review/WP-021-COMPLETION-REPORT.md
  .phases/docs-review/code_validation_report.txt
Labels: none

test(docs): Complete contradiction analysis with zero issues found [WP-022]
  .phases/docs-review/WP-022-COMPLETION-REPORT.md
  .phases/docs-review/contradiction_report.txt
  scripts/check_contradictions.py
Labels: none

docs(review): Mark WP-022 as complete in overview
  .phases/docs-review/fraiseql_docs_work_packages/00-WORK-PACKAGES-OVERVIEW.md
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
