Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

test(coverage): phase 04 — TypeScript SDK field completeness
  fraiseql-typescript/src/decorators.ts
  fraiseql-typescript/src/registry.ts
  fraiseql-typescript/tests/field-completeness.test.ts
  fraiseql-typescript/tests/golden-schema.test.ts
Labels: none

test(coverage): phase 05 — Go SDK field completeness
  fraiseql-go/fraiseql/completeness_test.go
  fraiseql-go/fraiseql/decorators.go
  fraiseql-go/fraiseql/golden_test.go
  fraiseql-go/fraiseql/registry.go
Labels: none

test(coverage): phase 06 — Java SDK field completeness
  fraiseql-java/pom.xml
  fraiseql-java/src/main/java/com/fraiseql/core/Authorize.java
  fraiseql-java/src/main/java/com/fraiseql/core/AuthzPolicy.java
  fraiseql-java/src/main/java/com/fraiseql/core/Dimension.java
  fraiseql-java/src/main/java/com/fraiseql/core/EmailAction.java
  fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  fraiseql-java/src/main/java/com/fraiseql/core/GraphQLFactTable.java
  fraiseql-java/src/main/java/com/fraiseql/core/GraphQLField.java
  fraiseql-java/src/main/java/com/fraiseql/core/Measure.java
  fraiseql-java/src/main/java/com/fraiseql/core/ObserverBuilder.java
  fraiseql-java/src/main/java/com/fraiseql/core/PerformanceMonitor.java
  fraiseql-java/src/main/java/com/fraiseql/core/RequiresRole.java
  fraiseql-java/src/main/java/com/fraiseql/core/RetryConfig.java
  fraiseql-java/src/main/java/com/fraiseql/core/RoleRequired.java
  fraiseql-java/src/main/java/com/fraiseql/core/ScalarValidator.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  fraiseql-java/src/main/java/com/fraiseql/core/SlackAction.java
  fraiseql-java/src/main/java/com/fraiseql/core/TypeConverter.java
  fraiseql-java/src/main/java/com/fraiseql/core/Webhook.java
  fraiseql-java/src/test/java/com/fraiseql/core/EnumTest.java
  fraiseql-java/src/test/java/com/fraiseql/core/FieldMetadataTest.java
  fraiseql-java/src/test/java/com/fraiseql/core/OperationsTest.java
  fraiseql-java/src/test/java/com/fraiseql/core/ParityTest.java
  fraiseql-java/src/test/java/com/fraiseql/core/Phase18Cycle9ScopeExtractionTest.java
  fraiseql-java/src/test/java/com/fraiseql/core/Phase4IntegrationTest.java
  fraiseql-java/src/test/java/com/fraiseql/core/TypeSystemTest.java
  tests/fixtures/golden/01-basic-query-mutation.json
Labels: tests

test(coverage): phase 07 — PHP SDK field completeness
  fraiseql-php/src/MutationBuilder.php
  fraiseql-php/src/QueryBuilder.php
  fraiseql-php/src/SchemaRegistry.php
  fraiseql-php/src/StaticAPI.php
  fraiseql-php/src/TypeBuilder.php
  fraiseql-php/tests/FieldCompletenessTest.php
Labels: none

test(coverage): phase 08 — Rust authoring SDK field completeness
  fraiseql-rust/Cargo.toml
  fraiseql-rust/src/authorization.rs
  fraiseql-rust/src/field.rs
  fraiseql-rust/src/policies.rs
  fraiseql-rust/src/roles.rs
  fraiseql-rust/tests/integration_test.rs
Labels: none

test(coverage): phase 09 — Core + CLI pipeline integration
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/tests/converter_field_survival_test.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
  crates/fraiseql-core/tests/pipeline_codegen_executor_test.rs
  tests/fixtures/golden/01-basic-query-mutation.json
Labels: tests

test(coverage): phase 10 — Mutation + Cache pipeline integration
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_error_type_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
Labels: none

test(coverage): phase 11 — Inject + Auth PKCE pipeline integration
  crates/fraiseql-cli/tests/converter_inject_params_test.rs
  crates/fraiseql-core/tests/pipeline_inject_params_test.rs
  crates/fraiseql-server/tests/auth_pkce_flow_test.rs
Labels: none

test(coverage): phase 12 — Cross-SDK parity integration
  .github/workflows/ci.yml
  Makefile
  fraiseql-go/fraiseql/generate_parity_schema_test.go
  fraiseql-java/src/test/java/com/fraiseql/core/GenerateParitySchema.java
  fraiseql-php/tests/GenerateParitySchema.php
  fraiseql-python/tests/generate_parity_schema.py
  fraiseql-rust/Cargo.toml
  fraiseql-rust/tests/generate_parity_schema.rs
  fraiseql-typescript/tests/generate-parity-schema.ts
  tests/fixtures/golden/parity-schema.json
  tools/compare_parity_schemas.py
Labels: tests, ci

chore(parity): fix Makefile for local Java/PHP
  Makefile
Labels: none

chore(parity): preserve JAVA_HOME set by CI actions
  Makefile
Labels: none

test(coverage): phase 13 — finalize test coverage work
  crates/fraiseql-cli/tests/converter_field_survival_test.rs
  crates/fraiseql-cli/tests/converter_inject_params_test.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/pipeline_codegen_executor_test.rs
  crates/fraiseql-core/tests/pipeline_inject_params_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_error_type_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-server/tests/auth_pkce_flow_test.rs
  fraiseql-go/fraiseql/golden_test.go
  fraiseql-java/src/test/java/com/fraiseql/core/ParityTest.java
  fraiseql-php/phpunit.xml
  fraiseql-php/tests/FieldCompletenessTest.php
  fraiseql-python/tests/generate_parity_schema.py
  fraiseql-typescript/tests/field-completeness.test.ts
  fraiseql-typescript/tests/golden-schema.test.ts
  tests/fixtures/golden/README.md
Labels: tests

docs(readme): update test count and quality section after coverage work
  README.md
Labels: documentation

docs: fix all rustdoc link warnings for v2.0.0
  crates/fraiseql-auth/src/pkce.rs
  crates/fraiseql-observers/src/listener/lease.rs
  crates/fraiseql-server/src/federation/circuit_breaker.rs
  crates/fraiseql-server/src/middleware/rate_limit.rs
  crates/fraiseql-server/src/runtime_state.rs
Labels: none

docs: stamp CHANGELOG and ROADMAP for v2.0.0 release
  CHANGELOG.md
  ROADMAP.md
Labels: documentation

chore: bump workspace to 2.1.0-dev after v2.0.0 release
  Cargo.toml
  fraiseql-python/pyproject.toml
Labels: none

ci: fix sdk-parity job dependency and Docker GHCR push path
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
Labels: ci

ci: add dependency caching to sdk-parity job
  .github/workflows/ci.yml
Labels: ci

docs: Add comprehensive framework quality assessment
  FRAMEWORK_ASSESSMENT.md
Labels: documentation

docs: Revise dependency assessment with detailed breakdown
  FRAMEWORK_ASSESSMENT.md
Labels: documentation

docs: Major revision to dependency analysis with architectural findings
  FRAMEWORK_ASSESSMENT.md
Labels: documentation

refactor: Phase 1 improvements — packaging, errors, TLS consolidation
  Cargo.lock
  Cargo.toml
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-secrets/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/middleware/oidc_auth.rs
  crates/fraiseql-server/src/routes/api/admin.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/server.rs
Labels: none

test: add 21 generated SQL snapshot tests for WHERE clause operators
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_and_two_fields.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_contains.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_deep_nested_path.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_endswith.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_eq.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_gt.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_gte.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_icontains.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_ilike.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_in_operator.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_is_null_false.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_is_null_true.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_like.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_lt.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_lte.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_neq.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_nested_and_or.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_nin_operator.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_or_two_fields.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_param_offset_two.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_startswith.snap
  crates/fraiseql-core/tests/sql_snapshots.rs
Labels: none

docs: Phase 3.1 rustdoc polish — RuntimeConfig and tenant_enforcer
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/tenant_enforcer.rs
Labels: none

feat: Phase 2.3 — k6 load testing baseline and CI workflow
  .github/workflows/perf-baseline.yml
  benchmarks/load/README.md
  benchmarks/load/basic.js
  benchmarks/load/mutations.js
Labels: ci

feat: Phase 4.1 — MySQL RelayDatabaseAdapter + cache fixes
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_backward_bigint_cursor.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_backward_cursor_with_where.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_backward_custom_order_by.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_backward_no_cursor.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_count_no_where.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_count_with_where.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_forward_bigint_cursor.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_forward_cursor_with_where.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_forward_custom_order_by.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_forward_no_cursor.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__mysql_relay__snapshot_mysql_relay_forward_uuid_cursor.snap
  crates/fraiseql-core/tests/sql_snapshots.rs
Labels: none

feat: Phase 4.2 — CheckpointStrategy enum for effectively-once delivery
  crates/fraiseql-observers/src/checkpoint/mod.rs
  crates/fraiseql-observers/src/lib.rs
Labels: none

refactor(core): split executor.rs into sub-modules + cleanup
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/executor/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/classify.rs
  crates/fraiseql-core/src/runtime/executor/federation.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/tests/sql_snapshots.rs
  crates/fraiseql-observers/src/checkpoint/mod.rs
Labels: none

docs(sdks): improve community SDK deprecation notices
  sdks/community/fraiseql-clojure/DEPRECATED.md
  sdks/community/fraiseql-csharp/DEPRECATED.md
  sdks/community/fraiseql-dart/DEPRECATED.md
  sdks/community/fraiseql-elixir/DEPRECATED.md
  sdks/community/fraiseql-groovy/DEPRECATED.md
  sdks/community/fraiseql-kotlin/DEPRECATED.md
  sdks/community/fraiseql-nodejs/DEPRECATED.md
  sdks/community/fraiseql-ruby/DEPRECATED.md
  sdks/community/fraiseql-scala/DEPRECATED.md
  sdks/community/fraiseql-swift/DEPRECATED.md
Labels: none

docs: update CHANGELOG for v2.1.0-dev improvements
  CHANGELOG.md
Labels: documentation

feat(php-sdk): Phase 3 — SchemaExporter + CLI binary + public README
  sdks/official/fraiseql-php/PHP_FEATURE_PARITY.md
  sdks/official/fraiseql-php/README.md
  sdks/official/fraiseql-php/bin/fraiseql
  sdks/official/fraiseql-php/composer.json
  sdks/official/fraiseql-php/phpunit.xml
  sdks/official/fraiseql-php/src/Attributes/GraphQLType.php
  sdks/official/fraiseql-php/src/MutationBuilder.php
  sdks/official/fraiseql-php/src/QueryBuilder.php
  sdks/official/fraiseql-php/src/Schema.php
  sdks/official/fraiseql-php/src/SchemaExporter.php
  sdks/official/fraiseql-php/tests/ExportTypesTest.php
  sdks/official/fraiseql-php/tests/SchemaExporterTest.php
Labels: none

feat(schema): domain-specific newtypes for GraphQL schema identifiers
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/generate_views.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/field_filter.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/dependency_graph.rs
  crates/fraiseql-core/src/schema/domain_types.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/golden_fixtures_test.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
  crates/fraiseql-core/tests/mutation_execution_test.rs
  crates/fraiseql-core/tests/relay_integration.rs
  crates/fraiseql-secrets/src/encryption/middleware.rs
  crates/fraiseql-server/src/routes/introspection.rs
Labels: none

chore(clippy): harden workspace lint config with explicit missing_errors_doc
  Cargo.toml
Labels: none

chore: remove development artifacts from repository
  QUALITY_ASSESSMENT_FINAL.md
Labels: documentation

fix(relay): totalCount detected in inline fragment and named fragment spreads
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/tests/relay_integration.rs
Labels: none

docs(changelog): record domain newtypes, fragment totalCount, and lint hardening
  CHANGELOG.md
Labels: documentation

refactor(core): 6-phase quality improvement batch
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/cascade_invalidator.rs
  crates/fraiseql-core/src/cache/fact_table_cache.rs
  crates/fraiseql-core/src/cache/invalidation_api.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/relay_cache.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/where_sql_generator.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/schema/introspection/directive_builder.rs
  crates/fraiseql-core/src/schema/introspection/field_resolver.rs
  crates/fraiseql-core/src/schema/introspection/mod.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/src/schema/introspection/type_resolver.rs
  crates/fraiseql-core/src/schema/introspection/types.rs
  crates/fraiseql-core/src/schema/introspection_types.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/observer_types.rs
  crates/fraiseql-core/src/schema/security_config.rs
  crates/fraiseql-core/src/schema/subscription_types.rs
Labels: none

chore: remove AI session artifacts and dev archaeology
  .claude/.gitignore
  .claude/CLIPPY_FIXES_PLAN.md
  .claude/CLIPPY_FIX_ROADMAP.md
  .claude/CLIPPY_VIOLATIONS_CATALOG.md
  .claude/REVIEW_AND_QUALITY_ANALYSIS.md
  .claude/RICH_FILTERS_INSIGHTS.md
  .claude/fraiseql_documentation_review/COMPLETE_DOCUMENTATION_INVENTORY.md
  .claude/fraiseql_documentation_review/FEEDBACK_QUICK_REFERENCE.txt
  .claude/fraiseql_documentation_review/INDEX.md
  .claude/fraiseql_documentation_review/QUICK_ACCESS.sh
  .claude/fraiseql_documentation_review/README_DOCUMENTATION_REVIEW.txt
  .claude/fraiseql_documentation_review/START_HERE.txt
  .claude/fraiseql_documentation_review/documentation_files_to_review.md
  .claude/fraiseql_documentation_review/documentation_review_prompt.md
  .claude/plans/documentation-improvements.md
  .claude/plans/immediate-id-migration.md
  .claude/plans/rust-migration-aggressive-preserve.md
  .claude/plans/rust-migration-three-branches.md
  .claude/plans/rust-postgres-migration-plan.md
  .gitignore
  crates/fraiseql-observers/RELEASE_NOTES_PHASE_8.md
  crates/fraiseql-observers/docs/ARCHITECTURE_PHASE_8.md
  crates/fraiseql-observers/tests/QA_REPORT.md
  crates/fraiseql-observers/tests/TESTING_PLAN.md
  crates/fraiseql-wire/.session-handoff.md
  crates/fraiseql-wire/BENCHMARK_IMPROVEMENTS.md
  crates/fraiseql-wire/CI_CD_GUIDE.md
  crates/fraiseql-wire/METRICS_PERFORMANCE.md
  crates/fraiseql-wire/PERFORMANCE_IMPROVEMENT_PLAN.md
  crates/fraiseql-wire/PERFORMANCE_VALIDATION_RESULTS.md
  crates/fraiseql-wire/PRD.md
  crates/fraiseql-wire/QUICK_START.md
  crates/fraiseql-wire/README.md
  crates/fraiseql-wire/ROADMAP.md
  crates/fraiseql-wire/TESTING_GUIDE.md
Labels: none

docs: move architecture docs from .claude/ to docs/architecture/
  .claude/README.md
  README.md
  docs/architecture/README.md
  docs/architecture/compiler.md
  docs/architecture/overview.md
Labels: documentation

chore: fix stale references to deleted archaeology files
  crates/fraiseql-observers/DEPLOYMENT_GUIDE.md
  crates/fraiseql-observers/docs/CLI_TOOLS.md
  crates/fraiseql-observers/docs/INTEGRATION_GUIDE.md
  crates/fraiseql-observers/docs/MIGRATION_GUIDE.md
  crates/fraiseql-observers/docs/README.md
  crates/fraiseql-observers/docs/TROUBLESHOOTING.md
  crates/fraiseql-wire/PERFORMANCE_TUNING.md
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
