Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix: AsyncGenerator type annotations for Python 3.12+ compatibility
  examples/blog_api/tests/conftest.py
  examples/subscription_example.py
  examples/websocket_fastapi.py
  tests/fixtures/database/database_conftest.py
  tests/fixtures/database/setup.py
  tests/integration/graphql/subscriptions/test_subscription_integration.py
  tests/integration/graphql/subscriptions/test_subscriptions.py
  tests/regression/v0_1_0/test_id_parameter_fix.py
Labels: tests

fix: blog_simple async fixture decorators for pytest-asyncio compatibility
  examples/blog_simple/tests/conftest.py
Labels: none

fix: add missing pytest_asyncio import in blog_simple conftest
  examples/blog_simple/tests/conftest.py
Labels: none

fix: Complete GitHub Actions test failures
  examples/blog_simple/app.py
  examples/blog_simple/tests/conftest.py
  examples/blog_simple/tests/test_queries.py
  tests/fixtures/examples/conftest_examples.py
Labels: tests

fix: Remove redundant blog_simple direct test from CI
  .github/workflows/test.yml
Labels: ci

fix: Apply pre-commit formatting fixes
  examples/_TEMPLATE_README.md
  tests/fixtures/examples/.database_state_cache.json
Labels: tests

fix: Make pre-commit pytest hook environment-aware
  .pre-commit-config.yaml
Labels: config

fix: Use uv to run pytest in pre-commit hook locally
  .pre-commit-config.yaml
Labels: config

fix: Fix YAML syntax in pre-commit pytest hook
  .pre-commit-config.yaml
Labels: config

feat: Add @connection decorator for cursor-based pagination
  examples/cursor_pagination_demo.py
  src/fraiseql/__init__.py
  src/fraiseql/decorators.py
  tests/unit/decorators/test_connection_decorator.py
  uv.lock
Labels: tests

fix: Update pre-commit.ci detection in pytest hook
  .pre-commit-config.yaml
Labels: config

feat: Add @connection decorator for cursor-based pagination (#20)
  .pre-commit-config.yaml
  examples/cursor_pagination_demo.py
  src/fraiseql/__init__.py
  src/fraiseql/decorators.py
  tests/unit/decorators/test_connection_decorator.py
  uv.lock
Labels: tests, config

chore: Release v0.5.1
  CHANGELOG.md
  examples/blog_enterprise/requirements.txt
  examples/blog_simple/requirements.txt
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
Labels: documentation, cli, config, dependencies

feat: Add JSONB extraction support to @connection decorator
  src/fraiseql/decorators.py
  tests/integration/test_printoptim_backend_connection_jsonb.py
  tests/unit/decorators/test_connection_decorator.py
  uv.lock
Labels: tests

refactor: Make @connection JSONB tests framework-agnostic
  tests/integration/test_connection_jsonb_integration.py
  tests/unit/decorators/test_connection_decorator.py
Labels: tests

chore: Bump version to 0.5.2
  pyproject.toml
  src/fraiseql/__init__.py
Labels: config, dependencies

fix: Update CLI version to match current release version 0.5.2
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
Labels: tests, cli

fix: Resolve JSONB network filtering inconsistencies
  src/fraiseql/sql/operator_strategies.py
  tests/integration/database/sql/test_issue_resolution_demonstration.py
  tests/integration/database/sql/test_jsonb_network_filtering_bug.py
  tests/integration/database/sql/test_network_filtering_fix.py
  tests/integration/database/sql/test_network_operator_consistency_bug.py
Labels: tests, sql

fix: Resolve JSONB network filtering inconsistencies (#21)
  src/fraiseql/sql/operator_strategies.py
  tests/integration/database/sql/test_issue_resolution_demonstration.py
  tests/integration/database/sql/test_jsonb_network_filtering_bug.py
  tests/integration/database/sql/test_network_filtering_fix.py
  tests/integration/database/sql/test_network_operator_consistency_bug.py
Labels: tests, sql

feat: Add MacAddressOperatorStrategy for proper PostgreSQL macaddr type handling
  src/fraiseql/sql/operator_strategies.py
  tests/integration/database/sql/test_mac_address_filter_operations.py
Labels: tests, sql

feat: Add MacAddressOperatorStrategy for proper PostgreSQL macaddr type handling (#22)
  src/fraiseql/sql/operator_strategies.py
  tests/integration/database/sql/test_mac_address_filter_operations.py
Labels: tests, sql

feat: Add LTreeOperatorStrategy for hierarchical path operations
  src/fraiseql/sql/operator_strategies.py
  tests/integration/database/sql/test_ltree_filter_operations.py
Labels: tests, sql

feat: Add LTreeOperatorStrategy for hierarchical path operations (#23)
  src/fraiseql/sql/operator_strategies.py
  tests/integration/database/sql/test_ltree_filter_operations.py
Labels: tests, sql

feat: Add DateRangeOperatorStrategy for PostgreSQL range operations
  src/fraiseql/sql/operator_strategies.py
  tests/integration/database/sql/test_daterange_filter_operations.py
Labels: tests, sql

feat: Add DateRangeOperatorStrategy for PostgreSQL range operations (#24)
  src/fraiseql/sql/operator_strategies.py
  tests/integration/database/sql/test_daterange_filter_operations.py
Labels: tests, sql

chore: Bump version to 0.5.3 - DateRange exotic scalar completion
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
Labels: tests, cli, config, dependencies

feat: Complete FraiseQL Relay Extension with comprehensive documentation
  fraiseql-relay-extension/IMPLEMENTATION_COMPLETE.md
  fraiseql-relay-extension/README.md
  fraiseql-relay-extension/docs/graphql-specialist-review.md
  fraiseql-relay-extension/docs/migration-guide.md
  fraiseql-relay-extension/docs/performance-benchmarks.md
  fraiseql-relay-extension/docs/technical-specification.md
  fraiseql-relay-extension/examples/basic-setup.sql
  fraiseql-relay-extension/examples/multi-tenant.sql
  fraiseql-relay-extension/examples/python-integration.py
  fraiseql-relay-extension/python-integration/__init__.py
  fraiseql-relay-extension/python-integration/discovery.py
  fraiseql-relay-extension/python-integration/relay.py
  fraiseql-relay-extension/python-integration/types.py
  fraiseql-relay-extension/sql/fraiseql_relay--1.0.sql
  fraiseql-relay-extension/sql/fraiseql_relay.control
  fraiseql-relay-extension/src/Makefile
  fraiseql-relay-extension/src/fraiseql_relay.c
  fraiseql-relay-extension/src/fraiseql_relay.h
  fraiseql-relay-extension/tests/performance/benchmark.sql
  fraiseql-relay-extension/tests/python/test_discovery.py
  fraiseql-relay-extension/tests/python/test_relay_integration.py
  fraiseql-relay-extension/tests/sql/test_basic_functionality.sql
  fraiseql-relay-extension/tests/sql/test_performance.sql
Labels: tests

docs: Add comprehensive agent prompt for PrintOptim Backend Relay
  fraiseql-relay-extension/AGENT_PROMPT_PRINTOPTIM_RELAY.md
Labels: none

fix: Resolve critical registry corruption bug causing production failures
  REGISTRY_BUG_FIX_SUMMARY.md
  docs/troubleshooting/registry-corruption-fix.md
  src/fraiseql/gql/builders/registry.py
  src/fraiseql/gql/builders/registry_health.py
  tests/integration/test_production_registry_bug_fix.py
  tests/system/test_production_bug_verification.py
  tests/unit/core/registry/test_duplicate_registration_bug.py
Labels: documentation, tests

chore: Bump version to 0.5.4-beta.1 for registry corruption bug fix
  BETA_RELEASE_NOTES_v0.5.4-beta.1.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix: Ensure NetworkOperatorStrategy always casts to ::inet for JSONB fields
  src/fraiseql/sql/operator_strategies.py
Labels: sql

fix: Enable all specialized operator strategies to work with repository methods
  src/fraiseql/sql/operator_strategies.py
Labels: sql

fix: Prevent broken releases with comprehensive CI/CD pipeline overhaul
  .github/workflows/quality-gate.yml
  .github/workflows/test.yml
  docs/ci-cd-pipeline.md
Labels: documentation, ci

fix: Add comprehensive development safety protections
  .pre-commit-config.yaml
  Makefile
  docs/development-safety.md
  src/fraiseql/sql/operator_strategies.py
  uv.lock
Labels: documentation, sql, config

fix: Resolve critical linting issues and flaky performance test
  tests/fixtures/auth/__init__.py
  tests/fixtures/common/test_fraise_type_json_serialization.py
  tests/fixtures/database/__init__.py
  tests/fixtures/database/database_conftest.py
  tests/fixtures/database/setup.py
  tests/integration/database/repository/__init__.py
  tests/integration/database/repository/test_nested_object_tenant_id_fix.py
  tests/integration/database/repository/test_nested_tenant_fix_real_db.py
  tests/integration/database/sql/__init__.py
  tests/integration/database/sql/test_daterange_filter_operations.py
  tests/integration/database/sql/test_issue_resolution_demonstration.py
  tests/integration/database/sql/test_jsonb_network_filtering_bug.py
  tests/integration/database/sql/test_ltree_filter_operations.py
  tests/integration/database/sql/test_mac_address_filter_operations.py
  tests/integration/database/sql/test_network_filtering_fix.py
  tests/integration/database/sql/test_network_operator_consistency_bug.py
  tests/integration/graphql/queries/__init__.py
  tests/integration/graphql/schema/__init__.py
  tests/integration/graphql/subscriptions/__init__.py
  tests/integration/graphql/subscriptions/test_subscription_integration.py
  tests/integration/graphql/subscriptions/test_subscriptions.py
  tests/integration/test_connection_jsonb_integration.py
  tests/regression/json_passthrough/__init__.py
  tests/regression/v0_1_0/__init__.py
  tests/regression/v0_1_0/test_id_parameter_fix.py
  tests/regression/v0_4_0/__init__.py
  tests/system/fastapi_system/__init__.py
  tests/unit/core/json_handling/__init__.py
  tests/unit/core/parsing/__init__.py
  tests/unit/core/registry/__init__.py
  tests/unit/core/type_system/__init__.py
  tests/unit/decorators/__init__.py
  tests/unit/decorators/test_connection_decorator.py
  tests/unit/validation/__init__.py
Labels: tests

fix: Adjust flaky performance test timeout in GraphQL error serialization
  tests/fixtures/common/test_graphql_error_serialization.py
Labels: tests

chore: Add fraiseql-relay-extension/ to .gitignore
  .gitignore
Labels: none

Fix CI test failures: Python version compatibility + enhanced debugging
  .github/workflows/quality-gate.yml
  fraiseql-relay-extension/AGENT_PROMPT_PRINTOPTIM_RELAY.md
  fraiseql-relay-extension/IMPLEMENTATION_COMPLETE.md
  fraiseql-relay-extension/README.md
  fraiseql-relay-extension/docs/graphql-specialist-review.md
  fraiseql-relay-extension/docs/migration-guide.md
  fraiseql-relay-extension/docs/performance-benchmarks.md
  fraiseql-relay-extension/docs/technical-specification.md
  fraiseql-relay-extension/examples/basic-setup.sql
  fraiseql-relay-extension/examples/multi-tenant.sql
  fraiseql-relay-extension/examples/python-integration.py
  fraiseql-relay-extension/python-integration/__init__.py
  fraiseql-relay-extension/python-integration/discovery.py
  fraiseql-relay-extension/python-integration/relay.py
  fraiseql-relay-extension/python-integration/types.py
  fraiseql-relay-extension/sql/fraiseql_relay--1.0.sql
  fraiseql-relay-extension/sql/fraiseql_relay.control
  fraiseql-relay-extension/src/Makefile
  fraiseql-relay-extension/src/fraiseql_relay.c
  fraiseql-relay-extension/src/fraiseql_relay.h
  fraiseql-relay-extension/tests/performance/benchmark.sql
  fraiseql-relay-extension/tests/python/test_discovery.py
  fraiseql-relay-extension/tests/python/test_relay_integration.py
  fraiseql-relay-extension/tests/sql/test_basic_functionality.sql
  fraiseql-relay-extension/tests/sql/test_performance.sql
  pyproject.toml
Labels: tests, config, ci, dependencies

Fix Python 3.12 AsyncGenerator typing compatibility
  src/fraiseql/auth/native/router.py
  src/fraiseql/subscriptions/caching.py
  tests/fixtures/database/database_conftest.py
  tests/fixtures/database/setup.py
  tests/integration/graphql/subscriptions/test_subscription_integration.py
  tests/integration/graphql/subscriptions/test_subscriptions.py
  tests/regression/v0_1_0/test_id_parameter_fix.py
Labels: tests

Upgrade to Python 3.13 for CI/CD and local development
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/quality-gate.yml
  .github/workflows/test.yml
  README.md
  docs/getting-started/installation.md
  docs/index.md
  pyproject.toml
  uv.lock
Labels: documentation, config, ci, dependencies
