Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(server): the in-memory rate limiter evicts, so max_buckets is a cap and not a lockout
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-server/src/middleware/rate_limit/config.rs
  crates/fraiseql-server/src/middleware/rate_limit/in_memory.rs
  crates/fraiseql-server/src/middleware/rate_limit/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/tests/rate_limit_bucket_eviction_test.rs
Labels: documentation

fix(cache): a read that straddles a mutation can no longer undo it
  CHANGELOG.md
  crates/fraiseql-core/benches/cache.rs
  crates/fraiseql-core/benches/cache_concurrent_bench.rs
  crates/fraiseql-core/benches/memory_profile.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/fact_table_cache.rs
  crates/fraiseql-core/src/cache/response_cache.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
Labels: documentation

fix(cache): a read that straddles a mutation can no longer undo it
  CHANGELOG.md
  crates/fraiseql-core/benches/cache.rs
  crates/fraiseql-core/benches/cache_concurrent_bench.rs
  crates/fraiseql-core/benches/memory_profile.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/fact_table_cache.rs
  crates/fraiseql-core/src/cache/response_cache.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
Labels: documentation

docs(release): ship one version claim, and make release.sh keep a required gate green
  CHANGELOG.md
  tools/changelog-exempt-issues.txt
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/release_helpers_test.sh
Labels: documentation

docs(release): ship one version claim, and make release.sh keep a required gate green
  CHANGELOG.md
  tools/changelog-exempt-issues.txt
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/release_helpers_test.sh
Labels: documentation

fix(release): the workflow that publishes and the gate that checks it name the same crates
  .dagger/main.go
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  tools/check-publish-parity.py
  tools/tests/publish_parity_test.sh
Labels: documentation, ci

docs(changelog): state that fraiseql-cdc-sinks becomes installable in this release
  CHANGELOG.md
Labels: documentation

docs(changelog): correct the failure mode — a partial publish, not a pre-upload stop
  CHANGELOG.md
Labels: documentation

docs(changelog): state that fraiseql-cdc-sinks becomes installable in this release
  CHANGELOG.md
Labels: documentation

docs(changelog): correct the failure mode — a partial publish, not a pre-upload stop
  CHANGELOG.md
Labels: documentation

fix(release): the workflow that publishes and the gate that checks it name the same crates
  .dagger/main.go
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  tools/check-publish-parity.py
  tools/tests/publish_parity_test.sh
Labels: documentation, ci

fix(test): production_safety_test's FRAISEQL_ENV mutations stop racing each other
  crates/fraiseql-server/tests/production_safety_test.rs
Labels: none

fix(test): production_safety_test's FRAISEQL_ENV mutations stop racing each other
  crates/fraiseql-server/tests/production_safety_test.rs
Labels: none

docs(changelog): state the breaking surface as measured, and why it is partly unmeasurable
  CHANGELOG.md
Labels: documentation

chore(release): prepare v2.15.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  deploy/kubernetes/helm/fraiseql/Chart.yaml
  deploy/kubernetes/helm/fraiseql/values.yaml
  docs/architecture/overview.md
  docs/value-proposition.md
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation

docs(changelog): the release publishes two SDKs, not three
  CHANGELOG.md
Labels: documentation

docs(readme): the install snippet pins the version being released, not 2.8
  README.md
Labels: documentation

docs(changelog): state the breaking surface as measured, and why it is partly unmeasurable
  CHANGELOG.md
Labels: documentation

docs(changelog): the release publishes two SDKs, not three
  CHANGELOG.md
Labels: documentation

chore(release): prepare v2.15.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Dockerfile
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  deploy/kubernetes/helm/fraiseql/Chart.yaml
  deploy/kubernetes/helm/fraiseql/values.yaml
  docs/architecture/overview.md
  docs/value-proposition.md
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation

docs(readme): the install snippet pins the version being released, not 2.8
  README.md
Labels: documentation

fix(cli): state_encryption stops defaulting on, so a project that never asked for it boots
  CHANGELOG.md
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/config/tests.rs
  crates/fraiseql-server/src/server/initialization.rs
Labels: documentation

fix(cli): state_encryption stops defaulting on, so a project that never asked for it boots
  CHANGELOG.md
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/config/tests.rs
  crates/fraiseql-server/src/server/initialization.rs
Labels: documentation

fix(graphql): an argument the field does not declare is refused, not dropped
  CHANGELOG.md
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/argument_validation.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

refactor(runtime): the WHERE cast hint stops being the ORDER BY cast hint
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
Labels: none

fix(graphql): a variable the operation never defines is refused, not dropped
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/variable_validation.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

fix(graphql): a variable's declared type must exist, and a declared variable must be used
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/variable_validation.rs
  crates/fraiseql-core/src/schema/introspection/mod.rs
  crates/fraiseql-core/src/schema/introspection/type_resolver.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

fix(graphql): a type the schema declares is a valid variable type, published or not
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/variable_validation.rs
Labels: documentation

fix(where): a `where` key the type does not declare is refused, not silently unmatched
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-db/src/utils.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_clause/field_types.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-db/tests/where_operator_type_matrix.rs
Labels: documentation

fix(orderby): sorting by a field the type does not declare is refused, not ignored
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

fix(window): the final orderBy can sort by a window alias, and unknown keys are refused (#1014)
  CHANGELOG.md
  crates/fraiseql-core/src/compiler/tests.rs
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
Labels: documentation

fix(where): ID/UUID equality stops being case-sensitive text equality
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/types/sql_hints.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-db/src/where_generator/generic.rs
Labels: documentation

fix(introspection): __schema and __type follow the selection set (§ 6.3)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/introspection_projection.rs
  crates/fraiseql-core/src/runtime/executor/support/mod.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

fix(graphql): the request's operationName selects the operation (§ 6.1)
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/graphql/parser.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/support/planning.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/variable_validation.rs
  crates/fraiseql-core/src/security/introspection_enforcer.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
Labels: none

feat(schema): where/orderBy publish typed inputs instead of the JSON scalar
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/generate_client.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/tests/generate_client_ts.rs
  crates/fraiseql-codegen/src/client/go/emit.rs
  crates/fraiseql-codegen/src/client/python/emit.rs
  crates/fraiseql-codegen/src/client/rust/emit.rs
  crates/fraiseql-codegen/src/client/typescript/emit.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/schema_lookup.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
  crates/fraiseql-core/src/schema/derived_inputs_tests.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/src/schema/introspection/type_resolver.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/schema_migration_test.rs
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/mcp/resources.rs
  crates/fraiseql-server/src/mcp/tools.rs
Labels: documentation

fix(where): a nested filter key is adjudicated against the type the path reached
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/compiled/schema_lookup.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
  crates/fraiseql-core/src/schema/derived_inputs_tests.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_clause/field_types.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-server/src/routes/graphql/reload_gate.rs
Labels: documentation

fix(subscriptions): /ws validates the document it is about to run
  CHANGELOG.md
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/routes/subscriptions/tests.rs
  crates/fraiseql-server/src/routes/tests.rs
  crates/fraiseql-server/src/server/routing/admin.rs
Labels: documentation

chore(release): drop the private-tool references and classify the local red suite
  CHANGELOG.md
  Makefile
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-db/src/types/read_routing.rs
  docs/adr/0017-entity-identity-contract.md
  docs/operations/read-replicas.md
  tools/check-test-baseline.sh
Labels: documentation

refactor(tests): extract the two inline test modules the layout gate refuses
  crates/fraiseql-core/src/runtime/executor/support/introspection_projection.rs
  crates/fraiseql-core/src/runtime/executor/support/introspection_projection_tests.rs
  crates/fraiseql-core/src/runtime/variable_validation.rs
  crates/fraiseql-core/src/runtime/variable_validation_tests.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
Labels: none

docs(changelog): the 2.15.0 heading carries the date the release is cut
  CHANGELOG.md
Labels: documentation
