Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(arrow-flight): Add QueryExecutor reference to FraiseQLFlightService
  Cargo.lock
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/src/db_convert.rs
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-server/src/auth/jwt.rs
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/session_postgres.rs
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/test_data/test_rsa_key.pem
  crates/fraiseql-server/tests/api_design_security_tests.rs
Labels: none

test(arrow-flight): Add executor accessor tests
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

feat(arrow-flight): Implement execute_graphql_query() with placeholder data
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

docs: Add implementation progress summary
  IMPLEMENTATION_PROGRESS.md
Labels: documentation

refactor(deps): Resolve circular dependency between fraiseql-core and fraiseql-arrow
  Cargo.lock
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/arrow_executor.rs
Labels: none

feat(arrow-flight): Complete Phase 1.3 - Executor Integration Ready
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

docs: Update implementation progress - Phase 1 COMPLETE ✅
  IMPLEMENTATION_PROGRESS.md
Labels: documentation

feat(federation): Implement Phase 7 - Saga Executor (RED→GREEN→CLEANUP)
  crates/fraiseql-core/src/federation/saga_executor.rs
Labels: none

feat(federation): Implement Phase 8 - Saga Compensator (RED→GREEN→CLEANUP)
  crates/fraiseql-core/src/federation/saga_compensator.rs
Labels: none

docs: Update implementation progress - Phases 1, 7, 8 complete
  IMPLEMENTATION_PROGRESS.md
Labels: documentation

feat(arrow-flight): Implement Phase 2.1 - Handshake JWT Authentication
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

feat(arrow-flight): Implement Phase 2.2 - SecurityContext Integration
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

docs: Update progress - Phase 2 Arrow Flight Authentication complete
  IMPLEMENTATION_PROGRESS.md
Labels: documentation

feat(arrow): Implement get_flight_info for Arrow Flight schema retrieval
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

feat(arrow): Implement do_action and list_actions for Flight operations
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

docs: Update IMPLEMENTATION_PROGRESS for Phase 3 completion
  IMPLEMENTATION_PROGRESS.md
Labels: documentation

feat(server): Implement Phase 4.1 - Extend AppState with cache and config
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/graphql.rs
Labels: none

feat(server): Implement Phase 4.2 - Configuration access with sanitization
  crates/fraiseql-server/src/routes/api/types.rs
  crates/fraiseql-server/src/routes/graphql.rs
Labels: none

feat(server): Document Phase 4.3 - Schema Access Pattern
  crates/fraiseql-server/src/routes/graphql.rs
Labels: none

docs: Update IMPLEMENTATION_PROGRESS for Phase 4 completion
  IMPLEMENTATION_PROGRESS.md
Labels: documentation

feat(admin): Implement Phase 5 - API Cache Management Endpoints
  IMPLEMENTATION_PROGRESS.md
  crates/fraiseql-arrow/src/cache.rs
  crates/fraiseql-server/src/routes/api/admin.rs
  crates/fraiseql-server/src/server.rs
Labels: documentation

feat(admin): Implement Phase 6 - API Admin & Query Endpoints
  IMPLEMENTATION_PROGRESS.md
  crates/fraiseql-server/src/routes/api/admin.rs
  crates/fraiseql-server/src/routes/api/query.rs
Labels: documentation

feat(federation): Implement Phase 9 - Federation Saga Integration
  crates/fraiseql-core/src/federation/saga_coordinator.rs
  crates/fraiseql-core/src/federation/saga_executor.rs
Labels: none

docs: Update IMPLEMENTATION_PROGRESS.md for Phase 9 completion
  IMPLEMENTATION_PROGRESS.md
Labels: documentation

feat(deployment): Phase 10.1 - Foundation Setup & Test Infrastructure
  .dockerignore
  .github/workflows/build-docker.yml
  .github/workflows/build-sbom.yml
  Cargo.lock
  Dockerfile
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/tests/deployment_test.rs
  deploy/kubernetes/configmap.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/helm/fraiseql/Chart.yaml
  deploy/kubernetes/service.yaml
  docker-compose.yml
Labels: ci

feat(deployment): Phase 10.2 - Multi-Stage Dockerfile with Multi-Architecture Support
  crates/fraiseql-server/tests/deployment_test.rs
  deploy/docker/Dockerfile.hardened
Labels: none

feat(deployment): Phase 10.3 - Helm Chart Creation
  crates/fraiseql-server/tests/deployment_test.rs
  deploy/kubernetes/helm/fraiseql/templates/_helpers.tpl
  deploy/kubernetes/helm/fraiseql/templates/configmap.yaml
  deploy/kubernetes/helm/fraiseql/templates/deployment.yaml
  deploy/kubernetes/helm/fraiseql/templates/service.yaml
  deploy/kubernetes/helm/fraiseql/values.yaml
Labels: none

feat(deployment): Phase 10.4 - Kubernetes Base Manifests
  crates/fraiseql-server/tests/deployment_test.rs
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/hpa.yaml
  deploy/kubernetes/ingress.yaml
Labels: none

feat(deployment): Phase 10.5 - Hardened K8s Manifests
  crates/fraiseql-server/tests/deployment_test.rs
  deploy/kubernetes/fraiseql-hardened.yaml
Labels: none

feat(deployment): Phase 10.6 - Docker Compose & Local Development
  .env.example
  crates/fraiseql-server/tests/deployment_test.rs
  docker-compose.prod.yml
Labels: none

feat(deployment): Phase 10.7 - SBOM Generation & Vulnerability Scanning
  crates/fraiseql-server/tests/deployment_test.rs
  tools/generate-sbom.sh
  tools/prometheus.yml
  tools/scan-vulnerabilities.sh
Labels: none

feat(deployment): Phase 10.8 - Deployment Security Guide & Documentation
  crates/fraiseql-server/tests/deployment_test.rs
  docs/DEPLOYMENT.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/DEPLOYMENT_RUNBOOKS.md
  docs/DEPLOYMENT_SECURITY.md
Labels: documentation

feat(rbac): Phase 11.2 Cycle 1 - Implement @require_permission GraphQL directive
  crates/fraiseql-core/src/graphql/directive_rbac_tests.rs
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/graphql/require_permission_directive.rs
Labels: none

feat(rbac): Phase 11.2 Cycle 2 - Add directive evaluator integration tests
  crates/fraiseql-core/src/graphql/directive_integration_tests.rs
  crates/fraiseql-core/src/graphql/directive_rbac_tests.rs
Labels: none

feat(tenancy): Phase 11.4 Cycle 1 - Implement TenantContext data model
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/tenancy/mod.rs
  crates/fraiseql-core/src/tenancy/tests.rs
Labels: none

feat(tenancy): Phase 11.4 Cycle 2 - JWT extraction and query filtering
  crates/fraiseql-core/src/tenancy/jwt_extraction_tests.rs
  crates/fraiseql-core/src/tenancy/mod.rs
  crates/fraiseql-core/src/tenancy/tests.rs
Labels: none

feat(tenancy): Phase 11.4 Cycle 3 - Query filtering and integration
  crates/fraiseql-core/src/tenancy/mod.rs
  crates/fraiseql-core/src/tenancy/query_filter_tests.rs
Labels: none

feat(audit): Phase 11.3 Cycle 1 - Audit event structure and backend trait
  crates/fraiseql-core/src/audit/mod.rs
  crates/fraiseql-core/src/audit/tests.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-server/tests/audit_logging_tests.rs
Labels: none

feat(audit): Implement Phase 11.3 Cycle 2 - File Backend for Audit Logging
  Cargo.lock
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/audit/file_backend.rs
  crates/fraiseql-core/src/audit/file_backend_tests.rs
  crates/fraiseql-core/src/audit/mod.rs
  crates/fraiseql-core/src/audit/tests.rs
Labels: none

feat(audit): Implement Phase 11.3 Cycle 3 - PostgreSQL Audit Backend
  crates/fraiseql-core/src/audit/mod.rs
  crates/fraiseql-core/src/audit/postgres_backend.rs
  crates/fraiseql-core/src/audit/postgres_backend_tests.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
