Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

docs: Add Phase 8.6 completion summary
  .claude/PHASE_8_6_COMPLETION_SUMMARY.md
Labels: none

docs: archive completed implementation plan and create road to production
  .claude/FRAISEQL_V2_ROAD_TO_PRODUCTION.md
  .claude/PHASE_10_ROADMAP.md
  .claude/WORK_STATUS.md
  .claude/archive/FRAISEQL_V2_IMPLEMENTATION_PLAN_COMPLETED.md
Labels: none

docs: update roadmap with actual implementation status
  .claude/FRAISEQL_V2_ROAD_TO_PRODUCTION.md
  .claude/PHASE_10_ROADMAP.md
Labels: none

docs: create comprehensive 2-week implementation plan to production
  .claude/IMPLEMENTATION_PLAN_2_WEEK_TO_PRODUCTION.md
Labels: none

docs: create production roadmap index document
  .claude/README_PRODUCTION_ROADMAP.md
Labels: none

feat(phase-9): Pre-release testing complete - GO FOR PRODUCTION
  .claude/PHASE_9_RELEASE_RESULTS_FINAL.md
Labels: none

feat(phase-10.5): Add OAuth provider wrappers (GitHub, Google, Keycloak, Azure AD)
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/providers/azure_ad.rs
  crates/fraiseql-server/src/auth/providers/github.rs
  crates/fraiseql-server/src/auth/providers/google.rs
  crates/fraiseql-server/src/auth/providers/keycloak.rs
  crates/fraiseql-server/src/auth/providers/mod.rs
Labels: none

feat(phase-10.5): Add operation-level RBAC for mutations
  crates/fraiseql-server/src/auth/error.rs
  crates/fraiseql-server/src/auth/middleware.rs
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/operation_rbac.rs
Labels: none

feat(phase-10.6): Add org_id to RequestContext and tenant extraction
  crates/fraiseql-server/src/auth/providers/azure_ad.rs
  crates/fraiseql-server/src/auth/providers/github.rs
  crates/fraiseql-server/src/auth/providers/google.rs
  crates/fraiseql-server/src/auth/providers/keycloak.rs
  crates/fraiseql-server/src/logging.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/middleware/tenant.rs
Labels: none

feat(phase-10.6): Implement multi-tenancy enforcement layer (TenantEnforcer)
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/tenant_enforcer.rs
Labels: none

feat(phase-10.8): Implement KMS-backed secrets management
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/security/kms/base.rs
  crates/fraiseql-core/src/security/kms/error.rs
  crates/fraiseql-core/src/security/kms/mod.rs
  crates/fraiseql-core/src/security/kms/models.rs
  crates/fraiseql-core/src/security/kms/vault.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/secrets.rs
Labels: none

feat(phase-10.9): Implement backup and disaster recovery system
  crates/fraiseql-server/src/backup/backup_config.rs
  crates/fraiseql-server/src/backup/backup_manager.rs
  crates/fraiseql-server/src/backup/backup_provider.rs
  crates/fraiseql-server/src/backup/clickhouse_backup.rs
  crates/fraiseql-server/src/backup/elasticsearch_backup.rs
  crates/fraiseql-server/src/backup/mod.rs
  crates/fraiseql-server/src/backup/postgres_backup.rs
  crates/fraiseql-server/src/backup/recovery.rs
  crates/fraiseql-server/src/backup/redis_backup.rs
  crates/fraiseql-server/src/backup/storage.rs
  crates/fraiseql-server/src/lib.rs
Labels: none

feat(phase-10.10): Implement encryption at rest & in transit with TLS
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/server_config.rs
  crates/fraiseql-server/src/tls.rs
  docs/TLS_CONFIGURATION.md
Labels: documentation

fix(phase-10.10): correct rustls-pemfile API compatibility and remove unused imports
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/src/tls.rs
  crates/fraiseql-server/src/tls_listener.rs
Labels: none

docs: update implementation plans per Phase 10.10 completion and discovery of 10.5/10.6 progress
  .claude/IMPLEMENTATION_PLAN_2_WEEK_TO_PRODUCTION.md
  .claude/PHASE_10_ROADMAP.md
  .claude/README_PRODUCTION_ROADMAP.md
Labels: none

docs: CRITICAL CORRECTION - All Phase 10.5/10.6/10.8/10.9/10.10 are COMPLETE
  .claude/IMPLEMENTATION_PLAN_2_WEEK_TO_PRODUCTION.md
  .claude/PHASE_10_ROADMAP.md
  .claude/README_PRODUCTION_ROADMAP.md
Labels: none

feat(phase-9.9): Complete pre-release testing - GO FOR PRODUCTION
  .claude/PHASE_9_9_TESTING_RESULTS.md
Labels: none

feat(phase-9.9): Complete Phase 4 integration testing - ALL PASS
  .claude/PHASE_4_INTEGRATION_TEST_RESULTS.md
Labels: none

feat(phase-5-7): Complete stress, chaos, and performance benchmarking tests
  .claude/PHASE_5_7_PERFORMANCE_RESULTS.md
  tests/local_integration/benchmark_test.rs
  tests/local_integration/chaos_test.rs
  tests/local_integration/stress_test.rs
Labels: tests

feat(phase-8-9): Complete E2E validation and documentation audit
  .claude/PHASE_8_E2E_VALIDATION_RESULTS.md
  .claude/PHASE_9_DOCUMENTATION_AUDIT.md
  README.md
Labels: documentation

docs: Create GA release readiness report - ALL PHASES COMPLETE
  .claude/GA_RELEASE_READINESS_REPORT.md
Labels: none

docs: Add comprehensive professional security audit report
  .claude/SECURITY_AUDIT_PROFESSIONAL.md
Labels: none

docs: Create comprehensive 7-phase security remediation plan
  .phases/SECURITY_FIXES_README.md
  .phases/phase-11.1-tls-security.md
  .phases/phase-11.2-sql-injection-fix.md
  .phases/phase-11.3-password-security.md
  .phases/phase-11.4-oidc-security.md
  .phases/phase-11.5-csrf-security.md
  .phases/phase-11.6-data-protection.md
  .phases/phase-11.7-enhancements.md
Labels: none

docs: Create comprehensive TODO tracking document for security remediation
  .phases/TODO_20260126.md
Labels: none

docs: Create comprehensive TODO_20260126 tracking directory
  .phases/TODO_20260126/CONVERSATION_SUMMARY.md
  .phases/TODO_20260126/IMPLEMENTATION_ROADMAP.md
  .phases/TODO_20260126/INDEX.md
  .phases/TODO_20260126/VULNERABILITY_SUMMARY.md
Labels: none

fix(security-11.1): Enforce TLS certificate validation in production
  .phases/TODO_20260126.md
  crates/fraiseql-wire/src/connection/tls.rs
  crates/fraiseql-wire/tests/load_tests.rs
Labels: none

fix(security-11.2): Prevent SQL injection in JSON path construction
  crates/fraiseql-core/src/db/where_sql_generator.rs
  crates/fraiseql-core/src/runtime/tenant_enforcer.rs
  crates/fraiseql-core/src/security/kms/base.rs
  crates/fraiseql-core/src/security/kms/error.rs
  crates/fraiseql-core/src/security/kms/mod.rs
  crates/fraiseql-core/src/security/kms/models.rs
  crates/fraiseql-core/src/security/kms/vault.rs
  crates/fraiseql-core/src/security/mod.rs
Labels: none

fix(security-11.3): Implement secure password memory management
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql-wire/src/client/connection_string.rs
  crates/fraiseql-wire/src/connection/conn.rs
Labels: none

fix(security-11.4): Reduce OIDC cache TTL to prevent token poisoning
  crates/fraiseql-core/src/security/oidc.rs
Labels: none

fix(security-11.5): Implement CSRF token state store abstraction for distributed systems
  crates/fraiseql-server/src/auth/handlers.rs
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/operation_rbac.rs
  crates/fraiseql-server/src/auth/providers/azure_ad.rs
  crates/fraiseql-server/src/auth/providers/github.rs
  crates/fraiseql-server/src/auth/providers/google.rs
  crates/fraiseql-server/src/auth/providers/keycloak.rs
  crates/fraiseql-server/src/auth/providers/mod.rs
  crates/fraiseql-server/src/auth/state_store.rs
  crates/fraiseql-server/src/backup/backup_config.rs
  crates/fraiseql-server/src/backup/backup_manager.rs
  crates/fraiseql-server/src/backup/backup_provider.rs
  crates/fraiseql-server/src/backup/clickhouse_backup.rs
  crates/fraiseql-server/src/backup/elasticsearch_backup.rs
  crates/fraiseql-server/src/backup/mod.rs
  crates/fraiseql-server/src/backup/postgres_backup.rs
  crates/fraiseql-server/src/backup/recovery.rs
  crates/fraiseql-server/src/backup/redis_backup.rs
  crates/fraiseql-server/src/backup/storage.rs
  crates/fraiseql-server/src/middleware/tenant.rs
  crates/fraiseql-server/src/secrets.rs
  crates/fraiseql-server/src/server_config.rs
  crates/fraiseql-server/src/tls.rs
  crates/fraiseql-server/src/tls_listener.rs
Labels: none

fix(security-11.6): Expand sensitive field masking patterns
  crates/fraiseql-core/src/security/field_masking.rs
Labels: none

fix(security-11.7-1): Implement audit log integrity protection with hash chain
  crates/fraiseql-core/src/security/audit.rs
Labels: none

fix(security-11.7-2): Implement query complexity limits to prevent DoS
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/graphql/mod.rs
Labels: none

fix(security-11.7-3): Implement opaque ID generation to prevent ID enumeration attacks
  crates/fraiseql-core/src/utils/mod.rs
  crates/fraiseql-core/src/utils/opaque_id.rs
Labels: none

fix(security-11.7-2,3): Add rate limiting and SCRAM authentication documentation
  docs/RATE_LIMITING.md
  docs/authentication/SCRAM.md
Labels: documentation

fix: Clean up all clippy pedantic warnings in fraiseql-core
  crates/fraiseql-core/src/runtime/sql_logger.rs
  crates/fraiseql-core/src/security/kms/base.rs
  crates/fraiseql-core/src/security/kms/models.rs
  crates/fraiseql-core/src/security/kms/vault.rs
  crates/fraiseql-core/src/utils/opaque_id.rs
Labels: none

feat(typescript): Export enum, interface, union, and input decorators
  fraiseql-typescript/README.md
  fraiseql-typescript/examples/enums-example.ts
  fraiseql-typescript/examples/types-advanced.ts
  fraiseql-typescript/examples/unions-interfaces-example.ts
  fraiseql-typescript/src/decorators.ts
  fraiseql-typescript/src/index.ts
  fraiseql-typescript/src/registry.ts
  fraiseql-typescript/tests/decorators.test.ts
Labels: none

feat(typescript): Add field-level metadata support (requiresScope, deprecated, description)
  fraiseql-typescript/README.md
  fraiseql-typescript/examples/field-metadata.ts
  fraiseql-typescript/src/decorators.ts
  fraiseql-typescript/src/index.ts
  fraiseql-typescript/src/registry.ts
  fraiseql-typescript/tests/field-metadata.test.ts
Labels: none

feat(typescript): Expand subscription support with comprehensive tests and examples
  fraiseql-typescript/README.md
  fraiseql-typescript/examples/subscriptions.ts
  fraiseql-typescript/tests/subscriptions.test.ts
Labels: none

feat(typescript): Create comprehensive parity test suite - 100% feature parity with Python
  fraiseql-typescript/FEATURE_PARITY.md
  fraiseql-typescript/tests/parity-with-python.test.ts
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
