Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(auth): Add Ory and Logto OAuth providers
  crates/fraiseql-server/src/auth/providers/logto.rs
  crates/fraiseql-server/src/auth/providers/mod.rs
  crates/fraiseql-server/src/auth/providers/ory.rs
Labels: none

feat(validation): Add compile-time cross-field validation (Phase 3, Cycle 8)
  crates/fraiseql-core/src/validation/compile_time.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(validation): Add validation metrics infrastructure (Phase 4, Cycle 1)
  crates/fraiseql-cli/src/schema/rich_filters.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/error.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/observability/mod.rs
  crates/fraiseql-core/src/observability/validation_metrics.rs
  crates/fraiseql-core/src/runtime/input_validator.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/validation/async_validators.rs
  crates/fraiseql-core/src/validation/checksum.rs
  crates/fraiseql-core/src/validation/composite.rs
  crates/fraiseql-core/src/validation/cross_field.rs
  crates/fraiseql-core/src/validation/date_validators.rs
  crates/fraiseql-core/src/validation/elo_expressions.rs
  crates/fraiseql-core/src/validation/error_responses.rs
  crates/fraiseql-core/src/validation/inheritance.rs
  crates/fraiseql-core/src/validation/input_object.rs
  crates/fraiseql-core/src/validation/mutual_exclusivity.rs
  crates/fraiseql-core/src/validation/rich_scalars.rs
  crates/fraiseql-core/src/validation/rules.rs
  crates/fraiseql-core/src/validation/validators.rs
  crates/fraiseql-server/src/auth/providers/logto.rs
  crates/fraiseql-server/src/auth/providers/mod.rs
  crates/fraiseql-server/src/auth/providers/ory.rs
Labels: none

test(validation): Add RED phase tests for introspection validation rules (Phase 4, Cycle 2)
  crates/fraiseql-core/tests/integration/introspection_validation_rules.rs
Labels: none

feat(validation): Expose validation rules in GraphQL introspection (Phase 4, Cycle 2 - GREEN)
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/introspection_validation_rules.rs
Labels: none

feat(validation): Add validation rate limiting with per-dimension tracking (Phase 4, Cycle 3)
  crates/fraiseql-core/src/error.rs
  crates/fraiseql-core/src/observability/validation_metrics.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/validation/mod.rs
  crates/fraiseql-core/src/validation/rate_limiting.rs
  crates/fraiseql-core/tests/introspection_validation_rules.rs
  crates/fraiseql-core/tests/validation_rate_limiting.rs
Labels: none

feat(security): Add validation audit logging with tenant isolation (Phase 4, Cycle 4)
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/security/validation_audit.rs
  crates/fraiseql-core/tests/validation_audit_logging.rs
Labels: none

feat(validation): Add ELO Rust validator integration and registry (Phase 4, Cycle 5)
  crates/fraiseql-core/src/validation/elo_rust_integration.rs
  crates/fraiseql-core/src/validation/mod.rs
  crates/fraiseql-core/tests/elo_rust_integration.rs
Labels: none

fix: Update validation_audit config default test to match implementation
  crates/fraiseql-core/src/security/validation_audit.rs
Labels: none

chore(finalize): Remove development archaeology for v2.0.0-alpha.3 release
  crates/fraiseql-core/src/security/mod.rs.v1
  crates/fraiseql-server/src/config/mod.rs
Labels: none

chore(release): Update to v2.0.0-alpha.3 and remove Phase markers
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-core/tests/elo_rust_integration.rs
  crates/fraiseql-core/tests/validation_audit_logging.rs
  crates/fraiseql-core/tests/validation_rate_limiting.rs
  crates/fraiseql-observers/Cargo.toml
  fraiseql-python/pyproject.toml
Labels: none

security: Fix critical authentication vulnerabilities (CVE-2026-XXXXX)
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-core/src/security/validation_audit.rs
Labels: none

fix(auth): Add rate limiting enabled flag enforcement (Vuln #1 CRITICAL)
  crates/fraiseql-server/src/auth/jwt.rs
  crates/fraiseql-server/src/auth/rate_limiting.rs
  crates/fraiseql-server/src/auth/rate_limiting_tests.rs
Labels: none

feat(auth): Add proxy configuration for X-Forwarded-For validation (Vuln #2 CRITICAL)
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/proxy.rs
Labels: none

fix(auth): Add padded constant-time token comparison to prevent timing attacks (Vuln #3 CRITICAL)
  crates/fraiseql-server/src/auth/constant_time.rs
Labels: none

fix(auth): Add IP address format validation to proxy extraction (Vuln #6 HIGH)
  crates/fraiseql-server/src/auth/proxy.rs
Labels: none

fix(auth): Add bounded state store with capacity limits (Vuln #8 MEDIUM)
  crates/fraiseql-server/src/auth/state_store.rs
Labels: none

fix(security): Implement error message sanitization (Vulnerability #10)
  crates/fraiseql-server/src/auth/middleware.rs
  crates/fraiseql-server/src/auth/security_init.rs
Labels: none

fix(security): Improve race condition clarity in rate limiter (Vulnerability #11)
  crates/fraiseql-server/src/auth/rate_limiting.rs
Labels: none

fix(security): Add comprehensive PKCE error handling (Vulnerability #12)
  crates/fraiseql-server/src/auth/provider.rs
Labels: none

fix(security): Add rate limiting checks to auth handlers (Vulnerability #7)
  crates/fraiseql-server/src/auth/handlers.rs
Labels: none

fix(security): Enhance constant-time comparison utilities (Vulnerability #13)
  crates/fraiseql-server/src/auth/constant_time.rs
Labels: none

fix(security): Add GraphQL validation rate limiting (Vulnerability #14)
  crates/fraiseql-server/src/routes/graphql.rs
Labels: none

fix(security): Add comprehensive audit logger bounds documentation (Vulnerability #15)
  crates/fraiseql-server/src/auth/audit_logger.rs
Labels: none

fix(security): Comprehensive security vulnerability fixes and clippy cleanup
  Cargo.lock
  crates/fraiseql-core/src/db/where_sql_generator.rs
  crates/fraiseql-core/src/runtime/input_validator.rs
  crates/fraiseql-core/src/runtime/tenant_enforcer.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/validation/async_validators.rs
  crates/fraiseql-core/src/validation/compile_time.rs
  crates/fraiseql-core/src/validation/inheritance.rs
  crates/fraiseql-core/src/validation/input_object.rs
  crates/fraiseql-core/src/validation/rate_limiting.rs
  crates/fraiseql-core/tests/validation_rate_limiting.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/auth/audit_logger.rs
  crates/fraiseql-server/src/auth/handlers.rs
  crates/fraiseql-server/src/auth/provider.rs
  crates/fraiseql-server/src/extractors.rs
  crates/fraiseql-server/src/middleware/tenant.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/validation.rs
  crates/fraiseql-server/tests/graphql_e2e_test.rs
  crates/fraiseql-server/tests/wire_backend_feature_test.rs
Labels: none

fix(security): Aggressive security hardening for v1.10+ via python:3.13-slim
  .trivyignore
  docs/security/SECURITY_DECISIONS.md
  docs/security/base-image-selection-v1.10.md
Labels: documentation

fix(tests): Fix test isolation and flaky performance tests
  Cargo.lock
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/audit/postgres_backend_tests.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-core/tests/federation_saga_performance_test.rs
  crates/fraiseql-server/tests/privilege_escalation_test.rs
  crates/fraiseql-server/tests/server_e2e_test.rs
Labels: none

fix(tests): Fix test infrastructure and formatting cleanup
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/tests/flight_auth_test.rs
  crates/fraiseql-arrow/tests/integration_test.rs
  crates/fraiseql-arrow/tests/ta_integration_test.rs
  crates/fraiseql-cli/tests/integration_domain_discovery.rs
  crates/fraiseql-core/src/db/where_sql_generator.rs
  crates/fraiseql-core/src/runtime/tenant_enforcer.rs
  crates/fraiseql-core/src/security/validation_audit.rs
  crates/fraiseql-core/src/validation/compile_time.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-core/tests/federation_saga_performance_test.rs
  crates/fraiseql-core/tests/validation_rate_limiting.rs
  crates/fraiseql-server/src/auth/audit_logger.rs
  crates/fraiseql-server/src/auth/constant_time.rs
  crates/fraiseql-server/src/auth/handlers.rs
  crates/fraiseql-server/src/auth/jwt.rs
  crates/fraiseql-server/src/auth/middleware.rs
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/provider.rs
  crates/fraiseql-server/src/auth/proxy.rs
  crates/fraiseql-server/src/auth/rate_limiting.rs
  crates/fraiseql-server/src/auth/rate_limiting_tests.rs
  crates/fraiseql-server/src/auth/security_init.rs
  crates/fraiseql-server/src/auth/state_store.rs
  crates/fraiseql-server/src/middleware/tenant.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/validation.rs
  crates/fraiseql-server/tests/server_e2e_test.rs
Labels: none

fix(ci): Fix all CI failures for PR #273
  .github/workflows/ci.yml
  .github/workflows/verify-examples.yml
  .markdownlint.json
  .pre-commit-config.yaml
  crates/fraiseql-arrow/src/metadata.rs
  crates/fraiseql-core/src/arrow_executor.rs
  deploy/docker/Dockerfile
  pyproject.toml
Labels: config, ci, dependencies

feat(tests): Implement all 643+ stub tests and fix dead code warnings
  crates/fraiseql-server/src/auth/oauth_tests.rs
  crates/fraiseql-server/src/encryption/audit_logging_tests.rs
  crates/fraiseql-server/src/encryption/compliance_tests.rs
  crates/fraiseql-server/src/encryption/dashboard_tests.rs
  crates/fraiseql-server/src/encryption/database_adapter.rs
  crates/fraiseql-server/src/encryption/database_adapter_tests.rs
  crates/fraiseql-server/src/encryption/error_recovery_tests.rs
  crates/fraiseql-server/src/encryption/field_encryption_tests.rs
  crates/fraiseql-server/src/encryption/mapper_integration_tests.rs
  crates/fraiseql-server/src/encryption/performance_tests.rs
  crates/fraiseql-server/src/encryption/query_builder_integration_tests.rs
  crates/fraiseql-server/src/encryption/refresh_tests.rs
  crates/fraiseql-server/src/encryption/rotation_api_tests.rs
  crates/fraiseql-server/src/encryption/rotation_tests.rs
  crates/fraiseql-server/src/encryption/schema_detection_tests.rs
  crates/fraiseql-server/src/encryption/transaction_integration_tests.rs
  crates/fraiseql-server/src/secrets/schema_tests.rs
  crates/fraiseql-server/src/secrets_manager/backends/mod.rs
  crates/fraiseql-server/src/secrets_manager/backends/vault.rs
  crates/fraiseql-server/src/secrets_manager/backends/vault_advanced_tests.rs
  crates/fraiseql-server/src/secrets_manager/backends/vault_integration_tests.rs
Labels: none

fix(ci): CI infrastructure fixes, redis upgrade, and test stability
  .github/workflows/ci-extended.yml
  .github/workflows/ci.yml
  Cargo.lock
  crates/fraiseql-arrow/tests/flight_integration.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/cache/redis.rs
  crates/fraiseql-observers/src/cached_executor.rs
  crates/fraiseql-observers/src/dedup/redis.rs
  crates/fraiseql-observers/src/deduped_executor.rs
  crates/fraiseql-observers/src/job_queue/dlq.rs
  crates/fraiseql-observers/src/job_queue/redis.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/queue/redis.rs
  crates/fraiseql-observers/src/testing.rs
  crates/fraiseql-observers/tests/integration_test.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/tests/graphql_features_e2e_test.rs
  docker-compose.test-all.yml
  docs/TESTING_INFRASTRUCTURE.md
  docs/TEST_IMPLEMENTATION_ROADMAP.md
Labels: documentation, ci

feat(server): Implement real PostgreSQL backends and JWT auth for server subsystems
  crates/fraiseql-server/src/api/rbac_management/db_backend.rs
  crates/fraiseql-server/src/auth/handlers.rs
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/oauth.rs
  crates/fraiseql-server/src/auth/oauth_tests.rs
  crates/fraiseql-server/src/auth/postgres_audit_logger.rs
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/encryption/audit_logging_tests.rs
  crates/fraiseql-server/src/encryption/compliance_tests.rs
  crates/fraiseql-server/src/encryption/dashboard_tests.rs
  crates/fraiseql-server/src/encryption/database_adapter_tests.rs
  crates/fraiseql-server/src/encryption/error_recovery_tests.rs
  crates/fraiseql-server/src/encryption/field_encryption_tests.rs
  crates/fraiseql-server/src/encryption/mapper_integration_tests.rs
  crates/fraiseql-server/src/encryption/mod.rs
  crates/fraiseql-server/src/encryption/performance_tests.rs
  crates/fraiseql-server/src/encryption/rotation_api_tests.rs
  crates/fraiseql-server/src/encryption/rotation_tests.rs
  crates/fraiseql-server/src/encryption/rotation_worker.rs
  crates/fraiseql-server/src/encryption/transaction_integration_tests.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/observability/mod.rs
  crates/fraiseql-server/src/routes/api/federation.rs
  crates/fraiseql-server/src/routes/api/query.rs
  crates/fraiseql-server/src/routes/api/schema.rs
  crates/fraiseql-server/src/secrets/schema_tests.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/test_fixtures/rsa_test_private.pem
  crates/fraiseql-server/test_fixtures/rsa_test_public.der
  crates/fraiseql-server/test_fixtures/rsa_test_public.pem
Labels: none

fix: resolve build failures, broken imports, and version mismatches
  CODE_CLEANLINESS_REPORT.md
  Dockerfile
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-server/src/arrow/executor_wrapper.rs
  crates/fraiseql-server/src/routes/graphql.rs
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/auth/auth0.py
  src/fraiseql/cli/commands/__init__.py
  src/fraiseql/cqrs/__init__.py
  src/fraiseql/debug/debug.py
  src/fraiseql/execution/__init__.py
  src/fraiseql/storage/backends/factory.py
  src/fraiseql/subscriptions/__init__.py
Labels: documentation, cli, config, dependencies

fix(rust): resolve all clippy warnings across workspace
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-observers/src/cache/redis.rs
  crates/fraiseql-observers/src/queue/redis.rs
  crates/fraiseql-server/src/api/rbac_management/db_backend.rs
  crates/fraiseql-server/src/auth/handlers.rs
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/oauth.rs
  crates/fraiseql-server/src/auth/oauth_tests.rs
  crates/fraiseql-server/src/auth/postgres_audit_logger.rs
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/encryption/audit_logging_tests.rs
  crates/fraiseql-server/src/encryption/compliance_tests.rs
  crates/fraiseql-server/src/encryption/dashboard_tests.rs
  crates/fraiseql-server/src/encryption/database_adapter.rs
  crates/fraiseql-server/src/encryption/database_adapter_tests.rs
  crates/fraiseql-server/src/encryption/error_recovery_tests.rs
  crates/fraiseql-server/src/encryption/field_encryption_tests.rs
  crates/fraiseql-server/src/encryption/mapper_integration_tests.rs
  crates/fraiseql-server/src/encryption/performance_tests.rs
  crates/fraiseql-server/src/encryption/query_builder_integration_tests.rs
  crates/fraiseql-server/src/encryption/refresh_tests.rs
  crates/fraiseql-server/src/encryption/rotation_api_tests.rs
  crates/fraiseql-server/src/encryption/rotation_tests.rs
  crates/fraiseql-server/src/encryption/rotation_worker.rs
  crates/fraiseql-server/src/encryption/schema_detection_tests.rs
  crates/fraiseql-server/src/encryption/transaction_integration_tests.rs
  crates/fraiseql-server/src/observability/mod.rs
  crates/fraiseql-server/src/routes/api/federation.rs
  crates/fraiseql-server/src/routes/api/schema.rs
  crates/fraiseql-server/src/secrets/schema_tests.rs
  crates/fraiseql-server/src/secrets_manager/backends/vault.rs
  crates/fraiseql-server/src/secrets_manager/backends/vault_advanced_tests.rs
  crates/fraiseql-server/src/secrets_manager/backends/vault_integration_tests.rs
  crates/fraiseql-server/src/server.rs
Labels: none

chore(phase-1): quick wins - cleanup and implement simulate_event
  crates/fraiseql-arrow/src/subscription.rs
  crates/fraiseql-core/src/filters/mod.rs
  crates/fraiseql-observers/src/factory.rs
Labels: none

docs(phase-0): add template integration phase plan
  .phases/phase-00-template-integration.md
Labels: none

feat(phase-0): add database-aware SQL generation to WhereSqlGenerator
  crates/fraiseql-core/src/db/where_sql_generator.rs
Labels: none

feat(phase-0): implement template lookup bridge
  crates/fraiseql-core/src/db/where_sql_generator.rs
Labels: none

feat(phase-0): add template operator routing infrastructure
  crates/fraiseql-core/src/db/where_sql_generator.rs
Labels: none

feat(phase-0): complete integration tests for template system
  crates/fraiseql-core/src/db/where_sql_generator.rs
Labels: none
