Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(deps): update TypeScript SDK dependencies for security patches
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/tsconfig.json
Labels: none

fix(deps): update Python SDK dependencies for security patches
  sdks/official/fraiseql-python/uv.lock
Labels: none

fix(security): drop distroless scan from weekly base-image alert workflow
  .github/workflows/security-alerts.yml
Labels: ci

fix(security): drop distroless scan from weekly base-image alert workflow (#292)
  .github/workflows/security-alerts.yml
  deny.toml
  docs/guides/v1-to-v2-migration.md
  sdks/official/fraiseql-python/uv.lock
Labels: documentation, ci

fix(deps): bump rmcp 0.16 → 1.4 (CVE-2026-42559) and adopt 1.x constructors
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/mcp/tools.rs
Labels: none

fix(deps): bump rmcp 0.16 → 1.4 (CVE-2026-42559) and adopt 1.x constructors (#293)
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/mcp/tools.rs
Labels: none

fix(deps): bump fuzz jsonwebtoken 9 → 10 to clear CVE-2026-25537
  crates/fraiseql-auth/fuzz/Cargo.lock
  crates/fraiseql-auth/fuzz/Cargo.toml
Labels: none

fix(deps): bump fuzz jsonwebtoken 9 → 10 to clear CVE-2026-25537 (#294)
  crates/fraiseql-auth/fuzz/Cargo.lock
  crates/fraiseql-auth/fuzz/Cargo.toml
Labels: none

fix(arrow): feature-gate parquet export to remove thrift CVE-2026-43868
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/src/export.rs
  crates/fraiseql-arrow/src/export/tests.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
Labels: none

fix(arrow): feature-gate parquet export to remove thrift CVE-2026-43868 (#295)
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/src/export.rs
  crates/fraiseql-arrow/src/export/tests.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
Labels: none

chore(deny): allow aws-sdk-s3/sqlx-mysql transitive lru + sha1
  deny.toml
Labels: none

chore(deny): allow aws-sdk-s3/sqlx-mysql transitive lru + sha1 (#297)
  deny.toml
Labels: none

Revert "chore(deps): bump sha1 from 0.10.6 to 0.11.0 (#284)"
  Cargo.lock
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-webhooks/Cargo.toml
  deny.toml
Labels: none

Revert "chore(deps): bump sha1 from 0.10.6 to 0.11.0 (#284)" (#298)
  Cargo.lock
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-webhooks/Cargo.toml
  deny.toml
Labels: none

docs(security): track rand-0.8 + 2026-05-20 accepted risks
  security-vulnerabilities.md
Labels: documentation

docs(security): track rand-0.8 + 2026-05-20 accepted risks (#299)
  security-vulnerabilities.md
Labels: documentation

fix(functions,auth,server): clippy fixes after dev merge
  crates/fraiseql-auth/src/otp/tests.rs
  crates/fraiseql-auth/src/social/tests.rs
  crates/fraiseql-functions/src/host/factory/mod.rs
  crates/fraiseql-functions/src/host/live/mod.rs
  crates/fraiseql-functions/src/host/live/storage.rs
  crates/fraiseql-functions/src/runtime/wasm/store/mod.rs
  crates/fraiseql-functions/src/runtime/wasm/store/tests.rs
  crates/fraiseql-functions/src/runtime/wasm/tests.rs
  crates/fraiseql-functions/src/triggers/mutation/mod.rs
  crates/fraiseql-functions/src/triggers/mutation/tests.rs
  crates/fraiseql-server/src/server/routing/observers.rs
Labels: none

fix(server): add #[must_use] to satisfy clippy must_use_candidate
  crates/fraiseql-server/src/arrow/database_adapter.rs
  crates/fraiseql-server/src/arrow/executor_wrapper.rs
  crates/fraiseql-server/src/arrow/mod.rs
  crates/fraiseql-server/src/federation/circuit_breaker.rs
  crates/fraiseql-server/src/federation/health_checker.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/grpc/handler.rs
Labels: none

fix(docs): resolve rustdoc warnings under -D warnings
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-server/src/routes/rest/params/select.rs
  crates/fraiseql-server/src/server/routing/observers.rs
Labels: none

fix(secrets): drain tokio task before cancel in lease renewal test
  crates/fraiseql-secrets/src/secrets_manager/tests.rs
Labels: none

fix(auth): drain tokio task before cancel in token refresh test
  crates/fraiseql-auth/src/oauth/tests.rs
Labels: none

fix(server): doctest must use MutationAuditEvent::new() not struct expr
  crates/fraiseql-server/src/usage/aggregator.rs
Labels: none

ci: bump Test Suite timeout 60->90 min for cold-cache builds
  .github/workflows/ci.yml
Labels: ci

ci: add scheduled GHA cache cleanup workflow
  .github/workflows/cache-cleanup.yml
Labels: ci

ci(lint-async-trait): bump baseline 175 → 179 for WASM host bridge
  Makefile
Labels: none

fix(python-sdk): resolve string annotations in extract_field_info (#233)
  sdks/official/fraiseql-python/src/fraiseql/types.py
Labels: none

chore(deps): bump sqlparser 0.46 → 0.62 + adapt host-live classifier
  Cargo.lock
  crates/fraiseql-functions/Cargo.toml
  crates/fraiseql-functions/src/host/live/sql_classifier.rs
Labels: none

chore(deps): patch wasmtime-wasi 44.0.1 → 44.0.2 (RUSTSEC-2026-0149)
  Cargo.lock
Labels: none

fix(python-sdk): resolve string annotations in extract_field_info (#233)
  sdks/official/fraiseql-python/src/fraiseql/types.py
Labels: none

ci(feature-flags): cover fraiseql-functions features + fix surfaced clippy
  .github/workflows/feature-flags.yml
  crates/fraiseql-functions/src/host/factory.rs
  crates/fraiseql-functions/src/host/live/mod.rs
  crates/fraiseql-functions/src/host/live/storage.rs
  crates/fraiseql-functions/src/runtime/deno/ops/tests.rs
  crates/fraiseql-functions/src/runtime/wasm/limiter.rs
  crates/fraiseql-functions/src/runtime/wasm/store.rs
  crates/fraiseql-functions/src/runtime/wasm/tests.rs
  crates/fraiseql-functions/src/triggers/mutation.rs
  crates/fraiseql-functions/src/triggers/mutation/tests.rs
Labels: ci

fix(functions): drop unused imports surfaced by functions-matrix CI
  crates/fraiseql-functions/src/runtime/deno/ops/tests.rs
  crates/fraiseql-functions/src/runtime/wasm/tests.rs
  crates/fraiseql-functions/src/triggers/mutation/tests.rs
Labels: none

security: ignore RUSTSEC-2026-0002 (lru IterMut, transitive via aws-sdk-s3)
  deny.toml
Labels: none

style(functions): nightly rustfmt — collapse Statement::Set match arm
  crates/fraiseql-functions/src/host/live/sql_classifier.rs
Labels: none

chore(deny): update wasmtime skip-tree pin 44.0.1 → 44.0.2
  deny.toml
Labels: none

fix(functions): restore FunctionRuntime import in host-live wasm tests
  crates/fraiseql-functions/src/runtime/wasm/tests.rs
Labels: none

fix(functions): restore FunctionRuntime import in host-live wasm tests
  crates/fraiseql-functions/src/runtime/wasm/tests.rs
Labels: none

chore(phases): remove stale tracked plan files; switch to gitignored .phases/
  .phases/README.md
  .phases/phase-01-schema-integrity.md
  .phases/phase-02-cache-rls.md
  .phases/phase-03-tenant-isolation.md
  .phases/phase-04-mtls-integration.md
  .phases/phase-05-finalize.md
  .phases/tests-extract-11-core-compiler.md
  .phases/tests-extract-12-core-schema.md
  .phases/tests-extract-13-core-cache.md
  .phases/tests-extract-14-core-runtime.md
  .phases/tests-extract-15-core-security.md
  .phases/tests-extract-16-core-validation.md
  .phases/tests-extract-17-core-graphql-apq-utils.md
  .phases/tests-extract-18-core-design-config.md
  .phases/tests-extract-19-server-middleware.md
  .phases/tests-extract-20-server-routes.md
  .phases/tests-extract-21-server-subscriptions-misc.md
  .phases/tests-extract-22-server-tenancy-config.md
  .phases/tests-extract-23-observers-tracing-logging.md
  .phases/tests-extract-24-observers-transport-queue.md
  .phases/tests-extract-25-observers-listener-checkpoint.md
  .phases/tests-extract-26-observers-misc.md
  .phases/tests-extract-27-auth-providers-oauth.md
  .phases/tests-extract-28-auth-audit-mfa.md
  .phases/tests-extract-29-auth-misc.md
  .phases/tests-extract-30-cli-commands.md
  .phases/tests-extract-31-cli-schema.md
  .phases/tests-extract-32-cli-codegen-config.md
  .phases/tests-extract-33-federation.md
  .phases/tests-extract-34-db.md
  .phases/tests-extract-35-wire.md
  .phases/tests-extract-36-secrets.md
  .phases/tests-extract-37-functions.md
  .phases/tests-extract-38-webhooks.md
  .phases/tests-extract-39-arrow.md
  .phases/tests-extract-40-test-utils-storage-error.md
  .phases/tests-extract-41-ci-enforcement-full.md
  .phases/tests-extract-full-README.md
Labels: none

chore(clippy): clear rust 1.92 latent warnings under --all-features
  crates/fraiseql-server/src/observers/changelog_handlers/tests.rs
  crates/fraiseql-server/src/observers/repository.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/routes/functions/tests.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/rest/bulk/mod.rs
  crates/fraiseql-server/src/routes/rest/params/bracket.rs
  crates/fraiseql-server/src/routes/rest/params/helpers.rs
  crates/fraiseql-server/src/routes/rest/params/logical.rs
  crates/fraiseql-server/src/routes/rest/response/mod.rs
  crates/fraiseql-server/src/usage/aggregator.rs
Labels: none

ci(clippy): broaden lint gate to --workspace --all-features --all-targets
  .github/workflows/ci.yml
Labels: ci

chore(clippy): deny dbg_macro, todo, unimplemented, mem_forget, lossy_float_literal
  Cargo.toml
  crates/fraiseql-server/tests/multitenancy_test.rs
  crates/fraiseql-server/tests/platform_e2e_test.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
