Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(auth): #949 — SAML replay protection holds across replicas
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/saml/handler.rs
  crates/fraiseql-auth/src/saml/mod.rs
  crates/fraiseql-auth/src/saml/replay.rs
  crates/fraiseql-auth/src/saml/tests.rs
  crates/fraiseql-auth/src/saml/verify.rs
  crates/fraiseql-auth/tests/postgres_saml_replay.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
Labels: documentation

fix(auth): #950 — mount MFA confirm, and sweep the expired MFA/OTP rows
  CHANGELOG.md
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/otp/mod.rs
  crates/fraiseql-auth/src/otp/postgres.rs
  crates/fraiseql-auth/src/totp_mfa/mod.rs
  crates/fraiseql-auth/src/totp_mfa/postgres.rs
  crates/fraiseql-auth/tests/postgres_expiry_sweep.rs
  crates/fraiseql-server/src/auth_local.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/routing/auth.rs
  crates/fraiseql-server/tests/local_auth_e2e_pg.rs
Labels: documentation

fix(auth): #949 — SAML replay protection holds across replicas
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/saml/handler.rs
  crates/fraiseql-auth/src/saml/mod.rs
  crates/fraiseql-auth/src/saml/replay.rs
  crates/fraiseql-auth/src/saml/tests.rs
  crates/fraiseql-auth/src/saml/verify.rs
  crates/fraiseql-auth/tests/postgres_saml_replay.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
Labels: documentation

fix(ci): #1029 — the orphan-suites gate could not see `mod`-aggregator binaries
  .dagger/main.go
  CHANGELOG.md
  tools/check-suite-coverage.py
Labels: documentation

refactor(arrow): #1028 — extract the upload-guard tests per the layout convention
  crates/fraiseql-arrow/src/flight_server/handlers/upload_guard.rs
  crates/fraiseql-arrow/src/flight_server/handlers/upload_guard/tests.rs
Labels: none

fix(arrow): #1028 — gate DoPut behind the #953 allow-list, via one shared guard
  CHANGELOG.md
  crates/fraiseql-arrow/src/flight_server/handlers.rs
  crates/fraiseql-arrow/src/flight_server/handlers/do_exchange.rs
  crates/fraiseql-arrow/src/flight_server/handlers/do_put.rs
  crates/fraiseql-arrow/src/flight_server/handlers/upload_guard.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
  tools/check-guard-parity.sh
Labels: documentation

fix(examples): #1070 — the saas example's write rules were nullified by permissive OR
  CHANGELOG.md
  crates/fraiseql-server/tests/example_multitenant_rls_e2e_pg.rs
  examples/saas/README.md
  examples/saas/sql/01_schema.sql
Labels: documentation

fix(federation): #1030 — `_entities` was a second door around field RBAC
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/tests/federation.rs
  crates/fraiseql-core/tests/federation/entity_field_rbac.rs
Labels: documentation

fix(webhooks): #1069 — a Twilio JSON body was not covered by its signature
  CHANGELOG.md
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/tests/webhook_provider_matrix_pg.rs
  crates/fraiseql-webhooks/src/signature/tests.rs
  crates/fraiseql-webhooks/src/signature/twilio.rs
  crates/fraiseql-webhooks/src/signature/twilio/tests.rs
  crates/fraiseql-webhooks/tests/twilio_replay_test.rs
Labels: documentation

fix(federation): #1030 — `_entities` was a second door around field RBAC
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/tests/federation.rs
  crates/fraiseql-core/tests/federation/entity_field_rbac.rs
Labels: documentation

fix(arrow): #1028 — gate DoPut behind the #953 allow-list, via one shared guard
  CHANGELOG.md
  crates/fraiseql-arrow/src/flight_server/handlers.rs
  crates/fraiseql-arrow/src/flight_server/handlers/do_exchange.rs
  crates/fraiseql-arrow/src/flight_server/handlers/do_put.rs
  crates/fraiseql-arrow/src/flight_server/handlers/upload_guard.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
  tools/check-guard-parity.sh
Labels: documentation

fix(ci): #1029 — the orphan-suites gate could not see `mod`-aggregator binaries
  .dagger/main.go
  CHANGELOG.md
  tools/check-suite-coverage.py
Labels: documentation

fix(examples): #1070 — the saas example's write rules were nullified by permissive OR
  CHANGELOG.md
  crates/fraiseql-server/tests/example_multitenant_rls_e2e_pg.rs
  examples/saas/README.md
  examples/saas/sql/01_schema.sql
Labels: documentation

refactor(arrow): #1028 — extract the upload-guard tests per the layout convention
  crates/fraiseql-arrow/src/flight_server/handlers/upload_guard.rs
  crates/fraiseql-arrow/src/flight_server/handlers/upload_guard/tests.rs
Labels: none

fix(webhooks): #1069 — a Twilio JSON body was not covered by its signature
  CHANGELOG.md
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/tests/webhook_provider_matrix_pg.rs
  crates/fraiseql-webhooks/src/signature/tests.rs
  crates/fraiseql-webhooks/src/signature/twilio.rs
  crates/fraiseql-webhooks/src/signature/twilio/tests.rs
  crates/fraiseql-webhooks/tests/twilio_replay_test.rs
Labels: documentation

feat(auth): #943 — Sign in with Apple, with the browser-posted email kept out of linking
  CHANGELOG.md
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/multi_provider.rs
  crates/fraiseql-auth/src/multi_provider/tests.rs
  crates/fraiseql-auth/src/oidc_provider.rs
  crates/fraiseql-auth/src/provider.rs
  crates/fraiseql-auth/src/providers/apple.rs
  crates/fraiseql-auth/src/providers/github.rs
  crates/fraiseql-auth/src/providers/mod.rs
  crates/fraiseql-auth/src/providers/tests.rs
  crates/fraiseql-auth/src/tests.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/compile_auth_client_passthrough.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/parity_tests.rs
  crates/fraiseql-server/src/server/routing/auth.rs
  crates/fraiseql-server/tests/social_oauth_e2e_pg.rs
Labels: documentation

feat(auth): #944 — Discord and Facebook, each trusted only as far as it can prove
  CHANGELOG.md
  crates/fraiseql-auth/src/account_linking/mod.rs
  crates/fraiseql-auth/src/account_linking/tests.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/providers/discord.rs
  crates/fraiseql-auth/src/providers/facebook.rs
  crates/fraiseql-auth/src/providers/mod.rs
  crates/fraiseql-auth/src/providers/tests.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/compile_auth_client_passthrough.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/parity_tests.rs
  crates/fraiseql-server/tests/social_oauth_e2e_pg.rs
Labels: documentation

feat(auth): #944 — Discord and Facebook, each trusted only as far as it can prove
  CHANGELOG.md
  crates/fraiseql-auth/src/account_linking/mod.rs
  crates/fraiseql-auth/src/account_linking/tests.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/providers/discord.rs
  crates/fraiseql-auth/src/providers/facebook.rs
  crates/fraiseql-auth/src/providers/mod.rs
  crates/fraiseql-auth/src/providers/tests.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/compile_auth_client_passthrough.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/parity_tests.rs
  crates/fraiseql-server/tests/social_oauth_e2e_pg.rs
Labels: documentation

feat(auth): #943 — Sign in with Apple, with the browser-posted email kept out of linking
  CHANGELOG.md
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/multi_provider.rs
  crates/fraiseql-auth/src/multi_provider/tests.rs
  crates/fraiseql-auth/src/oidc_provider.rs
  crates/fraiseql-auth/src/provider.rs
  crates/fraiseql-auth/src/providers/apple.rs
  crates/fraiseql-auth/src/providers/github.rs
  crates/fraiseql-auth/src/providers/mod.rs
  crates/fraiseql-auth/src/providers/tests.rs
  crates/fraiseql-auth/src/tests.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/compile_auth_client_passthrough.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/parity_tests.rs
  crates/fraiseql-server/src/server/routing/auth.rs
  crates/fraiseql-server/tests/social_oauth_e2e_pg.rs
Labels: documentation

feat(auth): #945 — email verification that promotes, and refuses to merge
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-auth/src/error.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/local_password.rs
  crates/fraiseql-auth/src/local_password/opaque_token.rs
  crates/fraiseql-auth/src/local_password/opaque_token/tests.rs
  crates/fraiseql-auth/src/local_password/reset.rs
  crates/fraiseql-auth/src/local_password/routes/mod.rs
  crates/fraiseql-auth/src/local_password/verification.rs
  crates/fraiseql-auth/src/local_password/verification/tests.rs
  crates/fraiseql-auth/src/middleware.rs
  crates/fraiseql-auth/src/session_bearer.rs
  crates/fraiseql-auth/src/session_bearer_tests.rs
  crates/fraiseql-auth/tests/email_verification.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-server/src/auth_local.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/auth.rs
  crates/fraiseql-server/tests/local_auth_e2e_pg.rs
  docs/auth/local-password.md
Labels: documentation

feat(auth): #945 — email verification that promotes, and refuses to merge
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-auth/src/error.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/local_password.rs
  crates/fraiseql-auth/src/local_password/opaque_token.rs
  crates/fraiseql-auth/src/local_password/opaque_token/tests.rs
  crates/fraiseql-auth/src/local_password/reset.rs
  crates/fraiseql-auth/src/local_password/routes/mod.rs
  crates/fraiseql-auth/src/local_password/verification.rs
  crates/fraiseql-auth/src/local_password/verification/tests.rs
  crates/fraiseql-auth/src/middleware.rs
  crates/fraiseql-auth/src/session_bearer.rs
  crates/fraiseql-auth/src/session_bearer_tests.rs
  crates/fraiseql-auth/tests/email_verification.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-server/src/auth_local.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/auth.rs
  crates/fraiseql-server/tests/local_auth_e2e_pg.rs
  docs/auth/local-password.md
Labels: documentation

feat(auth): #947 — a per-tenant IdP store, and a name that is never reissued
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  Makefile
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/saml/config.rs
  crates/fraiseql-auth/src/saml/handler.rs
  crates/fraiseql-auth/src/saml/linking.rs
  crates/fraiseql-auth/src/saml/mod.rs
  crates/fraiseql-auth/src/saml/registry.rs
  crates/fraiseql-auth/src/saml/store.rs
  crates/fraiseql-auth/src/saml/tests.rs
  crates/fraiseql-auth/tests/postgres_saml_idp_store.rs
  crates/fraiseql-server/src/api/mod.rs
  crates/fraiseql-server/src/api/saml_idp_management.rs
  crates/fraiseql-server/src/api/saml_idp_management/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server_config/saml.rs
  crates/fraiseql-server/tests/saml_mount_e2e_pg.rs
  docs/auth/saml-sso.md
Labels: documentation

feat(auth): #948 — SP signing and encrypted assertions, with decryption kept behind the signature
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-auth/src/saml/config.rs
  crates/fraiseql-auth/src/saml/handler.rs
  crates/fraiseql-auth/src/saml/mod.rs
  crates/fraiseql-auth/src/saml/registry.rs
  crates/fraiseql-auth/src/saml/tests.rs
  crates/fraiseql-auth/src/saml/verify.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server_config/saml.rs
  crates/fraiseql-server/tests/saml_mount_e2e_pg.rs
  docs/auth/saml-sso.md
  tools/docs-env-vars.allow
Labels: documentation

feat(auth): #946 — SCIM provisioning, and an offboarding that is not cosmetic
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-auth/src/account_linking/postgres.rs
  crates/fraiseql-auth/src/error.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/middleware.rs
  crates/fraiseql-auth/src/scim/mod.rs
  crates/fraiseql-auth/src/scim/store.rs
  crates/fraiseql-auth/src/scim/token.rs
  crates/fraiseql-auth/src/session_postgres.rs
  crates/fraiseql-auth/tests/postgres_scim_provisioning.rs
  crates/fraiseql-server/src/api/mod.rs
  crates/fraiseql-server/src/api/scim/filter.rs
  crates/fraiseql-server/src/api/scim/mod.rs
  crates/fraiseql-server/src/api/scim/resources.rs
  crates/fraiseql-server/src/api/scim/tests.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/scim.rs
  crates/fraiseql-server/tests/scim_conformance_e2e_pg.rs
  crates/fraiseql-server/tests/scim_provisioning_e2e_pg.rs
  docs/auth/scim.md
  tools/scim-conformance.py
Labels: documentation

feat(auth): #948 — SP signing and encrypted assertions, with decryption kept behind the signature
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-auth/src/saml/config.rs
  crates/fraiseql-auth/src/saml/handler.rs
  crates/fraiseql-auth/src/saml/mod.rs
  crates/fraiseql-auth/src/saml/registry.rs
  crates/fraiseql-auth/src/saml/tests.rs
  crates/fraiseql-auth/src/saml/verify.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server_config/saml.rs
  crates/fraiseql-server/tests/saml_mount_e2e_pg.rs
  docs/auth/saml-sso.md
  tools/docs-env-vars.allow
Labels: documentation

feat(auth): #946 — SCIM provisioning, and an offboarding that is not cosmetic
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-auth/src/account_linking/postgres.rs
  crates/fraiseql-auth/src/error.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/middleware.rs
  crates/fraiseql-auth/src/scim/mod.rs
  crates/fraiseql-auth/src/scim/store.rs
  crates/fraiseql-auth/src/scim/token.rs
  crates/fraiseql-auth/src/session_postgres.rs
  crates/fraiseql-auth/tests/postgres_scim_provisioning.rs
  crates/fraiseql-server/src/api/mod.rs
  crates/fraiseql-server/src/api/scim/filter.rs
  crates/fraiseql-server/src/api/scim/mod.rs
  crates/fraiseql-server/src/api/scim/resources.rs
  crates/fraiseql-server/src/api/scim/tests.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/scim.rs
  crates/fraiseql-server/tests/scim_conformance_e2e_pg.rs
  crates/fraiseql-server/tests/scim_provisioning_e2e_pg.rs
  docs/auth/scim.md
  tools/scim-conformance.py
Labels: documentation

feat(auth): #947 — a per-tenant IdP store, and a name that is never reissued
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  Makefile
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/saml/config.rs
  crates/fraiseql-auth/src/saml/handler.rs
  crates/fraiseql-auth/src/saml/linking.rs
  crates/fraiseql-auth/src/saml/mod.rs
  crates/fraiseql-auth/src/saml/registry.rs
  crates/fraiseql-auth/src/saml/store.rs
  crates/fraiseql-auth/src/saml/tests.rs
  crates/fraiseql-auth/tests/postgres_saml_idp_store.rs
  crates/fraiseql-server/src/api/mod.rs
  crates/fraiseql-server/src/api/saml_idp_management.rs
  crates/fraiseql-server/src/api/saml_idp_management/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server_config/saml.rs
  crates/fraiseql-server/tests/saml_mount_e2e_pg.rs
  docs/auth/saml-sso.md
Labels: documentation

fix(deps): #1095 — lru 0.18.2, and an advisory that needed no exception
  Cargo.lock
  Cargo.toml
Labels: none

fix(deps): #1095 — lru 0.18.2, and an advisory that needed no exception
  Cargo.lock
  Cargo.toml
Labels: none

feat(storage): #973 — transform operations, and a bound that is not just a radius
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-server/src/server/routing_tests.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/storage.rs
  crates/fraiseql-server/src/server_config/tests.rs
  crates/fraiseql-server/tests/storage_minio_integration_test.rs
  crates/fraiseql-server/tests/storage_wiring_test.rs
  crates/fraiseql-storage/Cargo.toml
  crates/fraiseql-storage/src/config/mime_policy_tests.rs
  crates/fraiseql-storage/src/config/mod.rs
  crates/fraiseql-storage/src/graphql/mod.rs
  crates/fraiseql-storage/src/graphql/tests.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/render.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/src/service/tests.rs
  crates/fraiseql-storage/src/transforms/cache.rs
  crates/fraiseql-storage/src/transforms/mod.rs
  crates/fraiseql-storage/src/transforms/ops.rs
  crates/fraiseql-storage/src/transforms/retarget.rs
  crates/fraiseql-storage/src/transforms/tests.rs
  crates/fraiseql-storage/src/transforms/text.rs
  crates/fraiseql-storage/src/transforms/transformer.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  crates/fraiseql-storage/tests/tus_interop.rs
  docs/architecture/storage.md
Labels: documentation

feat(storage): #972 — resumable uploads on GCS and Azure, and a Tus client that is not ours
  .dagger/main.go
  .gitignore
  CHANGELOG.md
  crates/fraiseql-storage/src/backend/azure.rs
  crates/fraiseql-storage/src/backend/gcs.rs
  crates/fraiseql-storage/src/backend/mod.rs
  crates/fraiseql-storage/src/routes/uploads.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  crates/fraiseql-storage/tests/tus_interop.rs
  tools/tus-interop/install.sh
  tools/tus-interop/package-lock.json
  tools/tus-interop/package.json
  tools/tus-interop/tus-upload.mjs
Labels: documentation

feat(storage): #974 (1/2) — closed policy conditions, and a claim that cannot quietly stop narrowing
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/storage.rs
  crates/fraiseql-server/tests/storage_minio_integration_test.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-storage/src/metadata/mod.rs
  crates/fraiseql-storage/src/migrations/mod.rs
  crates/fraiseql-storage/src/policy/mod.rs
  crates/fraiseql-storage/src/policy/tests.rs
  crates/fraiseql-storage/src/rls/mod.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/render.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/src/routes/uploads.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  crates/fraiseql-storage/tests/tus_interop.rs
Labels: none

feat(storage): #974 (2/2) — policies pushed at runtime, and a refusal that changes nothing
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/routes/api/mod.rs
  crates/fraiseql-server/src/routes/api/openapi.rs
  crates/fraiseql-server/src/routes/api/storage_policies.rs
  crates/fraiseql-server/src/routes/api/tests.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/mod.rs
  crates/fraiseql-server/src/server/routing/mount_authz_tests.rs
  crates/fraiseql-server/src/server/routing/storage_policy_admin_tests.rs
  crates/fraiseql-server/src/server/routing_tests.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/storage.rs
  crates/fraiseql-server/tests/storage_minio_integration_test.rs
  crates/fraiseql-server/tests/storage_wiring_test.rs
  crates/fraiseql-storage/Cargo.toml
  crates/fraiseql-storage/src/config/mod.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-storage/src/migrations/mod.rs
  crates/fraiseql-storage/src/policy/mod.rs
  crates/fraiseql-storage/src/policy/spec.rs
  crates/fraiseql-storage/src/policy/store.rs
  crates/fraiseql-storage/src/policy/tests.rs
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/render.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/src/routes/uploads.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  crates/fraiseql-storage/tests/tus_interop.rs
  docs/architecture/storage.md
Labels: documentation

feat(storage): #974 (1/2) — closed policy conditions, and a claim that cannot quietly stop narrowing
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/storage.rs
  crates/fraiseql-server/tests/storage_minio_integration_test.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-storage/src/metadata/mod.rs
  crates/fraiseql-storage/src/migrations/mod.rs
  crates/fraiseql-storage/src/policy/mod.rs
  crates/fraiseql-storage/src/policy/tests.rs
  crates/fraiseql-storage/src/rls/mod.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/render.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/src/routes/uploads.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  crates/fraiseql-storage/tests/tus_interop.rs
Labels: none

feat(storage): #974 (2/2) — policies pushed at runtime, and a refusal that changes nothing
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/routes/api/mod.rs
  crates/fraiseql-server/src/routes/api/openapi.rs
  crates/fraiseql-server/src/routes/api/storage_policies.rs
  crates/fraiseql-server/src/routes/api/tests.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/mod.rs
  crates/fraiseql-server/src/server/routing/mount_authz_tests.rs
  crates/fraiseql-server/src/server/routing/storage_policy_admin_tests.rs
  crates/fraiseql-server/src/server/routing_tests.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/storage.rs
  crates/fraiseql-server/tests/storage_minio_integration_test.rs
  crates/fraiseql-server/tests/storage_wiring_test.rs
  crates/fraiseql-storage/Cargo.toml
  crates/fraiseql-storage/src/config/mod.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-storage/src/migrations/mod.rs
  crates/fraiseql-storage/src/policy/mod.rs
  crates/fraiseql-storage/src/policy/spec.rs
  crates/fraiseql-storage/src/policy/store.rs
  crates/fraiseql-storage/src/policy/tests.rs
  crates/fraiseql-storage/src/routes/mod.rs
  crates/fraiseql-storage/src/routes/render.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/src/routes/uploads.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  crates/fraiseql-storage/tests/tus_interop.rs
  docs/architecture/storage.md
Labels: documentation

feat(storage): #972 — resumable uploads on GCS and Azure, and a Tus client that is not ours
  .dagger/main.go
  .gitignore
  CHANGELOG.md
  crates/fraiseql-storage/src/backend/azure.rs
  crates/fraiseql-storage/src/backend/gcs.rs
  crates/fraiseql-storage/src/backend/mod.rs
  crates/fraiseql-storage/src/routes/uploads.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  crates/fraiseql-storage/tests/tus_interop.rs
  tools/tus-interop/install.sh
  tools/tus-interop/package-lock.json
  tools/tus-interop/package.json
  tools/tus-interop/tus-upload.mjs
Labels: documentation

feat(storage): #973 — transform operations, and a bound that is not just a radius
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-server/src/server/routing_tests.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/storage.rs
  crates/fraiseql-server/src/server_config/tests.rs
  crates/fraiseql-server/tests/storage_minio_integration_test.rs
  crates/fraiseql-server/tests/storage_wiring_test.rs
  crates/fraiseql-storage/Cargo.toml
  crates/fraiseql-storage/src/config/mime_policy_tests.rs
  crates/fraiseql-storage/src/config/mod.rs
  crates/fraiseql-storage/src/graphql/mod.rs
  crates/fraiseql-storage/src/graphql/tests.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-storage/src/rls/tests.rs
  crates/fraiseql-storage/src/routes/render.rs
  crates/fraiseql-storage/src/routes/tests.rs
  crates/fraiseql-storage/src/service/tests.rs
  crates/fraiseql-storage/src/transforms/cache.rs
  crates/fraiseql-storage/src/transforms/mod.rs
  crates/fraiseql-storage/src/transforms/ops.rs
  crates/fraiseql-storage/src/transforms/retarget.rs
  crates/fraiseql-storage/src/transforms/tests.rs
  crates/fraiseql-storage/src/transforms/text.rs
  crates/fraiseql-storage/src/transforms/transformer.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  crates/fraiseql-storage/tests/tus_interop.rs
  docs/architecture/storage.md
Labels: documentation

chore(ci): mirror the patch-pinned rust:1.94.1 base, and a reminder that was wrong about every package
  .github/workflows/mirror-base-images.yml
Labels: ci

chore(toolchain): MSRV 1.94.1, and a floor no leg had ever tested
  .dagger/feature-combos.go
  .dagger/main.go
  .github/workflows/dagger-feature-matrix.yml
  .github/workflows/dagger-test.yml
  CHANGELOG.md
  Cargo.toml
  docs/architecture/overview.md
  docs/guides/getting-started.md
  docs/operations/compiled-schema-lifecycle.md
  rust-toolchain.toml
Labels: documentation, ci

fix(docker): move the release image's Rust builder to the MSRV it cannot build without
  Dockerfile
  examples/federation/basic/orders-service/Dockerfile
  examples/federation/basic/users-service/Dockerfile
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
