Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(federation): resolve owner-split extends entities from type-level sql_source (#507)
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/intermediate/types.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/tests/federation/entity_resolution.rs
  crates/fraiseql-server/tests/federation_integration_test.rs
  crates/fraiseql-server/tests/fixtures/federation/schema_reviews.json
  docs/README.md
  docs/adr/0014-federation-entity-backing-source.md
Labels: documentation

chore(security): resolve RUSTSEC-2026-0190 (anyhow), ignore -0188 (wasmtime-wasi)
  .cargo/audit.toml
  Cargo.lock
  deny.toml
Labels: none

chore(security): resolve RUSTSEC-2026-0190 (anyhow bump) + ignore -0188 (wasmtime-wasi)
  .cargo/audit.toml
  Cargo.lock
  deny.toml
Labels: none

fix(federation): keep first _entities field on minified gateway queries (#512)
  CHANGELOG.md
  crates/fraiseql-federation/src/selection_parser.rs
  crates/fraiseql-federation/src/selection_parser/tests.rs
Labels: documentation

docs(changelog): add introspection enforcer fix entry (#453, #454)
  CHANGELOG.md
Labels: documentation

fix: enforce introspection policy on the GraphQL path + AST detection (#453, #454)
  CHANGELOG.md
  crates/fraiseql-core/src/security/introspection_enforcer.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/tests/introspection_gate_e2e_test.rs
Labels: documentation

ci(dagger): bump test + integration target-cache keys to bust stale artifacts
  .dagger/main.go
Labels: none

feat(cli): short-lived runtime executor — `fraiseql query` + `doctor --runtime` + dry-run mutations (#501)
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/query.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/tests/runtime_smoke.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/tests/dry_run_rollback_test.rs
Labels: documentation

fix(auth): populate SecurityContext.roles from JWT claims (#503)
  CHANGELOG.md
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-server/src/extractors.rs
  crates/fraiseql-server/src/extractors/tests.rs
Labels: documentation

fix(auth): populate SecurityContext.roles from JWT claims (#503) (#505)
  CHANGELOG.md
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-server/src/extractors.rs
  crates/fraiseql-server/src/extractors/tests.rs
Labels: documentation

chore(security): refresh cargo-deny duplicate skips for #515 dep bumps
  deny.toml
Labels: none

chore(deps): bump opentelemetry 0.32, async-nats 0.49, kamadak-exif 0.6
  Cargo.lock
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-storage/Cargo.toml
  deny.toml
Labels: none

chore(deps): bump opentelemetry 0.32, async-nats 0.49, kamadak-exif 0.6 (#516)
  Cargo.lock
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-storage/Cargo.toml
  deny.toml
Labels: none

chore: bump markdownlint-cli pre-commit hook to v0.49.0
  .pre-commit-config.yaml
Labels: config

chore: bump markdownlint-cli pre-commit hook to v0.49.0 (#517)
  .pre-commit-config.yaml
Labels: config

chore(deps-dev): bump vitest 4.1.6 -> 4.1.9 in fraiseql-typescript (#518)
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
Labels: none

chore(deps-dev): bump vitest 4.1.6 -> 4.1.9 in fraiseql-typescript
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
Labels: none

chore(make): add `make preflight` local pre-push gate
  Makefile
Labels: none

chore(make): add `make preflight` local pre-push gate (#519)
  Makefile
Labels: none

feat(federation): wire saga compensation under unstable-saga (#429)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_compensator/compensation.rs
  crates/fraiseql-federation/src/saga_compensator/compensation/tests.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): wire saga compensation under unstable-saga (#429) (#520)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_compensator/compensation.rs
  crates/fraiseql-federation/src/saga_compensator/compensation/tests.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): wire saga recovery under unstable-saga (#429)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_recovery_manager/recovery.rs
  crates/fraiseql-federation/src/saga_recovery_manager/recovery/tests.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): wire saga recovery under unstable-saga (#429) (#521)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_recovery_manager/recovery.rs
  crates/fraiseql-federation/src/saga_recovery_manager/recovery/tests.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): wire saga coordinator under unstable-saga (#429)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/coordination.rs
  crates/fraiseql-federation/src/saga_coordinator/coordination/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): wire saga coordinator under unstable-saga (#429) (#522)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/coordination.rs
  crates/fraiseql-federation/src/saga_coordinator/coordination/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): wire saga remote step dispatch under unstable-saga (#429)
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/mutation_executor.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-federation/src/mutation_http_client/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): wire saga remote step dispatch under unstable-saga (#429) (#523)
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/mutation_executor.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-federation/src/mutation_http_client/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): persist full saga mutation name for remote dispatch (#429)
  .phases/README.md
  CHANGELOG.md
  crates/fraiseql-federation/src/saga_compensator/compensation/tests.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): persist full saga mutation name for remote dispatch (#429) (#524)
  .phases/README.md
  CHANGELOG.md
  crates/fraiseql-federation/src/saga_compensator/compensation/tests.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): roll back remote saga steps over HTTPS under unstable-saga (#429)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  deny.toml
Labels: documentation

feat(federation): roll back remote saga steps over HTTPS under unstable-saga (#429) (#525)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  deny.toml
Labels: documentation

feat(federation): concurrency-safe saga recovery via SKIP LOCKED under unstable-saga (#429)
  .cargo/audit.toml
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  deny.toml
Labels: documentation

feat(federation): concurrency-safe saga recovery via SKIP LOCKED under unstable-saga (#429) (#526)
  .cargo/audit.toml
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  deny.toml
Labels: documentation

feat(federation): saga step retry-with-backoff + per-step timeout under unstable-saga (#429)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/mod.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
Labels: documentation

feat(federation): saga step retry-with-backoff + per-step timeout under unstable-saga (#429) (#527)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/mod.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
Labels: documentation

feat(federation): mutual TLS for saga remote dispatch under unstable-saga (#429)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-federation/src/mutation_http_client/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
Labels: documentation

feat(federation): mutual TLS for saga remote dispatch under unstable-saga (#429) (#528)
  CHANGELOG.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-federation/src/mutation_http_client/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
Labels: documentation

feat(federation): @requires cross-subgraph pre-fetch for saga steps under unstable-saga (#429)
  CHANGELOG.md
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_compensator/compensation/tests.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/mod.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/prefetch.rs
  crates/fraiseql-federation/src/saga_executor/prefetch/tests.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): @requires cross-subgraph pre-fetch for saga steps under unstable-saga (#429) (#529)
  CHANGELOG.md
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_compensator/compensation/tests.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/mod.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/prefetch.rs
  crates/fraiseql-federation/src/saga_executor/prefetch/tests.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_store.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(federation): promote saga subsystem to stable — unstable-saga → saga feature (#429)
  .dagger/feature-combos.go
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-core/tests/federation.rs
  crates/fraiseql-core/tests/federation_saga_observability.rs
  crates/fraiseql-core/tests/federation_saga_real.rs
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/README.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/mutation_executor.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_compensator/compensation.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/coordination.rs
  crates/fraiseql-federation/src/saga_coordinator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/forward.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/prefetch.rs
  crates/fraiseql-federation/src/saga_executor/prefetch/tests.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_recovery_manager/recovery.rs
  crates/fraiseql-federation/src/saga_recovery_manager/tests.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  docs/architecture/federation.md
  docs/guides/federation-saga.md
  docs/testing-matrix.md
  docs/testing.md
Labels: documentation
