Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(security): redact webhook URL/headers/body from INFO logs (closes #346)
  CHANGELOG.md
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/tests.rs
Labels: documentation

test(db): failing integration test for session-variable connection split (#329)
  crates/fraiseql-core/tests/session_variables_integration.rs
Labels: none

fix(db): pin session variables to the operation's connection (#329)
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/relay_cache.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/relay.rs
  crates/fraiseql-core/tests/session_variables_integration.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/traits/relay.rs
  crates/fraiseql-server/src/routes/grpc/handler.rs
Labels: none

docs(changelog): document session-variable connection-affinity fix (#329)
  CHANGELOG.md
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/tests/session_variables_integration.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/traits.rs
Labels: documentation

fix(security): redact webhook URL/headers/body from INFO logs (#346) (#395)
  CHANGELOG.md
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/tests.rs
Labels: documentation

feat(rest): Accept: text/csv negotiation + handler stub (#269)
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv.rs
  crates/fraiseql-server/src/routes/rest/streaming/mod.rs
Labels: none

feat(rest): advertise text/csv in OpenAPI list responses (#269)
  crates/fraiseql-server/src/routes/rest/openapi/responses.rs
  crates/fraiseql-server/src/routes/rest/openapi/tests.rs
Labels: none

ci: move Test Suite matrix to GitHub-hosted 8-core runner (#269)
  .github/workflows/ci.yml
Labels: ci

feat(rest): Accept XLSX MIME negotiation + handler stub (#269)
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx.rs
Labels: none

feat(rest): advertise XLSX MIME in OpenAPI list responses (#269)
  crates/fraiseql-server/src/routes/rest/openapi/responses.rs
  crates/fraiseql-server/src/routes/rest/openapi/tests.rs
Labels: none

feat(rest): add ExportConfig + export-* feature flags (#269)
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/rest/export_config.rs
  crates/fraiseql-server/src/routes/rest/mod.rs
  crates/fraiseql-server/src/routes/rest/tests.rs
Labels: none

feat(rest): CSV serialization for Accept: text/csv (#269)
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv.rs
Labels: none

refactor(rest): extract streaming csv/xlsx tests to sibling tests.rs (#269)
  crates/fraiseql-server/src/routes/rest/streaming/csv.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv/tests.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx/tests.rs
Labels: none

test(rest): edge-case coverage for CSV streaming (#269)
  crates/fraiseql-server/src/routes/rest/streaming/csv.rs
Labels: none

feat(rest): XLSX workbook serialization via rust_xlsxwriter (#269)
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx.rs
Labels: none

fix(rest): guard CSV/XLSX exports against formula injection (#269)
  crates/fraiseql-server/src/routes/rest/streaming/csv/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv/tests.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx/mod.rs
Labels: none

feat(rest): CSV + XLSX export formats via Accept negotiation (#269) (#328)
  .github/workflows/ci.yml
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/rest/export_config.rs
  crates/fraiseql-server/src/routes/rest/mod.rs
  crates/fraiseql-server/src/routes/rest/openapi/responses.rs
  crates/fraiseql-server/src/routes/rest/openapi/tests.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv/tests.rs
  crates/fraiseql-server/src/routes/rest/streaming/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx/tests.rs
  crates/fraiseql-server/src/routes/rest/tests.rs
Labels: ci

docs(adr): 0011 record release-please NO-GO decision (#319)
  docs/adr/0011-release-tooling-no-release-please.md
Labels: documentation

chore(release): align storage + SDK manifest version bumping (#319)
  crates/fraiseql-storage/Cargo.toml
  tools/release.sh
Labels: none

docs(adr): rewrite paragraph to avoid markdownlint MD025/MD001 false positives
  docs/adr/0011-release-tooling-no-release-please.md
Labels: documentation

release(tooling): ADR-0011 + storage/SDK manifest alignment (#319) (#401)
  crates/fraiseql-storage/Cargo.toml
  docs/adr/0011-release-tooling-no-release-please.md
  tools/release.sh
Labels: documentation

ci(freebsd): cross-compile workspace against x86_64-unknown-freebsd (#148)
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/README.md
  docs/guides/freebsd-deployment.md
Labels: documentation, ci

ci(freebsd): cross-compile workspace against x86_64-unknown-freebsd (#148) (#402)
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/README.md
  docs/guides/freebsd-deployment.md
Labels: documentation, ci

docs(federation): subgraph pattern for non-SQL mutations (#170)
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/adr/0010-async-mutation-handlers.md
  docs/guides/non-sql-mutations.md
  examples/async-jobs-subgraph/.gitignore
  examples/async-jobs-subgraph/Makefile
  examples/async-jobs-subgraph/README.md
  examples/async-jobs-subgraph/docker-compose.yml
  examples/async-jobs-subgraph/fraiseql-side/Dockerfile
  examples/async-jobs-subgraph/fraiseql-side/fraiseql.toml
  examples/async-jobs-subgraph/fraiseql-side/init.sql
  examples/async-jobs-subgraph/fraiseql-side/schema.py
  examples/async-jobs-subgraph/router/router.yaml
  examples/async-jobs-subgraph/router/supergraph.yaml
  examples/async-jobs-subgraph/subgraph/.gitignore
  examples/async-jobs-subgraph/subgraph/Cargo.lock
  examples/async-jobs-subgraph/subgraph/Cargo.toml
  examples/async-jobs-subgraph/subgraph/Dockerfile
  examples/async-jobs-subgraph/subgraph/src/main.rs
  examples/async-jobs-subgraph/subgraph/src/store.rs
Labels: documentation, ci

docs(federation): subgraph pattern for non-SQL mutations (#170) (#403)
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/adr/0010-async-mutation-handlers.md
  docs/guides/non-sql-mutations.md
  examples/async-jobs-subgraph/.gitignore
  examples/async-jobs-subgraph/Makefile
  examples/async-jobs-subgraph/README.md
  examples/async-jobs-subgraph/docker-compose.yml
  examples/async-jobs-subgraph/fraiseql-side/Dockerfile
  examples/async-jobs-subgraph/fraiseql-side/fraiseql.toml
  examples/async-jobs-subgraph/fraiseql-side/init.sql
  examples/async-jobs-subgraph/fraiseql-side/schema.py
  examples/async-jobs-subgraph/router/router.yaml
  examples/async-jobs-subgraph/router/supergraph.yaml
  examples/async-jobs-subgraph/subgraph/.gitignore
  examples/async-jobs-subgraph/subgraph/Cargo.lock
  examples/async-jobs-subgraph/subgraph/Cargo.toml
  examples/async-jobs-subgraph/subgraph/Dockerfile
  examples/async-jobs-subgraph/subgraph/src/main.rs
  examples/async-jobs-subgraph/subgraph/src/store.rs
Labels: documentation, ci

test(storage): failing emulator round-trip tests for #326
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
Labels: none

fix(storage): respect configured endpoint for Azure Blob + GCS backends (#326)
  crates/fraiseql-storage/src/backend/azure.rs
  crates/fraiseql-storage/src/backend/gcs.rs
  crates/fraiseql-storage/src/backend/mod.rs
Labels: none

docs(storage): document endpoint emulator support for #326
  CHANGELOG.md
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-storage/src/config/mod.rs
  docs/architecture/storage.md
Labels: documentation

fix(storage): respect configured endpoint for Azure Blob + GCS backends (#326) (#404)
  CHANGELOG.md
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-storage/src/backend/azure.rs
  crates/fraiseql-storage/src/backend/gcs.rs
  crates/fraiseql-storage/src/backend/mod.rs
  crates/fraiseql-storage/src/config/mod.rs
  crates/fraiseql-storage/tests/azure_emulator.rs
  crates/fraiseql-storage/tests/gcs_emulator.rs
  docs/architecture/storage.md
Labels: documentation

chore(codegen): carve fraiseql-codegen crate for client-side codegen (#291 prep)
  Cargo.lock
  Cargo.toml
  crates/fraiseql-codegen/Cargo.toml
  crates/fraiseql-codegen/README.md
  crates/fraiseql-codegen/src/client/mod.rs
  crates/fraiseql-codegen/src/lib.rs
Labels: none

feat(cli): generate-client typescript subcommand (#291)
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/generate_client.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/tests/generate_client_ts.rs
Labels: none

feat(codegen): TypeScript client generator from compiled schema (#291)
  Cargo.lock
  crates/fraiseql-codegen/Cargo.toml
  crates/fraiseql-codegen/DESIGN-CLIENT-TS.md
  crates/fraiseql-codegen/src/client/mod.rs
  crates/fraiseql-codegen/src/client/typescript/emit.rs
  crates/fraiseql-codegen/src/client/typescript/mod.rs
  crates/fraiseql-codegen/src/client/typescript/render.rs
  crates/fraiseql-codegen/src/client/typescript/runtime.rs
  crates/fraiseql-codegen/tests/client_ts_consumer.rs
  crates/fraiseql-codegen/tests/client_ts_snapshot.rs
  crates/fraiseql-codegen/tests/fixtures/tsconfig.json
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/client.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/enums.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/index.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/inputs.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/mutations.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/queries.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/relationships.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/types.ts
Labels: none

docs(codegen): lock TS client design + reference fixture (#291)
  crates/fraiseql-codegen/DESIGN-CLIENT-TS.md
  crates/fraiseql-codegen/tests/fixture_loads.rs
  crates/fraiseql-codegen/tests/fixtures/tutorial.schema.compiled.json
Labels: none

docs(codegen): typed-clients guide, example consumer, CHANGELOG, release wiring (#291)
  .github/workflows/release.yml
  CHANGELOG.md
  docs/guides/typed-clients.md
  examples/typescript-client/.gitignore
  examples/typescript-client/Makefile
  examples/typescript-client/README.md
  examples/typescript-client/package.json
  examples/typescript-client/schema.compiled.json
  examples/typescript-client/src/main.ts
  examples/typescript-client/tsconfig.json
Labels: documentation, ci

style(codegen): apply nightly rustfmt
  crates/fraiseql-cli/src/commands/generate_client.rs
  crates/fraiseql-cli/tests/generate_client_ts.rs
  crates/fraiseql-codegen/src/client/mod.rs
  crates/fraiseql-codegen/src/client/typescript/emit.rs
  crates/fraiseql-codegen/src/client/typescript/mod.rs
  crates/fraiseql-codegen/src/client/typescript/render.rs
  crates/fraiseql-codegen/src/lib.rs
  crates/fraiseql-codegen/tests/client_ts_snapshot.rs
Labels: none

test(codegen): extract inline test blocks to sibling tests.rs files
  crates/fraiseql-codegen/src/client/mod.rs
  crates/fraiseql-codegen/src/client/tests.rs
  crates/fraiseql-codegen/src/client/typescript/render.rs
  crates/fraiseql-codegen/src/client/typescript/render/tests.rs
  crates/fraiseql-codegen/src/lib.rs
  crates/fraiseql-codegen/src/tests.rs
Labels: none

docs(codegen): drop intra-doc link to private `emit` module
  crates/fraiseql-codegen/src/client/typescript/mod.rs
Labels: none

feat(observers): SQL migration for changelog GraphQL exposure (#149)
  crates/fraiseql-observers/migrations/07_create_changelog_views.sql
  crates/fraiseql-observers/tests/changelog_views.rs
Labels: none

feat(compiler): emit EntityChangeLog/TransportCheckpoint GraphQL surface + mutation RBAC (#149)
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/schema/changelog.rs
  crates/fraiseql-core/src/schema/compiled/mutation.rs
  crates/fraiseql-core/src/schema/mod.rs
Labels: none

feat(schema): config surface for changelog GraphQL exposure (#149)
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/mod.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/mod.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
