Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(wire,server): #Phase10 C3 H45 — one metrics facade + installed recorder
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/metrics_recorder.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/tests/metrics_facade_scrape.rs
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql-wire/tests/metrics_recorder_scrape.rs
Labels: documentation

fix(wire): #Phase10 C4 — L-wire {jsonb ->>, connstr percent-decode, timeout, elf}
  CHANGELOG.md
  crates/fraiseql-wire/src/client/connection_string/mod.rs
  crates/fraiseql-wire/src/client/connection_string/tests.rs
  crates/fraiseql-wire/src/client/fraise_client.rs
  crates/fraiseql-wire/src/client/fraise_client/tests.rs
  crates/fraiseql-wire/src/operators/field/mod.rs
  crates/fraiseql-wire/src/operators/field/tests.rs
  crates/fraiseql-wire/src/operators/sql_gen/mod.rs
  crates/fraiseql-wire/src/operators/sql_gen/tests.rs
  crates/fraiseql-wire/tests/sdk_sql_compliance_test.rs
Labels: documentation

fix(wire): #Phase10 C4 — L-wire {scram pbkdf2, chunk-dup, stats, builder}
  CHANGELOG.md
  crates/fraiseql-wire/src/auth/scram/mod.rs
  crates/fraiseql-wire/src/auth/scram/tests.rs
  crates/fraiseql-wire/src/client/fraise_client.rs
  crates/fraiseql-wire/src/client/query_builder/mod.rs
  crates/fraiseql-wire/src/connection/conn/core.rs
  crates/fraiseql-wire/src/stream/json_stream/mod.rs
  crates/fraiseql-wire/src/stream/json_stream/tests.rs
  crates/fraiseql-wire/src/stream/query_stream.rs
Labels: documentation

test(wire): #Phase10 C1 H42 — property test recognizes new decode tags
  crates/fraiseql-wire/tests/property_protocol.rs
Labels: none

fix(release): #Phase11 C1 H30 — un-freeze SDK publishing + fail-loud gate
  .github/workflows/release.yml
  CHANGELOG.md
  sdks/official/fraiseql-typescript/src/index.ts
  tools/lib/release_helpers.sh
  tools/release.sh
  tools/tests/release_helpers_test.sh
Labels: documentation, ci

fix(sdk-python): #Phase11 C2 H27 — one unified FraiseQLError hierarchy
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/client.py
  sdks/official/fraiseql-python/src/fraiseql/errors.py
  sdks/official/fraiseql-python/tests/test_error_hierarchy_unified.py
Labels: documentation, tests

fix(sdk-python): #Phase11 C3 H28 — from_now starts at the real tail
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/changelog_consumer.py
  sdks/official/fraiseql-python/tests/test_changelog_consumer.py
Labels: documentation, tests

fix(sdk): #Phase11 C4a — SDK correctness (retry_on, export filter, injected auth, ts inject)
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/async_client.py
  sdks/official/fraiseql-python/src/fraiseql/changelog_consumer.py
  sdks/official/fraiseql-python/src/fraiseql/schema.py
  sdks/official/fraiseql-python/tests/test_async_client.py
  sdks/official/fraiseql-python/tests/test_changelog_consumer.py
  sdks/official/fraiseql-python/tests/test_custom_scalar_e2e.py
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/field-completeness.test.ts
Labels: documentation, tests

refactor(sdk): #Phase11 C4b H29 — delete the no-op config() helper
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-python/src/fraiseql/schema.py
  sdks/official/fraiseql-python/tests/test_types_export_minimal.py
  sdks/official/fraiseql-typescript/src/index.ts
  sdks/official/fraiseql-typescript/src/schema.ts
Labels: documentation, tests

fix(tools): #Phase11 C4c — one parity comparator + honest lint.sh
  CHANGELOG.md
  Makefile
  tools/compare_parity_schemas.py
  tools/lint.sh
Labels: documentation

style(sdk-python): #Phase11 — ruff-format test_async_client.py
  sdks/official/fraiseql-python/tests/test_async_client.py
Labels: tests

feat(cli): auto-synthesize mutation result unions (opt-in)
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/mutation_error_union.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/tests/auto_mutation_error_union_test.rs
Labels: none

feat(core): surface mutation_response message/httpStatus/errorClass on the error member
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/runtime/tests.rs
Labels: none

docs(mutations): document auto_error_union + the union authoring contract
  CHANGELOG.md
  crates/fraiseql-cli/tests/auto_mutation_error_union_test.rs
  docs/guides/typed-clients.md
Labels: documentation

fix(cli): native-column inference now consults inject params, not just args
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/database_validator_tests.rs
Labels: documentation

fix(core): to_snake_case reconstructs digit boundaries (camelize round-trip)
  crates/fraiseql-core/src/utils/tests.rs
  crates/fraiseql-db/src/utils.rs
  crates/fraiseql-db/src/utils/tests.rs
Labels: none

fix(sdk-python): _snake_to_camel collapses digit segments (phone_1 → phone1)
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/tests/test_casing.py
Labels: tests

test(core): pin the camelize↔snake bijection incl. digit segments
  crates/fraiseql-core/src/utils/casing.rs
  crates/fraiseql-core/src/utils/tests.rs
Labels: none

test(db): digit-field projection maps phone1 → data->>'phone_1' + CHANGELOG
  CHANGELOG.md
  crates/fraiseql-db/src/projection_generator/tests.rs
Labels: documentation

docs(db): drop cross-crate intra-doc link in to_snake_case
  crates/fraiseql-db/src/utils.rs
Labels: none

style(build): rustfmt the npm-ci args (Phase 12 C2 follow-up)
  crates/fraiseql-server/build.rs
Labels: none

chore(deps): SDK/tutorial/example dependency hygiene
  CONTRIBUTING.md
  examples/ecommerce_api/requirements.txt
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/uv.lock
  tutorial/package-lock.json
  tutorial/package.json
Labels: documentation

chore(deps): prune stale deny.toml policy + dead deps + honest .trivyignore
  .trivyignore
  Cargo.lock
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  deny.toml
Labels: none

chore(build): studio build uses `npm ci --ignore-scripts`, not `npm install`
  crates/fraiseql-server/build.rs
Labels: none

chore(deps): consolidate rustls onto one crypto provider + collapse WS stacks
  .dagger/security.go
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-wire/Cargo.toml
  deny.toml
  tools/check-crypto-providers.sh
Labels: documentation

feat(core): acronym registry for casing — s3/ipv4/oauth2 stay whole
  crates/fraiseql-db/src/utils.rs
  crates/fraiseql-db/src/utils/tests.rs
Labels: none

feat(cli): [fraiseql.naming] acronyms config → compiled schema → runtime
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/utils/casing.rs
  crates/fraiseql-server/src/main.rs
Labels: none

docs(changelog): document the casing acronym registry + soften the camelize caveat
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-db/src/utils.rs
Labels: documentation

fix(core): skip serializing empty naming_acronyms (no schema-hash churn)
  crates/fraiseql-core/src/schema/compiled/schema.rs
Labels: none

fix(core): recase nested composite input keys on the mutation insert path (#400)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
Labels: documentation

fix(federation): recase mutation input keys to canonical column names (#400)
  CHANGELOG.md
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-federation/src/mutation_executor.rs
  crates/fraiseql-federation/src/mutation_executor/tests.rs
Labels: documentation

fix(core): recase single-JSONB mutation input keys when no Input type drives it (#400)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
Labels: documentation

fix(cli): parse SDL list/non-null field types into FieldType::List (#434)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
Labels: documentation

fix(core): surface updatedFields on the mutation success arm, selection-gated (#433)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/runtime/tests.rs
Labels: documentation

feat(core): add per-mutation input_style (flatten|jsonb), decoupling input-passing from the DML verb
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/tests/auto_mutation_error_union_test.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/mutation.rs
  crates/fraiseql-core/src/schema/mod.rs
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_decorators.py
  sdks/official/fraiseql-typescript/src/decorators.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/registry.test.ts
Labels: documentation, tests

fix(core): resolve GraphQL variables nested inside object/list literal args
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/tests.rs
Labels: documentation

feat(cli): surface input_style on the TOML schema mutation table
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/operations.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/tests.rs
Labels: documentation

fix(core): use then_some over then(||…) on the inline-arg merge (MSRV clippy)
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
Labels: none

fix(sdk): keep the Python type decorator under ruff's branch limit (PLR0912)
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
Labels: none

fix(test): move the change-log integration fixtures to the new contract shape
  crates/fraiseql-observers/tests/bridge_integration.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
