Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

docs: rewrite Where input type documentation and examples
  docs/FIRST_HOUR.md
  docs/INTERACTIVE_EXAMPLES.md
  docs/advanced/where_input_types.md
  docs/reference/quick-reference.md
  examples/quickstart_5min.py
  examples/where_input_filtering_example.py
Labels: documentation

docs: update trinity identifiers pattern and modernize SERIAL to GENERATED BY DEFAULT AS IDENTITY
  docs/FIRST_HOUR.md
  docs/TROUBLESHOOTING.md
  docs/UNDERSTANDING.md
  docs/advanced/database-patterns.md
  docs/database/TABLE_NAMING_CONVENTIONS.md
  docs/quickstart.md
  docs/reference/quick-reference.md
  docs/strategic/V1_ADVANCED_PATTERNS.md
  docs/strategic/V1_VISION.md
  docs/tutorials/beginner-path.md
  docs/tutorials/blog-api.md
Labels: documentation

fix: make delete mutations actually call database functions instead of pass
  docs/FIRST_HOUR.md
Labels: documentation

docs: clarify JSONB return from database function in delete mutation
  docs/FIRST_HOUR.md
Labels: documentation

docs: rewrite README for marketing impact with security focus
  README.md
Labels: documentation

docs: add orchestrator agent prompt for documentation alignment
  docs/DOCUMENTATION_ORCHESTRATOR_PROMPT.md
Labels: documentation

docs: enhance concepts-glossary with correct FraiseQL patterns
  docs/core/concepts-glossary.md
Labels: documentation

docs: modernize quickstart type hints to Python 3.10+ syntax
  docs/quickstart.md
Labels: documentation

examples: modernize blog_api models type hints to Python 3.10+ syntax
  examples/blog_api/models.py
Labels: none

examples: modernize blog_api queries type hints to Python 3.10+ syntax
  examples/blog_api/queries.py
Labels: none

examples: modernize blog_api db type hints to Python 3.10+ syntax
  examples/blog_api/db.py
Labels: none

examples: modernize ecommerce_api models type hints to Python 3.10+ syntax
  examples/ecommerce_api/models.py
Labels: none

examples: modernize enterprise_patterns models type hints to Python 3.10+ syntax
  examples/enterprise_patterns/models.py
Labels: none

docs: add completion report for Python type hint modernization
  docs/AUDIT_REPORT_V3.md
Labels: documentation

examples: modernize ecommerce_api mutations type hints to Python 3.10+ syntax
  examples/ecommerce_api/mutations.py
Labels: none

examples: modernize blog_simple models type hints to Python 3.10+ syntax
  examples/blog_simple/models.py
Labels: none

examples: modernize real_time_chat models type hints to Python 3.10+ syntax
  examples/real_time_chat/models.py
Labels: none

examples: modernize fastapi types type hints to Python 3.10+ syntax
  examples/fastapi/types.py
Labels: none

examples: modernize ecommerce models type hints to Python 3.10+ syntax
  examples/ecommerce/models.py
Labels: none

examples: modernize admin-panel models type hints to Python 3.10+ syntax
  examples/admin-panel/models.py
Labels: none

examples: modernize admin-panel queries type hints to Python 3.10+ syntax
  examples/admin-panel/queries.py
Labels: none

examples: modernize saas-starter models type hints to Python 3.10+ syntax
  examples/saas-starter/models.py
Labels: none

examples: modernize enterprise_patterns cqrs types type hints to Python 3.10+ syntax
  examples/enterprise_patterns/cqrs/types.py
Labels: none

examples: modernize enterprise_patterns cqrs queries type hints to Python 3.10+ syntax
  examples/enterprise_patterns/cqrs/queries.py
Labels: none

docs: update completion report with additional progress on medium priority files
  docs/AUDIT_REPORT_V3.md
Labels: documentation

fix: add missing Any import in blog_enterprise exceptions
  examples/blog_enterprise/domain/common/exceptions.py
Labels: none

docs: fix README formatting for PyPI rendering and modernize type hints
  README.md
Labels: documentation

docs: fix README for PyPI - formatting, links, and query examples
  README.md
Labels: documentation

chore: bump version to v1.0.2
  CHANGELOG.md
  README.md
  VERSION_STATUS.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

docs: fix mutation example to show automatic PostgreSQL function integration
  CHANGELOG.md
  README.md
Labels: documentation

docs: improve README formatting and update Python version badge
  README.md
Labels: documentation

feat: add missing parameter type hints to 13 core files
  src/fraiseql/cli/commands/sql.py
  src/fraiseql/config/schema_config.py
  src/fraiseql/core/graphql_type.py
  src/fraiseql/enterprise/rbac/cache.py
  src/fraiseql/fastapi/app.py
  src/fraiseql/fastapi/dependencies.py
  src/fraiseql/fastapi/dev_auth.py
  src/fraiseql/gql/builders/mutation_builder.py
  src/fraiseql/gql/builders/query_builder.py
  src/fraiseql/gql/enum_serializer.py
  src/fraiseql/monitoring/notifications.py
  src/fraiseql/optimization/registry.py
  src/fraiseql/tracing/opentelemetry.py
Labels: core, cli

feat: complete parameter type annotations - 100% coverage achieved
  src/fraiseql/analysis/query_analyzer.py
  src/fraiseql/analysis/query_complexity.py
  src/fraiseql/auth/native/factory.py
  src/fraiseql/auth/native/middleware.py
  src/fraiseql/caching/cache_key.py
  src/fraiseql/caching/postgres_cache.py
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/cqrs/repository.py
  src/fraiseql/db.py
  src/fraiseql/decorators.py
  src/fraiseql/enterprise/rbac/directives.py
  src/fraiseql/execution/unified_executor.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/fastapi/routers.py
  src/fraiseql/gql/builders/subscription_builder.py
  src/fraiseql/ivm/analyzer.py
  src/fraiseql/monitoring/metrics/config.py
  src/fraiseql/monitoring/metrics/integration.py
  src/fraiseql/monitoring/postgres_error_tracker.py
  src/fraiseql/optimization/loaders.py
  src/fraiseql/optimization/n_plus_one_detector.py
  src/fraiseql/patterns/trinity.py
  src/fraiseql/security/csrf_protection.py
  src/fraiseql/security/field_auth.py
  src/fraiseql/security/rate_limiting.py
  src/fraiseql/security/security_headers.py
  src/fraiseql/sql/__init__.py
  src/fraiseql/sql/graphql_order_by_generator.py
  src/fraiseql/sql/sql_generator.py
  src/fraiseql/strawberry_compat.py
  src/fraiseql/subscriptions/caching.py
  src/fraiseql/subscriptions/complexity.py
  src/fraiseql/subscriptions/filtering.py
  src/fraiseql/subscriptions/lifecycle.py
Labels: core, sql

feat: enable strict type checking in CI/CD using ruff only
  .github/workflows/quality-gate.yml
  pyproject.toml
  src/fraiseql/caching/cache_key.py
  src/fraiseql/ivm/analyzer.py
Labels: config, ci, dependencies

refactor: Switch from pyright to ruff for type checking
  Makefile
  pyproject.toml
  pyrightconfig.json
  src/fraiseql/core/registry.py
  uv.lock
Labels: core, config, dependencies

fix: Add backward compatibility property for RustResponseBytes.bytes
  src/fraiseql/core/rust_pipeline.py
Labels: core

chore: archive internal planning docs and fix documentation links
  CHANGELOG.md
  INSTALLATION.md
  Makefile
  RELEASE_NOTES.md
  archive/docs-planning-v1.0/ALIGNMENT_PLAN.md
  archive/docs-planning-v1.0/AUDIT_REPORT.md
  archive/docs-planning-v1.0/AUDIT_REPORT_V2.md
  archive/docs-planning-v1.0/AUDIT_REPORT_V2_QUALITY_ASSESSMENT.md
  archive/docs-planning-v1.0/AUDIT_REPORT_V3.md
  archive/docs-planning-v1.0/AUDIT_REPORT_V4.md
  archive/docs-planning-v1.0/AUDIT_REPORT_V4_EXECUTION_PLAN.md
  archive/docs-planning-v1.0/DOCUMENTATION_ALIGNMENT_EXECUTION_PLAN.md
  archive/docs-planning-v1.0/DOCUMENTATION_FIXES_SUMMARY.md
  archive/docs-planning-v1.0/DOCUMENTATION_ORCHESTRATOR_PROMPT.md
  archive/docs-planning-v1.0/DOCUMENTATION_ROADMAP_MASTER.md
  archive/docs-planning-v1.0/FIRST_HOUR_REVIEW.md
  archive/docs-planning-v1.0/IMPLEMENTATION_SUMMARY.md
  archive/docs-planning-v1.0/PHASE_2_IMPLEMENTATION_PLAN.md
  archive/docs-planning-v1.0/PHASE_3_IMPLEMENTATION_PLAN.md
  archive/docs-planning-v1.0/PHASE_4_IMPLEMENTATION_PLAN.md
  archive/docs-planning-v1.0/PHASE_5_IMPLEMENTATION_PLAN.md
  archive/docs-planning-v1.0/PHASE_6_IMPLEMENTATION_PLAN.md
  archive/docs-planning-v1.0/README.md
Labels: documentation

feat: comprehensive type safety analysis for Axis 1
  docs/strategic/IMPROVEMENT_ANALYSIS_PROMPT.md
Labels: documentation

fix: add missing return type annotation for __new__ special method
  src/fraiseql/core/registry.py
Labels: core

fix: improve GraphQL resolver type safety (P1)
  src/fraiseql/core/nested_field_resolver.py
  src/fraiseql/gql/builders/query_builder.py
Labels: core
