Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(federation): Phase 5 - Performance testing and overhead validation
  crates/fraiseql-core/tests/federation_observability_perf.rs
  docs/PHASE_5_PERFORMANCE_ANALYSIS.md
Labels: documentation

feat(federation): Phase 6 - Dashboards and monitoring
  docs/PHASE_6_DASHBOARDS_AND_MONITORING.md
  tests/federation_dashboards.rs
  tests/integration/alert_rules.yml
  tests/integration/dashboards/entity_resolution.json
  tests/integration/dashboards/federation_overview.json
Labels: documentation, tests

feat(federation): Implement Phase 7 end-to-end integration testing
  crates/fraiseql-core/tests/federation_observability_integration.rs
  docs/FEDERATION_OBSERVABILITY_RUNBOOKS.md
  docs/PHASE_7_END_TO_END_INTEGRATION.md
Labels: documentation

docs(federation): Add comprehensive Federation Observability completion summary
  docs/FEDERATION_OBSERVABILITY_COMPLETE.md
Labels: documentation

docs: Add comprehensive Federation Readiness Assessment
  docs/FEDERATION_READINESS_ASSESSMENT.md
Labels: documentation

feat(federation): Phase 1, Cycle 1 GREEN - Add field-level directive metadata
  .phases/federation-01-requires-provides.md
  .phases/federation-02-schema-validation.md
  .phases/federation-03-distributed-transactions.md
  .phases/federation-04-apollo-router.md
  .phases/federation-05-shareable-fields.md
  .phases/federation-06-enterprise-hardening.md
  .phases/federation-07-finalize.md
  .phases/federation-gap-filling-README.md
  crates/fraiseql-core/benches/federation_bench.rs
  crates/fraiseql-core/src/federation/direct_db_resolver.rs
  crates/fraiseql-core/src/federation/metadata_helpers.rs
  crates/fraiseql-core/src/federation/mutation_detector.rs
  crates/fraiseql-core/src/federation/query_builder.rs
  crates/fraiseql-core/src/federation/types.rs
  crates/fraiseql-core/tests/federation_compliance.rs
  crates/fraiseql-core/tests/federation_database_integration.rs
  crates/fraiseql-core/tests/federation_directives.rs
  crates/fraiseql-core/tests/federation_entity_resolver.rs
  crates/fraiseql-core/tests/federation_field_directives.rs
  crates/fraiseql-core/tests/federation_multi_subgraph.rs
  crates/fraiseql-core/tests/federation_mutation_http.rs
  crates/fraiseql-core/tests/federation_mutations_integration.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-core/tests/federation_scenarios.rs
Labels: none

refactor(federation): Phase 1, Cycle 1 REFACTOR - Add helper methods and builders
  crates/fraiseql-core/src/federation/types.rs
Labels: none

docs: Mark Phase 1, Cycle 1 as complete
  .phases/federation-01-requires-provides.md
Labels: none

docs(phases): Mark Cycle 2 complete in federation phase
  .phases/federation-01-requires-provides.md
Labels: none

feat(federation): Implement Cycle 3 compile-time validation
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/federation_validation.rs
Labels: none

docs(phases): Mark Cycle 3 complete in federation phase
  .phases/federation-01-requires-provides.md
Labels: none

feat(federation): Phase 1, Cycle 4b - HTTP @requires enforcement tests
  crates/fraiseql-core/tests/federation_http_requires_runtime.rs
Labels: none

feat(federation): Phase 1, Cycle 4c - @provides enforcement tests
  crates/fraiseql-core/tests/federation_provides_enforcement.rs
Labels: none

feat(federation): Phase 1, Cycle 4a - Database @requires enforcement tests
  crates/fraiseql-core/src/federation/types.rs
  crates/fraiseql-core/tests/federation_requires_runtime.rs
Labels: none

feat(federation): Phase 2, Cycle 1 - Cross-subgraph validation tests
  crates/fraiseql-cli/tests/federation_cross_subgraph_validation.rs
Labels: none

feat(federation): Phase 2, Cycle 2 - Composition validator tests
  crates/fraiseql-cli/tests/federation_composition_validator.rs
Labels: none

feat(federation): Phase 2, Cycle 3 - CLI Integration & Configuration tests
  crates/fraiseql-cli/tests/federation_cli_compose.rs
Labels: none

feat(federation): Phase 2, Cycle 4 - Advanced cross-subgraph validation tests
  crates/fraiseql-cli/tests/federation_cross_subgraph_validation_advanced.rs
Labels: none

feat(federation): Phase 2, Cycle 5 - Advanced composition scenarios
  crates/fraiseql-cli/tests/federation_composition_advanced.rs
Labels: none

feat(federation): Phase 2, Cycle 6 - Advanced CLI features and edge cases
  crates/fraiseql-cli/tests/federation_cli_advanced.rs
Labels: none

feat(federation): Week 11, Cycle 7 - Federation Edge Cases (18 tests)
  crates/fraiseql-cli/tests/federation_edge_cases.rs
Labels: none

feat(federation): Week 12 Cycle 1 - Saga Coordinator Foundation (RED Phase)
  .phases/phase-03-distributed-transactions.md
  crates/fraiseql-core/tests/federation_saga_coordinator.rs
Labels: none

feat(federation): Week 12 Cycle 1 - Saga Coordinator Foundation (GREEN Phase)
  crates/fraiseql-core/tests/federation_saga_coordinator.rs
Labels: none

refactor(federation): Week 12 Cycle 1 - Saga Coordinator (REFACTOR Phase)
  crates/fraiseql-core/tests/federation_saga_coordinator.rs
Labels: none

feat(federation): Week 13 Cycle 2 - Saga Store Foundation (RED Phase)
  crates/fraiseql-core/tests/federation_saga_store.rs
Labels: none

feat(federation): Week 13 Cycle 2 - Saga Store PostgreSQL Backend (GREEN Phase)
  Cargo.toml
  crates/fraiseql-core/src/federation/mod.rs
  crates/fraiseql-core/src/federation/saga_store.rs
Labels: none

refactor(federation): Improve saga store code design and documentation
  crates/fraiseql-core/src/federation/saga_store.rs
Labels: none

refactor(federation): Implement trinity pattern for all saga tables
  crates/fraiseql-core/src/federation/saga_store.rs
Labels: none

chore(federation): Apply rustfmt to test file
  crates/fraiseql-core/tests/federation_saga_store.rs
Labels: none

feat(federation): Week 13 Cycle 3 - Saga Recovery Manager (RED Phase)
  crates/fraiseql-core/tests/federation_saga_recovery_manager.rs
Labels: none

feat(federation): Week 13 Cycle 3 - Saga Recovery Manager (GREEN Phase)
  crates/fraiseql-core/tests/federation_saga_recovery_manager.rs
Labels: none

refactor(federation): Week 13 Cycle 3 - Saga Recovery Manager (REFACTOR Phase)
  crates/fraiseql-core/tests/federation_saga_recovery_manager.rs
Labels: none

docs(federation): Week 13 Cycle 3 - Saga Recovery Manager (CLEANUP Phase)
  crates/fraiseql-core/tests/federation_saga_recovery_manager.rs
Labels: none

feat(federation): Week 13 Cycle 4 - Background Loop Manager (RED Phase)
  crates/fraiseql-core/tests/federation_saga_recovery_background_loop.rs
Labels: none

feat(federation): Week 13 Cycle 4 - Background Loop Manager (GREEN Phase)
  crates/fraiseql-core/src/federation/mod.rs
  crates/fraiseql-core/src/federation/saga_recovery_manager.rs
  crates/fraiseql-core/tests/federation_saga_recovery_background_loop.rs
Labels: none

refactor(federation): Week 13 Cycle 4 - Background Loop Manager (REFACTOR Phase)
  crates/fraiseql-core/src/federation/mod.rs
  crates/fraiseql-core/src/federation/saga_recovery_manager.rs
Labels: none

chore(federation): Week 13 Cycle 4 - Background Loop Manager (CLEANUP Phase)
  crates/fraiseql-core/tests/federation_saga_recovery_background_loop.rs
Labels: none

feat(federation): Week 13 Cycle 5 - @requires/@provides Enforcement (RED Phase)
  crates/fraiseql-core/tests/federation_requires_provides_enforcement.rs
Labels: none

feat(federation): Week 13 Cycle 5 - @requires/@provides Enforcement (GREEN Phase)
  crates/fraiseql-core/src/federation/mod.rs
  crates/fraiseql-core/src/federation/requires_provides_validator.rs
  crates/fraiseql-core/tests/federation_requires_provides_enforcement.rs
Labels: none

refactor(federation): Week 13 Cycle 5 - @requires/@provides Enforcement (REFACTOR Phase)
  crates/fraiseql-core/src/federation/requires_provides_validator.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
