Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(codegen): a scalar return type stops being asked for a sub-selection
  CHANGELOG.md
  crates/fraiseql-codegen/src/client/common.rs
  crates/fraiseql-codegen/src/client/tests.rs
Labels: documentation

fix(codegen): the generated Python package stops mis-declaring, injecting and failing to parse
  CHANGELOG.md
  crates/fraiseql-codegen/src/client/common.rs
  crates/fraiseql-codegen/src/client/python/emit.rs
  crates/fraiseql-codegen/src/client/python/tests.rs
  crates/fraiseql-codegen/src/client/tests.rs
  crates/fraiseql-codegen/src/client/typescript/emit.rs
  crates/fraiseql-codegen/src/client/typescript/render.rs
  crates/fraiseql-codegen/tests/client_py_consumer.rs
Labels: documentation

fix(codegen,cli): input requiredness stops having two unsynchronised encodings
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/tests/compiled_schema_seam_test.rs
  crates/fraiseql-codegen/src/client/go/emit.rs
  crates/fraiseql-codegen/src/client/go/tests.rs
  crates/fraiseql-codegen/src/client/python/emit.rs
  crates/fraiseql-codegen/src/client/python/tests.rs
  crates/fraiseql-codegen/src/client/rust/emit.rs
  crates/fraiseql-codegen/src/client/rust/tests.rs
  crates/fraiseql-codegen/src/client/tests.rs
  crates/fraiseql-codegen/src/client/typescript/emit.rs
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/client.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/enums.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/index.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/inputs.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/mutations.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/queries.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/relationships.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/types.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial.schema.compiled.json
Labels: documentation

fix(sdk-php): the builder stops accepting query metadata it discards, and crud generates
  CHANGELOG.md
  sdks/official/fraiseql-php/src/QueryBuilder.php
  sdks/official/fraiseql-php/src/StaticAPI.php
  sdks/official/fraiseql-php/tests/FieldCompletenessTest.php
  sdks/official/fraiseql-php/tests/IntermediateExportKeysTest.php
Labels: documentation

fix(sdk-typescript): remove the aggregate-query builder the compiler refuses
  CHANGELOG.md
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/src/schema.ts
  sdks/official/fraiseql-typescript/tests/parity-with-python.test.ts
  sdks/official/fraiseql-typescript/tests/registry.test.ts
Labels: documentation

fix(cli,sdk-typescript): a deprecated type field compiles instead of failing the document
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/src/schema/intermediate/types.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/compiled_schema_seam_test.rs
  crates/fraiseql-cli/tests/converter_field_survival_test.rs
  crates/fraiseql-cli/tests/converter_inject_params_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  sdks/official/fraiseql-typescript/examples/field-metadata.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/field-metadata.test.ts
  sdks/official/fraiseql-typescript/tests/parity-with-python.test.ts
Labels: documentation

fix(sdks): a subscription authored through any SDK compiles, in all five that have one
  CHANGELOG.md
  sdks/official/fraiseql-dart/README.md
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-go/fraiseql/registry_test.go
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/OperationsTest.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/ParityTest.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/SubscriptionTest.java
  sdks/official/fraiseql-php/src/ArgumentBuilder.php
  sdks/official/fraiseql-php/src/ArgumentDefinition.php
  sdks/official/fraiseql-php/src/SchemaExporter.php
  sdks/official/fraiseql-php/src/SubscriptionBuilder.php
  sdks/official/fraiseql-php/src/SubscriptionDefinition.php
  sdks/official/fraiseql-php/tests/SubscriptionExportTest.php
  sdks/official/fraiseql-python/python-feature-parity.md
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/tests/test_decorators.py
  sdks/official/fraiseql-ruby/README.md
  sdks/official/fraiseql-typescript/README.md
  sdks/official/fraiseql-typescript/examples/subscriptions.ts
  sdks/official/fraiseql-typescript/feature-parity.md
  sdks/official/fraiseql-typescript/src/decorators.ts
  sdks/official/fraiseql-typescript/src/index.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/parity-with-python.test.ts
  sdks/official/fraiseql-typescript/tests/registry.test.ts
  sdks/official/fraiseql-typescript/tests/subscriptions.test.ts
Labels: documentation, tests

fix(sdk-python): AI adapter tools ask for fields, instead of succeeding with no data
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/integrations/_spec.py
  sdks/official/fraiseql-python/tests/test_integrations_spec.py
  sdks/official/fraiseql-python/tests/test_langchain.py
  sdks/official/fraiseql-python/tests/test_mcp_integration.py
  sdks/official/fraiseql-python/tests/test_openai_integration.py
Labels: documentation, tests

style(sdks): satisfy the Dart and Python formatters on the files this phase touched
  sdks/official/fraiseql-dart/lib/src/authoring/schema.dart
  sdks/official/fraiseql-python/conformance/fixture_full.py
Labels: none

fix(sdk): the client deadline covers the body, and every HTTP status lands in the hierarchy
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-python/src/fraiseql/async_client.py
  sdks/official/fraiseql-python/src/fraiseql/client.py
  sdks/official/fraiseql-python/src/fraiseql/errors.py
  sdks/official/fraiseql-python/tests/test_async_client.py
  sdks/official/fraiseql-typescript/src/__tests__/client.test.ts
  sdks/official/fraiseql-typescript/src/client.ts
  sdks/official/fraiseql-typescript/src/errors.ts
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation, tests

fix(sdk): a retried mutation carries one idempotency key instead of committing twice
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/async_client.py
  sdks/official/fraiseql-python/tests/test_async_client.py
  sdks/official/fraiseql-typescript/src/__tests__/client.test.ts
  sdks/official/fraiseql-typescript/src/client.ts
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation, tests

fix(sdk): the consumer survives its first poll on 3.10, and the back-off is measured
  .github/workflows/python-sdk.yml
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/changelog_consumer.py
  sdks/official/fraiseql-python/tests/test_changelog_consumer.py
Labels: documentation, tests, ci

fix(sdk): a failed poll is not an empty changelog, and from_now startup is bounded
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/changelog_consumer.py
  sdks/official/fraiseql-python/tests/test_changelog_consumer.py
Labels: documentation, tests

fix(sdk): a raised handler holds the checkpoint back instead of being recorded as processed
  CHANGELOG.md
  sdks/official/fraiseql-python/src/fraiseql/changelog_consumer.py
  sdks/official/fraiseql-python/tests/test_changelog_consumer.py
Labels: documentation, tests

fix(observers,server): the worker pool and the event bridge can actually be stopped
  CHANGELOG.md
  crates/fraiseql-observers/src/queue/tests.rs
  crates/fraiseql-observers/src/queue/worker.rs
  crates/fraiseql-server/src/subscriptions/event_bridge.rs
  crates/fraiseql-server/src/subscriptions/tests.rs
Labels: documentation

chore(lint): raise the async_trait ratchet by one for the worker-pool test double
  Makefile
Labels: none

test(observers): bound the worker-pool start wait so a stalled pool fails instead of hanging
  crates/fraiseql-observers/src/queue/tests.rs
Labels: none

fix(test): cache_rls_isolation_test fixtures stop colliding under parallelism
  crates/fraiseql-core/tests/cache_rls_isolation_test.rs
Labels: none

fix(test): storage_policy_admin_tests own their buckets instead of one shared table
  crates/fraiseql-server/src/server/routing/storage_policy_admin_tests.rs
Labels: none

fix(observers): four SSRF rejection tests take the bypass pin they were missing
  crates/fraiseql-observers/src/search/http/tests.rs
  crates/fraiseql-observers/src/ssrf.rs
Labels: none

fix(python-sdk): ChangelogConsumer's documented import works
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-python/tests/test_changelog_consumer.py
Labels: tests

test(federation): delete federation_observability_perf, which measured nothing
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/federation_observability_perf.rs
Labels: none

fix(build): fraiseql-core's DB-dependent test targets declare the postgres feature
  crates/fraiseql-core/Cargo.toml
Labels: none

fix(test): observer log assertions wait for the writer instead of racing it
  crates/fraiseql-server/tests/observer_e2e_test.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

docs(changelog): record #1185 and exempt Phase 08's test-only fixes
  CHANGELOG.md
  tools/changelog-exempt-issues.txt
Labels: documentation

docs(phases): the index points at the active program's handoff, not the held release cut
  .phases/README.md
Labels: none

test(examples): gate the examples tree, which no leg has ever checked
  tools/check-examples-compile.sh
  tools/check-examples-integrity.sh
Labels: none

fix(examples): the async-jobs subgraph authors, compiles and can boot
  CHANGELOG.md
  examples/async-jobs-subgraph/.gitignore
  examples/async-jobs-subgraph/fraiseql-side/Dockerfile
  examples/async-jobs-subgraph/fraiseql-side/fraiseql.toml
  examples/async-jobs-subgraph/fraiseql-side/schema.py
  tools/check-examples-compile.sh
Labels: documentation

fix(examples): cascade-create-post loads, and its cascade mutation runs
  examples/cascade-create-post/README.md
  examples/cascade-create-post/schema.sql
Labels: none

fix(examples): the saga health gates report health instead of asserting it
  examples/federation/saga-basic/docker-compose.yml
  examples/federation/saga-basic/test-saga.sh
  examples/federation/saga-manual-compensation/docker-compose.yml
  examples/federation/saga-manual-compensation/test-saga.sh
Labels: none

fix(examples): async-jobs composes a supergraph, and its image can serve one
  examples/async-jobs-subgraph/.gitignore
  examples/async-jobs-subgraph/Makefile
  examples/async-jobs-subgraph/fraiseql-side/Dockerfile
  examples/async-jobs-subgraph/fraiseql-side/server.toml
  examples/async-jobs-subgraph/router/router.yaml
  examples/async-jobs-subgraph/router/supergraph.yaml
  examples/async-jobs-subgraph/subgraph/Dockerfile
  tools/check-examples-integrity.sh
Labels: none

fix(examples): the streaming example loads, compiles and answers its own queries
  docker/docker-compose.demo.yml
  docker/docker-compose.examples.yml
  docker/docker-compose.prod-examples.yml
  docker/docker-compose.prod.yml
  examples/streaming/queries/02-live-messages.graphql
  examples/streaming/queries/03-user-activity.graphql
  examples/streaming/schema.json
  examples/streaming/schema.py
  examples/streaming/sql/setup.sql
  tools/check-examples-integrity.sh
Labels: none

fix(examples): mutation-patterns loads its helpers, and test-all.sh passes
  examples/mutation-patterns/02-validation/multiple-field-validation.sql
  examples/mutation-patterns/README.md
  examples/mutation-patterns/schema.sql
  examples/mutation-patterns/test-all.sh
Labels: none

fix(federation): a federated schema can be authored, in Python and in TOML
  crates/fraiseql-cli/src/config/toml_schema/federation.rs
  crates/fraiseql-cli/tests/compile_federation_passthrough.rs
  crates/fraiseql-cli/tests/diagnostic_snapshots.rs
  sdks/official/fraiseql-python/src/fraiseql/schema.py
  sdks/official/fraiseql-python/tests/test_federation.py
Labels: tests

fix(examples): both federation examples are real, and composite keys compose
  crates/fraiseql-core/src/runtime/variable_validation.rs
  crates/fraiseql-core/src/runtime/variable_validation_tests.rs
  examples/federation/basic/.gitignore
  examples/federation/basic/Makefile
  examples/federation/basic/README.md
  examples/federation/basic/docker-compose.yml
  examples/federation/basic/init-orders.sql
  examples/federation/basic/init-users.sql
  examples/federation/basic/orders-service/Dockerfile
  examples/federation/basic/orders-service/schema.json
  examples/federation/basic/orders-service/schema.py
  examples/federation/basic/router/router.yaml
  examples/federation/basic/router/supergraph.yaml
  examples/federation/basic/server.toml
  examples/federation/basic/users-service/Dockerfile
  examples/federation/basic/users-service/schema.json
  examples/federation/basic/users-service/schema.py
  examples/federation/composite-keys/.gitignore
  examples/federation/composite-keys/Makefile
  examples/federation/composite-keys/README.md
  examples/federation/composite-keys/docker-compose.yml
  examples/federation/composite-keys/init-orders.sql
  examples/federation/composite-keys/init-users.sql
  examples/federation/composite-keys/orders-service/Dockerfile
  examples/federation/composite-keys/orders-service/schema.json
  examples/federation/composite-keys/orders-service/schema.py
  examples/federation/composite-keys/router/router.yaml
  examples/federation/composite-keys/router/supergraph.yaml
  examples/federation/composite-keys/server.toml
  examples/federation/composite-keys/users-service/Dockerfile
  examples/federation/composite-keys/users-service/schema.json
  examples/federation/composite-keys/users-service/schema.py
  sdks/official/fraiseql-python/src/fraiseql/schema.py
  sdks/official/fraiseql-python/tests/test_federation.py
  tools/check-examples-integrity.sh
Labels: tests

feat(examples): the six Rust examples the README has always walked through
  Cargo.lock
  Cargo.toml
  examples/authentication/Cargo.toml
  examples/authentication/README.md
  examples/authentication/run.sh
  examples/authentication/src/main.rs
  examples/basic-query/Cargo.toml
  examples/basic-query/README.md
  examples/basic-query/run.sh
  examples/basic-query/src/main.rs
  examples/complex-queries/Cargo.toml
  examples/complex-queries/README.md
  examples/complex-queries/run.sh
  examples/complex-queries/src/main.rs
  examples/error-handling/Cargo.toml
  examples/error-handling/README.md
  examples/error-handling/run.sh
  examples/error-handling/src/main.rs
  examples/performance/Cargo.toml
  examples/performance/README.md
  examples/performance/run.sh
  examples/performance/src/main.rs
  examples/subscriptions/Cargo.toml
  examples/subscriptions/README.md
  examples/subscriptions/run.sh
  examples/subscriptions/src/main.rs
Labels: none

feat(examples): the Python Arrow Flight client, and the handshake the other two skip
  examples/python/README.md
  examples/python/fraiseql_client.py
  examples/python/requirements.txt
Labels: none

fix(examples): the README routes to what exists, and the gate sees the cd it missed
  examples/README.md
  tools/check-examples-integrity.sh
Labels: none

test(examples): the gate runs in CI, and its third tier boots the server
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  Makefile
  examples/basic/README.md
  examples/basic/queries/02-intro-get-single-user.graphql.vars.json
  examples/basic/queries/03-intro-list-posts-by-author.graphql.vars.json
  examples/basic/queries/get_user.graphql.vars.json
  examples/basic/sql/setup.sql
  examples/ecommerce/queries/01-product-listing.graphql.vars.json
  examples/ecommerce/queries/03-customer-order-history.graphql.vars.json
  examples/ecommerce/queries/04-order-analysis.graphql.vars.json
  examples/streaming/queries/01-recent-events.graphql.vars.json
  examples/streaming/queries/02-live-messages.graphql.vars.json
  examples/streaming/queries/03-user-activity.graphql.vars.json
  examples/streaming/queries/04-live-metrics.graphql.vars.json
  examples/streaming/sql/setup.sql
  tools/check-examples-compile.sh
  tools/check-examples-integrity.sh
  tools/examples-smoke.sh
Labels: ci

docs(changelog): Phase 09's nine issues, and the four that replace them
  CHANGELOG.md
Labels: documentation
