Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(phase-21): Fix TOML integration tests and make attributes field optional
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
Labels: none

feat(security): Add SecurityContext and RLSPolicy foundation for Phase 17
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-core/src/security/security_context.rs
Labels: none

docs(phase-17): Add comprehensive Field-Level RBAC and RLS implementation roadmap
  .phases/phase-17-rbac-rls.md
Labels: none

test(rls): Add integration test suite for RLS policies
  crates/fraiseql-core/tests/integration_rls.rs
Labels: none

feat(rls): Add execute_with_security() method for RLS-aware query execution
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/mod.rs
Labels: none

docs(phase-17): Update status after Cycle 2 completion
  .phases/phase-17-rbac-rls.md
Labels: none

docs(arch): Comprehensive WHERE clause integration analysis
  .phases/ARCHITECTURE_ANALYSIS.md
Labels: none

feat(rls): Integrate WHERE clause filtering into RLS query execution
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/tests/integration_rls.rs
Labels: none

docs(phase-17): Update status after Cycle 3 completion
  .phases/phase-17-rbac-rls.md
Labels: none

feat(security): Implement Cycle 4 GREEN phase - HTTP handler RLS integration foundation
  crates/fraiseql-server/src/routes/graphql.rs
Labels: none

refactor(security): Extract SecurityContext into custom Axum extractor
  .phases/phase-17-rbac-rls.md
  crates/fraiseql-server/src/extractors.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/graphql.rs
Labels: none

test(security): Add comprehensive SecurityContext creation test
  crates/fraiseql-server/src/extractors.rs
Labels: none

docs(phase): Update Phase 17 status - Cycle 4 complete
  .phases/phase-17-rbac-rls.md
Labels: none

test(python-sdk): Add RED phase tests for field-level scope requirements
  fraiseql-python/tests/test_field_scope.py
Labels: tests

docs(phase): Add Phase 18 plan - Field-Level RBAC implementation
  .phases/phase-18-field-rbac.md
Labels: none

refactor(phase-18): Extract scope validation logic for field-level RBAC
  fraiseql-python/src/fraiseql/__init__.py
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/src/fraiseql/registry.py
  fraiseql-python/src/fraiseql/scope.py
  fraiseql-python/tests/test_field_scope.py
Labels: tests

test(phase-18): Add comprehensive field-level scope tests for TypeScript SDK
  .phases/phase-18-field-rbac.md
  fraiseql-typescript/tests/field-scope.test.ts
Labels: none

test(phase-18): Add TOML role definition parsing tests
  .phases/phase-18-field-rbac.md
  crates/fraiseql-core/tests/integration_field_rbac_toml.rs
Labels: none

feat(phase-18): Implement RoleDefinition and SecurityConfig for field-level RBAC
  .phases/phase-18-field-rbac.md
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/integration_field_rbac_toml.rs
Labels: none

refactor(phase-18): Complete TOML schema cycle with cleanup
  .phases/phase-18-field-rbac.md
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/concurrent_load_testing.rs
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/federation_dependency_graph.rs
  crates/fraiseql-core/tests/federation_field_directives.rs
  crates/fraiseql-core/tests/federation_http_requires_runtime.rs
  crates/fraiseql-core/tests/federation_provides_enforcement.rs
  crates/fraiseql-core/tests/federation_requires_runtime.rs
  crates/fraiseql-core/tests/federation_saga_coordinator.rs
  crates/fraiseql-core/tests/integration_field_rbac_toml.rs
  crates/fraiseql-core/tests/integration_rls.rs
  crates/fraiseql-core/tests/projection_integration.rs
Labels: none

test(phase-18-cycle-4): Add RED phase tests for compiler field-level RBAC integration
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/tests/integration_compiler_field_rbac.rs
Labels: none

feat(phase-18-cycle-4): Implement GREEN phase - compiler merges role definitions
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/tests/integration_compiler_field_rbac.rs
Labels: none

refactor(phase-18-cycle-4): Add helper methods and validation for role definitions
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/security.rs
Labels: none

chore(phase-18-cycle-4): CLEANUP - format code and verify tests pass
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/serve.rs
  crates/fraiseql-cli/src/commands/validate.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/multi_file_loader.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/federation_cli_advanced.rs
  crates/fraiseql-cli/tests/federation_cli_compose.rs
  crates/fraiseql-cli/tests/federation_composition_advanced.rs
  crates/fraiseql-cli/tests/federation_composition_validator.rs
  crates/fraiseql-cli/tests/federation_cross_subgraph_validation.rs
  crates/fraiseql-cli/tests/federation_cross_subgraph_validation_advanced.rs
  crates/fraiseql-cli/tests/federation_edge_cases.rs
  crates/fraiseql-cli/tests/federation_validation.rs
  crates/fraiseql-cli/tests/integration_compiler_field_rbac.rs
  crates/fraiseql-cli/tests/integration_domain_discovery.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
  crates/fraiseql-cli/tests/security_config_integration.rs
Labels: none

docs(phase-18): Mark Cycles 1-4 complete and Cycle 4 details
  .phases/phase-18-field-rbac.md
Labels: none

test(phase-18-cycle-5): Add RED phase tests for runtime field filtering
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
Labels: none

feat(phase-18-cycle-5): Implement GREEN phase - Runtime field filtering
  crates/fraiseql-core/src/runtime/field_filter.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
Labels: none

test(phase-18-cycle-6): Add RED phase - E2E field RBAC pipeline tests
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
Labels: none

test(phase-18-cycle-7): Add RED phase - Executor field RBAC integration tests
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
Labels: none

feat(phase-18-cycle-7): Implement GREEN phase - Executor field RBAC integration
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
Labels: none

test(phase-18-cycle-8): Add RED phase - Field filtering error handling tests
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
Labels: none

test(java-sdk): Phase 18 Cycle 9 RED - Field scope extraction & export tests
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  fraiseql-java/src/main/java/com/fraiseql/core/TypeConverter.java
  fraiseql-java/src/test/java/com/fraiseql/core/Phase18Cycle9ScopeExtractionTest.java
Labels: none

test(go-sdk): Phase 18 Cycle 10 RED/GREEN - Field scope extraction tests & implementation
  fraiseql-go/fraiseql/scope_extraction_test.go
  fraiseql-go/fraiseql/types.go
Labels: none

feat(php-sdk): Phase 18 Cycle 11 RED/GREEN - Field scope extraction & validation
  fraiseql-php/src/Attributes/GraphQLField.php
  fraiseql-php/src/FieldDefinition.php
  fraiseql-php/src/TypeConverter.php
  fraiseql-php/src/TypeInfo.php
  fraiseql-php/tests/Phase18Cycle11ScopeExtractionTest.php
Labels: none

feat(kotlin-sdk): Phase 18 Cycle 12 RED/GREEN - Field scope extraction & validation
  fraiseql-kotlin/src/main/kotlin/com/fraiseql/schema/Schema.kt
  fraiseql-kotlin/src/test/kotlin/com/fraiseql/Phase18Cycle12ScopeExtractionTest.kt
Labels: none

feat(ruby-sdk): Phase 18 Cycle 13 RED/GREEN - Field scope extraction & validation
  fraiseql-ruby/lib/fraiseql/registry.rb
  fraiseql-ruby/lib/fraiseql/schema.rb
  fraiseql-ruby/lib/fraiseql/types.rb
  fraiseql-ruby/spec/phase18_cycle13_scope_extraction_spec.rb
Labels: none

feat(nodejs-sdk): Phase 18 Cycle 14 RED/GREEN - Field scope extraction & validation
  fraiseql-nodejs/src/schema.ts
  fraiseql-nodejs/tests/phase18-cycle14-scope-extraction.test.ts
Labels: none

feat(csharp-sdk): Phase 18 Cycle 15 RED/GREEN - Field scope extraction & validation
  fraiseql-csharp/src/FraiseQL/Schema.cs
  fraiseql-csharp/tests/FraiseQL.Tests/Phase18Cycle15ScopeExtractionTests.cs
Labels: none

feat(rust-sdk): Phase 18 Cycle 16 RED/GREEN - Field scope extraction & validation
  crates/fraiseql-core/tests/integration_rls.rs
  fraiseql-rust/Cargo.toml
  fraiseql-rust/src/field.rs
  fraiseql-rust/src/lib.rs
  fraiseql-rust/src/roles.rs
  fraiseql-rust/src/schema.rs
  fraiseql-rust/tests/phase18_cycle16_scope_extraction_test.rs
Labels: none

chore(phase-18): Update TODO - Rust SDK Cycle 16 complete (63% progress)
  TODO_20260203.md
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
