Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

docs(roadmap): Add comprehensive documentation roadmap for Phases 16-18
  DOCUMENTATION_ROADMAP.md
Labels: documentation

docs(phase-16): Add markdown validation tooling and configuration
  .markdownlint.json
  tools/validate-markdown.py
Labels: none

docs(phase-16): Cycle 2 RED phase complete - 82 broken links identified
  PHASE_16_FINDINGS.md
Labels: documentation

docs: Fix all 200 remaining markdown validation errors
  docs/ALPHA_TESTING_GUIDE.md
  docs/DESIGNING_FOR_FRAISEQL.md
  docs/architecture/ADVANCED_FEATURES_ARCHITECTURE.md
  docs/architecture/README.md
  docs/foundation/01-what-is-fraiseql.md
  docs/guides/analytics-patterns.md
  docs/guides/choosing-fraiseql.md
  docs/guides/clients/README.md
  docs/guides/observability.md
  docs/guides/schema-design-best-practices.md
  docs/guides/view-selection-migration-checklist.md
  docs/integrations/federation/readiness-checklist.md
  docs/integrations/sdk/java-reference.md
  docs/patterns/saga/patterns.md
  docs/specs/compiled-schema.md
Labels: documentation

docs(phase-17): Add D2 diagrams to 9 critical architecture and pattern files
  docs/architecture/core/compilation-vs-runtime.md
  docs/architecture/security/security-model.md
  docs/foundation/06-compilation-pipeline.md
  docs/foundation/07-query-execution-model.md
  docs/foundation/08-data-planes-architecture.md
  docs/guides/choosing-fraiseql.md
  docs/patterns/analytics-olap-platform.md
  docs/patterns/federation-patterns.md
  docs/patterns/realtime-collaboration.md
  docs/patterns/saas-multi-tenant.md
Labels: documentation

docs(phase-17): Fix analytics pattern to reflect FraiseQL fact table design
  docs/patterns/analytics-olap-platform.md
Labels: documentation

docs(phase-17): Add D2 diagrams to observer and consistency pattern guides
  docs/guides/consistency-model.md
  docs/guides/observer-implementation-guide.md
Labels: documentation

docs(phase-17): Add D2 diagrams to e-commerce and SAGA pattern files
  docs/patterns/ecommerce-workflows.md
  docs/patterns/saga/patterns.md
Labels: documentation

docs(phase-17): Fix navigation paths in main README
  docs/README.md
  docs/patterns/analytics-olap-platform.md
Labels: documentation

chore(phase-18): Add D2 diagram SVG generation workflow
  .github/workflows/generate-d2-diagrams.yml
  tools/embed-d2-diagrams.py
Labels: ci

fix(docs): Fix all 51 broken links
  docs/ALPHA_TESTING_GUIDE.md
  docs/SECURITY_CONFIGURATION.md
  docs/TOML_REFERENCE.md
  docs/examples/fullstack-java-nextjs.md
  docs/guides/README.md
  docs/guides/clients/README.md
  docs/guides/clients/react-apollo-guide.md
  docs/integrations/framework-guides/README.md
  docs/integrations/sdk/clojure-reference.md
  docs/integrations/sdk/csharp-reference.md
  docs/integrations/sdk/dart-reference.md
  docs/integrations/sdk/elixir-reference.md
  docs/integrations/sdk/go-reference.md
  docs/integrations/sdk/groovy-reference.md
  docs/integrations/sdk/java-reference.md
  docs/integrations/sdk/kotlin-reference.md
  docs/integrations/sdk/nodejs-reference.md
  docs/integrations/sdk/php-reference.md
  docs/integrations/sdk/python-reference.md
  docs/integrations/sdk/ruby-reference.md
  docs/integrations/sdk/rust-reference.md
  docs/integrations/sdk/scala-reference.md
  docs/integrations/sdk/typescript-reference.md
  docs/patterns/README.md
  docs/patterns/realtime-collaboration.md
  docs/reference/README.md
  docs/tutorials/README.md
  docs/tutorials/fullstack-python-react.md
  docs/tutorials/java-blog-api.md
  docs/tutorials/python-blog-api.md
Labels: documentation

fix(docs): Fix all broken links from lowercase-kebab-case file renaming
  docs/README.md
  docs/alpha-limitations.md
  docs/alpha-testing-guide.md
  docs/guides/authorization-quick-start.md
  docs/integrations/README.md
Labels: documentation

chore: Add Vale prose linting configuration
  .vale.ini
  .vale/config/vocabularies/FraiseQL/FraiseQL.txt
  .vale/vocabularies/FraiseQL.txt
Labels: none

docs(reference): Add comprehensive FraiseQL naming patterns reference
  docs/reference/README.md
  docs/reference/naming-patterns.md
Labels: documentation

ci: Add Vale prose linting to documentation validation workflow
  .github/workflows/docs-validation.yml
Labels: ci

docs(phase-18): Archive phase development documentation
  docs/archive/.phases-archive-v2.0.0-alpha.1.tar.gz
  docs/archive/PHASES_ARCHIVE.md
Labels: documentation

docs(phase-18): Setup documentation site with ReadTheDocs
  .github/workflows/deploy-docs.yml
  .readthedocs.yml
  docs/requirements.txt
  mkdocs.yml
  tools/test-docs-site.py
Labels: documentation, ci

docs(phase-18): Complete cycles 3-6 - Link verification, README update, Changelog, Release notes
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  docs/MAINTENANCE.md
Labels: documentation

docs(phase-18): Complete cycles 7-8 - Cleanup and maintenance plan
  tools/final-doc-verification.sh
Labels: none

chore: Clean up root directory - remove obsolete files
  PHASE_16_FINDINGS.md
  RELEASE_NOTES_v2.0.0-a1.md
  RELEASE_NOTES_v2.1.0-agent.md
  SECURITY.md
  TESTING.md
  TROUBLESHOOTING.md
  docker-compose.clickhouse.yml
  docker-compose.e2e.yml
  docker-compose.elasticsearch.yml
  docker-compose.test.yml
  phase3_baseline_sample.txt
  ta_test.sql
  va_test.sql
Labels: documentation

chore: Clean up root directory and update dependencies
  ALPHA_RELEASE_NOTES.md
  Cargo.lock
  DESIGN_QUALITY_VISION.md
  DEVELOPMENT.md
  DOCUMENTATION_ROADMAP.md
  FINALIZATION_SUMMARY.txt
  FRAISEQL_DESIGN_RULES.md
  GIT_HISTORY_VERIFICATION_REPORT.txt
  IMPLEMENTATION_PROGRESS.md
  LANGUAGE_IMPLEMENTATION_PLAN.md
  PHASE_16_COMPLETE.md
Labels: documentation

deploy: 51416d13f236894468572eda0df14ef32393e4e9
  reference/ltree-operators/index.html
  sitemap.xml
  sitemap.xml.gz
Labels: none

chore: Remove v1-specific workflows from dev branch
  .github/workflows/clippy.yml
  .github/workflows/performance.yml
  .github/workflows/publish.yml
  .github/workflows/python-version-matrix.yml
  .github/workflows/quality-gate.yml
  .github/workflows/version-check.yml
Labels: ci

fix: Update ci.yml to trigger on dev branch instead of v2-development
  .github/workflows/ci.yml
Labels: ci

fix: Remove dead code and unused imports
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-server/tests/api_federation_tests.rs
Labels: none

docs: Clean up SDK reference documentation formatting
  docs/integrations/sdk/README.md
  docs/integrations/sdk/clojure-reference.md
  docs/integrations/sdk/csharp-reference.md
  docs/integrations/sdk/dart-reference.md
  docs/integrations/sdk/elixir-reference.md
  docs/integrations/sdk/go-reference.md
  docs/integrations/sdk/groovy-reference.md
  docs/integrations/sdk/java-reference.md
  docs/integrations/sdk/kotlin-reference.md
  docs/integrations/sdk/nodejs-reference.md
  docs/integrations/sdk/php-reference.md
  docs/integrations/sdk/python-reference.md
  docs/integrations/sdk/ruby-reference.md
  docs/integrations/sdk/rust-reference.md
  docs/integrations/sdk/scala-reference.md
  docs/integrations/sdk/swift-reference.md
  docs/integrations/sdk/typescript-reference.md
Labels: documentation

feat(arrow): Implement Phase 2.3b-2.4 - Executor integration with RLS
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-arrow/tests/flight_auth_test.rs
  crates/fraiseql-arrow/tests/integration_test.rs
  crates/fraiseql-arrow/tests/ta_integration_test.rs
  crates/fraiseql-server/src/arrow/executor_wrapper.rs
  crates/fraiseql-server/src/arrow/mod.rs
Labels: none

chore(format): Apply rustfmt formatting
  crates/fraiseql-arrow/benches/arrow_vs_json_serialization.rs
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/tests/flight_auth_test.rs
  crates/fraiseql-arrow/tests/integration_test.rs
  crates/fraiseql-arrow/tests/ta_integration_test.rs
  crates/fraiseql-core/benches/design_analysis.rs
  crates/fraiseql-core/src/audit/file_backend.rs
  crates/fraiseql-core/src/audit/file_backend_tests.rs
  crates/fraiseql-core/src/audit/mod.rs
  crates/fraiseql-core/src/audit/postgres_backend.rs
  crates/fraiseql-core/src/audit/syslog_backend.rs
  crates/fraiseql-core/src/audit/tests.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/design/authorization.rs
  crates/fraiseql-core/src/design/cache.rs
  crates/fraiseql-core/src/design/compilation.rs
  crates/fraiseql-core/src/design/cost.rs
  crates/fraiseql-core/src/design/federation.rs
  crates/fraiseql-core/src/design/mod.rs
  crates/fraiseql-core/src/design/schema_patterns.rs
  crates/fraiseql-core/src/federation/saga_compensator.rs
  crates/fraiseql-core/src/federation/saga_coordinator.rs
  crates/fraiseql-core/src/federation/saga_executor.rs
  crates/fraiseql-core/src/graphql/directive_rbac_tests.rs
  crates/fraiseql-core/src/graphql/require_permission_directive.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/security/oidc.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-core/src/tenancy/jwt_extraction_tests.rs
  crates/fraiseql-core/src/tenancy/mod.rs
  crates/fraiseql-core/src/tenancy/query_filter_tests.rs
  crates/fraiseql-core/src/tenancy/tests.rs
  crates/fraiseql-core/tests/design_analysis_tests.rs
  crates/fraiseql-core/tests/oidc_audience_validation_test.rs
  crates/fraiseql-server/src/arrow/executor_wrapper.rs
Labels: none

fix(clippy): Resolve all clippy lint warnings
  crates/fraiseql-core/src/audit/mod.rs
  crates/fraiseql-core/src/audit/postgres_backend.rs
  crates/fraiseql-core/src/federation/saga_executor.rs
  crates/fraiseql-core/src/graphql/require_permission_directive.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-core/src/tenancy/jwt_extraction_tests.rs
Labels: none

fix: Resolve remaining test failures and documentation warnings
  .cargo/advisory.toml
  SECURITY_VULNERABILITIES.md
  crates/fraiseql-arrow/src/db_convert.rs
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-cli/src/commands/cost.rs
  crates/fraiseql-cli/src/commands/explain.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-core/src/compiler/ir.rs
  crates/fraiseql-core/src/design/compilation.rs
  crates/fraiseql-core/src/federation/sql_utils.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/security/auth_middleware.rs
  crates/fraiseql-core/src/security/kms/vault.rs
  crates/fraiseql-core/src/security/oidc.rs
  crates/fraiseql-server/tests/deployment_test.rs
  crates/fraiseql-wire/src/stream/query_stream.rs
Labels: documentation

fix(ci): Fix formatting and security audit in CI pipeline
  .cargo/advisory.toml
  .github/workflows/ci.yml
  crates/fraiseql-arrow/src/flight_server.rs
Labels: ci

fix(clippy): Resolve format string and vec macro lint warnings
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-core/src/tenancy/jwt_extraction_tests.rs
Labels: none

fix(clippy): Resolve remaining pedantic and nursery warnings
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/multi_file_loader.rs
Labels: none

docs: Add TODO for CI debugging on Feb 6
  TODO_20260206.md
Labels: documentation

fix(clippy): Resolve 9 compilation-blocking lint errors
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/cost_command_tests.rs
  crates/fraiseql-cli/tests/explain_command_tests.rs
  crates/fraiseql-cli/tests/federation_graph_tests.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
Labels: none

fix(clippy): Resolve all 31 library code lint errors
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-cli/src/commands/analyze.rs
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/federation/graph.rs
  crates/fraiseql-cli/src/commands/generate_views.rs
  crates/fraiseql-cli/src/commands/introspect_facts.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-cli/src/output/mod.rs
  crates/fraiseql-cli/src/schema/converter.rs
Labels: none

fix(clippy): Resolve 9 compilation-blocking lint errors
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/cost_command_tests.rs
  crates/fraiseql-cli/tests/explain_command_tests.rs
  crates/fraiseql-cli/tests/federation_graph_tests.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
Labels: none

fix(clippy): Resolve all 31 library code lint errors
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-cli/src/commands/analyze.rs
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/federation/graph.rs
  crates/fraiseql-cli/src/commands/generate_views.rs
  crates/fraiseql-cli/src/commands/introspect_facts.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-cli/src/output/mod.rs
  crates/fraiseql-cli/src/schema/converter.rs
Labels: none

chore(release): Bump version to 2.0.0-alpha.1
  Cargo.lock
  Cargo.toml
  crates/fraiseql-server/Cargo.toml
Labels: none

fix(ci): Update release workflow for pure Python package publication
  .github/workflows/release.yml
Labels: ci
