Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(cli): entity-identity contract — canonicalize Trinity id: UUID → id: ID (ADR-0017)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/identity.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  docs/adr/0017-entity-identity-contract.md
  docs/architecture/mutation-response.md
Labels: documentation

chore(deny): ignore RUSTSEC-2026-0204 (crossbeam-epoch fmt::Pointer)
  .cargo/audit.toml
  deny.toml
Labels: none

docs(adr-0017): record SpecQL is covered by the compiler backstop
  docs/adr/0017-entity-identity-contract.md
Labels: documentation

fix(sdk-python): emit id: ID for identity fields — honest at source (ADR-0017)
  CHANGELOG.md
  docs/adr/0017-entity-identity-contract.md
  sdks/official/fraiseql-python/src/fraiseql/types.py
  sdks/official/fraiseql-python/tests/test_types.py
Labels: documentation, tests

ci(scala-sdk): add Scala SDK test workflow to gate the id: ID fix (ADR-0017)
  .github/workflows/scala-sdk.yml
  CHANGELOG.md
  docs/adr/0017-entity-identity-contract.md
Labels: documentation, ci

fix(sdk-typescript): emit id: ID for identity fields — honest at source (ADR-0017)
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/registry.test.ts
Labels: none

fix(sdks): emit id: ID for identity fields across all authoring SDKs (ADR-0017)
  CHANGELOG.md
  docs/adr/0017-entity-identity-contract.md
  sdks/community/fraiseql-scala/src/main/scala/com/fraiseql/schema/Schema.scala
  sdks/community/fraiseql-scala/src/test/scala/com/fraiseql/ExportTypesSpec.scala
  sdks/official/fraiseql-csharp/src/FraiseQL/Registry/SchemaRegistry.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Registry/TypeMapper.cs
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/SchemaExporterTests.cs
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/TypeMapperTests.cs
  sdks/official/fraiseql-elixir/lib/fraiseql/schema.ex
  sdks/official/fraiseql-elixir/test/fraiseql/schema_exporter_test.exs
  sdks/official/fraiseql-fsharp/src/FraiseQL/SchemaRegistry.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaRegistryTests.fs
  sdks/official/fraiseql-go/fraiseql/types.go
  sdks/official/fraiseql-go/fraiseql/types_test.go
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/TypeConverter.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/FieldMetadataTest.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/TypeSystemTest.java
  sdks/official/fraiseql-php/src/TypeConverter.php
  sdks/official/fraiseql-php/tests/TypeConverterTest.php
Labels: documentation

ci(sdks): install sbt for Scala; make Elixir credo advisory
  .github/workflows/elixir-sdk.yml
  .github/workflows/scala-sdk.yml
  sdks/community/fraiseql-scala/project/build.properties
Labels: ci

fix(sdk-scala): repair pre-existing broken build (Scala-3 syntax, types, tests)
  sdks/community/fraiseql-scala/build.sbt
  sdks/community/fraiseql-scala/src/main/scala/com/fraiseql/schema/Schema.scala
  sdks/community/fraiseql-scala/src/test/scala/com/fraiseql/ExportTypesSpec.scala
Labels: none

fix(sdk-elixir): repair pre-existing broken DSL so mix test passes
  sdks/official/fraiseql-elixir/lib/fraiseql/schema.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/schema_exporter.ex
Labels: none

refactor(sdk-elixir): clear credo complexity debt; restore credo as a gate
  .github/workflows/elixir-sdk.yml
  sdks/official/fraiseql-elixir/lib/fraiseql/client.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/config.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/schema/legacy.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/scope_validator.ex
  sdks/official/fraiseql-elixir/mix.lock
  sdks/official/fraiseql-elixir/test/client_test.exs
  sdks/official/fraiseql-elixir/test/fraiseql/export_types_test.exs
Labels: ci

fix(core): auto_params queries expose where/orderBy/limit/offset as GraphQL arguments (#499)
  CHANGELOG.md
  crates/fraiseql-cli/tests/generate_client_ts.rs
  crates/fraiseql-codegen/src/client/typescript/emit.rs
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/queries.ts
  crates/fraiseql-core/src/schema/compiled/argument.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/tests/fixtures/federation_compose/catalog.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/reviews_conflict.graphql
Labels: documentation

fix(sdk-python): emit naming_convention so the change-log honours the SDK's camelCase (#500)
  CHANGELOG.md
  crates/fraiseql-cli/tests/compile_changelog_naming_convention.rs
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/tests/test_casing.py
Labels: documentation, tests

test(observers): characterize PostgresAdvisoryLease mutual-exclusion + crash-safety boundary
  crates/fraiseql-observers/tests/advisory_lease_pg.rs
Labels: none

feat(observers): source coordination primitives — cursor store + single-firing runner
  .dagger/main.go
  crates/fraiseql-observers/migrations/13_create_source_cursor.sql
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/migrations/mod.rs
  crates/fraiseql-observers/src/source/cursor.rs
  crates/fraiseql-observers/src/source/mod.rs
  crates/fraiseql-observers/src/source/runner.rs
  crates/fraiseql-observers/src/source/tests.rs
  crates/fraiseql-observers/tests/source_cursor_pg.rs
Labels: none

feat(functions): PullSource trait + scheduling envelope (source ingress backbone)
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-functions/src/triggers/ingest.rs
  crates/fraiseql-functions/src/triggers/mod.rs
  crates/fraiseql-functions/src/triggers/source.rs
  crates/fraiseql-functions/src/triggers/source/tests.rs
  crates/fraiseql-observers/src/dispatch.rs
  crates/fraiseql-observers/src/dispatch/tests.rs
Labels: none

feat(server): reimplement email as the reference native PullSource (#573 Phase 03)
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-functions/src/migrations/mod.rs
  crates/fraiseql-functions/src/triggers/source.rs
  crates/fraiseql-functions/src/triggers/source/tests.rs
  crates/fraiseql-server/src/inbound/email/cursor.rs
  crates/fraiseql-server/src/inbound/email/imap.rs
  crates/fraiseql-server/src/inbound/email/mod.rs
  crates/fraiseql-server/src/inbound/email/poller.rs
  crates/fraiseql-server/src/inbound/email/sink.rs
  crates/fraiseql-server/src/inbound/email/sink/tests.rs
  crates/fraiseql-server/src/inbound/email/source.rs
  crates/fraiseql-server/src/inbound/email/source/tests.rs
  crates/fraiseql-server/src/inbound/email/store.rs
  crates/fraiseql-server/src/inbound/email/worker.rs
  crates/fraiseql-server/src/inbound/email/worker/tests.rs
  crates/fraiseql-server/src/server/lifecycle.rs
Labels: documentation

feat(functions): Deno guest cursor ops for Model B sources (#573 Phase 04)
  crates/fraiseql-functions/src/host/dyn_context.rs
  crates/fraiseql-functions/src/host/live/mod.rs
  crates/fraiseql-functions/src/host/mod.rs
  crates/fraiseql-functions/src/runtime/deno/cursor_tests.rs
  crates/fraiseql-functions/src/runtime/deno/executor.rs
  crates/fraiseql-functions/src/runtime/deno/mod.rs
  crates/fraiseql-functions/src/runtime/deno/ops/mod.rs
Labels: none

feat(core,cli): compiled sources section — SourceDefinition + validation (#573 Phase 05)
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/mod.rs
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/source_types.rs
  crates/fraiseql-core/src/schema/source_types/tests.rs
Labels: none

feat(core,cli): source run_as + SystemJob identity (#573 Phase 06 Step 1)
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/source_types.rs
  crates/fraiseql-core/src/schema/source_types/tests.rs
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/src/security/tests.rs
Labels: documentation

feat(server): SourceQueryExecutor bridge + sources feature (#573 Phase 06 Step 2)
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/sources/executor.rs
  crates/fraiseql-server/src/sources/executor/tests.rs
  crates/fraiseql-server/src/sources/mod.rs
Labels: none

feat(server,functions): SourcePoller scheduler loop (#573 Phase 06 Step 3)
  crates/fraiseql-functions/src/host/live/mod.rs
  crates/fraiseql-functions/src/host/live/tests.rs
  crates/fraiseql-server/src/sources/mod.rs
  crates/fraiseql-server/src/sources/poller.rs
  crates/fraiseql-server/src/sources/poller/tests.rs
Labels: none

feat(server): wire the source scheduler into the lifecycle (#573 Phase 06 Step 4)
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/sources/mod.rs
  crates/fraiseql-server/src/sources/scheduler.rs
  crates/fraiseql-server/src/sources/scheduler/tests.rs
Labels: none

test(server,ci): source CI wiring + Model B E2E (#573 Phase 06 Step 5)
  .dagger/main.go
  .github/workflows/release-smoke.yml
  crates/fraiseql-server/src/sources/poller/tests.rs
  docker/e2e/schema.with-source.compiled.json
Labels: ci

chore(server): resolve preflight lints for the source scheduler (#573 Phase 06)
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/sources/executor.rs
  crates/fraiseql-server/src/sources/poller/tests.rs
Labels: none

feat(sdk-ts): @Source authoring decorator for scheduled ingress (#573 Phase 07)
  sdks/official/fraiseql-typescript/src/__tests__/sources.test.ts
  sdks/official/fraiseql-typescript/src/index.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/src/sources.ts
Labels: none

feat(sdk-python): @fraiseql.source authoring decorator for scheduled ingress (#573 Phase 07)
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/tests/test_sources.py
Labels: tests

docs(sdk-ts): runnable Model B source example — connector + authoring (#573 Phase 07)
  sdks/official/fraiseql-typescript/examples/scheduled_source.ts
  sdks/official/fraiseql-typescript/examples/sources/poll_orders.connector.ts
Labels: none

feat(sources): observability for scheduled ingress — metrics, logs, status, guide (#573 Phase 08)
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/sources/mod.rs
  crates/fraiseql-cli/src/commands/sources/reader.rs
  crates/fraiseql-cli/src/commands/sources/tests.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/tests/sources_against_db.rs
  crates/fraiseql-functions/src/host/live/mod.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/sources/metrics.rs
  crates/fraiseql-server/src/sources/metrics/tests.rs
  crates/fraiseql-server/src/sources/mod.rs
  crates/fraiseql-server/src/sources/poller.rs
  crates/fraiseql-server/src/sources/poller/tests.rs
  crates/fraiseql-server/src/sources/scheduler.rs
  crates/fraiseql-server/src/sources/scheduler/tests.rs
  docs/architecture/README.md
  docs/architecture/inbound-email.md
  docs/architecture/sources.md
Labels: documentation

chore(sources): finalize scheduled ingress (#573 Phase 09)
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/sources/mod.rs
  crates/fraiseql-cli/src/commands/sources/reader.rs
  crates/fraiseql-core/src/schema/source_types.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-functions/src/triggers/source/tests.rs
  crates/fraiseql-observers/src/source/runner.rs
  crates/fraiseql-server/src/inbound/email/sink.rs
  crates/fraiseql-server/src/sources/executor.rs
  crates/fraiseql-server/src/sources/executor/tests.rs
  crates/fraiseql-server/src/sources/metrics.rs
  crates/fraiseql-server/src/sources/mod.rs
  crates/fraiseql-server/src/sources/poller.rs
  crates/fraiseql-server/src/sources/poller/tests.rs
  crates/fraiseql-server/src/sources/scheduler.rs
  crates/fraiseql-server/src/sources/scheduler/tests.rs
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-typescript/examples/scheduled_source.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/src/sources.ts
Labels: documentation

chore(release): prepare v2.12.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation

fix(release): drop dead libssl apt pre-build breaking the aarch64 binary
  Cross.toml
Labels: none

fix(ci): pass both email test filters to libtest, not cargo
  .dagger/main.go
Labels: none

chore(deps): cargo sweep — arrow 59, bb8 0.9, 15 grouped minors
  .github/workflows/bench.yml
  .github/workflows/benchmark-velocity.yml
  .github/workflows/benchmarks.yml
  .github/workflows/docker-build.yml
  .github/workflows/feature-flags.yml
  .github/workflows/fuzz.yml
  .github/workflows/mutation.yml
  .github/workflows/perf-baseline.yml
  .github/workflows/release.yml
  .github/workflows/rust-sdk.yml
  .github/workflows/sbom-generation.yml
  Cargo.lock
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/src/flight_server/convert.rs
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-observers/Cargo.toml
  deny.toml
Labels: ci

chore(deps): TS SDK dev-dep bumps + tests/ tsconfig for vite 8.1
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/tests/tsconfig.json
Labels: none

chore(ci): actions pin bumps (#561–#565) with pairing fixes
  .github/workflows/bench.yml
  .github/workflows/docker-build.yml
  .github/workflows/sbom-generation.yml
Labels: ci

fix(test): stop force-running ignore-fenced doctests in --ignored suites
  Makefile
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
  crates/fraiseql-core/src/compiler/window_functions/mod.rs
  crates/fraiseql-core/src/types/ids.rs
Labels: none

test(functions): pin baseline gaps for the platform-maturity train
  crates/fraiseql-server/src/observers/runtime/tests.rs
  crates/fraiseql-server/tests/functions_platform_pins_test.rs
  crates/fraiseql-server/tests/functions_query_bridge_pin_test.rs
  crates/fraiseql-server/tests/subscription_row_visibility_pin_test.rs
Labels: none

feat(release): ship a feature-complete `-full` release binary variant
  .github/workflows/feature-flags.yml
  .github/workflows/release-smoke.yml
  .github/workflows/release.yml
  CHANGELOG.md
  crates/fraiseql/Cargo.toml
  docs/releases.md
Labels: documentation, ci

feat(functions): wire the fraiseql_query bridge into after:mutation under run_as (#594)
  CHANGELOG.md
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-functions/src/types.rs
  crates/fraiseql-functions/src/types/tests.rs
  crates/fraiseql-server/src/inbound/email/sink.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/query_bridge.rs
  crates/fraiseql-server/src/query_bridge/tests.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/rest/handler/mutation.rs
  crates/fraiseql-server/src/sources/executor.rs
  crates/fraiseql-server/src/subsystems/mod.rs
  crates/fraiseql-server/tests/functions_platform_pins_test.rs
  crates/fraiseql-server/tests/functions_query_bridge_pin_test.rs
  docs/architecture/functions.md
Labels: documentation
