Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

chore: update __version__ to 0.7.6-beta.1
  src/fraiseql/__init__.py
Labels: none

fix: Enable Error.__json__() method in FraiseQLJSONEncoder
  src/fraiseql/fastapi/json_encoder.py
  tests/unit/types/test_fraiseql_json_encoder_integration.py
  uv.lock
Labels: tests

chore: bump version to 0.7.6-beta.2
  pyproject.toml
  src/fraiseql/__init__.py
Labels: config, dependencies

chore: release v0.7.6 stable
  pyproject.toml
  src/fraiseql/__init__.py
Labels: config, dependencies

🐛 Fix critical psycopg %r placeholder bug in string contains filters
  src/fraiseql/db.py
  uv.lock
Labels: none

🔧 Refine fix: handle SQL objects with params correctly
  src/fraiseql/db.py
Labels: none

🔧 Final fix: handle all Composed/SQL parameter combinations correctly
  src/fraiseql/db.py
Labels: none

📝 Update test to reflect new query building behavior
  tests/integration/database/repository/test_dual_mode_repository_unit.py
Labels: tests

📝 Update find_one_query test for new behavior
  tests/integration/database/repository/test_dual_mode_repository_unit.py
Labels: tests

📝 Update query timeout test for new parameter behavior
  tests/regression/v0_4_0/test_query_timeout_bug.py
Labels: tests

🐛 Fix critical psycopg %r placeholder bug in string contains filters (#43)
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  src/fraiseql/db.py
  src/fraiseql/fastapi/json_encoder.py
  src/fraiseql/types/errors.py
  tests/integration/database/repository/test_dual_mode_repository_unit.py
  tests/regression/v0_4_0/test_query_timeout_bug.py
  tests/system/cli/test_main.py
  tests/unit/types/test_error_json_serialization.py
  tests/unit/types/test_fraiseql_json_encoder_integration.py
  uv.lock
Labels: documentation, tests, types, cli, config, dependencies

chore: release v0.7.7 stable
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

Fix TurboRouter hash normalization for backward compatibility
  examples/printoptim_backend_integration.py
  src/fraiseql/fastapi/turbo.py
  tests/test_turbo_router_hash_issue.py
  uv.lock
Labels: tests

Fix TurboRouter hash normalization for backward compatibility (#44)
  examples/printoptim_backend_integration.py
  src/fraiseql/fastapi/turbo.py
  tests/test_turbo_router_hash_issue.py
  uv.lock
Labels: tests

chore: release v0.7.8 - TurboRouter hash normalization fix
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

Fix camelCase to snake_case conversion for numbered ID fields
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/utils/naming.py
  tests/regression/test_field_conversion_underscore_number_id_bug.py
  tests/regression/test_printoptim_backend_bug_reproduction.py
  tests/unit/utils/test_camel_to_snake_numbered_id_bug.py
  uv.lock
Labels: documentation, tests, config, dependencies

Fix camelCase to snake_case conversion for numbered ID fields (#45)
  src/fraiseql/utils/naming.py
  tests/regression/test_field_conversion_underscore_number_id_bug.py
  tests/regression/test_printoptim_backend_bug_reproduction.py
  tests/unit/utils/test_camel_to_snake_numbered_id_bug.py
  uv.lock
Labels: tests

chore: release v0.7.9 - Field conversion bug fix
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

Fix nested array resolution for JSONB fields in GraphQL
  src/fraiseql/core/graphql_type.py
Labels: core

chore: release v0.7.10-beta.1 - Nested array JSONB field resolution fix
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

chore: release v0.7.10-beta.2 - JSONPassthrough nested array fix
  pyproject.toml
  src/fraiseql/core/graphql_type.py
  uv.lock
Labels: core, config, dependencies

Fix JSONPassthrough nested array conversion bug (v0.7.10-beta.2) (#46)
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/core/graphql_type.py
  uv.lock
Labels: documentation, core, config, dependencies

feat: Fix JSONPassthrough nested array conversion bug (v0.7.10)
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
Labels: tests, cli, config, dependencies

feat: Fix JSONPassthrough nested array conversion bug (v0.7.10) (#47)
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
Labels: tests, cli, config, dependencies

Implement nested array Where type filtering for FraiseQL v0.7.10+
  NESTED_ARRAY_WHERE_FILTERING_IMPLEMENTATION.md
  example_nested_array_where_filtering.py
  src/fraiseql/core/graphql_type.py
  src/fraiseql/core/nested_field_resolver.py
  src/fraiseql/fields.py
  src/fraiseql/sql/graphql_where_generator.py
  uv.lock
Labels: documentation, core, sql

feat: Complete nested array WHERE filtering with logical operators
  .gitignore
  NESTED_ARRAY_WHERE_FILTERING_IMPLEMENTATION.md
  README.md
  docs/nested-array-filtering.md
  example_nested_array_where_filtering.py
  examples/README.md
  examples/nested_array_filtering.py
  src/fraiseql/core/nested_field_resolver.py
  src/fraiseql/nested_array_filters.py
Labels: documentation, core

fix: Add test files and remove incorrect gitignore pattern
  .gitignore
  tests/integration/database/repository/test_nested_array_field_resolution.py
  tests/test_end_to_end_nested_array_where.py
  tests/test_integration_where_field.py
  tests/test_nested_array_logical_operators.py
  tests/test_nested_array_registry.py
  tests/test_nested_array_resolver_where.py
  tests/test_nested_array_where_filtering.py
  tests/test_nested_array_where_integration.py
Labels: tests

fix: Add missing asyncio import to end-to-end nested array test
  tests/test_end_to_end_nested_array_where.py
Labels: tests

🔴 RED: Add failing test for conflict entity instantiation bug
  tests/unit/mutations/test_conflict_entity_instantiation_bug_fix.py
Labels: tests

🟢 GREEN: Implement minimal fix for conflict entity instantiation
  src/fraiseql/mutations/parser.py
  tests/unit/mutations/test_conflict_entity_instantiation_bug_fix.py
Labels: tests, mutations

🔵 REFACTOR: Extract conflict field population to dedicated function
  src/fraiseql/mutations/parser.py
Labels: mutations

🧹 MARIE KONDO: Clean up PrintOptim backend entity references
  examples/printoptim_backend_integration.py
  tests/fixtures/common/test_fraiseql_patterns.py
  tests/unit/mutations/test_all_entity_types_conflict_resolution.py
Labels: tests

chore: Update uv.lock after dependency changes
  uv.lock
Labels: none

🐛 Fix FraiseQL v0.7.10 Conflict Entity Instantiation Bug + Marie Kondo Cleanup (#50)
  examples/printoptim_backend_integration.py
  src/fraiseql/mutations/parser.py
  tests/fixtures/common/test_fraiseql_patterns.py
  tests/unit/mutations/test_all_entity_types_conflict_resolution.py
  tests/unit/mutations/test_conflict_entity_instantiation_bug_fix.py
  uv.lock
Labels: tests, mutations

Release v0.7.11 - Update version information across codebase
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
  tests/unit/mutations/test_conflict_entity_instantiation_bug_fix.py
Labels: tests, cli, config, dependencies

Update uv.lock for v0.7.11 version
  uv.lock
Labels: none

🐛 Fix FraiseQL v0.7.12 Conflict Auto-Population + Enhanced CLI Description
  CONFLICT_AUTO_POPULATION_FIX_SUMMARY.md
  pyproject.toml
  scripts/verification/fraiseql_v055_network_issues_test_cases.py
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  src/fraiseql/mutations/parser.py
  tests/regression/test_conflict_auto_population_failures.py
  tests/regression/test_conflict_auto_population_fixes.py
  tests/system/cli/test_main.py
  uv.lock
Labels: documentation, tests, mutations, cli, config, dependencies

🧹 Remove obsolete RED tests - features now work correctly
  tests/regression/test_conflict_auto_population_failures.py
Labels: tests

🐛 Fix FraiseQL v0.7.12 Conflict Auto-Population + Enhanced CLI Description (#51)
  CONFLICT_AUTO_POPULATION_FIX_SUMMARY.md
  pyproject.toml
  scripts/verification/fraiseql_v055_network_issues_test_cases.py
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  src/fraiseql/mutations/parser.py
  tests/regression/test_conflict_auto_population_fixes.py
  tests/system/cli/test_main.py
  uv.lock
Labels: documentation, tests, mutations, cli, config, dependencies

🐛 Fix nested input object field name conversion inconsistency
  src/fraiseql/mutations/sql_generator.py
  tests/unit/mutations/test_nested_input_conversion.py
Labels: tests, mutations
