Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(examples): #438 — harden example apps shipping insecure copy-to-prod patterns
  CHANGELOG.md
  examples/analytics_dashboard/requirements.lock
  examples/analytics_dashboard/requirements.txt
  examples/async-jobs-subgraph/router/router.yaml
  examples/cascade-create-post/requirements.lock
  examples/cascade-create-post/requirements.txt
  examples/ecommerce_api/db/functions/customer_functions.sql
  examples/ecommerce_api/db/migrations/001_initial_schema.sql
  examples/multitenant/README.md
  examples/multitenant/fraiseql.toml
Labels: documentation

fix(examples): #446 — make the ecommerce_api example DB initialize cleanly
  CHANGELOG.md
  examples/ecommerce_api/db/functions/customer_functions.sql
  examples/ecommerce_api/db/migrations/001_initial_schema.sql
  examples/ecommerce_api/db/views/customer_order_views.sql
  examples/ecommerce_api/db/views/product_views.sql
  examples/ecommerce_api/docker-compose.yml
Labels: documentation

feat(auth): #411 — durable PostgresAccountStore (core.tb_user / tb_auth_identity)
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  Makefile
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/account_linking/mod.rs
  crates/fraiseql-auth/src/account_linking/postgres.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/tests/postgres_account_store.rs
  docs/auth/identity-store.md
Labels: documentation

fix(auth): #411 — drop rustdoc link to the private postgres module
  crates/fraiseql-auth/src/account_linking/postgres.rs
Labels: none

feat(auth): #412 — Argon2id local-password authenticator
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/error.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/local_password.rs
  crates/fraiseql-auth/src/local_password/tests.rs
  crates/fraiseql-auth/src/middleware.rs
  crates/fraiseql-auth/tests/local_password.rs
  docs/auth/local-password.md
Labels: documentation

feat(auth): #367 — non-enumerable password reset for local accounts
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/local_password.rs
  crates/fraiseql-auth/src/local_password/reset.rs
  crates/fraiseql-auth/src/local_password/reset/tests.rs
  crates/fraiseql-auth/tests/password_reset.rs
  docs/auth/local-password.md
Labels: documentation

fix(auth): #367 — wrap the password_reset test allow attribute for rustfmt
  crates/fraiseql-auth/tests/password_reset.rs
Labels: none

feat(auth): #368 — provider email-trust gate for social auto-linking
  .dagger/main.go
  crates/fraiseql-auth/src/account_linking/mod.rs
  crates/fraiseql-auth/src/account_linking/tests.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/multi_provider.rs
  crates/fraiseql-auth/src/multi_provider/tests.rs
  crates/fraiseql-auth/src/tests.rs
  crates/fraiseql-auth/tests/social_linking.rs
Labels: none

feat(auth): #381 — native SAML 2.0 SP-initiated SSO + ACS (auth-saml)
  .dagger/main.go
  .github/workflows/dagger-integration.yml
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/saml/config.rs
  crates/fraiseql-auth/src/saml/handler.rs
  crates/fraiseql-auth/src/saml/linking.rs
  crates/fraiseql-auth/src/saml/mod.rs
  crates/fraiseql-auth/src/saml/replay.rs
  crates/fraiseql-auth/src/saml/tests.rs
  crates/fraiseql-auth/src/saml/verify.rs
  crates/fraiseql-auth/tests/saml_sso.rs
  deny.toml
  docs/auth/saml-sso.md
Labels: documentation, ci

fix(ci): #381 — provide xmlsec1 in rustBase so --all-features builds auth-saml
  .dagger/main.go
Labels: none

test(db): #445 — route adapter integration tests through the env-URL harness; document NoTls
  CHANGELOG.md
  crates/fraiseql-db/src/mysql/adapter/tests.rs
  crates/fraiseql-db/src/postgres/adapter/integration_tests.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/introspector/tests.rs
  crates/fraiseql-db/src/sqlserver/adapter/tests.rs
  crates/fraiseql-test-support/src/db.rs
  crates/fraiseql-test-support/src/db/tests.rs
  crates/fraiseql-test-support/src/lib.rs
Labels: documentation

feat(webhooks): #431 — genuinely-real inbound receiver pipeline (atomic idempotency + transactional handoff)
  .dagger/main.go
  Cargo.lock
  crates/fraiseql-webhooks/Cargo.toml
  crates/fraiseql-webhooks/README.md
  crates/fraiseql-webhooks/src/idempotency.rs
  crates/fraiseql-webhooks/src/lib.rs
  crates/fraiseql-webhooks/src/pipeline.rs
  crates/fraiseql-webhooks/src/pipeline/tests.rs
  crates/fraiseql-webhooks/src/secret.rs
  crates/fraiseql-webhooks/src/secret/tests.rs
  crates/fraiseql-webhooks/src/testing.rs
  crates/fraiseql-webhooks/src/traits.rs
  crates/fraiseql-webhooks/src/transaction.rs
  crates/fraiseql-webhooks/tests/inbound_pipeline_pg.rs
Labels: none

feat(observers): #428 — real Redis cache-invalidation transport (escape-then-substitute glob safety)
  .dagger/main.go
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/cache/glob.rs
  crates/fraiseql-observers/src/cache/mod.rs
  crates/fraiseql-observers/src/cache/redis.rs
  crates/fraiseql-observers/src/cache/tests.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/config/tests.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/executor/mod.rs
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/tests/cache_invalidation_redis.rs
Labels: none

feat(federation): #429 — real distributed saga forward execution (unstable-saga, additive local-SQL dispatch)
  .dagger/feature-combos.go
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_executor/forward.rs
  crates/fraiseql-federation/src/saga_executor/forward/tests.rs
  crates/fraiseql-federation/src/saga_executor/mod.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/tests/saga_integration.rs
Labels: documentation

feat(cdc): #382 phase-00 — fraiseql-cdc-sinks scaffold + pure logic
  Cargo.lock
  Cargo.toml
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-cdc-sinks/src/drain.rs
  crates/fraiseql-cdc-sinks/src/drain/tests.rs
  crates/fraiseql-cdc-sinks/src/error.rs
  crates/fraiseql-cdc-sinks/src/event.rs
  crates/fraiseql-cdc-sinks/src/event/tests.rs
  crates/fraiseql-cdc-sinks/src/lib.rs
  crates/fraiseql-cdc-sinks/src/migrations.rs
  crates/fraiseql-cdc-sinks/src/migrations/tests.rs
  crates/fraiseql-cdc-sinks/src/nats.rs
  crates/fraiseql-cdc-sinks/src/sink.rs
  crates/fraiseql-cdc-sinks/src/sink/tests.rs
Labels: none

feat(cdc): #382 phase-01 — NATS JetStream sink + outbox drain, end-to-end
  .dagger/feature-combos.go
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-cdc-sinks/tests/cdc_drain_pg.rs
  crates/fraiseql-cdc-sinks/tests/cdc_nats_e2e.rs
Labels: documentation

test(cdc): #382 — align shared change-log table's object_data to nullable
  crates/fraiseql-cdc-sinks/tests/cdc_drain_pg.rs
  crates/fraiseql-cdc-sinks/tests/cdc_nats_e2e.rs
Labels: none

docs(audit): #439 — sweep docs/tutorial for post-remediation accuracy
  README.md
  docs/adr/0003-feature-flag-strategy.md
  docs/adr/0004-server-crate-decomposition.md
  docs/adr/0007-crypto-algorithm-choices.md
  docs/architecture/external-write-capture.md
  docs/architecture/federation.md
  docs/architecture/overview.md
  docs/architecture/storage.md
  docs/architecture/webhooks.md
  docs/database-compatibility.md
  docs/guides/changelog-graphql.md
  docs/guides/federation-saga.md
  docs/guides/production-security-checklist.md
  docs/modules/fact-table.md
  docs/operations/compiled-schema-lifecycle.md
  docs/runbooks/08-vault-unavailable.md
  docs/runbooks/10-certificate-rotation.md
  docs/runbooks/README.md
  docs/security/graphql-complexity-limits.md
  docs/security/threat-model.md
  docs/sla.md
  docs/testing-matrix.md
  docs/testing.md
  docs/value-proposition.md
  tutorial/README.md
Labels: documentation

feat(db): wire DirectSql strategy so SQLite supports Insert/Delete mutations
  README.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-server/src/url_guard.rs
  crates/fraiseql-server/src/url_guard/tests.rs
  docs/architecture/overview.md
  docs/database-compatibility.md
Labels: documentation

docs(audit): #439 — sweep docs/tutorial for post-remediation accuracy
  README.md
  docs/adr/0003-feature-flag-strategy.md
  docs/adr/0004-server-crate-decomposition.md
  docs/adr/0007-crypto-algorithm-choices.md
  docs/architecture/external-write-capture.md
  docs/architecture/federation.md
  docs/architecture/overview.md
  docs/architecture/storage.md
  docs/architecture/webhooks.md
  docs/database-compatibility.md
  docs/guides/changelog-graphql.md
  docs/guides/federation-saga.md
  docs/guides/production-security-checklist.md
  docs/modules/fact-table.md
  docs/operations/compiled-schema-lifecycle.md
  docs/runbooks/08-vault-unavailable.md
  docs/runbooks/10-certificate-rotation.md
  docs/runbooks/README.md
  docs/security/graphql-complexity-limits.md
  docs/security/threat-model.md
  docs/sla.md
  docs/testing-matrix.md
  docs/testing.md
  docs/value-proposition.md
  tutorial/README.md
Labels: documentation

feat(db): wire DirectSql strategy so SQLite supports Insert/Delete mutations
  README.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-server/src/url_guard.rs
  crates/fraiseql-server/src/url_guard/tests.rs
  docs/architecture/overview.md
  docs/database-compatibility.md
Labels: documentation

docs(changelog): backfill #428/#431/SQLite-mutations/#439 entries before v2.9.0 cut
  CHANGELOG.md
Labels: documentation

chore(release): prepare v2.9.0
  .dagger/release.go
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.toml
  crates/fraiseql-auth/fuzz/Cargo.toml
  crates/fraiseql-cdc-sinks/README.md
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.toml
  crates/fraiseql-wire/fuzz/Cargo.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package-lock.json
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: documentation

fix(core): resolve root { __typename } to the operation type name (#450)
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/support/authz.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/planning.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
Labels: none

fix(core): handle __typename in multi-root selection sets (#450)
  crates/fraiseql-core/src/runtime/executor/support/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
Labels: none

fix(db): surface PostgreSQL diagnostic on statement-prepare failure (#451)
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/tests/prepare_error_diagnostic.rs
Labels: none

test(server): regression gates for root { __typename } (#450)
  .github/workflows/release-smoke.yml
  crates/fraiseql-server/tests/typename_e2e_test.rs
Labels: ci

fix(core): honor @skip/@include on root __typename + changelog (#450/#451)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
Labels: documentation

fix(db): surface PostgreSQL diagnostic on statement-prepare failure (#451)
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/tests/prepare_error_diagnostic.rs
Labels: none

docs: rewrap issue-ref lines so markdownlint MD025 stops firing
  docs/architecture/change-log-contract.md
  docs/auth/local-password.md
Labels: documentation

test(server): regression gates for root { __typename } (#450)
  .github/workflows/release-smoke.yml
  crates/fraiseql-server/tests/typename_e2e_test.rs
Labels: ci

fix(core): honor @skip/@include on root __typename + changelog (#450/#451)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
Labels: documentation

fix(core): handle __typename in multi-root selection sets (#450)
  crates/fraiseql-core/src/runtime/executor/support/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
Labels: none

fix(core): resolve root { __typename } to the operation type name (#450)
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/support/authz.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/planning.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
Labels: none

docs: rewrap issue-ref lines so markdownlint MD025 stops firing
  docs/architecture/change-log-contract.md
  docs/auth/local-password.md
Labels: documentation

fix(core): make introspection detector AST-accurate; __typename never disableable (#454)
  crates/fraiseql-core/src/security/introspection_enforcer.rs
  crates/fraiseql-core/src/security/tests.rs
Labels: none

feat(server): derive IntrospectionPolicy from config onto AppState (#453)
  crates/fraiseql-core/src/security/introspection_enforcer.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server/routing/state.rs
Labels: none

feat(server): enforce IntrospectionPolicy on the GraphQL request path (#453)
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/tests/introspection_gate_e2e_test.rs
Labels: none

docs(core): describe IntrospectionEnforcer as an invoked control (#453)
  crates/fraiseql-core/src/security/introspection_enforcer.rs
Labels: none

fix(core): recase declared Input-type keys to snake_case on the single-JSONB mutation path (#456)
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
Labels: none
