Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

📚 Convert 4 single-file examples to directories with comprehensive READMEs
  examples/documented_api/README.md
  examples/documented_api/main.py
  examples/documented_api/requirements.txt
  examples/documented_api/schema.sql
  examples/filtering/README.md
  examples/filtering/main.py
  examples/filtering/requirements.txt
  examples/hybrid_tables/README.md
  examples/hybrid_tables/main.py
  examples/hybrid_tables/requirements.txt
  examples/specialized_types/README.md
  examples/specialized_types/main.py
  examples/specialized_types/requirements.txt
Labels: none

🔖 Release v0.10.4: Comprehensive examples documentation
  pyproject.toml
Labels: config, dependencies

📊 Baseline: Document current codebase state before cleanup
  tests/integration/database/repository/test_dict_where_mixed_filters_bug.py
Labels: tests

♻️ Phase 2 POC: Consolidate SQL operator builders
  src/fraiseql/sql/where/operators/base_builders.py
  src/fraiseql/sql/where/operators/date.py
  src/fraiseql/sql/where/operators/datetime.py
  uv.lock
Labels: sql

♻️ Complete SQL operator consolidation across 8 types
  src/fraiseql/sql/where/operators/base_builders.py
  src/fraiseql/sql/where/operators/email.py
  src/fraiseql/sql/where/operators/hostname.py
  src/fraiseql/sql/where/operators/ltree.py
  src/fraiseql/sql/where/operators/mac_address.py
  src/fraiseql/sql/where/operators/network.py
  src/fraiseql/sql/where/operators/port.py
Labels: sql

🔧 Fix type annotation warnings in query_analyzer
  src/fraiseql/analysis/query_analyzer.py
Labels: none

✨ Add composable HealthCheck utility with pre-built checks
  docs/deployment/monitoring.md
  examples/health_check_example.py
  src/fraiseql/monitoring/__init__.py
  src/fraiseql/monitoring/health.py
  src/fraiseql/monitoring/health_checks.py
  tests/monitoring/test_health_check.py
  tests/monitoring/test_health_check_database.py
Labels: documentation, tests

🔖 Release v0.11.0: Composable HealthCheck utility
  docs/releases/README.md
  docs/releases/v0.10.0.md
  docs/releases/v0.10.1.md
  docs/releases/v0.10.2.md
  docs/releases/v0.10.3.md
  docs/releases/v0.10.4.md
  docs/releases/v0.11.0.md
  docs/releases/v0.9.2.md
  docs/releases/v0.9.3.md
  docs/releases/v0.9.4.md
  docs/releases/v0.9.5.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

📚 Add comprehensive docs-v2: Enterprise documentation revamp
  docs-v2/.gitkeep
  docs-v2/README.md
  docs-v2/advanced/authentication.md
  docs-v2/advanced/bounded-contexts.md
  docs-v2/advanced/database-patterns.md
  docs-v2/advanced/event-sourcing.md
  docs-v2/advanced/llm-integration.md
  docs-v2/advanced/multi-tenancy.md
  docs-v2/api-reference/config.md
  docs-v2/api-reference/database.md
  docs-v2/api-reference/decorators.md
  docs-v2/core/configuration.md
  docs-v2/core/database-api.md
  docs-v2/core/queries-and-mutations.md
  docs-v2/core/types-and-schema.md
  docs-v2/performance/index.md
  docs-v2/production/deployment.md
  docs-v2/production/monitoring.md
  docs-v2/production/security.md
  docs-v2/quickstart.md
Labels: none

📚 Add beginner-friendly tutorials to docs-v2
  docs-v2/README.md
  docs-v2/quickstart.md
  docs-v2/tutorials/beginner-path.md
  docs-v2/tutorials/blog-api.md
  docs-v2/tutorials/production-deployment.md
Labels: none

🔗 Fix broken internal documentation links
  docs/advanced/authentication.md
  docs/advanced/bounded-contexts.md
  docs/advanced/event-sourcing.md
  docs/advanced/llm-integration.md
  docs/advanced/multi-tenancy.md
  docs/api-reference/config.md
  docs/api-reference/database.md
  docs/api-reference/decorators.md
  docs/core/configuration.md
  docs/production/deployment.md
  docs/production/monitoring.md
Labels: documentation

📝 Fix LLM integration docs to use correct Fields: syntax
  docs/advanced/llm-integration.md
Labels: documentation

📚 Document FraiseQL innovative features
  docs/api-reference/database.md
  docs/api-reference/decorators.md
  docs/monitoring/health-checks.md
Labels: documentation

✅ Phase 2 Complete: Fix pre-commit YAML validation (TDD)
  .pre-commit-config.yaml
  .yamllint.yaml
  V1_TDD_PLAN.md
Labels: documentation, config

✅ Phase 1 Complete: Kubernetes readiness endpoint with database health checks (TDD)
  src/fraiseql/monitoring/health.py
  tests/integration/monitoring/test_health_endpoint.py
Labels: tests

✅ Phase 3 Complete: Rust integration verified and production-ready (TDD)
  tests/integration/rust/test_python_integration.py
Labels: tests

✅ Phase 4 Progress: Reduce type errors by 38% (29→18) (TDD)
  src/fraiseql/execution/unified_executor.py
  src/fraiseql/sql/where/operators/basic.py
  src/fraiseql/sql/where/operators/lists.py
  src/fraiseql/sql/where/operators/logical.py
Labels: sql

✅ Perfect 10/10: Zero errors, PostgreSQL-native observability stack
  grafana/README.md
  pyproject.toml
  src/fraiseql/auth/token_revocation.py
  src/fraiseql/caching/__init__.py
  src/fraiseql/caching/postgres_cache.py
  src/fraiseql/caching/redis_cache.py
  src/fraiseql/decorators.py
  src/fraiseql/fastapi/routers.py
  src/fraiseql/graphql/execute.py
  src/fraiseql/middleware/apq.py
  src/fraiseql/middleware/rate_limiter.py
  src/fraiseql/monitoring/__init__.py
  src/fraiseql/monitoring/notifications.py
  src/fraiseql/monitoring/postgres_error_tracker.py
  src/fraiseql/monitoring/schema.sql
  src/fraiseql/monitoring/sentry.py
  src/fraiseql/sql/__init__.py
  src/fraiseql/storage/backends/__init__.py
  src/fraiseql/storage/backends/factory.py
  src/fraiseql/storage/backends/redis.py
  src/fraiseql/tracing/opentelemetry.py
  src/fraiseql/types/fraise_type.py
  tests/monitoring/test_sentry.py
  tests/storage/backends/test_factory.py
  uv.lock
Labels: tests, types, sql, config, dependencies

♻️ Complete PostgreSQL migration: Token revocation & rate limiting
  README.md
  docs/README.md
  docs/core/fraiseql-philosophy.md
  docs/production/monitoring.md
  docs/production/observability.md
  examples/README.md
  examples/caching_example.py
  examples/security_features_example.py
  src/fraiseql/auth/__init__.py
  src/fraiseql/auth/token_revocation.py
  src/fraiseql/middleware/__init__.py
  src/fraiseql/middleware/rate_limiter.py
Labels: documentation

✅ Complete error notification system and table partitioning
  CONTRIBUTING.md
  src/fraiseql/monitoring/postgres_error_tracker.py
  src/fraiseql/monitoring/schema_unpartitioned.sql.backup
  tests/integration/monitoring/test_error_log_partitioning.py
  tests/integration/monitoring/test_error_notifications.py
Labels: documentation, tests

✨ Expose complete LTree and DateRange operators in GraphQL filters
  src/fraiseql/sql/graphql_where_generator.py
Labels: sql

📊 Add production case study documentation
  docs/case-studies/README.md
  docs/case-studies/saas-production-example.md
  docs/case-studies/template.md
Labels: documentation

🔧 Remove hallucinated example case study
  docs/case-studies/README.md
  docs/case-studies/saas-production-example.md
Labels: documentation

📚 Document error notifications and partitioning systems
  docs/production/observability.md
Labels: documentation

✨ Add production Grafana dashboards with comprehensive test suite
  grafana/README.md
  grafana/apq_effectiveness.json
  grafana/cache_hit_rate.json
  grafana/database_pool.json
  grafana/error_monitoring.json
  grafana/import_dashboards.sh
  grafana/performance_metrics.json
  tests/grafana/README.md
  tests/grafana/__init__.py
  tests/grafana/conftest.py
  tests/grafana/test_dashboard_structure.py
  tests/grafana/test_import_script.py
  tests/grafana/test_sql_queries.py
Labels: tests

feat(caching): Phase 4.2 pg_fraiseql_cache integration
  src/fraiseql/caching/cache_key.py
  src/fraiseql/caching/postgres_cache.py
  src/fraiseql/caching/repository_integration.py
  tests/integration/caching/test_pg_fraiseql_cache_integration.py
Labels: tests

docs(caching): Add comprehensive caching documentation and LTree support
  docs/README.md
  docs/performance/caching-migration.md
  docs/performance/caching.md
  docs/performance/index.md
  src/fraiseql/types/scalars/graphql_utils.py
Labels: documentation, types

✨ Complete Phase 4.2.3-4.4: pg_fraiseql_cache integration
  MIGRATION_COMPETITIVE_ANALYSIS.md
  MIGRATION_SYSTEM_DESIGN.md
  ROADMAP_V1.md
  ROADMAP_V1_UPDATED.md
  src/fraiseql/caching/postgres_cache.py
  tests/integration/caching/test_pg_fraiseql_cache_integration.py
Labels: documentation, tests

✨ Priority 1 Complete: Documentation & Complete CQRS Example
  docs/core/dependencies.md
  docs/core/explicit-sync.md
  docs/core/migrations.md
  docs/core/postgresql-extensions.md
  docs/performance/cascade-invalidation.md
  examples/complete_cqrs_blog/.dockerignore
  examples/complete_cqrs_blog/.env.example
  examples/complete_cqrs_blog/Dockerfile
  examples/complete_cqrs_blog/Dockerfile.postgres
  examples/complete_cqrs_blog/EXAMPLE_SUMMARY.md
  examples/complete_cqrs_blog/README.md
  examples/complete_cqrs_blog/app.py
  examples/complete_cqrs_blog/docker-compose.yml
  examples/complete_cqrs_blog/init_extensions.sql
  examples/complete_cqrs_blog/migrations/001_initial_schema.sql
  examples/complete_cqrs_blog/migrations/__init__.py
  examples/complete_cqrs_blog/migrations/run_migrations.py
  examples/complete_cqrs_blog/requirements.txt
  examples/complete_cqrs_blog/schema.py
  examples/complete_cqrs_blog/sync.py
  examples/complete_cqrs_blog/test_queries.graphql
  pyproject.toml
  src/fraiseql/caching/__init__.py
  src/fraiseql/caching/schema_analyzer.py
  src/fraiseql/cli/commands/__init__.py
  src/fraiseql/cli/commands/migrate.py
  src/fraiseql/cli/main.py
  src/fraiseql/ivm/__init__.py
  src/fraiseql/ivm/analyzer.py
  uv.lock
Labels: documentation, cli, config, dependencies

🚀 Release v0.11.0: Performance-First Architecture
  CHANGELOG.md
  PASSTHROUGH_FIX_ANALYSIS.md
  deploy/kubernetes/README.md
  src/fraiseql/core/raw_json_executor.py
  src/fraiseql/db.py
  src/fraiseql/execution/mode_selector.py
  src/fraiseql/fastapi/app.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/fastapi/dependencies.py
  src/fraiseql/fastapi/routers.py
  tests/integration/auth/test_json_passthrough_config_fix.py
  tests/integration/test_pure_passthrough_integration.py
  tests/regression/json_passthrough/test_json_passthrough_production_fix.py
  tests/system/fastapi_system/test_json_passthrough_production_fix.py
  tests/system/fastapi_system/test_router_passthrough_final.py
  tests/test_pure_passthrough_rust.py
  tests/test_pure_passthrough_sql.py
Labels: documentation, tests, core

fix: Handle tuple rows in _determine_jsonb_column and duplicate limit parameter
  src/fraiseql/db.py
Labels: none

fix: Handle Composed statements with empty params to avoid placeholder scanning
  src/fraiseql/db.py
Labels: none

test: Update LTreeFilter test to reflect current implementation
  tests/integration/database/sql/test_restricted_filter_types.py
Labels: tests

fix: Update CamelForge tests for v0.11.0 always-enabled behavior
  tests/integration/performance/test_camelforge_complete_example.py
Labels: tests

fix: Update all CamelForge tests for v0.11.0 always-enabled behavior
  tests/integration/performance/test_camelforge_integration_e2e.py
  tests/integration/performance/test_simplified_camelforge_config.py
Labels: tests

fix: Replace as_string({}) with as_string(None) in field mapping tests
  tests/integration/repository/test_field_name_mapping_integration.py
  tests/unit/repository/test_field_name_mapping.py
Labels: tests

fix(tests): Handle Composed SQL objects in session variable tests
  tests/integration/session/test_session_variables.py
Labels: tests

fix(db): Set session variables in production mode paths
  src/fraiseql/db.py
Labels: none

refactor(v0.11.0): Remove PostgreSQL CamelForge dependency
  src/fraiseql/db.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/sql/sql_generator.py
Labels: sql

test: Update connection JSONB integration tests for Rust-only architecture
  tests/integration/test_connection_jsonb_integration.py
Labels: tests
