Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(phase7): Implement SQL query building in Rust
  Cargo.lock
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/query/composer.rs
  fraiseql_rs/src/query/mod.rs
  fraiseql_rs/src/query/schema.rs
  fraiseql_rs/src/query/where_builder.rs
  src/fraiseql/core/query_builder.py
  tests/test_query_builder.py
  uv.lock
Labels: tests, core

feat(phase8): Implement query plan caching in Rust
  Cargo.lock
  Cargo.toml
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/cache/mod.rs
  fraiseql_rs/src/cache/signature.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/query/mod.rs
  src/fraiseql/core/query_builder.py
  src/fraiseql/fastapi/app.py
  src/fraiseql/fastapi/middleware.py
  tests/test_query_caching.py
Labels: tests, core

feat: Phase 9 - Unified Rust GraphQL Pipeline
  benches/full_pipeline.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/mod.rs
  fraiseql_rs/src/pipeline/unified.rs
  scripts/cleanup_python_db.sh
  src/fraiseql/fastapi/routers.py
  tests/test_full_pipeline.py
Labels: tests

docs: Add Phases 10-12 for Auth, RBAC, and Security integration
  .phases/phase-10-auth-integration.md
  .phases/phase-11-rbac-integration.md
  .phases/phase-12-security-features.md
Labels: none

docs: Add comprehensive Rust migration roadmap
  .phases/ROADMAP.md
Labels: none

docs: Add Phase 10 QA findings and corrections
  .phases/phase-10-QA-findings.md
Labels: none

docs(phase-10): Phase 10 corrected version with all QA fixes
  .phases/phase-10-auth-integration-CORRECTED.md
  .pre-commit-config.yaml
Labels: config

fix(pipeline): Wrap execute_query result in GraphQL response format
  src/fraiseql/core/graphql_pipeline.py
Labels: core

fix(pipeline): Ensure Rust backend returns proper GraphQL format
  src/fraiseql/core/graphql_pipeline.py
  tests/integration/rust/test_phase4_graphql_pipeline.py
Labels: tests, core

chore: Remove Phase 10 auth test stubs
  tests/unit/auth/test_auth0.py
  tests/unit/auth/test_token_revocation.py
Labels: tests

feat(phase-10): Complete authentication and JWT validation implementation
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/auth/cache.rs
  fraiseql_rs/src/auth/errors.rs
  fraiseql_rs/src/auth/jwt.rs
  fraiseql_rs/src/auth/mod.rs
  fraiseql_rs/src/auth/provider.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/unified.rs
  src/fraiseql/auth/rust_provider.py
  tests/test_rust_auth.py
Labels: tests

feat(phase-10): Complete PyO3 bindings export for authentication
  .phases/phase-11-rbac-integration.md
  Cargo.lock
  Cargo.toml
  benches/full_pipeline.rs
  fraiseql_rs/src/auth/cache.rs
  fraiseql_rs/src/auth/jwt.rs
  fraiseql_rs/src/auth/mod.rs
  fraiseql_rs/src/auth/provider.rs
  fraiseql_rs/src/auth/py_bindings.rs
  fraiseql_rs/src/cache/mod.rs
  fraiseql_rs/src/cache/signature.rs
  fraiseql_rs/src/db/mod.rs
  fraiseql_rs/src/db/pool.rs
  fraiseql_rs/src/db/query.rs
  fraiseql_rs/src/db/transaction.rs
  fraiseql_rs/src/db/types.rs
  fraiseql_rs/src/db/where_builder.rs
  fraiseql_rs/src/graphql/mod.rs
  fraiseql_rs/src/graphql/parser.rs
  fraiseql_rs/src/graphql/types.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutations.rs
  fraiseql_rs/src/pipeline/unified.rs
  fraiseql_rs/src/query/composer.rs
  fraiseql_rs/src/query/mod.rs
  fraiseql_rs/src/query/schema.rs
  fraiseql_rs/src/query/where_builder.rs
  fraiseql_rs/src/response/builder.rs
  fraiseql_rs/src/response/json_transform.rs
  fraiseql_rs/src/response/mod.rs
  fraiseql_rs/src/response/streaming.rs
  tests/test_rust_auth.py
Labels: tests

feat(phase-10): Complete production-ready authentication with full Python integration
  .phases/phase-10-qa-review.md
  .phases/phase-12-security-features.md
  Cargo.toml
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/auth/py_bindings.rs
  tests/test_rust_auth.py
Labels: tests

docs(phase-chaos): Add comprehensive chaos engineering test suite plan and examples
  .phases/chaos-engineering-examples.md
  .phases/phase-chaos-engineering-plan.md
Labels: none

docs: Add comprehensive development status and roadmap
  docs/VERSION_STATUS.md
Labels: documentation

chore(chaos): Self-review of chaos engineering plan
  .phases/CHAOS_ENGINEERING_REVIEW.md
Labels: none

feat(phase-11): Implement complete RBAC system in Rust
  .phases/REFINED_CHAOS_ENGINEERING_PLAN.md
  fraiseql_rs/src/rbac/cache.rs
  fraiseql_rs/src/rbac/directives.rs
  fraiseql_rs/src/rbac/errors.rs
  fraiseql_rs/src/rbac/field_auth.rs
  fraiseql_rs/src/rbac/hierarchy.rs
  fraiseql_rs/src/rbac/mod.rs
  fraiseql_rs/src/rbac/models.rs
  fraiseql_rs/src/rbac/py_bindings.rs
  fraiseql_rs/src/rbac/resolver.rs
Labels: none

docs(rbac): Expand documentation for Phase 11 RBAC system
  fraiseql_rs/src/rbac/cache.rs
  fraiseql_rs/src/rbac/hierarchy.rs
  fraiseql_rs/src/rbac/mod.rs
  fraiseql_rs/src/rbac/models.rs
  fraiseql_rs/src/rbac/resolver.rs
Labels: none

feat(phase-11,12): Complete RBAC and Security implementation
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/db/pool.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/rbac/cache.rs
  fraiseql_rs/src/rbac/directives.rs
  fraiseql_rs/src/rbac/errors.rs
  fraiseql_rs/src/rbac/field_auth.rs
  fraiseql_rs/src/rbac/hierarchy.rs
  fraiseql_rs/src/rbac/mod.rs
  fraiseql_rs/src/rbac/models.rs
  fraiseql_rs/src/rbac/py_bindings.rs
  fraiseql_rs/src/rbac/resolver.rs
  fraiseql_rs/src/security/audit.rs
  fraiseql_rs/src/security/config.rs
  fraiseql_rs/src/security/cors.rs
  fraiseql_rs/src/security/csrf.rs
  fraiseql_rs/src/security/errors.rs
  fraiseql_rs/src/security/headers.rs
  fraiseql_rs/src/security/mod.rs
  fraiseql_rs/src/security/rate_limit.rs
  fraiseql_rs/src/security/validators.rs
Labels: none

feat(phase13): Complete advanced GraphQL features implementation
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/auth/jwt.rs
  fraiseql_rs/src/cache/signature.rs
  fraiseql_rs/src/graphql/complexity.rs
  fraiseql_rs/src/graphql/fragments.rs
  fraiseql_rs/src/graphql/mod.rs
  fraiseql_rs/src/graphql/parser.rs
  fraiseql_rs/src/graphql/types.rs
  fraiseql_rs/src/graphql/variables.rs
  fraiseql_rs/src/pipeline/unified.rs
  fraiseql_rs/src/rbac/directives.rs
  fraiseql_rs/src/security/validators.rs
Labels: none

fix: Apply clippy fixes and remove unused code
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/graphql/complexity.rs
  fraiseql_rs/src/graphql/fragments.rs
  fraiseql_rs/src/graphql/parser.rs
  fraiseql_rs/src/graphql/variables.rs
  fraiseql_rs/src/pipeline/unified.rs
  fraiseql_rs/src/query/where_builder.rs
  fraiseql_rs/src/rbac/cache.rs
  fraiseql_rs/src/rbac/directives.rs
  fraiseql_rs/src/rbac/resolver.rs
  fraiseql_rs/src/security/config.rs
  fraiseql_rs/src/security/cors.rs
  fraiseql_rs/src/security/rate_limit.rs
Labels: none

fix: Complete final clippy cleanup
  fraiseql_rs/src/graphql/parser.rs
  fraiseql_rs/src/query/where_builder.rs
  fraiseql_rs/src/security/rate_limit.rs
Labels: none

fix: Update pre-commit clippy hook to resolve dependencies
  .phases/phase-13-advanced-graphql.md
  .pre-commit-config.yaml
  tests/chaos/__init__.py
  tests/chaos/base.py
  tests/chaos/baseline/__init__.py
  tests/chaos/baseline/collect_baseline.py
  tests/chaos/baseline_metrics.json
  tests/chaos/cache/__init__.py
  tests/chaos/concurrency/__init__.py
  tests/chaos/conftest.py
  tests/chaos/database/__init__.py
  tests/chaos/fixtures.py
  tests/chaos/fraiseql_scenarios.py
  tests/chaos/metrics.py
  tests/chaos/network/__init__.py
  tests/chaos/network/test_db_connection_chaos.py
  tests/chaos/network/test_network_latency_chaos.py
  tests/chaos/network/test_packet_loss_corruption.py
  tests/chaos/observability/__init__.py
  tests/chaos/phase1_validation.py
  tests/chaos/plugin.py
  tests/chaos/resources/__init__.py
  tests/chaos/results/__init__.py
  tests/chaos/setup_toxiproxy.py
  tests/chaos/test_phase0_verification.py
Labels: tests, config

fix: Address Phase 1 chaos testing gaps - Real GraphQL Operations
  tests/chaos/fraiseql_scenarios.py
  tests/chaos/network/test_db_connection_chaos.py
  tests/chaos/network/test_network_latency_chaos.py
  tests/chaos/network/test_packet_loss_corruption.py
Labels: tests

feat: Complete Phase 2 Chaos Engineering - Database & Query Chaos
  tests/chaos/database/test_data_consistency_chaos.py
  tests/chaos/database/test_phase2_validation.py
  tests/chaos/database/test_query_execution_chaos.py
Labels: tests

feat: Complete Phase 3 Chaos Engineering - Cache & Authentication Chaos
  tests/chaos/auth/test_auth_chaos.py
  tests/chaos/cache/test_cache_chaos.py
  tests/chaos/cache/test_phase3_validation.py
Labels: tests

feat: Complete Phase 4 Chaos Engineering - Resource & Concurrency Chaos
  tests/chaos/concurrency/test_concurrency_chaos.py
  tests/chaos/resources/test_phase4_validation.py
  tests/chaos/resources/test_resource_chaos.py
Labels: tests

chore(chaos): Add missing pytest marker and conftest files for test discovery
  CHAOS_TESTING_QA_REPORT.md
  tests/chaos/auth/__init__.py
  tests/chaos/auth/conftest.py
  tests/chaos/cache/conftest.py
  tests/chaos/concurrency/conftest.py
  tests/chaos/conftest.py
  tests/chaos/database/conftest.py
  tests/chaos/network/conftest.py
  tests/chaos/resources/conftest.py
Labels: documentation, tests

docs(chaos): Add comprehensive QA analysis and implementation guide
  CHAOS_QA_SUMMARY.txt
  docs/CHAOS_QA_SUMMARY.txt
  docs/CHAOS_TESTING_IMPLEMENTATION.md
  docs/CHAOS_TESTING_QA_REPORT.md
Labels: documentation

chore: Remove duplicate QA documents from root (moved to docs/)
  CHAOS_QA_SUMMARY.txt
  CHAOS_TESTING_QA_REPORT.md
Labels: documentation

fix(chaos): Fix ABC inheritance and format string bugs
  tests/chaos/base.py
  tests/chaos/baseline_metrics.json
  tests/chaos/cache/test_phase3_validation.py
  tests/chaos/conftest.py
  tests/chaos/phase1_validation.py
  tests/chaos/resources/test_phase4_validation.py
  tests/chaos/results/TestDatabaseConnectionChaos.json
Labels: tests

fix(chaos): Complete test infrastructure - 34/57 tests now passing
  tests/chaos/database/test_query_execution_chaos.py
  tests/chaos/fixtures.py
  tests/chaos/network/test_db_connection_chaos.py
  tests/chaos/network/test_network_latency_chaos.py
  tests/chaos/network/test_packet_loss_corruption.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
Labels: tests

feat(chaos): Transform tests to use real PostgreSQL database backend
  tests/chaos/REAL_DB_MIGRATION.md
  tests/chaos/TRANSFORMATION_SUMMARY.md
  tests/chaos/conftest.py
  tests/chaos/database_fixtures.py
  tests/chaos/network/test_db_connection_chaos_real.py
Labels: tests

feat(chaos): Transform network and database chaos tests to real PostgreSQL
  tests/chaos/database/test_data_consistency_chaos_real.py
  tests/chaos/database/test_query_execution_chaos_real.py
  tests/chaos/network/test_network_latency_chaos_real.py
  tests/chaos/network/test_packet_loss_corruption_real.py
Labels: tests

docs(chaos): Add template and progress report for remaining test transformations
  tests/chaos/PROGRESS_REPORT.md
  tests/chaos/REMAINING_TESTS_TEMPLATE.md
Labels: tests

feat(chaos): Complete Phase 3-4 chaos test transformation to real PostgreSQL
  pyproject.toml
  tests/chaos/auth/test_auth_chaos_real.py
  tests/chaos/cache/test_cache_chaos_real.py
  tests/chaos/cache/test_phase3_validation_real.py
  tests/chaos/concurrency/test_concurrency_chaos_real.py
  tests/chaos/database/test_phase2_validation_real.py
  tests/chaos/resources/test_phase4_validation_real.py
  tests/chaos/resources/test_resource_chaos_real.py
  tests/chaos/results/TestDatabaseConnectionChaosReal.json
  tests/chaos/test_phase0_verification_real.py
Labels: tests, config, dependencies

fix(chaos): Move pytest_plugins to top-level conftest.py
  tests/chaos/conftest.py
  tests/conftest.py
Labels: tests

feat: Implement CI/CD strategy for chaos engineering tests
  .github/workflows/chaos-engineering-tests.yml
  .github/workflows/quality-gate.yml
Labels: ci

docs: Add chaos engineering testing strategy documentation
  docs/testing/chaos-engineering-strategy.md
Labels: documentation

docs(readme): Implement optimized greenfield README
  README.md
Labels: documentation
