Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(guides,deployment): Fix broken deployment and guide documentation links
  docs/deployment/guide.md
  docs/guides/PATTERNS.md
  docs/guides/development/e2e-testing.md
Labels: documentation

fix(docs): Fix root README and observability directory links
  docs/README.md
  docs/observability/README.md
Labels: documentation

fix(reference,operations,guides): Fix remaining high-impact documentation links
  docs/guides/development/TEST_COVERAGE.md
  docs/operations/configuration.md
  docs/reference/view-selection-api.md
Labels: documentation

fix(observability,archive): Fix observability and archive documentation links
  docs/.archive/deprecated/PERFORMANCE_CONSOLIDATED.md
  docs/observability/metrics-collection.md
Labels: documentation

docs: Fix remaining 9 broken documentation links
  docs/.archive/future-phases/MIGRATION_PHASE_15_TO_16.md
  docs/architecture/core/compilation-pipeline.md
  docs/architecture/database/ta-table-pattern.md
  docs/architecture/database/tv-table-pattern.md
  docs/architecture/database/view-selection-guide.md
  docs/arrow-flight/performance/benchmarks.md
  docs/configuration/README.md
  docs/configuration/SECURITY_RUNTIME_INITIALIZATION.md
  docs/enterprise/README.md
  docs/guides/README.md
  docs/guides/ddl-generation-guide.md
  docs/guides/development/DEVELOPER_GUIDE.md
  docs/guides/development/README.md
  docs/guides/development/e2e-testing.md
  docs/guides/language-generators.md
  docs/integrations/README.md
  docs/integrations/arrow-flight/migration-guide.md
  docs/integrations/authentication/API-REFERENCE.md
  docs/integrations/authentication/IMPLEMENT-SESSION-STORE.md
  docs/integrations/federation/api-reference.md
  docs/observability/examples/basic-denormalization.md
  docs/observability/migration-workflow.md
  docs/observability/optimization-suggestions.md
  docs/observability/troubleshooting.md
  docs/operations/README.md
  docs/operations/analysis-guide.md
  docs/operations/examples/basic-denormalization.md
  docs/operations/reference/health-checks.md
  docs/operations/reference/metrics.md
  docs/performance/connection-pool-tuning.md
  docs/performance/projection-optimization.md
  docs/reference/README.md
  docs/reference/api/GRAPHQL_API.md
  docs/reference/api/HTTP_SERVER.md
  docs/reference/cli-schema-format.md
  docs/specs/schema-conventions.md
Labels: documentation

docs: Add .phases directory documenting all completed development phases
  .phases/README.md
  .phases/phase-01-foundation.md
  .phases/phase-02-databases.md
  .phases/phase-03-federation.md
  .phases/phase-04-integration.md
  .phases/phase-05-streaming.md
  .phases/phase-06-resilience.md
  .phases/phase-07-security.md
  .phases/phase-08-observers.md
  .phases/phase-09-arrow.md
  .phases/phase-10-hardening.md
  .phases/phase-21-finalize.md
Labels: none

docs: Add comprehensive feature audit and alignment report
  .phases/FEATURE_AUDIT_REPORT.md
Labels: none

docs: Phase 21 Complete - Code archaeology audit and finalization
  .phases/PHASE_21_COMPLETION.md
Labels: none

docs: Update README for v2.0.0-alpha.1 release
  README.md
Labels: documentation

docs: Create comprehensive alpha release notes for v2.0.0-alpha.1
  ALPHA_RELEASE_NOTES.md
Labels: documentation

docs: Update Phase 21 completion status to reflect alpha.1 release
  .phases/PHASE_21_COMPLETION.md
Labels: none

docs: Create Phase 21 session summary documenting finalization completion
  PHASE_21_SESSION_SUMMARY.md
Labels: documentation

audit: Language feature parity analysis reveals misalignment
  LANGUAGE_FEATURE_PARITY_AUDIT.md
Labels: documentation

docs: Add comprehensive TOML-based language alignment strategy
  LANGUAGE_ALIGNMENT_STRATEGY.md
  LANGUAGE_IMPLEMENTATION_PLAN.md
Labels: documentation

feat(cli): Implement TOML-based schema configuration and merger
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/serve.rs
  crates/fraiseql-cli/src/commands/validate.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/mod.rs
Labels: none

feat(fraiseql-python): Add minimal types.json export for TOML workflow
  fraiseql-python/src/fraiseql/__init__.py
  fraiseql-python/src/fraiseql/schema.py
  fraiseql-python/tests/test_types_export_minimal.py
Labels: tests

feat(fraiseql-typescript): Add minimal types.json export for TOML workflow
  fraiseql-typescript/src/index.ts
  fraiseql-typescript/src/schema.ts
  fraiseql-typescript/tests/export-types.test.ts
Labels: none

refactor(fraiseql-python): Remove federation/security/observers/analytics modules
  fraiseql-python/src/fraiseql/__init__.py
  fraiseql-python/src/fraiseql/analytics.py
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/src/fraiseql/federation.py
  fraiseql-python/src/fraiseql/observers.py
  fraiseql-python/src/fraiseql/registry.py
  fraiseql-python/src/fraiseql/security.py
  fraiseql-python/src/fraiseql/types.py
  fraiseql-python/tests/test_types_export_minimal.py
Labels: tests

refactor(fraiseql-typescript): Remove federation/observers/analytics modules
  fraiseql-typescript/src/analytics.ts
  fraiseql-typescript/src/decorators.ts
  fraiseql-typescript/src/federation.ts
  fraiseql-typescript/src/index.ts
  fraiseql-typescript/src/observers.ts
  fraiseql-typescript/src/views.ts
Labels: none

docs: Update Phase 22 progress - Python and TypeScript Cycles 1-2 complete
  .phases/phase-22-tier1-refactor.md
Labels: none

feat(java): Implement exportTypes() for minimal types.json export
  fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  fraiseql-java/src/main/java/com/fraiseql/examples/EcommerceWithObserversSchema.java
  fraiseql-java/src/test/java/com/fraiseql/core/AnalyticsPatternTest.java
  fraiseql-java/src/test/java/com/fraiseql/core/ExportTypesMinimalTest.java
Labels: none

docs: Update Phase 22 progress - Java GREEN complete
  .phases/phase-22-tier1-refactor.md
Labels: none

refactor(java): Remove federation, security, observers, analytics code
  fraiseql-java/src/main/java/com/fraiseql/core/Authorize.java
  fraiseql-java/src/main/java/com/fraiseql/core/AuthzPolicy.java
  fraiseql-java/src/main/java/com/fraiseql/core/Dimension.java
  fraiseql-java/src/main/java/com/fraiseql/core/GraphQLFactTable.java
  fraiseql-java/src/main/java/com/fraiseql/core/Measure.java
  fraiseql-java/src/main/java/com/fraiseql/core/Observer.java
  fraiseql-java/src/main/java/com/fraiseql/core/ObserverBuilder.java
  fraiseql-java/src/main/java/com/fraiseql/core/PerformanceMonitor.java
  fraiseql-java/src/main/java/com/fraiseql/core/RoleRequired.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  fraiseql-java/src/main/java/com/fraiseql/examples/EcommerceWithObserversSchema.java
Labels: none

docs: Update Phase 22 - Java REFACTOR complete (27% LOC reduction)
  .phases/phase-22-tier1-refactor.md
Labels: none

docs: Mark Java Cycle 3 CLEANUP complete
  .phases/phase-22-tier1-refactor.md
Labels: none

feat(integration): Complete Phase 2 Cycle 4 - TOML workflow integration tests and documentation
  docs/MIGRATION_GUIDE.md
  docs/TOML_REFERENCE.md
  tests/integration/examples/JavaTypesExample.java
  tests/integration/examples/fraiseql.toml
  tests/integration/examples/python_types_example.py
  tests/integration/examples/typescript_types_example.ts
  tests/integration/test_toml_workflow.py
Labels: documentation, tests

docs: Mark Phase 22 Cycle 4 as COMPLETE
  .phases/phase-22-tier1-refactor.md
Labels: none

fix: Update TOML workflow tests with correct schema format and known issues
  docs/TOML_REFERENCE.md
  tests/integration/examples/fraiseql.toml
  tests/integration/test_toml_workflow.py
Labels: documentation, tests

feat(go): Phase 23 Cycle 1 - Complete Go SDK refactoring to TOML-based workflow
  .phases/phase-23-tier2-refactor.md
  fraiseql-go/fraiseql/analytics.go
  fraiseql-go/fraiseql/analytics_test.go
  fraiseql-go/fraiseql/decorators.go
  fraiseql-go/fraiseql/export_types_test.go
  fraiseql-go/fraiseql/observers.go
  fraiseql-go/fraiseql/observers_test.go
  fraiseql-go/fraiseql/registry.go
  fraiseql-go/fraiseql/schema.go
  fraiseql-go/fraiseql/security.go
  fraiseql-go/fraiseql/types.go
Labels: none

docs: Update Phase 23 progress - Go SDK complete (54% reduction)
  .phases/phase-23-tier2-refactor.md
Labels: none

feat(ruby): Phase 23 Cycle 2 - Complete Ruby SDK refactoring to TOML-based workflow
  fraiseql-ruby/Gemfile.lock
  fraiseql-ruby/lib/fraiseql/security.rb
  fraiseql-ruby/spec/attribute_based_access_control_spec.rb
  fraiseql-ruby/spec/authorization_spec.rb
  fraiseql-ruby/spec/authz_policy_spec.rb
  fraiseql-ruby/spec/export_types_spec.rb
  fraiseql-ruby/spec/role_based_access_control_spec.rb
  fraiseql-ruby/spec/spec_helper.rb
Labels: none

feat(php): Phase 23 Cycle 3 - Begin PHP SDK refactoring (RED phase)
  .phases/phase-23-tier2-refactor.md
  fraiseql-php/src/Schema.php
  fraiseql-php/tests/ExportTypesTest.php
Labels: none

feat(php): Phase 23 Cycle 3 - Complete PHP SDK refactoring to TOML-based workflow
  fraiseql-php/examples/ecommerce_with_observers.php
  fraiseql-php/src/Attributes/Authorize.php
  fraiseql-php/src/Attributes/AuthzPolicy.php
  fraiseql-php/src/Attributes/Observer.php
  fraiseql-php/src/Attributes/RoleRequired.php
  fraiseql-php/src/JsonSchema.php
  fraiseql-php/src/ObserverBuilder.php
  fraiseql-php/src/ObserverDefinition.php
  fraiseql-php/src/Schema.php
  fraiseql-php/src/SchemaFormatter.php
  fraiseql-php/src/SchemaRegistry.php
  fraiseql-php/src/Security/AuthorizeBuilder.php
  fraiseql-php/src/Security/AuthorizeConfig.php
  fraiseql-php/src/Security/AuthzPolicyBuilder.php
  fraiseql-php/src/Security/AuthzPolicyConfig.php
  fraiseql-php/src/Security/AuthzPolicyType.php
  fraiseql-php/src/Security/RoleMatchStrategy.php
  fraiseql-php/src/Security/RoleRequiredBuilder.php
  fraiseql-php/src/Security/RoleRequiredConfig.php
  fraiseql-php/tests/AttributeBasedAccessControlTest.php
  fraiseql-php/tests/AuthorizationTest.php
  fraiseql-php/tests/AuthzPolicyTest.php
  fraiseql-php/tests/RoleBasedAccessControlTest.php
  fraiseql-php/tests/SubscriptionTest.php
Labels: none

feat(nodejs): Phase 23 Cycle 4 - Complete Node.js SDK refactoring to TOML-based workflow
  .phases/phase-23-tier2-refactor.md
  fraiseql-nodejs/src/index.ts
  fraiseql-nodejs/src/schema.ts
  fraiseql-nodejs/src/security.ts
  fraiseql-nodejs/tests/attribute-based-access-control.test.ts
  fraiseql-nodejs/tests/authorization.test.ts
  fraiseql-nodejs/tests/authz-policy.test.ts
  fraiseql-nodejs/tests/export-types.test.ts
  fraiseql-nodejs/tests/role-based-access-control.test.ts
Labels: none

feat(kotlin): Phase 23 Cycle 5 - Complete Kotlin SDK refactoring to TOML-based workflow
  .phases/phase-23-tier2-refactor.md
  fraiseql-kotlin/src/main/kotlin/com/fraiseql/schema/Schema.kt
  fraiseql-kotlin/src/main/kotlin/com/fraiseql/security/Security.kt
  fraiseql-kotlin/src/test/kotlin/com/fraiseql/ExportTypesTest.kt
  fraiseql-kotlin/src/test/kotlin/com/fraiseql/security/AttributeBasedAccessControlTest.kt
  fraiseql-kotlin/src/test/kotlin/com/fraiseql/security/AuthorizationTest.kt
  fraiseql-kotlin/src/test/kotlin/com/fraiseql/security/AuthzPolicyTest.kt
  fraiseql-kotlin/src/test/kotlin/com/fraiseql/security/RoleBasedAccessControlTest.kt
Labels: none

feat(scala): Phase 23 Cycle 6 - Complete Scala SDK refactoring to TOML-based workflow
  fraiseql-scala/src/main/scala/com/fraiseql/schema/Schema.scala
  fraiseql-scala/src/main/scala/com/fraiseql/security/Security.scala
  fraiseql-scala/src/test/scala/com/fraiseql/ExportTypesSpec.scala
  fraiseql-scala/src/test/scala/com/fraiseql/security/SecuritySpec.scala
Labels: none

feat(clojure): Phase 23 Cycle 7 - Complete Clojure SDK refactoring to TOML-based workflow
  fraiseql-clojure/src/fraiseql/schema.clj
  fraiseql-clojure/src/fraiseql/security.clj
  fraiseql-clojure/test/fraiseql/export_types_test.clj
  fraiseql-clojure/test/fraiseql/security_test.clj
Labels: none

feat(swift): Phase 23 Cycle 8 - Complete Swift SDK refactoring to TOML-based workflow
  fraiseql-swift/Sources/FraiseQL/Schema.swift
  fraiseql-swift/Sources/FraiseQLSecurity/Security.swift
  fraiseql-swift/Tests/FraiseQLTests/ExportTypesTests.swift
Labels: none

feat(csharp): Phase 23 Cycle 9 - Complete C# SDK refactoring to TOML-based workflow
  fraiseql-csharp/src/FraiseQL.Security/FraiseQL.Security.csproj
  fraiseql-csharp/src/FraiseQL.Security/Security.cs
  fraiseql-csharp/src/FraiseQL/Schema.cs
  fraiseql-csharp/tests/FraiseQL.Security.Tests/AttributeBasedAccessControlTest.cs
  fraiseql-csharp/tests/FraiseQL.Security.Tests/AuthorizationTest.cs
  fraiseql-csharp/tests/FraiseQL.Security.Tests/AuthzPolicyTest.cs
  fraiseql-csharp/tests/FraiseQL.Security.Tests/FraiseQL.Security.Tests.csproj
  fraiseql-csharp/tests/FraiseQL.Security.Tests/RoleBasedAccessControlTest.cs
  fraiseql-csharp/tests/FraiseQL.Tests/ExportTypesTests.cs
Labels: none

feat(dart): Phase 23 Cycle 10 - Complete Dart SDK refactoring to TOML-based workflow
  fraiseql-dart/test/export_types_test.dart
  fraiseql-dart/test/fraiseql_security_test.dart
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
