Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(projection): recursive JSONB sub-field projection via jsonb_build_object
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-db/src/projection_generator.rs
Labels: none

feat(mutation): add APQ mutation e2e test + async mutation ADR; fix execute_mutation doctest
  Cargo.lock
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-server/tests/apq_mutation_e2e_test.rs
  docs/adr/0010-async-mutation-handlers.md
Labels: documentation

docs(roadmap): document cache mutation routing overhead as v2.2.0 known limitation
  roadmap.md
Labels: documentation

fix(cache): fix stale list queries + unnecessary point-lookup eviction on CREATE
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/invalidation_api.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-db/src/traits.rs
Labels: none

feat(observability): wire JWT replay counters to Prometheus /metrics endpoint
  crates/fraiseql-core/src/security/oidc/replay_cache.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-server/src/routes/metrics.rs
Labels: none

chore(release): prepare v2.1.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-typescript/package.json
Labels: documentation

chore(release): prepare v2.1.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/src/flight_server/auth.rs
  crates/fraiseql-arrow/tests/flight_auth_test.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
  crates/fraiseql-core/src/runtime/relay.rs
  crates/fraiseql-core/src/security/auth_middleware/middleware.rs
  crates/fraiseql-core/src/security/auth_middleware/types.rs
  crates/fraiseql-core/src/security/oidc/audience.rs
  crates/fraiseql-core/src/security/oidc/mod.rs
  crates/fraiseql-core/src/security/oidc/providers.rs
  crates/fraiseql-core/src/security/oidc/replay_cache.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-server/src/api_key.rs
  crates/fraiseql-server/src/extractors.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/middleware/oidc_auth.rs
  crates/fraiseql-server/src/routes/auth.rs
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/tests/auth_regression_test.rs
Labels: documentation

chore(release): bump SDK versions to 2.1.5
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-typescript/package.json
Labels: none

fix(ci): repair 6 SDK workflow failures on v2.1.5 tag
  .github/workflows/ruby-sdk.yml
  .github/workflows/sdk-parity.yml
  sdks/official/fraiseql-dart/lib/src/client.dart
  sdks/official/fraiseql-java/pom.xml
  sdks/official/fraiseql-python/src/fraiseql/integrations/langchain.py
  sdks/official/fraiseql-typescript/src/observers.ts
Labels: ci

fix(ci): second-pass SDK CI fixes after re-run diagnostics
  .github/workflows/java-sdk.yml
  sdks/community/fraiseql-ruby/lib/fraiseql/schema.rb
  sdks/official/fraiseql-dart/lib/fraiseql.dart
  sdks/official/fraiseql-dart/test/client_test.dart
  sdks/official/fraiseql-typescript/src/observers.ts
  sdks/official/fraiseql-typescript/tsconfig.json
Labels: ci

fix(ci): third-pass — Ruby RuboCop, wire-backend, rand advisory, parity
  .github/workflows/sdk-parity.yml
  Cargo.lock
  crates/fraiseql-server/src/main.rs
  sdks/community/fraiseql-ruby/.rubocop.yml
  sdks/community/fraiseql-ruby/lib/fraiseql.rb
  sdks/community/fraiseql-ruby/lib/fraiseql/registry.rb
  sdks/community/fraiseql-ruby/lib/fraiseql/schema.rb
  sdks/community/fraiseql-ruby/lib/fraiseql/types.rb
Labels: ci

fix(sdk): auto-convert snake_case names to camelCase in Python, Ruby, and Dart SDKs
  sdks/official/fraiseql-dart/lib/src/authoring/crud_generator.dart
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/tests/test_decorators.py
  sdks/official/fraiseql-ruby/lib/fraiseql/authoring/crud_generator.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/authoring/type.rb
  sdks/official/tests/fixtures/golden/09-crud-full.json
  sdks/official/tests/fixtures/golden/10-crud-selective.json
  sdks/official/tests/fixtures/golden/python-sdk-01-basic.json
  tests/fixtures/golden/python-sdk-01-basic.json
Labels: tests

fix(core,sdks): issues #195-204 — projection types, camelCase keys, input objects
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
  crates/fraiseql-core/src/runtime/executor/classify.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/planning.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/security/oidc/replay_cache.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/projection_generator.rs
  crates/fraiseql-db/src/utils.rs
  crates/fraiseql-db/src/where_clause.rs
  sdks/official/fraiseql-csharp/src/FraiseQL/Builders/SchemaBuilder.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/CrudGenerator.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Export/SchemaExporter.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Models/IntermediateInputType.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Models/IntermediateSchema.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Registry/SchemaRegistry.cs
  sdks/official/fraiseql-fsharp/src/FraiseQL/CrudGenerator.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Dsl.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/SchemaRegistry.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Types.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaExporterTests.fs
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/CrudGenerator.java
  sdks/official/fraiseql-php/src/CrudGenerator.php
  sdks/official/fraiseql-php/src/SchemaExporter.php
  sdks/official/fraiseql-php/src/SchemaRegistry.php
  sdks/official/fraiseql-python/src/fraiseql/crud.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/tests/test_decorators.py
  sdks/official/fraiseql-python/uv.lock
  sdks/official/fraiseql-typescript/src/crud.ts
  sdks/official/tests/fixtures/golden/09-crud-full.json
  sdks/official/tests/fixtures/golden/python-sdk-01-basic.json
Labels: tests

fix(core,db,server): issues #206-209 — orderBy, __typename, --config, array fields
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/tests.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/types/sql_hints.rs
  crates/fraiseql-server/src/main.rs
Labels: none

fix(core,db): filter __typename from SQL projection, snake_case orderBy keys
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
Labels: none

refactor(order-by): shared builder, cache key fix, and type-aware SQL casts (#211)
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
  crates/fraiseql-core/src/compiler/window_functions/planner.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/window.rs
  crates/fraiseql-core/src/security/oidc/replay_cache.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-db/src/dialect/capability.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/mysql/adapter_tests.rs
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/projection_generator.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter_tests.rs
  crates/fraiseql-db/src/types/sql_hints.rs
Labels: none

refactor(__typename): move detection to ResultProjector, add federation_mode (#212)
  crates/fraiseql-core/src/runtime/executor/federation.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-federation/src/database_resolver.rs
Labels: none

refactor(cli): adopt clap for fraiseql-server, share ServerArgs with fraiseql run (#213)
  Cargo.lock
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/cli.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/main.rs
Labels: none

refactor(cli): preserve fraiseql run ergonomics, feature-gate clap dep (#213)
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/cli.rs
  crates/fraiseql-server/src/lib.rs
Labels: none

fix(mutation): error union inline fragments, array fields, and selection filtering (#214)
  crates/fraiseql-core/src/runtime/executor/classify.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/tests/mutation_execution_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  tests/fixtures/golden/09-mutation-error-union.json
Labels: tests

refactor(mutation): unify error projection via ProjectionMapper (#215)
  crates/fraiseql-core/src/runtime/executor/classify.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-core/tests/mutation_execution_test.rs
  crates/fraiseql-server/src/routes/rest/handler.rs
Labels: none

refactor(compiler): remove dead Compiler orchestrator and codegen pipeline
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/compiler/compilation_cache.rs
  crates/fraiseql-core/src/compiler/lowering.rs
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/tests/compiler_error_paths.rs
  crates/fraiseql-core/tests/pipeline_codegen_executor_test.rs
  crates/fraiseql-test-utils/src/lib.rs
  crates/fraiseql-test-utils/src/schema.rs
Labels: none

feat(where): support nested relation filters via automatic FK resolution (#196)
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-db/src/where_sql_generator.rs
Labels: none

refactor(where): simplify nested filter to multi-segment path (#196)
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-db/src/where_sql_generator.rs
Labels: none

feat(schema): add naming convention support for GraphQL operations (#216)
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/mod.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/runtime/executor/explain.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/planning.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-server/src/mcp/tools.rs
  crates/fraiseql-server/src/routes/introspection.rs
Labels: none

feat(core,db): session variables via set_config() (#97)
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/traits.rs
Labels: none

chore(cargo): remove dead Cargo features (cors, database, rich-filters)
  .github/workflows/feature-flags.yml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-server/Cargo.toml
Labels: ci

perf(core): eliminate String round-trip between executor and handlers
  crates/fraiseql-arrow/src/flight_server/handlers/do_exchange.rs
  crates/fraiseql-arrow/src/flight_server/mod.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-arrow/src/flight_server/tests.rs
  crates/fraiseql-core/src/runtime/executor/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/federation.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/introspection/mod.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-core/tests/pipeline_mutation_error_type_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-server/src/arrow/executor_wrapper.rs
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/rest/bulk.rs
  crates/fraiseql-server/src/routes/rest/embedding.rs
  crates/fraiseql-server/src/routes/rest/handler.rs
  crates/fraiseql-server/src/routes/rest/response.rs
  crates/fraiseql-server/src/routes/rest/streaming.rs
Labels: none

perf(core): add parsed-query AST cache on Executor
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-server/Cargo.toml
Labels: none

perf(core): cache projected response at executor level (#156)
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/response_cache.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
Labels: none

perf(server): TCP_NODELAY + gated compression on GraphQL route (#157)
  crates/fraiseql-server/src/routes/rest/router.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/tests/rest_transport_e2e_test.rs
Labels: none

feat(server): expose HS256 auth mode for integration testing (#217)
  crates/fraiseql-server/src/middleware/hs256_auth.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/extensions.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/server_config/hs256.rs
  crates/fraiseql-server/src/server_config/methods.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/tests.rs
Labels: none

chore(release): bump workspace + SDKs to 2.1.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-server/src/routes/rest/router.rs
  crates/fraiseql-server/src/server_config/defaults.rs
  crates/fraiseql-server/tests/config_struct_test.rs
  crates/fraiseql-server/tests/integration/database_integration_test.rs
  deny.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-typescript/package.json
Labels: documentation

chore(release): align SDK versions to 2.1.6
  sdks/official/fraiseql-csharp/src/FraiseQL.Tool/FraiseQL.Tool.csproj
  sdks/official/fraiseql-csharp/src/FraiseQL/FraiseQL.csproj
  sdks/official/fraiseql-dart/pubspec.yaml
  sdks/official/fraiseql-elixir/mix.exs
  sdks/official/fraiseql-fsharp/src/FraiseQL/FraiseQL.fsproj
  sdks/official/fraiseql-go/fraiseql/version.go
  sdks/official/fraiseql-java/pom.xml
  sdks/official/fraiseql-php/composer.json
  sdks/official/fraiseql-ruby/lib/fraiseql/version.rb
  sdks/official/fraiseql-rust/Cargo.lock
  sdks/official/fraiseql-rust/Cargo.toml
Labels: none

docs(changelog): complete 2.1.6 notes with missing Added/Changed/Fixed
  CHANGELOG.md
Labels: documentation

build: drop [patch.crates-io] graphql-parser for crates.io publish
  Cargo.toml
Labels: none

ci(sdk-parity): wire Rust, PHP, Elixir into cross-SDK schema parity check
  .github/workflows/sdk-parity.yml
  sdks/official/README.md
  sdks/official/fraiseql-rust/tests/generate_parity_schema.rs
Labels: ci

feat(core): add not_found error status + forward JWT extra_claims to SecurityContext
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-server/src/extractors.rs
Labels: none

ci(sdk-parity): add Phase B generators + CI jobs for Java, Ruby, Dart, C#, F#
  .github/workflows/sdk-parity.yml
  sdks/official/fraiseql-dart/test/generate_parity_schema_test.dart
  sdks/official/fraiseql-python/uv.lock
  sdks/official/fraiseql-ruby/test/generate_parity_schema.rb
Labels: ci

fix(core): inject session_variables before read queries, not only mutations
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
Labels: none
