Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

docs(security): the retrospective on the June 2026 audit
  SECURITY.md
  docs/security/audits/2026-06-11-retrospective.md
  docs/security/audits/2026-06-11-status.md
Labels: documentation

ci(release): the release-validation gate reads workflows with the in-repo YAML parser
  tools/check-release-validation.py
Labels: none

docs(security): the ledger and the doc-claims gate stop naming .phases/ paths
  docs/security/audits/2026-06-11-status.md
  tools/check-doc-claims.sh
Labels: documentation

test(core): the schema roundtrip properties draw names from a set
  CHANGELOG.md
  crates/fraiseql-core/tests/property/property_schema.rs
Labels: documentation

fix(test-support): the local postgres spawn is PG 16, not a two-year-old PG 11
  crates/fraiseql-test-support/src/services.rs
Labels: none

fix(storage): an expiry test writes to the database it is actually bound to
  crates/fraiseql-storage/src/metadata/mod.rs
  crates/fraiseql-storage/src/routes/tests.rs
Labels: none

fix(make): test-unit stops requiring the database it says it does not need
  Makefile
Labels: none

fix(storage): an expiry test writes to the database it is actually bound to
  crates/fraiseql-storage/src/metadata/mod.rs
  crates/fraiseql-storage/src/routes/tests.rs
Labels: none

fix(make): test-unit stops requiring the database it says it does not need
  Makefile
Labels: none

fix(test-support): the local postgres spawn is PG 16, not a two-year-old PG 11
  crates/fraiseql-test-support/src/services.rs
Labels: none

fix(security)!: RLS is asked what is being read, not a name nobody agreed on
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-core/tests/security/integration_rls.rs
Labels: documentation

fix(security)!: a write the field authorizer refuses no longer happens
  CHANGELOG.md
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/tests/commit_gate_rollback_test.rs
  docs/guides/field-authorization.md
Labels: documentation

ci(release): the release-validation gate reads workflows with the in-repo YAML parser
  tools/check-release-validation.py
Labels: none

docs(security): the ledger and the doc-claims gate stop naming .phases/ paths
  docs/security/audits/2026-06-11-status.md
  tools/check-doc-claims.sh
Labels: documentation

test(core): the schema roundtrip properties draw names from a set
  CHANGELOG.md
  crates/fraiseql-core/tests/property/property_schema.rs
Labels: documentation

ci(release): the post-publish package validations can fail, and npm loads what it installed
  .dagger/main.go
  .github/workflows/npm-publish.yml
  .github/workflows/release.yml
  Makefile
  tools/check-release-validation.py
  tools/tests/release_validation_gate_test.sh
Labels: ci

docs(security): the retrospective on the June 2026 audit
  SECURITY.md
  docs/security/audits/2026-06-11-retrospective.md
  docs/security/audits/2026-06-11-status.md
Labels: documentation

docs: documents claim only what the tree has, and a gate keeps it that way
  .dagger/main.go
  .github/ISSUE_TEMPLATE/alpha-bug-report.md
  .github/ISSUE_TEMPLATE/alpha-feedback.md
  CONTRIBUTING.md
  Makefile
  README.md
  SECURITY.md
  architecture.md
  crates/fraiseql-cli/docs/rich-filters.md
  crates/fraiseql-cli/docs/testing-and-qa.md
  crates/fraiseql-core/docs/security-patterns.md
  crates/fraiseql-db/README.md
  crates/fraiseql-observers/README.md
  crates/fraiseql-observers/docs/configuration-examples.md
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql/README.md
  docs/guides/freebsd-deployment.md
  roadmap.md
  sdks/official/fraiseql-python/docs/troubleshooting.md
  security-vulnerabilities.md
  tools/check-doc-claims.sh
  tools/tests/check_doc_claims_test.sh
Labels: documentation

docs(security): track the June audit with a findings ledger a gate keeps complete
  .dagger/main.go
  Makefile
  docs/security/audits/2026-06-11-status.md
  docs/security/audits/2026-06-11.md
  tools/check-audit-ledger.sh
  tools/check-docs-env-vars.sh
  tools/tests/check_audit_ledger_test.sh
  tools/tests/check_docs_env_vars_test.sh
Labels: documentation

test(cli): fraiseql migrate runs against a pinned confiture in the postgres leg
  .dagger/main.go
  Makefile
  crates/fraiseql-cli/tests/migrate_against_confiture.rs
  tools/check-shard-parity.py
  tools/confiture-requirements.txt
Labels: none

fix(cli): fraiseql migrate calls the confiture verbs and options that exist
  crates/fraiseql-cli/src/commands/migrate.rs
  crates/fraiseql-cli/src/output/mod.rs
Labels: none

refactor(cli): one ConfitureCommand builder holds the confiture option table
  crates/fraiseql-cli/src/commands/migrate.rs
  crates/fraiseql-cli/src/commands/tests.rs
Labels: none

docs(cli): fraiseql migrate cites the confiture reference it follows and the pin
  CHANGELOG.md
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/migrate.rs
  crates/fraiseql-cli/tests/migrate_command_tests.rs
Labels: documentation

chore(cli): pin confiture 1.19.0, the current release, not the stale local 0.44.0
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/migrate.rs
  crates/fraiseql-cli/tests/migrate_against_confiture.rs
  tools/confiture-requirements.txt
Labels: documentation

test(cli): fraiseql migrate up must apply through confiture, and --help must state the DSN order
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/tests/migrate_against_confiture.rs
Labels: none

fix(cli): fraiseql migrate hands confiture the DSN as CONFITURE_DATABASE_URL with --no-config
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/migrate.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/tests/migrate_against_confiture.rs
Labels: none

refactor(cli): the migrate help text lives beside the DSN resolver whose order it states
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/migrate.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/tests/migrate_against_confiture.rs
Labels: none

docs(changelog): fraiseql migrate's DSN handoff and help order, #1378
  CHANGELOG.md
Labels: documentation

style(cli): format the round-trip macro body as nightly rustfmt does
  crates/fraiseql-cli/tests/generate_round_trip_test.rs
Labels: none

ci(fmt): pin the nightly rustfmt, in one place, with a gate
  .dagger/main.go
  CHANGELOG.md
  Makefile
  rust-toolchain.toml
  tools/check-fmt-toolchain.sh
  tools/fmt-toolchain.txt
Labels: documentation

ci(fmt): run the toolchain gate from `make preflight` too
  Makefile
Labels: none

fix(security)!: a row read faces the field authorizer and the cost ceiling
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/security/field_authorizer.rs
Labels: none

test(security): both halves reproduce — a GraphQL nested selection gets neither its type's requires_scope nor its type's RLS
  .dagger/main.go
  crates/fraiseql-core/src/runtime/executor/runners/query_nested_gates_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-server/tests/graphql_nested_type_gates_e2e_pg.rs
Labels: none

fix(security)!: an embed is bounded by the reads it performs, not only by each one
  .dagger/main.go
  crates/fraiseql-cli/src/config/toml_schema/rest/mod.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-server/src/routes/rest/embedding/budget.rs
  crates/fraiseql-server/src/routes/rest/embedding/executor.rs
  crates/fraiseql-server/src/routes/rest/embedding/mod.rs
  crates/fraiseql-server/src/routes/rest/embedding/tests.rs
  crates/fraiseql-server/src/routes/rest/handler/query.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/tests/rest_embedding_read_budget_e2e_pg.rs
Labels: none

fix(security)!: a REST leaf ?select= of a nested object field reads the whole object as its type — every declared field, classified, masked and row-gated
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_composed.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested_gates_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/field_filter.rs
  crates/fraiseql-server/tests/graphql_nested_type_gates_e2e_pg.rs
Labels: none

fix(security)!: a Relay connection projects and classifies each node, and refuses a nested level whose type scopes its rows
  crates/fraiseql-core/src/runtime/executor/runners/query_nested.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-server/tests/graphql_nested_type_gates_e2e_pg.rs
Labels: none

fix(security)!: no stored document leaves unprojected at any depth, and one depth bound holds every selection
  crates/fraiseql-core/src/graphql/fragment_resolver.rs
  crates/fraiseql-core/src/graphql/selection_set.rs
  crates/fraiseql-core/src/graphql/selection_set_tests.rs
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_composed.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested_gates_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/support/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-db/src/projection_generator.rs
  crates/fraiseql-db/src/projection_generator/tests.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/tests/graphql_nested_type_gates_e2e_pg.rs
Labels: none

fix(cli)!: a stale [rest] max_embedded_reads fails the compile and names per_request_max, and [rest] refuses unknown keys
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/rest/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/rest/tests.rs
  crates/fraiseql-cli/src/config/toml_schema/tests.rs
Labels: documentation

fix(security)!: a read is bounded by what it returns, not only by what it asks for
  crates/fraiseql-cli/src/config/toml_schema/server_settings.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/security/response_budget.rs
  crates/fraiseql-core/src/security/response_budget/tests.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-error/src/core_error.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/src/tenancy/tests.rs
Labels: none

fix(security)!: a GraphQL nested level is read under its own type's RLS — over the embedded documents when the policy declares its keys, joined through its relationship when not
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_composed.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_composed_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested_gates_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/postgres/adapter/composed.rs
  crates/fraiseql-db/src/postgres/adapter/composed_tests.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/traits/composed_read.rs
  crates/fraiseql-server/tests/graphql_nested_type_gates_e2e_pg.rs
Labels: none
