Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

feat(test-infrastructure): Enable 29 database and integration tests (26 active, 3 phase-blocked)
  .claude/TEST_INFRASTRUCTURE_ANALYSIS.md
  ANALYSIS_DOCUMENTS.md
  TEST_READINESS_QUICK_REFERENCE.md
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/src/cache/query_analyzer.rs
  crates/fraiseql-core/src/compiler/aggregate_types.rs
  crates/fraiseql-core/src/compiler/validator.rs
  crates/fraiseql-core/src/db/postgres/introspector.rs
  crates/fraiseql-core/src/runtime/aggregation.rs
Labels: documentation

ci: Add database schema initialization and integration test execution in CI/CD
  .github/workflows/ci.yml
Labels: ci

feat(db): Add MySQL, SQLite, and SQL Server database adapters
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/db/mod.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/mysql/mod.rs
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/db/sqlite/mod.rs
  crates/fraiseql-core/src/db/sqlite/where_generator.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/mod.rs
  crates/fraiseql-core/src/db/sqlserver/where_generator.rs
  crates/fraiseql-server/Cargo.toml
Labels: none

fix(code-quality): Eliminate remaining compilation warnings
  crates/fraiseql-core/benches/full_pipeline_comparison.rs
  crates/fraiseql-core/src/cache/dependency_tracker.rs
  crates/fraiseql-core/src/db/fraiseql_wire_adapter.rs
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/tests/common/assertions.rs
  crates/fraiseql-core/tests/common/test_db.rs
  crates/fraiseql-server/tests/database_query_test.rs
Labels: none

style(python-sdk): Apply ruff formatting to Python SDK
  fraiseql-python/src/fraiseql/analytics.py
  fraiseql-python/src/fraiseql/decorators.py
Labels: none

style(typescript-sdk): Fix linting and formatting issues
  fraiseql-typescript/.eslintrc.json
  fraiseql-typescript/examples/analytics_schema.d.ts
  fraiseql-typescript/examples/analytics_schema.ts
  fraiseql-typescript/examples/basic_schema.d.ts
  fraiseql-typescript/examples/basic_schema.ts
  fraiseql-typescript/package.json
  fraiseql-typescript/src/analytics.ts
  fraiseql-typescript/src/decorators.ts
  fraiseql-typescript/src/index.ts
  fraiseql-typescript/src/registry.ts
  fraiseql-typescript/src/schema.ts
  fraiseql-typescript/src/types.ts
Labels: none

fix(tests): Eliminate false reassurance from test suite
  .github/workflows/ci.yml
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/tests/wire_direct_test.rs
  crates/fraiseql-server/tests/concurrent_load_test.rs
  crates/fraiseql-server/tests/http_server_e2e_test.rs
  tests/e2e/test_query_execution.rs
  tests/integration/aggregation_test.rs
  tests/integration/fact_table_test.rs
  tests/integration/test_schema.rs
  tests/sql/sqlite/init.sql
  tests/sql/sqlserver/init.sql
Labels: tests, ci

fix(schema): make output type fields non-null by default (#243)
  src/fraiseql/core/graphql_type.py
  tests/config/test_id_policy.py
  tests/integration/auth/test_field_authorization.py
  tests/integration/operators/test_network_operators_e2e.py
  tests/integration/test_cascade_graphql_spec.py
  tests/integration/test_id_in_schema.py
  tests/integration/test_mutation_schema_complete.py
  tests/integration/utils/test_response_utils_integration.py
  tests/regression/test_id_scalar_core_conflict.py
  tests/unit/core/type_system/test_enum.py
  tests/unit/core/type_system/test_graphql_type_conversion.py
Labels: tests, core

chore(release): bump version to v1.9.10 (#243)
  CHANGELOG.md
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix(schema): make output type fields non-null by default (#243) (#244)
  CHANGELOG.md
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  scripts/version_manager.py
  src/fraiseql/__init__.py
  src/fraiseql/core/graphql_type.py
  tests/config/test_id_policy.py
  tests/integration/auth/test_field_authorization.py
  tests/integration/operators/test_network_operators_e2e.py
  tests/integration/test_cascade_graphql_spec.py
  tests/integration/test_id_in_schema.py
  tests/integration/test_mutation_schema_complete.py
  tests/integration/utils/test_response_utils_integration.py
  tests/regression/test_id_scalar_core_conflict.py
  tests/unit/core/type_system/test_enum.py
  tests/unit/core/type_system/test_graphql_type_conversion.py
Labels: documentation, tests, core, config, dependencies

deploy: 89e36f0264c02330538e2245cbdba40ab469029c
  core/queries-and-mutations/index.html
  reference/config/index.html
  sitemap.xml
  sitemap.xml.gz
Labels: none

fix(deps): resolve 10 security vulnerabilities
  Cargo.lock
  Cargo.toml
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  pyproject.toml
  uv.lock
Labels: config, dependencies

chore(release): bump version to v1.9.11
  CHANGELOG.md
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  tests/chaos/cache/test_phase3_validation_real.py
  tests/chaos/resources/test_phase4_validation_real.py
  tests/chaos/resources/test_resource_chaos.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
Labels: documentation, tests, config, dependencies

chore(release): v1.9.11 - Security fixes (#245)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  tests/chaos/cache/test_phase3_validation_real.py
  tests/chaos/resources/test_phase4_validation_real.py
  tests/chaos/resources/test_resource_chaos.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  uv.lock
Labels: documentation, tests, config, dependencies

chore(release): v1.9.11 - Security fixes (#245) (#246)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  tests/chaos/cache/test_phase3_validation_real.py
  tests/chaos/resources/test_phase4_validation_real.py
  tests/chaos/resources/test_resource_chaos.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  uv.lock
Labels: documentation, tests, config, dependencies

feat(schema): Add @deprecated directive support to graphql-core
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/graphql/parser.rs
  crates/fraiseql-core/src/graphql/types.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/tests/phase8_integration.rs
Labels: none

feat(runtime): Implement high-level window function execution pipeline
  crates/fraiseql-core/src/compiler/window_functions.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/window_parser.rs
  crates/fraiseql-core/src/runtime/window_projector.rs
Labels: none

feat(directives): Implement custom directive framework (Phase A3)
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/graphql/directive_evaluator.rs
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/tests.rs
Labels: none

fix(fraiseql-wire): Fix SCRAM auth RFC 5802 compliance and migrate tests to testcontainers
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql-wire/src/auth/scram.rs
  crates/fraiseql-wire/src/connection/tls.rs
  crates/fraiseql-wire/tests/common/mod.rs
  crates/fraiseql-wire/tests/fixtures/schema.sql
  crates/fraiseql-wire/tests/fixtures/seed_data.sql
  crates/fraiseql-wire/tests/integration_operators.rs
  crates/fraiseql-wire/tests/load_tests.rs
  crates/fraiseql-wire/tests/stress_tests.rs
  crates/fraiseql-wire/tests/testcontainer_auth.rs
  crates/fraiseql-wire/tests/tls_integration.rs
  crates/fraiseql-wire/tests/typed_streaming.rs
Labels: none

feat(subscriptions): Implement subscription runtime infrastructure (Phase A4)
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/subscription.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
Labels: none

feat(python-sdk): Add @fraiseql.subscription decorator (Phase A4.3)
  fraiseql-python/src/fraiseql/__init__.py
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/src/fraiseql/registry.py
  fraiseql-python/tests/test_decorators.py
Labels: tests

feat(subscriptions): Add transport adapters for event delivery (Phase A4.4)
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/subscription.rs
Labels: none

feat(typescript-sdk): Add @Subscription decorator for subscription authoring
  fraiseql-typescript/src/decorators.ts
  fraiseql-typescript/src/index.ts
  fraiseql-typescript/src/registry.ts
  fraiseql-typescript/tests/registry.test.ts
Labels: none

feat(sdks): Add subscription support to Go, Java, and PHP SDKs
  fraiseql-go/fraiseql/registry.go
  fraiseql-go/fraiseql/registry_test.go
  fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  fraiseql-java/src/test/java/com/fraiseql/core/SubscriptionTest.java
  fraiseql-php/src/SchemaRegistry.php
  fraiseql-php/src/StaticAPI.php
  fraiseql-php/src/SubscriptionBuilder.php
  fraiseql-php/src/SubscriptionDefinition.php
  fraiseql-php/tests/SubscriptionTest.php
Labels: none

feat(core): Complete Phase A - Core fixes and improvements
  .claude/TODO_IMPLEMENTATION_PLAN.md
  .gitignore
  crates/fraiseql-core/src/compiler/validator.rs
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/db/sqlite/where_generator.rs
  crates/fraiseql-core/src/db/sqlserver/where_generator.rs
  crates/fraiseql-core/src/db/where_clause.rs
  crates/fraiseql-core/src/db/where_sql_generator.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/subscription.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-wire/src/operators/sql_gen.rs
  crates/fraiseql-wire/src/operators/where_operator.rs
  crates/fraiseql-wire/src/stream/json_stream.rs
  crates/fraiseql-wire/tests/client_integration.rs
  crates/fraiseql-wire/tests/common/mod.rs
  crates/fraiseql-wire/tests/config_integration.rs
  crates/fraiseql-wire/tests/integration.rs
  crates/fraiseql-wire/tests/integration_full.rs
  crates/fraiseql-wire/tests/integration_operators.rs
  crates/fraiseql-wire/tests/integration_pause_resume.rs
  crates/fraiseql-wire/tests/load_tests.rs
  crates/fraiseql-wire/tests/rust_predicate_integration.rs
  crates/fraiseql-wire/tests/scram_integration.rs
  crates/fraiseql-wire/tests/streaming_integration.rs
  crates/fraiseql-wire/tests/tls_integration.rs
  crates/fraiseql-wire/tests/typed_streaming.rs
Labels: none

feat(compiler): Add complete IR-to-CompiledSchema mapping (Phase B Tasks 1-2)
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/compiler/ir.rs
  crates/fraiseql-core/src/compiler/parser.rs
  crates/fraiseql-core/src/schema/field_type.rs
Labels: none

fix: Export LTree scalar type and fix __repr__ bug (Issue #248)
  src/fraiseql/__init__.py
  src/fraiseql/types/scalars/ltree.py
Labels: types

docs(changelog): Add v1.9.12 release notes (LTree export fix)
  CHANGELOG.md
Labels: documentation

chore(release): bump version to v1.9.12
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

chore(release): bump version to v1.9.13
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

feat(compiler): Complete Phase B - SQL lowering, aggregates, and CLI converter
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-core/src/compiler/aggregate_types.rs
  crates/fraiseql-core/src/compiler/fact_table.rs
  crates/fraiseql-core/src/compiler/lowering.rs
Labels: none

chore: update lockfiles after test run
  Cargo.lock
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
  uv.lock
Labels: tests

docs(cache): Remove architecture-mismatched TODOs from cache key extraction
  .claude/TODO_IMPLEMENTATION_PLAN.md
  crates/fraiseql-core/src/cache/key.rs
Labels: none

docs: Architecture review of TODO items - remove non-applicable tasks
  .claude/TODO_IMPLEMENTATION_PLAN.md
  crates/fraiseql-core/src/runtime/planner.rs
Labels: none

chore(release): v1.9.12 - LTree export fix (#249)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/types/scalars/ltree.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
  uv.lock
Labels: documentation, tests, types, config, dependencies

feat(cli): Implement introspect-facts and validate-facts commands (Phase C/P3)
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/commands/introspect_facts.rs
  crates/fraiseql-cli/src/commands/validate_facts.rs
  crates/fraiseql-core/src/compiler/fact_table.rs
  crates/fraiseql-core/src/db/mod.rs
  crates/fraiseql-core/src/db/postgres/introspector.rs
Labels: none

docs: Update TODO plan - mark P3 CLI commands complete
  .claude/TODO_IMPLEMENTATION_PLAN.md
Labels: none

feat(cache): Add multi-strategy aggregation caching for fact tables (Phase C/P4)
  .claude/TODO_IMPLEMENTATION_PLAN.md
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/fact_table_version.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/compiler/fact_table.rs
  crates/fraiseql-core/src/compiler/lowering.rs
Labels: none

feat(subscriptions): Implement Kafka adapter with conditional compilation (P1)
  .claude/TODO_IMPLEMENTATION_PLAN.md
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/runtime/subscription.rs
Labels: none

feat(Issue #250): Denormalized column optimization for nested field filters
  CHANGELOG.md
  docs/denormalized-columns.md
  src/fraiseql/fraiseql_utils.py
  src/fraiseql/where_normalization.py
  tests/test_fraiseql_utils.py
  tests/test_where_denormalized_filter.py
Labels: documentation, tests
