Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

docs(mutation-response): Phase 00 sign-off — ADR-0013 + architecture doc
  crates/fraiseql-core/src/runtime/mutation_result.rs
  docs/adr/0013-mutation-response-v2-schema.md
  docs/architecture/mutation-response.md
Labels: documentation

docs(mutation-response): scrub out-of-tree repo name from v2 spec
  docs/adr/0013-mutation-response-v2-schema.md
  docs/architecture/mutation-response.md
Labels: documentation

feat(core): mutation_response v2 parser + schema_version dispatch (Phase 01)
  crates/fraiseql-core/src/runtime/cascade.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/runtime/mutation_result_v2.rs
Labels: none

fix(python-sdk): drop fn_ prefix from crud=True auto-generated sql_source
  sdks/official/fraiseql-python/src/fraiseql/crud.py
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
Labels: none

feat(typescript-sdk): add computed field support for CRUD input generation
  sdks/official/fraiseql-typescript/src/crud.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/parity-with-python.test.ts
Labels: none

feat(java-sdk): add computed field support for CRUD input generation
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/CrudGenerator.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/GraphQLField.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/TypeConverter.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/FieldMetadataTest.java
Labels: none

feat(core,cli): three-state update semantics + CRUD naming config
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/operations.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/mod.rs
Labels: none

feat(python-sdk): add computed=True field marker for CRUD input exclusion
  sdks/official/fraiseql-python/src/fraiseql/crud.py
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/types.py
  sdks/official/fraiseql-python/tests/test_decorators.py
Labels: tests

feat(sdks): add computed field support to C#, Dart, Elixir, F#, PHP, Ruby
  sdks/official/fraiseql-csharp/src/FraiseQL/Attributes/GraphQLFieldAttribute.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/CrudGenerator.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Export/SchemaExporter.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Models/FieldDefinition.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Models/IntermediateField.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Registry/SchemaRegistry.cs
  sdks/official/fraiseql-dart/lib/src/authoring/annotations.dart
  sdks/official/fraiseql-dart/lib/src/authoring/crud_generator.dart
  sdks/official/fraiseql-elixir/lib/fraiseql/crud_generator.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/definitions.ex
  sdks/official/fraiseql-fsharp/src/FraiseQL/Attributes.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/CrudGenerator.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Dsl.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/SchemaRegistry.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Types.fs
  sdks/official/fraiseql-php/src/Attributes/GraphQLField.php
  sdks/official/fraiseql-php/src/CrudGenerator.php
  sdks/official/fraiseql-php/src/FieldDefinition.php
  sdks/official/fraiseql-php/src/SchemaRegistry.php
  sdks/official/fraiseql-php/src/TypeBuilder.php
  sdks/official/fraiseql-ruby/lib/fraiseql/authoring/crud_generator.rb
Labels: none

feat(core): surface cascade JSONB in mutation response envelope
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
Labels: none

fix(core): inject_params respects native_columns for typed WHERE clauses (#219)
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
Labels: none

chore(security): remove 3 patched CVEs from .trivyignore
  .trivyignore
Labels: none

docs(changelog): add [Unreleased] section for post-2.1.6 changes
  CHANGELOG.md
Labels: documentation

feat(core): native column support in aggregation WHERE/GROUP BY/ORDER BY
  CHANGELOG.md
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/runtime/aggregate_parser.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/mod.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-core/src/runtime/executor/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/native_columns.rs
  crates/fraiseql-core/tests/e2e_aggregate_queries.rs
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
Labels: documentation

refactor(core,cli): drop mutation response v1 + deduplicate builtin scalar list
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/mod.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/runtime/cascade.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/runtime/mutation_result_v2.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
Labels: none

refactor(core): consolidate mutation response to single canonical format
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/cascade.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/runtime/mutation_result_v2.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_error_type_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-server/tests/apq_mutation_e2e_test.rs
  crates/fraiseql-server/tests/grpc_transport_e2e_test.rs
  crates/fraiseql-server/tests/rest_transport_e2e_test.rs
  docs/adr/0013-mutation-response-v2-schema.md
  docs/architecture/mutation-response.md
Labels: documentation

feat(server): per-tenant executor isolation with lock-free reads
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/api/mod.rs
  crates/fraiseql-server/src/routes/api/tenant_admin.rs
  crates/fraiseql-server/src/routes/api/types.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/mod.rs
  crates/fraiseql-server/src/routes/graphql/tenant_key.rs
  crates/fraiseql-server/src/routes/graphql/tenant_registry.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/tenancy/mod.rs
  crates/fraiseql-server/src/tenancy/pool_factory.rs
  crates/fraiseql-server/tests/multitenancy_test.rs
Labels: none

chore(deps): patch rustls-webpki advisory + clippy fixes
  Cargo.lock
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/native_columns.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  deny.toml
Labels: none

chore(release): bump version to 2.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: documentation

fix(server): gate fraiseql-server binary behind cli feature
  crates/fraiseql-server/Cargo.toml
Labels: none

fix(dart-sdk): reformat crud_generator.dart for compliance with dart format
  sdks/official/fraiseql-dart/lib/src/authoring/crud_generator.dart
Labels: none

fix(sdk): reformat Rust SDK and add computed field to F# SDK tests
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaExporterTests.fs
  sdks/official/fraiseql-rust/tests/generate_parity_schema.rs
Labels: none

fix(ruby-sdk): resolve RuboCop style violations
  sdks/community/fraiseql-ruby/spec/scope_extraction_spec.rb
  sdks/community/fraiseql-ruby/spec/spec_helper.rb
Labels: none

fix(java-sdk, elixir-sdk): resolve compilation and static analysis issues
  sdks/official/fraiseql-elixir/lib/fraiseql/client.ex
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/TypeConverter.java
Labels: none

fix(ci): remove unused fs import from D2 diagram workflow
  .github/workflows/generate-d2-diagrams.yml
Labels: ci

fix(ci): add cargo-nextest installation to mutation testing workflow
  .github/workflows/mutation.yml
Labels: ci

fix(docker): remove non-existent vendor directory reference from Dockerfile
  Dockerfile
Labels: none

fix(ruby-sdk, java-sdk): resolve RuboCop violations and test compilation errors
  sdks/community/fraiseql-ruby/Gemfile
  sdks/community/fraiseql-ruby/Rakefile
  sdks/community/fraiseql-ruby/fraiseql-ruby.gemspec
  sdks/community/fraiseql-ruby/lib/fraiseql.rb
  sdks/community/fraiseql-ruby/lib/fraiseql/schema.rb
  sdks/community/fraiseql-ruby/lib/fraiseql/types.rb
  sdks/community/fraiseql-ruby/spec/export_types_spec.rb
  sdks/community/fraiseql-ruby/spec/scope_extraction_spec.rb
  sdks/community/fraiseql-ruby/spec/spec_helper.rb
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/FieldMetadataTest.java
Labels: none

fix(ruby-sdk): resolve all remaining RuboCop violations with proper configuration
  sdks/community/fraiseql-ruby/.rubocop.yml
  sdks/community/fraiseql-ruby/fraiseql-ruby.gemspec
  sdks/community/fraiseql-ruby/lib/fraiseql/schema.rb
Labels: none

fix(ruby-sdk): remove bundler runtime dependency and regenerate Gemfile.lock
  sdks/community/fraiseql-ruby/Gemfile.lock
  sdks/community/fraiseql-ruby/fraiseql-ruby.gemspec
Labels: none

fix(ci): resolve D2 diagram workflow exec conflict
  .github/workflows/generate-d2-diagrams.yml
Labels: ci

fix(java-sdk, elixir-sdk): resolve remaining test failures and type checking issues
  sdks/official/fraiseql-elixir/lib/fraiseql/client.ex
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/FieldMetadataTest.java
Labels: none

fix(ruby-sdk): fix RSpec describe block in export_types_spec.rb
  sdks/community/fraiseql-ruby/spec/export_types_spec.rb
Labels: none

fix(ruby-sdk): fix export_types method signature to accept positional arguments
  sdks/community/fraiseql-ruby/lib/fraiseql.rb
  sdks/community/fraiseql-ruby/lib/fraiseql/schema.rb
Labels: none

fix(elixir-sdk): suppress Dialyzer warning for usage_error! function
  sdks/official/fraiseql-elixir/lib/mix/tasks/fraiseql.export.ex
Labels: none

fix(ruby-sdk): use keyword arguments for export_types to comply with RuboCop
  sdks/community/fraiseql-ruby/lib/fraiseql.rb
  sdks/community/fraiseql-ruby/lib/fraiseql/schema.rb
  sdks/community/fraiseql-ruby/spec/export_types_spec.rb
  sdks/community/fraiseql-ruby/spec/scope_extraction_spec.rb
Labels: none

fix(ruby-sdk): fix test code to use correct method names and RSpec matchers
  sdks/community/fraiseql-ruby/spec/scope_extraction_spec.rb
Labels: none

fix(ruby-sdk): fix test fixture scope values to include required colons
  sdks/community/fraiseql-ruby/spec/scope_extraction_spec.rb
Labels: none

fix(ruby-sdk): fix action-based scope pattern and RSpec matchers
  sdks/community/fraiseql-ruby/spec/scope_extraction_spec.rb
Labels: none

fix(ruby-sdk): fix RuboCop line length violations in scope_extraction_spec.rb
  sdks/community/fraiseql-ruby/spec/scope_extraction_spec.rb
Labels: none
