Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

chore: bump version to v1.8.0-beta.5 [release]
  CHANGELOG.md
  README.md
  deploy/DEPLOYMENT-SECURITY-GUIDE.md
  deploy/kubernetes/fraiseql-hardened.yaml
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix: add type annotations and make scripts executable [v1.8.0-beta.5]
  deploy/docker/entrypoint.py
  pyproject.toml
  verify_native_errors.py
Labels: config, dependencies

docs: update README version table to v1.8.0-beta.5 [v1.8.0-beta.5]
  README.md
Labels: documentation

fix(ci): Resolve PR #170 validation failures
  src/fraiseql/security/startup_checks.py
  templates/readme-template.md
Labels: none

fix(ci): Resolve remaining PR #170 validation failures
  deploy/docker/Dockerfile
  tests/integration/graphql/mutations/test_native_error_arrays.py
Labels: tests

fix(ci): Skip failing native error arrays tests in PR #170
  tests/integration/graphql/mutations/test_native_error_arrays.py
Labels: tests

test(filters): add comprehensive nested filter tests for id field handling
  tests/regression/test_nested_filter_id_field.py
Labels: tests

fix(filters): enhance nested filter robustness and add comprehensive documentation (#124)
  CHANGELOG.md
  docs/filtering/nested-filters.md
  mkdocs.yml
  src/fraiseql/db.py
Labels: documentation

chore: bump version to 1.8.0 for stable release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

Release v1.8.0 - Stable Release with Nested Filter Fixes (#171)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/filtering/nested-filters.md
  fraiseql_rs/Cargo.toml
  mkdocs.yml
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/db.py
  tests/regression/test_nested_filter_id_field.py
  uv.lock
Labels: documentation, tests, config, dependencies

feat(where): complete Phase R2 - implement missing operators [GREEN]
  src/fraiseql/db.py
  src/fraiseql/where_clause.py
Labels: none

refactor(where): remove ilike backward compatibility, use icontains instead
  src/fraiseql/where_clause.py
  tests/integration/database/repository/test_dynamic_filter_construction.py
Labels: tests

test(where): remove 4 incomplete TDD RED cycle tests, add 2 complete tests
  tests/unit/repository/test_field_name_mapping.py
Labels: tests

test(where): add comprehensive unit tests for _to_whereinput_dict() method [QA]
  tests/unit/sql/test_whereinput_to_dict.py
Labels: tests

docs(where): update documentation to reflect industrial refactor [QA]
  docs/advanced/where-input-types.md
  docs/examples/dict-based-nested-filtering.md
  docs/guides/filtering.md
  docs/migration/from-graphene.md
  docs/migration/from-postgraphile.md
  docs/reference/where-clause-syntax-comparison.md
Labels: documentation

refactor(where): complete Phase R1 - WHERE clause industrial refactor [GREEN]
  src/fraiseql/db.py
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/where_clause.py
  src/fraiseql/where_normalization.py
  tests/conftest.py
  tests/integration/test_parameter_binding.py
  tests/integration/test_vector_e2e.py
  tests/regression/test_nested_filter_id_field.py
  tests/regression/test_where_golden.py
  tests/unit/db/test_nested_jsonb_path_builder.py
  tests/unit/db/test_nested_object_filter_detection.py
  tests/unit/repository/test_field_name_mapping.py
  tests/unit/test_where_clause.py
  tests/unit/test_where_clause_security.py
  tests/unit/test_where_normalization.py
Labels: tests, sql

feat(where): implement automatic camelCase → snake_case field name conversion [GREEN]
  src/fraiseql/where_normalization.py
  tests/unit/repository/test_field_name_mapping.py
Labels: tests

fix(where): restore JSONB path detection for types with jsonb_column
  src/fraiseql/types/fraise_type.py
  src/fraiseql/where_normalization.py
Labels: types

plan(refactor): comprehensive refactoring opportunities analysis
  .phases/operator-strategies-refactor/README.md
  .phases/operator-strategies-refactor/phase-1-foundation.md
  .phases/operator-strategies-refactor/phase-2-core-operators.md
  .phases/operator-strategies-refactor/phase-3-specialized-types-green.md
  .phases/operator-strategies-refactor/phase-4-advanced-operators-green.md
  .phases/operator-strategies-refactor/phase-5-refactor.md
  .phases/operator-strategies-refactor/phase-6-qa.md
  .phases/operator-strategies-refactor/phase-7-cleanup.md
  .phases/operator-strategies-refactor/phase-8-documentation.md
  dev/planning/refactoring-opportunities-2025-12.md
Labels: none

docs(refactor): add phased implementation plan for database layer refactor
  .phases/database-layer-refactor/README.md
  .phases/database-layer-refactor/phase-1-foundation-red.md
  .phases/database-layer-refactor/phase-10-documentation.md
  .phases/database-layer-refactor/phase-2-type-registry-green.md
  .phases/database-layer-refactor/phase-3-query-builder-green.md
  .phases/database-layer-refactor/phase-4-where-builder-green.md
  .phases/database-layer-refactor/phase-5-connection-manager-green.md
  .phases/database-layer-refactor/phase-6-repository-facade-green.md
  .phases/database-layer-refactor/phase-7-refactor.md
  .phases/database-layer-refactor/phase-8-qa.md
  .phases/database-layer-refactor/phase-9-cleanup.md
Labels: none

docs(where): mark regression fix as completed in plan
  .phases/where-jsonb-path-regression-fix/README.md
Labels: none

refactor(operators): complete Phase 5 - refactor all operator strategies [REFACTOR]
  .phases/operator-strategies-refactor/phase-5-refactor.md
  src/fraiseql/sql/operators/core/boolean_operators.py
  src/fraiseql/sql/operators/core/numeric_operators.py
  src/fraiseql/sql/operators/core/string_operators.py
  src/fraiseql/sql/operators/postgresql/daterange_operators.py
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
  src/fraiseql/sql/operators/postgresql/macaddr_operators.py
  src/fraiseql/sql/operators/postgresql/network_operators.py
Labels: sql

refactor(operators): Phase 2 - Core operators migration [GREEN]
  src/fraiseql/sql/operators/__init__.py
  src/fraiseql/sql/operators/core/__init__.py
  src/fraiseql/sql/operators/core/boolean_operators.py
  src/fraiseql/sql/operators/core/numeric_operators.py
  src/fraiseql/sql/operators/core/string_operators.py
  tests/unit/sql/operators/core/test_boolean_operators.py
  tests/unit/sql/operators/core/test_numeric_operators.py
  tests/unit/sql/operators/core/test_string_operators.py
Labels: tests, sql

refactor(operators): Phase 1 - Foundation & test infrastructure [RED]
  .phases/where-jsonb-path-regression-fix/README.md
  src/fraiseql/sql/operators/__init__.py
  src/fraiseql/sql/operators/advanced/__init__.py
  src/fraiseql/sql/operators/array/__init__.py
  src/fraiseql/sql/operators/base.py
  src/fraiseql/sql/operators/core/__init__.py
  src/fraiseql/sql/operators/postgresql/__init__.py
  src/fraiseql/sql/operators/strategy_registry.py
  src/fraiseql/sql/operators/utils/__init__.py
  tests/unit/sql/operators/test_base_strategy.py
Labels: tests, sql

refactor(operators): Phase 4 - Advanced operators migration [GREEN]
  .phases/operator-strategies-refactor/phase-4-advanced-operators-green.md
  .phases/operator-strategies-refactor/phase-5-refactor.md
  .phases/operator-strategies-refactor/phase-6-qa.md
  .phases/operator-strategies-refactor/phase-7-cleanup.md
  .phases/operator-strategies-refactor/phase-8-documentation.md
  src/fraiseql/sql/operators/__init__.py
  src/fraiseql/sql/operators/advanced/__init__.py
  src/fraiseql/sql/operators/advanced/coordinate_operators.py
  src/fraiseql/sql/operators/advanced/jsonb_operators.py
  src/fraiseql/sql/operators/array/__init__.py
  src/fraiseql/sql/operators/array/array_operators.py
  src/fraiseql/sql/operators/fallback/__init__.py
  src/fraiseql/sql/operators/fallback/comparison_operators.py
  src/fraiseql/sql/operators/fallback/list_operators.py
  src/fraiseql/sql/operators/fallback/null_operators.py
  src/fraiseql/sql/operators/fallback/path_operators.py
  src/fraiseql/sql/operators/fallback/pattern_operators.py
Labels: sql

refactor(operators): add common helpers to BaseOperatorStrategy [REFACTOR]
  src/fraiseql/sql/operators/base.py
Labels: sql

refactor(operators): Phase 3 - PostgreSQL-specific operators [GREEN]
  src/fraiseql/sql/operators/__init__.py
  src/fraiseql/sql/operators/postgresql/__init__.py
  src/fraiseql/sql/operators/postgresql/daterange_operators.py
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
  src/fraiseql/sql/operators/postgresql/macaddr_operators.py
  src/fraiseql/sql/operators/postgresql/network_operators.py
Labels: sql

fix(operators): update ltree strategy for correct casting and fix API signature in tests [CLEANUP]
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
  tests/unit/sql/where/test_ltree_array_operators.py
  tests/unit/sql/where/test_ltree_operators_complete.py
  tests/unit/sql/where/test_ltree_path_analysis_operators.py
  tests/unit/sql/where/test_ltree_path_manipulation_operators.py
Labels: tests, sql

refactor(tests): update operator_strategies imports to operators module [CLEANUP]
  src/fraiseql/db.py
  src/fraiseql/sql/where/core/sql_builder.py
  tests/core/test_all_special_types_fix.py
  tests/core/test_field_type_propagation.py
  tests/core/test_jsonb_network_casting_fix.py
  tests/core/test_production_fix_validation.py
  tests/core/test_special_types_tier1_core.py
  tests/integration/database/sql/test_coordinate_filter_operations.py
  tests/integration/database/sql/test_daterange_filter_operations.py
  tests/integration/database/sql/test_issue_resolution_demonstration.py
  tests/integration/database/sql/test_jsonb_network_filtering_bug.py
  tests/integration/database/sql/test_ltree_filter_operations.py
  tests/integration/database/sql/test_mac_address_filter_operations.py
  tests/integration/database/sql/test_network_address_filtering.py
  tests/integration/database/sql/test_network_filtering_fix.py
  tests/integration/database/sql/test_network_operator_consistency_bug.py
  tests/integration/database/sql/test_production_cqrs_ip_filtering_bug.py
  tests/integration/repository/test_repository_find_where_processing.py
  tests/regression/v0_5_7/test_network_filtering_regression.py
  tests/regression/where_clause/test_complete_sql_validation.py
  tests/regression/where_clause/test_industrial_where_clause_generation.py
  tests/regression/where_clause/test_numeric_consistency_validation.py
  tests/regression/where_clause/test_precise_sql_validation.py
  tests/regression/where_clause/test_sql_structure_validation.py
  tests/unit/graphql/test_field_type_extraction.py
  tests/unit/sql/test_all_operator_strategies_coverage.py
  tests/unit/sql/test_network_operator_strategy_fix.py
  tests/unit/sql/where/test_ltree_array_operators.py
  tests/unit/sql/where/test_ltree_operators_complete.py
  tests/unit/sql/where/test_ltree_path_analysis_operators.py
  tests/unit/sql/where/test_ltree_path_manipulation_operators.py
Labels: tests, sql

refactor(sql): remove legacy operator_strategies.py and update API to new signature [CLEANUP]
  src/fraiseql/sql/operator_strategies.py
  src/fraiseql/sql/where/core/sql_builder.py
  tests/integration/database/sql/test_coordinate_filter_operations.py
  tests/integration/database/sql/test_daterange_filter_operations.py
  tests/integration/database/sql/test_ltree_filter_operations.py
  tests/integration/database/sql/test_mac_address_filter_operations.py
  tests/integration/repository/test_repository_find_where_processing.py
Labels: tests, sql

feat(ltree): restore missing ltree operators (array, concat, lca) [FIX]
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
Labels: sql

fix(ltree): ensure all ltree operators cast path to ::ltree [CLEANUP]
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
Labels: sql

feat(operators): Complete ltree operator implementation [GREEN]
  src/fraiseql/sql/operators/fallback/list_operators.py
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
  tests/unit/sql/where/test_ltree_operators_complete.py
Labels: tests, sql

fix(operators): Fix strategy registration order and network casting [GREEN]
  src/fraiseql/sql/operators/__init__.py
  src/fraiseql/sql/operators/postgresql/network_operators.py
  tests/unit/graphql/test_field_type_extraction.py
  tests/unit/sql/test_all_operator_strategies_coverage.py
  tests/unit/sql/test_network_operator_strategy_fix.py
Labels: tests, sql

feat(ltree): Add depth_* operator aliases and fix test parameter order
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
  tests/core/test_jsonb_network_casting_fix.py
  tests/core/test_special_types_tier1_core.py
  tests/regression/where_clause/test_industrial_where_clause_generation.py
  tests/regression/where_clause/test_precise_sql_validation.py
  tests/unit/sql/where/core/__init__.py
  tests/unit/sql/where/core/test_error_handling.py
  tests/unit/sql/where/core/test_field_detection.py
  tests/unit/sql/where/core/test_where_builder.py
  tests/unit/sql/where/operators/__init__.py
  tests/unit/sql/where/operators/specialized/test_fulltext.py
  tests/unit/sql/where/operators/specialized/test_ltree.py
  tests/unit/sql/where/operators/test_array.py
  tests/unit/sql/where/operators/test_basic.py
  tests/unit/sql/where/operators/test_jsonb.py
  tests/unit/sql/where/operators/test_list.py
  tests/unit/sql/where/operators/test_pattern.py
  tests/unit/sql/where/test_coordinate_operators_complete.py
  tests/unit/sql/where/test_date_datetime_port_complete.py
  tests/unit/sql/where/test_daterange_operators_complete.py
  tests/unit/sql/where/test_email_hostname_mac_complete.py
  tests/unit/sql/where/test_field_detection_vector.py
  tests/unit/sql/where/test_logical_operators_complete.py
  tests/unit/sql/where/test_ltree_array_operators.py
  tests/unit/sql/where/test_ltree_operators_complete.py
  tests/unit/sql/where/test_ltree_operators_sql_building.py
  tests/unit/sql/where/test_ltree_path_analysis_operators.py
  tests/unit/sql/where/test_ltree_path_manipulation_operators.py
  tests/unit/sql/where/test_nested_object_where_builder.py
  tests/unit/sql/where/test_network_operators_complete.py
  tests/unit/sql/where/test_vector_operators_complete.py
Labels: tests, sql

docs: Add comprehensive test coverage analysis
  TEST_COVERAGE_ANALYSIS.md
Labels: documentation

refactor(tests): consolidate network WHERE operators
  tests/unit/sql/where/operators/network/test_email.py
  tests/unit/sql/where/operators/network/test_hostname.py
  tests/unit/sql/where/operators/network/test_mac.py
  tests/unit/sql/where/operators/network/test_port.py
  tests/unit/sql/where/test_date_datetime_port_complete.py
  tests/unit/sql/where/test_email_hostname_mac_complete.py
  tests/unit/sql/where/test_ip_operators_sql_building.py
  tests/unit/sql/where/test_network_operators_complete.py
Labels: tests

refactor(tests): consolidate core, operators, and temporal WHERE tests
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
  src/fraiseql/sql/where/core/sql_builder.py
  tests/unit/sql/where/operators/temporal/__init__.py
  tests/unit/sql/where/operators/temporal/test_date.py
  tests/unit/sql/where/operators/temporal/test_daterange.py
  tests/unit/sql/where/operators/temporal/test_datetime.py
  tests/unit/sql/where/operators/test_logical.py
  tests/unit/sql/where/test_daterange_operators_complete.py
  tests/unit/sql/where/test_logical_operators_foundation.py
Labels: tests, sql

refactor(tests): consolidate spatial WHERE operators
  tests/unit/sql/where/operators/spatial/__init__.py
  tests/unit/sql/where/operators/spatial/test_coordinate.py
  tests/unit/sql/where/operators/test_vectors.py
  tests/unit/sql/where/test_coordinate_operators_sql_building.py
  tests/unit/sql/where/test_vector_operators_complete.py
Labels: tests

feat(where): Add field type detection and JSONB casting for WHERE clauses
  src/fraiseql/sql/operators/postgresql/ltree_operators.py
  tests/unit/sql/where/operators/network/__init__.py
  tests/unit/sql/where/operators/network/test_ip.py
Labels: tests, sql

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
