Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(phase-5.5): Integrate advanced selections into unified execution pipeline
  fraiseql_rs/src/pipeline/unified.rs
Labels: none

docs: Document Phase 5 Advanced GraphQL Features
  CHANGELOG.md
  docs/architecture/overview.md
Labels: documentation

docs: Add Phase 5 consolidation and cleanup strategy documents
  CLEANUP_START_HERE.md
  CONSOLIDATION_STRATEGY.md
  WEEK1_SUMMARY.md
Labels: documentation

docs: Add comprehensive code cleaning plan (8-10 weeks, phased approach)
  CODE_CLEANING_PLAN.md
Labels: documentation

fix(phase-1.2): Fix critical Ruff errors - 98% reduction
  src/fraiseql/__init__.py
  src/fraiseql/auth/token_revocation.py
  src/fraiseql/db/executor.py
  src/fraiseql/db/query_builder.py
  src/fraiseql/db/repository.py
  src/fraiseql/db/session.py
  src/fraiseql/middleware/rate_limiter.py
  src/fraiseql/subscriptions/protocol.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/integration/rust/test_pool_abstraction_integration.py
  tests/integration/rust/test_rust_pipeline_integration.py
  tests/unit/api/test_graphql_engine.py
  tests/unit/axum/__pycache__/__init__.cpython-313.pyc
  tests/unit/axum/__pycache__/test_config.cpython-313-pytest-8.4.2.pyc
  tests/unit/axum/__pycache__/test_server.cpython-313-pytest-8.4.2.pyc
  tests/unit/axum/test_app_factory_discovery.py
  tests/unit/axum/test_decorator_hooks.py
  tests/unit/axum/test_discovery.py
  tests/unit/axum/test_registry.py
  tests/unit/core/test_phase_a_performance.py
  tests/unit/core/test_schema_export.py
  tests/unit/core/test_schema_loader.py
  tests/unit/core/test_where_generator_schema_loader.py
  tests/unit/ffi/test_process_graphql_request.py
Labels: tests

docs(phase-1.3): Document db_core.py deprecation strategy
  DB_CORE_DEPRECATION_STRATEGY.md
Labels: documentation

docs(phase-1.4): Establish code quality baseline metrics
  METRICS_BASELINE.md
Labels: documentation

chore(release): bump version to v1.9.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/entity_filter.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/mutation/tests/entity_field_filtering.rs
  fraiseql_rs/src/mutation/tests/mod.rs
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/rust_executor.py
  tests/integration/graphql/mutations/test_entity_field_selection_integration.py
  tests/unit/mutations/test_entity_field_extraction.py
  uv.lock
Labels: documentation, tests, mutations, config, dependencies

docs(security): improve documentation accuracy for security features
  README.md
  src/fraiseql/enterprise/rbac/middleware.py
  src/fraiseql/enterprise/rbac/resolver.py
  src/fraiseql/security/profiles/definitions.py
Labels: documentation

test(rbac): add enforcement verification tests (Issue #225)
  tests/integration/enterprise/rbac/test_rbac_enforcement.py
Labels: tests

chore(release): bump version to v1.9.7 (#231)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/entity_filter.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/mutation/tests/entity_field_filtering.rs
  fraiseql_rs/src/mutation/tests/mod.rs
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/enterprise/rbac/middleware.py
  src/fraiseql/enterprise/rbac/resolver.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/rust_executor.py
  src/fraiseql/security/profiles/definitions.py
  tests/integration/enterprise/rbac/test_rbac_enforcement.py
  tests/integration/graphql/mutations/test_entity_field_selection_integration.py
  tests/unit/mutations/test_entity_field_extraction.py
  uv.lock
Labels: documentation, tests, mutations, config, dependencies

fix(deps): upgrade dependencies to address Trivy CVEs
  pyproject.toml
  uv.lock
Labels: config, dependencies

fix: Preserve __typename in entity field filtering for mutations
  fraiseql_rs/src/mutation/entity_filter.rs
Labels: none

chore(release): bump version to v1.9.8
  CHANGELOG.md
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
Labels: documentation, tests, config, dependencies

chore(release): v1.9.8 - __typename preservation in mutations (#234)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/mutation/entity_filter.rs
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

chore(infra): Add comprehensive CI/CD and development infrastructure
  .clippy.toml
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .rustfmt.toml
  CONTRIBUTING.md
  Cargo.toml
  DEVELOPMENT.md
  IMPLEMENTATION_ROADMAP.md
  Makefile
  benches/cache_benchmark.rs
  benches/schema_benchmark.rs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/lib.rs
  rust-toolchain.toml
  tests/common/mod.rs
  tests/e2e/test_query_execution.rs
  tests/integration/test_schema.rs
Labels: documentation, tests, config, ci

chore(tooling): Add best-in-class Rust development tooling
  .cargo/config.toml
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  tools/RECOMMENDED_TOOLS.md
  tools/install_tools.sh
Labels: none

feat(foundation): Phase 1 - Copy 100% reusable modules from v1
  .cargo/config.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/apq/hasher.rs
  crates/fraiseql-core/src/apq/metrics.rs
  crates/fraiseql-core/src/apq/mod.rs
  crates/fraiseql-core/src/apq/storage.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/config/mod.rs
  crates/fraiseql-core/src/db/mod.rs
  crates/fraiseql-core/src/error.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/utils/mod.rs
Labels: none

refactor(architecture): Clarify authoring vs runtime separation
  Cargo.toml
  IMPLEMENTATION_ROADMAP.md
Labels: documentation

docs: Organize planning docs into .claude/ directory
  .claude/CLAUDE.md
  .claude/IMPLEMENTATION_ROADMAP.md
  .claude/QUICK_REFERENCE.md
  README.md
Labels: documentation

perf: Enable mold linker for 3-5x faster compilation
  .cargo/config.toml
Labels: none

docs(strategy): Add comprehensive strategic overview for FraiseQL v2
  .claude/STRATEGIC_OVERVIEW.md
Labels: none

docs(architecture): Complete Rust core architecture design
  docs/architecture/ADVANCED_FEATURES_ARCHITECTURE.md
  docs/architecture/CODE_EXAMPLES.md
  docs/architecture/IMPLEMENTATION_GUIDE.md
  docs/architecture/README.md
  docs/architecture/RUST_CORE_ARCHITECTURE.md
Labels: documentation

feat(db): Phase 2 - PostgreSQL database adapter with WHERE generation
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/db/mod.rs
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/postgres/mod.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/db/types.rs
  crates/fraiseql-core/src/db/where_clause.rs
Labels: none

feat(test): Add Docker-based test infrastructure
  .env.test
  .gitignore
  Makefile
  TESTING.md
  docker-compose.test.yml
  tests/README.md
  tests/sql/mysql/init.sql
  tests/sql/postgres/init-vector.sql
  tests/sql/postgres/init.sql
Labels: documentation, tests

fix(db): Fix WHERE clause generation for numeric and boolean comparisons
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/db/types.rs
Labels: none

fix: Add __typename to nested objects in mutation responses
  Cargo.lock
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/mutation/entity_filter.rs
  src/fraiseql/mutations/mutation_decorator.py
  uv.lock
Labels: mutations

feat(cache): Phase 2 - Complete query result caching module
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/config.rs
  crates/fraiseql-core/src/cache/dependency_tracker.rs
  crates/fraiseql-core/src/cache/invalidation.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/result.rs
Labels: none

fix: prevent infinite loop with mocked schema objects in tests
  src/fraiseql/mutations/mutation_decorator.py
Labels: mutations

feat(security): Phase 3 - Complete security and validation layers
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/security/audit.rs
  crates/fraiseql-core/src/security/auth_middleware.rs
  crates/fraiseql-core/src/security/error_formatter.rs
  crates/fraiseql-core/src/security/errors.rs
  crates/fraiseql-core/src/security/field_masking.rs
  crates/fraiseql-core/src/security/headers.rs
  crates/fraiseql-core/src/security/introspection_enforcer.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-core/src/security/mod.rs.v1
  crates/fraiseql-core/src/security/profiles.rs
  crates/fraiseql-core/src/security/query_validator.rs
  crates/fraiseql-core/src/security/tls_enforcer.rs
  crates/fraiseql-core/src/validation/id_policy.rs
  crates/fraiseql-core/src/validation/input_processor.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(compiler): Phase 4 - Compiler infrastructure foundation
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/compiler/ir.rs
  crates/fraiseql-core/src/compiler/lowering.rs
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/compiler/parser.rs
  crates/fraiseql-core/src/compiler/validator.rs
  crates/fraiseql-core/src/db/mod.rs
  crates/fraiseql-core/src/lib.rs
Labels: none

feat(runtime): Phase 5 - Runtime query executor implementation
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/runtime/projection.rs
Labels: none

feat(server): Phase 6 - HTTP server with Axum
  Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/config.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/middleware/cors.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/middleware/trace.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/routes/health.rs
  crates/fraiseql-server/src/routes/introspection.rs
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/server.rs
Labels: none

feat(order-by): add PostgreSQL COLLATE support for locale-aware text sorting
  docs/core/queries-and-mutations.md
  docs/reference/config.md
  src/fraiseql/db.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/sql/graphql_order_by_generator.py
  src/fraiseql/sql/order_by_generator.py
  tests/unit/fastapi/test_config_collation.py
  tests/unit/sql/test_order_by_collate.py
Labels: documentation, tests, sql

feat(utils): Phase 7 - Utilities and vector support
  crates/fraiseql-core/src/utils/casing.rs
  crates/fraiseql-core/src/utils/mod.rs
  crates/fraiseql-core/src/utils/operators.rs
  crates/fraiseql-core/src/utils/vector.rs
Labels: none

feat(python): Phase 8 - Python schema authoring (compile-time decorators)
  fraiseql-python/README.md
  fraiseql-python/examples/basic_schema.py
  fraiseql-python/pyproject.toml
  fraiseql-python/src/fraiseql/__init__.py
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/src/fraiseql/registry.py
  fraiseql-python/src/fraiseql/schema.py
  fraiseql-python/src/fraiseql/types.py
  fraiseql-python/tests/__init__.py
  fraiseql-python/tests/test_decorators.py
  fraiseql-python/tests/test_types.py
Labels: tests

feat(order-by): add PostgreSQL COLLATE support for locale-aware text sorting
  docs/core/queries-and-mutations.md
  docs/reference/config.md
  src/fraiseql/db.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/sql/graphql_order_by_generator.py
  src/fraiseql/sql/order_by_generator.py
  tests/unit/fastapi/test_config_collation.py
  tests/unit/sql/test_order_by_collate.py
Labels: documentation, tests, sql

fix: Add __typename to nested objects in mutation responses (#237)
  Cargo.lock
  docs/core/queries-and-mutations.md
  docs/reference/config.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/mutation/entity_filter.rs
  src/fraiseql/db.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/sql/graphql_order_by_generator.py
  src/fraiseql/sql/order_by_generator.py
  tests/unit/fastapi/test_config_collation.py
  tests/unit/sql/test_order_by_collate.py
  uv.lock
Labels: documentation, tests, sql, mutations

docs(planning): Add Phase 4b plan for aggregation and ORDER BY collation
  .claude/plans/phase-4b-aggregation-orderby.md
Labels: none

docs(planning): Add user-aware automatic collation enhancement
  .claude/plans/phase-4b-user-aware-collation.md
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
