Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(federation): `_entities` projects nested objects to the router's selection set
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/tests/federation.rs
  crates/fraiseql-core/tests/federation/entity_nested_selection.rs
Labels: documentation

fix(inbound): a delivery the spine refused is answered `duplicate`, not `processed`
  CHANGELOG.md
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/inbound/webhook/tests.rs
  crates/fraiseql-webhooks/src/lib.rs
  crates/fraiseql-webhooks/src/pipeline.rs
  crates/fraiseql-webhooks/src/pipeline/tests.rs
  crates/fraiseql-webhooks/src/traits.rs
  crates/fraiseql-webhooks/tests/inbound_pipeline_pg.rs
Labels: documentation

fix(arrow): a column that first appears in a later row is a column, not a silent drop
  CHANGELOG.md
  crates/fraiseql-arrow/src/schema_gen.rs
  crates/fraiseql-arrow/src/schema_gen/tests.rs
Labels: documentation

fix(arrow): Flight reports a client's mistake as a client error, not a retryable server fault
  CHANGELOG.md
  crates/fraiseql-arrow/src/flight_server/handlers/do_exchange.rs
  crates/fraiseql-arrow/src/flight_server/mod.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-arrow/src/flight_server/tests.rs
  crates/fraiseql-error/src/core_error.rs
  crates/fraiseql-server/src/arrow/executor_wrapper.rs
  crates/fraiseql-server/src/arrow/policy_seam.rs
  crates/fraiseql-server/src/arrow/policy_seam_tests.rs
Labels: documentation

docs(contributing): the section under "Keeping the trunk green" is a subsection, not a sub-subsection
  docs/contributing/branching-model.md
Labels: documentation

fix(security): two private keys leave the public tree, with the dead rig that held them
  .gitleaks.toml
  CHANGELOG.md
  docker/tls-postgres/certs/ca.crt
  docker/tls-postgres/certs/ca.key
  docker/tls-postgres/certs/server.crt
  docker/tls-postgres/certs/server.key
  docker/tls-postgres/docker-compose.yml
  docker/tls-postgres/entrypoint.sh
  docker/tls-postgres/generate-certs.sh
  docker/tls-postgres/init.sql
  docker/tls-postgres/run-tests.sh
  tools/tests/gitleaks_allowlist_test.sh
Labels: documentation

fix(rate-limit): a memory ceiling an operator can set, and a per-user budget on a verified subject
  CHANGELOG.md
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/security_config.rs
  crates/fraiseql-server/src/cli.rs
  crates/fraiseql-server/src/middleware/rate_limit/config.rs
  crates/fraiseql-server/src/middleware/rate_limit/identity.rs
  crates/fraiseql-server/src/middleware/rate_limit/middleware_fn.rs
  crates/fraiseql-server/src/middleware/rate_limit/mod.rs
  crates/fraiseql-server/src/middleware/rate_limit/tests.rs
  crates/fraiseql-server/src/server/routing/middleware.rs
  docs/architecture/overview.md
  docs/operations/troubleshooting.md
  docs/runbooks/04-memory-pressure.md
  docs/runbooks/06-rate-limiting-triggered.md
  docs/runbooks/README.md
  fraiseql.toml.example
Labels: documentation

fix(security): a file named after a scanner nobody runs is deleted
  .secrets.baseline
  CHANGELOG.md
Labels: documentation

refactor(guard): the Kafka endpoint guard moves to the crate both callers can reach
  crates/fraiseql-cdc-sinks/src/kafka.rs
  crates/fraiseql-cdc-sinks/src/lib.rs
  crates/fraiseql-cdc-sinks/src/sink.rs
  crates/fraiseql-cdc-sinks/src/sink/tests.rs
  crates/fraiseql-guard/src/kafka.rs
  crates/fraiseql-guard/src/kafka/tests.rs
  crates/fraiseql-guard/src/lib.rs
  crates/fraiseql-guard/src/net/mod.rs
Labels: none

fix(api): a published crate's public API can be named without guessing our dependency versions
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/tests/public_api_is_self_sufficient.rs
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-error/src/lib.rs
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-secrets/src/lib.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-webhooks/src/lib.rs
  tools/check-public-api-reexports.py
  tools/public-api-reexports.allow
  tools/tests/public_api_reexports_gate_test.sh
Labels: documentation

fix(lint): four findings the narrow gates and rustdoc caught in this phase's own work
  crates/fraiseql-cdc-sinks/src/sink.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-core/src/runtime/subscription/tests.rs
  crates/fraiseql-server/src/subscription_kafka.rs
  tools/delivery-artifacts.toml
Labels: none

feat(kafka): one Kafka egress, guarded, and a subscription transport a configuration can reach
  .dagger/feature-combos.go
  .dagger/main.go
  .dagger/release.go
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-cdc-sinks/src/kafka.rs
  crates/fraiseql-cdc-sinks/src/kafka/tests.rs
  crates/fraiseql-cdc-sinks/tests/cdc_kafka_e2e.rs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/runtime/subscription/kafka.rs
  crates/fraiseql-core/src/runtime/subscription/tests.rs
  crates/fraiseql-kafka/Cargo.toml
  crates/fraiseql-kafka/README.md
  crates/fraiseql-kafka/src/lib.rs
  crates/fraiseql-kafka/src/tests.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/src/server_config/subscription_kafka.rs
  crates/fraiseql-server/src/server_config/subscription_kafka/tests.rs
  crates/fraiseql-server/src/subscription_kafka.rs
  crates/fraiseql-server/src/subscription_kafka/tests.rs
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
  crates/fraiseql-server/tests/subscription_kafka_mirror_e2e.rs
  docs/features/cdc-outbound.md
Labels: documentation, ci

refactor(rate-limit): the verified-subject seam is an enum, not a trait object
  crates/fraiseql-server/src/middleware/rate_limit/identity.rs
  crates/fraiseql-server/src/middleware/rate_limit/middleware_fn.rs
  crates/fraiseql-server/src/middleware/rate_limit/mod.rs
  crates/fraiseql-server/src/middleware/rate_limit/tests.rs
  crates/fraiseql-server/src/server/routing/middleware.rs
Labels: none

fix(api): the #1198 gate could not read a type spelled by its import, and reported OK over 46 unreachable pairs
  CHANGELOG.md
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/tests/public_api_is_self_sufficient.rs
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-secrets/src/lib.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-storage/src/lib.rs
  crates/fraiseql-webhooks/src/lib.rs
  crates/fraiseql-wire/src/lib.rs
  tools/check-public-api-reexports.py
  tools/tests/public_api_reexports_gate_test.sh
Labels: documentation

test(inbound): the replay suite truncates both dedup layers, so its tests stop contaminating each other
  CHANGELOG.md
  crates/fraiseql-server/tests/webhook_replay_header_dedup_pg.rs
Labels: documentation

fix(sdk): the SDKs the repository says it publishes are the ones it can publish
  .dagger/main.go
  .github/workflows/csharp-sdk.yml
  .github/workflows/dart-sdk.yml
  .github/workflows/elixir-sdk.yml
  .github/workflows/fsharp-sdk.yml
  .github/workflows/java-sdk.yml
  .github/workflows/php-sdk.yml
  .github/workflows/python-sdk.yml
  .github/workflows/ruby-sdk.yml
  .github/workflows/rust-sdk.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/adr/0005-sdk-tier-strategy.md
  docs/adr/0019-sdk-publication-boundary.md
  sdks/official/README.md
  sdks/official/fraiseql-go/README.md
  tools/check-sdk-publication-claims.py
  tools/tests/sdk_publication_claims_gate_test.sh
Labels: documentation, ci

fix(sdk-php): the SDK is PSR-4 autoloadable, and its two gates stop reporting success without running
  .github/workflows/php-sdk.yml
  .gitignore
  CHANGELOG.md
  sdks/official/fraiseql-php/.php-cs-fixer.dist.php
  sdks/official/fraiseql-php/src/CacheKey.php
  sdks/official/fraiseql-php/src/CrudGenerator.php
  sdks/official/fraiseql-php/src/Exceptions/FraiseQLException.php
  sdks/official/fraiseql-php/src/Exceptions/NetworkException.php
  sdks/official/fraiseql-php/src/Exceptions/TimeoutException.php
  sdks/official/fraiseql-php/src/Integrations/OpenAI/FraiseQLTool.php
  sdks/official/fraiseql-php/src/Integrations/Prism/FraiseQLPrismTool.php
  sdks/official/fraiseql-php/src/PerformanceMonitor.php
  sdks/official/fraiseql-php/src/RetryConfig.php
  sdks/official/fraiseql-php/src/SchemaExporter.php
  sdks/official/fraiseql-php/src/SubscriptionDefinition.php
  sdks/official/fraiseql-php/src/UnsetValue.php
  sdks/official/fraiseql-php/tests/ExceptionsTest.php
  sdks/official/fraiseql-php/tests/FraiseQLClientTest.php
  sdks/official/fraiseql-php/tests/OpenAIToolTest.php
  sdks/official/fraiseql-php/tests/PrismToolTest.php
  sdks/official/fraiseql-php/tests/RetryConfigTest.php
Labels: documentation, ci

fix(release): the Rust SDK is published by the release that bumps it
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  docs/adr/0019-sdk-publication-boundary.md
  tools/check-sdk-publication-claims.py
  tools/delivery-artifacts.toml
  tools/tests/sdk_publication_claims_gate_test.sh
Labels: documentation, ci

fix(fuzz): a fuzz target that stops compiling fails a merge gate, not a weekly job
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-arrow/fuzz/Cargo.lock
  crates/fraiseql-auth/fuzz/Cargo.lock
  crates/fraiseql-core/fuzz/Cargo.lock
  crates/fraiseql-db/fuzz/Cargo.lock
  crates/fraiseql-db/fuzz/fuzz_targets/where_from_json.rs
  crates/fraiseql-db/fuzz/fuzz_targets/where_generator.rs
  crates/fraiseql-federation/fuzz/Cargo.lock
  crates/fraiseql-secrets/fuzz/Cargo.lock
  crates/fraiseql-server/fuzz/Cargo.lock
  crates/fraiseql-wire/fuzz/fuzz_targets/connection_string.rs
  docs/fuzzing.md
  tools/check-fuzz-compiles.sh
  tools/tests/fuzz_compiles_test.sh
Labels: documentation

fix(sdks): a field declared in the language's idiom reaches the API as camelCase, in all eleven
  CHANGELOG.md
  sdks/official/conformance/expected.full.json
  sdks/official/conformance/project.py
  sdks/official/conformance/reference/full.json
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/ConformanceExportTest.cs
  sdks/official/fraiseql-dart/conformance/export.dart
  sdks/official/fraiseql-elixir/conformance/export.exs
  sdks/official/fraiseql-elixir/lib/fraiseql/schema.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/type_mapper.ex
  sdks/official/fraiseql-elixir/test/fraiseql/type_mapper_test.exs
  sdks/official/fraiseql-fsharp/src/FraiseQL/SchemaRegistry.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/TypeMapper.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/ConformanceExportTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/TypeMapperTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/VectorFieldTests.fs
  sdks/official/fraiseql-go/conformance/main.go
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/ConformanceExport.java
  sdks/official/fraiseql-php/conformance/export.php
  sdks/official/fraiseql-python/conformance/fixture_full.py
  sdks/official/fraiseql-ruby/conformance/export.rb
  sdks/official/fraiseql-ruby/lib/fraiseql.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/authoring/crud_generator.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/authoring/type.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/naming.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/schema.rb
  sdks/official/fraiseql-ruby/test/fraiseql_test.rb
  sdks/official/fraiseql-rust/examples/conformance_export.rs
  sdks/official/fraiseql-typescript/conformance/export.ts
Labels: documentation

test(sdks): the role gate on the write side is compared, not assumed
  CHANGELOG.md
  sdks/official/conformance/expected.full.json
  sdks/official/conformance/expected.minimal.json
  sdks/official/conformance/manifest.json
  sdks/official/conformance/project.py
  sdks/official/conformance/reference/full.json
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/ConformanceExportTest.cs
  sdks/official/fraiseql-dart/conformance/export.dart
  sdks/official/fraiseql-elixir/conformance/export.exs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/ConformanceExportTests.fs
  sdks/official/fraiseql-go/conformance/main.go
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/ConformanceExport.java
  sdks/official/fraiseql-php/conformance/export.php
  sdks/official/fraiseql-python/conformance/fixture_full.py
  sdks/official/fraiseql-ruby/conformance/export.rb
  sdks/official/fraiseql-typescript/conformance/export.ts
Labels: documentation

fix(docs): the rustdoc gate sees the build docs.rs makes, not only the one with every feature on
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/local_password/verification.rs
  crates/fraiseql-cdc-sinks/Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-codegen/Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-error/Cargo.toml
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/src/connection_manager.rs
  crates/fraiseql-federation/src/mutation_executor.rs
  crates/fraiseql-functions/Cargo.toml
  crates/fraiseql-functions/src/types.rs
  crates/fraiseql-guard/Cargo.toml
  crates/fraiseql-kafka/Cargo.toml
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/listener/coordinator.rs
  crates/fraiseql-observers/src/listener/failover.rs
  crates/fraiseql-observers/src/source/cursor.rs
  crates/fraiseql-observers/src/source/mod.rs
  crates/fraiseql-secrets/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/subsystems/mod.rs
  crates/fraiseql-server/src/usage/aggregator.rs
  crates/fraiseql-storage/Cargo.toml
  crates/fraiseql-webhooks/Cargo.toml
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql/Cargo.toml
  crates/fraiseql/src/lib.rs
Labels: documentation

fix(delivery): a liveness probe that cannot restart-storm, and three make targets that can run
  .dagger/main.go
  .gitignore
  CHANGELOG.md
  Makefile
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-server/src/routes/health.rs
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/admin.rs
  crates/fraiseql-server/src/server_config/defaults.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/tests/common/test_app.rs
  crates/fraiseql-server/tests/endpoint_health_tests.rs
  crates/fraiseql/src/lib.rs
  deploy/kubernetes/README.md
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/fraiseql-hardened.yaml
  deploy/kubernetes/helm/fraiseql/README.md
  deploy/kubernetes/helm/fraiseql/values.yaml
  docs/architecture/webhooks.md
  docs/testing-matrix.md
  docs/testing.md
  tools/check-compose-references.sh
  tools/tests/compose_references_test.sh
Labels: documentation

fix(deploy): the security guide stops describing a Python deployment that was never shipped
  .dagger/main.go
  CHANGELOG.md
  Makefile
  deploy/deployment-security-guide.md
  tools/check-doc-image-refs.sh
  tools/tests/doc_image_refs_test.sh
Labels: documentation

fix(examples): the multi-cloud federation example is deleted, not repaired
  CHANGELOG.md
  examples/README.md
  examples/federation/README.md
  examples/federation/multi-cloud/README.md
  examples/federation/multi-cloud/docker-compose-local.yml
  examples/federation/multi-cloud/orders-service/schema.py
  examples/federation/multi-cloud/products-service/schema.py
  examples/federation/multi-cloud/users-service/schema.py
  tools/check-examples-compile.sh
  tools/check-examples-integrity.sh
Labels: documentation

fix(server): liveness_path gets the named consumer its own gate requires
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
Labels: none

fix(db): a cast binds to the extracted value, not to the key that names it
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/where_generator/generic/tests.rs
  crates/fraiseql-db/tests/snapshots/dialect_snapshots__pg_array_operators__array_contained_by.snap
  crates/fraiseql-db/tests/snapshots/dialect_snapshots__pg_array_operators__array_contains.snap
  crates/fraiseql-db/tests/snapshots/dialect_snapshots__pg_array_operators__array_overlaps.snap
  crates/fraiseql-db/tests/snapshots/dialect_snapshots__pg_array_operators__strictly_contains.snap
  crates/fraiseql-db/tests/where_operator_type_matrix.rs
Labels: none

fix(examples): the ltree examples are authored against the SDK this repo ships
  CHANGELOG.md
  examples/README.md
  examples/ltree-hierarchical-data/README.md
  examples/ltree-hierarchical-data/organization-chart/queries.graphql
  examples/ltree-hierarchical-data/organization-chart/schema.json
  examples/ltree-hierarchical-data/organization-chart/schema.py
  examples/ltree-hierarchical-data/organization-chart/setup.sql
  examples/ltree-hierarchical-data/product-catalog/queries.graphql
  examples/ltree-hierarchical-data/product-catalog/schema.json
  examples/ltree-hierarchical-data/product-catalog/schema.py
  examples/ltree-hierarchical-data/product-catalog/setup.sql
  tools/check-examples-compile.sh
Labels: documentation

style(server): rustfmt the liveness_path manifest entry
  crates/fraiseql-server/tests/config_coverage_manifest_test.rs
Labels: none

fix(db): the network and jsonb-array families execute, and are pinned by row sets
  CHANGELOG.md
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/tests/snapshots/dialect_snapshots__pg_array_operators__array_overlaps.snap
  crates/fraiseql-db/tests/where_operator_type_matrix.rs
Labels: documentation

fix(examples): saga-complex boots, and three saga examples pin a tag that exists
  CHANGELOG.md
  examples/README.md
  examples/federation/saga-basic/docker-compose.yml
  examples/federation/saga-complex/docker-compose.yml
  examples/federation/saga-complex/fixtures/router.yaml
  examples/federation/saga-complex/fixtures/supergraph.graphql
  examples/federation/saga-manual-compensation/docker-compose.yml
  tools/check-examples-integrity.sh
Labels: documentation

feat(examples): saga-complex implements the saga it documents
  CHANGELOG.md
  examples/federation/saga-complex/README.md
  examples/federation/saga-complex/car-service/Dockerfile
  examples/federation/saga-complex/car-service/server.py
  examples/federation/saga-complex/docker-compose.yml
  examples/federation/saga-complex/fixtures/supergraph.graphql
  examples/federation/saga-complex/flight-service/Dockerfile
  examples/federation/saga-complex/flight-service/server.py
  examples/federation/saga-complex/hotel-service/Dockerfile
  examples/federation/saga-complex/hotel-service/server.py
  examples/federation/saga-complex/notification-service/Dockerfile
  examples/federation/saga-complex/notification-service/server.py
  examples/federation/saga-complex/payment-service/Dockerfile
  examples/federation/saga-complex/payment-service/server.py
  examples/federation/saga-complex/test-saga.sh
Labels: documentation

fix(examples): all three saga supergraphs are accepted by the router
  CHANGELOG.md
  examples/federation/saga-basic/fixtures/supergraph.graphql
  examples/federation/saga-manual-compensation/fixtures/supergraph.graphql
Labels: documentation

fix(examples): all eighteen mutation patterns load, and the repaired ones run
  CHANGELOG.md
  examples/mutation-patterns/03-business-logic/calculated-fields.sql
  examples/mutation-patterns/06-advanced/bulk-operations.sql
  examples/mutation-patterns/06-advanced/transaction-rollback.sql
  examples/mutation-patterns/README.md
  examples/mutation-patterns/schema.sql
Labels: documentation

fix(examples): both Flight clients authenticate, and a gate compiles them
  .dagger/main.go
  CHANGELOG.md
  Makefile
  examples/r/README.md
  examples/r/fraiseql_client.R
  examples/rust/flight_client/Cargo.lock
  examples/rust/flight_client/Cargo.toml
  examples/rust/flight_client/src/main.rs
  tools/check-example-crates-compile.sh
  tools/tests/example_crates_compile_test.sh
Labels: documentation

refactor(deploy): the ungated copies of the Kubernetes deployment are deleted
  CHANGELOG.md
  crates/fraiseql-observers/deployment.md
  crates/fraiseql-observers/examples/README.md
  deploy/deployment-security-guide.md
  deploy/kubernetes/README.md
  deploy/kubernetes/configmap.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/fraiseql-hardened.yaml
  deploy/kubernetes/hpa.yaml
  deploy/kubernetes/ingress.yaml
  deploy/kubernetes/secrets.yaml.example
  deploy/kubernetes/service.yaml
  k8s/deployment.yaml
  k8s/service.yaml
  tools/check-deploy-security.sh
Labels: documentation

docs(ci): parity-notes is published, and nothing points into .phases/ any more
  .dagger/feature-combos.go
  .dagger/main.go
  .dagger/security.go
  .github/workflows/dagger-feature-matrix.yml
  .github/workflows/dagger-integration.yml
  .github/workflows/dagger-security.yml
  CHANGELOG.md
  Makefile
  crates/fraiseql-server/src/routes/rest/export_config.rs
  crates/fraiseql-server/src/sources/poller/tests.rs
  crates/fraiseql-test-support/Cargo.toml
  docs/adr/0013-mutation-response-v2-schema.md
  docs/contributing/dagger-parity-notes.md
  examples/_TEMPLATE/README.md
  roadmap.md
  tools/check-phases-citations.sh
  tools/tests/phases_citations_test.sh
Labels: documentation, ci

perf(ci): the image context is what the Dockerfiles read, held there by a gate
  .dagger/image.go
  .dagger/main.go
  CHANGELOG.md
  Makefile
  tools/check-image-context.sh
  tools/tests/image_context_test.sh
Labels: documentation

fix(core): two more tests pinned the unparenthesised ltree SQL
  crates/fraiseql-core/tests/ltree_id_operators.rs
Labels: none

fix(examples): the two remaining saga stacks start, and their tests can fail
  CHANGELOG.md
  examples/federation/saga-basic/fixtures/router.yaml
  examples/federation/saga-basic/inventory-service/server.py
  examples/federation/saga-basic/orders-service/server.py
  examples/federation/saga-basic/test-saga.sh
  examples/federation/saga-basic/users-service/server.py
  examples/federation/saga-manual-compensation/bank-service/server.py
  examples/federation/saga-manual-compensation/docker-compose.yml
  examples/federation/saga-manual-compensation/fixtures/router.yaml
  examples/federation/saga-manual-compensation/test-saga.sh
Labels: documentation
