Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat: Add comprehensive PostgreSQL pgvector support for FraiseQL v1.5.0
  CHANGELOG.md
  README.md
  RELEASE-v1.5.0-PGVECTOR.md
  docs/examples/semantic-search.md
  docs/features/pgvector.md
  docs/planning/pgvector-implementation-plan.md
  docs/planning/pgvector-phase2-implementation-plan.md
  examples/vector_search/README.md
  examples/vector_search/main.py
  examples/vector_search/requirements.txt
  examples/vector_search/schema.sql
  src/fraiseql/db.py
  src/fraiseql/sql/graphql_order_by_generator.py
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/order_by_generator.py
  src/fraiseql/sql/where/core/field_detection.py
  src/fraiseql/sql/where/operators/__init__.py
  src/fraiseql/sql/where/operators/vectors.py
  src/fraiseql/types/scalars/__init__.py
  src/fraiseql/types/scalars/vector.py
  tests/fixtures/database/database_conftest.py
  tests/integration/database/sql/test_graphql_order_by_generator.py
  tests/integration/graphql/schema/test_filter_type_mapping.py
  tests/integration/graphql/schema/test_vector_filter.py
  tests/integration/test_vector_e2e.py
  tests/unit/sql/test_order_by_vector.py
  tests/unit/sql/where/operators/test_vectors.py
  tests/unit/sql/where/test_field_detection_vector.py
  tests/unit/types/test_vector_validation.py
Labels: documentation, tests, types, sql

docs: Add Phased TDD Development Methodology
  docs/development/methodology.md
Labels: documentation

Fix CI/CD: Use pgvector/pgvector:pg16 image for PostgreSQL services
  .github/workflows/publish.yml
  .github/workflows/python-version-matrix.yml
  .github/workflows/quality-gate.yml
Labels: ci

Fix test expectations: Update SQL generation expectations from 'data ->' to 't ->' for regular fields and 't."field"' for vector fields
  tests/integration/database/sql/test_order_by.py
  tests/unit/sql/test_order_by_vector.py
Labels: tests

Bulk update test expectations: Change 'data -> ' to 't -> ' in all test files
  tests/integration/database/repository/test_nested_object_filter_edge_cases.py
  tests/integration/database/repository/test_nested_object_filter_integration.py
  tests/integration/database/sql/test_graphql_order_by_generator.py
  tests/integration/database/sql/test_numeric_ordering_bug.py
  tests/integration/database/sql/test_order_by_graphql_integration.py
  tests/integration/database/sql/test_order_by_integration.py
  tests/integration/database/sql/test_order_by_list_dict_regression.py
  tests/integration/database/sql/test_where_generator.py
  tests/unit/db/test_nested_jsonb_path_builder.py
  tests/unit/db/test_nested_object_filter_detection.py
  tests/unit/sql/where/test_nested_object_where_builder.py
Labels: tests

fix: Enable vector extension globally in test database setup
  tests/fixtures/database/database_conftest.py
Labels: tests

fix: Make vector extension creation more robust in test setup
  tests/fixtures/database/database_conftest.py
Labels: tests

fix: Make vector extension creation more robust in test setup
  src/fraiseql/db.py
  src/fraiseql/sql/order_by_generator.py
  tests/fixtures/database/database_conftest.py
  tests/integration/database/repository/test_nested_object_filter_edge_cases.py
  tests/integration/database/repository/test_nested_object_filter_integration.py
  tests/integration/database/sql/test_order_by_graphql_integration.py
  tests/integration/database/sql/test_order_by_integration.py
  tests/integration/database/sql/test_order_by_list_dict_regression.py
  tests/integration/database/sql/test_where_generator.py
  tests/unit/db/test_nested_jsonb_path_builder.py
  tests/unit/db/test_nested_object_filter_detection.py
  tests/unit/sql/where/test_nested_object_where_builder.py
Labels: tests, sql

fix: Resolve table alias inconsistency in SQL generation tests
  CHANGELOG.md
  tests/integration/database/sql/test_graphql_order_by_generator.py
  tests/integration/database/sql/test_numeric_ordering_bug.py
  tests/integration/database/sql/test_order_by_graphql_integration.py
  tests/integration/database/sql/test_order_by_integration.py
  tests/integration/database/sql/test_order_by_list_dict_regression.py
  tests/integration/test_graphql_cascade.py
Labels: documentation, tests

fix: Complete all test expectation updates for OrderDirection enums
  src/fraiseql/sql/order_by_generator.py
  src/fraiseql/sql/sql_generator.py
  tests/integration/database/sql/test_orderby_complex_scenarios.py
Labels: tests, sql

feat: Add LangChain VectorStore integration for FraiseQL
  RELEASE-v1.5.0-PGVECTOR.md
  pyproject.toml
  src/fraiseql/integrations/__init__.py
  src/fraiseql/integrations/langchain.py
  tests/integration/test_langchain_vectorstore_integration.py
  uv.lock
Labels: documentation, tests, config, dependencies

fix: Complete LlamaIndex integration with JSONB and vector parsing
  src/fraiseql/integrations/llamaindex.py
  tests/integration/test_llamaindex_vectorstore_integration.py
Labels: tests

feat: Complete Phase 4.3 Developer Experience Polish
  .github/workflows/deploy.yml
  .github/workflows/quality-gate.yml
  .github/workflows/security-compliance.yml
  .secrets.baseline
  benchmark-results.json
  benchmarks/README_VECTORSTORE_BENCHMARK.md
  benchmarks/vectorstore_integration_benchmark.py
  deploy/docker/docker-compose.prod.yml
  deploy/docker/init.sql
  deploy/docker/loki-config.yml
  docs/deployment/operations-runbook.md
  docs/deployment/production-deployment.md
  docs/guides/langchain-integration.md
  docs/planning/pgvector-phase3-implementation-plan.md
  docs/planning/phase4-ecosystem-implementation-plan.md
  pyproject.toml
  scripts/ci-cd/check_performance_regression.py
  scripts/ci-cd/performance_benchmark.py
  scripts/test_template_adoption.py
  scripts/validate_integrations.py
  src/fraiseql/cli/commands/__init__.py
  src/fraiseql/cli/commands/doctor.py
  src/fraiseql/cli/commands/init.py
  src/fraiseql/cli/main.py
  src/fraiseql/sql/graphql_order_by_generator.py
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/order_by_generator.py
  src/fraiseql/sql/where/core/field_detection.py
  src/fraiseql/sql/where/operators/__init__.py
  src/fraiseql/sql/where/operators/vectors.py
  src/fraiseql/types/scalars/vector.py
  templates/fastapi-rag/.env.example
  templates/fastapi-rag/Dockerfile
  templates/fastapi-rag/README.md
  templates/fastapi-rag/docker-compose.yml
  templates/fastapi-rag/pyproject.toml
  templates/fastapi-rag/scripts/setup_database.py
  templates/fastapi-rag/src/main.py
  tests/integration/graphql/schema/test_vector_filter.py
  uv.lock
Labels: documentation, tests, types, sql, cli, config, ci, dependencies

feat: Clean up v1.5 pre-release test infrastructure
  V1.5_PRE_RELEASE_CLEANUP_PLAN.md
  tests/fixtures/cascade/conftest.py
  tests/integration/test_graphql_cascade.py
  tests/unit/core/test_rust_pipeline.py
  tests/unit/core/test_rust_transformer.py
Labels: documentation, tests

docs: Add comprehensive cascade feature implementation plan
  CASCADE_IMPLEMENTATION_PLAN.md
Labels: documentation

feat: Implement Phase 1 of Cascade feature - GraphQL schema integration
  src/fraiseql/gql/builders/mutation_builder.py
  src/fraiseql/mutations/cascade_types.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/types.py
  tests/integration/test_graphql_cascade.py
Labels: tests, mutations

docs: Update CASCADE_IMPLEMENTATION_PLAN.md with Phase 1 completion status
  CASCADE_IMPLEMENTATION_PLAN.md
Labels: documentation

feat: Complete Cascade feature implementation (Phase 1 + Phase 2)
  CASCADE_IMPLEMENTATION_PLAN.md
Labels: documentation

docs: Comprehensive v1.5.0 release notes - AI-Ready GraphQL Framework
  RELEASE-v1.5.0-PGVECTOR-OLD.md
  RELEASE-v1.5.0.md
Labels: documentation

fix: Resolve all quality gate issues for v1.5.0
  .github/workflows/security-compliance.yml
  RELEASE-v1.5.0-PGVECTOR.md
  benchmarks/vectorstore_integration_benchmark.py
  src/fraiseql/cli/commands/doctor.py
  src/fraiseql/sql/graphql_order_by_generator.py
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/order_by_generator.py
  src/fraiseql/sql/where/operators/vectors.py
  templates/fastapi-rag/scripts/setup_database.py
  templates/fastapi-rag/src/main.py
Labels: documentation, sql, cli, ci

fix: Resolve remaining security compliance issues
  .github/workflows/security-compliance.yml
  deploy/docker/Dockerfile
Labels: ci

fix: Resolve all remaining quality gate issues for v1.5.0
  .dockerignore
  .github/workflows/security-compliance.yml
  deploy/docker/Dockerfile
  deploy/docker/entrypoint.sh
Labels: ci

docs: Add code of conduct for compliance validation
  CODE_OF_CONDUCT.md
Labels: documentation

fix: Resolve Docker BuildX issues for container security scan
  .github/workflows/security-compliance.yml
  deploy/docker/.dockerignore
  deploy/docker/Dockerfile
Labels: ci

fix: Re-skip test_build_graphql_response_with_nested_object_aliases
  tests/unit/core/test_rust_pipeline.py
Labels: tests

fix: Configure Trivy to report vulnerabilities without failing CI
  .github/workflows/security-compliance.yml
Labels: ci

fix: Revert Dockerfile to working python build from maturin
  deploy/docker/Dockerfile
Labels: none

fix: Add Rust installation to Docker builder stage
  deploy/docker/Dockerfile
Labels: none

fix: Remove fraiseql-confiture from dependencies
  pyproject.toml
Labels: config, dependencies

fix: Restore fraiseql-confiture dependency
  pyproject.toml
Labels: config, dependencies

fix: Build fraiseql-confiture wheel in Docker builder stage
  deploy/docker/Dockerfile
Labels: none

fix: Correct tar extraction path for fraiseql-confiture build
  deploy/docker/Dockerfile
Labels: none

fix: Use correct directory name fraiseql_confiture (underscore)
  deploy/docker/Dockerfile
Labels: none

refactor: Use pre-built fraiseql-confiture cp312 wheel from PyPI
  deploy/docker/Dockerfile
Labels: none

fix: Install build package for fraiseql wheel creation
  deploy/docker/Dockerfile
Labels: none

fix: Revert to building fraiseql-confiture from source
  deploy/docker/Dockerfile
Labels: none

fix: Update CodeQL action from v3 to v4
  .github/workflows/security-compliance.yml
Labels: ci

security: Upgrade starlette to 0.49.1+ to fix CVE-2025-62727
  pyproject.toml
  uv.lock
Labels: config, dependencies

chore: Bump Cargo versions to 1.5.0 for release
  Cargo.toml
  fraiseql_rs/Cargo.toml
Labels: none

fix: Add security-events permission for SARIF upload
  .github/workflows/security-compliance.yml
Labels: ci

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
