Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

test(phase10): Add end-to-end query execution tests with seed data
  crates/fraiseql-core/tests/phase10_e2e_query_execution.rs
Labels: none

fix: Update CI MSRV to match Cargo.toml requirement (1.75)
  .github/workflows/ci.yml
Labels: ci

test(benchmarks): Add SQL projection performance benchmarks
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/benches/sql_projection_benchmark.rs
Labels: none

chore(phase-10): Add completion summary documenting testing & benchmarking
  .claude/status/PHASE-10-COMPLETION-SUMMARY.md
Labels: none

test(phase-11): Add concurrent load testing for query execution
  crates/fraiseql-core/tests/phase11_concurrent_load_testing.rs
Labels: none

docs(phase-12): Add comprehensive testing & coverage analysis summary
  .claude/PHASE_12_COMPLETION_SUMMARY.md
Labels: none

docs: Add comprehensive actual implementation status analysis
  .claude/ACTUAL_IMPLEMENTATION_STATUS.md
Labels: none

docs: Add status badges to README (build, coverage, crates.io, license, MSRV, docs)
  README.md
Labels: documentation

docs: Create FraiseQL v2 final 100% completion roadmap
  .claude/FRAISEQL_V2_COMPLETION_ROADMAP.md
  .claude/archived_plans/IMPLEMENTATION_ROADMAP.md
  .claude/archived_plans/PHASE_12_COMPLETION_SUMMARY.md
Labels: none

docs: Add roadmap quick reference card
  .claude/ROADMAP_QUICK_REFERENCE.md
Labels: none

feat(fraiseql-server): Phase 0.1 - Schema loading module
  .claude/HTTP_SERVER_INTEGRATION_PLAN.md
  .claude/IMPLEMENTATION_ROADMAP.md
  .claude/PHASE_12_COMPLETION_SUMMARY.md
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/config.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/schema/loader.rs
  crates/fraiseql-server/src/schema/mod.rs
Labels: none

feat(phase-0.2): Complete GraphQL handler with execution timing and operation tracking
  crates/fraiseql-server/src/routes/graphql.rs
Labels: none

feat(phase-0.4): Complete main binary implementation with configuration and schema loading
  crates/fraiseql-server/src/main.rs
Labels: none

feat(phase-0.5): Add comprehensive integration tests for HTTP server
  crates/fraiseql-server/tests/integration_test.rs
Labels: none

docs: Add comprehensive guides and dual PostgreSQL version CI testing
  .github/workflows/ci.yml
  ADVANCED_FILTERING.md
  CONNECTION_POOLING.md
  POSTGRES_COMPATIBILITY.md
  rustfmt.toml
Labels: documentation, ci

docs: Update for PostgreSQL 18 GA and add to CI/CD test matrix
  .github/workflows/ci.yml
  POSTGRES_COMPATIBILITY.md
Labels: documentation, ci

docs: Add comprehensive Phase 2 plan for Database & Cache implementation
  .claude/PHASE_2_PLAN.md
Labels: none

feat(phase-2.1): Add database_url configuration to ServerConfig
  crates/fraiseql-server/src/config.rs
Labels: none

feat(phase-2.1): Wire PostgreSQL adapter into HTTP server
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-server/src/main.rs
Labels: none

ci: Enable comprehensive integration test coverage across all PostgreSQL versions
  .github/workflows/ci.yml
  README.md
Labels: documentation, ci

feat(phase-2.2): Add configurable connection pooling for PostgreSQL
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-server/src/config.rs
  crates/fraiseql-server/src/main.rs
Labels: none

ci: Add SCRAM and TLS security integration tests to all PostgreSQL versions
  .github/workflows/ci.yml
  tests/tls_integration.rs
Labels: tests, ci

refactor: Remove development phase references from code comments
  src/connection/conn.rs
  src/stream/json_stream.rs
Labels: none

test(phase-2.4): Add comprehensive database integration tests
  crates/fraiseql-server/tests/database_integration_test.rs
Labels: none

docs(phase-3): Create comprehensive Phase 3 implementation plan
  .claude/PHASE_3_PLAN.md
Labels: none

refactor: Remove development phase references from benchmarks and examples
  benches/phase6_validation.rs
  examples/config.rs
  examples/typed_streaming.rs
Labels: none

chore: Archive active phase planning documents to evergreen structure
  .archive/phases/README_PHASE_8_2.md
  .archive/phases/phase-8-1-tls-support.md
  .archive/phases/phase-8-2-typed-streaming.md
  .archive/phases/phase-9-v0.1-release.md
Labels: none

feat(phase-3.2): Add GraphQL request validation and spec-compliant error handling
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/validation.rs
Labels: none

feat(phase-3.3): Add comprehensive E2E integration tests for HTTP server
  crates/fraiseql-server/tests/server_e2e_test.rs
Labels: none

docs(phase-3.4): Add comprehensive HTTP server documentation and examples
  docs/DEPLOYMENT.md
  docs/GRAPHQL_API.md
  docs/HTTP_SERVER.md
  examples/README.md
Labels: documentation

docs(phase-3): Add Phase 3 completion summary and project documentation index
  .claude/PHASE_3_COMPLETION_SUMMARY.md
Labels: none

docs(phase-4): Add comprehensive Python Authoring Layer implementation plan
  .claude/PHASE_4_PYTHON_AUTHORING.md
  .claude/PHASE_4_QUICK_START.md
Labels: none

docs(phase-4): Add ready-to-start summary and implementation guide
  .claude/PHASE_4_READY_TO_START.md
Labels: none

feat(fraiseql-go): Add Go authoring layer with core functionality
  fraiseql-go/.gitignore
  fraiseql-go/LICENSE
  fraiseql-go/Makefile
  fraiseql-go/README.md
  fraiseql-go/examples/basic_schema.go
  fraiseql-go/fraiseql/decorators.go
  fraiseql-go/fraiseql/registry.go
  fraiseql-go/fraiseql/schema.go
  fraiseql-go/fraiseql/types.go
  fraiseql-go/fraiseql/types_test.go
  fraiseql-go/go.mod
Labels: none

feat(fraiseql-go): Phase 5 - Analytics support with fact tables and aggregate queries
  fraiseql-go/README.md
  fraiseql-go/examples/analytics_schema.go
  fraiseql-go/fraiseql/analytics.go
  fraiseql-go/fraiseql/analytics_test.go
  fraiseql-go/fraiseql/decorators.go
Labels: none

feat(fraiseql-go): Phase 6 - Examples and documentation
  fraiseql-go/CONTRIBUTING.md
  fraiseql-go/examples/README.md
  fraiseql-go/examples/complete_schema.go
Labels: none

feat(fraiseql-go): Phase 7 - Testing, finalization, and packaging
  fraiseql-go/IMPLEMENTATION_SUMMARY.md
Labels: none

feat(fraiseql-java): Phase 1 - Project setup and core infrastructure
  fraiseql-java/.gitignore
  fraiseql-java/LICENSE
  fraiseql-java/README.md
  fraiseql-java/pom.xml
  fraiseql-java/src/main/java/com/fraiseql/core/GraphQLField.java
  fraiseql-java/src/main/java/com/fraiseql/core/GraphQLType.java
  fraiseql-java/src/main/java/com/fraiseql/core/TypeConverter.java
Labels: none

feat(java): Phase 2 - Schema registry and API
  fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  fraiseql-java/src/test/java/com/fraiseql/core/Phase2Test.java
Labels: none

feat(java): Phase 3 - JSON export and schema formatting
  fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  fraiseql-java/src/test/java/com/fraiseql/core/Phase3Test.java
Labels: none
