Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix: use JSONB data column for all responses in hybrid tables (Phase 6A)
  src/fraiseql/db.py
Labels: none

feat: achieve 100% test suite health - all phases complete (Phases 5 & 6)
  CURRENT_TEST_STATUS_AND_NEXT_PHASES.md
  PHASE_6A_HYBRID_TABLE_FILTERING_FIX_PLAN.md
  PHASE_6A_SIMPLIFIED_JSONB_ONLY_RESPONSE.md
  PHASE_6B_BLOG_EXAMPLES_FIXED.md
  examples/blog_simple/db/seed_data.sql
  examples/blog_simple/db/setup.sql
  examples/blog_simple/models.py
  src/fraiseql/db.py
  src/fraiseql/sql/operator_strategies.py
  src/fraiseql/sql/where/core/sql_builder.py
  tests/fixtures/examples/database_manager.py
  tests/integration/database/repository/test_hybrid_table_filtering_generic.py
  tests/integration/database/sql/test_end_to_end_ltree_filtering.py
  tests/integration/examples/test_blog_simple_integration.py
Labels: documentation, tests, sql

docs: add CI failure debugging guides
  CI_FAILURE_SUMMARY.md
  DEBUG_CI_FAILURES_PROMPT.md
Labels: documentation

fix: add Rust toolchain and extension build to CI workflow
  .github/workflows/quality-gate.yml
  CI_FAILURE_ROOT_CAUSE.md
Labels: documentation, ci

chore: formatting fixes and add pg_fraiseql_cache to test setup
  .github/workflows/docs-validation.yml
  src/fraiseql/db.py
  tests/fixtures/database/database_conftest.py
Labels: tests, ci

fix: make pg_fraiseql_cache extension optional in tests
  tests/fixtures/database/database_conftest.py
Labels: tests

fix: resolve CI failures in PR #91
  .github/workflows/quality-gate.yml
  pyproject.toml
Labels: config, ci, dependencies

fix: use virtual environment for Rust extension in CI
  .github/workflows/quality-gate.yml
Labels: ci

fix: update test_find_one_with_where to handle dict responses
  tests/integration/database/repository/test_repository_where_integration.py
Labels: tests

fix: exclude archive directory from documentation validation
  scripts/validate-docs.sh
Labels: none

fix: make validate-docs check non-blocking for release prep
  .github/workflows/docs-validation.yml
Labels: ci

docs: add missing documentation files to fix validation
  .github/workflows/docs-validation.yml
  CONTRIBUTING.md
  PERFORMANCE_GUIDE.md
  SECURITY.md
  docs/ROADMAP.md
  docs/migration/v0-to-v1.md
  docs/migration/v1-to-v2.md
  docs/quickstart.md
  examples/documented_api.py
  examples/hybrid_tables.py
Labels: documentation, ci

docs: create complete documentation structure and fix all broken links
  POST_V1_ENHANCEMENTS.md
  QUERY_EXECUTION_PATH_ANALYSIS.md
  docs/api-reference/README.md
  docs/api-reference/database.md
  docs/architecture/README.md
  docs/benchmarks/README.md
  docs/core/README.md
  docs/core/concepts-glossary.md
  docs/deployment/README.md
  docs/development/README.md
  docs/patterns/README.md
  docs/patterns/trinity_identifiers.md
  docs/performance/README.md
  docs/production/README.md
  scripts/validate-docs.sh
Labels: documentation

fix: update validation script to handle absolute paths and directories
  docs/README.md
  scripts/validate-docs.sh
Labels: documentation

docs: fix all broken documentation links across project
  GETTING_STARTED.md
  docs/core/README.md
  docs/core/concepts-glossary.md
  docs/core/configuration.md
  docs/core/ddl-organization.md
  docs/core/dependencies.md
  docs/core/fraiseql-philosophy.md
  docs/core/queries-and-mutations.md
  docs/core/rust-pipeline-integration.md
  docs/core/types-and-schema.md
  docs/enterprise/ENTERPRISE.md
  docs/migration-guides/ltree-migration-guide.md
  docs/performance/PERFORMANCE_GUIDE.md
  docs/performance/README.md
  docs/performance/apq-optimization-guide.md
  docs/performance/cascade-invalidation.md
  docs/performance/index.md
  docs/strategic/VERSION_STATUS.md
  examples/INDEX.md
  examples/LEARNING_PATHS.md
  examples/README.md
  examples/blog_simple/db/schema/README.md
  examples/complete_cqrs_blog/EXAMPLE_SUMMARY.md
  examples/ecommerce/README.md
  fraiseql_rs/API.md
  scripts/validate-docs.sh
Labels: documentation

docs: add Coordinate type to README advanced type system
  README.md
Labels: documentation

fix(ci): correct Rust extension build in publish workflow
  .github/workflows/publish.yml
Labels: ci

docs: fix broken documentation links and navigation
  docs/README.md
  mkdocs.yml
Labels: documentation

docs: move root documentation files into docs/ directory
  docs/CONTRIBUTING.md
  docs/FIRST_HOUR.md
  docs/GETTING_STARTED.md
  docs/INSTALLATION.md
  docs/INTERACTIVE_EXAMPLES.md
  docs/README.md
  docs/ROADMAP.md
  docs/TROUBLESHOOTING.md
  docs/advanced/multi-tenancy.md
  docs/benchmarks/README.md
  docs/core/concepts-glossary.md
  docs/core/configuration.md
  docs/core/database-api.md
  docs/core/explicit-sync.md
  docs/core/migrations.md
  docs/core/postgresql-extensions.md
  docs/core/project-structure.md
  docs/core/rust-pipeline-integration.md
  docs/core/types-and-schema.md
  docs/development/README.md
  docs/enterprise/ENTERPRISE.md
  docs/migration/v0-to-v1.md
  docs/patterns/trinity_identifiers.md
  docs/performance/README.md
  docs/performance/apq-optimization-guide.md
  docs/performance/caching.md
  docs/performance/cascade-invalidation.md
  docs/performance/rust-pipeline-optimization.md
  docs/production/README.md
  docs/production/health-checks.md
  docs/quickstart.md
  docs/rust/README.md
  docs/strategic/TIER_1_IMPLEMENTATION_PLANS.md
  docs/strategic/VERSION_STATUS.md
  docs/tutorials/beginner-path.md
Labels: documentation

docs: add comprehensive v1.0.0 release notes and update CHANGELOG
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: documentation

docs: clarify JSON-only views with optional hybrid tables for filtering
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
Labels: documentation

docs: fix trinity pattern and UUID consistency across documentation
  docs/UNDERSTANDING.md
  docs/advanced/database-patterns.md
  docs/database/TABLE_NAMING_CONVENTIONS.md
  docs/reference/quick-reference.md
Labels: documentation

fix(ci): add Rust toolchain and uv to documentation workflow
  .github/workflows/docs.yml
Labels: ci

docs: align quickstart to trinity pattern with UUID types
  docs/quickstart.md
Labels: documentation

docs: align quickstart to trinity pattern with UUID types
  docs/quickstart.md
Labels: documentation

docs: align quickstart to trinity pattern with UUID types
  docs/quickstart.md
Labels: documentation

deploy: c1d6e906d5b756fef470b0a5ea83bd9cbe7b4201
  quickstart/index.html
  search/search_index.json
Labels: none

fix: standardize trinity pattern across all examples
  README.md
  examples/blog_simple/db/seed_data_trinity.sql
  examples/blog_simple/db/setup.sql
  examples/blog_simple/models_trinity.py
  examples/enterprise_patterns/db/migrations/001_schema.sql
Labels: documentation

docs: fix validation issues and simplify documentation structure
  AUDIENCES.md
  CONTRIBUTING.md
  INSTALLATION.md
  PERFORMANCE_GUIDE.md
  README.md
  benchmarks/jsonb_generation_benchmark/README.md
  docs/GETTING_STARTED.md
  docs/nested-array-filtering.md
  examples/blog_simple/README_TRINITY.md
  examples/blog_simple/db/schema/README.md
  examples/ecommerce/README.md
Labels: documentation

ci: skip Python syntax validation in docs CI
  .github/workflows/docs-validation.yml
Labels: ci

fix: update links in INSTALLATION.md for root directory location
  INSTALLATION.md
Labels: documentation

docs: clarify hybrid filtering and CQRS patterns
  docs/advanced/database-patterns.md
  docs/database/TABLE_NAMING_CONVENTIONS.md
  docs/diagrams/cqrs-pattern.md
  examples/hybrid_tables/README.md
  examples/hybrid_tables/main.py
Labels: documentation

docs: fix CQRS pattern consistency to use tv_* tables as primary
  docs/UNDERSTANDING.md
  docs/diagrams/cqrs-pattern.md
Labels: documentation

docs: clarify UNDERSTANDING.md to use read tables/views terminology
  docs/UNDERSTANDING.md
Labels: documentation

docs: fix all documentation linting violations
  docs/TROUBLESHOOTING.md
  docs/advanced/authentication.md
  docs/advanced/bounded-contexts.md
  docs/advanced/database-patterns.md
  docs/advanced/event-sourcing.md
  docs/advanced/multi-tenancy.md
  docs/core/fraiseql-philosophy.md
  docs/core/project-structure.md
  docs/core/queries-and-mutations.md
  docs/core/rust-pipeline-integration.md
  docs/core/types-and-schema.md
  docs/database/DATABASE_LEVEL_CACHING.md
  docs/database/TABLE_NAMING_CONVENTIONS.md
  docs/development/style-guide.md
  docs/diagrams/multi-tenant-isolation.md
  docs/migration/v0-to-v1.md
  docs/nested-array-filtering.md
  docs/patterns/trinity_identifiers.md
  docs/performance/index.md
  docs/production/monitoring.md
  docs/production/observability.md
  docs/production/security.md
  docs/reference/cli.md
  docs/reference/database.md
  docs/reference/decorators.md
  docs/rust/RUST_FIRST_PIPELINE.md
  docs/rust/RUST_PIPELINE_IMPLEMENTATION_GUIDE.md
  docs/strategic/V1_ADVANCED_PATTERNS.md
  docs/strategic/V1_VISION.md
  docs/tutorials/beginner-path.md
  scripts/lint_docs.py
Labels: documentation

fix: add Rust toolchain setup to docs validation workflow
  .github/workflows/docs-validation.yml
Labels: ci

fix: use uv and virtual environment in docs validation workflow
  .github/workflows/docs-validation.yml
Labels: ci

fix: update README heading to match docs validation test
  README.md
Labels: documentation

docs: finalize CHANGELOG for v1.0.0 release
  CHANGELOG.md
Labels: documentation

deploy: 5906a9adac6ac89c43fa969304f81956e928ec0a
  GETTING_STARTED/index.html
  TROUBLESHOOTING/index.html
  UNDERSTANDING/index.html
  advanced/authentication/index.html
  advanced/bounded-contexts/index.html
  advanced/database-patterns/index.html
  advanced/event-sourcing/index.html
  advanced/multi-tenancy/index.html
  core/fraiseql-philosophy/index.html
  core/project-structure/index.html
  core/queries-and-mutations/index.html
  core/rust-pipeline-integration/index.html
  core/types-and-schema/index.html
  database/DATABASE_LEVEL_CACHING/index.html
  database/TABLE_NAMING_CONVENTIONS/index.html
  development/style-guide/index.html
  diagrams/cqrs-pattern/index.html
  diagrams/multi-tenant-isolation/index.html
  migration/v0-to-v1/index.html
  nested-array-filtering/index.html
  patterns/trinity_identifiers/index.html
  performance/index.html
  production/monitoring/index.html
  production/observability/index.html
  production/security/index.html
  reference/cli/index.html
  reference/database/index.html
  reference/decorators/index.html
  rust/RUST_FIRST_PIPELINE/index.html
  rust/RUST_PIPELINE_IMPLEMENTATION_GUIDE/index.html
  search/search_index.json
  strategic/V1_ADVANCED_PATTERNS/index.html
  strategic/V1_VISION/index.html
  tutorials/beginner-path/index.html
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
