Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

Fix codecov configuration: file → files parameter
  .github/workflows/quality-gate.yml
  .github/workflows/test.yml
Labels: ci

Remove xfail markers from tests that now pass with Python 3.13
  .github/workflows/quality-gate.yml
  tests/integration/database/repository/test_developer_experience.py
  tests/unit/validation/test_validation_extended.py
Labels: tests, ci

Fix CI infrastructure issues for Python 3.13 compatibility
  .github/workflows/quality-gate.yml
  .github/workflows/test.yml
Labels: ci

Remove problematic pytest --no-cov-on-fail option from Quality Gate
  .github/workflows/quality-gate.yml
Labels: ci

Remove coverage from Quality Gate workflow to fix pytest-cov issues
  .github/workflows/quality-gate.yml
Labels: ci

Fix pytest asyncio marker configuration in Quality Gate workflow
  .github/workflows/quality-gate.yml
Labels: ci

Release v0.5.4: Version bump and changelog
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
  uv.lock
Labels: documentation, tests, cli, config, dependencies

feat: Add comprehensive JSONB special types casting fix for production
  src/fraiseql/sql/operator_strategies.py
  tests/core/test_all_special_types_fix.py
  tests/core/test_field_type_propagation.py
  tests/core/test_jsonb_network_casting_fix.py
  tests/core/test_production_fix_validation.py
  tests/core/test_special_types_tier1_core.py
  tests/pytest.ini
Labels: tests, sql

feat: Add comprehensive JSONB special types casting fix for production (#26)
  src/fraiseql/sql/operator_strategies.py
  tests/core/test_all_special_types_fix.py
  tests/core/test_field_type_propagation.py
  tests/core/test_jsonb_network_casting_fix.py
  tests/core/test_production_fix_validation.py
  tests/core/test_special_types_tier1_core.py
  tests/pytest.ini
Labels: tests, sql

feat: Bump version to v0.5.5 - Critical JSONB special types fix
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/cli/main.py
  tests/system/cli/test_main.py
Labels: documentation, tests, cli, config, dependencies

fix: Add basic comparison operators to NetworkOperatorStrategy
  NETWORK_FILTERING_BULLETPROOF_PLAN.md
  NETWORK_OPERATOR_FIX.md
  PRACTICAL_TESTING_STRATEGY.md
  scripts/verification/fraiseql_v055_network_issues_test_cases.py
  scripts/verification/verify_network_fix.py
  src/fraiseql/sql/operator_strategies.py
  tests/core/test_production_fix_validation.py
  tests/integration/database/sql/test_network_filtering_fix.py
  tests/unit/sql/test_network_operator_strategy_fix.py
  uv.lock
  v055_production_workarounds.md
Labels: documentation, tests, sql

fix: Add basic comparison operators to NetworkOperatorStrategy (#27)
  NETWORK_FILTERING_BULLETPROOF_PLAN.md
  NETWORK_OPERATOR_FIX.md
  PRACTICAL_TESTING_STRATEGY.md
  scripts/verification/fraiseql_v055_network_issues_test_cases.py
  scripts/verification/verify_network_fix.py
  src/fraiseql/sql/operator_strategies.py
  tests/core/test_production_fix_validation.py
  tests/integration/database/sql/test_network_filtering_fix.py
  tests/unit/sql/test_network_operator_strategy_fix.py
  uv.lock
  v055_production_workarounds.md
Labels: documentation, tests, sql

Release v0.5.6: Fix NetworkOperatorStrategy basic comparison operators
  CHANGELOG.md
  RELEASE_NOTES_v0.5.6.md
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

feat: Add GraphQL field type propagation to SQL operators
  AGENT_PROMPT_MERGE_PR.md
  src/fraiseql/graphql/field_type_extraction.py
  src/fraiseql/sql/where_generator.py
  tests/unit/graphql/test_field_type_extraction.py
  tests/unit/sql/test_all_operator_strategies_coverage.py
  tests/unit/sql/test_where_generator_graphql_integration.py
Labels: documentation, tests, sql

fix: Resolve pre-commit.ci UV dependency issue
  .pre-commit-config.yaml
Labels: config

feat: Add GraphQL field type propagation to SQL operators (#28)
  AGENT_PROMPT_MERGE_PR.md
  src/fraiseql/graphql/field_type_extraction.py
  src/fraiseql/sql/where_generator.py
  tests/unit/graphql/test_field_type_extraction.py
  tests/unit/sql/test_all_operator_strategies_coverage.py
  tests/unit/sql/test_where_generator_graphql_integration.py
Labels: documentation, tests, sql

fix: Resolve pre-commit.ci UV dependency issue (#29)
  .pre-commit-config.yaml
Labels: config

Release v0.5.7: GraphQL field type propagation + pre-commit.ci fix
  AGENT_PROMPT_PRECOMMIT_FIX.md
  CHANGELOG.md
  README.md
  RELEASE_NOTES_v0.5.7.md
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

Release v0.5.7: GraphQL field type propagation + pre-commit.ci fix
  CHANGELOG.md
  README.md
  docs/development/README.md
  docs/development/agent-prompts/AGENT_PROMPT_MERGE_PR.md
  docs/development/agent-prompts/AGENT_PROMPT_PRECOMMIT_FIX.md
  docs/development/agent-prompts/README.md
  docs/development/fixes/NETWORK_OPERATOR_FIX.md
  docs/development/fixes/README.md
  docs/development/fixes/v055_production_workarounds.md
  docs/development/planning/NETWORK_FILTERING_BULLETPROOF_PLAN.md
  docs/development/planning/PRACTICAL_TESTING_STRATEGY.md
  docs/development/planning/README.md
  docs/releases/CHANGELOG-v0.5.0-beta.md
  docs/releases/README.md
  docs/releases/RELEASE_NOTES_v0.5.6.md
  docs/releases/RELEASE_NOTES_v0.5.7.md
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

feat: Marie Kondo second pass - Advanced repository organization
  .github/README.md
  .github/pull_request_template.md
  CONTRIBUTING.md
  deploy/docker/.dockerignore
  deploy/docker/Dockerfile
  deploy/docker/Dockerfile.test
  deploy/docker/Dockerfile.test-all-in-one
  deploy/docker/README.md
  docs/README.md
  docs/deployment/docker.md
  pyproject.toml
  scripts/README.md
  scripts/ci-cd/RELEASE_COMMANDS.sh
  scripts/ci-cd/test-release-0.3.5.sh
  scripts/ci-cd/verify-release-0.3.5.sh
  scripts/deployment/publish.sh
  scripts/deployment/test-build.sh
  scripts/development/README.md
  scripts/development/claude_mcp_server.py
  scripts/development/start-postgres-daemon.sh
  scripts/development/test-db-setup.sh
  scripts/development/typecheck.sh
  scripts/maintenance/create-testing-branch.sh
  scripts/maintenance/setup-branch-protection.sh
  scripts/testing/add_test_markers.py
  scripts/testing/clean_broken_tests.py
  scripts/testing/migrate_tests_to_real_db.py
  scripts/testing/run-tests-in-container.sh
  scripts/testing/test-all-in-one-entrypoint.sh
  scripts/testing/test-native-auth.py
  tests/README.md
  tests/pytest.ini
Labels: documentation, tests, config, dependencies

fix: Enhance pre-commit.ci environment detection
  .pre-commit-config.yaml
Labels: config

temp: Disable pytest hook for Marie Kondo PR merge
  .pre-commit-config.yaml
Labels: config

fix: Resolve JSONB+INET network filtering bug for production systems (#v0.5.7)
  src/fraiseql/sql/operator_strategies.py
  tests/core/test_all_special_types_fix.py
  tests/core/test_production_fix_validation.py
  tests/regression/v0_5_7/test_network_filtering_regression.py
Labels: tests, sql

fix: Resolve JSONB+INET network filtering bug for production systems (#v0.5.7) (#31)
  src/fraiseql/sql/operator_strategies.py
  tests/core/test_all_special_types_fix.py
  tests/core/test_production_fix_validation.py
  tests/regression/v0_5_7/test_network_filtering_regression.py
Labels: tests, sql

Release v0.5.8: Critical JSONB+INET network filtering fix
  CHANGELOG.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

deploy: 985a10a490a8a14bb85fab6876c12972b90ca76a
  advanced/turbo-router/index.html
  api-reference/decorators/index.html
  architecture/database-nomenclature/index.html
  ci-cd-pipeline/index.html
  comparisons/alternatives/index.html
  deployment/docker/index.html
  development-safety/index.html
  development/agent-prompts/AGENT_PROMPT_MERGE_PR/index.html
  development/agent-prompts/AGENT_PROMPT_PRECOMMIT_FIX/index.html
  development/agent-prompts/index.html
  development/fixes/NETWORK_OPERATOR_FIX/index.html
  development/fixes/index.html
  development/fixes/v055_production_workarounds/index.html
  development/index.html
  development/planning/NETWORK_FILTERING_BULLETPROOF_PLAN/index.html
  development/planning/PRACTICAL_TESTING_STRATEGY/index.html
  development/planning/index.html
  index.html
  mutations/index.html
  mutations/migration-guide/index.html
  releases/CHANGELOG-v0.5.0-beta/index.html
  releases/RELEASE_NOTES_v0.5.6/index.html
  releases/RELEASE_NOTES_v0.5.7/index.html
  releases/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  testing/graphql-testing/index.html
Labels: none

feat: Marie Kondo clean refactor of WHERE functionality with IP filtering fix
  src/fraiseql/sql/where/__init__.py
  src/fraiseql/sql/where/core/__init__.py
  src/fraiseql/sql/where/core/field_detection.py
  src/fraiseql/sql/where/core/sql_builder.py
  src/fraiseql/sql/where/operators/__init__.py
  src/fraiseql/sql/where/operators/basic.py
  src/fraiseql/sql/where/operators/lists.py
  src/fraiseql/sql/where/operators/logical.py
  src/fraiseql/sql/where/operators/network.py
  src/fraiseql/sql/where/operators/nulls.py
  src/fraiseql/sql/where/operators/text.py
  tests/integration/database/sql/test_end_to_end_ip_filtering_clean.py
  tests/unit/sql/where/test_field_detection_ip_filtering.py
  tests/unit/sql/where/test_ip_operators_sql_building.py
  tests/unit/sql/where/test_logical_operators_foundation.py
  uv.lock
Labels: tests, sql

feat: Phase 1 - MAC Address operators with Marie Kondo TDD implementation
  src/fraiseql/sql/where/core/field_detection.py
  src/fraiseql/sql/where/operators/__init__.py
  src/fraiseql/sql/where/operators/mac_address.py
  tests/integration/database/sql/test_end_to_end_mac_address_filtering.py
  tests/unit/sql/where/test_mac_address_operators_sql_building.py
Labels: tests, sql

feat: Phase 2 - LTree hierarchical operators with complete PostgreSQL integration
  src/fraiseql/sql/where/core/field_detection.py
  src/fraiseql/sql/where/operators/__init__.py
  src/fraiseql/sql/where/operators/ltree.py
  tests/integration/database/sql/test_end_to_end_ltree_filtering.py
  tests/unit/sql/where/test_ltree_operators_sql_building.py
Labels: tests, sql

feat: Phase 3 - DateRange operators with complete PostgreSQL range integration
  src/fraiseql/sql/where/operators/__init__.py
  src/fraiseql/sql/where/operators/date_range.py
  tests/integration/database/sql/test_end_to_end_daterange_filtering.py
  tests/unit/sql/where/test_daterange_operators_sql_building.py
Labels: tests, sql

feat: Phase 4 - Hostname/Email/Port validation operators with comprehensive coverage
  src/fraiseql/sql/where/core/field_detection.py
  src/fraiseql/sql/where/operators/__init__.py
  src/fraiseql/sql/where/operators/email.py
  src/fraiseql/sql/where/operators/hostname.py
  src/fraiseql/sql/where/operators/port.py
  tests/integration/database/sql/test_end_to_end_phase4_filtering.py
  tests/unit/sql/where/test_email_operators_sql_building.py
  tests/unit/sql/where/test_hostname_operators_sql_building.py
  tests/unit/sql/where/test_port_operators_sql_building.py
Labels: tests, sql

feat: Phase 5 - DateTime/Date operators with TDD implementation
  src/fraiseql/sql/where/operators/__init__.py
  src/fraiseql/sql/where/operators/date.py
  src/fraiseql/sql/where/operators/datetime.py
  tests/integration/database/sql/test_end_to_end_phase5_filtering.py
  tests/unit/sql/where/test_date_operators_sql_building.py
  tests/unit/sql/where/test_datetime_operators_sql_building.py
Labels: tests, sql

feat: Phase 6 - Enhanced field detection with comprehensive pattern recognition
  src/fraiseql/sql/where/core/field_detection.py
Labels: sql

fix: Resolve QA review issues - MAC address detection and test assertion
  src/fraiseql/sql/where/core/field_detection.py
  tests/integration/database/sql/test_end_to_end_ip_filtering_clean.py
Labels: tests, sql

chore: Fix whitespace and EOF issues in beta testing files
  .github/ISSUE_TEMPLATE/beta-testing.md
  BETA_TESTING.md
  pyproject.toml
Labels: documentation, config, dependencies

chore: Update uv.lock for v0.6.0-beta.1
  uv.lock
Labels: none

feat: v0.6.0-beta.2 - Fix advanced IP operator issues
  pyproject.toml
  src/fraiseql/sql/where/operators/__init__.py
  uv.lock
Labels: sql, config, dependencies

feat: v0.6.0-beta.3 - Complete GraphQL integration layer fixes
  pyproject.toml
  src/fraiseql/graphql/field_type_extraction.py
  src/fraiseql/sql/operator_strategies.py
  tests/unit/sql/test_all_operator_strategies_coverage.py
  tests/unit/sql/test_network_operator_strategy_fix.py
Labels: tests, sql, config, dependencies

test: Update field type extraction test to reflect new override behavior
  tests/unit/graphql/test_field_type_extraction.py
Labels: tests

🚀 Release v0.6.0-beta.4: Achieve 100% IP operator functionality
  pyproject.toml
  src/fraiseql/sql/operator_strategies.py
  tests/unit/sql/test_network_operator_strategy_fix.py
  uv.lock
Labels: tests, sql, config, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
