Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(federation): `_entities` selects a field written with arguments or a minified alias
  crates/fraiseql-federation/src/selection_parser.rs
  crates/fraiseql-federation/src/selection_parser/tests.rs
Labels: none

feat(locale): a `locale:` argument reads one localized field in another allowed locale
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/locale_argument.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/introspection/field_resolver.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
Labels: none

feat(locale): `<field>Translations` lists every allowed label of a localized field
  crates/fraiseql-core/src/graphql/selection_validation.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/locale_argument.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-core/src/schema/introspection/field_resolver.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/src/schema/introspection/type_resolver.rs
  crates/fraiseql-core/src/schema/locale.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/projection_generator.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
  crates/fraiseql-server/tests/subscription_pipeline_e2e_pg.rs
Labels: none

test(locale): the SQL and Rust evaluators agree on a corpus, and a stored plain string is its label
  crates/fraiseql-core/src/runtime/locale_argument.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/request_locale.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-db/src/projection_generator.rs
Labels: none

feat(locale): uses of a localized field that would read the stored map are refused at load
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
Labels: none

test(locale): the DDL emitters ignore a localized field
  crates/fraiseql-cli/tests/locale_projection_proof_test.rs
Labels: none

feat(locale): `where` on a localized field compares the request locale's label
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
  crates/fraiseql-core/tests/locale_localized_filter_sort.rs
  crates/fraiseql-db/fuzz/fuzz_targets/where_from_json.rs
  crates/fraiseql-db/src/postgres/adapter/composed.rs
  crates/fraiseql-db/src/projection_generator.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_clause/field_types.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-db/src/where_sql_generator.rs
Labels: none

feat(locale): `orderBy` on a localized field sorts the label under the locale's collation
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/tests/locale_localized_filter_sort.rs
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-db/src/order_by/tests.rs
  crates/fraiseql-db/src/types/sql_hints.rs
Labels: none

feat(locale): `compile` reports the per-locale index a localized filter or sort reads
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/tests/locale_projection_proof_test.rs
  crates/fraiseql-core/src/schema/compiled/localized_indexes.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/locale.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/locale_localized_index.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/projection_generator.rs
Labels: none

feat(doctor): name each localized field and locale no index serves
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/schema/pg_catalog.rs
  crates/fraiseql-cli/tests/doctor_against_db.rs
  crates/fraiseql-db/src/projection_generator.rs
Labels: none

feat(sdk): `Localized` in the Python and TypeScript SDKs, observed by conformance
  sdks/official/README.md
  sdks/official/conformance/expected.full.json
  sdks/official/conformance/expected.minimal.json
  sdks/official/conformance/manifest.json
  sdks/official/conformance/project.py
  sdks/official/conformance/project_toml.py
  sdks/official/conformance/reference/full.json
  sdks/official/fraiseql-python/README.md
  sdks/official/fraiseql-python/conformance/fixture_full.py
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/registry.py
  sdks/official/fraiseql-python/src/fraiseql/types.py
  sdks/official/fraiseql-python/tests/test_localized.py
  sdks/official/fraiseql-typescript/README.md
  sdks/official/fraiseql-typescript/conformance/export.ts
  sdks/official/fraiseql-typescript/src/__tests__/localized.test.ts
  sdks/official/fraiseql-typescript/src/index.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/src/types.ts
Labels: tests

fix(sdk-go): the analytics examples declare dimension paths the compiler can read
  sdks/official/fraiseql-go/README.md
  sdks/official/fraiseql-go/examples/analytics/main.go
  sdks/official/fraiseql-go/examples/complete/main.go
Labels: none

feat(examples): the localized catalog, end to end, with the projection gate and the guide
  .dagger/main.go
  crates/fraiseql-server/tests/example_localized_catalog_e2e_pg.rs
  docs/README.md
  docs/features/request-locale.md
  docs/guides/localization.md
  examples/localized-catalog/README.md
  examples/localized-catalog/fraiseql.toml
  examples/localized-catalog/schema.json
  examples/localized-catalog/schema.py
  examples/localized-catalog/sql/01_schema.sql
  examples/localized-catalog/sql/check_locale_free_projections.sql
  sdks/official/conformance/check_examples.sh
Labels: documentation

docs(bench): the PostgreSQL 18 evaluations, with re-runnable rigs
  docs/README.md
  docs/benchmarks/pg18-evaluations.md
  tools/bench/pg18/returning.sql
  tools/bench/pg18/run.sh
  tools/bench/pg18/sql_json.sql
  tools/bench/pg18/uuidv7.sql
Labels: documentation

perf(observers): change-log ids default to time-ordered uuidv7()
  crates/fraiseql-cli/sql/helpers/entity_change_log_contract.sql
  crates/fraiseql-observers/migrations/08_create_entity_change_log_contract.sql
  crates/fraiseql-observers/tests/entity_change_log_contract.rs
Labels: none

feat(wire): the wire backend refuses session variables it cannot apply, and streams for real
  .dagger/main.go
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/tests/after_mutation_observer.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-core/tests/mutation_cache_invalidation_matrix.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/pipeline_inject_params_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_error_type_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-core/tests/type_requires_role_test.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/traits/tests.rs
  crates/fraiseql-db/tests/wire_adapter_pg.rs
  crates/fraiseql-server/src/pool/tests.rs
  crates/fraiseql-server/src/routes/api/tests.rs
  crates/fraiseql-server/src/routes/graphql/tests.rs
  crates/fraiseql-server/src/routes/grpc/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/initialization_tests.rs
  crates/fraiseql-server/src/server/parity_tests.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  crates/fraiseql-server/tests/admin_cache_vocabulary_e2e.rs
  crates/fraiseql-server/tests/cache_wiring_tests.rs
  crates/fraiseql-server/tests/constructor_drift_test.rs
  crates/fraiseql-server/tests/function_backed_query_seam_test.rs
  crates/fraiseql-server/tests/functions_schema_seam_test.rs
  crates/fraiseql-server/tests/multitenancy_test.rs
  crates/fraiseql-server/tests/rate_limit_sweep_is_scheduled_test.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
Labels: none

chore(tests): drop development-phase markers from the localization suites' doc comments
  crates/fraiseql-core/tests/locale_collation.rs
  crates/fraiseql-core/tests/locale_localized_filter_sort.rs
  crates/fraiseql-core/tests/locale_localized_index.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-core/tests/locale_localized_write.rs
  crates/fraiseql-db/tests/wire_adapter_pg.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
Labels: none

docs(changelog): 2.17.0 — localized fields end to end, the wire backend, uuidv7 change-log ids
  CHANGELOG.md
  tools/changelog-exempt-issues.txt
Labels: documentation

test: every localization suite loads its document without a database, and the doc examples compile
  crates/fraiseql-cli/tests/doctor_against_db.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-core/tests/locale_localized_write.rs
  crates/fraiseql-server/tests/example_localized_catalog_e2e_pg.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
Labels: none

chore(gates): classify the locale section, gate two suites on their features, decode value_json once
  Cargo.toml
  crates/fraiseql-core/src/runtime/locale_argument.rs
  crates/fraiseql-server/tests/example_localized_catalog_e2e_pg.rs
  crates/fraiseql-server/tests/locale_context_e2e_pg.rs
  tools/check-gated-sections.py
Labels: none

fix(examples): the localized catalog is a TOML-workflow project the examples gates can compile
  crates/fraiseql-server/tests/example_localized_catalog_e2e_pg.rs
  examples/localized-catalog/README.md
  examples/localized-catalog/catalog.json
  examples/localized-catalog/fraiseql.toml
  examples/localized-catalog/schema.py
  sdks/official/conformance/check_examples.sh
Labels: none

fix(session-vars): a `header` session variable reads the request header, and anonymous requests get theirs
  .dagger/main.go
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/security.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/session_headers.rs
  crates/fraiseql-core/src/runtime/session_headers/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-server/src/arrow/policy_seam.rs
  crates/fraiseql-server/src/async_operations/store.rs
  crates/fraiseql-server/src/async_operations/worker.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/request_locale.rs
  crates/fraiseql-server/src/request_scope.rs
  crates/fraiseql-server/src/routes/async_operations.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/tests/session_variable_header_source_e2e_pg.rs
  tools/suite-coverage-exemptions.toml
Labels: none

test(session-vars): a header session variable is proven on every transport that reaches the engine
  .dagger/main.go
  crates/fraiseql-server/tests/locale_grpc_e2e_pg.rs
  crates/fraiseql-server/tests/session_variable_header_source_e2e_pg.rs
Labels: none

fix(server): `tracing::info` is imported only where it is used, so an mcp build without observers compiles warning-free
  crates/fraiseql-server/src/server/extensions.rs
Labels: none

feat(doctor): warn when an RLS policy reads a header-sourced session variable; document session variables
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/schema/pg_catalog.rs
  crates/fraiseql-cli/tests/doctor_against_db.rs
  docs/README.md
  docs/features/session-variables.md
Labels: documentation

fix(mutations): a mutation value of the wrong type is refused before the function runs
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/argument_value_validation.rs
  crates/fraiseql-core/src/runtime/argument_value_validation_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-server/tests/grpc_transport_e2e_test.rs
  crates/fraiseql-server/tests/mutation_value_types_e2e_pg.rs
Labels: documentation

fix(execution): a null in a non-null position is a field error that nulls its nearest nullable ancestor (§ 6.4.4)
  crates/fraiseql-core/src/runtime/completion.rs
  crates/fraiseql-core/src/runtime/completion/tests.rs
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_function_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested_gates_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/introspection/field_resolver.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/tests/fixtures/federation_compose/catalog.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/reviews.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/reviews_conflict.graphql
  crates/fraiseql-core/tests/non_null_completion.rs
Labels: none

fix(transports): every read path completes non-null fields, and those without a partial-result channel refuse
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/completion.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan_tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/subscription/kafka.rs
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/runtime/subscription/tests.rs
  crates/fraiseql-core/src/runtime/subscription/types.rs
  crates/fraiseql-core/src/runtime/subscription/webhook.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/routes/grpc/handler.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/grpc/streaming.rs
  crates/fraiseql-server/src/routes/rest/resumable_stream.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/routes/subscriptions/tests.rs
  crates/fraiseql-server/tests/locale_grpc_e2e_pg.rs
  crates/fraiseql-server/tests/non_null_completion_transports_e2e_pg.rs
  docs/README.md
  docs/features/non-null-completion.md
  docs/guides/localization.md
Labels: documentation

fix(completion): complete each field in place, so a response keeps the document's field order
  crates/fraiseql-core/src/runtime/completion.rs
  crates/fraiseql-core/src/runtime/completion/tests.rs
Labels: none

test(federation): re-bless the cascade subgraph SDL fixtures for the published nullability
  crates/fraiseql-core/tests/fixtures/federation_compose/cascade_orders.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/cascade_users.graphql
Labels: none

feat(localization): a gated localized field's translations sibling is served under its field's gate
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/completion.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/subscription_plan_tests.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/support/security.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/field_filter.rs
  crates/fraiseql-core/src/runtime/locale_argument.rs
  crates/fraiseql-core/src/schema/graphql_type_defs.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/security/field_authorizer.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-core/tests/locale_translations_gate.rs
  docs/guides/localization.md
Labels: documentation

test(rest): the composed-read authorizer tests answer with composed rows
  crates/fraiseql-core/src/runtime/executor/runners/query_nested_authz_tests.rs
Labels: none

feat(localization): aggregates and windows over a localized dimension read its label
  CHANGELOG.md
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
  crates/fraiseql-core/src/compiler/window_functions/mod.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
  crates/fraiseql-core/tests/locale_localized_aggregate.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  docs/guides/localization.md
Labels: documentation

feat(localization): a subscription filter on a localized field compares its label
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/subscription_plan.rs
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/tests/locale_localized_read.rs
  crates/fraiseql-core/tests/locale_subscription_filter.rs
  docs/guides/localization.md
Labels: documentation

test(e2e): the new document-loading suites prove their schema loads with no database
  crates/fraiseql-core/tests/locale_localized_aggregate.rs
  crates/fraiseql-server/tests/non_null_completion_transports_e2e_pg.rs
  crates/fraiseql-server/tests/session_variable_header_source_e2e_pg.rs
Labels: none

fix(completion): the federation entry point is added only in a federation build
  crates/fraiseql-core/src/runtime/completion.rs
Labels: none

fix(rest): a single resource with no row is not completed as a non-null violation
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-server/tests/rest_transport_e2e_test.rs
Labels: none

test(server): fixtures declare the to-ones a policy hides, and unstored fields, nullable
  crates/fraiseql-server/tests/graphql_nested_type_gates_e2e_pg.rs
  crates/fraiseql-server/tests/graphql_vector_e2e_pg.rs
  crates/fraiseql-server/tests/rest_embedding_safety_e2e_pg.rs
Labels: none

feat(validation): max_offset refuses a deep offset page before any statement
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/server_settings.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/tests/offset_ceiling_aggregate.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  crates/fraiseql-server/tests/graphql_sse_e2e_pg.rs
  crates/fraiseql-server/tests/offset_ceiling_e2e_pg.rs
  docs/architecture/config-vs-settings.md
  docs/features/pagination.md
  docs/security/graphql-complexity-limits.md
Labels: documentation

fix(relay): a connection paged under an orderBy resumes past the cursor row's sort keys
  CHANGELOG.md
  crates/fraiseql-core/src/cache/relay_cache.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/support/relay.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/src/runtime/relay.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-core/tests/locale_collation.rs
  crates/fraiseql-core/tests/relay_keyset_walk.rs
  crates/fraiseql-db/src/keyset.rs
  crates/fraiseql-db/src/keyset/tests.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/order_by.rs
  crates/fraiseql-db/src/order_by/tests.rs
  crates/fraiseql-db/src/postgres/adapter/composed.rs
  crates/fraiseql-db/src/postgres/adapter/composed_tests.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/traits/adapter_types.rs
  crates/fraiseql-db/src/traits/composed_read.rs
  crates/fraiseql-db/src/traits/relay.rs
  crates/fraiseql-db/src/types/sql_hints.rs
  crates/fraiseql-server/src/server/parity_tests.rs
  crates/fraiseql-server/tests/constructor_drift_test.rs
  crates/fraiseql-server/tests/graphql_nested_type_gates_e2e_pg.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
  docs/features/pagination.md
  docs/features/request-locale.md
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
