Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(rbac): implement safe WHERE clause merging in Rust (Phase 2)
  fraiseql_rs/src/rbac/mod.rs
  fraiseql_rs/src/rbac/where_merger.rs
Labels: none

feat(phase-3): add Python async bindings for RowConstraintResolver and WhereMerger
  fraiseql_rs/src/rbac/mod.rs
  fraiseql_rs/src/rbac/py_bindings.rs
Labels: none

feat(phase-4): add row-level constraint integration to RbacMiddleware
  .phases/ISSUE-2-PHASE-4-MIDDLEWARE-INTEGRATION-PLAN.md
  fraiseql_rs/src/rbac/mod.rs
  fraiseql_rs/src/rbac/py_bindings.rs
  fraiseql_rs/src/rbac/where_merger.rs
  src/fraiseql/enterprise/rbac/middleware.py
  src/fraiseql/enterprise/rbac/rust_row_constraints.py
  src/fraiseql/enterprise/rbac/rust_where_merger.py
Labels: none

feat(phase-5): add row constraint database schema and migration
  .phases/ISSUE-2-PHASE-5-DATABASE-MIGRATION-PLAN.md
  src/fraiseql/enterprise/migrations/005_row_constraint_tables.sql
Labels: none

feat(phase-6): add comprehensive testing and documentation for row-level authorization
  .phases/ISSUE-2-PHASE-6-TESTING-DOCUMENTATION-PLAN.md
  docs/row_level_authorization.md
  tests/integration/enterprise/rbac/test_row_constraints_integration.py
  tests/unit/enterprise/rbac/test_rust_where_merger.py
Labels: documentation, tests

fix: export PyRowConstraintResolver and PyWhereMerger from Rust module
  fraiseql_rs/src/lib.rs
Labels: none

docs: add comprehensive Issue #2 completion status
  ISSUE-2-COMPLETION-STATUS.md
Labels: documentation

docs: add detailed deployment guide for Issue #2 row-level authorization
  DEPLOYMENT_GUIDE.md
Labels: documentation

style: align comments in Rust module exports
  fraiseql_rs/src/lib.rs
Labels: none

fix: resolve GraphQL-core ID scalar redefinition issue
  src/fraiseql/types/scalars/__init__.py
  src/fraiseql/types/scalars/graphql_utils.py
  src/fraiseql/types/scalars/id_scalar.py
  tests/unit/enterprise/rbac/test_rust_where_merger.py
Labels: tests, types

feat: export ID scalar from main fraiseql module for user convenience
  src/fraiseql/__init__.py
Labels: none

feat: also export UUID scalar from main fraiseql module
  src/fraiseql/__init__.py
Labels: none

feat: improve API discoverability and debugging
  src/fraiseql/__init__.py
Labels: none

docs(phase-3): add comprehensive codebase improvement plan
  .phases/CODEBASE-IMPROVEMENTS-2026-01-04.md
  .phases/INDEX.md
Labels: none

docs: add Raises documentation to key public API functions
  src/fraiseql/cqrs/executor.py
  src/fraiseql/cqrs/repository.py
  src/fraiseql/gql/schema_builder.py
  src/fraiseql/types/generic.py
Labels: types

feat: add pool selection helper functions (Phase 1.3)
  src/fraiseql/__init__.py
  src/fraiseql/db.py
Labels: none

chore: comprehensive repository cleanup and documentation archival
  .gitignore
  .phases/REPOSITORY-CLEANUP-2026-01-04.md
  .phases/archive/2026-01-04-review-and-planning/COMMIT-2-SUMMARY.md
  .phases/archive/2026-01-04-review-and-planning/COMMIT-3-SUMMARY.md
  .phases/archive/2026-01-04-review-and-planning/README.md
  .phases/archive/2026-01-04-review-and-planning/REVIEW_ACTION_PLAN.md
  .phases/archive/2026-01-04-review-and-planning/REVIEW_COMPLETE.txt
  .phases/archive/2026-01-04-review-and-planning/REVIEW_SUMMARY.md
  .phases/archive/2026-01-04-review-and-planning/SELF_REVIEW_ANALYSIS.md
  .phases/archive/historical/.cleanup-plan.md
  .phases/archive/historical/README.md
  .phases/archive/phase-17-planning/PHASE-17-IMPLEMENTATION-PLAN.md
  .phases/archive/phase-17-planning/README.md
  .phases/archive/phase-17-planning/WEEK-1-COMPLETION-SUMMARY.md
  .phases/archive/subscriptions-planning/README.md
  .phases/archive/subscriptions-planning/SUBSCRIPTIONS_DOCS_INDEX.md
  .phases/archive/subscriptions-planning/SUBSCRIPTIONS_INTEGRATION_FINAL_PLAN.md
  .phases/archive/subscriptions-planning/SUBSCRIPTIONS_INTEGRATION_PLAN_V2.md
  .phases/archive/subscriptions-planning/SUBSCRIPTIONS_INTEGRATION_PLAN_V3_HTTP_ABSTRACTION.md
  .pre-commit-config.yaml.backup
  CACHE_DOCUMENTATION_UPDATE.md
  CLIPPY_COMPLETE.md
  CLIPPY_FIXES_SUMMARY.md
  CLIPPY_PROGRESS.md
  run_validation.rs
Labels: documentation

docs: add session completion summary and final status report
  .phases/SESSION-COMPLETION-2026-01-04.md
Labels: none

feat(phase-23): implement type-safe GraphQL context
  docs/migration/type-safe-context.md
  src/fraiseql/__init__.py
  src/fraiseql/types/context.py
  src/fraiseql/types/scalars/id_scalar.py
  tests/integration/meta/test_all_scalars.py
  tests/unit/types/test_context.py
Labels: documentation, tests, types

feat(phase-21): add type stubs for IDE autocompletion
  src/fraiseql/auth/__init__.pyi
  src/fraiseql/caching/__init__.pyi
  src/fraiseql/db.pyi
  src/fraiseql/decorators.pyi
  src/fraiseql/enterprise/rbac/__init__.pyi
  src/fraiseql/types/fraise_type.pyi
Labels: types

feat(phase-23): add type stub for GraphQL context with proper types
  src/fraiseql/types/context.pyi
Labels: types

fix(apq): disable response caching to fix field selection issue
  .phases/NEXT-IMPROVEMENTS-2026-01-04.md
  .phases/PHASE-16-INTEGRATION-SUMMARY.md
  .phases/phase-16-axum-http-server.md
  .phases/phase-16-quick-reference.md
  .phases/phase-16-rust-http-server.md
  docs/PHASE-17A-COMPLETION-FINAL-ASSESSMENT.md
  src/fraiseql/fastapi/routers.py
  src/fraiseql/integrations/fastapi_subscriptions.py
  src/fraiseql/integrations/starlette_subscriptions.py
  src/fraiseql/subscriptions/http_adapter.py
  src/fraiseql/subscriptions/manager.py
  src/fraiseql/subscriptions/protocol.py
  tests/integration/test_apq_field_selection.py
Labels: documentation, tests

Revert "fix(apq): disable response caching to fix field selection issue"
  .phases/NEXT-IMPROVEMENTS-2026-01-04.md
  .phases/PHASE-16-INTEGRATION-SUMMARY.md
  .phases/phase-16-axum-http-server.md
  .phases/phase-16-quick-reference.md
  .phases/phase-16-rust-http-server.md
  docs/PHASE-17A-COMPLETION-FINAL-ASSESSMENT.md
  src/fraiseql/fastapi/routers.py
  src/fraiseql/integrations/fastapi_subscriptions.py
  src/fraiseql/integrations/starlette_subscriptions.py
  src/fraiseql/subscriptions/http_adapter.py
  src/fraiseql/subscriptions/manager.py
  src/fraiseql/subscriptions/protocol.py
  tests/integration/test_apq_field_selection.py
Labels: documentation, tests

fix(apq): disable response caching in FastAPI layer to fix field selection
  src/fraiseql/fastapi/routers.py
  tests/integration/test_apq_field_selection.py
Labels: tests

fix(types): resolve ID scalar conflict with Strawberry-style NewType
  src/fraiseql/gql/builders/schema_composer.py
  src/fraiseql/types/__init__.py
  src/fraiseql/types/scalars/graphql_utils.py
  src/fraiseql/types/scalars/id_scalar.py
  tests/integration/meta/test_all_scalars.py
  tests/regression/test_id_scalar_core_conflict.py
  tests/types/test_id_type.py
Labels: tests, types

test(apq): add xfail tests for APQ field selection bug
  tests/regression/test_apq_field_selection_bug.py
Labels: tests

fix(apq): include variables in response cache key to prevent data leakage
  src/fraiseql/fastapi/routers.py
  src/fraiseql/middleware/apq_caching.py
  tests/middleware/test_apq_caching.py
  tests/regression/test_apq_field_selection_bug.py
Labels: tests

fix(apq): filter cached responses by GraphQL field selection
  src/fraiseql/fastapi/routers.py
  src/fraiseql/middleware/apq_caching.py
  src/fraiseql/middleware/apq_selection.py
  tests/middleware/test_apq_selection.py
  tests/regression/test_apq_field_selection_bug.py
Labels: tests

chore(release): prepare v1.9.2 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  deploy/docker/Dockerfile
  deploy/docker/Dockerfile.hardened
  docs/archive/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

test(apq): add end-to-end tests for APQ field selection filtering
  tests/regression/test_apq_field_selection_bug.py
Labels: tests

fix(tests): skip ID scalar in database roundtrip test
  tests/integration/meta/test_all_scalars.py
Labels: tests

fix(tests): reduce flaky threshold in lock contention test
  tests/chaos/concurrency/test_concurrency_chaos.py
Labels: tests

fix(release): exclude flaky chaos tests from pr-ship workflow
  scripts/pr_ship.py
Labels: none

fix(schema): skip ID scalar registration to avoid conflict with GraphQL built-in
  src/fraiseql/gql/builders/registry.py
Labels: none

chore(release): bump version to v1.9.3
  CHANGELOG.md
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

Revert "chore(release): bump version to v1.9.3"
  CHANGELOG.md
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix(types): use custom IDScalar instead of GraphQL built-in ID
  src/fraiseql/gql/builders/registry.py
  src/fraiseql/types/scalars/graphql_utils.py
  tests/integration/fastapi/test_fastapi_jsonb_integration.py
  tests/integration/graphql/test_jsonb_graphql_full_execution.py
  tests/integration/meta/test_all_scalars.py
  tests/regression/test_id_scalar_core_conflict.py
  tests/system/fastapi_system/test_dataloader_integration.py
Labels: tests, types

chore(release): bump version to v1.10.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/gql/builders/schema_composer.py
  uv.lock
Labels: documentation, config, dependencies

fix(docs): correct broken links in id-type.md
  docs/core/id-type.md
Labels: documentation

fix(docs): resolve broken documentation links
  .claude/plans/id-uuid-migration-plan.md
  .claude/plans/rust-postgres-migration-v1.9.md
  README.md
  docs/architecture/request-flow.md
  docs/core/mutation-success-error.md
  docs/core/rust-backend-migration.md
  docs/guides/advanced-features.md
  docs/recipes/index.md
  docs/reference/terminology.md
  scripts/validate-docs.sh
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
