Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat: Complete Phase 4 - Multi-Provider KMS with Rust Pipeline Compatibility
  pyproject.toml
  src/fraiseql/security/kms/__init__.py
  src/fraiseql/security/kms/application/__init__.py
  src/fraiseql/security/kms/application/key_manager.py
  src/fraiseql/security/kms/domain/__init__.py
  src/fraiseql/security/kms/domain/base.py
  src/fraiseql/security/kms/domain/exceptions.py
  src/fraiseql/security/kms/domain/models.py
  src/fraiseql/security/kms/infrastructure/__init__.py
  src/fraiseql/security/kms/infrastructure/aws_kms.py
  src/fraiseql/security/kms/infrastructure/gcp_kms.py
  src/fraiseql/security/kms/infrastructure/local.py
  src/fraiseql/security/kms/infrastructure/vault.py
  tests/unit/security/kms/test_aws_kms_provider.py
  tests/unit/security/kms/test_base_provider.py
  tests/unit/security/kms/test_domain_models.py
  tests/unit/security/kms/test_gcp_kms_provider.py
  tests/unit/security/kms/test_key_manager.py
  tests/unit/security/kms/test_local_provider.py
  tests/unit/security/kms/test_vault_provider.py
  uv.lock
Labels: tests, config, dependencies

docs: Complete Phase 5.1-5.3 - Documentation & Test Coverage
  FRAISEQL_SECURITY_IMPLEMENTATION_PLAN.md
  README.md
  docs/architecture/decisions/0003-kms-architecture.md
  docs/security/configuration.md
  tests/integration/security/test_kms_integration.py
Labels: documentation, tests

ci: Complete Phase 5.4 - CI/CD Pipeline Updates for KMS & Security
  .github/workflows/quality-gate.yml
Labels: ci

docs: Complete Phase 5.5 - API Documentation & Type Hints
  src/fraiseql/security/kms/domain/exceptions.py
  src/fraiseql/security/kms/infrastructure/gcp_kms.py
Labels: none

docs: Complete Phase 7 - Security Audit Preparation
  docs/security/controls-matrix.md
  docs/security/threat-model.md
Labels: documentation

docs: Expand security compliance from US-only to global multi-jurisdiction support
  .github/workflows/sbom-generation.yml
  COMPLIANCE/SUPPLY_CHAIN/SBOM_PROCESS.md
  README.md
  docs/compliance/GLOBAL_REGULATIONS.md
  docs/security/controls-matrix.md
  src/fraiseql/cli/commands/sbom.py
  src/fraiseql/sbom/__init__.py
  src/fraiseql/sbom/infrastructure/cyclonedx_adapter.py
Labels: documentation, cli, ci

chore: Release preparation for v1.6.2
  CHANGELOG.md
  COMPLIANCE/SUPPLY_CHAIN/SBOM_PROCESS.md
  README.md
  SECURITY.md
  benchmarks/METHODOLOGY.md
  docs/archive/GETTING_STARTED.md
  docs/compliance/GLOBAL_REGULATIONS.md
  docs/security/configuration.md
  mkdocs.yml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

feat: Complete GraphQL Cascade feature implementation
  src/fraiseql/mutations/cascade_types.py
  tests/conftest.py
  tests/fixtures/cascade/conftest.py
  tests/fixtures/examples/conftest_examples.py
  tests/integration/test_graphql_cascade.py
Labels: tests, mutations

Release v2.0.0 - GraphQL Cascade (Experimental)
  CHANGELOG.md
  docs/testing/ENABLING_EXTERNAL_TESTS.md
  docs/testing/SKIPPED_TESTS.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/types.py
  tests/integration/test_graphql_cascade.py
  tests/scripts/enable-kms-tests.sh
  uv.lock
Labels: documentation, tests, mutations, config, dependencies

feat: Implement Rust-first mutation pipeline for HTTP responses
  fraiseql_rs/src/core/arena.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/tests.rs
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/rust_executor.py
  tests/unit/decorators/test_mutation_decorator.py
  tests/unit/mutations/__init__.py
  tests/unit/mutations/test_rust_executor.py
  tests/unit/mutations/test_rust_mutation_binding.py
Labels: tests, mutations

feat: Add SQL helpers for mutation_result_v2 format (Phase 7)
  examples/mutations_demo/v2_init.sql
  examples/mutations_demo/v2_mutation_functions.sql
  migrations/trinity/005_add_mutation_result_v2.sql
Labels: none

fix: Align SQL cascade helpers with GraphQL Cascade spec
  examples/mutations_demo/v2_init.sql
  examples/mutations_demo/v2_mutation_functions.sql
  migrations/trinity/005_add_mutation_result_v2.sql
Labels: none

fix: Use snake_case consistently in SQL (Rust transforms to camelCase)
  examples/mutations_demo/v2_init.sql
  examples/mutations_demo/v2_mutation_functions.sql
  migrations/trinity/005_add_mutation_result_v2.sql
Labels: none

chore: Update version to 1.7.0 and add changelog
  CHANGELOG.md
  docs/features/graphql-cascade.md
  docs/features/index.md
  docs/features/mutation-result-reference.md
  docs/features/sql-function-return-format.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix(db): Unify WHERE clause building in _build_find_query (Issue #145)
  src/fraiseql/db.py
  tests/regression/issue_145/test_build_find_query_uses_unified_where.py
Labels: tests

fix(test): add schema registry clearing fixture to prevent duplicate type errors in ip_address_scalar_mapping test
  tests/regression/test_graphql_ip_address_scalar_mapping.py
Labels: tests

fix(test): update regression tests with proper mock database infrastructure
  tests/regression/test_field_conversion_underscore_number_id_bug.py
  tests/regression/test_printoptim_backend_bug_reproduction.py
Labels: tests

chore: Migrate from mypy to ty type checker
  pyproject.toml
  ty.toml
  uv.lock
Labels: config, dependencies

fix(test): update mutation decorator tests for Rust-first pipeline
  tests/unit/decorators/test_mutation_decorator.py
Labels: tests

fix(test): update mutation decorator tests for Rust-first pipeline
  tests/unit/decorators/test_mutation_decorator.py
Labels: tests

chore: remove stale comment from operator_strategies.py
  src/fraiseql/sql/operator_strategies.py
Labels: sql

chore: convert TODOs to v1.8 roadmap notes in langchain integration
  src/fraiseql/integrations/langchain.py
Labels: none

feat(mocks): add shared mock module for tests [GREEN]
  tests/mocks/__init__.py
  tests/mocks/shared.py
  tests/mocks/test_shared_mocks.py
Labels: tests

refactor(tests): migrate mutation decorator tests to shared mocks [REFACTOR]
  tests/unit/decorators/test_mutation_decorator.py
Labels: tests

test: unskip nested object aliases test (schema registry handled by fixture)
  tests/unit/core/test_rust_pipeline.py
Labels: tests

feat(types): support self-referential types and add server cache docs
  docs/performance/server-cache-invalidation.md
  src/fraiseql/types/constructor.py
  src/fraiseql/utils/fraiseql_builder.py
  tests/unit/__init__.py
  tests/unit/core/test_rust_pipeline.py
  tests/unit/sql/test_nested_where_input_auto_generation.py
Labels: documentation, tests, types

docs: update README to v1.7.0 and update test documentation
  README.md
  docs/testing/ENABLING_EXTERNAL_TESTS.md
  docs/testing/SKIPPED_TESTS.md
Labels: documentation

fix(test): convert test_cascade_with_error_response to unit test
  tests/integration/test_graphql_cascade.py
Labels: tests

fix(types): change Cascade.updated to Any for JSON passthrough preserving __typename
  src/fraiseql/mutations/types.py
Labels: mutations

feat(rust/mutation): extract cascade data from simple format PostgreSQL responses
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/tests.rs
Labels: none

fix(version): update Rust crate version to 1.7.0 to match Python package
  fraiseql_rs/Cargo.toml
Labels: none

feat(rust): cascade extraction and pipeline improvements for v1.7.0
  fraiseql_rs/benches/core_benchmark.rs
  fraiseql_rs/benches/memory.rs
  fraiseql_rs/benches/pipeline.rs
  fraiseql_rs/build.rs
  fraiseql_rs/src/cascade/mod.rs
  fraiseql_rs/src/json_transform.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/schema_registry.rs
  fraiseql_rs/tests/test_new_impl.rs
  fraiseql_rs/tests/test_performance.rs
  fraiseql_rs/tests/test_pipeline.rs
Labels: none

feat(core): Rust-first pipeline and mutation executor updates
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/db.py
  src/fraiseql/fastapi/dependencies.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/rust_executor.py
Labels: core, mutations

ci: add version consistency check workflow
  .github/workflows/version-check.yml
  scripts/check_versions.py
Labels: ci

chore: update dependencies for v1.7.0
  pyproject.toml
  uv.lock
Labels: config, dependencies

docs: fix 19 broken documentation links
  CHANGELOG.md
  docs/README.md
  docs/core/dependencies.md
  docs/core/explicit-sync.md
  docs/core/migrations.md
  docs/core/postgresql-extensions.md
  docs/features/graphql-cascade.md
  docs/testing/SKIPPED_TESTS.md
  mkdocs.yml
  tests/archived_tests/dual_mode_system/README.md
Labels: documentation, tests

fix(ci): add asgi-lifespan to tox.ini test dependencies
  tox.ini
Labels: config

docs: fix 7 remaining broken documentation links
  docs/core/configuration.md
  docs/features/graphql-cascade.md
  docs/features/mutation-result-reference.md
  docs/getting-started/first-hour.md
  docs/reference/config.md
  docs/testing/ENABLING_EXTERNAL_TESTS.md
Labels: documentation

perf(test): split type cache clearing to session scope for faster tests
  tests/conftest.py
Labels: tests

fix: add type annotation for __getattr__ parameter
  pytest.ini
  src/fraiseql/__init__.py
  tests/conftest.py
Labels: tests

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
