Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(security): SSRF protection for outbound webhook/Slack URLs (C7)
  crates/fraiseql-observers/src/actions.rs
Labels: none

fix(security): Discord tolerance cast + valid-sig test; LeaseRenewalTask tests (S8)
  crates/fraiseql-secrets/src/secrets_manager/mod.rs
  crates/fraiseql-webhooks/src/signature/discord.rs
Labels: none

fix(security): Vault SSRF + secret name tests; admin token scope warning (S9)
  crates/fraiseql-secrets/src/secrets_manager/backends/vault.rs
  crates/fraiseql-server/src/server/routing.rs
Labels: none

feat(security): admin read/write token split; Vault mock tests (S10)
  crates/fraiseql-secrets/Cargo.toml
  crates/fraiseql-secrets/src/secrets_manager/backends/vault.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/server_config/mod.rs
Labels: none

test(security): renew_token mock tests; concurrent executor + search HTTP tests (S11)
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/concurrent/mod.rs
  crates/fraiseql-observers/src/search/http.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault.rs
Labels: none

harden(observers+server): S14+S15 security hardening
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/condition/parser.rs
  crates/fraiseql-observers/src/condition/tests.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/executor/actions.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/executor/mod.rs
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-server/src/middleware/auth.rs
  crates/fraiseql-server/src/middleware/cors.rs
  crates/fraiseql-server/src/routes/api/admin.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/server_config/defaults.rs
  crates/fraiseql-server/src/server_config/mod.rs
Labels: none

harden(cli): S16 input validation + resource limits
  crates/fraiseql-cli/src/commands/validate_documents.rs
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/schema/multi_file_loader.rs
  crates/fraiseql-cli/src/schema/validator/sql_identifier.rs
Labels: none

harden(core): S17 constant-time + input bounds + field masking
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/apq/hasher.rs
  crates/fraiseql-core/src/cache/entity_key.rs
  crates/fraiseql-core/src/security/field_masking.rs
  crates/fraiseql-core/src/validation/checksum.rs
  crates/fraiseql-core/src/validation/rich_scalars.rs
Labels: none

harden(cross-crate): S18 wire field-count cap; socket path traversal guard; URL-parser SSRF; entity batch cap; pool bounds
  crates/fraiseql-federation/src/connection_manager.rs
  crates/fraiseql-federation/src/http_resolver.rs
  crates/fraiseql-federation/src/representation.rs
  crates/fraiseql-wire/src/client/connection_string.rs
  crates/fraiseql-wire/src/protocol/decode.rs
Labels: none

harden(multi): S19 JWKS size cap; Vault name length + SSRF URL parser; trusted-doc size cap; GET vars cap; serialize_value depth guard
  crates/fraiseql-core/src/graphql/parser.rs
  crates/fraiseql-core/src/security/oidc/jwks.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/trusted_documents.rs
Labels: none

harden(multi): S20 response-body size caps + condition input limits + overflow fix
  Cargo.lock
  crates/fraiseql-auth/src/error.rs
  crates/fraiseql-auth/src/middleware.rs
  crates/fraiseql-auth/src/oauth/claims_validator.rs
  crates/fraiseql-auth/src/oauth/client.rs
  crates/fraiseql-auth/src/oauth/mod.rs
  crates/fraiseql-auth/src/oidc_server_client.rs
  crates/fraiseql-auth/src/rate_limiting.rs
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/schema/validator/sql_identifier.rs
  crates/fraiseql-core/benches/federation_bench.rs
  crates/fraiseql-core/src/runtime/executor/federation.rs
  crates/fraiseql-core/tests/federation_mutation_http.rs
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/src/dependency_graph.rs
  crates/fraiseql-federation/src/direct_db_resolver.rs
  crates/fraiseql-federation/src/entity_resolver.rs
  crates/fraiseql-federation/src/http_resolver.rs
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-federation/src/types.rs
  crates/fraiseql-federation/tests/http_resolver_integration.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  crates/fraiseql-observers/src/condition/lexer.rs
  crates/fraiseql-observers/src/condition/tests.rs
  crates/fraiseql-observers/src/executor/retry.rs
  crates/fraiseql-server/src/middleware/cors.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/subscriptions/webhook_lifecycle.rs
  crates/fraiseql-wire/src/protocol/decode.rs
Labels: none

harden(multi): S21 wire protocol caps + Arrow Flight size caps + manifest SSRF guard
  crates/fraiseql-arrow/src/exchange_protocol.rs
  crates/fraiseql-arrow/src/ticket.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-wire/src/protocol/decode.rs
Labels: none

harden(multi): S22 response-body caps + timeouts (OIDC, federation, Elasticsearch)
  Cargo.lock
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/security/oidc/tests.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-observers/src/search/http.rs
Labels: none

harden(multi): S23 response-body caps + timeouts (entity resolver, JWKS, GitHub, ES sink)
  crates/fraiseql-auth/src/jwks.rs
  crates/fraiseql-auth/src/providers/github.rs
  crates/fraiseql-federation/src/http_resolver.rs
  crates/fraiseql-observers/src/elasticsearch_sink.rs
Labels: none

fix(security): OidcProvider response caps + SlackAction timeout (S24)
  crates/fraiseql-auth/src/oidc_provider.rs
  crates/fraiseql-observers/src/actions.rs
Labels: none

fix(security): client timeouts for OAuth, Vault, health-checker, routing (S25)
  crates/fraiseql-auth/src/oauth/client.rs
  crates/fraiseql-core/src/security/kms/vault.rs
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-server/src/federation/health_checker.rs
  crates/fraiseql-server/src/server/routing.rs
Labels: none

fix(security): OIDCClient userinfo response size cap (S26)
  crates/fraiseql-auth/src/oauth/client.rs
Labels: none

fix(security): OIDC error-path size guard + exponential retry backoff (S27)
  crates/fraiseql-auth/src/oidc_server_client.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
Labels: none

fix(security): HTTP status checks for manifest, ES bulk, GitHub API (S28)
  crates/fraiseql-auth/src/providers/github.rs
  crates/fraiseql-observers/src/elasticsearch_sink.rs
  crates/fraiseql-server/src/server/initialization.rs
Labels: none

fix(security): revoke_token status check + webhook body-read error visibility (S29)
  crates/fraiseql-auth/src/oidc_provider.rs
  crates/fraiseql-server/src/subscriptions/webhook_lifecycle.rs
Labels: none

fix(security): S51 — RLS fail-open, VaultConfig Debug leak, QueryValidator bypass
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/security/auth_middleware/auth_middleware/bearer.rs
  crates/fraiseql-core/src/security/auth_middleware/auth_middleware/claims.rs
  crates/fraiseql-core/src/security/auth_middleware/auth_middleware/config.rs
  crates/fraiseql-core/src/security/auth_middleware/auth_middleware/jwt.rs
  crates/fraiseql-core/src/security/auth_middleware/auth_middleware/mod.rs
  crates/fraiseql-core/src/security/auth_middleware/auth_middleware/signing_key.rs
  crates/fraiseql-core/src/security/auth_middleware/auth_middleware/types.rs
  crates/fraiseql-core/src/security/auth_middleware/middleware.rs
  crates/fraiseql-core/src/security/kms/vault.rs
  crates/fraiseql-core/src/security/rls_policy.rs
Labels: none

fix(security): S52 — webhook SSRF, subscription cap, rate limiter LRU, APQ SCAN
  crates/fraiseql-core/src/apq/redis_storage.rs
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/runtime/subscription/webhook.rs
  crates/fraiseql-core/src/validation/rate_limiting.rs
Labels: none

fix(security): S53 — credential zeroization, audit log injection
  crates/fraiseql-secrets/src/encryption/audit_logging.rs
  crates/fraiseql-secrets/src/encryption/performance.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault.rs
  crates/fraiseql-secrets/src/secrets_manager/mod.rs
Labels: none

fix(api): S54 — RotationError typed error, clock-backward guard, ManualRotationStatus enum
  Cargo.lock
  crates/fraiseql-secrets/Cargo.toml
  crates/fraiseql-secrets/src/encryption/credential_rotation.rs
  crates/fraiseql-secrets/src/encryption/middleware.rs
  crates/fraiseql-secrets/src/encryption/refresh_trigger.rs
  crates/fraiseql-secrets/src/encryption/rotation_api.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/env.rs
Labels: none

fix(security): observers SSRF & HTTP hardening (S55)
  crates/fraiseql-observers/src/elasticsearch_sink.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/search/http.rs
  crates/fraiseql-observers/src/ssrf.rs
  crates/fraiseql-observers/src/transport/nats.rs
Labels: none

fix(security): observers & webhooks correctness polish (S56)
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/elasticsearch_sink.rs
  crates/fraiseql-observers/src/executor/retry.rs
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-observers/src/queue/redis.rs
  crates/fraiseql-observers/src/queued_executor.rs
  crates/fraiseql-observers/src/transport/postgres_notify.rs
  crates/fraiseql-webhooks/Cargo.toml
  crates/fraiseql-webhooks/src/config.rs
  crates/fraiseql-webhooks/src/lib.rs
  crates/fraiseql-webhooks/src/signature/generic.rs
  crates/fraiseql-webhooks/src/signature/twilio.rs
  crates/fraiseql-webhooks/src/traits.rs
  crates/fraiseql-webhooks/src/transaction.rs
Labels: none

fix(security): core quality hardening (S57)
  crates/fraiseql-core/src/security/audit.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-db/src/filters/validators.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
Labels: none

fix(security): ReDoS guard for validation regex patterns + execute_raw_query security docs (S58)
  crates/fraiseql-db/src/filters/validators.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
Labels: none

fix(admin): replace expect() with ok_or_else in cache clear handler
  crates/fraiseql-server/src/routes/api/admin.rs
Labels: none

refactor(server): extract builder functions from main() (E1 + E3)
  crates/fraiseql-server/src/main.rs
Labels: none

refactor(tests): split executor/tests.rs into named sub-modules (E6)
  crates/fraiseql-core/src/runtime/executor/tests.rs
Labels: none

docs(architecture): correct RBAC auth + add ServerConfig::default() warning (E7 + E8)
  docs/architecture/overview.md
Labels: documentation

chore(release): v2.1.0
  CHANGELOG.md
Labels: documentation

fix(ci): scaffold Ruby/Dart SDKs, fix pre-commit.ci Cargo.toml corruption, bump quinn-proto
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql/Cargo.toml
Labels: none

fix(ci): stop pre-commit TOML formatter from corrupting Cargo.toml + fix SDK CI
  .pre-commit-config.yaml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql/Cargo.toml
  sdks/official/fraiseql-dart/analysis_options.yaml
  sdks/official/fraiseql-dart/lib/fraiseql.dart
  sdks/official/fraiseql-dart/pubspec.yaml
  sdks/official/fraiseql-dart/test/fraiseql_test.dart
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-ruby/.rubocop.yml
  sdks/official/fraiseql-ruby/Gemfile
  sdks/official/fraiseql-ruby/fraiseql.gemspec
  sdks/official/fraiseql-ruby/lib/fraiseql.rb
  sdks/official/fraiseql-ruby/spec/fraiseql_spec.rb
  sdks/official/fraiseql-ruby/spec/spec_helper.rb
Labels: config

fix(python-sdk): fix pre-existing ruff violations (E501, F841, F821)
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_custom_scalar_e2e.py
Labels: tests

fix(python-sdk): apply ruff format to validators.py and test_custom_scalar_e2e.py
  sdks/official/fraiseql-python/src/fraiseql/validators.py
  sdks/official/fraiseql-python/tests/test_custom_scalar_e2e.py
Labels: tests

fix(python-sdk): correct test_query_cache_ttl_negative_raises to expect ValueError
  sdks/official/fraiseql-python/tests/test_decorators.py
Labels: tests

fix(ci): fix Ruby RuboCop style violations and Rust SDK fmt
  sdks/official/fraiseql-ruby/.rubocop.yml
  sdks/official/fraiseql-ruby/Gemfile
  sdks/official/fraiseql-ruby/fraiseql.gemspec
  sdks/official/fraiseql-ruby/lib/fraiseql.rb
  sdks/official/fraiseql-ruby/spec/fraiseql_spec.rb
  sdks/official/fraiseql-ruby/spec/spec_helper.rb
  sdks/official/fraiseql-rust/src/authorization.rs
Labels: none

fix(ruby-sdk): add MFA metadata and disable SpecFilePathFormat cop
  sdks/official/fraiseql-ruby/.rubocop.yml
  sdks/official/fraiseql-ruby/fraiseql.gemspec
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
