Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(python-sdk): add error hierarchy, retry config, and AsyncFraiseQLClient
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-python/src/fraiseql/async_client.py
  sdks/official/fraiseql-python/src/fraiseql/errors.py
  sdks/official/fraiseql-python/src/fraiseql/retry.py
  sdks/official/fraiseql-python/tests/test_async_client.py
  sdks/official/fraiseql-python/tests/test_errors.py
  sdks/official/fraiseql-python/tests/test_retry.py
Labels: tests

feat(go-sdk): add HTTP client, error types, retry, and AI tool converters
  .github/workflows/go-sdk.yml
  sdks/official/fraiseql-go/fraiseql/client.go
  sdks/official/fraiseql-go/fraiseql/client_test.go
  sdks/official/fraiseql-go/fraiseql/errors.go
  sdks/official/fraiseql-go/fraiseql/graphql_types.go
  sdks/official/fraiseql-go/fraiseql/retry.go
  sdks/official/fraiseql-go/fraiseql/tools/anthropic.go
  sdks/official/fraiseql-go/fraiseql/tools/openai.go
Labels: ci

feat(fuzz): add fuzz-build CI job to verify harness compilation on every PR
  .github/workflows/ci.yml
Labels: ci

feat(bench): add Criterion benchmarks for GraphQL parse, cache latency, and performance docs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/benches/cache.rs
  crates/fraiseql-core/benches/graphql_parse.rs
  docs/performance.md
Labels: documentation

feat(elixir-sdk): add HTTP client, error types, and LangChain integration
  .github/workflows/typescript-sdk.yml
  sdks/official/fraiseql-elixir/lib/fraiseql/client.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/errors.ex
  sdks/official/fraiseql-elixir/lib/fraiseql/integrations/langchain.ex
  sdks/official/fraiseql-elixir/mix.exs
  sdks/official/fraiseql-elixir/test/client_test.exs
  sdks/official/fraiseql-typescript/jest.config.js
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/__tests__/__mocks__/ai.ts
  sdks/official/fraiseql-typescript/src/__tests__/client.test.ts
  sdks/official/fraiseql-typescript/src/__tests__/errors.test.ts
  sdks/official/fraiseql-typescript/src/__tests__/integrations/vercel-ai.test.ts
  sdks/official/fraiseql-typescript/src/__tests__/retry.test.ts
  sdks/official/fraiseql-typescript/src/client.ts
  sdks/official/fraiseql-typescript/src/errors.ts
  sdks/official/fraiseql-typescript/src/http-retry.ts
  sdks/official/fraiseql-typescript/src/index.ts
  sdks/official/fraiseql-typescript/src/integrations/langchain.ts
  sdks/official/fraiseql-typescript/src/integrations/mastra.ts
  sdks/official/fraiseql-typescript/src/integrations/vercel-ai.ts
  sdks/official/fraiseql-typescript/src/types/peer-deps.d.ts
  sdks/official/fraiseql-typescript/tsup.config.ts
  sdks/official/fraiseql-typescript/vitest.config.ts
Labels: ci

feat(e2e): add E2E pipeline test infrastructure and CI workflow
  .github/workflows/e2e.yml
  Makefile
  tests/e2e/fraiseql.toml
  tests/e2e/schema/types.py
  tests/e2e/test_stage5_queries.py
Labels: tests, ci

feat(php-sdk): add HTTP client, exception hierarchy, and AI integrations
  sdks/official/fraiseql-java/pom.xml
  sdks/official/fraiseql-java/src/main/java/io/fraiseql/AuthenticationException.java
  sdks/official/fraiseql-java/src/main/java/io/fraiseql/FraiseQLClient.java
  sdks/official/fraiseql-java/src/main/java/io/fraiseql/FraiseQLException.java
  sdks/official/fraiseql-java/src/main/java/io/fraiseql/GraphQLError.java
  sdks/official/fraiseql-java/src/main/java/io/fraiseql/GraphQLException.java
  sdks/official/fraiseql-java/src/main/java/io/fraiseql/NetworkException.java
  sdks/official/fraiseql-java/src/main/java/io/fraiseql/RateLimitException.java
  sdks/official/fraiseql-java/src/main/java/io/fraiseql/RetryConfig.java
  sdks/official/fraiseql-java/src/main/java/io/fraiseql/TimeoutException.java
  sdks/official/fraiseql-java/src/test/java/io/fraiseql/FraiseQLClientTest.java
Labels: none

feat(php-sdk): add HTTP client, exception hierarchy, and AI integrations
  sdks/official/fraiseql-php/.github/workflows/php-sdk.yml
  sdks/official/fraiseql-php/composer.json
  sdks/official/fraiseql-php/phpstan.neon
  sdks/official/fraiseql-php/src/Exceptions/AuthenticationException.php
  sdks/official/fraiseql-php/src/Exceptions/FraiseQLException.php
  sdks/official/fraiseql-php/src/Exceptions/GraphQLException.php
  sdks/official/fraiseql-php/src/Exceptions/NetworkException.php
  sdks/official/fraiseql-php/src/Exceptions/RateLimitException.php
  sdks/official/fraiseql-php/src/Exceptions/TimeoutException.php
  sdks/official/fraiseql-php/src/FraiseQLClient.php
  sdks/official/fraiseql-php/src/Integrations/OpenAI/FraiseQLTool.php
  sdks/official/fraiseql-php/src/Integrations/Prism/FraiseQLPrismTool.php
  sdks/official/fraiseql-php/src/RetryConfig.php
  sdks/official/fraiseql-php/tests/ExceptionsTest.php
  sdks/official/fraiseql-php/tests/FraiseQLClientTest.php
  sdks/official/fraiseql-php/tests/OpenAIToolTest.php
  sdks/official/fraiseql-php/tests/PrismToolTest.php
  sdks/official/fraiseql-php/tests/RetryConfigTest.php
Labels: none

feat(dart-sdk): implement full Dart/Flutter SDK with Gemini integration
  sdks/official/fraiseql-dart/analysis_options.yaml
  sdks/official/fraiseql-dart/lib/fraiseql.dart
  sdks/official/fraiseql-dart/lib/src/authoring/annotations.dart
  sdks/official/fraiseql-dart/lib/src/client.dart
  sdks/official/fraiseql-dart/lib/src/errors.dart
  sdks/official/fraiseql-dart/lib/src/integrations/gemini.dart
  sdks/official/fraiseql-dart/pubspec.yaml
  sdks/official/fraiseql-dart/test/client_test.dart
  sdks/official/fraiseql-dart/test/fraiseql_test.dart
Labels: none

feat(ruby-sdk): implement full Ruby SDK gem from scratch
  sdks/official/fraiseql-ruby/.rubocop.yml
  sdks/official/fraiseql-ruby/Gemfile
  sdks/official/fraiseql-ruby/fraiseql.gemspec
  sdks/official/fraiseql-ruby/lib/fraiseql.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/authoring/type.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/client.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/errors.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/integrations/openai.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/retry.rb
  sdks/official/fraiseql-ruby/lib/fraiseql/version.rb
  sdks/official/fraiseql-ruby/spec/authoring/type_spec.rb
  sdks/official/fraiseql-ruby/spec/client_spec.rb
  sdks/official/fraiseql-ruby/spec/errors_spec.rb
  sdks/official/fraiseql-ruby/spec/fraiseql_spec.rb
  sdks/official/fraiseql-ruby/spec/spec_helper.rb
Labels: none

feat(rust-sdk): add fraiseql-client async HTTP client with Candle ML integration
  .github/workflows/rust-sdk-client.yml
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.lock
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-client/src/client.rs
  sdks/official/fraiseql-rust/fraiseql-client/src/error.rs
  sdks/official/fraiseql-rust/fraiseql-client/src/integrations/candle.rs
  sdks/official/fraiseql-rust/fraiseql-client/src/integrations/mod.rs
  sdks/official/fraiseql-rust/fraiseql-client/src/lib.rs
  sdks/official/fraiseql-rust/fraiseql-client/src/retry.rs
  sdks/official/fraiseql-rust/fraiseql-client/src/types.rs
Labels: ci

feat(sdks): add HTTP client + exception hierarchy to C# and F# SDKs
  sdks/official/fraiseql-csharp/src/FraiseQL/Client/Exceptions.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Client/FraiseQLClient.cs
  sdks/official/fraiseql-csharp/src/FraiseQL/Client/RetryOptions.cs
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/ClientTests.cs
  sdks/official/fraiseql-fsharp/src/FraiseQL/Client.fs
  sdks/official/fraiseql-fsharp/src/FraiseQL/FraiseQL.fsproj
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/ClientTests.fs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/FraiseQL.Tests.fsproj
Labels: none

refactor(api): rename arrow shadow traits to ArrowDatabaseAdapter/ArrowEventStorage
  crates/fraiseql-arrow/src/db.rs
  crates/fraiseql-arrow/src/event_storage.rs
  crates/fraiseql-arrow/src/flight_server/handlers/do_exchange.rs
  crates/fraiseql-arrow/src/flight_server/mod.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-arrow/src/metadata.rs
  crates/fraiseql-arrow/src/subscription.rs
  crates/fraiseql-server/src/arrow/database_adapter.rs
  crates/fraiseql-server/src/arrow/mod.rs
Labels: none

refactor(api): rename -able traits to idiomatic Rust noun style
  crates/fraiseql-auth/src/audit_logger.rs
  crates/fraiseql-auth/src/error_sanitizer.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/pipeline_codegen_executor_test.rs
  crates/fraiseql-core/tests/pipeline_inject_params_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_error_type_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
Labels: none

refactor(api): CacheBackendDyn and ValidationError visibility cleanup; add prelude
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/compiler/validator.rs
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/prelude.rs
  crates/fraiseql-core/src/security/errors.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-observers/src/cache/mod.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/validation.rs
Labels: none

refactor(quality): deduplicate phone/email regex patterns; missing_docs; dead_code fix
  crates/fraiseql-core/src/validation/async_validators.rs
  crates/fraiseql-core/src/validation/patterns.rs
  crates/fraiseql-core/src/validation/rich_scalars.rs
  crates/fraiseql-error/src/lib.rs
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/server/builder.rs
Labels: none

chore: apply linter-driven cleanups from ArrowDatabaseAdapter rename
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/tests/flight_e2e_test.rs
  crates/fraiseql-arrow/tests/flight_protocol_test.rs
  crates/fraiseql-arrow/tests/observer_events_test.rs
  crates/fraiseql-core/benches/cache_concurrent_bench.rs
  crates/fraiseql-core/benches/graphql_parse.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-core/tests/schema_migration_test.rs
  crates/fraiseql-observers/src/factory.rs
  crates/fraiseql-observers/src/search/http.rs
Labels: none

fix(clippy): resolve post-rename compilation errors in tests and benches
  crates/fraiseql-arrow/benches/flight_benchmarks.rs
  crates/fraiseql-arrow/tests/flight_error_handling_test.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
  crates/fraiseql-cli/tests/cli_help_tests.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-observers/src/search/http.rs
  crates/fraiseql-server/tests/integration/server_e2e_test.rs
  crates/fraiseql-server/tests/profile_query_limits_test.rs
  crates/fraiseql-server/tests/property/property_query_complexity.rs
  crates/fraiseql-server/tests/secrets_manager_integration_test.rs
  sdks/official/fraiseql-python/pyrightconfig.json
Labels: none

fix(rust-sdk): fix Candle integration error types; add Serialization/Other variants
  sdks/official/fraiseql-rust/fraiseql-client/src/error.rs
  sdks/official/fraiseql-rust/fraiseql-client/src/integrations/candle.rs
Labels: none

chore(release): bump version to 2.2.0; update CHANGELOG
  CHANGELOG.md
  Cargo.toml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-typescript/package.json
Labels: documentation

quality: sentinel tests, #[must_use], doc, and fuzz targets
  crates/fraiseql-core/fuzz/Cargo.toml
  crates/fraiseql-core/fuzz/fuzz_targets/complexity.rs
  crates/fraiseql-core/fuzz/fuzz_targets/rate_limiter.rs
  crates/fraiseql-core/src/runtime/relay.rs
  crates/fraiseql-core/src/utils/casing.rs
  crates/fraiseql-server/src/middleware/cors.rs
Labels: none

perf(cache): 64-shard striped LRU with parking_lot::Mutex
  crates/fraiseql-core/src/cache/result.rs
Labels: none

docs(runbook): add federation circuit breaker runbook (#14)
  docs/runbooks/03-high-latency.md
  docs/runbooks/12-incident-response.md
  docs/runbooks/14-federation-circuit-breaker.md
  docs/runbooks/README.md
Labels: documentation

test(mcp): add MCP end-to-end integration tests
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/mcp/tools.rs
  crates/fraiseql-server/tests/mcp_e2e_test.rs
Labels: none

docs(contributing): add benchmark contributor guide
  docs/contributing/benchmarks.md
Labels: documentation

chore(release): bump version 2.2.0 → 2.1.0 for first public release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  DEPRECATIONS.md
  sdks/official/fraiseql-csharp/src/FraiseQL/FraiseQL.csproj
  sdks/official/fraiseql-dart/pubspec.yaml
  sdks/official/fraiseql-elixir/CHANGELOG.md
  sdks/official/fraiseql-elixir/mix.exs
  sdks/official/fraiseql-fsharp/src/FraiseQL/FraiseQL.fsproj
  sdks/official/fraiseql-go/README.md
  sdks/official/fraiseql-java/CHANGELOG.md
  sdks/official/fraiseql-java/pom.xml
  sdks/official/fraiseql-php/composer.json
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-ruby/lib/fraiseql/version.rb
  sdks/official/fraiseql-rust/fraiseql-client/Cargo.toml
  sdks/official/fraiseql-typescript/package.json
Labels: documentation

quality: JWKS validation, mutation-test sentinels, and hardening
  .clippy.toml
  crates/fraiseql-arrow/src/db.rs
  crates/fraiseql-arrow/src/event_storage.rs
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/audit_logger.rs
  crates/fraiseql-auth/src/error_sanitizer.rs
  crates/fraiseql-auth/src/jwks.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/oauth/client.rs
  crates/fraiseql-auth/src/oauth/tests.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/security/auth_middleware/middleware.rs
  crates/fraiseql-core/src/security/oidc/jwks.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-core/src/validation/rate_limiting.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-server/src/main.rs
  deny.toml
Labels: none

quality(tests): lint fixes and formatting across test suites
  crates/fraiseql-arrow/benches/flight_benchmarks.rs
  crates/fraiseql-arrow/tests/flight_e2e_test.rs
  crates/fraiseql-arrow/tests/flight_error_handling_test.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
  crates/fraiseql-cli/tests/extract_integration_test.rs
  crates/fraiseql-cli/tests/federation_cli_compose.rs
  crates/fraiseql-cli/tests/federation_cross_subgraph_validation.rs
  crates/fraiseql-cli/tests/federation_cross_subgraph_validation_advanced.rs
  crates/fraiseql-core/benches/saga_performance_bench.rs
  crates/fraiseql-core/tests/common/testcontainer.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation/docker_health.rs
  crates/fraiseql-core/tests/federation_composition_validation.rs
  crates/fraiseql-core/tests/integration/multi_database_integration.rs
  crates/fraiseql-core/tests/sql_snapshots.rs
  crates/fraiseql-observers/tests/integration_test.rs
  crates/fraiseql-server/tests/common/database_fixture.rs
  crates/fraiseql-server/tests/common/mod.rs
  crates/fraiseql-server/tests/connection_pooling_validation_test.rs
  crates/fraiseql-server/tests/documentation_examples_test.rs
  crates/fraiseql-server/tests/federation_saga_validation_test.rs
  crates/fraiseql-server/tests/graphql_http_layer_test.rs
  crates/fraiseql-server/tests/metrics_monitoring_validation_test.rs
  crates/fraiseql-server/tests/security/field_auth_edge_cases_test.rs
  crates/fraiseql-server/tests/security_audit_test.rs
  crates/fraiseql-webhooks/tests/twilio_replay_test.rs
  crates/fraiseql-wire/benches/integration_benchmarks.rs
  crates/fraiseql-wire/examples/metrics_collection.rs
  crates/fraiseql-wire/examples/typed_streaming.rs
  crates/fraiseql-wire/tests/common/mod.rs
  crates/fraiseql-wire/tests/testcontainer_auth.rs
  crates/fraiseql-wire/tests/typed_streaming.rs
Labels: none

chore: update fuzz Cargo.lock
  crates/fraiseql-core/fuzz/Cargo.lock
Labels: none

feat(server): implement graceful schema hot-reload via ArcSwap
  Cargo.lock
  Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/metrics_server.rs
  crates/fraiseql-server/src/routes/api/admin.rs
  crates/fraiseql-server/src/routes/api/federation.rs
  crates/fraiseql-server/src/routes/api/query.rs
  crates/fraiseql-server/src/routes/api/schema.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/health.rs
  crates/fraiseql-server/src/routes/introspection.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing.rs
  docs/runbooks/13-schema-hot-reload-failure.md
Labels: documentation

docs: expand database compatibility with per-operation dialect feature matrix
  docs/architecture/overview.md
  docs/database-compatibility.md
Labels: documentation

docs: add CHANGELOG.md for v2.1.0 initial release
  CHANGELOG.md
Labels: documentation

quality(ci): add nightly k6 load test workflow and Makefile targets
  .github/workflows/load-test.yml
  Makefile
  load-tests/README.md
Labels: ci

docs: close documentation gaps for fail-open, audit integrity, and release-prep
  crates/fraiseql-federation/src/http_resolver.rs
  deploy/deployment-security-guide.md
  docs/runbooks/12-incident-response.md
  examples/saas/fraiseql.toml
  releasing.md
Labels: documentation

feat(server): enable OpenTelemetry tracing by default with runtime-gated OTLP export
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/config/tracing.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/server_config/defaults.rs
  crates/fraiseql-server/src/server_config/mod.rs
  deploy/deployment-security-guide.md
  deploy/kubernetes/helm/fraiseql/templates/deployment.yaml
  deploy/kubernetes/helm/fraiseql/values.yaml
  docs/runbooks/15-tracing-otlp.md
  docs/runbooks/README.md
  examples/saas/fraiseql.toml
Labels: documentation

quality(helm): add startup probe, CI lint workflow, and Makefile target
  .github/workflows/helm.yml
  Makefile
  deploy/kubernetes/helm/fraiseql/Chart.yaml
  deploy/kubernetes/helm/fraiseql/templates/deployment.yaml
  deploy/kubernetes/helm/fraiseql/values.yaml
Labels: ci

quality(ci): expand SDK parity checks to Go and Java
  .github/workflows/sdk-parity.yml
  sdks/official/fraiseql-go/fraiseql/generate_parity_schema_test.go
Labels: ci

quality(ci): add parity schema generators for all 10 SDKs
  .github/workflows/sdk-parity.yml
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/GenerateParitySchemaTest.cs
  sdks/official/fraiseql-dart/test/generate_parity_schema_test.dart
  sdks/official/fraiseql-elixir/test/generate_parity_schema_test.exs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/FraiseQL.Tests.fsproj
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/GenerateParitySchemaTests.fs
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/GenerateParitySchema.java
  sdks/official/fraiseql-ruby/spec/generate_parity_schema_spec.rb
Labels: ci

feat(audit): add pluggable AuditExporter trait with syslog and webhook sinks
  Cargo.lock
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/security/audit.rs
  crates/fraiseql-core/src/security/audit_export_syslog.rs
  crates/fraiseql-core/src/security/audit_export_webhook.rs
  crates/fraiseql-core/src/security/mod.rs
  deploy/deployment-security-guide.md
Labels: none

fix(mutations): set session variables before Rust executor path
  src/fraiseql/mutations/mutation_decorator.py
  tests/mocks/shared.py
  tests/unit/test_session_variables.py
Labels: tests, mutations

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
