Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(examples): #940 — re-plumb saga-basic onto PostgreSQL
  .dagger/main.go
  Makefile
  examples/federation/saga-basic/README.md
  examples/federation/saga-basic/docker-compose.yml
  examples/federation/saga-basic/fixtures/mysql-init.sql
  examples/federation/saga-basic/fixtures/postgres-init.sql
  examples/federation/saga-basic/inventory-service/Dockerfile
  examples/federation/saga-basic/inventory-service/server.py
  examples/federation/saga-basic/orders-service/Dockerfile
  examples/federation/saga-basic/orders-service/server.py
  examples/federation/saga-basic/test-saga.sh
  examples/federation/saga-basic/users-service/server.py
  tools/check-examples-postgres-only.sh
Labels: none

fix(examples): #940 — re-plumb saga-basic onto PostgreSQL
  .dagger/main.go
  Makefile
  examples/federation/saga-basic/README.md
  examples/federation/saga-basic/docker-compose.yml
  examples/federation/saga-basic/fixtures/mysql-init.sql
  examples/federation/saga-basic/fixtures/postgres-init.sql
  examples/federation/saga-basic/inventory-service/Dockerfile
  examples/federation/saga-basic/inventory-service/server.py
  examples/federation/saga-basic/orders-service/Dockerfile
  examples/federation/saga-basic/orders-service/server.py
  examples/federation/saga-basic/test-saga.sh
  examples/federation/saga-basic/users-service/server.py
  tools/check-examples-postgres-only.sh
Labels: none

refactor(core): #881 — delete the dead WindowFunctionPlanner, port its coverage
  CHANGELOG.md
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
  crates/fraiseql-core/src/compiler/window_functions/mod.rs
  crates/fraiseql-core/src/compiler/window_functions/planner.rs
  crates/fraiseql-core/src/compiler/window_functions/tests.rs
  crates/fraiseql-core/src/runtime/window.rs
  crates/fraiseql-core/tests/e2e_window_functions.rs
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__filtered__postgres.snap
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__multiple_windows__postgres.snap
  crates/fraiseql-core/tests/snapshots/window_function_snapshots__row_number__postgres.snap
  crates/fraiseql-core/tests/window_function_snapshots.rs
  tests/snapshot-pairs.md
Labels: documentation, tests

fix(db): #888 — surface PostgreSQL's own message, not `db error`
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/postgres/adapter/integration_tests.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/query_stats.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/postgres/introspector.rs
  crates/fraiseql-db/src/postgres/mod.rs
Labels: none

fix(server): #920 — move the formula guard above both spreadsheet writers
  .dagger/feature-combos.go
  crates/fraiseql-server/src/routes/rest/streaming/csv/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/csv/tests.rs
  crates/fraiseql-server/src/routes/rest/streaming/mod.rs
  crates/fraiseql-server/src/routes/rest/streaming/tests.rs
  crates/fraiseql-server/src/routes/rest/streaming/xlsx/mod.rs
Labels: none

fix(compiler): #890 — name the other surface's spelling for `return_array`
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/intermediate/drift_guard.rs
  crates/fraiseql-cli/src/schema/intermediate/drift_guard/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/mod.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/sdk_security_seam_test.rs
  crates/fraiseql-cli/tests/seam_query_shape_test.rs
Labels: documentation

fix(compiler): #923 — resolve enum/interface/union references to their own kind
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/directives.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/src/schema/converter/subscriptions.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/tests/seam_type_kind_test.rs
Labels: documentation

fix(cli): #892 — give `[tenancy]` a producer in the TOML-schema workflow
  CHANGELOG.md
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/config_coverage_manifest_test.rs
  crates/fraiseql-cli/tests/tenancy_gate_seam_test.rs
Labels: documentation

fix(cli): #897 — give field-level RBAC a producer in the TOML-schema workflow
  CHANGELOG.md
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/config_coverage_manifest_test.rs
  crates/fraiseql-cli/tests/field_rbac_seam_test.rs
Labels: documentation

fix(sdk): #926 — remove `sql_source_dispatch` from Go, Java and Dart
  .dagger/main.go
  CHANGELOG.md
  Makefile
  sdks/official/fraiseql-dart/README.md
  sdks/official/fraiseql-dart/lib/src/authoring/annotations.dart
  sdks/official/fraiseql-dart/test/dispatch_test.dart
  sdks/official/fraiseql-go/README.md
  sdks/official/fraiseql-go/fraiseql/decorators.go
  sdks/official/fraiseql-go/fraiseql/dispatch_test.go
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-java/README.md
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/DispatchTest.java
  tools/check-sdk-dead-surface.sh
Labels: documentation

chore(ci): stop pre-commit rewriting `uv.lock`
  .pre-commit-config.yaml
Labels: config

fix(compiler): #956 — refuse `aggregate_queries`, and remove its one producer
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/tests/compiled_schema_seam_test.rs
  crates/fraiseql-cli/tests/seam_coverage_manifest_test.rs
  sdks/official/fraiseql-go/examples/analytics/main.go
  sdks/official/fraiseql-go/examples/complete/main.go
  sdks/official/fraiseql-go/fraiseql/analytics.go
  sdks/official/fraiseql-go/fraiseql/decorators.go
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-go/fraiseql/schema.go
  tools/check-sdk-dead-surface.sh
Labels: documentation

test(sdk): #927 — pin `computed` as authoring-only in Python and F#
  CHANGELOG.md
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaExporterTests.fs
  sdks/official/fraiseql-python/tests/test_decorators.py
  sdks/official/fraiseql-python/uv.lock
Labels: documentation, tests

chore(cli): drop two orphaned comment blocks in `merge_values`
  crates/fraiseql-cli/src/schema/merger.rs
Labels: none

test(sdk): #927 — pin `computed` as authoring-only in Python and F#
  CHANGELOG.md
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/SchemaExporterTests.fs
  sdks/official/fraiseql-python/tests/test_decorators.py
  sdks/official/fraiseql-python/uv.lock
Labels: documentation, tests

fix(compiler): #890 — name the other surface's spelling for `return_array`
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/intermediate/drift_guard.rs
  crates/fraiseql-cli/src/schema/intermediate/drift_guard/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/mod.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/sdk_security_seam_test.rs
  crates/fraiseql-cli/tests/seam_query_shape_test.rs
Labels: documentation

chore(ci): stop pre-commit rewriting `uv.lock`
  .pre-commit-config.yaml
Labels: config

chore(cli): drop two orphaned comment blocks in `merge_values`
  crates/fraiseql-cli/src/schema/merger.rs
Labels: none

fix(sdk): #926 — remove `sql_source_dispatch` from Go, Java and Dart
  .dagger/main.go
  CHANGELOG.md
  Makefile
  sdks/official/fraiseql-dart/README.md
  sdks/official/fraiseql-dart/lib/src/authoring/annotations.dart
  sdks/official/fraiseql-dart/test/dispatch_test.dart
  sdks/official/fraiseql-go/README.md
  sdks/official/fraiseql-go/fraiseql/decorators.go
  sdks/official/fraiseql-go/fraiseql/dispatch_test.go
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-java/README.md
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  sdks/official/fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/DispatchTest.java
  tools/check-sdk-dead-surface.sh
Labels: documentation

fix(compiler): #923 — resolve enum/interface/union references to their own kind
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/directives.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/src/schema/converter/subscriptions.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/converter/types.rs
  crates/fraiseql-cli/tests/seam_type_kind_test.rs
Labels: documentation

fix(cli): #897 — give field-level RBAC a producer in the TOML-schema workflow
  CHANGELOG.md
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/config_coverage_manifest_test.rs
  crates/fraiseql-cli/tests/field_rbac_seam_test.rs
Labels: documentation

fix(cli): #892 — give `[tenancy]` a producer in the TOML-schema workflow
  CHANGELOG.md
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/config_coverage_manifest_test.rs
  crates/fraiseql-cli/tests/tenancy_gate_seam_test.rs
Labels: documentation

fix(compiler): #956 — refuse `aggregate_queries`, and remove its one producer
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/tests/compiled_schema_seam_test.rs
  crates/fraiseql-cli/tests/seam_coverage_manifest_test.rs
  sdks/official/fraiseql-go/examples/analytics/main.go
  sdks/official/fraiseql-go/examples/complete/main.go
  sdks/official/fraiseql-go/fraiseql/analytics.go
  sdks/official/fraiseql-go/fraiseql/decorators.go
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-go/fraiseql/schema.go
  tools/check-sdk-dead-surface.sh
Labels: documentation

chore(ci): mirror `rust:1.94` to ghcr ahead of the MSRV raise
  .github/workflows/mirror-base-images.yml
Labels: ci

deps: #933 — raise MSRV to 1.94 and bump wasmtime to 46.0.2
  .cargo/audit.toml
  .dagger/feature-combos.go
  .dagger/main.go
  .github/workflows/dagger-feature-matrix.yml
  .github/workflows/dagger-test.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.lock
  crates/fraiseql-auth/fuzz/Cargo.lock
  crates/fraiseql-core/fuzz/Cargo.lock
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.lock
  crates/fraiseql-functions/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.lock
  crates/fraiseql-server/fuzz/Cargo.lock
  crates/fraiseql-storage/Cargo.toml
  crates/fraiseql-storage/src/routes/uploads.rs
  deny.toml
  docs/architecture/overview.md
  docs/guides/getting-started.md
  docs/operations/compiled-schema-lifecycle.md
  rust-toolchain.toml
Labels: documentation, ci

fix(deps): #933 — move the wasmtime `skip-tree` pin to 46.0.2
  deny.toml
Labels: none

fix(deps): #933 — move the wasmtime `skip-tree` pin to 46.0.2
  deny.toml
Labels: none

chore(ci): mirror `rust:1.94` to ghcr ahead of the MSRV raise
  .github/workflows/mirror-base-images.yml
Labels: ci

deps: #933 — raise MSRV to 1.94 and bump wasmtime to 46.0.2
  .cargo/audit.toml
  .dagger/feature-combos.go
  .dagger/main.go
  .github/workflows/dagger-feature-matrix.yml
  .github/workflows/dagger-test.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/fuzz/Cargo.lock
  crates/fraiseql-auth/fuzz/Cargo.lock
  crates/fraiseql-core/fuzz/Cargo.lock
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/fuzz/Cargo.lock
  crates/fraiseql-functions/Cargo.toml
  crates/fraiseql-secrets/fuzz/Cargo.lock
  crates/fraiseql-server/fuzz/Cargo.lock
  crates/fraiseql-storage/Cargo.toml
  crates/fraiseql-storage/src/routes/uploads.rs
  deny.toml
  docs/architecture/overview.md
  docs/guides/getting-started.md
  docs/operations/compiled-schema-lifecycle.md
  rust-toolchain.toml
Labels: documentation, ci

fix(sdk-python): #924 — resolve deferred annotations in query/mutation signatures
  .github/workflows/python-sdk.yml
  CHANGELOG.md
  sdks/official/fraiseql-python/conformance/export.py
  sdks/official/fraiseql-python/conformance/fixture_full.py
  sdks/official/fraiseql-python/src/fraiseql/types.py
  sdks/official/fraiseql-python/tests/test_pep563_signatures.py
Labels: documentation, tests, ci

fix(sdk): #952 — one parity gate, and the PHP builder→exporter metadata drop
  .github/workflows/sdk-parity.yml
  CHANGELOG.md
  Makefile
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/GenerateParitySchemaTest.cs
  sdks/official/fraiseql-dart/test/generate_parity_schema_test.dart
  sdks/official/fraiseql-elixir/test/generate_parity_schema_test.exs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/FraiseQL.Tests.fsproj
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/GenerateParitySchemaTests.fs
  sdks/official/fraiseql-php/src/SchemaRegistry.php
  sdks/official/fraiseql-php/src/StaticAPI.php
  sdks/official/fraiseql-php/src/TypeBuilder.php
  sdks/official/fraiseql-php/tests/FieldCompletenessTest.php
  sdks/official/fraiseql-php/tests/GenerateParitySchema.php
  sdks/official/fraiseql-php/tests/StaticAPITest.php
  sdks/official/fraiseql-php/tests/TypeBuilderExportTest.php
  sdks/official/tests/compare_schemas.py
  sdks/official/tests/run_parity.sh
Labels: documentation, ci

fix(sdk): #925 — every shipped example runs, and every schema it emits compiles
  CHANGELOG.md
  sdks/official/conformance/check_examples.sh
  sdks/official/fraiseql-php/examples/BasicSchema.php
  sdks/official/fraiseql-php/examples/EcommerceSchema.php
  sdks/official/fraiseql-typescript/examples/analytics_schema.d.ts
  sdks/official/fraiseql-typescript/examples/analytics_schema.d.ts.map
  sdks/official/fraiseql-typescript/examples/analytics_schema.js
  sdks/official/fraiseql-typescript/examples/analytics_schema.ts
  sdks/official/fraiseql-typescript/examples/basic_schema.d.ts
  sdks/official/fraiseql-typescript/examples/basic_schema.d.ts.map
  sdks/official/fraiseql-typescript/examples/basic_schema.js
  sdks/official/fraiseql-typescript/examples/basic_schema.ts
  sdks/official/fraiseql-typescript/examples/comprehensive-example.ts
  sdks/official/fraiseql-typescript/examples/ddl_generation_example.ts
  sdks/official/fraiseql-typescript/examples/ecommerce_with_observers.ts
  sdks/official/fraiseql-typescript/examples/enums-example.ts
  sdks/official/fraiseql-typescript/examples/field-metadata.ts
  sdks/official/fraiseql-typescript/examples/scheduled_source.ts
  sdks/official/fraiseql-typescript/examples/subscriptions.ts
  sdks/official/fraiseql-typescript/examples/types-advanced.ts
  sdks/official/fraiseql-typescript/examples/unions-interfaces-example.ts
  sdks/official/fraiseql-typescript/src/__tests__/decorator-protocol.test.ts
  sdks/official/fraiseql-typescript/src/__tests__/schema-validation.test.ts
  sdks/official/fraiseql-typescript/src/decorator-name.ts
  sdks/official/fraiseql-typescript/src/observers.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/src/schema.ts
  sdks/official/fraiseql-typescript/src/sources.ts
  sdks/official/fraiseql-typescript/tests/field-metadata.test.ts
  sdks/official/fraiseql-typescript/tests/field-scope.test.ts
  sdks/official/fraiseql-typescript/tests/parity-with-python.test.ts
Labels: documentation

fix(sdk): #952 — Java and Ruby parity generators were hand-written too
  .github/workflows/sdk-parity.yml
  CHANGELOG.md
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/GenerateParitySchema.java
  sdks/official/fraiseql-ruby/test/generate_parity_schema.rb
  sdks/official/tests/run_parity.sh
Labels: documentation, ci

docs(sdk-typescript): #925 — the README documented five APIs that do not exist
  sdks/official/fraiseql-typescript/README.md
Labels: none

fix(sdk): #952 — one parity gate, and the PHP builder→exporter metadata drop
  .github/workflows/sdk-parity.yml
  CHANGELOG.md
  Makefile
  sdks/official/fraiseql-csharp/tests/FraiseQL.Tests/GenerateParitySchemaTest.cs
  sdks/official/fraiseql-dart/test/generate_parity_schema_test.dart
  sdks/official/fraiseql-elixir/test/generate_parity_schema_test.exs
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/FraiseQL.Tests.fsproj
  sdks/official/fraiseql-fsharp/tests/FraiseQL.Tests/GenerateParitySchemaTests.fs
  sdks/official/fraiseql-php/src/SchemaRegistry.php
  sdks/official/fraiseql-php/src/StaticAPI.php
  sdks/official/fraiseql-php/src/TypeBuilder.php
  sdks/official/fraiseql-php/tests/FieldCompletenessTest.php
  sdks/official/fraiseql-php/tests/GenerateParitySchema.php
  sdks/official/fraiseql-php/tests/StaticAPITest.php
  sdks/official/fraiseql-php/tests/TypeBuilderExportTest.php
  sdks/official/tests/compare_schemas.py
  sdks/official/tests/run_parity.sh
Labels: documentation, ci

fix(sdk): #952 — Java and Ruby parity generators were hand-written too
  .github/workflows/sdk-parity.yml
  CHANGELOG.md
  sdks/official/fraiseql-java/src/test/java/com/fraiseql/core/GenerateParitySchema.java
  sdks/official/fraiseql-ruby/test/generate_parity_schema.rb
  sdks/official/tests/run_parity.sh
Labels: documentation, ci

fix(sdk-python): #924 — resolve deferred annotations in query/mutation signatures
  .github/workflows/python-sdk.yml
  CHANGELOG.md
  sdks/official/fraiseql-python/conformance/export.py
  sdks/official/fraiseql-python/conformance/fixture_full.py
  sdks/official/fraiseql-python/src/fraiseql/types.py
  sdks/official/fraiseql-python/tests/test_pep563_signatures.py
Labels: documentation, tests, ci

fix(sdk): #925 — every shipped example runs, and every schema it emits compiles
  CHANGELOG.md
  sdks/official/conformance/check_examples.sh
  sdks/official/fraiseql-php/examples/BasicSchema.php
  sdks/official/fraiseql-php/examples/EcommerceSchema.php
  sdks/official/fraiseql-typescript/examples/analytics_schema.d.ts
  sdks/official/fraiseql-typescript/examples/analytics_schema.d.ts.map
  sdks/official/fraiseql-typescript/examples/analytics_schema.js
  sdks/official/fraiseql-typescript/examples/analytics_schema.ts
  sdks/official/fraiseql-typescript/examples/basic_schema.d.ts
  sdks/official/fraiseql-typescript/examples/basic_schema.d.ts.map
  sdks/official/fraiseql-typescript/examples/basic_schema.js
  sdks/official/fraiseql-typescript/examples/basic_schema.ts
  sdks/official/fraiseql-typescript/examples/comprehensive-example.ts
  sdks/official/fraiseql-typescript/examples/ddl_generation_example.ts
  sdks/official/fraiseql-typescript/examples/ecommerce_with_observers.ts
  sdks/official/fraiseql-typescript/examples/enums-example.ts
  sdks/official/fraiseql-typescript/examples/field-metadata.ts
  sdks/official/fraiseql-typescript/examples/scheduled_source.ts
  sdks/official/fraiseql-typescript/examples/subscriptions.ts
  sdks/official/fraiseql-typescript/examples/types-advanced.ts
  sdks/official/fraiseql-typescript/examples/unions-interfaces-example.ts
  sdks/official/fraiseql-typescript/src/__tests__/decorator-protocol.test.ts
  sdks/official/fraiseql-typescript/src/__tests__/schema-validation.test.ts
  sdks/official/fraiseql-typescript/src/decorator-name.ts
  sdks/official/fraiseql-typescript/src/observers.ts
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/src/schema.ts
  sdks/official/fraiseql-typescript/src/sources.ts
  sdks/official/fraiseql-typescript/tests/field-metadata.test.ts
  sdks/official/fraiseql-typescript/tests/field-scope.test.ts
  sdks/official/fraiseql-typescript/tests/parity-with-python.test.ts
Labels: documentation

docs(sdk-typescript): #925 — the README documented five APIs that do not exist
  sdks/official/fraiseql-typescript/README.md
Labels: none

fix(auth): #950 — mount MFA confirm, and sweep the expired MFA/OTP rows
  CHANGELOG.md
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/otp/mod.rs
  crates/fraiseql-auth/src/otp/postgres.rs
  crates/fraiseql-auth/src/totp_mfa/mod.rs
  crates/fraiseql-auth/src/totp_mfa/postgres.rs
  crates/fraiseql-auth/tests/postgres_expiry_sweep.rs
  crates/fraiseql-server/src/auth_local.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/routing/auth.rs
  crates/fraiseql-server/tests/local_auth_e2e_pg.rs
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
