Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(ci): add test marker audit script for CI/CD optimization
  .github/workflows/quality-gate-optimized.yml
  scripts/ci-cd/audit_test_markers.py
Labels: ci

feat(ci): add test collection benchmark script
  scripts/ci-cd/benchmark_test_collection.py
Labels: none

feat(scripts): add fix_test_markers.py to add missing pytest markers to test files
  scripts/ci-cd/fix_test_markers.py
Labels: none

feat(ci): add caching and performance regression detection (Phase 7)
  .github/workflows/quality-gate-optimized.yml
Labels: ci

feat(ci): replace quality-gate with optimized workflow (Phase 8)
  .github/workflows/quality-gate-legacy.yml
  .github/workflows/quality-gate.yml
Labels: ci

feat(ci): add CI metrics workflow for performance tracking (Phase 9)
  .github/workflows/ci-metrics.yml
Labels: ci

fix(reports): apply end-of-file formatting fixes
  reports/test_evaluation/coverage_summary.txt
  reports/test_evaluation/line_counts.txt
  reports/test_evaluation/low_coverage_modules.txt
  reports/test_evaluation/marker_statistics.txt
  reports/test_evaluation/performance_profile.txt
  reports/test_evaluation/quality_review_batch1.md
Labels: none

test(core): add comprehensive unit tests for core modules [Phase 1]
  tests/unit/core/test_nested_field_resolver.py
  tests/unit/cqrs/test_pagination.py
  tests/unit/cqrs/test_repository.py
  tests/unit/execution/test_mode_selector.py
Labels: tests

test(auth,caching): add coverage for security and caching modules [Phase 2]
  tests/unit/auth/test_auth0.py
  tests/unit/auth/test_token_revocation.py
  tests/unit/caching/test_cache_key.py
  tests/unit/caching/test_result_cache.py
Labels: tests

refactor(tests): replace star imports and add fixture docs [P2]
  tests/conftest.py
Labels: tests

test(quality): improve test isolation - move mocked tests to unit [Phase 5.1]
  tests/unit/caching/__init__.py
  tests/unit/caching/test_turbo_router.py
  tests/unit/graphql/__init__.py
  tests/unit/graphql/test_graphql_error_serialization.py
Labels: tests

test(quality): add comprehensive edge case tests [Phase 5.2]
  tests/integration/test_introspection/test_postgres_introspector_integration.py
  tests/routing/test_entity_routing_system.py
  tests/unit/types/test_error_json_serialization.py
Labels: tests

test(quality): add error path tests for introspection [Phase 5.3]
  tests/integration/test_introspection/test_comment_descriptions_integration.py
Labels: tests

fix(test): register missing regression pytest marker
  pytest.ini
Labels: none

fix(test): rename Test* helper classes to avoid pytest collection warnings [Phase 2]
  Cargo.lock
  Cargo.toml
  fraiseql_rs/Cargo.lock
  reports/test_evaluation/coverage_gap_analysis.md
  reports/test_evaluation/fixture_quality_review.md
  reports/test_evaluation/performance_profile.txt
  reports/test_evaluation/quality_scorecard.md
  src/fraiseql/__init__.py
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/core/rust_transformer.py
  src/fraiseql/fastapi/app.py
  src/fraiseql/mutations/rust_executor.py
  tests/integration/rust/test_camel_case.py
  tests/integration/rust/test_json_transform.py
  tests/integration/test_schema_initialization.py
  tests/regression/test_conflict_auto_population_fixes.py
  tests/regression/test_issue_114_single_record_list.py
  tests/system/cli/test_integration.py
  tests/test_integration_where_field.py
  tests/test_nested_array_registry.py
  tests/unit/core/registry/test_schema_builder.py
  tests/unit/core/test_rust_pipeline.py
  tests/unit/core/test_rust_transformer.py
  tests/unit/mutations/test_populate_conflict_fields.py
  tests/unit/mutations/test_rust_mutation_binding.py
Labels: tests, core, mutations

fix(test): remove deprecated pytest marks from fixture functions
  tests/unit/core/type_system/test_date_registration.py
  tests/unit/core/type_system/test_json_type_support.py
  tests/unit/core/type_system/test_network_scalars_graphql_integration.py
Labels: tests

fix(tests): resolve RuntimeWarning in CSRF tests by using MagicMock instead of AsyncMock
  tests/integration/auth/test_csrf_protection.py
Labels: tests

fix(test): add asyncio marker to TestAutoGenerationIntegration class
  tests/integration/core/test_auto_generation_integration.py
Labels: tests

fix(test): register missing pytest marks examples and blog_simple
  pytest.ini
Labels: none

fix(test): remove deprecated @pytest.mark.unit from fixtures
  tests/integration/graphql/schema/test_default_schema.py
  tests/integration/performance/test_dataloader_field_decorator.py
Labels: tests

fix(test): rename fraiseql type classes to avoid pytest test class detection
  tests/integration/graphql/schema/test_default_schema_integration.py
  tests/integration/test_vector_e2e.py
  tests/regression/test_v0717_graphql_validation_bypass_regression.py
Labels: tests

fix(test): add @pytest.mark.asyncio to async test function
  tests/integration/core/test_auto_generation_integration.py
Labels: tests

fix(tests): resolve async test failure and pytest warnings
  src/fraiseql/enterprise/rbac/models.py
  tests/core/test_field_type_propagation.py
  tests/integration/auth/test_json_passthrough_config_fix.py
  tests/integration/auth/test_security_headers.py
  tests/integration/core/test_empty_string_validation_integration.py
  tests/integration/database/repository/test_jsonb_rust_deserialization.py
Labels: tests

fix(test): resolve async fixture issue in database integration tests
  tests/integration/database/repository/test_db_integration_simple.py
Labels: tests

fix(test): fix async fixture decorator in fulltext filter tests
  tests/integration/database/repository/test_fulltext_filter.py
Labels: tests

fix(test): fix async fixture definition in hybrid table filtering test
  tests/integration/database/repository/test_hybrid_table_filtering_generic.py
Labels: tests

fix(test): correct async fixture decorators to use pytest_asyncio.fixture
  tests/integration/database/repository/test_hybrid_table_nested_object_filtering.py
  tests/regression/issue_124/test_whereinput_nested_filter_hybrid_tables.py
  tests/regression/test_issue_110_rust_mutation_object_return.py
  tests/regression/where_clause/test_industrial_where_clause_generation.py
Labels: tests

fix(test): correct async fixture decorators in JSONB filter tests
  tests/integration/database/repository/test_jsonb_filter.py
Labels: tests

fix(types): add type annotations for db_pool and fixture parameters
  tests/integration/database/repository/test_jsonb_filter.py
Labels: tests

fix(test): resolve async fixture issue in nested logical operators test
  tests/integration/database/repository/test_nested_object_filter_logical_operators.py
Labels: tests

fix(test): suppress deprecated pkg_resources warning in tests
  pytest.ini
Labels: none

test: fix async fixtures and add asyncio markers to repository tests
  tests/integration/database/repository/test_repository_comprehensive.py
  tests/integration/database/repository/test_repository_where_integration.py
Labels: tests

fix(test): resolve asyncio and type annotation issues in integration tests
  src/fraiseql/cqrs/repository.pyi
  tests/integration/database/repository/test_string_filter_regex.py
  tests/integration/database/sql/test_graphql_where_repository_fix.py
Labels: tests

fix(test): move setup_test_data fixture to module level for proper discovery
  tests/integration/database/repository/test_nested_object_filter_integration.py
Labels: tests

fix(tests): resolve ruff linting errors in test files
  ruff_fixes.txt
  tests/config/test_apq_backend_config.py
  tests/core/test_field_type_propagation.py
  tests/core/test_jsonb_network_casting_fix.py
  tests/core/test_production_fix_validation.py
  tests/core/test_special_types_tier1_core.py
Labels: tests

fix(test): fix SQL injection test fixture to properly create users table
  tests/integration/database/sql/test_sql_injection_real_db.py
Labels: tests

fix(test): resolve SQL injection test table visibility issue
  tests/integration/database/sql/test_sql_injection_real_db.py
Labels: tests

fix(test): remove pytest.ini to enable asyncio support
  pyproject.toml
  pytest.ini
  tests/core/test_all_special_types_fix.py
  tests/core/test_field_type_propagation.py
  tests/core/test_jsonb_network_casting_fix.py
  tests/core/test_production_fix_validation.py
  tests/core/test_special_types_tier1_core.py
  tests/fixtures/cascade/__init__.py
  tests/fixtures/common/test_query_complexity_extended.py
  tests/fixtures/database/database_conftest.py
  tests/fixtures/database/setup.py
  tests/grafana/test_dashboard_structure.py
  tests/integration/auth/test_csrf_protection.py
  tests/integration/database/repository/test_array_filter.py
  tests/integration/database/repository/test_dict_where_mixed_filters_bug.py
  tests/integration/database/repository/test_hybrid_table_filtering_generic.py
  tests/integration/database/repository/test_hybrid_table_nested_object_filtering.py
  tests/integration/database/repository/test_jsonb_rust_deserialization.py
  tests/integration/database/repository/test_nested_object_filter_edge_cases.py
  tests/integration/database/repository/test_repository_where_integration.py
  tests/integration/database/sql/test_jsonb_network_filtering_bug.py
  tests/integration/database/sql/test_logical_where_database_integration.py
  tests/integration/enterprise/audit/test_audit_bridge.py
  tests/integration/enterprise/audit/test_audit_schema.py
  tests/integration/enterprise/audit/test_event_logger.py
  tests/integration/enterprise/audit/test_unified_audit.py
  tests/integration/enterprise/rbac/test_permission_resolution.py
  tests/integration/enterprise/rbac/test_rbac_schema.py
  tests/integration/enterprise/rbac/test_role_hierarchy.py
  tests/integration/monitoring/test_error_log_partitioning.py
  tests/integration/monitoring/test_error_notifications.py
  tests/integration/test_apq_context_propagation.py
  tests/integration/test_schema_initialization.py
  tests/integration/test_vector_e2e.py
  tests/unit/core/test_rust_pipeline.py
  tests/unit/core/test_rust_transformer.py
Labels: tests, config, dependencies

refactor(test): use explicit asyncio decorators instead of auto mode
  pyproject.toml
  tests/grafana/test_import_script.py
  tests/grafana/test_sql_queries.py
  tests/integration/auth/test_auth_enforcement.py
  tests/integration/auth/test_field_auth_complex.py
  tests/integration/database/sql/test_where_clause_bug.py
Labels: tests, config, dependencies

fix(test): add missing type annotations in auth test
  tests/integration/auth/test_field_auth_complex.py
Labels: tests

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
