Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

test(database): Phase 4 Cycle 3 - Database Backends Compatibility Testing
  crates/fraiseql-core/tests/cross_database_test.rs
Labels: none

test(wire): Phase 4 Cycle 4 - Wire Protocol Robustness Testing
  crates/fraiseql-wire/tests/protocol_robustness_test.rs
Labels: none

refactor(deps): Update critical dependencies and fix clippy warnings
  .phases/PHASE_5_CYCLE_2_AUDIT.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-core/src/db/fraiseql_wire_adapter.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-observers/tests/integration_test.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/tests/security_audit_test.rs
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql-wire/tests/protocol_robustness_test.rs
Labels: none

feat(observability): Implement distributed tracing and structured logging
  .phases/PHASE_5_CYCLE_3_OBSERVABILITY.md
  crates/fraiseql-server/src/observability/context.rs
  crates/fraiseql-server/src/observability/logging.rs
  crates/fraiseql-server/src/observability/metrics.rs
  crates/fraiseql-server/src/observability/mod.rs
  crates/fraiseql-server/src/observability/tracing.rs
  crates/fraiseql-server/tests/observability_integration_test.rs
  crates/fraiseql-server/tests/observability_test.rs
  crates/fraiseql-server/tests/security_audit_test.rs
Labels: none

feat(operational): Implement health checks, metrics, and graceful shutdown
  .phases/PHASE_5_CYCLE_4_OPERATIONAL_TOOLS.md
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/operational/config.rs
  crates/fraiseql-server/src/operational/health.rs
  crates/fraiseql-server/src/operational/metrics.rs
  crates/fraiseql-server/src/operational/mod.rs
  crates/fraiseql-server/src/operational/shutdown.rs
  crates/fraiseql-server/tests/operational_tools_test.rs
Labels: none

docs(phase5-cycle5): Add Phase 5 production hardening documentation
  .phases/PHASE_5_CYCLE_5_DOCUMENTATION.md
  RELEASE_NOTES.md
  docs/OBSERVABILITY.md
  docs/OPERATIONS_GUIDE.md
Labels: documentation

docs(phase5-cycle5): Add comprehensive operational guides
  docs/HEALTH_CHECKS_GUIDE.md
  docs/METRICS_REFERENCE.md
Labels: documentation

docs(phase5-cycle5): Complete cycle 5 documentation & release prep
  .phases/PHASE_5_CYCLE_5_DOCUMENTATION.md
Labels: none

refactor(phase6-cycle1): Remove development archaeology
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-core/src/arrow_executor.rs
  crates/fraiseql-core/src/federation/types.rs
  crates/fraiseql-observers/src/checkpoint/postgres.rs
  crates/fraiseql-observers/src/config.rs
  crates/fraiseql-observers/src/listener/mod.rs
Labels: none

docs(phase6): Complete cycles 1-2 of finalization
  .phases/PHASE_6_FINALIZATION_COMPLETE.md
Labels: none

security(phase6-cycle3): Implement HIGH priority security hardening
  crates/fraiseql-server/src/auth/error.rs
  crates/fraiseql-server/src/auth/handlers.rs
  crates/fraiseql-server/src/auth/jwt.rs
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/security_tests.rs
Labels: none

docs(phase6-cycle4): Polish documentation for production release
  README.md
  docs/FAQ.md
  docs/README.md
  docs/architecture/ADVANCED_FEATURES_ARCHITECTURE.md
  docs/architecture/analytics/window-functions.md
  docs/endpoint-runtime/06-PHASE-6-OBSERVERS.md
  docs/endpoint-runtime/09-PHASE-9-INTERCEPTORS.md
  docs/endpoint-runtime/PHASE-5-DECISION-APPROVED.md
Labels: documentation

docs: Add Phase 6 Cycle 3 security review completion report
  .phases/PHASE_6_CYCLE_3_SECURITY_REVIEW.md
Labels: none

docs: Add Phase 6 Cycle 4 documentation polish completion report
  .phases/PHASE_6_CYCLE_4_DOCUMENTATION_POLISH.md
Labels: none

refactor: Apply code formatting fixes (cargo fmt)
  crates/fraiseql-arrow/tests/flight_e2e_test.rs
  crates/fraiseql-arrow/tests/flight_error_handling_test.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
  crates/fraiseql-core/tests/cross_database_test.rs
  crates/fraiseql-observers/src/checkpoint/postgres.rs
  crates/fraiseql-server/src/auth/jwt.rs
  crates/fraiseql-server/src/auth/security_tests.rs
  crates/fraiseql-server/src/observability/context.rs
  crates/fraiseql-server/src/observability/logging.rs
  crates/fraiseql-server/src/observability/metrics.rs
  crates/fraiseql-server/src/observability/mod.rs
  crates/fraiseql-server/src/observability/tracing.rs
  crates/fraiseql-server/src/operational/config.rs
  crates/fraiseql-server/src/operational/health.rs
  crates/fraiseql-server/src/operational/metrics.rs
  crates/fraiseql-server/src/operational/mod.rs
  crates/fraiseql-server/src/operational/shutdown.rs
  crates/fraiseql-server/tests/observability_integration_test.rs
  crates/fraiseql-server/tests/observability_test.rs
  crates/fraiseql-server/tests/operational_tools_test.rs
  crates/fraiseql-server/tests/security_audit_test.rs
  crates/fraiseql-wire/tests/protocol_robustness_test.rs
Labels: none

docs: Add Phase 6 Cycle 5 final verification completion report
  .phases/PHASE_6_CYCLE_5_FINAL_VERIFICATION.md
Labels: none

docs: Update phase tracking - Phase 6 complete, ready for release
  .phases/README.md
Labels: none

docs: Add comprehensive Phase 6 finalization completion summary
  .phases/PHASE_6_FINALIZATION_COMPLETE_SUMMARY.md
Labels: none

docs: Add Phase 7 plan - Enterprise Security & Features
  .phases/phase-07-enterprise-security.md
Labels: none

feat(phase7-cycle1): Implement audit logging for secret access
  crates/fraiseql-server/src/auth/audit_logger.rs
  crates/fraiseql-server/src/auth/audit_logging_tests.rs
  crates/fraiseql-server/src/auth/handlers.rs
  crates/fraiseql-server/src/auth/jwt.rs
  crates/fraiseql-server/src/auth/mod.rs
Labels: none

feat(phase7-cycle2): Implement error message sanitization
  crates/fraiseql-server/src/auth/error_sanitization_tests.rs
  crates/fraiseql-server/src/auth/error_sanitizer.rs
  crates/fraiseql-server/src/auth/mod.rs
Labels: none

feat(phase7-cycle3): Implement constant-time token comparison
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/auth/constant_time.rs
  crates/fraiseql-server/src/auth/constant_time_refactor_notes.md
  crates/fraiseql-server/src/auth/constant_time_tests.rs
  crates/fraiseql-server/src/auth/mod.rs
Labels: none

feat(phase7-cycle4): Implement PKCE state encryption
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/state_encryption.rs
  crates/fraiseql-server/src/auth/state_encryption_refactor_notes.md
  crates/fraiseql-server/src/auth/state_encryption_tests.rs
Labels: none

feat(phase7-cycle5): Implement rate limiting for brute-force protection
  crates/fraiseql-server/src/auth/error.rs
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/rate_limiting.rs
  crates/fraiseql-server/src/auth/rate_limiting_tests.rs
Labels: none

security(phase7-cycle6): Complete integration testing and enterprise security hardening documentation
  Cargo.lock
  crates/fraiseql-server/src/auth/PHASE7_SECURITY_HARDENING.md
  crates/fraiseql-server/src/auth/audit_logger.rs
  crates/fraiseql-server/src/auth/constant_time_tests.rs
  crates/fraiseql-server/src/auth/integration_security_tests.rs
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/rate_limiting_tests.rs
  crates/fraiseql-server/src/auth/state_encryption_tests.rs
Labels: none

feat(security): Implement TOML-based security configuration
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/security.rs
  crates/fraiseql-cli/src/main.rs
  docs/SECURITY_CONFIGURATION.md
  fraiseql.toml.example
Labels: documentation

docs: Add TOML security configuration summary
  TOML_SECURITY_SUMMARY.md
Labels: documentation

feat(cli): Integrate TOML security configuration into compile command
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/security_config_integration.rs
Labels: none

feat(security): Implement runtime security configuration initialization
  Cargo.lock
  crates/fraiseql-server/src/auth/mod.rs
  crates/fraiseql-server/src/auth/security_config.rs
  crates/fraiseql-server/src/auth/security_init.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/tests/security_config_runtime_test.rs
  docs/SECURITY_RUNTIME_INITIALIZATION.md
Labels: documentation

docs: Update documentation to reflect Phase 7 completion
  .claude/CLAUDE.md
  .phases/PHASE_7_SECURITY_COMPLETE.md
  .phases/README.md
Labels: none

docs(priority2): Add quick-start guide, enhance enterprise docs, archive endpoint-runtime
  DEPLOYMENT.md
  README.md
  docs/ENDPOINT_RUNTIME_ARCHIVE.md
  docs/endpoint-runtime-archive-20260201.tar.gz
  docs/endpoint-runtime/00-OVERVIEW.md
  docs/endpoint-runtime/01-PHASE-1-FOUNDATION.md
  docs/endpoint-runtime/02-PHASE-2-CORE-RUNTIME.md
  docs/endpoint-runtime/03-PHASE-3-WEBHOOKS.md
  docs/endpoint-runtime/04-PHASE-4-FILES.md
  docs/endpoint-runtime/04B-PHASE-4B-RESTRUCTURING.md
  docs/endpoint-runtime/06-10-PHASES-6-10-OVERVIEW.md
  docs/endpoint-runtime/06-PHASE-6-OBSERVERS.md
  docs/endpoint-runtime/07-PHASE-7-NOTIFICATIONS.md
  docs/endpoint-runtime/08-PHASE-8-ADVANCED.md
  docs/endpoint-runtime/09-PHASE-9-INTERCEPTORS.md
  docs/endpoint-runtime/10-PHASE-10-POLISH.md
  docs/endpoint-runtime/ARCHITECTURE_UPDATE.md
  docs/endpoint-runtime/IMPLEMENTATION-SUMMARY.md
  docs/endpoint-runtime/PHASE-5-DECISION-APPROVED.md
  docs/endpoint-runtime/PHASE-5-IMPLEMENTATION-PLAN.md
  docs/endpoint-runtime/PHASE-5-IMPLEMENTATION-STATUS.md
  docs/endpoint-runtime/PHASE-5-PERFORMANCE-ANALYSIS.md
  docs/endpoint-runtime/QUICK-REFERENCE.md
  docs/endpoint-runtime/README.md
  docs/enterprise/README.md
Labels: documentation

ci(docs): Add automated documentation link validation
  .github/workflows/docs-validation.yml
  tools/DOCS_VALIDATION.md
  tools/validate-docs-links.py
  tools/validate-docs-links.sh
Labels: ci

fix(docs): Fix broken links in root documentation files
  docs/FAQ.md
  docs/GETTING_STARTED.md
  docs/KNOWN_LIMITATIONS.md
  docs/README.md
Labels: documentation

fix(docs): Remove broken arrow-flight integration links
  docs/integrations/arrow-flight/README.md
Labels: documentation

fix(architecture): Fix broken directory links
  docs/architecture/README.md
Labels: documentation

fix(guides): Fix broken observer documentation links
  docs/guides/observers.md
Labels: documentation

fix(operations): Fix broken observability documentation links
  docs/operations/observability.md
Labels: documentation

fix(integrations): Fix broken arrow-flight getting-started links
  docs/integrations/arrow-flight/getting-started.md
Labels: documentation

fix(patterns,archive): Fix saga and migration documentation links
  docs/.archive/future-phases/MIGRATION_PHASE_15_TO_16.md
  docs/patterns/saga/patterns.md
  docs/patterns/saga/quick-start.md
Labels: documentation

fix(federation): Fix broken federation documentation links
  docs/integrations/federation/api-reference.md
  docs/integrations/federation/guide.md
  docs/integrations/federation/sagas.md
Labels: documentation
