Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

test(subscriptions): add Phase 2.3 load testing suite
  fraiseql_rs/src/subscriptions/integration_tests.rs
Labels: none

fix(subscriptions): cleanup Phase 2.3 load test compilation issues
  fraiseql_rs/src/subscriptions/integration_tests.rs
Labels: none

feat(subscriptions): add Phase 2.4 stress testing suite [MAJOR]
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/mod.rs
  fraiseql_rs/src/subscriptions/stress_utils.rs
Labels: none

fix(subscriptions): add missing Instant import for stress tests
  fraiseql_rs/src/subscriptions/integration_tests.rs
Labels: none

feat(subscriptions): add Phase 2.5 chaos engineering suite [MAJOR]
  fraiseql_rs/src/subscriptions/chaos_utils.rs
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/mod.rs
Labels: none

feat(subscriptions): add auth middleware with JWT validation [CRITICAL]
  fraiseql_rs/PHASE_3_SECURITY_AUDIT_PLAN.md
  fraiseql_rs/src/subscriptions/auth_middleware.rs
  fraiseql_rs/src/subscriptions/mod.rs
Labels: none

docs(subscriptions): revise Phase 3 security audit plan for federation + JSONB architecture
  fraiseql_rs/PHASE_3_SECURITY_AUDIT_PLAN.md
Labels: none

feat(subscriptions): add row-level filtering for user_id and tenant_id [CRITICAL]
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/mod.rs
  fraiseql_rs/src/subscriptions/row_filter.rs
Labels: none

feat(subscriptions): add federation context isolation for subgraph boundaries [CRITICAL]
  fraiseql_rs/src/subscriptions/federation_context.rs
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/mod.rs
Labels: none

feat(subscriptions): add multi-tenant enforcement for event routing and filtering [CRITICAL]
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/mod.rs
  fraiseql_rs/src/subscriptions/tenant_context.rs
Labels: none

feat(subscriptions): add subscription scope verification for variable validation [MEDIUM]
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/mod.rs
  fraiseql_rs/src/subscriptions/scope_validator.rs
Labels: none

feat(subscriptions): integrate RBAC with subscriptions for field-level access control [MEDIUM]
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/mod.rs
  fraiseql_rs/src/subscriptions/rbac_integration.rs
Labels: none

feat(subscriptions): integrate all security modules into unified context [FINALIZATION]
  fraiseql_rs/src/subscriptions/auth_middleware.rs
  fraiseql_rs/src/subscriptions/executor.rs
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/mod.rs
  fraiseql_rs/src/subscriptions/row_filter.rs
  fraiseql_rs/src/subscriptions/security_integration.rs
  fraiseql_rs/src/subscriptions/stress_utils.rs
Labels: none

feat(subscriptions/phase3): complete response transformation with resolver integration [COMPLETE]
  fraiseql_rs/src/subscriptions/executor.rs
  fraiseql_rs/src/subscriptions/py_bindings.rs
  tests/test_subscriptions_phase3.py
Labels: tests

feat(subscriptions/phase3): implement error handling and recovery [COMPLETE]
  fraiseql_rs/src/subscriptions/executor.rs
  tests/test_subscriptions_phase3.py
Labels: tests

feat(subscriptions/phase3): complete integration testing [PHASE 3 COMPLETE]
  tests/test_subscriptions_phase3.py
Labels: tests

fix(subscriptions/rust): resolve all 24 Clippy warnings
  fraiseql_rs/src/subscriptions/auth_middleware.rs
  fraiseql_rs/src/subscriptions/connection_pool.rs
  fraiseql_rs/src/subscriptions/consumer_group.rs
  fraiseql_rs/src/subscriptions/event_bus/mod.rs
  fraiseql_rs/src/subscriptions/event_bus/postgresql.rs
  fraiseql_rs/src/subscriptions/event_bus/redis.rs
  fraiseql_rs/src/subscriptions/executor.rs
  fraiseql_rs/src/subscriptions/metrics.rs
  fraiseql_rs/src/subscriptions/py_bindings.rs
  fraiseql_rs/src/subscriptions/rate_limiter.rs
Labels: none

feat(subscriptions/docs): complete Phase 5 documentation and examples
  docs/subscriptions/01-getting-started.md
  docs/subscriptions/02-api-reference.md
  docs/subscriptions/03-architecture.md
  docs/subscriptions/04-deployment.md
  docs/subscriptions/05-troubleshooting.md
  docs/subscriptions/INDEX.md
  examples/subscriptions/custom_adapter.py
  examples/subscriptions/fastapi_example.py
  examples/subscriptions/realworld_chat.py
  examples/subscriptions/starlette_example.py
Labels: documentation

chore(subscriptions/planning): add Phase 5 documentation plan
  .phases/graphQL-subscriptions-integration/PHASE-5-DOCUMENTATION-PLAN.md
Labels: none

feat(subscriptions/py): add Python integration layer
  src/fraiseql/integrations/fastapi_subscriptions.py
  src/fraiseql/integrations/starlette_subscriptions.py
  src/fraiseql/subscriptions/http_adapter.py
  src/fraiseql/subscriptions/manager.py
  src/fraiseql/subscriptions/protocol.py
  tests/test_subscriptions_phase4.py
Labels: tests

chore(phase-16): add comprehensive native Rust HTTP server implementation plan
  .phases/PHASE-16-INTEGRATION-SUMMARY.md
  .phases/phase-16-quick-reference.md
  .phases/phase-16-rust-http-server.md
Labels: none

chore(http/phase-16): Add Axum dependencies and core HTTP module structure
  Cargo.toml
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/mod.rs
  fraiseql_rs/src/lib.rs
Labels: none

feat(http/phase-16): Implement core Axum server with GraphQL pipeline integration
  fraiseql_rs/src/http/axum_server.rs
Labels: none

feat(http/phase-16): Add WebSocket support for GraphQL subscriptions
  Cargo.toml
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/mod.rs
  fraiseql_rs/src/http/websocket.rs
Labels: none

feat(http/phase-16): Add middleware layer with advanced compression support
  Cargo.toml
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/middleware.rs
  fraiseql_rs/src/http/mod.rs
Labels: none

fix(subscriptions/phase-16): Circuit breaker and error handling improvements
  Cargo.lock
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/subscriptions/chaos_utils.rs
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/mod.rs
  fraiseql_rs/src/subscriptions/stress_utils.rs
Labels: none

feat(http/phase-16): HTTP Security Middleware Integration (Commit 5)
  fraiseql_rs/src/http/mod.rs
  fraiseql_rs/src/http/security_middleware.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/security/mod.rs
Labels: none

refactor(http/security): fix clippy warnings and enable config module
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/middleware.rs
  fraiseql_rs/src/http/websocket.rs
  fraiseql_rs/src/security/audit.rs
  fraiseql_rs/src/security/config.rs
  fraiseql_rs/src/security/mod.rs
Labels: none

feat(http/phase-16): Authentication header extraction and JWT validation
  fraiseql_rs/src/http/auth_middleware.rs
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/mod.rs
Labels: none

refactor(redis): upgrade to 0.25 and refactor to use MultiplexedConnection
  Cargo.lock
  Cargo.toml
  fraiseql_rs/src/http/middleware.rs
  fraiseql_rs/src/http/security_middleware.rs
  fraiseql_rs/src/http/websocket.rs
  fraiseql_rs/src/security/mod.rs
  fraiseql_rs/src/subscriptions/event_bus/redis.rs
Labels: none

feat(http/phase-16): HTTP Observability Integration (Commit 7)
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/metrics.rs
  fraiseql_rs/src/http/mod.rs
  fraiseql_rs/src/http/observability_middleware.rs
Labels: none

refactor(redis): upgrade to 1.0 to eliminate future incompatibility warnings
  Cargo.lock
  Cargo.toml
  fraiseql_rs/src/subscriptions/event_bus/redis.rs
Labels: none

feat(http/phase-16): Tests & Documentation (Commit 8 - FINAL)
  docs/PHASE-16-AXUM.md
  docs/PHASE-16-QUICK-REFERENCE.md
  fraiseql_rs/src/http/mod.rs
  fraiseql_rs/src/http/tests.rs
Labels: documentation

refactor(http/quality): improve code quality and documentation in HTTP and event bus modules
  fraiseql_rs/src/http/auth_middleware.rs
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/metrics.rs
  fraiseql_rs/src/http/mod.rs
  fraiseql_rs/src/http/observability_middleware.rs
  fraiseql_rs/src/subscriptions/event_bus/redis.rs
Labels: none

feat(http/phase-16): Performance optimization and tuning (Polish & Optimization)
  docs/PHASE-16-OPTIMIZATION.md
  fraiseql_rs/src/http/benchmarks.rs
  fraiseql_rs/src/http/optimization.rs
Labels: documentation

docs: add # Errors sections to HTTP and subscription auth functions
  .phases/PHASE-16-AXUM-DECISION.md
  .phases/PHASE-16-GETTING-STARTED.md
  .phases/PHASE-16-PLAN-SUMMARY.md
  .phases/PHASE-16-README.md
  .phases/phase-16-axum-http-server.md
  .phases/phase-16-axum-quick-start.md
  fraiseql_rs/src/http/security_middleware.rs
  fraiseql_rs/src/http/tests.rs
  fraiseql_rs/src/subscriptions/auth_middleware.rs
Labels: none

docs: add # Errors sections to connection pool functions
  fraiseql_rs/src/subscriptions/connection_pool.rs
Labels: none

fix(redis): update Redis connection API from ConnectionManager to MultiplexedConnection
  fraiseql_rs/fix_clippy.py
  fraiseql_rs/src/subscriptions/event_bus/redis.rs
Labels: none

fix(clippy): apply automatic clippy fixes (644→198 warnings, -70%)
  fraiseql_rs/fix_clippy.py
  fraiseql_rs/src/http/auth_middleware.rs
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/metrics.rs
  fraiseql_rs/src/http/middleware.rs
  fraiseql_rs/src/http/observability_middleware.rs
  fraiseql_rs/src/http/optimization.rs
  fraiseql_rs/src/http/security_middleware.rs
  fraiseql_rs/src/http/websocket.rs
  fraiseql_rs/src/subscriptions/auth_middleware.rs
  fraiseql_rs/src/subscriptions/connection_pool.rs
  fraiseql_rs/src/subscriptions/consumer_group.rs
  fraiseql_rs/src/subscriptions/error_recovery.rs
  fraiseql_rs/src/subscriptions/event_bus/mod.rs
  fraiseql_rs/src/subscriptions/event_bus/postgresql.rs
  fraiseql_rs/src/subscriptions/event_bus/redis.rs
  fraiseql_rs/src/subscriptions/event_filter.rs
  fraiseql_rs/src/subscriptions/executor.rs
  fraiseql_rs/src/subscriptions/federation_context.rs
  fraiseql_rs/src/subscriptions/heartbeat.rs
  fraiseql_rs/src/subscriptions/metrics.rs
  fraiseql_rs/src/subscriptions/presets.rs
  fraiseql_rs/src/subscriptions/protocol.rs
  fraiseql_rs/src/subscriptions/py_bindings.rs
  fraiseql_rs/src/subscriptions/rate_limiter.rs
  fraiseql_rs/src/subscriptions/rbac_integration.rs
  fraiseql_rs/src/subscriptions/resource_limits.rs
  fraiseql_rs/src/subscriptions/row_filter.rs
  fraiseql_rs/src/subscriptions/scope_validator.rs
  fraiseql_rs/src/subscriptions/security_integration.rs
  fraiseql_rs/src/subscriptions/tenant_context.rs
  fraiseql_rs/src/subscriptions/websocket.rs
Labels: none

fix(clippy): apply additional automatic fixes (198→189 warnings)
  fraiseql_rs/src/http/optimization.rs
  fraiseql_rs/src/subscriptions/error_recovery.rs
  fraiseql_rs/src/subscriptions/security_integration.rs
Labels: none
