Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(fraiseql-rust): scaffold full Rust authoring SDK
  sdks/official/fraiseql-authz/Cargo.toml
  sdks/official/fraiseql-authz/src/lib.rs
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/README.md
  sdks/official/fraiseql-rust/fraiseql-rust-macros/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-rust-macros/src/lib.rs
  sdks/official/fraiseql-rust/src/authz/authorization.rs
  sdks/official/fraiseql-rust/src/authz/field.rs
  sdks/official/fraiseql-rust/src/authz/mod.rs
  sdks/official/fraiseql-rust/src/authz/policies.rs
  sdks/official/fraiseql-rust/src/authz/roles.rs
  sdks/official/fraiseql-rust/src/authz/scope.rs
  sdks/official/fraiseql-rust/src/export.rs
  sdks/official/fraiseql-rust/src/lib.rs
  sdks/official/fraiseql-rust/src/registry.rs
  sdks/official/fraiseql-rust/src/scalars.rs
  sdks/official/fraiseql-rust/tests/integration_test.rs
  sdks/official/fraiseql-rust/tests/scope_extraction_test.rs
Labels: none

chore(release): bump to 2.0.0-rc.3
  Cargo.lock
  Cargo.toml
  sdks/official/fraiseql-java/pom.xml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-rust-macros/Cargo.toml
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: none

fix(cache): eliminate dual-mutex contention under concurrency
  Cargo.lock
  Cargo.toml
  crates/fraiseql-core/src/cache/result.rs
  sdks/official/fraiseql-java/pom.xml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-rust-macros/Cargo.toml
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: none

fix(cache): eliminate clone + SHA-256 overhead when cache is disabled
  Cargo.lock
  Cargo.toml
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/result.rs
  sdks/official/fraiseql-java/pom.xml
  sdks/official/fraiseql-python/pyproject.toml
  sdks/official/fraiseql-python/src/fraiseql/__init__.py
  sdks/official/fraiseql-rust/Cargo.toml
  sdks/official/fraiseql-rust/fraiseql-rust-macros/Cargo.toml
  sdks/official/fraiseql-typescript/package.json
  sdks/official/fraiseql-typescript/src/index.ts
Labels: none

chore(release): bump to 2.0.0-rc.6
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  crates/fraiseql-server/src/operational/shutdown.rs
Labels: ci

chore(release): bump to 2.0.0-rc.7
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/Cargo.toml
Labels: none

fix(arrow): break circular dev-dependency on fraiseql-server
  Cargo.lock
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/benches/arrow_vs_json_serialization.rs
  crates/fraiseql-arrow/benches/flight_benchmarks.rs
  crates/fraiseql-arrow/tests/flight_e2e_test.rs
  crates/fraiseql-arrow/tests/flight_error_handling_test.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
Labels: none

fix(arrow): apply rustfmt and remove unused import
  crates/fraiseql-arrow/benches/flight_benchmarks.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
Labels: none

fix(ci): resolve pre-existing CI failures
  .github/workflows/ci.yml
  .github/workflows/security-compliance.yml
  crates/fraiseql-auth/src/providers/ory.rs
  crates/fraiseql-core/src/arrow_executor.rs
  tests/sql/mysql/init.sql
  tests/sql/postgres/init-analytics.sql
  tests/sql/postgres/init.sql
Labels: tests, ci

fix(ci): replace Python license-scan with cargo-deny, clean up secret scanner
  .github/workflows/security-compliance.yml
  deny.toml
Labels: ci

fix(rc-prep): CI infrastructure, projection, and cache performance fixes
  Dockerfile
  crates/fraiseql-arrow/tests/flight_e2e_test.rs
  crates/fraiseql-arrow/tests/flight_error_handling_test.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/runtime/projection.rs
  crates/fraiseql-server/src/operational/shutdown.rs
Labels: none

chore(deps): bump tempfile 3.8→3.25 and uuid 1.0→1.21
  Cargo.lock
  Cargo.toml
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-cli/Cargo.toml
Labels: none

chore(release): bump version to 2.0.0-rc.8
  Cargo.lock
  Cargo.toml
Labels: none

feat(cli): add fraiseql run command
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-server/src/server.rs
Labels: none

chore(release): bump version to 2.0.0-rc.9
  Cargo.lock
  Cargo.toml
Labels: none

style: apply rustfmt across modified files
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/runtime/projection.rs
Labels: none

fix(wire): declare Unix-only platform support
  crates/fraiseql-wire/src/lib.rs
Labels: none

chore(publish): normalize crate metadata for crates.io
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-observers-macros/Cargo.toml
  crates/fraiseql-secrets/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-test-utils/Cargo.toml
  crates/fraiseql-webhooks/Cargo.toml
Labels: none

fix(release): add fraiseql-auth, fraiseql-webhooks, fraiseql-secrets to publish sequence
  .github/workflows/release.yml
Labels: ci

fix(ci): resolve six CI failures across workflows
  .github/workflows/ci.yml
  .trivyignore
  crates/fraiseql-arrow/benches/flight_benchmarks.rs
  tests/sql/postgres/init-analytics.sql
Labels: tests, ci

fix(ci): resolve Clippy, formatting, and MSRV failures
  .github/workflows/ci.yml
  crates/fraiseql-arrow/benches/flight_benchmarks.rs
  crates/fraiseql-auth/src/jwks.rs
  crates/fraiseql-server/src/resilience/backpressure.rs
  crates/fraiseql-server/src/tls.rs
  crates/fraiseql-server/tests/test_helpers.rs
Labels: ci

fix(ci): fix integration test failures for PostgreSQL, MySQL, and SQL Server jobs
  .github/workflows/ci.yml
Labels: ci

feat(install): make `cargo install fraiseql` work and add binstall support
  .github/workflows/release.yml
  Cargo.lock
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql/Cargo.toml
  crates/fraiseql/src/lib.rs
  crates/fraiseql/src/main.rs
Labels: ci

chore(release): bump version to 2.0.0-rc.10
  Cargo.lock
  Cargo.toml
Labels: none

fix(ci): use macos-13 runner for x86_64-apple-darwin binary build
  .github/workflows/release.yml
Labels: ci

fix(release): fix publish order and bump to 2.0.0-rc.11
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
Labels: ci

fix(mutations): populate scalar fields on @fraiseql.error types from mutation metadata (#294)
  fraiseql_rs/src/cache/signature.rs
  fraiseql_rs/src/db/query.rs
  fraiseql_rs/src/db/transaction.rs
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/mutation/tests/entity_field_filtering.rs
  fraiseql_rs/src/mutation/tests/integration.rs
  fraiseql_rs/src/mutation/tests/response_building.rs
  fraiseql_rs/src/mutation/tests/test_multiple_entities.rs
  fraiseql_rs/src/security/validators.rs
  fraiseql_rs/tests/common/mod.rs
  fraiseql_rs/tests/test_performance.rs
  fraiseql_rs/tests/test_zero_copy.rs
  tests/test_rust_auth.py
Labels: tests

chore(release): bump version to 1.9.20
  CHANGELOG.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

chore: update uv.lock for v1.9.20
  uv.lock
Labels: none

refactor: phase 3 - remove anyhow from fraiseql-core
  Cargo.lock
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/graphql/parser.rs
  crates/fraiseql-core/src/security/audit.rs
Labels: none

refactor: phase 4 - typed config structs for federation, security, observers
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/mod.rs
Labels: none

refactor: phase 7 - CompileOptions struct to replace too_many_arguments
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/run.rs
Labels: none

chore: phase 8 - enable clippy lints for documentation
  Cargo.toml
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-server/src/lib.rs
Labels: none

chore: phase 9 finalize - update workspace lints configuration
  Cargo.toml
Labels: none

fix(db): resolve connection pool exhaustion in nested queries (#41)
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/postgres/concurrent_tests.rs
  crates/fraiseql-core/src/db/postgres/mod.rs
Labels: none

fix(cache): optimize cache for simple queries to restore performance (#40)
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/db/postgres/mod.rs
Labels: none

ci(release): handle already-existing GitHub release on force-pushed tags
  .github/workflows/release.yml
Labels: ci

feat(cache): disable query caching by default in v2.0.0-rc.12
  crates/fraiseql-core/src/cache/config.rs
Labels: none

fix(tests): correct binary name in integration tests and update cache test fixtures
  crates/fraiseql-cli/tests/ai_agent_tests.rs
  crates/fraiseql-cli/tests/init_integration_test.rs
  crates/fraiseql-cli/tests/integration_domain_discovery.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/db/postgres/concurrent_tests.rs
Labels: none

fix(tests): resolve all test failures and clippy warnings before rc.12
  crates/fraiseql-core/src/audit/postgres_backend_tests.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-test-utils/src/assertions.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
  crates/fraiseql-test-utils/src/lib.rs
  crates/fraiseql-test-utils/src/mock_db.rs
  crates/fraiseql-test-utils/src/saga.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
