Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(webhooks): document why format! is safe in SET TRANSACTION
  crates/fraiseql-webhooks/src/transaction.rs
Labels: none

fix(observers): replace string-interpolated SQL with QueryBuilder
  crates/fraiseql-server/src/observers/repository.rs
Labels: none

test(observers): add repository integration tests with injection coverage
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/tests/observer_repository_test.rs
Labels: none

fix(observers): proper async RBAC init + testcontainer integration tests
  crates/fraiseql-server/src/observers/handlers.rs
  crates/fraiseql-server/src/observers/mod.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/tests/observer_repository_test.rs
Labels: none

chore(server): delete ghost infrastructure modules (A1, A2, A3, A14, A30, A31)
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/lifecycle/health.rs
  crates/fraiseql-server/src/lifecycle/mod.rs
  crates/fraiseql-server/src/lifecycle/shutdown.rs
  crates/fraiseql-server/src/observability/metrics.rs
  crates/fraiseql-server/src/observability/mod.rs
  crates/fraiseql-server/src/observability/tracing.rs
  crates/fraiseql-server/src/operational/config.rs
  crates/fraiseql-server/src/operational/health.rs
  crates/fraiseql-server/src/operational/metrics.rs
  crates/fraiseql-server/src/operational/mod.rs
  crates/fraiseql-server/src/operational/shutdown.rs
  crates/fraiseql-server/src/resilience/mod.rs
  crates/fraiseql-server/src/runtime_state.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/server_config.rs
  crates/fraiseql-server/tests/graceful_degradation_test.rs
  crates/fraiseql-server/tests/observability_integration_test.rs
Labels: none

fix(security,db,resources): phases 2-4 remediation (A5, A9, A18, A19, A23, A35, A36, A38-A39, A41, A45, A46)
  crates/fraiseql-arrow/src/flight_server/handlers/do_get.rs
  crates/fraiseql-arrow/src/flight_server/mod.rs
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-auth/src/oauth/pkce.rs
  crates/fraiseql-core/src/cache/config.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/federation/entity_resolver.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/path_escape.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-server/src/server/initialization.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server_config.rs
  crates/fraiseql-webhooks/src/signature/discord.rs
  crates/fraiseql-webhooks/src/signature/generic.rs
  crates/fraiseql-webhooks/src/signature/github.rs
  crates/fraiseql-webhooks/src/signature/gitlab.rs
  crates/fraiseql-webhooks/src/signature/lemonsqueezy.rs
  crates/fraiseql-webhooks/src/signature/paddle.rs
  crates/fraiseql-webhooks/src/signature/postmark.rs
  crates/fraiseql-webhooks/src/signature/registry.rs
  crates/fraiseql-webhooks/src/signature/sendgrid.rs
  crates/fraiseql-webhooks/src/signature/shopify.rs
  crates/fraiseql-webhooks/src/signature/slack.rs
  crates/fraiseql-webhooks/src/signature/stripe.rs
  crates/fraiseql-webhooks/src/signature/twilio.rs
  crates/fraiseql-webhooks/tests/sendgrid_replay_test.rs
Labels: none

fix(arch,ops,tests): phases 5-7 remediation (A6-A8, A10-A13, A15, A17, A20, A22-A29, A33-A34, A37, A40, A42-A44, A46)
  Cargo.toml
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-core/src/federation/entity_resolver.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-db/src/types/db_types.rs
  crates/fraiseql-error/Cargo.toml
  crates/fraiseql-error/src/lib.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/config/tracing.rs
  crates/fraiseql-server/src/metrics_server.rs
  crates/fraiseql-server/src/middleware/rate_limit/mod.rs
  crates/fraiseql-server/src/observability/opentelemetry.rs
  crates/fraiseql-server/src/routes/api/query.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing.rs
  crates/fraiseql-server/src/validation.rs
  crates/fraiseql-wire/src/client/query_builder.rs
  crates/fraiseql-wire/src/stream/typed_stream.rs
Labels: none

fix(tls,ci): phase 8 finalization (A16, A21, marker cleanup)
  .github/workflows/ci.yml
  crates/fraiseql-wire/src/connection/tls.rs
  sdks/official/fraiseql-rust/tests/integration_test.rs
Labels: ci

chore(server): delete ghost infrastructure modules (D1, D5, D6, D7, D14)
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/backup/backup_config.rs
  crates/fraiseql-server/src/backup/backup_manager.rs
  crates/fraiseql-server/src/backup/backup_provider.rs
  crates/fraiseql-server/src/backup/clickhouse_backup.rs
  crates/fraiseql-server/src/backup/elasticsearch_backup.rs
  crates/fraiseql-server/src/backup/mod.rs
  crates/fraiseql-server/src/backup/postgres_backup.rs
  crates/fraiseql-server/src/backup/recovery.rs
  crates/fraiseql-server/src/backup/redis_backup.rs
  crates/fraiseql-server/src/backup/storage.rs
  crates/fraiseql-server/src/files/config.rs
  crates/fraiseql-server/src/files/error.rs
  crates/fraiseql-server/src/files/handler.rs
  crates/fraiseql-server/src/files/mod.rs
  crates/fraiseql-server/src/files/processing.rs
  crates/fraiseql-server/src/files/storage/local.rs
  crates/fraiseql-server/src/files/storage/mod.rs
  crates/fraiseql-server/src/files/storage/s3.rs
  crates/fraiseql-server/src/files/testing.rs
  crates/fraiseql-server/src/files/traits.rs
  crates/fraiseql-server/src/files/validation.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/observability/context.rs
  crates/fraiseql-server/src/observability/logging.rs
  crates/fraiseql-server/src/observability/mod.rs
  crates/fraiseql-server/src/observability/opentelemetry.rs
  crates/fraiseql-server/src/secrets/mod.rs
  crates/fraiseql-server/src/secrets/schemas.rs
  crates/fraiseql-server/src/tls_listener.rs
Labels: none

chore(core): delete audit backend and validation metrics infrastructure (D4, D10)
  crates/fraiseql-core/src/audit/file_backend.rs
  crates/fraiseql-core/src/audit/file_backend_tests.rs
  crates/fraiseql-core/src/audit/mod.rs
  crates/fraiseql-core/src/audit/postgres_backend.rs
  crates/fraiseql-core/src/audit/postgres_backend_tests.rs
  crates/fraiseql-core/src/audit/syslog_backend.rs
  crates/fraiseql-core/src/audit/syslog_backend_tests.rs
  crates/fraiseql-core/src/audit/tests.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/observability/mod.rs
  crates/fraiseql-core/src/observability/validation_metrics.rs
  crates/fraiseql/src/lib.rs
Labels: none

chore: delete observers-macros crate and jsonb_optimization config (D18, D20)
  Cargo.lock
  Cargo.toml
  crates/fraiseql-observers-macros/Cargo.toml
  crates/fraiseql-observers-macros/src/lib.rs
  crates/fraiseql-observers-macros/tests/traced_macro.rs
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-server/src/config/jsonb_optimization.rs
  crates/fraiseql-server/src/config/mod.rs
Labels: none

chore(server,core): delete 5 investigation-gated ghost modules (D2, D3, D12, D15, D17)
  crates/fraiseql-core/src/arrow_executor.rs
  crates/fraiseql-core/src/lib.rs
  crates/fraiseql-core/src/types/identifiers.rs
  crates/fraiseql-core/src/types/mod.rs
  crates/fraiseql-server/benches/performance_benchmarks.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/middleware/logging.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/performance.rs
  crates/fraiseql-server/src/tracing_server.rs
  crates/fraiseql-server/tests/observability_test.rs
Labels: none

docs: add ARCHITECTURE.md — full framework map for quality scans
  ARCHITECTURE.md
Labels: documentation

docs(architecture): fix alignment in dependency graph diagram
  ARCHITECTURE.md
Labels: documentation

feat(quality): phase 2 — security proof + API stability (G4, G10)
  crates/fraiseql-core/src/runtime/subscription/types.rs
  crates/fraiseql-core/tests/security.rs
  crates/fraiseql-core/tests/security/apq_rls_isolation_test.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-error/src/core_error.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-server/src/observers/mod.rs
Labels: none

feat(test-utils): add TestSchemaBuilder and migrate 10 schema setups (G9)
  crates/fraiseql-auth/src/oauth/tests.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-core/tests/query_validation_integration_test.rs
  crates/fraiseql-server/tests/api_query_tests.rs
  crates/fraiseql-server/tests/common/test_app.rs
  crates/fraiseql-server/tests/endpoint_health_tests.rs
  crates/fraiseql-test-utils/src/lib.rs
  crates/fraiseql-test-utils/src/schema_builder.rs
Labels: none

test(db): add property-based tests for SQL identifier quoting and path escaping (G8)
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-db/tests/identifier_properties.rs
Labels: none

test(core): add mutation testing setup and targeted cache key tests (G7)
  .github/workflows/mutation.yml
  crates/fraiseql-core/tests/mutant_targeted_cache_key.rs
  mutants.toml
Labels: ci

refactor(db): unify WHERE generators with SqlDialect trait + GenericWhereGenerator (G6)
  Cargo.lock
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/property/property_sql_generation.rs
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_gt.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_gte.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_lt.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_lte.snap
  crates/fraiseql-core/tests/sql_behavioral.rs
  crates/fraiseql-core/tests/sql_snapshots.rs
  crates/fraiseql-db/src/dialect/mod.rs
  crates/fraiseql-db/src/dialect/mysql.rs
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/dialect/sqlite.rs
  crates/fraiseql-db/src/dialect/sqlserver.rs
  crates/fraiseql-db/src/dialect/trait_def.rs
  crates/fraiseql-db/src/lib.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/mysql/where_generator.rs
  crates/fraiseql-db/src/postgres/adapter/mod.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/postgres/where_generator.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlite/where_generator.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/sqlserver/where_generator.rs
  crates/fraiseql-db/src/where_generator/counter.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-db/src/where_generator/mod.rs
  crates/fraiseql-db/tests/adapter_parity_test.rs
Labels: none

test(db): add cross-dialect property tests for GenericWhereGenerator (G6 Cycle 13)
  crates/fraiseql-db/tests/dialect_properties.rs
Labels: none

fix(federation): quote SQL identifiers + real assertions in mutation builder
  crates/fraiseql-core/src/federation/mutation_query_builder.rs
Labels: none

fix(db): migrate window.rs WHERE to parameterized GenericWhereGenerator (B2+U3)
  crates/fraiseql-core/src/runtime/window.rs
  crates/fraiseql-db/src/where_sql_generator.rs
Labels: none

refactor(config): eliminate duplicate ServerConfig and FraiseQLConfig names (B4)
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-core/src/config/mod.rs
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/routes/api/types.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/graphql/tests.rs
Labels: none

fix(misc): schema stamp comments, docs update, docstring fix, OAuth fallback (B5+B6+U2+U4)
  crates/fraiseql-server/src/routes/auth.rs
  docs/architecture/overview.md
Labels: documentation

refactor(async): partial async_trait removal — non-dyn trait sites (B1)
  Cargo.lock
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/tests/validate_documents_command_tests.rs
  crates/fraiseql-core/src/cache/relay_cache.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-core/tests/mutant_targeted_cache_key.rs
  crates/fraiseql-core/tests/query_validation_integration_test.rs
  crates/fraiseql-db/src/introspector.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/relay.rs
  crates/fraiseql-db/src/postgres/introspector.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-observers/src/cached_executor.rs
  crates/fraiseql-observers/src/concurrent/mod.rs
  crates/fraiseql-observers/src/testing.rs
  crates/fraiseql-observers/src/traits.rs
  crates/fraiseql-server/tests/rate_limiting_integration_test.rs
  crates/fraiseql-webhooks/Cargo.toml
  crates/fraiseql-webhooks/src/testing.rs
  crates/fraiseql-webhooks/src/traits.rs
Labels: none

test(security): mutation testing for rls_policy — G7 complete
  crates/fraiseql-core/src/security/rls_policy.rs
  crates/fraiseql-core/tests/federation/mutation_detection.rs
  crates/fraiseql-core/tests/federation/mutation_error.rs
  crates/fraiseql-core/tests/query_optimization_validation_test.rs
  crates/fraiseql-core/tests/security/path_injection_tests.rs
  mutants.toml
Labels: none

fix(toolchain+lint): pin MSRV stable toolchain, annotate all lint suppressions
  Cargo.toml
  Makefile
  crates/fraiseql-core/src/lib.rs
  rust-toolchain.toml
Labels: none

test(secrets): add behavioral edge-case tests to encryption module
  crates/fraiseql-secrets/src/encryption/dashboard.rs
  crates/fraiseql-secrets/src/encryption/refresh_trigger.rs
  crates/fraiseql-secrets/src/encryption/rotation_api.rs
Labels: none

test(observers): add FieldChangedTo/From/Changed evaluation tests
  crates/fraiseql-observers/src/condition.rs
Labels: none

docs(structure): vendor maintenance, contributor routing, fraisier independence
  .github/CODEOWNERS
  CONTRIBUTING.md
  Makefile
  fraisier/README.md
  tools/check-vendor-security.sh
  vendor/MAINTENANCE.md
Labels: documentation

feat(improvements): implement 7-plan improvement batch
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/config/auth.rs
  crates/fraiseql-core/src/config/cache.rs
  crates/fraiseql-core/src/config/cors.rs
  crates/fraiseql-core/src/config/database.rs
  crates/fraiseql-core/src/config/mod.rs
  crates/fraiseql-core/src/config/rate_limit.rs
  crates/fraiseql-core/src/config/server.rs
  crates/fraiseql-core/src/graphql/directive_evaluator.rs
  crates/fraiseql-core/src/graphql/directive_evaluator/custom.rs
  crates/fraiseql-core/src/graphql/directive_evaluator/evaluator.rs
  crates/fraiseql-core/src/graphql/directive_evaluator/mod.rs
  crates/fraiseql-core/src/graphql/directive_evaluator/types.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/planning.rs
  crates/fraiseql-core/src/runtime/executor/relay.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/schema/dependency_graph/analysis.rs
  crates/fraiseql-core/src/schema/dependency_graph/builder.rs
  crates/fraiseql-core/src/schema/dependency_graph/graph.rs
  crates/fraiseql-core/src/schema/dependency_graph/mod.rs
  crates/fraiseql-core/src/schema/dependency_graph/types.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/config/tests.rs
  crates/fraiseql-observers/src/executor/actions.rs
  crates/fraiseql-observers/src/executor/cache.rs
  crates/fraiseql-observers/src/executor/mod.rs
  crates/fraiseql-observers/src/executor/retry.rs
  crates/fraiseql-observers/src/executor/tests.rs
  crates/fraiseql-observers/src/factory.rs
  crates/fraiseql-observers/src/metrics/registry.rs
  crates/fraiseql-observers/tests/integration_test.rs
  crates/fraiseql-server/src/federation/circuit_breaker.rs
  crates/fraiseql-server/src/routes/health.rs
  docs/architecture/overview.md
Labels: documentation

feat(security): parameterize aggregate WHERE/HAVING queries
  ROADMAP.md
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/runtime/aggregation.rs
  crates/fraiseql-core/src/runtime/executor/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/explain.rs
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_aggregate_queries.rs
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-core/tests/integration/aggregation_integration.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/pipeline_codegen_executor_test.rs
  crates/fraiseql-core/tests/pipeline_inject_params_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_error_type_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-core/tests/sql_behavioral.rs
  crates/fraiseql-db/src/fraiseql_wire_adapter.rs
  crates/fraiseql-db/src/mysql/adapter.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/sqlite/adapter.rs
  crates/fraiseql-db/src/sqlserver/adapter.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-server/src/pool/auto_tuner.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
Labels: documentation

fix(remediation): P1–P6 fresh-eyes audit campaign
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  ROADMAP.md
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/compiler/window_allowlist.rs
  crates/fraiseql-core/src/compiler/window_functions/planner.rs
  crates/fraiseql-core/src/federation/saga_executor.rs
  crates/fraiseql-core/src/federation/saga_executor/mod.rs
  crates/fraiseql-core/src/federation/saga_executor/orchestrator.rs
  crates/fraiseql-core/src/federation/saga_executor/requires.rs
  crates/fraiseql-core/src/federation/saga_executor/step.rs
  crates/fraiseql-core/src/federation/saga_executor/tests.rs
  crates/fraiseql-core/src/runtime/aggregation.rs
  crates/fraiseql-core/src/runtime/aggregation/expressions.rs
  crates/fraiseql-core/src/runtime/aggregation/mod.rs
  crates/fraiseql-core/src/runtime/aggregation/tests.rs
  crates/fraiseql-core/src/runtime/aggregation/where_clause.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-db/src/traits.rs
Labels: documentation, ci

chore(version): bump all crates from v2.1.0 to v2.0.1
  ARCHITECTURE.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  RELEASING.md
  ROADMAP.md
  crates/fraiseql-server/src/config/pool_tuning.rs
  deploy/kubernetes/helm/fraiseql/Chart.yaml
  docs/VALUE_PROPOSITION.md
  docs/architecture/overview.md
  sdks/official/fraiseql-python/pyproject.toml
Labels: documentation

fix(security): Sprint 1 — five critical audit findings
  crates/fraiseql-arrow/src/flight_server/service.rs
  crates/fraiseql-error/src/core_error.rs
  crates/fraiseql-webhooks/src/signature/sendgrid.rs
  crates/fraiseql-wire/src/auth/scram.rs
  crates/fraiseql-wire/src/client/fraise_client.rs
Labels: none

fix(security): Sprint 2 — SSRF, parser depth limit, explain auth, GET size limit
  crates/fraiseql-observers/src/condition/parser.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-server/src/routes/api/mod.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/server/routing.rs
Labels: none

fix(quality): Sprint 3 — lint filters, cache accounting, AST cache, vault cast, GitLab tests
  crates/fraiseql-cli/src/commands/lint.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-observers/src/executor/mod.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault.rs
  crates/fraiseql-webhooks/src/signature/gitlab.rs
Labels: none

fix(security): Sprint 4 — header injection, rate-limiter cap, 4xx/5xx retry, Paddle cast
  crates/fraiseql-auth/src/rate_limiting.rs
  crates/fraiseql-auth/tests/error_rate_limiter_memory.rs
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-webhooks/src/signature/paddle.rs
Labels: none

fix(security): Sprint 5 — OIDC nonce/max_age, federation SSRF, i64 precision, error cap
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/oauth/client.rs
  crates/fraiseql-auth/src/oauth/tests.rs
  crates/fraiseql-federation/src/http_resolver.rs
  crates/fraiseql-observers/src/condition/evaluator.rs
  crates/fraiseql-observers/src/executor/mod.rs
  crates/fraiseql-observers/src/executor/summary.rs
Labels: none

fix(security): Sprint 6 — SSRF, alias-bypass, error-chain, coercion-warn, dead-flag
  crates/fraiseql-arrow/src/clickhouse_sink.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/graphql/complexity.rs
  crates/fraiseql-core/src/security/errors.rs
  crates/fraiseql-observers/src/condition/evaluator.rs
Labels: none
