Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

chore: bump MSRV to 1.92 (aws-sdk requires >= 1.91.1)
  .github/workflows/ci.yml
  Cargo.toml
Labels: ci

chore: bump rust-toolchain.toml to 1.92 (matching Cargo.toml MSRV)
  rust-toolchain.toml
Labels: none

fix: resolve doc link to QueryMatch and bump unwrap allow limit to 3
  Makefile
  crates/fraiseql-core/src/runtime/executor/query.rs
Labels: none

fix: bump CI unwrap limit to 3, fix remaining doc link errors
  .github/workflows/ci.yml
  crates/fraiseql-core/src/runtime/executor/query.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
Labels: ci

fix: Docker builds, doc links, and feature-gated test files
  Cargo.lock
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/rest/idempotency/redis_store.rs
  crates/fraiseql-server/src/routes/rest/mod.rs
  crates/fraiseql-server/src/routes/rest/redis_store.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/tests/grpc_transport_e2e_test.rs
  crates/fraiseql-server/tests/rest_transport_e2e_test.rs
  crates/fraiseql-server/tests/secrets_manager_integration_test.rs
Labels: none

fix: Docker builds — bump to rust:1.92, include vendor/ for graphql-parser patch
  .dockerignore
  Dockerfile
Labels: none

fix: Docker build missing deploy/ dir, bump async_trait lint baseline to 135
  Dockerfile
  Makefile
Labels: none

fix: Docker full image uses rest feature (not rest-transport)
  .github/workflows/docker-build.yml
Labels: ci

fix(ci): resolve remaining SDK and formatting failures
  crates/fraiseql/src/lib.rs
  sdks/official/fraiseql-go/fraiseql/analytics.go
  sdks/official/fraiseql-go/fraiseql/decorators.go
  sdks/official/fraiseql-go/fraiseql/observers.go
  sdks/official/fraiseql-go/fraiseql/registry.go
  sdks/official/fraiseql-go/fraiseql/schema.go
  sdks/official/fraiseql-go/fraiseql/types_test.go
  sdks/official/fraiseql-java/pom.xml
  sdks/official/fraiseql-php/composer.json
  sdks/official/fraiseql-php/composer.lock
  sdks/planned/fraiseql-ruby/spec/fraiseql_spec.rb
Labels: none

fix: make multi-database integration tests discoverable as standalone test targets
  Cargo.lock
  crates/fraiseql-core/tests/aggregation_integration.rs
  crates/fraiseql-core/tests/cross_database_test.rs
  crates/fraiseql-core/tests/fact_table_integration.rs
  crates/fraiseql-core/tests/integration.rs
  crates/fraiseql-core/tests/multi_database_integration.rs
  crates/fraiseql-core/tests/relay_integration.rs
Labels: none

fix(ci): PHP 8.2 compat, semver violations, security audit cache, test timeouts
  .github/workflows/ci.yml
  .github/workflows/security.yml
  crates/fraiseql-auth/src/error.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/oauth/client.rs
  crates/fraiseql-auth/src/rate_limiting.rs
  sdks/official/fraiseql-php/src/MutationBuilder.php
  sdks/official/fraiseql-php/src/QueryBuilder.php
  sdks/official/fraiseql-php/src/Schema.php
  sdks/official/fraiseql-php/src/SchemaRegistry.php
  sdks/official/fraiseql-php/src/StaticAPI.php
  sdks/official/fraiseql-php/src/TypeConverter.php
Labels: ci

fix(php): resolve remaining PHPStan level 8 errors
  sdks/official/fraiseql-php/src/ArgumentBuilder.php
  sdks/official/fraiseql-php/src/Attributes/GraphQLType.php
  sdks/official/fraiseql-php/src/CacheKey.php
  sdks/official/fraiseql-php/src/JsonSchema.php
  sdks/official/fraiseql-php/src/LazyLoader.php
  sdks/official/fraiseql-php/src/PerformanceMonitor.php
Labels: none

fix(ci): clippy doc_markdown, unused_async, PHP dead code, test docs
  crates/fraiseql-auth/src/oauth/client.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-core/tests/integration.rs
  crates/fraiseql-server/tests/secrets_manager_integration_test.rs
  sdks/official/fraiseql-php/src/CacheKey.php
Labels: none

fix(ci): PHP code style, format check, security audit, nextest, SDK parity paths
  .github/workflows/ci.yml
  crates/fraiseql-server/tests/secrets_manager_integration_test.rs
  sdks/official/fraiseql-php/src/CacheKey.php
  sdks/official/fraiseql-php/src/PerformanceMonitor.php
  sdks/official/fraiseql-php/src/SchemaExporter.php
  sdks/official/fraiseql-php/src/StaticAPI.php
  sdks/official/fraiseql-php/src/SubscriptionDefinition.php
  sdks/official/fraiseql-php/src/Unset.php
Labels: ci

fix(ci): PHP tests, cargo audit file, nextest flag, Makefile PHP path
  .github/workflows/ci.yml
  Makefile
  sdks/official/fraiseql-php/src/Cache.php
  sdks/official/fraiseql-php/src/CacheKey.php
  sdks/official/fraiseql-php/tests/AdvancedFeaturesTest.php
  sdks/official/fraiseql-php/tests/IntegrationTest.php
Labels: ci

fix(ci): track vendor/graphql-parser/Cargo.lock so security audit passes
  vendor/graphql-parser/.gitignore
  vendor/graphql-parser/Cargo.lock
Labels: none

fix(ci): Cross-DB MySQL multi-statement, Windows testcontainers signal_hook
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/cross_database_test.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-wire/Cargo.toml
Labels: none

fix(ci): vendored bytes vulnerability, semver-checks lint overrides
  crates/fraiseql-auth/Cargo.toml
  vendor/graphql-parser/Cargo.lock
Labels: none

fix(ci): NATS SSRF bypass, Observers Redis/env, SQL Server password/schema
  .github/workflows/ci.yml
  crates/fraiseql-observers/src/ssrf.rs
  crates/fraiseql-observers/tests/nats_integration.rs
  tests/sql/sqlserver/init.sql
Labels: tests, ci

fix(ci): Windows wire compilation, PG numeric cast, linker OOM mitigation
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.toml
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_gt.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_gte.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_lt.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__generated_sql__generated_pg_lte.snap
  crates/fraiseql-core/tests/wire_conn_test.rs
  crates/fraiseql-core/tests/wire_direct_test.rs
  crates/fraiseql-core/tests/wire_view_query_test.rs
  crates/fraiseql-db/src/where_generator/generic.rs
Labels: ci

fix(ci): revert global mold config, use RUSTFLAGS in PostgreSQL job only
  .cargo/config.toml
  .github/workflows/ci.yml
Labels: ci

fix(ci): nightly fmt blank lines, SQL Server relay test expectation
  crates/fraiseql-core/tests/multi_database_integration.rs
  crates/fraiseql-observers/tests/nats_integration.rs
Labels: none

fix(ci): drop Windows/macOS from test matrix (45min timeout on cold cache)
  .github/workflows/ci.yml
Labels: ci

perf(ci): add sccache to all Rust compilation jobs
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/feature-flags.yml
  .github/workflows/fuzz.yml
  .github/workflows/mutation.yml
  .github/workflows/perf-baseline.yml
  .github/workflows/rust-sdk.yml
  .github/workflows/security.yml
Labels: ci

fix(ci): upgrade sccache-action v0.0.7 → v0.0.9
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/feature-flags.yml
  .github/workflows/fuzz.yml
  .github/workflows/mutation.yml
  .github/workflows/perf-baseline.yml
  .github/workflows/rust-sdk.yml
  .github/workflows/security.yml
  Cargo.lock
Labels: ci

fix(ci): disable sccache in security.yml (cargo-deny doesn't compile)
  .github/workflows/security.yml
Labels: ci

fix(ci): disable sccache in CI security audit job, add Rust toolchain
  .github/workflows/ci.yml
Labels: ci

fix(ci): drop and recreate observer change_log table to avoid type conflict
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

refactor(observers): align all observer tables to Trinity Pattern
  crates/fraiseql-observers/migrations/01_create_dlq_schema.sql
  crates/fraiseql-observers/migrations/02_create_observer_checkpoints.sql
  crates/fraiseql-observers/migrations/03_add_nats_transport.sql
  crates/fraiseql-observers/migrations/04_add_mysql_nats_transport.sql
  crates/fraiseql-observers/migrations/05_add_mssql_nats_transport.sql
  crates/fraiseql-observers/src/checkpoint/postgres.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/transport/bridge.rs
  crates/fraiseql-observers/src/transport/mssql_bridge.rs
  crates/fraiseql-observers/src/transport/mysql_bridge.rs
  crates/fraiseql-observers/tests/bridge_integration.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

fix(observers): update observer_e2e_test for Uuid entity_id parameter
  crates/fraiseql-server/tests/observer_e2e_test.rs
Labels: none

feat(cli): implement --read-only flag and retire serve stub (#146, #147)
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-core/src/runtime/executor/mutation.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server_config/mod.rs
Labels: none

fix(cli): restore compile_schema call in watch loop
  crates/fraiseql-cli/src/commands/run.rs
Labels: none

fix(cli): resolve -d flag conflict, delete serve.rs, nightly fmt
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/commands/serve.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-observers/src/transport/mssql_bridge.rs
  crates/fraiseql-server/src/server_config/mod.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

fix(observers): bypass SSRF for test webhooks, fix UUID type mismatch, update CHANGELOG
  .github/workflows/ci.yml
  CHANGELOG.md
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: documentation, ci

fix(observers): unify SSRF bypass across all webhook check sites
  .github/workflows/ci.yml
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/ssrf.rs
Labels: ci

fix(observers): bind entity_id as Uuid, not String, in log inserts
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

fix(observers): update e2e test to pass Uuid instead of &str
  crates/fraiseql-server/tests/observer_e2e_test.rs
Labels: none

fix(observers): use correct table/column names for checkpoint persistence
  crates/fraiseql-server/src/observers/runtime.rs
Labels: none

docs: fix database support matrix — relay, mutations, subscriptions
  README.md
Labels: documentation

fix(release): add sccache, enable cli+server features for binary builds
  .github/workflows/release.yml
Labels: ci

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
