Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

docs(tests): Add security guidelines for fake credentials in encryption tests
  crates/fraiseql-server/src/encryption/field_encryption_tests.rs
Labels: none

fix(security): Replace real Stripe test keys with obviously fake ones
  crates/fraiseql-server/src/encryption/field_encryption_tests.rs
Labels: none

docs: Clarify that fraiseql-python is the legacy v1 project
  README.md
Labels: documentation

docs: Update README badges to match actual workflows
  README.md
Labels: documentation

chore(cleanup): Remove development assessment and planning artifacts from root
  ACTUAL_V2_FEATURE_INVENTORY.md
  CODE_CLEANLINESS_REPORT.md
  CORRECTION_IMPLEMENTATION_AUDIT.md
  FUTURE_ISSUES_SCOPE_ANALYSIS.md
  GITHUB_ISSUES_RESOLUTION_SUMMARY.md
  HONEST_NEXT_STEPS.md
  MARKETING_CLAIMS_VS_REALITY.md
  QA-REPORT-20251217.md
  RELEASE_CLEANUP_ASSESSMENT.md
  RELEASE_NOTES.md
  RELEASE_SUMMARY_ALPHA3.md
  RICH_TYPE_FILTERS_ISSUE.md
  TODO_20260206.md
  V1_V2_IMPLEMENTATION_REALITY_CHECK.md
Labels: documentation

docs(readme): Update to v2.0.0-alpha.4 with current test counts
  README.md
Labels: documentation

docs(readme): Comprehensive improvements for clarity and usability
  README.md
Labels: documentation

docs(readme): Add proper authorship and project structure information
  README.md
Labels: documentation

docs(readme): Correct contact email to lionel.hamayon@evolution-digitale.fr
  README.md
Labels: documentation

chore(cleanup): Remove development assessment and planning artifacts from root
  ACTUAL_V2_FEATURE_INVENTORY.md
  CORRECTION_IMPLEMENTATION_AUDIT.md
  FUTURE_ISSUES_SCOPE_ANALYSIS.md
  GITHUB_ISSUES_RESOLUTION_SUMMARY.md
  HONEST_NEXT_STEPS.md
  MARKETING_CLAIMS_VS_REALITY.md
  QA-REPORT-20251217.md
  RELEASE_CLEANUP_ASSESSMENT.md
  RELEASE_NOTES.md
  RELEASE_SUMMARY_ALPHA3.md
  RICH_TYPE_FILTERS_ISSUE.md
  TODO_20260206.md
  V1_V2_IMPLEMENTATION_REALITY_CHECK.md
Labels: documentation

docs(readme): Update to v2.0.0-alpha.4 with comprehensive improvements
  README.md
Labels: documentation

docs: Align README with v1.9.16 and document v2 existence
  README.md
Labels: documentation

security: Update dependencies to fix vulnerabilities
  pyproject.toml
Labels: config, dependencies

chore(release): Bump version to 1.9.18
  README.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

chore(release): Prepare v1.9.17 release - corrected version
  README.md
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

ci: Update Python version to 3.13+ only and fix unused import
  .github/workflows/deploy-docs.yml
  .github/workflows/docs-validation.yml
  .github/workflows/fraisier-ci.yml
  .github/workflows/generate-d2-diagrams.yml
  .github/workflows/release.yml
  .github/workflows/verify-examples.yml
  crates/fraiseql-server/tests/wire_backend_feature_test.rs
Labels: ci

feat(umbrella): Add root fraiseql crate and sync to v2.0.0-alpha.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql/Cargo.toml
  crates/fraiseql/README.md
  crates/fraiseql/examples/minimal.rs
  crates/fraiseql/examples/server.rs
  crates/fraiseql/src/lib.rs
  docs/migration/FROM_INDIVIDUAL_CRATES.md
  fraiseql-python/pyproject.toml
Labels: documentation

ci(release): Add root fraiseql crate to publish workflow
  .github/workflows/release.yml
Labels: ci

docs(readme): Modernize with user-focused appeal and d2 diagrams
  README.md
  README_OLD.md
  docs/diagrams/architecture-pipeline.d2
  docs/diagrams/performance-comparison.d2
  docs/diagrams/version-matrix.d2
Labels: documentation

chore(docs): Remove archived old README
  README_OLD.md
Labels: documentation

ci(pre-commit): Add validation hooks for releases
  .pre-commit-config.yaml
Labels: config

ci(release): Add comprehensive validation safeguards
  .github/workflows/release.yml
Labels: ci

fix(ci): Remove duplicate name field in release workflow
  .github/workflows/release.yml
Labels: ci

docs(release): Add comprehensive RELEASING.md and implement Phase 1 modernization
  .github/workflows/release.yml
  RELEASING.md
Labels: documentation, ci

fix(release): Add GH_TOKEN environment variable for gh CLI authentication
  .github/workflows/release.yml
Labels: ci

ci(release): Implement Phase 2 workflow enhancements
  .github/workflows/release.yml
  RELEASING.md
Labels: documentation, ci

chore(release): Prepare v2.0.0-alpha.6
  CHANGELOG.md
  Cargo.toml
  fraiseql-python/pyproject.toml
Labels: documentation

ci(release): Fix ARM64 Linux cross-compilation toolchain
  .github/workflows/release.yml
Labels: ci

ci(release): Use cross crate for ARM64 Linux builds
  .github/workflows/release.yml
Labels: ci

fix(arrow): Set environment variable in expired token test
  crates/fraiseql-arrow/tests/flight_auth_test.rs
Labels: none

fix(toolchain): Align Rust toolchain with MSRV
  rust-toolchain.toml
Labels: none

chore(security): Add cargo-deny configuration
  deny.toml
Labels: none

fix(security): Address security advisories and document accepted risks
  Cargo.lock
  deny.toml
  docs/security/KNOWN_ADVISORIES.md
Labels: documentation

fix(deps): Use workspace versions for inter-crate dependencies
  Cargo.toml
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql/Cargo.toml
Labels: none

ci(deps): Add Dependabot configuration
  .github/dependabot.yml
Labels: none

perf(build): Enable mold linker for faster compilation
  .cargo/config.toml
  CONTRIBUTING.md
Labels: documentation

ci(security): Add automated security scanning workflow
  .github/workflows/security.yml
Labels: ci

ci(coverage): Add code coverage tracking workflow
  .github/workflows/coverage.yml
  README.md
Labels: documentation, ci

ci(review): Add CODEOWNERS for automatic review assignment
  .github/CODEOWNERS
Labels: none

chore(cleanup): Audit and document all TODOs with version targets
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/src/subscription.rs
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/filters/mod.rs
  crates/fraiseql-observers/src/factory.rs
  crates/fraiseql-server/src/testing/runtime_testing.rs
Labels: none
