Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(observers): Fix entity type matching in integration tests
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

feat(observers): Implement observer execution logging to tb_observer_log
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  crates/fraiseql-server/tests/observer_test_helpers.rs
Labels: none

feat(observers): Phase 4 - Checkpoint persistence and test fixes
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

refactor(observers): Phase 5 - Code cleanup and polish
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/executor.rs
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-server/src/observers/runtime.rs
Labels: none

feat(observers): Phase 6 - Hot Reload Implementation ✅
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
Labels: none

feat(observers): Phase 7 - Observer Authoring Layer (Python)
  fraiseql-python/ecommerce_schema.json
  fraiseql-python/examples/ecommerce_with_observers.py
  fraiseql-python/src/fraiseql/__init__.py
  fraiseql-python/src/fraiseql/observers.py
  fraiseql-python/src/fraiseql/registry.py
  fraiseql-python/src/fraiseql/schema.py
  fraiseql-python/tests/test_observer_schema_export.py
  fraiseql-python/tests/test_observers.py
Labels: tests

feat(observers): Phase 7b - Observer Authoring Layer (TypeScript)
  fraiseql-typescript/ecommerce_schema.json
  fraiseql-typescript/examples/ecommerce_with_observers.ts
  fraiseql-typescript/src/index.ts
  fraiseql-typescript/src/observers.ts
  fraiseql-typescript/src/registry.ts
  fraiseql-typescript/src/schema.ts
  fraiseql-typescript/tests/observers.test.ts
Labels: none

feat(phase-7c): Go observer authoring with builder pattern
  fraiseql-go/examples/ecommerce_schema.json
  fraiseql-go/examples/ecommerce_with_observers.go
  fraiseql-go/fraiseql/observers.go
  fraiseql-go/fraiseql/observers_test.go
  fraiseql-go/fraiseql/registry.go
  fraiseql-go/fraiseql/schema.go
Labels: none

feat(phase-7d): Java observer authoring with annotations + builder
  fraiseql-java/src/main/java/com/fraiseql/core/Observer.java
  fraiseql-java/src/main/java/com/fraiseql/core/ObserverBuilder.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  fraiseql-java/src/main/java/com/fraiseql/examples/EcommerceWithObserversSchema.java
  fraiseql-java/src/test/java/com/fraiseql/core/ObserverTest.java
Labels: none

feat(phase-7e): PHP observer authoring with attributes + builder
  fraiseql-php/examples/ecommerce_with_observers.php
  fraiseql-php/src/Attributes/Observer.php
  fraiseql-php/src/JsonSchema.php
  fraiseql-php/src/ObserverBuilder.php
  fraiseql-php/src/ObserverDefinition.php
  fraiseql-php/src/SchemaFormatter.php
  fraiseql-php/src/SchemaRegistry.php
Labels: none

feat(phase-7f): Add observer validation to fraiseql-cli compiler
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/validator.rs
Labels: none

feat(phase-7g): Add observer runtime schema loading support
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/tests.rs
Labels: none

docs(phase-7h): Add comprehensive observer system documentation
  docs/guides/README.md
  docs/guides/observers.md
Labels: documentation

feat(phase-8): Add Redis deduplication + caching wrappers for observers
  .claude/NATS_VISION_ASSESSMENT.md
  crates/fraiseql-observers/.claude/IMPLEMENTATION_PROGRESS.md
  crates/fraiseql-observers/.claude/REDIS_NATS_INTEGRATION_ARCHITECTURE.md
  crates/fraiseql-observers/src/cached_executor.rs
  crates/fraiseql-observers/src/deduped_executor.rs
  crates/fraiseql-observers/src/executor.rs
  crates/fraiseql-observers/src/lib.rs
Labels: none

feat(phase-8): Add Redis + performance configuration system
  crates/fraiseql-observers/examples/01-postgresql-only.toml
  crates/fraiseql-observers/examples/02-postgresql-redis.toml
  crates/fraiseql-observers/examples/03-nats-distributed.toml
  crates/fraiseql-observers/examples/04-multi-database-bridge.toml
  crates/fraiseql-observers/examples/README.md
  crates/fraiseql-observers/src/config.rs
Labels: none

docs: Update progress tracking - Task #3 complete (50% overall)
  crates/fraiseql-observers/.claude/IMPLEMENTATION_PROGRESS.md
Labels: none

feat(phase-8): Add executor composition factory with deployment helpers
  crates/fraiseql-observers/src/factory.rs
  crates/fraiseql-observers/src/lib.rs
Labels: none

docs(phase-8): Update ADR - Redis + NATS integration complete
  crates/fraiseql-observers/.claude/IMPLEMENTATION_PROGRESS.md
  crates/fraiseql-observers/.claude/PHASE_8_STATUS.md
  crates/fraiseql-observers/.claude/PHASE_8_STATUS_OLD.md
Labels: none

docs(phase-8): Add comprehensive deployment documentation + Docker Compose
  crates/fraiseql-observers/DEPLOYMENT.md
  crates/fraiseql-observers/docker-compose.multi-database.yml
  crates/fraiseql-observers/docker-compose.nats-distributed.yml
  crates/fraiseql-observers/docker-compose.postgres-only.yml
  crates/fraiseql-observers/docker-compose.postgres-redis.yml
Labels: none

test(phase-8): Add end-to-end integration tests + benchmarks
  crates/fraiseql-observers/.claude/IMPLEMENTATION_PROGRESS.md
  crates/fraiseql-observers/benches/observer_benchmarks.rs
  crates/fraiseql-observers/tests/README.md
  crates/fraiseql-observers/tests/integration_test.rs
Labels: none

docs: Add comprehensive FraiseQL v2 roadmap with Apache Arrow Flight integration
  .claude/FRAISEQL_V2_UNIFIED_ROADMAP.md
  crates/fraiseql-observers/.claude/PHASE_8_STATUS.md
  crates/fraiseql-observers/.claude/PHASE_9_ARROW_FLIGHT_PLAN.md
Labels: none

docs(phase-9): Add comprehensive Apache Arrow Flight implementation plans
  .phases/20260124-arrow-flight/README.md
  .phases/20260124-arrow-flight/phase-9.1-arrow-flight-foundation.md
  .phases/20260124-arrow-flight/phase-9.2-graphql-to-arrow.md
  .phases/20260124-arrow-flight/phase-9.3-observer-events-arrow.md
  .phases/20260124-arrow-flight/phase-9.4-clickhouse-integration.md
  .phases/20260124-arrow-flight/phase-9.5-elasticsearch-integration.md
  .phases/20260124-arrow-flight/phase-9.6-client-examples.md
  .phases/20260124-arrow-flight/phase-9.7-integration-testing.md
  .phases/20260124-arrow-flight/phase-9.8-documentation.md
Labels: none

docs(phase-9): Add Architecture Decision Record for executive review
  .phases/20260124-arrow-flight/ARCHITECTURE_DECISION_RECORD.md
Labels: none

docs(phase-9): Strengthen ADR based on architecture review feedback
  .phases/20260124-arrow-flight/ARCHITECTURE_DECISION_RECORD.md
Labels: none

feat(phase-9.1): Implement Arrow Flight foundation (Steps 1-6 complete)
  Cargo.toml
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/src/error.rs
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-arrow/src/schema.rs
  crates/fraiseql-arrow/src/ticket.rs
Labels: none

test(phase-9.1): Add Arrow Flight integration tests (Step 7 complete)
  crates/fraiseql-arrow/tests/integration_test.rs
Labels: none

feat(phase-9.1): Integrate Arrow Flight server with fraiseql-server (Step 8 complete)
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/server.rs
Labels: none

feat(phase-9.2): Add GraphQL → Arrow type mapping (Step 1 complete)
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-arrow/src/schema_gen.rs
Labels: none

feat(phase-9.2): Add SQL Row → Arrow RecordBatch converter (Step 2 complete)
  crates/fraiseql-arrow/src/convert.rs
  crates/fraiseql-arrow/src/lib.rs
Labels: none

feat(phase-9.2): Add Arrow executor bridge to fraiseql-core (Step 3 complete)
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/arrow_executor.rs
  crates/fraiseql-core/src/lib.rs
Labels: none

feat(phase-9.2): Update Flight server DoGet to execute GraphQL queries (Step 4 complete)
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

feat(phase-9.3): Add OptimizedView ticket type for pre-compiled Arrow views
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/src/ticket.rs
Labels: none

feat(phase-9.3): Add SchemaRegistry for pre-compiled Arrow schema metadata
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-arrow/src/metadata.rs
Labels: none

feat(phase-9.3): Integrate SchemaRegistry with Flight server for OptimizedView
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

feat(phase-9.3): Add database row to Arrow Value conversion
  crates/fraiseql-arrow/src/convert.rs
  crates/fraiseql-arrow/src/db_convert.rs
  crates/fraiseql-arrow/src/lib.rs
Labels: none

feat(arrow): Complete OptimizedView database integration with placeholder data
  crates/fraiseql-arrow/src/convert.rs
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

feat(arrow): Implement RecordBatch → FlightData IPC encoding for streaming
  crates/fraiseql-arrow/src/flight_server.rs
Labels: none

feat(arrow): Implement EntityEvent Arrow schema for observer events
  crates/fraiseql-arrow/src/event_schema.rs
  crates/fraiseql-arrow/src/lib.rs
Labels: none

feat(observers): Complete Arrow Flight bridge for event streaming + cleanup
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/arrow_bridge.rs
  crates/fraiseql-observers/src/factory.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/tests/integration_test.rs
Labels: none

feat(phase-9.3): Implement ta_* (Table Arrow) views for Arrow Flight
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/src/db.rs
  crates/fraiseql-arrow/src/event_schema.rs
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-arrow/src/metadata.rs
  crates/fraiseql-arrow/tests/ta_integration_test.rs
  docs/architecture/database/ta-table-pattern.md
  examples/sql/postgres/ta_orders.sql
  examples/sql/postgres/ta_users.sql
Labels: documentation
