Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

docs: Add detailed scope analysis for issues #258 and #225
  FUTURE_ISSUES_SCOPE_ANALYSIS.md
Labels: documentation

docs: Comprehensive v1 vs v2 implementation reality check
  V1_V2_IMPLEMENTATION_REALITY_CHECK.md
Labels: documentation

docs: Honest assessment of marketing claims vs implementation
  MARKETING_CLAIMS_VS_REALITY.md
Labels: documentation

docs: Honest roadmap and action items for v2.0.0 GA
  HONEST_NEXT_STEPS.md
Labels: documentation

CORRECTION: All three features ARE implemented - my assessment was wrong
  CORRECTION_IMPLEMENTATION_AUDIT.md
Labels: documentation

docs: Add correction notices to misleading documents
  HONEST_NEXT_STEPS.md
  MARKETING_CLAIMS_VS_REALITY.md
  V1_V2_IMPLEMENTATION_REALITY_CHECK.md
Labels: documentation

docs: Complete accurate feature inventory of v2.0.0-alpha.3
  ACTUAL_V2_FEATURE_INVENTORY.md
Labels: documentation

test(security): Add comprehensive security testing gaps from Issue #225
  crates/fraiseql-server/tests/privilege_escalation_test.rs
  crates/fraiseql-server/tests/profile_error_redaction_test.rs
  crates/fraiseql-server/tests/profile_query_limits_test.rs
  crates/fraiseql-server/tests/security_stack_integration_test.rs
  tests/integration/enterprise/rbac/test_role_hierarchy.py
Labels: tests

test(oauth): Add OIDC provider integration tests
  crates/fraiseql-server/tests/oidc_provider_integration_test.rs
Labels: none

style: Fix clippy warnings and formatting in security tests
  crates/fraiseql-server/tests/oidc_provider_integration_test.rs
  crates/fraiseql-server/tests/privilege_escalation_test.rs
  crates/fraiseql-server/tests/profile_error_redaction_test.rs
  crates/fraiseql-server/tests/profile_query_limits_test.rs
  crates/fraiseql-server/tests/security_stack_integration_test.rs
Labels: none

style: Fix all 46 remaining clippy violations across codebase
  crates/fraiseql-arrow/benches/arrow_vs_json_serialization.rs
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/tests/flight_auth_test.rs
  crates/fraiseql-server/src/auth/audit_logging_tests.rs
  crates/fraiseql-server/src/auth/oauth_tests.rs
  crates/fraiseql-server/src/auth/security_tests.rs
  crates/fraiseql-server/src/config/jsonb_optimization.rs
  crates/fraiseql-server/src/encryption/audit_logging_tests.rs
  crates/fraiseql-server/src/encryption/compliance_tests.rs
  crates/fraiseql-server/src/encryption/dashboard_tests.rs
  crates/fraiseql-server/src/encryption/database_adapter.rs
  crates/fraiseql-server/src/encryption/database_adapter_tests.rs
  crates/fraiseql-server/src/encryption/error_recovery_tests.rs
  crates/fraiseql-server/src/encryption/field_encryption_tests.rs
  crates/fraiseql-server/src/encryption/mapper_integration_tests.rs
  crates/fraiseql-server/src/encryption/performance_tests.rs
  crates/fraiseql-server/src/encryption/query_builder_integration_tests.rs
  crates/fraiseql-server/src/encryption/refresh_tests.rs
  crates/fraiseql-server/src/encryption/rotation_api_tests.rs
  crates/fraiseql-server/src/encryption/rotation_tests.rs
  crates/fraiseql-server/src/encryption/schema_detection_tests.rs
  crates/fraiseql-server/src/encryption/transaction_integration_tests.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/secrets/schema_tests.rs
  crates/fraiseql-server/tests/api_design_audit_tests.rs
  crates/fraiseql-server/tests/api_design_security_tests.rs
  crates/fraiseql-server/tests/deployment_test.rs
  crates/fraiseql-server/tests/integration_performance_validation_test.rs
  crates/fraiseql-server/tests/metrics_monitoring_validation_test.rs
Labels: none

feat(filters): Add rich type filters infrastructure and trait system
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/db/sqlite/where_generator.rs
  crates/fraiseql-core/src/db/sqlserver/where_generator.rs
  crates/fraiseql-core/src/db/where_clause.rs
  crates/fraiseql-core/src/db/where_sql_generator.rs
  crates/fraiseql-core/src/filters/mod.rs
  crates/fraiseql-core/src/filters/operators.rs
  crates/fraiseql-core/src/lib.rs
Labels: none

feat(filters): Rethought rich type filter architecture with extensible validation
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/db/sqlite/where_generator.rs
  crates/fraiseql-core/src/db/sqlserver/where_generator.rs
  crates/fraiseql-core/src/filters/default_rules.rs
  crates/fraiseql-core/src/filters/mod.rs
  crates/fraiseql-core/src/filters/validators.rs
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/where/operators/rich_type_filters.py
Labels: sql

refactor(filters): Rebuild architecture with correct v2 philosophy
  .claude/COMPILER_DESIGN.md
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/where/operators/rich_type_filters.py
Labels: sql

docs: Add key insights from architectural rethinking
  .claude/RICH_FILTERS_INSIGHTS.md
Labels: none

feat(filters): Add operator mapping for type-to-operator lookups
  crates/fraiseql-core/src/filters/mod.rs
  crates/fraiseql-core/src/filters/operator_mapping.rs
Labels: none

feat(compiler): Implement rich filter type compilation
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/rich_filters.rs
Labels: none

feat(compiler): Extract and embed SQL templates for rich filter operators
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/rich_filters.rs
  crates/fraiseql-cli/src/schema/sql_templates.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/dependency_graph.rs
  crates/fraiseql-core/src/schema/introspection.rs
Labels: none

feat(compiler): Add comprehensive SQL templates for 40+ operators
  crates/fraiseql-cli/src/schema/sql_templates.rs
Labels: none

feat(compiler): Add lookup data for geographic and locale operators
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/lookup_data.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/rich_filters.rs
  crates/fraiseql-cli/src/schema/sql_templates.rs
Labels: none

feat(compiler): Add advanced type operators for Week 5 (PostGIS, Phone, Ranges)
  crates/fraiseql-cli/src/schema/advanced_types.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/sql_templates.rs
Labels: none

test(week-6): Add comprehensive integration tests for rich filter compilation
  crates/fraiseql-cli/src/schema/advanced_types.rs
  crates/fraiseql-cli/src/schema/mod.rs
  crates/fraiseql-cli/src/schema/rich_filters.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
Labels: none

test(week-6): Add performance benchmarks for rich filter compiler
  crates/fraiseql-cli/tests/bench_rich_filters.rs
Labels: none

test(week-6): Add end-to-end schema generation tests
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
Labels: none

docs(week-6): Add comprehensive documentation for rich filters and schema compilation
  crates/fraiseql-cli/docs/RICH_FILTERS.md
  crates/fraiseql-cli/docs/SCHEMA_COMPILATION.md
Labels: none

docs(week-6): Add comprehensive testing and QA documentation
  crates/fraiseql-cli/docs/TESTING_AND_QA.md
Labels: none

refactor(week-6): Clean up code to strict clippy and formatter standards
  crates/fraiseql-cli/src/commands/dependency_graph.rs
  crates/fraiseql-cli/src/commands/validate.rs
  crates/fraiseql-cli/src/introspection.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-cli/src/output_schemas.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/lookup_data.rs
  crates/fraiseql-cli/src/schema/rich_filters.rs
  crates/fraiseql-cli/src/schema/sql_templates.rs
  crates/fraiseql-cli/tests/ai_agent_tests.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/dependency_graph_command_tests.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
Labels: none

chore(release): Prepare v2.0.0-alpha.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/tests/flight_auth_test.rs
  crates/fraiseql-cli/src/schema/rich_filters.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-core/src/audit/postgres_backend_tests.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/db/sqlite/where_generator.rs
  crates/fraiseql-core/src/db/sqlserver/where_generator.rs
  crates/fraiseql-core/src/filters/default_rules.rs
  crates/fraiseql-core/src/filters/mod.rs
  crates/fraiseql-core/src/filters/operator_mapping.rs
  crates/fraiseql-core/src/filters/operators.rs
  crates/fraiseql-core/src/filters/validators.rs
  crates/fraiseql-core/src/schema/dependency_graph.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/tests/api_design_security_tests.rs
  crates/fraiseql-server/tests/deployment_test.rs
  crates/fraiseql-server/tests/metrics_monitoring_validation_test.rs
  docs/VERSION_STATUS.md
Labels: documentation

feat(validation): Implement Phase 1 foundation for comprehensive input validation
  crates/fraiseql-core/src/error.rs
  crates/fraiseql-core/src/runtime/input_validator.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/validation/mod.rs
  crates/fraiseql-core/src/validation/rules.rs
  crates/fraiseql-core/src/validation/validators.rs
Labels: none

feat(validation): Complete Phase 1 - Add validation rules metadata to schema
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/validation/rules.rs
Labels: none

feat(validation): Add checksum and rich scalar validators (Phase 2, Cycles 1-2)
  crates/fraiseql-core/src/validation/checksum.rs
  crates/fraiseql-core/src/validation/mod.rs
  crates/fraiseql-core/src/validation/rich_scalars.rs
Labels: none

feat(validation): Add async validation framework (Phase 2, Cycle 3-5)
  crates/fraiseql-core/src/validation/async_validators.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(validation): Complete Phase 2 - Add error response formatting (Cycle 6-8)
  crates/fraiseql-core/src/validation/error_responses.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(validation): Add mutual exclusivity and conditional requirement rules
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/rich_filters.rs
  crates/fraiseql-core/src/validation/mod.rs
  crates/fraiseql-core/src/validation/mutual_exclusivity.rs
  crates/fraiseql-core/src/validation/rules.rs
Labels: none

feat(validation): Add cross-field comparison validators
  crates/fraiseql-core/src/validation/cross_field.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(validation): Add composite validation combinators
  crates/fraiseql-core/src/validation/composite.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(validation): Add input object-level validation
  crates/fraiseql-core/src/validation/input_object.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(validation): Add validation inheritance support
  crates/fraiseql-core/src/validation/inheritance.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(validation): Add date/time validators for Phase 3, Cycle 6
  crates/fraiseql-core/src/validation/date_validators.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none

feat(validation): Add ELO expression language integration for Phase 3, Cycle 7
  crates/fraiseql-core/src/validation/elo_expressions.rs
  crates/fraiseql-core/src/validation/mod.rs
Labels: none
