Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

test(db): pin the to_snake_case keys #1372 changed, and the project-registered acronym path
  CHANGELOG.md
  crates/fraiseql-db/src/utils/tests.rs
  crates/fraiseql-db/tests/runtime_acronyms_test.rs
Labels: documentation

chore(deps): fuzz lockfiles — quinn-proto 0.11.19 and postgres-protocol 0.6.12, and the Security changelog
  CHANGELOG.md
  crates/fraiseql-arrow/fuzz/Cargo.lock
  crates/fraiseql-auth/fuzz/Cargo.lock
  crates/fraiseql-core/fuzz/Cargo.lock
  crates/fraiseql-db/fuzz/Cargo.lock
  crates/fraiseql-federation/fuzz/Cargo.lock
  crates/fraiseql-secrets/fuzz/Cargo.lock
  crates/fraiseql-server/fuzz/Cargo.lock
Labels: documentation

fix(cli)!: [project] database_target is refused like [schema], and compile --database refuses a removed engine's URL up front
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/query.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/tests.rs
  crates/fraiseql-cli/src/config/toml_schema/operations.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
Labels: documentation

fix(functions): the watchdog promptness test judges the median wake gap, not a 10 ms sum
  CHANGELOG.md
  crates/fraiseql-functions/src/runtime/deno/watchdog/tests.rs
Labels: documentation

fix(db): to_snake_case recognises a registered acronym after the first camelCase word
  CHANGELOG.md
  crates/fraiseql-db/src/utils.rs
  crates/fraiseql-db/src/utils/tests.rs
Labels: documentation

fix(cli)!: database_target accepts only postgresql, and the removed backends are no longer advertised
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/operations.rs
  crates/fraiseql-cli/src/config/toml_schema/tests.rs
  fraiseql.toml.example
Labels: documentation

chore(deps): codeql-action 4.37.6 (all three pins) and markdownlint-cli v0.49.1
  .github/workflows/codeql.yml
  .github/workflows/security-compliance.yml
  .pre-commit-config.yaml
Labels: config, ci

docs(changelog): the Python SDK security bumps are development lockfile only
  CHANGELOG.md
Labels: documentation

fix(federation)!: a key the router would reject no longer compiles, loads or passes federation check
  CHANGELOG.md
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/federation/check.rs
  crates/fraiseql-cli/src/commands/federation/tests.rs
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/tests/cascade_federation_shareable_e2e.rs
  crates/fraiseql-cli/tests/cli_gate_exit_codes.rs
  crates/fraiseql-cli/tests/compile_federation_passthrough.rs
  crates/fraiseql-cli/tests/diagnostic_snapshots.rs
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_federation_entity_typo_suggests_correction.snap
  crates/fraiseql-cli/tests/snapshots/diagnostic_snapshots__diagnostic_federation_entity_undefined_type.snap
  crates/fraiseql-core/src/schema/compiled/federation_keys.rs
  crates/fraiseql-core/src/schema/compiled/federation_keys_tests.rs
  crates/fraiseql-core/src/schema/compiled/mod.rs
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/golden_fixtures_test.rs
  examples/federation/basic/orders-service/schema.json
  examples/federation/basic/users-service/schema.json
  examples/federation/composite-keys/orders-service/schema.json
  examples/federation/composite-keys/users-service/schema.json
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/src/fraiseql/schema.py
  sdks/official/fraiseql-python/tests/test_federation.py
  tests/fixtures/golden/07-relay-uuid-cursor.json
Labels: documentation, tests

fix(auth)!: one JWT claim resolver, the tenant from the configured claim, and a header cannot move a caller to another tenant
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/security.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/security_config.rs
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-server/src/extractors.rs
  crates/fraiseql-server/src/extractors/tests.rs
  crates/fraiseql-server/src/identity/apply.rs
  crates/fraiseql-server/src/identity/tests.rs
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/middleware/hs256_auth.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/middleware/oidc_auth.rs
  crates/fraiseql-server/src/middleware/tests.rs
  crates/fraiseql-server/src/routes/async_operations.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/tenant_key.rs
  crates/fraiseql-server/src/routes/graphql/tests.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/grpc/tests.rs
  crates/fraiseql-server/src/routes/subscriptions/tests.rs
  crates/fraiseql-server/src/server/routing/mod.rs
  crates/fraiseql-server/tests/admin_authz_test.rs
  crates/fraiseql-server/tests/auth_me_integration_test.rs
  crates/fraiseql-server/tests/auth_regression_test.rs
  crates/fraiseql-server/tests/multitenancy_test.rs
  docs/mcp.md
Labels: documentation

fix(auth): the configured tenant claim answers a server-minted principal's assigned tenant
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_nested.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/support/security.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/tests/changelog_outbox_e2e.rs
  crates/fraiseql-core/tests/integration/relay_integration.rs
  crates/fraiseql-core/tests/pipeline_cache_invalidation_test.rs
  crates/fraiseql-core/tests/pipeline_inject_params_test.rs
  crates/fraiseql-core/tests/pipeline_mutation_execution_test.rs
  crates/fraiseql-core/tests/security/integration_rls.rs
  crates/fraiseql-functions/src/host/live/tests.rs
  crates/fraiseql-server/src/extractors.rs
  crates/fraiseql-server/src/identity/apply.rs
  crates/fraiseql-server/src/identity/resolver.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/routes/api/admin_sql.rs
  crates/fraiseql-server/src/routes/graphql/tests.rs
  crates/fraiseql-server/src/routes/subscriptions/tests.rs
  crates/fraiseql-server/src/server/functions_setup.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/tests/admin_sql_console_e2e_pg.rs
  crates/fraiseql-server/tests/enrichment_transport_parity_e2e_pg.rs
  crates/fraiseql-server/tests/graphql_nested_type_gates_e2e_pg.rs
  crates/fraiseql-server/tests/mcp_e2e_test.rs
  crates/fraiseql-server/tests/multitenancy_test.rs
Labels: documentation

test(identity): a tenant-keyed request is made by a caller bound to that tenant
  crates/fraiseql-server/tests/enrichment_transport_parity_e2e_pg.rs
Labels: none

chore(deps): wasmtime and wasmtime-wasi 48.0.5 for seven new advisories
  CHANGELOG.md
  Cargo.lock
  deny.toml
Labels: documentation

fix(authz)!: a policy backend that cannot decide is a 503, not a 403
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/security/authorizer.rs
  crates/fraiseql-core/src/security/authorizer/tests.rs
  crates/fraiseql-core/src/security/field_authorizer.rs
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/routes/grpc/mod.rs
  crates/fraiseql-server/src/routes/grpc/tests.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/tests.rs
  crates/fraiseql-server/tests/subscription_ws_e2e_test.rs
  docs/guides/field-authorization.md
  docs/guides/operation-authorization.md
Labels: documentation

fix(ci): a leg never links another run's crates — stamp sources per leg, mount target volumes PRIVATE
  .dagger/feature-combos.go
  .dagger/main.go
  .dagger/release.go
  Makefile
  tools/changelog-exempt-issues.txt
  tools/ci-stale-artifacts.sh
  tools/ci-target-canary.sh
  tools/tests/ci_stale_artifacts_test.sh
Labels: none

fix(security): a delegated request is classified by its delegate, not by the presence of `act`
  CHANGELOG.md
  crates/fraiseql-core/src/security/actor_type.rs
  crates/fraiseql-core/src/security/actor_type/tests.rs
  crates/fraiseql-server/tests/actor_attribution_e2e_pg.rs
  docs/operations/actor-policies.md
Labels: documentation

feat(auth): trust more than one token issuer, each with its own keys, chosen by `iss`
  CHANGELOG.md
  Cargo.toml
  crates/fraiseql-cli/src/config/toml_schema/security.rs
  crates/fraiseql-cli/tests/security_config_test.rs
  crates/fraiseql-core/src/security/oidc/jwks.rs
  crates/fraiseql-core/src/security/oidc/mod.rs
  crates/fraiseql-core/src/security/oidc/providers.rs
  crates/fraiseql-core/src/security/oidc/tests.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-core/src/security/security_context.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-server/src/middleware/oidc_auth.rs
  crates/fraiseql-server/tests/admin_authz_test.rs
  crates/fraiseql-server/tests/auth_me_integration_test.rs
  crates/fraiseql-server/tests/auth_regression_test.rs
  crates/fraiseql-server/tests/doc_config_examples_test.rs
  docs/auth/issuer-less-jwt.md
  docs/auth/multiple-issuers.md
  tools/check-config-deny-unknown.py
Labels: documentation

fix(cache): key the row cache on session variables and remove the response cache
  CHANGELOG.md
  crates/fraiseql-arrow/src/cache.rs
  crates/fraiseql-cli/src/schema/converter/queries.rs
  crates/fraiseql-cli/tests/function_backed_query_test.rs
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/client.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/enums.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/index.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/inputs.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/mutations.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/queries.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/relationships.ts
  crates/fraiseql-codegen/tests/fixtures/tutorial-expected/types.ts
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/cache/adapter/query.rs
  crates/fraiseql-core/src/cache/adapter/tests.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/cache/response_cache.rs
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_function.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_function_tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/support/security.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/query_function.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/where_typed_annotation_is_transparent.rs
  docs/architecture/functions.md
  docs/guides/field-authorization.md
  docs/guides/operation-authorization.md
Labels: documentation

fix(cli): one PostgreSQL connection rule, and one project-config resolver for compile and run
  CHANGELOG.md
  crates/fraiseql-cli/src/cli.rs
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/doctor.rs
  crates/fraiseql-cli/src/commands/generate_views.rs
  crates/fraiseql-cli/src/commands/introspect_facts.rs
  crates/fraiseql-cli/src/commands/perf/reader.rs
  crates/fraiseql-cli/src/commands/query.rs
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/commands/setup/mod.rs
  crates/fraiseql-cli/src/commands/sources/reader.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/commands/validate_facts.rs
  crates/fraiseql-cli/src/commands/watch.rs
  crates/fraiseql-cli/src/config/discovery.rs
  crates/fraiseql-cli/src/config/discovery/tests.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/connection.rs
  crates/fraiseql-cli/src/connection/tests.rs
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql-cli/src/runner.rs
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/src/schema/pg_catalog.rs
  crates/fraiseql-cli/tests/compile_config_resolution_test.rs
  crates/fraiseql-cli/tests/compile_drift_fail_pg.rs
  crates/fraiseql-cli/tests/naming_convention_compile_test.rs
  crates/fraiseql-server/tests/functions_authoring_round_trip_test.rs
  docs/authoring.md
Labels: documentation

test(conformance): name the scratch project config with --config
  .github/workflows/sdk-conformance.yml
  sdks/official/conformance/check_examples.sh
  sdks/official/conformance/run.py
Labels: ci

fix(cli): row tenancy that scopes nothing is refused, and never adds an argument a mutation already takes
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/converter/tenancy.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/tests/field_rbac_seam_test.rs
  crates/fraiseql-cli/tests/tenancy_gate_seam_test.rs
  docs/architecture/intermediate-schema.md
Labels: documentation

fix(cli): compile --database refuses an inject key the relation cannot provide
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/tests/compile_drift_fail_pg.rs
  docs/authoring.md
Labels: documentation

feat(cli): inject defaults are read from fraiseql.toml, droppable per operation, and never duplicate a source
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/extract/csharp.rs
  crates/fraiseql-cli/src/commands/extract/go.rs
  crates/fraiseql-cli/src/commands/extract/java.rs
  crates/fraiseql-cli/src/commands/extract/kotlin.rs
  crates/fraiseql-cli/src/commands/extract/python.rs
  crates/fraiseql-cli/src/commands/extract/rust.rs
  crates/fraiseql-cli/src/commands/extract/scala.rs
  crates/fraiseql-cli/src/commands/extract/swift.rs
  crates/fraiseql-cli/src/commands/extract/typescript.rs
  crates/fraiseql-cli/src/commands/generate/tests.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/config/inject_defaults.rs
  crates/fraiseql-cli/src/config/inject_defaults/tests.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/toml_schema/mod.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/src/schema/intermediate/tests.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/auto_mutation_error_union_test.rs
  crates/fraiseql-cli/tests/compile_drift_fail_pg.rs
  crates/fraiseql-cli/tests/inject_defaults_config_test.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  docs/architecture/intermediate-schema.md
  docs/authoring.md
  sdks/official/fraiseql-python/src/fraiseql/decorators.py
  sdks/official/fraiseql-python/tests/test_decorators.py
  sdks/official/fraiseql-typescript/src/registry.ts
  sdks/official/fraiseql-typescript/tests/field-completeness.test.ts
Labels: documentation, tests

fix(db): a null or missing nested object projects as null, not an object of nulls
  CHANGELOG.md
  crates/fraiseql-core/tests/query_null_nested_object.rs
  crates/fraiseql-db/src/projection_generator.rs
  crates/fraiseql-db/src/projection_generator/tests.rs
Labels: documentation

docs(changelog): remove a stray merge-conflict marker from the 2.14 notes
  CHANGELOG.md
Labels: documentation

fix(cli): a camelCase query argument resolves to its snake_case column
  CHANGELOG.md
  crates/fraiseql-cli/src/schema/database_validator.rs
  crates/fraiseql-cli/tests/compile_drift_fail_pg.rs
  docs/authoring.md
Labels: documentation

fix(db): descendantOfId / ancestorOfId resolve through the filtered field's hierarchy
  CHANGELOG.md
  crates/fraiseql-core/src/schema/compiled/schema_serde.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
  crates/fraiseql-core/tests/ltree_id_operators.rs
  crates/fraiseql-core/tests/query_hierarchy_operators.rs
  crates/fraiseql-db/fuzz/fuzz_targets/where_from_json.rs
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/postgres/adapter/composed.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_clause/field_types.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-db/src/where_generator/generic.rs
  crates/fraiseql-db/src/where_generator/generic/tests.rs
  crates/fraiseql-db/src/where_generator/mod.rs
  crates/fraiseql-db/src/where_sql_generator.rs
  docs/authoring.md
Labels: documentation

fix(core): the RLS boot refusal no longer prints runs of spaces mid-sentence
  crates/fraiseql-core/src/cache/adapter/mod.rs
Labels: none

fix(server): with read replicas, a source a hot standby cannot read refuses boot
  CHANGELOG.md
  crates/fraiseql-core/src/cache/adapter/mod.rs
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/source_probe.rs
  crates/fraiseql-core/tests/standby_unreadable_sources.rs
  crates/fraiseql-db/src/postgres/adapter/database.rs
  crates/fraiseql-db/src/traits.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/server/initialization.rs
  docs/operations/read-replicas.md
Labels: documentation

refactor(db)!: remove the indexed-column WHERE path no runtime ever enabled
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-db/src/postgres/introspector.rs
  crates/fraiseql-db/src/postgres/introspector/tests.rs
  crates/fraiseql-db/src/postgres/where_generator.rs
  crates/fraiseql-db/src/postgres/where_generator/tests.rs
  crates/fraiseql-db/src/where_generator/generic.rs
Labels: documentation

fix(core): node(id:) accepts the id an object returns
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/tests/query_node_bare_uuid.rs
  docs/features/pagination.md
Labels: documentation

fix(cli): fraiseql run refuses a schema that declares functions
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/commands/tests.rs
Labels: documentation

fix(server): every serve entry point provisions, including MCP stdio
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/mod.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/tests/functions_schema_seam_test.rs
Labels: documentation

refactor(functions)!: remove FunctionStore, which nothing consumes
  CHANGELOG.md
  Makefile
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-functions/src/store/memory/mod.rs
  crates/fraiseql-functions/src/store/memory/tests.rs
  crates/fraiseql-functions/src/store/mod.rs
Labels: documentation

fix(sources): a source's connector loads by name, and a source that cannot run refuses
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/commands/tests.rs
  crates/fraiseql-cli/src/schema/converter/functions.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/validator/schema_validator.rs
  crates/fraiseql-cli/src/schema/validator/tests.rs
  crates/fraiseql-cli/tests/functions_compile_time_checks_test.rs
  crates/fraiseql-core/src/schema/source_types.rs
  crates/fraiseql-functions/src/triggers/cron.rs
  crates/fraiseql-functions/src/triggers/tests.rs
  crates/fraiseql-functions/src/types.rs
  crates/fraiseql-server/src/server/functions_setup.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/sources/connector_boot_tests.rs
  crates/fraiseql-server/src/sources/mod.rs
  crates/fraiseql-server/src/sources/scheduler.rs
  crates/fraiseql-server/src/sources/scheduler/tests.rs
  crates/fraiseql-server/src/subsystems/loader.rs
  crates/fraiseql-server/src/subsystems/loader/tests.rs
  docs/architecture/sources.md
Labels: documentation

ci: skip a leg on a SHA that already passed it, and pin the heavy legs to archbox
  .github/actionlint.yaml
  .github/workflows/already-passed.yml
  .github/workflows/dagger-feature-matrix.yml
  .github/workflows/dagger-integration.yml
  .github/workflows/dagger-preflight.yml
  .github/workflows/dagger-test.yml
  tools/suite-coverage-exemptions.toml
Labels: ci

ci(integration): run one suite per runner box at a time
  .github/workflows/dagger-integration.yml
Labels: ci

chore(deps): resolve four accepted advisories instead of re-accepting them
  .cargo/audit.toml
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-db/Cargo.toml
  crates/fraiseql-db/fuzz/Cargo.lock
  crates/fraiseql-db/src/postgres/tls.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/fuzz/Cargo.lock
  crates/fraiseql-wire/Cargo.toml
  crates/fraiseql-wire/src/connection/tls/mod.rs
  crates/fraiseql-wire/src/connection/tls/tests.rs
  deny.toml
  docs/dependency-risk-policy.md
Labels: documentation

fix(auth)!: drop RS256 signing, and confine RSA private keys to the GCS signer
  .cargo/audit.toml
  CHANGELOG.md
  crates/fraiseql-auth/src/jwt/mod.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/security_tests.rs
  crates/fraiseql-auth/src/session_postgres.rs
  crates/fraiseql-auth/src/tests.rs
  deny.toml
  docs/dependency-risk-policy.md
  tools/check-crypto-providers.sh
Labels: documentation

fix(functions): the engine dispatches after:mutation, for every transport and only on success
  .dagger/main.go
  CHANGELOG.md
  Makefile
  crates/fraiseql-cli/src/schema/converter/functions.rs
  crates/fraiseql-cli/tests/functions_compile_time_checks_test.rs
  crates/fraiseql-core/src/runtime/after_mutation.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/payload_gates.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/schema/compiled/schema_lookup.rs
  crates/fraiseql-core/tests/after_mutation_observer.rs
  crates/fraiseql-core/tests/security/integration_executor_field_rbac.rs
  crates/fraiseql-server/src/query_bridge.rs
  crates/fraiseql-server/src/query_bridge/tests.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/rest/handler/mod.rs
  crates/fraiseql-server/src/routes/rest/handler/mutation.rs
  crates/fraiseql-server/src/routes/rest/router/mod.rs
  crates/fraiseql-server/src/server/after_mutation_wiring_tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/functions_setup.rs
  crates/fraiseql-server/src/server/mod.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/src/tenancy/tests.rs
  crates/fraiseql-server/tests/functions_platform_pins_test.rs
  docs/architecture/external-write-capture.md
  docs/architecture/functions.md
Labels: documentation
