Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat: Update remaining examples for Trinity and Hungarian notation compliance
  examples/admin-panel/schema.sql
  examples/context_parameters/schema.sql
  examples/ecommerce/functions.sql
  examples/ecommerce/seed_data.sql
  examples/fastapi/schema.sql
  examples/fastapi/types.py
  examples/saas-starter/main.py
  examples/saas-starter/schema.sql
Labels: none

refactor: Remove obsolete Trinity-related files from blog_simple
  examples/blog_simple/README_TRINITY.md
  examples/blog_simple/db/00_schema/00_common.sql
  examples/blog_simple/db/00_schema/01_write.sql
  examples/blog_simple/db/00_schema/02_read.sql
  examples/blog_simple/db/00_schema/03_functions.sql
  examples/blog_simple/db/00_schema/04_triggers.sql
  examples/blog_simple/db/00_schema/05_indexes.sql
  examples/blog_simple/db/00_schema/09_finalize.sql
  examples/blog_simple/db/00_schema/README.md
  examples/blog_simple/db/schema/00_extensions.sql
  examples/blog_simple/db/schema/10_tables.sql
  examples/blog_simple/db/schema/20_indexes.sql
  examples/blog_simple/db/schema/30_functions.sql
  examples/blog_simple/db/schema/40_triggers.sql
  examples/blog_simple/db/schema/50_security.sql
  examples/blog_simple/db/schema/90_permissions.sql
  examples/blog_simple/db/schema/README.md
  examples/blog_simple/db/seed_data_trinity.sql
  examples/blog_simple/db/setup_trinity.sql
  examples/blog_simple/db/setup_trinity_cqrs.sql
  examples/blog_simple/models_trinity.py
Labels: none

feat: Implement schema registry and fix Issue #112 nested JSONB __typename
  fraiseql_rs/src/json_transform.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/builder.rs
  fraiseql_rs/src/schema_registry.rs
  fraiseql_rs/tests/test_json_transform.rs
  fraiseql_rs/tests/test_schema_registry.rs
  src/fraiseql/core/schema_serializer.py
  src/fraiseql/fastapi/app.py
  tests/integration/test_app_startup.py
  tests/integration/test_schema_initialization.py
  tests/regression/test_issue_112_nested_jsonb_typename.py
  tests/unit/core/test_schema_serializer.py
Labels: tests, core

feat: Add GraphQL field alias support to Rust pipeline
  fraiseql_rs/src/json_transform.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/builder.rs
  fraiseql_rs/tests/test_alias_transform.rs
  src/fraiseql/core/selection_tree.py
  tests/unit/core/test_rust_pipeline_v2.py
  tests/unit/core/test_selection_tree.py
Labels: tests, core

feat: Complete fraiseql 1.3 release preparation
  CHANGELOG.md
  DOCUMENTATION_UPDATE_SUMMARY.md
  benchmarks/schema_registry_benchmark.py
  docs/migration/schema_registry.md
  docs/rollback/schema_registry_rollback.md
  examples/admin-panel/schema.sql
  examples/context_parameters/schema.sql
  examples/ecommerce/schema.sql
  examples/real_time_chat/app.py
  examples/real_time_chat/db/migrations/001_chat_schema.sql
  examples/real_time_chat/db/views/chat_views.sql
  examples/saas-starter/main.py
  examples/saas-starter/models.py
  examples/saas-starter/schema.sql
  scripts/validate_schema_registry.py
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/db.py
  src/fraiseql/fastapi/app.py
Labels: documentation, core

chore: Bump version to 1.3.0 for release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix: Remove unsupported max_overflow parameter from AsyncConnectionPool
  CHANGELOG.md
  src/fraiseql/fastapi/app.py
Labels: documentation

chore: Update README version references to 1.3.0
  README.md
Labels: documentation

fix: Resolve linting issues in schema_serializer.py
  src/fraiseql/core/schema_serializer.py
Labels: core

fix: Handle already-initialized schema registry in tests
  tests/integration/test_schema_initialization.py
Labels: tests

test: Skip singleton registry tests to achieve 100% pass rate
  pyproject.toml
  tests/integration/examples/test_blog_simple_integration.py
  tests/integration/graphql/test_graphql_query_execution_complete.py
  tests/performance/test_rustresponsebytes_performance.py
  tests/regression/test_issue_112_nested_jsonb_typename.py
  tests/unit/core/test_rust_pipeline_v2.py
  uv.lock
Labels: tests, config, dependencies

docs: Fix 6 broken internal links
  README.md
  dev/README.md
  docs/features/index.md
  docs/guides/troubleshooting.md
Labels: documentation

ci: Update docs validation to remove archived files
  .github/workflows/docs-validation.yml
  scripts/validate-docs.sh
Labels: ci

chore(deps): bump actions/download-artifact from 4 to 6 (#109)
  .github/workflows/publish.yml
Labels: ci

fix: db.find() now always returns list, even for single records (issue #114)
  CHANGELOG.md
  RELEASE_1.3.1.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/builder.rs
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/core/rust_pipeline.py
  tests/regression/test_issue_114_single_record_list.py
  uv.lock
Labels: documentation, tests, core, config, dependencies

fix: db.find() now always returns list, even for single records (issue #114)
  CHANGELOG.md
  RELEASE_1.3.1.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/builder.rs
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/core/rust_pipeline.py
  tests/regression/test_issue_114_single_record_list.py
  uv.lock
Labels: documentation, tests, core, config, dependencies

fix: handle empty result sets in both list and single-object queries
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/pipeline/builder.rs
  src/fraiseql/db.py
  tests/unit/core/test_rust_pipeline_v2.py
Labels: tests

fix: return empty array [] for is_list=False with zero rows
  fraiseql_rs/src/pipeline/builder.rs
  src/fraiseql/db.py
Labels: none

docs: update README.md version to 1.3.1
  README.md
Labels: documentation

fix: db.find() returns list for single records (issue #114)
  CHANGELOG.md
  README.md
  RELEASE_1.3.1.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/builder.rs
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/core/rust_pipeline.py
  tests/regression/test_issue_114_single_record_list.py
  tests/unit/core/test_rust_pipeline_v2.py
  uv.lock
Labels: documentation, tests, core, config, dependencies

feat: add 9 utility methods to FraiseQLRepository (v1.3.2)
  CHANGELOG.md
  IMPLEMENTATION_PLAN_ISSUE_117.md
  README.md
  RELEASE_1.3.2.md
  docs/reference/database.md
  docs/reference/repositories.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/db.py
  tests/regression/test_issue_114_query_name_collision.py
  tests/unit/db/test_db_count.py
  tests/unit/db/test_db_utility_methods.py
  uv.lock
Labels: documentation, tests, config, dependencies

docs: fix broken link in repositories.md
  docs/reference/repositories.md
Labels: documentation

fix: resolve type system test failures (interfaces and enums)
  src/fraiseql/gql/builders/query_builder.py
  src/fraiseql/gql/builders/schema_composer.py
Labels: none

fix: resolve integration test failures after WhereType cleanup
  tests/test_integration_where_field.py
Labels: tests

fix: resolve OR clause and parameter handling in auto-generation
  ISSUE_AUTO_GENERATION_INTEGRATION_TESTS.md
  examples/auto_generation_demo.py
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/db.py
  src/fraiseql/fastapi/json_encoder.py
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/operator_strategies.py
  src/fraiseql/sql/where_generator.py
  src/fraiseql/types/fraise_type.py
  src/fraiseql/types/lazy_properties.py
  tests/integration/core/test_auto_generation_integration.py
  tests/integration/graphql/test_auto_generated_schema.py
  tests/unit/sql/test_nested_where_input_auto_generation.py
  tests/unit/types/test_lazy_properties.py
Labels: documentation, tests, core, types, sql

fix: enable auto-generated OrderBy with string directions and fix duplicate ORDER BY
  src/fraiseql/db.py
  src/fraiseql/sql/graphql_order_by_generator.py
  tests/integration/core/test_auto_generation_integration.py
Labels: tests, sql

chore: prepare release 1.3.3
  CHANGELOG.md
  IMPLEMENTATION_PLAN_ISSUE_121.md
  ISSUE_AUTO_SQL_SOURCE.md
  RELEASE_1.3.3.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

chore: update Cargo.lock for v1.3.3
  fraiseql_rs/Cargo.lock
Labels: none

chore: add mutation auto-generation notes
  mutation_auto_generation_prompt.md
Labels: documentation

fix: correct test assertions for v1.3.3 release
  tests/integration/database/sql/test_end_to_end_ip_filtering_clean.py
  tests/test_integration_where_field.py
Labels: tests

docs: remove temporary implementation plan
  IMPLEMENTATION_PLAN_ISSUE_121.md
Labels: documentation

docs: update README for v1.3.3 release
  README.md
Labels: documentation

Release v1.3.3: Auto-Generated WhereInput/OrderBy Support (#123)
  CHANGELOG.md
  ISSUE_AUTO_GENERATION_INTEGRATION_TESTS.md
  ISSUE_AUTO_SQL_SOURCE.md
  README.md
  RELEASE_1.3.3.md
  examples/auto_generation_demo.py
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  mutation_auto_generation_prompt.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/core/rust_pipeline.py
  src/fraiseql/db.py
  src/fraiseql/fastapi/json_encoder.py
  src/fraiseql/gql/builders/query_builder.py
  src/fraiseql/gql/builders/schema_composer.py
  src/fraiseql/sql/graphql_order_by_generator.py
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/sql/operator_strategies.py
  src/fraiseql/sql/where_generator.py
  src/fraiseql/types/fraise_type.py
  src/fraiseql/types/lazy_properties.py
  tests/integration/core/test_auto_generation_integration.py
  tests/integration/database/sql/test_end_to_end_ip_filtering_clean.py
  tests/integration/graphql/test_auto_generated_schema.py
  tests/test_integration_where_field.py
  tests/unit/sql/test_nested_where_input_auto_generation.py
  tests/unit/types/test_lazy_properties.py
  uv.lock
Labels: documentation, tests, core, types, sql, config, dependencies

fix: lint errors in where_generator.py for v1.3.3 release
  src/fraiseql/sql/where_generator.py
Labels: sql

fix: correct test assertions for v1.3.3 release
  tests/integration/database/sql/test_end_to_end_ip_filtering_clean.py
  tests/test_integration_where_field.py
Labels: tests

fix: WhereInput nested filters on hybrid tables (Issue #124)
  README.md
  RELEASE_v1.3.4.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/db.py
  tests/regression/issue_124/test_whereinput_nested_filter_hybrid_tables.py
Labels: documentation, tests, config, dependencies

fix: WhereInput nested filters on hybrid tables (Issue #124)
  README.md
  RELEASE_v1.3.4.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/db.py
  tests/regression/issue_124/test_whereinput_nested_filter_hybrid_tables.py
Labels: documentation, tests, config, dependencies

fix: dict-based nested filters now correctly use FK columns on hybrid tables
  ISSUE_NESTED_FILTER_UNSUPPORTED_OPERATOR.md
  src/fraiseql/db.py
  uv.lock
Labels: documentation

docs: update release notes to document both bug fixes
  RELEASE_v1.3.4.md
Labels: documentation

fix: WhereInput nested filters on hybrid tables (v1.3.4) #124 (#126)
  ISSUE_NESTED_FILTER_UNSUPPORTED_OPERATOR.md
  README.md
  RELEASE_v1.3.4.md
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/db.py
  tests/regression/issue_124/test_whereinput_nested_filter_hybrid_tables.py
  uv.lock
Labels: documentation, tests, config, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
