Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

docs: archive phase documentation (8 files → archive)
  docs/archive/developer-docs-phases/PHASE7_MIGRATION.md
  docs/archive/developer-docs-phases/phase10_rust_authentication.md
  docs/archive/developer-docs-phases/phase11_rust_rbac.md
  docs/archive/developer-docs-phases/phase12_security_advanced.md
  docs/archive/developer-docs-phases/phase12_security_constraints.md
  docs/archive/developer-docs-phases/phase14_audit_logging.md
  docs/archive/developer-docs-phases/phase14_task_list.md
  docs/archive/developer-docs-phases/phase7.1-where-order-by-passthrough.md
Labels: documentation

docs(production): consolidate deployment and monitoring guides with cross-references
  docs/production/deployment-checklist.md
  docs/production/monitoring.md
  docs/production/performance-monitoring.md
Labels: documentation

docs: consolidate filtering documentation and archive duplicate guides
  docs/archive/filtering/nested-filters.md
  docs/guides/filtering.md
  docs/guides/nested-array-filtering.md
Labels: documentation

docs: archive obsolete mutation result reference
  docs/archive/features/mutation-result-reference.md
Labels: documentation

docs: archive completed Rust backend migration guide
  docs/archive/migrations/rust-backend-migration.md
Labels: documentation

docs: consolidation complete - summary of Days 3-7 work
  CONSOLIDATION_COMPLETE_DAY7.md
Labels: documentation

fix: align code features with origin/dev after merge
  src/fraiseql/__init__.py
  src/fraiseql/sql/graphql_where_generator.py
  src/fraiseql/types/scalars/id_scalar.py
  tests/unit/test_introspection/test_input_generator.py
Labels: tests, types, sql

chore: merge v1.9.5 release from origin
  fraiseql_status_20260106_final.md
Labels: documentation

feat(security): implement APQ response cache keys with variable hashing [CRITICAL]
  Cargo.lock
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/apq/hasher.rs
  fraiseql_rs/src/apq/mod.rs
  fraiseql_rs/src/cache/cache_key.rs
  v1.9.5_to_v2.0_improvements_analysis.md
Labels: documentation

feat(security): implement GraphQL response field selection filtering [Phase 2]
  fraiseql_rs/src/http/mod.rs
  fraiseql_rs/src/http/response_filter.rs
  fraiseql_rs/src/http/response_filtering_integration.rs
Labels: none

feat(validation): implement ID Policy validation for GraphQL IDs [Phase 3]
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/validation/id_policy.rs
  fraiseql_rs/src/validation/input_processor.rs
  fraiseql_rs/src/validation/mod.rs
Labels: none

feat(security): enforce ID Policy validation in Rust pipeline [Phase 4]
  .claude/IMPLEMENTATION_PLAN.md
  .phases/PHASE-16-INTEGRATION-SUMMARY.md
  .phases/phase-16-axum-http-server.md
  .phases/phase-16-quick-reference.md
  .phases/phase-16-rust-http-server.md
  fraiseql_rs/src/graphql/variables.rs
  fraiseql_rs/src/http/py_bindings.rs
  fraiseql_rs/src/http/response_filter.rs
  fraiseql_rs/src/query/schema.rs
  fraiseql_rs/src/query/where_builder.rs
  fraiseql_rs/src/validation/id_policy.rs
  fraiseql_rs/src/validation/input_processor.rs
  src/fraiseql/axum/openapi.py
  src/fraiseql/axum/playground.py
  src/fraiseql/db.py
  src/fraiseql/debug/debug.py
  src/fraiseql/enterprise/audit/mutations.py
  src/fraiseql/introspection/input_generator.py
  src/fraiseql/introspection/mutation_generator.py
  src/fraiseql/introspection/type_generator.py
  src/fraiseql/subscriptions/__init__.py
Labels: none

feat(security): implement Sprint 3 field filtering and enforcement framework
  fraiseql_rs/src/auth/jwt.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/rbac/errors.rs
  fraiseql_rs/src/rbac/models.rs
  fraiseql_rs/src/response/field_filter.rs
  fraiseql_rs/src/response/mod.rs
  fraiseql_rs/src/security/error_redactor.rs
  fraiseql_rs/src/security/field_masking.rs
  fraiseql_rs/src/security/mod.rs
  fraiseql_rs/src/security/profiles.rs
  fraiseql_rs/src/security/response_limits.rs
  fraiseql_rs/src/startup/config_validator.rs
  fraiseql_rs/src/startup/mod.rs
  fraiseql_rs/tests/enforcement_helpers.rs
  fraiseql_rs/tests/test_jwt_comprehensive.rs
Labels: none

feat(security): complete Sprint 4 integration and verification
  fraiseql_rs/src/lib.rs.v1_9_6_SECURITY_ARCHITECTURE.md
  fraiseql_rs/tests/test_v1_9_6_integration.rs
Labels: none

fix: apply v1.9.5 CI fixes and resolve clippy warnings
  .github/workflows/publish.yml
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/postgres_composite.rs
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/mutation/test_status_only.rs
  fraiseql_rs/src/mutation/tests.rs
  fraiseql_rs/src/mutation/types.rs
  uv.lock
Labels: ci

chore(release): bump version to v1.9.6
  Cargo.lock
  Cargo.toml
  docs/archive/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

chore(release): bump version to v1.9.6 (#229)
  Cargo.lock
  Cargo.toml
  docs/archive/strategic/version-status.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

refactor(mutation): replace 9+ parameters with MutationConfig struct [clippy fix]
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/mutation/types.rs
Labels: none

chore(rust): fix clippy warnings - library code
  fraiseql_rs/src/apq/hasher.rs
  fraiseql_rs/src/graphql/variables.rs
  fraiseql_rs/src/http/response_filter.rs
  fraiseql_rs/src/response/field_filter.rs
  fraiseql_rs/src/security/error_redactor.rs
  fraiseql_rs/src/security/field_masking.rs
  fraiseql_rs/src/security/profiles.rs
  fraiseql_rs/src/validation/id_policy.rs
Labels: none

fix(rust): correct test type annotation in uuid error test
  fraiseql_rs/src/rbac/errors.rs
Labels: none

fix(phase-2a): implement critical path quality improvements
  fraiseql_rs/src/auth/cache.rs
  fraiseql_rs/src/auth/jwt.rs
  fraiseql_rs/src/auth/py_bindings.rs
  fraiseql_rs/src/db/errors.rs
  fraiseql_rs/src/db/mod.rs
  fraiseql_rs/src/db/mutex_recovery.rs
  fraiseql_rs/src/db/pool_production.rs
  fraiseql_rs/src/db/runtime.rs
  fraiseql_rs/src/graphql/complexity.rs
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/py_bindings.rs
  fraiseql_rs/src/http/websocket.rs
  fraiseql_rs/src/pipeline/unified.rs
  src/fraiseql/audit/query_builder.py
  src/fraiseql/auth/token_revocation.py
  src/fraiseql/core/graphql_type.py
  src/fraiseql/fastapi/routers.py
  src/fraiseql/integrations/fastapi_subscriptions.py
  src/fraiseql/integrations/starlette_subscriptions.py
  src/fraiseql/middleware/apq_caching.py
  src/fraiseql/middleware/apq_selection.py
  src/fraiseql/middleware/rate_limiter.py
  src/fraiseql/sql/query_builder_adapter.py
  src/fraiseql/subscriptions/filtering.py
  src/fraiseql/subscriptions/protocol.py
  src/fraiseql/types/scalars/daterange.py
Labels: core, types, sql

fix(phase-2b): implement high-priority database reliability improvements
  fraiseql_rs/src/db/pool_production.rs
  fraiseql_rs/src/db/transaction.rs
Labels: none

fix(database): enforce pool wait timeout configuration
  fraiseql_rs/src/db/mutex_recovery.rs
  fraiseql_rs/src/db/pool_production.rs
Labels: none

feat(auth): classify HTTP auth error codes for debugging clarity
  fraiseql_rs/src/http/auth_middleware.rs
Labels: none

perf(http): optimize response JSON serialization
  fraiseql_rs/src/http/axum_server.rs
Labels: none

docs(cache): add comprehensive cache sizing and memory bounds documentation
  fraiseql_rs/src/cache/mod.rs
  fraiseql_rs/src/cache/query_result.rs
  fraiseql_rs/src/rbac/cache.rs
Labels: none

docs(errors): enhance database error documentation with debugging context
  fraiseql_rs/src/db/errors.rs
Labels: none

style(clippy): add underscores to large number literals for readability
  fraiseql_rs/src/http/optimization.rs
  fraiseql_rs/src/http/response_filter.rs
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/subscriptions/row_filter.rs
Labels: none

fix: resolve 27 targeted pre-commit clippy violations
  fraiseql_rs/src/auth/jwt.rs
  fraiseql_rs/src/http/axum_server.rs
  fraiseql_rs/src/http/response_filtering_integration.rs
  fraiseql_rs/src/http/websocket.rs
  fraiseql_rs/src/rbac/models.rs
  fraiseql_rs/src/subscriptions/integration_tests.rs
  fraiseql_rs/src/validation/id_policy.rs
  fraiseql_rs/src/validation/mod.rs
Labels: none

fix(mutation): add #[must_use] and fix doc markdown in types.rs [Phase 2C - clippy fix]
  fraiseql_rs/src/mutation/types.rs
Labels: none

fix(security): add #[must_use], use Self, inline format args in response_limits.rs [Phase 2C - clippy fix]
  fraiseql_rs/src/security/response_limits.rs
Labels: none

fix(response): add #[must_use], use Self, inline format args in field_filter.rs [Phase 2C - clippy fix]
  fraiseql_rs/src/response/field_filter.rs
Labels: none

fix(security): add #[must_use], fix unwrap_or, use Self in field_masking.rs [Phase 2C - clippy fix]
  fraiseql_rs/src/security/field_masking.rs
Labels: none

fix(cache): add backticks to cache type names in module docs [Phase 2C - clippy fix]
  fraiseql_rs/src/cache/mod.rs
Labels: none

fix(http): add #[must_use] and safe unwrap handling in response_filter.rs [Phase 2C - clippy fix]
  fraiseql_rs/src/http/response_filter.rs
Labels: none

fix(startup): add #[must_use], suppress unnecessary_wraps, inline format args in config_validator.rs [Phase 2C - clippy fix]
  fraiseql_rs/src/startup/config_validator.rs
Labels: none

fix(clippy): address missing_const_for_fn and map_unwrap_or warnings in operation_monitor.rs [5 violations fixed]
  fraiseql_rs/src/http/operation_monitor.rs
Labels: none

fix(clippy): add #[must_use] attributes and use clone_from() in error_redactor.rs [6 violations fixed]
  fraiseql_rs/src/security/error_redactor.rs
Labels: none

fix(clippy): add #[must_use], Panics doc, and std::ptr::from_ref in runtime.rs [5 violations fixed]
  fraiseql_rs/src/db/runtime.rs
Labels: none

fix(clippy): simplify is_empty check and format string in hasher.rs and fix doc backticks in cache_key.rs [5 violations fixed]
  fraiseql_rs/src/apq/hasher.rs
  fraiseql_rs/src/cache/cache_key.rs
Labels: none
