Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(codegen): generated clients import the derived filter types they reference
  CHANGELOG.md
  crates/fraiseql-cli/tests/generate_client_ts.rs
  crates/fraiseql-codegen/src/client/python/emit.rs
  crates/fraiseql-codegen/src/client/rust/emit.rs
  crates/fraiseql-codegen/src/client/typescript/emit.rs
Labels: documentation

fix(codegen): the Rust emitter boxes an input field that closes a cycle
  CHANGELOG.md
  crates/fraiseql-codegen/src/client/rust/emit.rs
  crates/fraiseql-codegen/src/client/rust/tests.rs
Labels: documentation

fix(deps): the GraphQL listener's h2 is patched, not accepted (RUSTSEC-2026-0258)
  .cargo/audit.toml
  .dagger/security.go
  CHANGELOG.md
  Cargo.lock
  deny.toml
  docs/dependency-risk-policy.md
  tools/check-default-build-minimums.sh
Labels: documentation

fix(where): a filter key is legal only under the name the schema declares
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-server/src/routes/rest/embedding/executor.rs
  crates/fraiseql-server/src/routes/rest/embedding/tests.rs
Labels: documentation

style(where): rustfmt the new filter-spelling tests
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-db/src/where_clause/tests.rs
Labels: none

fix(deps): the GraphQL listener's h2 is patched, not accepted (RUSTSEC-2026-0258)
  .cargo/audit.toml
  .dagger/security.go
  CHANGELOG.md
  Cargo.lock
  deny.toml
  docs/dependency-risk-policy.md
  tools/check-default-build-minimums.sh
Labels: documentation

fix(where): a filter key is legal only under the name the schema declares
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-server/src/routes/rest/embedding/executor.rs
  crates/fraiseql-server/src/routes/rest/embedding/tests.rs
Labels: documentation

refactor(tests): extract the two inline test modules the layout gate refuses
  crates/fraiseql-core/src/runtime/executor/support/introspection_projection.rs
  crates/fraiseql-core/src/runtime/executor/support/introspection_projection_tests.rs
  crates/fraiseql-core/src/runtime/variable_validation.rs
  crates/fraiseql-core/src/runtime/variable_validation_tests.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
Labels: none

fix(codegen): generated clients import the derived filter types they reference
  CHANGELOG.md
  crates/fraiseql-cli/tests/generate_client_ts.rs
  crates/fraiseql-codegen/src/client/python/emit.rs
  crates/fraiseql-codegen/src/client/rust/emit.rs
  crates/fraiseql-codegen/src/client/typescript/emit.rs
Labels: documentation

feat(schema): where/orderBy publish typed inputs instead of the JSON scalar
  CHANGELOG.md
  crates/fraiseql-cli/src/commands/generate_client.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/tests/generate_client_ts.rs
  crates/fraiseql-codegen/src/client/go/emit.rs
  crates/fraiseql-codegen/src/client/python/emit.rs
  crates/fraiseql-codegen/src/client/rust/emit.rs
  crates/fraiseql-codegen/src/client/typescript/emit.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/src/schema/compiled/schema_domain.rs
  crates/fraiseql-core/src/schema/compiled/schema_lookup.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
  crates/fraiseql-core/src/schema/derived_inputs_tests.rs
  crates/fraiseql-core/src/schema/introspection/schema_builder.rs
  crates/fraiseql-core/src/schema/introspection/tests.rs
  crates/fraiseql-core/src/schema/introspection/type_resolver.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/schema_migration_test.rs
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/mcp/resources.rs
  crates/fraiseql-server/src/mcp/tools.rs
Labels: documentation

fix(orderby): sorting by a field the type does not declare is refused, not ignored
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_relay.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

refactor(runtime): the WHERE cast hint stops being the ORDER BY cast hint
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
Labels: none

fix(where): a `where` key the type does not declare is refused, not silently unmatched
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-db/src/utils.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_clause/field_types.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-db/tests/where_operator_type_matrix.rs
Labels: documentation

fix(subscriptions): /ws validates the document it is about to run
  CHANGELOG.md
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/routes/subscriptions/tests.rs
  crates/fraiseql-server/src/routes/tests.rs
  crates/fraiseql-server/src/server/routing/admin.rs
Labels: documentation

fix(where): ID/UUID equality stops being case-sensitive text equality
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-db/src/dialect/postgres.rs
  crates/fraiseql-db/src/types/sql_hints.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-db/src/where_generator/generic.rs
Labels: documentation

chore(release): drop the private-tool references and classify the local red suite
  CHANGELOG.md
  Makefile
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-db/src/types/read_routing.rs
  docs/adr/0017-entity-identity-contract.md
  docs/operations/read-replicas.md
  tools/check-test-baseline.sh
Labels: documentation

fix(graphql): a variable's declared type must exist, and a declared variable must be used
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/variable_validation.rs
  crates/fraiseql-core/src/schema/introspection/mod.rs
  crates/fraiseql-core/src/schema/introspection/type_resolver.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

fix(graphql): a variable the operation never defines is refused, not dropped
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/variable_validation.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

fix(graphql): an argument the field does not declare is refused, not dropped
  CHANGELOG.md
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/runtime/argument_validation.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/tests.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/test_support.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/tests.rs
  crates/fraiseql-core/src/schema/compiled/query.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

fix(codegen): the Rust emitter boxes an input field that closes a cycle
  CHANGELOG.md
  crates/fraiseql-codegen/src/client/rust/emit.rs
  crates/fraiseql-codegen/src/client/rust/tests.rs
Labels: documentation

docs(changelog): the 2.15.0 heading carries the date the release is cut
  CHANGELOG.md
Labels: documentation

fix(window): the final orderBy can sort by a window alias, and unknown keys are refused (#1014)
  CHANGELOG.md
  crates/fraiseql-core/src/compiler/tests.rs
  crates/fraiseql-core/src/compiler/window_functions/codegen.rs
Labels: documentation

fix(where): a nested filter key is adjudicated against the type the path reached
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/runners/query_projection.rs
  crates/fraiseql-core/src/schema/compiled/schema.rs
  crates/fraiseql-core/src/schema/compiled/schema_lookup.rs
  crates/fraiseql-core/src/schema/derived_inputs.rs
  crates/fraiseql-core/src/schema/derived_inputs_tests.rs
  crates/fraiseql-db/src/where_clause.rs
  crates/fraiseql-db/src/where_clause/field_types.rs
  crates/fraiseql-db/src/where_clause/tests.rs
  crates/fraiseql-server/src/routes/graphql/reload_gate.rs
Labels: documentation

fix(introspection): __schema and __type follow the selection set (§ 6.3)
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/executor/context.rs
  crates/fraiseql-core/src/runtime/executor/core.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/introspection_projection.rs
  crates/fraiseql-core/src/runtime/executor/support/mod.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
Labels: documentation

fix(graphql): the request's operationName selects the operation (§ 6.1)
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/graphql/parser.rs
  crates/fraiseql-core/src/runtime/executor/execution.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/classify.rs
  crates/fraiseql-core/src/runtime/executor/support/pipeline.rs
  crates/fraiseql-core/src/runtime/executor/support/planning.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/variable_validation.rs
  crates/fraiseql-core/src/security/introspection_enforcer.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-core/tests/graphql_selection_conformance.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/routes/graphql/handler/sse.rs
Labels: none

style(where): rustfmt the new filter-spelling tests
  crates/fraiseql-core/src/runtime/executor/runners/query_tests.rs
  crates/fraiseql-db/src/where_clause/tests.rs
Labels: none

fix(graphql): a type the schema declares is a valid variable type, published or not
  CHANGELOG.md
  crates/fraiseql-core/src/runtime/variable_validation.rs
Labels: documentation

docs(changelog): the 2.15.0 heading carries the date the release is cut
  CHANGELOG.md
Labels: documentation

docs(changelog): the 2.15.0 heading carries the date the release is cut
  CHANGELOG.md
Labels: documentation

test(federation): re-bless the subgraph SDL fixtures for the typed filter inputs
  crates/fraiseql-core/tests/fixtures/federation_compose/catalog.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/reviews_conflict.graphql
Labels: none

test(federation): re-bless the subgraph SDL fixtures for the typed filter inputs
  crates/fraiseql-core/tests/fixtures/federation_compose/catalog.graphql
  crates/fraiseql-core/tests/fixtures/federation_compose/reviews_conflict.graphql
Labels: none

fix(features): delete the export-parquet ghost and run the gate that finds it (#1012)
  .dagger/feature-combos.go
  .dagger/main.go
  crates/fraiseql-server/Cargo.toml
Labels: none

fix(ci): preflight runs what it claims to mirror, and a gate keeps it that way
  .dagger/main.go
  CHANGELOG.md
  Makefile
  tools/check-preflight-parity.py
  tools/tests/preflight_parity_test.sh
Labels: documentation

fix(ci): the DATABASE_URL gate can reject something, and preflight builds the default features
  .dagger/main.go
  CHANGELOG.md
  Cargo.lock
  Makefile
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/tests/flight_e2e_test.rs
  crates/fraiseql-arrow/tests/flight_error_handling_test.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
  crates/fraiseql-arrow/tests/flight_upload_gate_pg.rs
  crates/fraiseql-arrow/tests/insert_sql_pg.rs
  crates/fraiseql-core/tests/wire_conn_test.rs
  crates/fraiseql-core/tests/wire_direct_test.rs
  crates/fraiseql-core/tests/wire_view_query_test.rs
  crates/fraiseql-federation/src/saga_store/tests.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  crates/fraiseql-observers/src/executor/dispatch.rs
  crates/fraiseql-observers/src/listener/tests.rs
  crates/fraiseql-observers/src/tests.rs
  crates/fraiseql-server/tests/flight_upload_outbox_pg.rs
  crates/fraiseql-server/tests/revocation_pg_test.rs
  crates/fraiseql-server/tests/storage_wiring_test.rs
  crates/fraiseql-server/tests/tenant_provisioning_test.rs
  crates/fraiseql-server/tests/test_helpers.rs
  crates/fraiseql-server/tests/wire_backend_feature_test.rs
  crates/fraiseql-wire/tests/tls_integration.rs
  tools/check-test-imports.sh
  tools/test-imports.allow
  tools/tests/test_imports_gate_test.sh
Labels: documentation

fix(ci): delete the orphaned lint harness and enforce the budget it was hiding
  .dagger/main.go
  CHANGELOG.md
  Cargo.toml
  Makefile
  crates/fraiseql-cli/src/commands/setup/tests.rs
  tools/check-crate-sizes.sh
  tools/lint.sh
Labels: documentation

fix(ci): SDK gates that never ran on a branch, and a fuzz dispatch that could not finish
  .dagger/main.go
  .github/workflows/csharp-sdk.yml
  .github/workflows/elixir-sdk.yml
  .github/workflows/fsharp-sdk.yml
  .github/workflows/fuzz.yml
  .github/workflows/ruby-official-sdk.yml
  CHANGELOG.md
  Makefile
  tools/check-fuzz-targets.sh
  tools/check-sdk-workflow-coverage.py
Labels: documentation, ci

fix(examples): delete examples/ci, and teach the postgres-only gate about sqlite::memory:
  .pre-commit-config.yaml
  CHANGELOG.md
  examples/ci/README.md
  examples/ci/github-actions-lint.yml
  examples/ci/gitlab-ci-lint.yml
  tools/check-examples-postgres-only.sh
Labels: documentation, config

fix(ci): the coverage gate can see a suite that compiles to zero tests
  .dagger/main.go
  CHANGELOG.md
  tools/check-suite-coverage.py
Labels: documentation

fix(ci): a per-suite cache canary, and counts that prove the server shard ran
  .dagger/main.go
  CHANGELOG.md
  tools/changelog-exempt-issues.txt
  tools/ci-target-canary.sh
Labels: documentation

refactor(deps): sweep the Duration literals beta clippy will reject
  CHANGELOG.md
  crates/fraiseql-auth/src/oauth/client.rs
  crates/fraiseql-auth/src/oauth/tests.rs
  crates/fraiseql-auth/src/tests.rs
  crates/fraiseql-cdc-sinks/src/sink/tests.rs
  crates/fraiseql-core/src/apq/memory_storage.rs
  crates/fraiseql-core/src/cache/tests.rs
  crates/fraiseql-core/src/security/oidc/tests.rs
  crates/fraiseql-core/src/security/oidc/token.rs
  crates/fraiseql-core/src/security/tests.rs
  crates/fraiseql-db/src/postgres/adapter/integration_tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-functions/src/triggers/cron.rs
  crates/fraiseql-observers/src/dispatch/tests.rs
  crates/fraiseql-observers/tests/stress_tests.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/vault/backend.rs
  crates/fraiseql-secrets/src/secrets_manager/tests.rs
  crates/fraiseql-server/src/cron/mod.rs
  crates/fraiseql-server/src/federation/health_checker.rs
  crates/fraiseql-server/src/identity/tests.rs
  crates/fraiseql-server/src/inbound/email/mod.rs
  crates/fraiseql-server/src/middleware/rate_limit/tests.rs
  crates/fraiseql-server/src/routes/idempotency/tests.rs
  crates/fraiseql-server/src/server/builder.rs
  crates/fraiseql-server/src/server/tests.rs
  crates/fraiseql-server/src/sources/poller.rs
  crates/fraiseql-server/src/sources/poller/tests.rs
  crates/fraiseql-server/tests/observer_runtime_integration_test.rs
  crates/fraiseql-server/tests/rest_export_integrity_e2e_pg.rs
  crates/fraiseql-storage/src/backend/s3/tests.rs
  crates/fraiseql-wire/examples/config.rs
  crates/fraiseql-wire/src/client/fraise_client.rs
  crates/fraiseql-wire/src/connection/conn/config.rs
  crates/fraiseql-wire/src/connection/conn/tests.rs
  crates/fraiseql-wire/tests/config_integration.rs
Labels: documentation

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
