Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

chore(release): bump version to 2.0.0-rc.12
  Cargo.toml
Labels: none

fix(tests): resolve remaining test failures for 2.0.0-rc.12
  Cargo.lock
  crates/fraiseql-cli/src/commands/init.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/tests/init_integration_test.rs
  crates/fraiseql-core/src/audit/postgres_backend_tests.rs
  crates/fraiseql-core/tests/concurrency_cache.rs
Labels: none

chore(deps): upgrade major Cargo dependencies
  Cargo.lock
  Cargo.toml
  crates/fraiseql-server/Cargo.toml
Labels: none

chore(deps): update Cargo.lock to latest minor-compatible versions
  Cargo.lock
Labels: none

chore(ci): update GitHub Actions and pre-commit hook versions
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/fuzz.yml
  .github/workflows/generate-d2-diagrams.yml
  .github/workflows/release.yml
  .github/workflows/sbom-generation.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
Labels: config, ci

fix(cli): skip CWD fraiseql.toml when input is a TomlSchema file
  crates/fraiseql-cli/src/commands/compile.rs
Labels: none

fix(core): update Kafka delivery pattern for rdkafka 0.39 API change
  crates/fraiseql-core/src/runtime/subscription/kafka.rs
Labels: none

fix(ci): replace retired macos-13 runner with macos-latest for x86_64 binary
  .github/workflows/release.yml
Labels: ci

fix(ci): explicitly add Rust target stdlib for cross-compilation
  .github/workflows/release.yml
Labels: ci

feat(cli): add [server] and [database] runtime config with validation
  crates/fraiseql-cli/src/commands/run.rs
  crates/fraiseql-cli/src/config/mod.rs
  crates/fraiseql-cli/src/config/runtime.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql-cli/tests/integration_domain_discovery.rs
Labels: none

feat(core): support mutation error types with scalar fields (issue #294)
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/extract.rs
  crates/fraiseql-cli/src/commands/generate.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/db/fraiseql_wire_adapter.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/dependency_graph.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
  crates/fraiseql-core/tests/mutation_execution_test.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
Labels: none

feat(cli): default auto_params to all for list queries (issue #45)
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
Labels: none

docs(changelog): add 2.0.0-rc.13 release notes
  CHANGELOG.md
Labels: documentation

chore(release): bump version to 2.0.0-rc.13
  Cargo.lock
  Cargo.toml
Labels: none

feat(relay): add relay=True authoring support across all 5 SDKs (phase 1)
  fraiseql-go/fraiseql/decorators.go
  fraiseql-go/fraiseql/registry.go
  fraiseql-java/src/main/java/com/fraiseql/core/FraiseQL.java
  fraiseql-java/src/main/java/com/fraiseql/core/GraphQLType.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaFormatter.java
  fraiseql-java/src/main/java/com/fraiseql/core/SchemaRegistry.java
  fraiseql-php/src/Attributes/GraphQLType.php
  fraiseql-php/src/Schema.php
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/src/fraiseql/registry.py
  fraiseql-typescript/src/decorators.ts
  fraiseql-typescript/src/registry.ts
Labels: none

feat(relay): add relay field to intermediate and compiled schema (phase 2)
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/extract.rs
  crates/fraiseql-cli/src/commands/generate.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/dependency_graph.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
Labels: none

feat(relay): auto-generate Relay connection types during compilation (phase 3)
  crates/fraiseql-cli/src/schema/converter.rs
Labels: none

feat(relay): derive relay_cursor_column from return type at compile time (phase 4)
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
Labels: none

feat(relay): add cursor encoding/decoding module (phase 5)
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/relay.rs
Labels: none

feat(relay): add relay response wrapping and DB adapter method (phase 6)
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/runtime/executor.rs
Labels: none

feat(relay): implement node(id: ID!) global query execution (Phase 7)
  crates/fraiseql-core/src/runtime/executor.rs
Labels: none

feat(relay): inject node(id: ID!) into introspection Query type (Phase 8)
  crates/fraiseql-core/src/schema/introspection.rs
Labels: none

test(relay): add integration and compiler tests for relay spec (Phase 9)
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/tests/relay_integration.rs
Labels: none

fix(relay): address spec violations and clippy errors found in review
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/tests/relay_integration.rs
Labels: none

feat(relay): replace is_node_query text scan with parser-based check
  crates/fraiseql-core/src/runtime/executor.rs
Labels: none

feat(relay): add execute_relay_page_v2 to DatabaseAdapter trait
  crates/fraiseql-core/src/db/mod.rs
  crates/fraiseql-core/src/db/traits.rs
Labels: none

feat(relay): implement execute_relay_page_v2 for PostgreSQL adapter
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
Labels: none

feat(relay): wire relay query executor to v2 with filter/sort/totalCount
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/db/where_clause.rs
  crates/fraiseql-core/src/runtime/executor.rs
Labels: none

feat(relay): add totalCount field to compiled connection types
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
Labels: none

feat(relay): add UUID cursor support and typed cursor API
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/compiler/aggregation.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/db/fraiseql_wire_adapter.rs
  crates/fraiseql-core/src/db/mod.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/runtime/relay.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
  crates/fraiseql-core/tests/relay_integration.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
Labels: none

feat(cli): add global [query_defaults] in fraiseql.toml
  Cargo.lock
  Cargo.toml
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/extract.rs
  crates/fraiseql-cli/src/commands/generate.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/relay_integration.rs
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/tests/test_decorators.py
Labels: tests

feat(cli): add security TOML config structs for all four subsections
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/tests/security_config_test.rs
Labels: none

feat(server): add error sanitization enforcement (Phase 02)
  crates/fraiseql-server/src/config/error_sanitization.rs
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/tests/error_handling_validation_test.rs
  crates/fraiseql-server/tests/example_validation_test.rs
  crates/fraiseql-server/tests/graceful_degradation_test.rs
  crates/fraiseql-server/tests/server_e2e_test.rs
Labels: none

feat(server): add StateEncryptionService (Phase 03)
  Cargo.lock
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/state_encryption.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/server.rs
Labels: none

feat(server): add PKCE auth routes (Phase 04)
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/oidc_server_client.rs
  crates/fraiseql-auth/src/pkce.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/tests/security_config_test.rs
  crates/fraiseql-server/src/routes/auth.rs
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/server.rs
Labels: none

feat(server): wire TOML rate limiting config to existing middleware (Phase 05)
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/middleware/rate_limit.rs
  crates/fraiseql-server/src/server.rs
Labels: none

fix(server): type-safe executor error classification via from_fraiseql_error
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/routes/graphql.rs
Labels: none

fix(server): fail-hard when state_encryption enabled but key env var absent
  crates/fraiseql-auth/src/state_encryption.rs
  crates/fraiseql-server/src/server.rs
Labels: none

feat(auth,server,cli): Redis PKCE/rate-limit backends + configurable per-user RPS
  crates/fraiseql-auth/Cargo.toml
  crates/fraiseql-auth/src/pkce.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/middleware/rate_limit.rs
  crates/fraiseql-server/src/routes/auth.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/server.rs
Labels: none

test(auth): PKCE state store round-trip integration tests (Phase E)
  crates/fraiseql-auth/src/pkce.rs
  crates/fraiseql-auth/tests/pkce_roundtrip_test.rs
  crates/fraiseql-server/src/routes/auth.rs
Labels: none
