Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(phase-7): Subphase 7.1 - ChangeLogListener (polling from tb_entity_change_log)
  crates/fraiseql-observers/src/config.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/listener/mod.rs
  crates/fraiseql-observers/src/matcher.rs
Labels: none

feat(phase-7): Subphase 7.2 - Event Conversion (Debezium envelope → EntityEvent)
  crates/fraiseql-observers/src/listener/change_log.rs
Labels: none

feat(phase-7): Subphase 7.3 - Listener Integration (lifecycle management)
  crates/fraiseql-observers/src/executor.rs
Labels: none

feat(phase-7): Subphase 7.4 - Error Handling & Resilience
  crates/fraiseql-observers/src/executor.rs
Labels: none

feat(phase-7): Subphase 7.5 - E2E Integration Tests (complete Phase 7)
  crates/fraiseql-observers/src/lib.rs
Labels: none

chore: Code quality improvements and clippy compliance
  crates/fraiseql-observers/src/condition.rs
  crates/fraiseql-observers/src/error.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/listener/change_log.rs
  crates/fraiseql-observers/src/matcher.rs
  crates/fraiseql-observers/src/testing.rs
  crates/fraiseql-observers/src/traits.rs
Labels: none

docs(fraisier): Comprehensive project documentation and CI/CD setup
  .github/workflows/fraisier-ci.yml
  fraisier/.claude/CLAUDE.md
  fraisier/.claude/PHASE_1_IMPLEMENTATION_PLAN.md
  fraisier/DEVELOPMENT.md
  fraisier/ROADMAP.md
  fraisier/docs/ARCHITECTURE.md
  fraisier/docs/DEPLOYMENT_GUIDE.md
  fraisier/docs/INDEX.md
  fraisier/docs/TESTING.md
Labels: ci

feat(fraisier): Complete deployer implementations
  fraisier/fraisier/deployers/api.py
  fraisier/fraisier/deployers/etl.py
  fraisier/fraisier/deployers/scheduled.py
Labels: none

test(fraisier): Comprehensive unit and integration tests
  fraisier/tests/__init__.py
  fraisier/tests/conftest.py
  fraisier/tests/test_database.py
  fraisier/tests/test_deployers.py
Labels: tests

test(fraisier): Configuration and Git provider tests
  fraisier/tests/test_config.py
  fraisier/tests/test_git_providers.py
Labels: tests

docs(fraisier): Phase 1 progress report
  fraisier/.claude/PHASE_1_PROGRESS.md
Labels: none

feat(phase-8): Subphase 8.1 - Persistent Checkpoints for zero-event-loss recovery
  crates/fraiseql-observers/.claude/PHASE_8_EXCELLENCE_DESIGN.md
  crates/fraiseql-observers/.claude/PHASE_8_EXECUTIVE_SUMMARY.md
  crates/fraiseql-observers/.claude/PHASE_8_IMPLEMENTATION_PLAN.md
  crates/fraiseql-observers/.claude/PHASE_8_PLAN.md
  crates/fraiseql-observers/.claude/PHASE_8_VISUAL_ARCHITECTURE.md
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/migrations/02_create_observer_checkpoints.sql
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/actions_additional.rs
  crates/fraiseql-observers/src/checkpoint/mod.rs
  crates/fraiseql-observers/src/checkpoint/postgres.rs
  crates/fraiseql-observers/src/condition.rs
  crates/fraiseql-observers/src/error.rs
  crates/fraiseql-observers/src/executor.rs
  crates/fraiseql-observers/src/lib.rs
Labels: none

refactor(fraisier): Database schema to trinity patterns
  fraisier/fraisier/database.py
Labels: none

test(fraisier): Update fixtures for trinity pattern schema
  fraisier/tests/conftest.py
Labels: none

feat(phase-8): Subphase 8.2 - Concurrent Action Execution for 5x latency reduction
  crates/fraiseql-observers/src/concurrent/mod.rs
  crates/fraiseql-observers/src/lib.rs
Labels: none

docs(fraisier): Trinity patterns comprehensive guide
  fraisier/.claude/TRINITY_PATTERNS.md
Labels: none

refactor(fraisier): Align trinity column order with PrintOptim standard
  fraisier/fraisier/database.py
Labels: none

docs(fraisier): Update trinity patterns for PrintOptim column order
  fraisier/.claude/TRINITY_PATTERNS.md
Labels: none

feat(phase-8): Subphase 8.3 - Event Deduplication with Redis time-window
  crates/fraiseql-observers/src/dedup/mod.rs
  crates/fraiseql-observers/src/dedup/redis.rs
  crates/fraiseql-observers/src/lib.rs
  fraisier/fraisier/database.py
Labels: none

feat(phase-8): Subphase 8.4 - Redis Caching Layer for 10x performance boost
  crates/fraiseql-observers/src/cache/mod.rs
  crates/fraiseql-observers/src/cache/redis.rs
  crates/fraiseql-observers/src/lib.rs
  fraisier/.claude/00_START_HERE.md
Labels: none

docs(.claude): Add START_HERE and INDEX navigation files
  fraisier/.claude/INDEX.md
Labels: none

docs(fraisier): Add QUICK_REFERENCE for common operations
  fraisier/.claude/QUICK_REFERENCE.md
Labels: none

docs(fraisier): Add DOCUMENTATION_SYSTEM meta-guide
  fraisier/.claude/DOCUMENTATION_SYSTEM.md
Labels: none

chore(phase-8): Complete phases 8.0-8.4 cleanup and status documentation
  crates/fraiseql-observers/.claude/PHASE_8_STATUS.md
Labels: none

feat(fraisier): Complete webhook handler with comprehensive tests
  fraisier/fraisier/webhook.py
  fraisier/tests/test_webhook.py
Labels: tests

feat(fraisier): Implement actual status checking in CLI commands
  fraisier/fraisier/cli.py
Labels: none

docs(fraisier): Update Phase 1 progress - ALL COMPLETE
  fraisier/.claude/PHASE_1_PROGRESS.md
Labels: none

docs(fraisier): Create Phase 2 implementation plan
  fraisier/.claude/PHASE_2_IMPLEMENTATION_PLAN.md
Labels: none

feat(fraisier): Add provider abstraction layer
  fraisier/fraisier/providers/__init__.py
Labels: none

feat(phase-8): Phase 8.5 - Elasticsearch Integration (event indexing & search)
  crates/fraiseql-observers/src/actions.rs
  crates/fraiseql-observers/src/concurrent/mod.rs
  crates/fraiseql-observers/src/condition.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/search/http.rs
  crates/fraiseql-observers/src/search/mod.rs
Labels: none

docs(phase-8): Add Phase 8.5 completion report
  crates/fraiseql-observers/.claude/PHASE_8_5_COMPLETION.md
Labels: none

feat(phase-2): Implement Bare Metal provider with deployment locks (Task 2.1)
  fraisier/fraisier/database.py
  fraisier/fraisier/locking.py
  fraisier/fraisier/providers/bare_metal.py
  fraisier/tests/test_providers.py
Labels: tests

feat(phase-8): Phase 8.6 - Job Queue System (async job processing with retries)
  crates/fraiseql-observers/.claude/PHASE_8_6_PLAN.md
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/queue/mod.rs
  crates/fraiseql-observers/src/queue/redis.rs
  crates/fraiseql-observers/src/queue/worker.rs
Labels: none

feat(fraiseql-observers/phase-8.7): Prometheus Metrics - Comprehensive Instrumentation
  crates/fraiseql-observers/.claude/PHASE_8_7_PLAN.md
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/metrics/http.rs
  crates/fraiseql-observers/src/metrics/mod.rs
Labels: none

feat(fraiseql-observers/phase-8.8): Circuit Breaker Pattern - Resilience Infrastructure
  crates/fraiseql-observers/.claude/PHASE_8_8_PLAN.md
  crates/fraiseql-observers/src/error.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/resilience/degradation.rs
  crates/fraiseql-observers/src/resilience/mod.rs
  crates/fraiseql-observers/src/resilience/per_endpoint.rs
  crates/fraiseql-observers/src/resilience/strategies.rs
Labels: none

feat(phase-2): Implement Docker Compose provider with comprehensive tests (Task 2.2)
  crates/fraiseql-observers/.claude/PHASE_8_9_PLAN.md
  crates/fraiseql-observers/src/listener/coordinator.rs
  crates/fraiseql-observers/src/listener/failover.rs
  crates/fraiseql-observers/src/listener/lease.rs
  crates/fraiseql-observers/src/listener/mod.rs
  crates/fraiseql-observers/src/listener/state.rs
  crates/fraiseql-observers/src/testing.rs
  fraisier/fraisier/providers/docker_compose.py
  fraisier/tests/test_providers.py
Labels: tests

feat(fraiseql): Phase 8.9 - Multi-Listener Failover (High Availability)
  crates/fraiseql-observers/src/config.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/listener/coordinator.rs
  crates/fraiseql-observers/src/listener/failover.rs
  crates/fraiseql-observers/src/listener/lease.rs
Labels: none

feat(phase-2): Implement Coolify provider and API client with tests (Task 2.3)
  fraisier/fraisier/providers/coolify.py
  fraisier/fraisier/providers/coolify_client.py
  fraisier/tests/test_providers.py
Labels: tests

fix(fraiseql): Phase 8.9 - Add doc comments and fix clippy warnings
  crates/fraiseql-observers/src/listener/coordinator.rs
  crates/fraiseql-observers/src/listener/failover.rs
  crates/fraiseql-observers/src/listener/state.rs
Labels: none

feat(phase-2): Add provider integration tests (Task 2.4.2)
  fraisier/tests/test_provider_integration.py
Labels: tests

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
