Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

fix(tests): update cascade test for new Entity response structure
  tests/integration/test_graphql_cascade.py
Labels: tests

feat(mutations): implement entity flattening with cascade support
  Cargo.lock
  fraiseql_rs/src/mutation/mod.rs
  src/fraiseql/mutations/entity_flattener.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/rust_executor.py
  tests/fixtures/cascade/conftest.py
  tests/integration/test_graphql_cascade.py
  tests/unit/mutations/test_entity_flattener.py
Labels: tests, mutations

fix(mutations): correct entity flattener field removal and cascade priority
  src/fraiseql/mutations/entity_flattener.py
Labels: mutations

refactor(db): rename mutation_result_v2 to mutation_response in PostgreSQL
  examples/mutations_demo/v2_init.sql
  examples/mutations_demo/v2_mutation_functions.sql
  migrations/trinity/005_add_mutation_response.sql
Labels: none

docs(rust): remove backward compatibility notes from mutation_response
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/mutation/mod.rs
Labels: none

docs(rust): complete mutation_response rename - remove all v2 references
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
Labels: none

docs(py): update to use mutation_response terminology
  src/fraiseql/mutations/entity_flattener.py
  src/fraiseql/mutations/rust_executor.py
Labels: mutations

docs: update mutation_response references
  CHANGELOG.md
  docs/features/graphql-cascade.md
  docs/features/mutation-result-reference.md
  docs/features/sql-function-return-format.md
  docs/mutations/status-strings.md
Labels: documentation

docs(python): update mutation_result_v2 references to mutation_response
  src/fraiseql/mutations/entity_flattener.py
  src/fraiseql/mutations/rust_executor.py
Labels: mutations

refactor: complete mutation_result_v2 to mutation_response rename
  CHANGELOG.md
  tests/fixtures/cascade/conftest.py
  tests/integration/graphql/mutations/test_unified_camel_case.py
  tests/test_mutations/test_status_taxonomy.py
Labels: documentation, tests

fix(changelog): correct mutation_result_v2 to mutation_response rename entry
  CHANGELOG.md
Labels: documentation

refactor: rename mutation_result_v2 to mutation_response
  CHANGELOG.md
  docs/features/graphql-cascade.md
  docs/features/mutation-result-reference.md
  docs/features/sql-function-return-format.md
  docs/mutations/status-strings.md
  examples/mutations_demo/v2_init.sql
  examples/mutations_demo/v2_mutation_functions.sql
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
  migrations/trinity/005_add_mutation_response.sql
  src/fraiseql/mutations/rust_executor.py
  tests/fixtures/cascade/conftest.py
  tests/integration/graphql/mutations/test_unified_camel_case.py
  tests/test_mutations/test_status_taxonomy.py
Labels: documentation, tests, mutations

fix(tests): update test to use mutation_response type + bump version to v1.8.0
  README.md
  pyproject.toml
  tests/integration/graphql/mutations/test_mutation_object_data_mapping.py
Labels: documentation, tests, config, dependencies

fix(tests): update version to v1.8.0 in Cargo.toml and __init__.py
  Cargo.toml
  fraiseql_rs/Cargo.toml
  src/fraiseql/__init__.py
Labels: none

fix(mutations): resolve entity flattening issues with input type nullability
  Cargo.lock
  src/fraiseql/core/graphql_type.py
  src/fraiseql/mutations/entity_flattener.py
  src/fraiseql/mutations/types.py
  uv.lock
Labels: core, mutations

test(enum): update test to expect non-null enum in input types
  tests/unit/core/type_system/test_enum.py
Labels: tests

test(graphql): update type conversion tests for non-null input fields
  tests/unit/core/type_system/test_graphql_type_conversion.py
Labels: tests

release: prepare v1.8.0-alpha.1
  CHANGELOG.md
  Cargo.toml
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix(ci): normalize Python/Rust version formats in check script
  scripts/check_versions.py
Labels: none

docs(readme): update version references to v1.8.0-alpha.1
  README.md
Labels: documentation

release: v1.8.0-alpha.1 - mutation_response rename + critical fixes
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/features/graphql-cascade.md
  docs/features/mutation-result-reference.md
  docs/features/sql-function-return-format.md
  docs/mutations/status-strings.md
  examples/mutations_demo/v2_init.sql
  examples/mutations_demo/v2_mutation_functions.sql
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
  migrations/trinity/005_add_mutation_response.sql
  pyproject.toml
  scripts/check_versions.py
  src/fraiseql/__init__.py
  src/fraiseql/core/graphql_type.py
  src/fraiseql/mutations/entity_flattener.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/rust_executor.py
  src/fraiseql/mutations/types.py
  tests/fixtures/cascade/conftest.py
  tests/integration/graphql/mutations/test_mutation_object_data_mapping.py
  tests/integration/graphql/mutations/test_unified_camel_case.py
  tests/integration/test_graphql_cascade.py
  tests/test_mutations/test_status_taxonomy.py
  tests/unit/core/type_system/test_enum.py
  tests/unit/core/type_system/test_graphql_type_conversion.py
  tests/unit/mutations/test_entity_flattener.py
  tests/unit/mutations/test_rust_executor.py
  tests/unit/mutations/test_rust_mutation_binding.py
  uv.lock
Labels: documentation, tests, core, mutations, config, dependencies

feat(config): add default_error_config to FraiseQLConfig
  Cargo.lock
  phase_plan.md
  src/fraiseql/fastapi/config.py
  src/fraiseql/mutations/mutation_decorator.py
  tests/mutations/test_default_error_config.py
  uv.lock
Labels: documentation, tests, mutations

docs(config): add default_error_config documentation
  docs/reference/config.md
  docs/reference/decorators.md
Labels: documentation

docs(changelog): add default_error_config feature to unreleased
  CHANGELOG.md
Labels: documentation

chore: remove phase_plan.md after feature completion
  phase_plan.md
Labels: documentation

fix(cascade): fix entity field resolution when enable_cascade=True
  docs/README.md
  docs/mutations/cascade_architecture.md
  docs/mutations/migration_guide.md
  examples/cascade-create-post/README.md
  examples/cascade-create-post/schema.sql
  examples/cascade-patterns/README.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/tests.rs
  src/fraiseql/mutations/entity_flattener.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/parser.py
  src/fraiseql/mutations/rust_executor.py
  tests/fixtures/cascade/conftest.py
  tests/integration/test_graphql_cascade.py
  tests/unit/mutations/test_entity_flattener.py
  tests/unit/mutations/test_mutation_validation_logging.py
Labels: documentation, tests, mutations

fix(cascade): correct __typename capitalization for nested entity fields
  fraiseql_rs/src/mutation/mod.rs
  tests/fixtures/cascade/conftest.py
Labels: tests

release: bump version to v1.8.0-alpha.2
  CHANGELOG.md
  README.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
  uv.lock
Labels: documentation, config, dependencies

fix(parser): handle list object_data and mock __name__ for Python 3.13
  src/fraiseql/mutations/parser.py
  tests/integration/graphql/mutations/test_parser_extended.py
Labels: tests, mutations

docs: fix broken cascade examples link
  docs/README.md
Labels: documentation

release: v1.8.0-alpha.2 - default_error_config + cascade fixes (#160)
  CHANGELOG.md
  Cargo.lock
  README.md
  docs/README.md
  docs/mutations/cascade_architecture.md
  docs/mutations/migration_guide.md
  docs/reference/config.md
  docs/reference/decorators.md
  examples/cascade-create-post/README.md
  examples/cascade-create-post/schema.sql
  examples/cascade-patterns/README.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/tests.rs
  pyproject.toml
  src/fraiseql/__init__.py
  src/fraiseql/fastapi/config.py
  src/fraiseql/mutations/entity_flattener.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/parser.py
  src/fraiseql/mutations/rust_executor.py
  tests/fixtures/cascade/conftest.py
  tests/integration/graphql/mutations/test_parser_extended.py
  tests/integration/test_graphql_cascade.py
  tests/mutations/test_default_error_config.py
  tests/unit/mutations/test_entity_flattener.py
  tests/unit/mutations/test_mutation_validation_logging.py
  uv.lock
Labels: documentation, tests, mutations, config, dependencies

feat(mutations): unified Rust mutation pipeline - phases 1-7 complete
  docs/advanced/examples.md
  docs/advanced/migration-guide.md
  docs/advanced/rust-mutation-pipeline.md
  docs/architecture/mutation_pipeline.md
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/benches/mutation_benchmark.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/mutation/entity_processor.rs
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/parser.rs
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/mutation/tests.rs
  fraiseql_rs/src/mutation/types.rs
  src/fraiseql/mutations/__init__.py
  src/fraiseql/mutations/entity_flattener.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/parser.py
  src/fraiseql/mutations/rust_executor.py
  tests/integration/graphql/mutations/test_mutation_dict_responses.py
  tests/integration/graphql/mutations/test_mutation_rust_pipeline.py
  tests/unit/mutations/test_entity_flattener.py
Labels: documentation, tests, mutations

chore(cleanup): phase 8 - remove obsolete tests and docs [PHASE 8]
  docs/architecture/decisions/002_ultra_direct_mutation_path.md
  docs/mutations/cascade_architecture.md
  docs/planning/archived-pre-v1.9/cascade-implementation-recommendation.md
  docs/planning/archived-pre-v1.9/graphql-cascade-simplified-approach.md
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/response_builder.rs
  tests/fixtures/common/test_fraiseql_patterns.py
  tests/fixtures/common/test_zero_inheritance_patterns.py
  tests/integration/graphql/mutations/test_auto_mutation_fields.py
  tests/integration/graphql/mutations/test_mutation_entity_mapping.py
  tests/integration/graphql/mutations/test_mutation_error_as_data.py
  tests/integration/graphql/mutations/test_mutation_error_autopop.py
  tests/integration/graphql/mutations/test_mutation_production_mode.py
  tests/integration/graphql/mutations/test_object_data_mapping_fix.py
  tests/integration/graphql/mutations/test_parser.py
  tests/integration/graphql/mutations/test_parser_extended.py
  tests/regression/test_conflict_auto_population_fixes.py
  tests/unit/core/type_system/test_conflict_object_camelcase.py
  tests/unit/core/type_system/test_default_error_type.py
  tests/unit/core/type_system/test_error_details_camelcase.py
  tests/unit/core/type_system/test_unset_field_exclusion.py
  tests/unit/graphql/test_graphql_error_serialization.py
  tests/unit/mutations/test_all_entity_types_conflict_resolution.py
  tests/unit/mutations/test_conflict_entity_instantiation_bug_fix.py
  tests/unit/mutations/test_mutation_validation_logging.py
  tests/unit/mutations/test_populate_conflict_fields.py
Labels: documentation, tests

feat(dev): add pre-push hook to prevent pushing broken code
  .pre-commit-config.yaml
  docs/development/pre-push-hooks.md
Labels: documentation, config

release: v1.8.0-alpha.3 - unified Rust mutation pipeline
  CHANGELOG.md
  fraiseql_rs/Cargo.toml
  pyproject.toml
  src/fraiseql/__init__.py
Labels: documentation, config, dependencies

fix(build): add thiserror dependency to root Cargo.toml
  Cargo.toml
  fraiseql_rs/Cargo.lock
  uv.lock
Labels: none

chore(deps): update Cargo.lock after thiserror dependency addition
  Cargo.lock
Labels: none

fix(tests): remove obsolete test_mutation_object_data_mapping.py
  tests/integration/graphql/mutations/test_mutation_object_data_mapping.py
Labels: tests

fix(tests): remove obsolete regression test for old mutation system
  tests/regression/test_issue_110_rust_mutation_object_return.py
Labels: tests

fix(tests): update test_resolver_calls_database_function for dict responses
  tests/unit/decorators/test_mutation_decorator.py
Labels: tests

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
