Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

docs(phase-2): Add comprehensive session summary documenting all work completed
  .phases/PHASE_2_SESSION_SUMMARY.md
Labels: none

feat(graphql): Implement GREEN phase - test GraphQL executor with query execution
  crates/fraiseql-server/tests/common/graphql_executor.rs
  crates/fraiseql-server/tests/common/mod.rs
  crates/fraiseql-server/tests/graphql_features_e2e_test.rs
Labels: none

refactor(graphql): Improve code clarity and fix clippy warnings
  crates/fraiseql-server/tests/common/database_fixture.rs
  crates/fraiseql-server/tests/common/graphql_executor.rs
Labels: none

docs(phase-2): Mark Cycle 2 as COMPLETE (all TDD phases finished)
  .phases/phase-02-correctness.md
Labels: none

docs(phase-2): Add comprehensive final status report
  .phases/PHASE_2_FINAL_STATUS.md
Labels: none

test(sagas): Complete Cycle 3 GREEN phase for federation saga validation
  crates/fraiseql-server/tests/common/mod.rs
  crates/fraiseql-server/tests/common/saga_executor.rs
  crates/fraiseql-server/tests/documentation_examples_test.rs
  crates/fraiseql-server/tests/federation_saga_validation_test.rs
Labels: none

test(errors): Complete Cycle 4 GREEN phase for error handling validation
  crates/fraiseql-server/tests/error_handling_validation_test.rs
Labels: none

test(docs): Complete Cycle 5 GREEN phase for documentation examples validation
  crates/fraiseql-server/tests/documentation_examples_test.rs
Labels: none

docs(phase-2): Complete Phase 2 Correctness Testing with all cycles GREEN
  .phases/PHASE_2_SESSION_COMPLETE.md
Labels: none

chore(phase-2): Complete CLEANUP phase for Phase 2 Correctness Testing
  .phases/PHASE_2_CLEANUP_COMPLETE.md
Labels: none

docs(phase-3): Comprehensive codebase analysis for performance optimization
  .phases/PHASE_3_ANALYSIS.md
Labels: none

feat(phase-3): Establish Phase 3 Cycle 1 baseline benchmarking
  .phases/PHASE_3_CYCLE_1_RESULTS.md
  BENCHMARKS.md
  BENCHMARK_QUICK_START.sh
  BENCHMARK_SETUP.md
  PHASE_3_CYCLE_1_BASELINE.md
  phase3_baseline_sample.txt
Labels: documentation

feat(perf): Enable SQL projection by default for 42-55% latency reduction
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/db/fraiseql_wire_adapter.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_query_execution.rs
  crates/fraiseql-core/tests/federation_database_integration.rs
  crates/fraiseql-core/tests/federation_mutations_integration.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
Labels: none

docs(perf): Complete Phase 3, Cycle 1 baseline benchmarking
  .phases/PHASE_3_CYCLE_1_COMPLETION_REPORT.md
Labels: none

docs(cycle2): Add SQL projection optimization documentation
  crates/fraiseql-core/src/db/traits.rs
  docs/deployment/migration-projection.md
  docs/performance/projection-baseline-results.md
  docs/performance/projection-optimization.md
Labels: documentation

docs(cycle2): Add connection pool tuning and performance guide
  docs/performance/README.md
  docs/performance/connection-pool-tuning.md
Labels: documentation

docs(phase3): Complete Cycle 2 - Quick Wins Implementation
  .phases/PHASE_3_CYCLE_2_COMPLETION_REPORT.md
Labels: none

feat(arrow): Create DatabaseAdapter wrapper for Flight service
  crates/fraiseql-server/src/arrow/database_adapter.rs
  crates/fraiseql-server/src/arrow/mod.rs
  crates/fraiseql-server/src/lib.rs
Labels: none

feat(arrow): Integrate Flight server with real database adapter support
  crates/fraiseql-server/src/arrow/mod.rs
  crates/fraiseql-server/src/server.rs
Labels: none

feat(arrow): Wire real database adapter in main server startup
  crates/fraiseql-server/src/arrow/mod.rs
  crates/fraiseql-server/src/main.rs
Labels: none

test(arrow): Add SQL DDL and integration tests for ta_* tables
  crates/fraiseql-arrow/tests/flight_integration.rs
  tests/sql/postgres/ta_orders.sql
  tests/sql/postgres/ta_users.sql
Labels: tests

docs(arrow): Add Python client example and documentation
  examples/python/README.md
  examples/python/test_arrow_flight.py
Labels: tests

test(arrow): Implement full integration tests with real PostgreSQL
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/tests/flight_integration.rs
Labels: none

perf(arrow): Add comprehensive benchmarks and performance report
  PERFORMANCE_REPORT.md
  crates/fraiseql-arrow/Cargo.toml
  crates/fraiseql-arrow/benches/flight_benchmarks.rs
Labels: documentation

feat(arrow): Implement batch queries and query caching
  Cargo.lock
  crates/fraiseql-arrow/benches/flight_benchmarks.rs
  crates/fraiseql-arrow/src/cache.rs
  crates/fraiseql-arrow/src/flight_server.rs
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-arrow/src/schema_gen.rs
  crates/fraiseql-arrow/src/ticket.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
Labels: none

test(phase2): Format code for Phase 2 Cycle 3 - Federation Saga Validation
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/tests/federation_database_integration.rs
  crates/fraiseql-core/tests/federation_mutations_integration.rs
  crates/fraiseql-core/tests/federation_observability_perf.rs
Labels: none

test(phase2-cycle4): RED phase - comprehensive error handling tests
  crates/fraiseql-server/tests/error_handling_validation_test.rs
Labels: none

test(phase2-cycle4): GREEN phase - integrate error handling validation with real infrastructure
  crates/fraiseql-server/tests/error_handling_validation_test.rs
Labels: none

refactor(phase2-cycle4): Improve error handling - better helpers and context
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/tests/error_handling_validation_test.rs
Labels: none

chore(phase2-cycle4): Cleanup - remove development markers
  crates/fraiseql-server/tests/error_handling_validation_test.rs
Labels: none

test(phase2-cycle5): Example validation - GREEN phase
  crates/fraiseql-server/tests/example_validation_test.rs
Labels: none

refactor(phase2-cycle5): Improve example test documentation
  crates/fraiseql-server/tests/example_validation_test.rs
Labels: none

test(phase3-cycle1): Cache performance validation - GREEN phase
  crates/fraiseql-arrow/tests/cache_performance_validation_test.rs
Labels: none

refactor(phase3-cycle1): Improve cache performance test documentation
  crates/fraiseql-arrow/tests/cache_performance_validation_test.rs
Labels: none

test(pool): Connection pooling validation tests
  crates/fraiseql-server/tests/connection_pooling_validation_test.rs
Labels: none

test(optim): Query optimization validation tests
  crates/fraiseql-core/tests/query_optimization_validation_test.rs
Labels: none

test(metrics): Phase 3 Cycle 4 - Metrics & Monitoring Validation
  crates/fraiseql-server/tests/metrics_monitoring_validation_test.rs
Labels: none

test(integration): Phase 3 Cycle 5 - Integration Performance Validation
  crates/fraiseql-server/tests/integration_performance_validation_test.rs
Labels: none

test(arrow-flight): Phase 4 Cycle 1 - Arrow Flight Test Hardening
  crates/fraiseql-arrow/tests/flight_e2e_test.rs
  crates/fraiseql-arrow/tests/flight_error_handling_test.rs
  crates/fraiseql-arrow/tests/flight_integration.rs
Labels: none

test(observers): Phase 4 Cycle 2 - Observer System Hardening
  crates/fraiseql-observers/tests/integration_test.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
