Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

test(cli): query defaults cross-concern priority tests (Phase F)
  crates/fraiseql-cli/tests/query_defaults_test.rs
Labels: none

docs(release): APQ cache RLS dependency, SQLite error clarity, database matrix
  CHANGELOG.md
  README.md
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-server/src/middleware/rate_limit.rs
Labels: documentation

fix(server,core): SQL Server relay parity + federation circuit breaker hardening
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  QUALITY_ASSESSMENT_FINAL.md
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/adapter.rs
  crates/fraiseql-core/src/db/sqlserver/where_generator.rs
  crates/fraiseql-core/src/error.rs
  crates/fraiseql-core/tests/multi_database_integration.rs
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_backward_custom_order_by_asc.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_backward_custom_order_by_multi_column.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_backward_int64_cursor.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_backward_no_cursor_no_order.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_backward_uuid_cursor.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_count_query_no_where.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_count_query_with_where.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_forward_custom_order_by.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_forward_int64_cursor.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_forward_no_cursor_no_order.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_forward_uuid_cursor.snap
  crates/fraiseql-core/tests/snapshots/sql_snapshots__sqlserver_relay__snapshot_sqlserver_relay_forward_where_clause.snap
  crates/fraiseql-core/tests/sql_snapshots.rs
  crates/fraiseql-server/src/federation/circuit_breaker.rs
  docker/init/sqlserver-test.sql
Labels: documentation

fix(server,auth): PKCE auth route hardening + rate limiting correctness (8 issues)
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-server/src/middleware/rate_limit.rs
  crates/fraiseql-server/src/routes/auth.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/tests/rate_limiting_integration_test.rs
Labels: none

docs(changelog): PKCE auth hardening + rate limiting fixes (8 issues)
  CHANGELOG.md
Labels: documentation

fix(server): fix 5 major + 3 minor rate limiter bugs
  crates/fraiseql-server/src/middleware/rate_limit.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/tests/rate_limiting_integration_test.rs
Labels: none

fix(core,cli): aggregate/window SQL security + doc accuracy
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-core/src/compiler/compilation_cache.rs
  crates/fraiseql-core/src/compiler/ir.rs
  crates/fraiseql-core/src/compiler/mod.rs
  crates/fraiseql-core/src/compiler/parser.rs
  crates/fraiseql-core/src/compiler/window_functions.rs
  crates/fraiseql-core/src/db/identifier.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/runtime/aggregation.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/src/utils/casing.rs
  crates/fraiseql-core/src/validation/id_policy.rs
Labels: none

feat(observers): distributed checkpoint leasing (Phase 01)
  crates/fraiseql-observers/Cargo.toml
  crates/fraiseql-observers/src/error.rs
  crates/fraiseql-observers/src/listener/lease.rs
Labels: none

fix(observers): atomic dedup claim via SET NX EX (Phase 02)
  crates/fraiseql-observers/src/dedup/mod.rs
  crates/fraiseql-observers/src/dedup/redis.rs
  crates/fraiseql-observers/src/deduped_executor.rs
Labels: none

fix(observers): atomic DLQ ops via Lua scripts (Phase 03)
  crates/fraiseql-observers/src/job_queue/dlq.rs
  crates/fraiseql-observers/src/job_queue/redis.rs
Labels: none

fix(observers): checkpoint guards + CAS first-entry edge-case (Phase 04)
  crates/fraiseql-observers/src/checkpoint/mod.rs
  crates/fraiseql-observers/src/checkpoint/postgres.rs
  crates/fraiseql-observers/src/lib.rs
Labels: none

perf(observers): O(1) job status via shadow Redis hash (Phase 05)
  crates/fraiseql-observers/src/job_queue/dlq.rs
  crates/fraiseql-observers/src/job_queue/redis.rs
Labels: none

fix(observers): merge split mutexes in InProcessLease (Phase 06)
  crates/fraiseql-observers/src/listener/lease.rs
Labels: none

fix(observers): route deserialization failures to DLQ + counter (Phase 07)
  crates/fraiseql-observers/src/error.rs
  crates/fraiseql-observers/src/executor.rs
  crates/fraiseql-observers/src/metrics/registry.rs
  crates/fraiseql-observers/src/traits.rs
  crates/fraiseql-observers/src/transport/nats.rs
Labels: none

fix(observers): enforce tenant boundary in DedupedObserverExecutor (Phase 08)
  crates/fraiseql-observers/src/deduped_executor.rs
  crates/fraiseql-observers/src/error.rs
  crates/fraiseql-observers/src/executor.rs
  crates/fraiseql-observers/src/metrics/registry.rs
  crates/fraiseql-observers/src/queued_executor.rs
Labels: none

chore(observers): finalize observers-cdc-hardening (Phase 09)
  crates/fraiseql-observers/src/checkpoint/mod.rs
  crates/fraiseql-observers/src/deduped_executor.rs
  crates/fraiseql-observers/src/transport/nats.rs
Labels: none

fix(secrets): harden field-level encryption + key lifecycle
  Cargo.lock
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-observers/benches/observer_benchmarks.rs
  crates/fraiseql-secrets/Cargo.toml
  crates/fraiseql-secrets/src/encryption/credential_rotation.rs
  crates/fraiseql-secrets/src/encryption/database_adapter.rs
  crates/fraiseql-secrets/src/encryption/middleware.rs
  crates/fraiseql-secrets/src/encryption/mod.rs
Labels: none

chore(cli): rename fraiseql-cli bin target to fraiseql-cli
  crates/fraiseql-cli/Cargo.toml
Labels: none

fix(cache): address cache key correctness and invalidation gaps
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/extract.rs
  crates/fraiseql-cli/src/commands/generate.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/relay_integration.rs
  crates/fraiseql-server/src/middleware/rate_limit.rs
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/tests/test_decorators.py
Labels: tests

feat(cache): harden cache correctness — content hash, RLS warning, multi-view tracking, fact-table invalidation
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/extract.rs
  crates/fraiseql-cli/src/commands/generate.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/cache/mod.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/relay_integration.rs
  crates/fraiseql-server/src/routes/health.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/tests/graceful_degradation_test.rs
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/tests/test_decorators.py
Labels: tests

feat(where): wire missing WHERE operators (nlike, nilike, regex, iregex, nregex, niregex) + v1 aliases
  crates/fraiseql-core/src/db/mysql/where_generator.rs
  crates/fraiseql-core/src/db/postgres/where_generator.rs
  crates/fraiseql-core/src/db/sqlite/where_generator.rs
  crates/fraiseql-core/src/db/sqlserver/where_generator.rs
  crates/fraiseql-core/src/db/where_clause.rs
  crates/fraiseql-core/src/db/where_sql_generator.rs
  crates/fraiseql-core/src/schema/compiled.rs
Labels: none

fix(tests): resolve pre-existing test and clippy issues
  crates/fraiseql-cli/tests/ai_agent_tests.rs
  crates/fraiseql-cli/tests/init_integration_test.rs
  crates/fraiseql-cli/tests/integration_domain_discovery.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/tests/error_cache_failures.rs
  crates/fraiseql-core/tests/error_real_cache.rs
Labels: none

fix(security): validate SQL identifiers at compile time
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/identifier_validation_test.rs
  crates/fraiseql-cli/tests/integration_toml_workflow.rs
  crates/fraiseql-cli/tests/security_config_integration.rs
  fraiseql-python/examples/ecommerce_with_observers.py
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/tests/test_decorators.py
  fraiseql-python/tests/test_types.py
Labels: tests

feat(security): add CSRF Content-Type enforcement and request body size limit
  crates/fraiseql-server/src/middleware/content_type.rs
  crates/fraiseql-server/src/middleware/mod.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/src/server_config.rs
Labels: none

feat(auth): add API key authentication, token revocation, and auth provider docs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-server/src/api_key.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/auth.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/src/token_revocation.rs
  docs/auth/auth0.md
  docs/auth/saml-sso.md
Labels: documentation

feat(subscriptions): add protocol negotiation, lifecycle hooks, count limits, and filter_fields
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/subscription/manager.rs
  crates/fraiseql-core/src/runtime/subscription/tests.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/routes/mod.rs
  crates/fraiseql-server/src/routes/subscriptions.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/src/subscriptions/lifecycle.rs
  crates/fraiseql-server/src/subscriptions/mod.rs
  crates/fraiseql-server/src/subscriptions/protocol.rs
  crates/fraiseql-server/src/subscriptions/webhook_lifecycle.rs
Labels: none

feat(caching): add APQ implementations, result cache invalidation, and complexity config
  Cargo.lock
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/src/apq/memory_storage.rs
  crates/fraiseql-core/src/apq/mod.rs
  crates/fraiseql-core/src/apq/redis_storage.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/tests/graphql_e2e_test.rs
  crates/fraiseql-server/tests/privilege_escalation_test.rs
  crates/fraiseql-server/tests/profile_query_limits_test.rs
  crates/fraiseql-server/tests/security_stack_integration_test.rs
  crates/fraiseql-server/tests/server_e2e_test.rs
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/tests/test_decorators.py
Labels: tests

feat(security): add field masking wire-up and type visibility by role
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/commands/extract.rs
  crates/fraiseql-cli/src/commands/generate.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/cache/key.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/field_filter.rs
  crates/fraiseql-core/src/runtime/matcher.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/runtime/mutation_result.rs
  crates/fraiseql-core/src/runtime/planner.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/dependency_graph.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/introspection.rs
  crates/fraiseql-core/src/schema/mod.rs
  crates/fraiseql-core/tests/auth_sdk_integration.rs
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
  crates/fraiseql-core/tests/mutation_execution_test.rs
  crates/fraiseql-core/tests/relay_integration.rs
  crates/fraiseql-server/src/routes/introspection.rs
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/src/fraiseql/registry.py
  fraiseql-python/src/fraiseql/types.py
  fraiseql-python/tests/test_decorators.py
Labels: tests

feat(analysis): add per-operation metrics, real query explain, and DB-level EXPLAIN
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/cache/adapter.rs
  crates/fraiseql-core/src/cache/result.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/db/mysql/adapter.rs
  crates/fraiseql-core/src/db/postgres/adapter.rs
  crates/fraiseql-core/src/db/sqlite/adapter.rs
  crates/fraiseql-core/src/db/traits.rs
  crates/fraiseql-core/src/runtime/executor.rs
  crates/fraiseql-core/src/runtime/explain.rs
  crates/fraiseql-core/src/runtime/mod.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/field_type.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
  crates/fraiseql-server/src/metrics_server.rs
  crates/fraiseql-server/src/routes/api/query.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/tests/api_infrastructure_tests.rs
  crates/fraiseql-server/tests/api_query_tests.rs
Labels: none

feat(integrations): add MCP server, Python client, LangChain, and LlamaIndex integrations
  Cargo.lock
  crates/fraiseql-cli/src/commands/compile.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/optimizer.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/bench_rich_filters.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/integration_custom_scalars.rs
  crates/fraiseql-cli/tests/integration_rich_filters.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/schema/compiled.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/e2e_field_rbac_pipeline.rs
  crates/fraiseql-core/tests/integration_executor_field_rbac.rs
  crates/fraiseql-core/tests/integration_field_rbac_errors.rs
  crates/fraiseql-core/tests/integration_field_rbac_runtime.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/mcp/executor.rs
  crates/fraiseql-server/src/mcp/handler.rs
  crates/fraiseql-server/src/mcp/mod.rs
  crates/fraiseql-server/src/mcp/tools.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/server.rs
  fraiseql-python/pyproject.toml
  fraiseql-python/src/fraiseql/client.py
  fraiseql-python/src/fraiseql/integrations/__init__.py
  fraiseql-python/src/fraiseql/integrations/langchain.py
  fraiseql-python/src/fraiseql/integrations/llamaindex.py
  fraiseql-python/tests/test_client.py
  fraiseql-python/tests/test_langchain.py
  fraiseql-python/tests/test_llamaindex.py
  fraiseql-python/uv.lock
Labels: tests

feat(trusted-documents): add trusted document store, CLI validation, and TOML config
  Cargo.lock
  crates/fraiseql-arrow/src/lib.rs
  crates/fraiseql-cli/Cargo.toml
  crates/fraiseql-cli/src/commands/mod.rs
  crates/fraiseql-cli/src/commands/validate_documents.rs
  crates/fraiseql-cli/src/config/toml_schema.rs
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-server/src/arrow/mod.rs
  crates/fraiseql-server/src/error.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/routes/metrics.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/src/trusted_documents.rs
  crates/fraiseql-server/tests/graphql_e2e_test.rs
  crates/fraiseql-server/tests/privilege_escalation_test.rs
  crates/fraiseql-server/tests/profile_query_limits_test.rs
  crates/fraiseql-server/tests/security_stack_integration_test.rs
  crates/fraiseql-server/tests/server_e2e_test.rs
Labels: none

chore: add mutants.out/ to .gitignore
  .gitignore
Labels: none

chore: prepare v2.0.0 release
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fraiseql-core/src/federation/saga_store.rs
  crates/fraiseql-core/tests/query_optimization_validation_test.rs
  crates/fraiseql-server/src/arrow/mod.rs
  docker/federation-ci/docker-compose.yml
  docker/federation-ci/init-mysql.sql
  docker/federation-ci/init-postgres.sql
  docker/federation-ci/orders-service/Dockerfile
  docker/federation-ci/orders-service/server.py
  docker/federation-ci/products-service/Dockerfile
  docker/federation-ci/products-service/server.py
  docker/federation-ci/resolv.conf
  docker/federation-ci/router.yaml
  docker/federation-ci/supergraph.graphql
  docker/federation-ci/users-service/Dockerfile
  docker/federation-ci/users-service/server.py
  fraiseql-python/pyproject.toml
Labels: ci

chore(dev): add clean-test-containers Makefile target
  Makefile
Labels: none

ci: add full test infrastructure for all #[ignore] tests
  .github/workflows/ci.yml
  Cargo.lock
  Makefile
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-wire/Cargo.toml
  docker/docker-compose.test.yml
  docker/init/postgres-tls-setup.sh
Labels: ci

fix(ci): wire up all ignored tests with proper infrastructure
  .github/workflows/ci.yml
  crates/fraiseql-core/src/apq/redis_storage.rs
  crates/fraiseql-observers/src/transport/nats.rs
  crates/fraiseql-observers/tests/nats_integration.rs
  crates/fraiseql-server/tests/database_query_test.rs
  docker/init/postgres-tls-setup.sh
Labels: ci

ci: add HTTP E2E server integration test job
  .github/workflows/ci.yml
  docker/e2e/init-postgres.sql
Labels: ci

ci(e2e): force-track schema.compiled.json for E2E test fixture
  docker/e2e/schema.compiled.json
Labels: none

fix(executor): fall back to operation.table when mutation sql_source is None (issue #53)
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/runtime/executor.rs
Labels: none

test(coverage): phases 01-03 — golden fixtures, Rust struct assertions, Python SDK
  crates/fraiseql-cli/src/commands/extract.rs
  crates/fraiseql-cli/src/commands/generate.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-cli/src/schema/intermediate.rs
  crates/fraiseql-cli/src/schema/validator.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-cli/tests/query_defaults_test.rs
  crates/fraiseql-cli/tests/relay_compiler_test.rs
  crates/fraiseql-core/src/compiler/codegen.rs
  crates/fraiseql-core/src/schema/tests.rs
  crates/fraiseql-core/tests/golden_fixtures_test.rs
  fraiseql-python/src/fraiseql/__init__.py
  fraiseql-python/src/fraiseql/decorators.py
  fraiseql-python/src/fraiseql/registry.py
  fraiseql-python/tests/test_decorators.py
  fraiseql-python/tests/test_golden_schema.py
  fraiseql-python/uv.lock
  tests/fixtures/golden/01-basic-query-mutation.json
  tests/fixtures/golden/02-enum-input-subscription.json
  tests/fixtures/golden/03-interface-union-directive.json
  tests/fixtures/golden/04-error-type.json
  tests/fixtures/golden/05-security-inject-cache.json
  tests/fixtures/golden/06-relay-int64-cursor.json
  tests/fixtures/golden/07-relay-uuid-cursor.json
  tests/fixtures/golden/08-deprecation-advanced.json
  tests/fixtures/golden/python-sdk-01-basic.json
Labels: tests

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
