Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt

fix(clippy): use is_some_and/is_none_or (Phase 5m)
  fraiseql_rs/src/mutation/mod.rs
  fraiseql_rs/src/mutation/parser.rs
  fraiseql_rs/src/rbac/models.rs
Labels: none

fix(clippy): replace unwrap with safer alternatives (Phase 5n)
  fraiseql_rs/src/mutations.rs
  fraiseql_rs/src/query/mod.rs
Labels: none

fix(clippy): use Option<&T> instead of &Option<T> (Phase 5o)
  fraiseql_rs/src/db/query.rs
Labels: none

fix(clippy): remove needless borrows (Phase 5p)
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/builder.rs
Labels: none

fix(clippy): use map_or_else instead of map+unwrap_or_else (Phase 5q)
  fraiseql_rs/src/mutation/response_builder.rs
  fraiseql_rs/src/security/rate_limit.rs
Labels: none

fix(clippy): replace redundant closure with method reference (Phase 5r)
  fraiseql_rs/src/db/query.rs
Labels: none

fix(clippy): use explicit pattern instead of wildcard match (Phase 5s)
  fraiseql_rs/src/graphql/parser.rs
Labels: none

fix(clippy): use map_or_else to avoid eager evaluation (Phase 5t)
  fraiseql_rs/src/query/composer.rs
Labels: none

fix(clippy): add backticks to type name in documentation (Phase 5u)
  fraiseql_rs/src/query/mod.rs
Labels: none

fix(clippy): move const declaration before statements (Phase 5v)
  fraiseql_rs/src/security/audit.rs
Labels: none

fix(clippy): remove redundant if-else with identical branches (Phase 5w)
  fraiseql_rs/src/security/config.rs
Labels: none

fix(clippy): prefix intentionally unused parameter with underscore (Phase 5x)
  fraiseql_rs/src/mutations.rs
Labels: none

fix(clippy): add #[must_use] to builder method (Phase 5y)
  fraiseql_rs/src/db/where_builder.rs
Labels: none

fix(clippy): address only_used_in_recursion warnings (Phase 5z)
  fraiseql_rs/20260101_clippy_progress.md
  fraiseql_rs/src/graphql/fragments.rs
  fraiseql_rs/src/security/validators.rs
Labels: none

fix(clippy): fix used_underscore_binding warnings (Phase 6a)
  fraiseql_rs/src/graphql/fragments.rs
Labels: none

fix(clippy): allow unsafe_derive_deserialize for PyO3 type (Phase 6b)
  fraiseql_rs/src/graphql/types.rs
Labels: none

fix(clippy): add panic documentation to 4 functions (Phase 6c)
  fraiseql_rs/src/json_transform.rs
  fraiseql_rs/src/pipeline/unified.rs
  fraiseql_rs/src/query/mod.rs
  fraiseql_rs/src/response/json_transform.rs
Labels: none

fix(clippy): allow needless_pass_by_value for PyO3 types (Phase 6d)
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/rbac/py_bindings.rs
Labels: none

fix(clippy): allow needless_pass_by_value for PyO3 Vec extraction (Phase 6e)
  fraiseql_rs/src/lib.rs
Labels: none

feat(db): add query streaming support (Phase 2.2)
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  benches/pool_benchmarks.rs
  fraiseql_rs/Cargo.lock
  fraiseql_rs/Cargo.toml
  fraiseql_rs/README.md
  fraiseql_rs/src/db/errors.rs
  fraiseql_rs/src/db/health.rs
  fraiseql_rs/src/db/mod.rs
  fraiseql_rs/src/db/pool.rs
  fraiseql_rs/src/db/pool_config.rs
  fraiseql_rs/src/db/pool_production.rs
  fraiseql_rs/src/db/prototype.rs
  fraiseql_rs/src/db/query.rs
  fraiseql_rs/src/db/runtime.rs
  fraiseql_rs/src/db/transaction.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/query/composer.rs
  fraiseql_rs/src/security/rate_limit.rs
  src/fraiseql/core/database.py
  src/fraiseql/db.py
  tests/chaos/results/TestAuthenticationChaos.json
  tests/chaos/results/TestCacheChaos.json
  tests/chaos/results/TestConcurrencyChaos.json
  tests/chaos/results/TestDataConsistencyChaos.json
  tests/chaos/results/TestDatabaseConnectionChaos.json
  tests/chaos/results/TestNetworkLatencyChaos.json
  tests/chaos/results/TestPacketLossCorruptionChaos.json
  tests/chaos/results/TestPhase0Infrastructure.json
  tests/chaos/results/TestQueryExecutionChaos.json
  tests/chaos/results/TestResourceChaos.json
  tests/integration/db/test_rust_pool.py
  tests/integration/db/test_streaming.py
  tests/integration/db/test_transactions.py
  tests/integration/test_production_pool.py
  tests/prototype/README.md
  tests/prototype/benchmark_comparison.py
  tests/prototype/test_async_bridge.py
Labels: documentation, tests, core

feat(db): add pool metrics for observability (Phase 2.5)
  fraiseql_rs/src/db/metrics.rs
  fraiseql_rs/src/db/mod.rs
  fraiseql_rs/src/db/pool.rs
  fraiseql_rs/src/db/pool_production.rs
  tests/integration/db/test_metrics.py
Labels: tests

test(db): add cross-feature integration tests (Phase 2.10)
  tests/integration/db/test_cross_feature_integration.py
Labels: tests

feat(query-builder): add WHERE SQL pass-through and ORDER BY support (Phase 7.1)
  docs/phases/phase7.1-where-order-by-passthrough.md
  fraiseql_rs/src/query/composer.rs
  fraiseql_rs/src/query/schema.rs
  src/fraiseql/sql/query_builder_adapter.py
  src/fraiseql/sql/sql_to_string.py
  tests/integration/query_builder/test_phase71_order_by.py
  tests/integration/query_builder/test_phase71_where_passthrough.py
Labels: documentation, tests, sql

fix(clippy): achieve NASA-quality zero-warning code (Phase 6)
  fraiseql_rs/src/db/health.rs
  fraiseql_rs/src/db/metrics.rs
  fraiseql_rs/src/db/pool.rs
  fraiseql_rs/src/db/pool_config.rs
  fraiseql_rs/src/db/pool_production.rs
  fraiseql_rs/src/db/prototype.rs
  fraiseql_rs/src/db/runtime.rs
  fraiseql_rs/src/db/transaction.rs
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/query/composer.rs
  fraiseql_rs/src/query/schema.rs
  fraiseql_rs/src/query/where_builder.rs
  fraiseql_rs/src/rbac/errors.rs
  fraiseql_rs/src/rbac/py_bindings.rs
  fraiseql_rs/src/security/cors.rs
  fraiseql_rs/src/security/errors.rs
  fraiseql_rs/src/security/validators.rs
  fraiseql_rs/tests/common/mod.rs
  src/fraiseql/sql/query_builder_adapter.py
  src/fraiseql/sql/sql_to_string.py
Labels: sql

docs(phase-7.2): add initial WHERE normalization plan (to be revised)
  .phases/phase-7.2-where-normalization-rust.md
Labels: none

feat(phase-7.2): implement WHERE normalization in Rust (core modules)
  .phases/phase-7.2-where-normalization-rust-v2-PART-2.md
  .phases/phase-7.2-where-normalization-rust-v2.md
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/query/casing.rs
  fraiseql_rs/src/query/field_analyzer.rs
  fraiseql_rs/src/query/mod.rs
  fraiseql_rs/src/query/operators.rs
  fraiseql_rs/src/query/prepared_statement.rs
  fraiseql_rs/src/query/where_normalization.rs
Labels: none

fix(clippy): fix all 48 clippy strict mode warnings in Phase 7.2 code
  .phases/phase-7.2-where-normalization-rust-v2.md
  fraiseql_rs/src/query/casing.rs
  fraiseql_rs/src/query/field_analyzer.rs
  fraiseql_rs/src/query/mod.rs
  fraiseql_rs/src/query/operators.rs
  fraiseql_rs/src/query/prepared_statement.rs
  fraiseql_rs/src/query/where_normalization.rs
Labels: none

fix(clippy): fix pre-existing errors in tests and module code
  fraiseql_rs/src/core/arena.rs
  fraiseql_rs/src/db/pool_config.rs
  fraiseql_rs/src/graphql/variables.rs
  fraiseql_rs/src/mutation/tests/integration.rs
  fraiseql_rs/src/mutation/tests/response_building.rs
  fraiseql_rs/src/mutation/tests/test_multiple_entities.rs
  fraiseql_rs/src/query/casing.rs
  fraiseql_rs/src/rbac/errors.rs
  fraiseql_rs/src/security/validators.rs
  fraiseql_rs/tests/common/mod.rs
Labels: none

feat(phase-7.2): expose WHERE normalization to Python via PyO3
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/query/mod.rs
Labels: none

feat(phase-7.2): integrate Rust WHERE normalization into Python
  src/fraiseql/where_normalization.py
Labels: none

test(phase-7.2): add integration tests for Rust WHERE normalization
  tests/unit/test_rust_where_integration.py
Labels: tests

feat(phase-7.2): add missing operators to Rust WHERE normalization
  fraiseql_rs/src/query/field_analyzer.rs
  fraiseql_rs/src/query/operators.rs
Labels: none

feat(phase-9): complete full integration with real PostgreSQL database
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/unified.rs
  tests/integration/test_unified_pipeline.py
  tests/integration/test_unified_pipeline_comprehensive.py
Labels: tests

feat(phase-10): complete Rust authentication implementation
  docs/phase10_rust_authentication.md
  examples/phase10_rust_auth_demo.py
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/pipeline/unified.rs
  fraiseql_rs/src/query/field_analyzer.rs
  fraiseql_rs/src/security/rate_limit.rs
  src/fraiseql/auth/rust_provider.py
Labels: documentation

fix(phase-10): resolve tokio runtime async integration
  docs/phase10_rust_authentication.md
  fraiseql_rs/src/auth/py_bindings.rs
  fraiseql_rs/src/security/rate_limit.rs
Labels: documentation

feat(phase-11): complete Rust RBAC implementation
  docs/phase11_rust_rbac.md
  fraiseql_rs/src/rbac/py_bindings.rs
  fraiseql_rs/src/rbac/resolver.rs
  src/fraiseql/enterprise/rbac/rust_resolver.py
  tests/test_rust_rbac.py
Labels: documentation, tests

feat(phase-12): implement security constraints
  Cargo.lock
  Cargo.toml
  docs/phase12_security_advanced.md
  docs/phase12_security_constraints.md
  fraiseql_rs/Cargo.toml
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/security/audit.rs
  fraiseql_rs/src/security/constraints.rs
  fraiseql_rs/src/security/mod.rs
  fraiseql_rs/src/security/py_bindings.rs
  src/fraiseql/enterprise/security/__init__.py
  src/fraiseql/enterprise/security/constraints.py
  tests/test_security_constraints.py
Labels: documentation, tests

docs(phase-12): mark complexity analyzer as optional
  docs/phase12_security_constraints.md
  fraiseql_rs/Cargo.lock
  src/fraiseql/enterprise/security/constraints.py
Labels: documentation

docs(phase-12): clarify complexity analyzer is optional
  docs/phase12_security_constraints.md
  src/fraiseql/enterprise/security/constraints.py
Labels: documentation

feat(phase-14): implement production-ready audit logging
  docs/phase14_audit_logging.md
  docs/phase14_task_list.md
  fraiseql_rs/src/lib.rs
  fraiseql_rs/src/security/audit.rs
  fraiseql_rs/src/security/mod.rs
  fraiseql_rs/src/security/py_bindings.rs
  migrations/001_audit_logs.sql
  src/fraiseql/enterprise/security/__init__.py
  src/fraiseql/enterprise/security/audit.py
  tests/test_audit_logging.py
Labels: documentation, tests
