Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

feat(federation): promote saga subsystem to stable — unstable-saga → saga feature (#429) (#530)
  .dagger/feature-combos.go
  .dagger/main.go
  CHANGELOG.md
  crates/fraiseql-core/tests/federation.rs
  crates/fraiseql-core/tests/federation_saga_observability.rs
  crates/fraiseql-core/tests/federation_saga_real.rs
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/README.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/mutation_executor.rs
  crates/fraiseql-federation/src/mutation_http_client.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_compensator/compensation.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/coordination.rs
  crates/fraiseql-federation/src/saga_coordinator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator/wired.rs
  crates/fraiseql-federation/src/saga_executor/forward.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/prefetch.rs
  crates/fraiseql-federation/src/saga_executor/prefetch/tests.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_recovery_manager/recovery.rs
  crates/fraiseql-federation/src/saga_recovery_manager/tests.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  docs/architecture/federation.md
  docs/guides/federation-saga.md
  docs/testing-matrix.md
  docs/testing.md
Labels: documentation

refactor(federation): remove loud-fail saga placeholders, rename wired API to clean names, gate whole saga module (#429)
  CHANGELOG.md
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/federation.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation/saga_basic_execution.rs
  crates/fraiseql-core/tests/federation/saga_compensation.rs
  crates/fraiseql-core/tests/federation/saga_complex_failures.rs
  crates/fraiseql-core/tests/federation/saga_crash_recovery.rs
  crates/fraiseql-core/tests/federation/saga_e2e_failure.rs
  crates/fraiseql-core/tests/federation/saga_e2e_harness.rs
  crates/fraiseql-core/tests/federation/saga_e2e_lifecycle.rs
  crates/fraiseql-core/tests/federation/saga_e2e_recovery.rs
  crates/fraiseql-core/tests/federation/saga_e2e_state.rs
  crates/fraiseql-core/tests/federation/saga_failure.rs
  crates/fraiseql-core/tests/federation/saga_recovery_manager.rs
  crates/fraiseql-core/tests/federation_saga_observability.rs
  crates/fraiseql-core/tests/federation_saga_real.rs
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/README.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_compensator/compensation.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/coordination.rs
  crates/fraiseql-federation/src/saga_coordinator/coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/tests.rs
  crates/fraiseql-federation/src/saga_executor/forward.rs
  crates/fraiseql-federation/src/saga_executor/mod.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/prefetch.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_recovery_manager/recovery.rs
  crates/fraiseql-federation/src/saga_recovery_manager/tests.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  docs/architecture/federation.md
  docs/guides/federation-saga.md
Labels: documentation

refactor(federation): remove loud-fail saga placeholders, rename wired API to clean names, gate whole saga module (#429) (#531)
  CHANGELOG.md
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/federation.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation/saga_basic_execution.rs
  crates/fraiseql-core/tests/federation/saga_compensation.rs
  crates/fraiseql-core/tests/federation/saga_complex_failures.rs
  crates/fraiseql-core/tests/federation/saga_crash_recovery.rs
  crates/fraiseql-core/tests/federation/saga_e2e_failure.rs
  crates/fraiseql-core/tests/federation/saga_e2e_harness.rs
  crates/fraiseql-core/tests/federation/saga_e2e_lifecycle.rs
  crates/fraiseql-core/tests/federation/saga_e2e_recovery.rs
  crates/fraiseql-core/tests/federation/saga_e2e_state.rs
  crates/fraiseql-core/tests/federation/saga_failure.rs
  crates/fraiseql-core/tests/federation/saga_recovery_manager.rs
  crates/fraiseql-core/tests/federation_saga_observability.rs
  crates/fraiseql-core/tests/federation_saga_real.rs
  crates/fraiseql-federation/Cargo.toml
  crates/fraiseql-federation/README.md
  crates/fraiseql-federation/src/lib.rs
  crates/fraiseql-federation/src/saga_compensator.rs
  crates/fraiseql-federation/src/saga_compensator/compensation.rs
  crates/fraiseql-federation/src/saga_compensator/tests.rs
  crates/fraiseql-federation/src/saga_coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/coordination.rs
  crates/fraiseql-federation/src/saga_coordinator/coordinator.rs
  crates/fraiseql-federation/src/saga_coordinator/tests.rs
  crates/fraiseql-federation/src/saga_executor/forward.rs
  crates/fraiseql-federation/src/saga_executor/mod.rs
  crates/fraiseql-federation/src/saga_executor/orchestrator.rs
  crates/fraiseql-federation/src/saga_executor/prefetch.rs
  crates/fraiseql-federation/src/saga_executor/step.rs
  crates/fraiseql-federation/src/saga_executor/tests.rs
  crates/fraiseql-federation/src/saga_recovery_manager.rs
  crates/fraiseql-federation/src/saga_recovery_manager/recovery.rs
  crates/fraiseql-federation/src/saga_recovery_manager/tests.rs
  crates/fraiseql-federation/tests/saga_integration.rs
  docs/architecture/federation.md
  docs/guides/federation-saga.md
Labels: documentation

feat(observers): shared DispatchPolicy + retry driver for durable dispatch
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/dispatch.rs
  crates/fraiseql-observers/src/executor/retry.rs
  crates/fraiseql-observers/src/lib.rs
Labels: none

feat(functions): dead-letter exhausted function dispatch (retry/DLQ parity)
  crates/fraiseql-observers/src/dispatch.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-observers/src/traits.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/observers/runtime/tests.rs
Labels: none

feat(functions): durable after:mutation dispatch with re_runnable opt-out
  crates/fraiseql-functions/src/types.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/observers/dlq_handlers/mod.rs
  crates/fraiseql-server/src/observers/dlq_handlers/tests.rs
  crates/fraiseql-server/src/observers/runtime.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/subsystems/mod.rs
  docs/adr/0015-durable-function-dispatch-defaults.md
Labels: documentation

feat(functions): per-function retry config round-trip + env overrides + docs
  CHANGELOG.md
  crates/fraiseql-functions/src/types.rs
  crates/fraiseql-functions/src/types/tests.rs
  crates/fraiseql-observers/src/config/runtime.rs
  crates/fraiseql-observers/src/dispatch.rs
  crates/fraiseql-observers/src/dispatch/tests.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-server/src/observers/dlq_handlers/mod.rs
  crates/fraiseql-server/src/observers/runtime/tests.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/subsystems/mod.rs
  crates/fraiseql-server/src/subsystems/tests.rs
  crates/fraiseql-server/tests/platform_e2e_test.rs
  docs/architecture/functions.md
Labels: documentation

feat(functions): TypeScript functions reach the full I/O host surface (native-runtime Phase 01)
  CHANGELOG.md
  crates/fraiseql-functions/src/host/dyn_context.rs
  crates/fraiseql-functions/src/host/mod.rs
  crates/fraiseql-functions/src/observer/mod.rs
  crates/fraiseql-functions/src/observer/tests.rs
  crates/fraiseql-functions/src/runtime/deno/executor.rs
  crates/fraiseql-functions/src/runtime/deno/mod.rs
  crates/fraiseql-functions/src/runtime/deno/ops/mod.rs
  crates/fraiseql-functions/src/runtime/deno/scoring_tests.rs
  crates/fraiseql-functions/src/runtime/deno/tests.rs
  crates/fraiseql-functions/src/runtime/mod.rs
  crates/fraiseql-functions/src/runtime/parity_tests.rs
  crates/fraiseql-functions/src/runtime/wasm/host_bridge.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  docs/architecture/functions.md
  examples/native-functions/README.md
  examples/native-functions/deal-scoring.ts
Labels: documentation

feat(inbound): inbound-source primitive + mount #431 webhook receiver + after:ingest (native-runtime P03)
  CHANGELOG.md
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-functions/src/migrations/mod.rs
  crates/fraiseql-functions/src/migrations/tests.rs
  crates/fraiseql-functions/src/triggers/ingest.rs
  crates/fraiseql-functions/src/triggers/ingest/tests.rs
  crates/fraiseql-functions/src/triggers/mod.rs
  crates/fraiseql-functions/src/triggers/registry/mod.rs
  crates/fraiseql-functions/src/triggers/registry/tests.rs
  crates/fraiseql-functions/src/types.rs
  crates/fraiseql-observers/src/dispatch.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/config/mod.rs
  crates/fraiseql-server/src/inbound/mod.rs
  crates/fraiseql-server/src/inbound/spine.rs
  crates/fraiseql-server/src/inbound/spine/tests.rs
  crates/fraiseql-server/src/inbound/webhook.rs
  crates/fraiseql-server/src/inbound/webhook/tests.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  crates/fraiseql-server/src/server_config/mod.rs
Labels: documentation

feat(inbound): poll-IMAP email adapter + MIME normalization (native-runtime P04)
  .dagger/feature-combos.go
  CHANGELOG.md
  Cargo.lock
  crates/fraiseql-functions/Cargo.toml
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-functions/src/migrations/mod.rs
  crates/fraiseql-functions/src/triggers/ingest.rs
  crates/fraiseql-functions/src/triggers/ingest/email.rs
  crates/fraiseql-functions/src/triggers/ingest/email/tests.rs
  crates/fraiseql-functions/src/triggers/mod.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/inbound/email/config.rs
  crates/fraiseql-server/src/inbound/email/cursor.rs
  crates/fraiseql-server/src/inbound/email/cursor/tests.rs
  crates/fraiseql-server/src/inbound/email/imap.rs
  crates/fraiseql-server/src/inbound/email/imap/tests.rs
  crates/fraiseql-server/src/inbound/email/mod.rs
  crates/fraiseql-server/src/inbound/email/store.rs
  crates/fraiseql-server/src/inbound/email/worker.rs
  crates/fraiseql-server/src/inbound/email/worker/tests.rs
  crates/fraiseql-server/src/inbound/mod.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server_config/mod.rs
  docs/architecture/inbound-email.md
  examples/native-functions/README.md
  examples/native-functions/reply-awareness.ts
Labels: documentation

feat(functions): migrate beta workload to the native runtime (native-runtime P05)
  CHANGELOG.md
  crates/fraiseql-functions/src/host/live/mod.rs
  crates/fraiseql-functions/src/host/live/tests.rs
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-functions/src/outbound/mod.rs
  crates/fraiseql-functions/src/outbound/tests.rs
  crates/fraiseql-functions/src/runtime/deno/follow_up_tests.rs
  crates/fraiseql-functions/src/runtime/deno/mod.rs
  crates/fraiseql-functions/src/runtime/deno/qonto_tests.rs
  crates/fraiseql-functions/src/runtime/deno/reply_awareness_tests.rs
  crates/fraiseql-functions/src/runtime/deno/scoring_tests.rs
  crates/fraiseql-functions/tests/fixtures/mailbox/auto-generated.eml
  crates/fraiseql-functions/tests/fixtures/mailbox/bounce.eml
  crates/fraiseql-functions/tests/fixtures/mailbox/human-reply.eml
  crates/fraiseql-functions/tests/fixtures/mailbox/out-of-office.eml
  docs/architecture/native-runtime-ergonomics.md
  examples/native-functions/README.md
  examples/native-functions/deal-scoring.ts
  examples/native-functions/follow-up-email.ts
  examples/native-functions/qonto-sync.ts
Labels: documentation

docs(runtime): finalize native-runtime migration — de-stale docs + archaeology
  .dagger/feature-combos.go
  CHANGELOG.md
  crates/fraiseql-functions/src/outbound/mod.rs
  crates/fraiseql-functions/src/runtime/deno/follow_up_tests.rs
  crates/fraiseql-functions/src/runtime/deno/qonto_tests.rs
  crates/fraiseql-functions/src/runtime/deno/reply_awareness_tests.rs
  crates/fraiseql-functions/src/runtime/deno/scoring_tests.rs
  crates/fraiseql-functions/src/runtime/parity_tests.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/inbound/email/worker/tests.rs
  crates/fraiseql-server/src/inbound/mod.rs
  crates/fraiseql-server/src/inbound/spine/tests.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/src/observers/runtime/tests.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  docs/adr/0015-durable-function-dispatch-defaults.md
  docs/architecture/native-runtime-ergonomics.md
  docs/architecture/webhooks.md
  examples/native-functions/README.md
  examples/native-functions/deal-scoring.ts
  examples/native-functions/follow-up-email.ts
  examples/native-functions/qonto-sync.ts
  examples/native-functions/reply-awareness.ts
  roadmap.md
Labels: documentation

chore(deny): skip async-imap transitive duplicate versions
  deny.toml
Labels: none

chore(deny): pretty-format the async-imap bans.skip entries
  deny.toml
Labels: none

chore(deny): pretty-format the async-imap bans.skip entries (#538)
  deny.toml
Labels: none

fix(runtime): recase native-column WHERE to the snake_case SQL column (#540)
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params_tests.rs
Labels: none

fix(runtime): recase native-column WHERE to the snake_case SQL column
  crates/fraiseql-core/src/runtime/executor/runners/query_params.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_params_tests.rs
Labels: none

docs(contributing): formalize trunk-based development branching model (#541)
  CONTRIBUTING.md
  docs/README.md
  docs/contributing/branching-model.md
Labels: documentation

docs(contributing): formalize trunk-based development branching model
  CONTRIBUTING.md
  docs/README.md
  docs/contributing/branching-model.md
Labels: documentation

ci: auto-mirror main from the dev trunk (#542)
  .github/workflows/mirror-main.yml
Labels: ci

ci: auto-mirror main from the dev trunk
  .github/workflows/mirror-main.yml
Labels: ci

ci: gate merges on fast Dagger legs via push-triggered checks (#543)
  .github/workflows/dagger-preflight.yml
  .github/workflows/dagger-security.yml
  docs/contributing/branching-model.md
Labels: documentation, ci

ci: gate merges on fast Dagger legs via push-triggered checks
  .github/workflows/dagger-preflight.yml
  .github/workflows/dagger-security.yml
  docs/contributing/branching-model.md
Labels: documentation, ci

docs(contributing): standing Dependabot-unblock policy (no blanket bypass)
  docs/contributing/branching-model.md
Labels: documentation

docs(contributing): standing Dependabot-unblock policy (#544)
  docs/contributing/branching-model.md
Labels: documentation

ci: declare PR-comment scope on the two blockless benchmark workflows
  .github/workflows/bench.yml
  .github/workflows/benchmark-velocity.yml
  docs/contributing/branching-model.md
Labels: documentation, ci

ci: declare PR-comment scope on the two blockless benchmark workflows (#545)
  .github/workflows/bench.yml
  .github/workflows/benchmark-velocity.yml
  docs/contributing/branching-model.md
Labels: documentation, ci

feat(server): port #242 enrichment core onto dev (enriched-identity RLS P00)
  crates/fraiseql-server/src/identity/cache.rs
  crates/fraiseql-server/src/identity/mod.rs
  crates/fraiseql-server/src/identity/query.rs
  crates/fraiseql-server/src/identity/tests.rs
  crates/fraiseql-server/src/lib.rs
Labels: none

feat(server): enriched-identity resolver + fail-closed failure model (#539 P01)
  crates/fraiseql-server/src/identity/cache.rs
  crates/fraiseql-server/src/identity/failure.rs
  crates/fraiseql-server/src/identity/mod.rs
  crates/fraiseql-server/src/identity/query.rs
  crates/fraiseql-server/src/identity/resolver.rs
  crates/fraiseql-server/src/identity/tests.rs
Labels: none

feat(server): wire enriched-identity read scoping into /graphql (#539 P02)
  crates/fraiseql-core/src/runtime/executor/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/aggregate.rs
  crates/fraiseql-core/src/runtime/executor/runners/mutation/mod.rs
  crates/fraiseql-core/src/runtime/executor/runners/query_regular.rs
  crates/fraiseql-core/src/runtime/executor/security.rs
  crates/fraiseql-core/src/runtime/executor/support/federation.rs
  crates/fraiseql-core/src/runtime/executor/support/security.rs
  crates/fraiseql-core/src/runtime/executor/tests.rs
  crates/fraiseql-core/src/schema/config_types.rs
  crates/fraiseql-core/src/schema/security_config.rs
  crates/fraiseql-core/src/security/mod.rs
  crates/fraiseql-server/src/identity/apply.rs
  crates/fraiseql-server/src/identity/mod.rs
  crates/fraiseql-server/src/identity/resolver.rs
  crates/fraiseql-server/src/identity/tests.rs
  crates/fraiseql-server/src/routes/graphql/app_state.rs
  crates/fraiseql-server/src/routes/graphql/handler.rs
  crates/fraiseql-server/src/server/routing/state.rs
  crates/fraiseql-server/src/server_config/mod.rs
Labels: none

feat(functions,server): enriched-identity sender seam (#539 P03)
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-functions/src/outbound/mod.rs
  crates/fraiseql-functions/src/outbound/tests.rs
  crates/fraiseql-server/src/identity/mod.rs
  crates/fraiseql-server/src/identity/sender.rs
  crates/fraiseql-server/src/identity/tests.rs
Labels: none

docs(identity): acceptance test + promote enriched-identity RLS (#539 P04)
  CHANGELOG.md
  crates/fraiseql-server/src/identity/cache.rs
  crates/fraiseql-server/src/identity/mod.rs
  crates/fraiseql-server/src/identity/resolver.rs
  crates/fraiseql-server/src/identity/sender.rs
  crates/fraiseql-server/src/identity/tests.rs
  docs/adr/0016-enriched-identity-resolution.md
  docs/architecture/README.md
  docs/architecture/enriched-identity-rls.md
Labels: documentation

feat(server): admin identity-cache flush endpoint (#539 follow-up)
  CHANGELOG.md
  crates/fraiseql-server/src/identity/admin.rs
  crates/fraiseql-server/src/identity/cache.rs
  crates/fraiseql-server/src/identity/mod.rs
  crates/fraiseql-server/src/identity/resolver.rs
  crates/fraiseql-server/src/identity/tests.rs
  crates/fraiseql-server/src/server/routing/extensions.rs
  docs/architecture/enriched-identity-rls.md
Labels: documentation

refactor(inbound): rename [imap.<name>] to [mailbox.<name>.imap] (#539 hardening P02 C0)
  CHANGELOG.md
  crates/fraiseql-server/src/inbound/email/config.rs
  crates/fraiseql-server/src/inbound/email/mod.rs
  crates/fraiseql-server/src/server/lifecycle.rs
  crates/fraiseql-server/src/server_config/mod.rs
  docs/architecture/inbound-email.md
  docs/architecture/native-runtime-ergonomics.md
Labels: documentation

feat(functions): send_email host op with host-owned from (#539 hardening P02 C1)
  crates/fraiseql-functions/src/host/dyn_context.rs
  crates/fraiseql-functions/src/host/live/mod.rs
  crates/fraiseql-functions/src/host/live/tests.rs
  crates/fraiseql-functions/src/host/mod.rs
  crates/fraiseql-functions/src/lib.rs
  crates/fraiseql-functions/src/outbound/mod.rs
  crates/fraiseql-functions/src/outbound/tests.rs
  crates/fraiseql-functions/src/runtime/deno/executor.rs
  crates/fraiseql-functions/src/runtime/deno/follow_up_tests.rs
  crates/fraiseql-functions/src/runtime/deno/mod.rs
  crates/fraiseql-functions/src/runtime/deno/ops/mod.rs
  crates/fraiseql-functions/src/runtime/deno/qonto_tests.rs
  crates/fraiseql-functions/src/runtime/deno/reply_awareness_tests.rs
  crates/fraiseql-functions/src/runtime/deno/scoring_tests.rs
  crates/fraiseql-functions/src/runtime/deno/tests.rs
  crates/fraiseql-functions/src/runtime/parity_tests.rs
  crates/fraiseql-functions/src/runtime/wasm/mod.rs
  crates/fraiseql-functions/src/runtime/wasm/store/mod.rs
  crates/fraiseql-functions/wit/fraiseql-host.wit
  crates/fraiseql-server/src/identity/sender.rs
Labels: none

feat(server): SMTP send_email transport + injection seam (#539 hardening P02 C2)
  Cargo.lock
  crates/fraiseql-functions/src/runtime/deno/follow_up_tests.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/src/identity/sender.rs
  crates/fraiseql-server/src/inbound/email/config.rs
  crates/fraiseql-server/src/inbound/email/config/tests.rs
  crates/fraiseql-server/src/inbound/email/mod.rs
  crates/fraiseql-server/src/inbound/email/smtp.rs
  crates/fraiseql-server/src/inbound/email/smtp/tests.rs
  crates/fraiseql-server/src/routes/after_mutation/mod.rs
  crates/fraiseql-server/src/routes/after_mutation/tests.rs
  crates/fraiseql-server/src/subsystems/mod.rs
  crates/fraiseql-server/src/subsystems/tests.rs
  examples/native-functions/follow-up-email.ts
Labels: none

feat(compiler): honor cascade flag on MutationDefinition
  crates/fraiseql-cli/src/config/toml_schema/operations.rs
  crates/fraiseql-cli/src/schema/converter/mutations.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
  crates/fraiseql-cli/src/schema/intermediate/operations.rs
  crates/fraiseql-cli/src/schema/merger.rs
  crates/fraiseql-cli/src/schema/tests.rs
  crates/fraiseql-cli/tests/auto_mutation_error_union_test.rs
  crates/fraiseql-cli/tests/e2e_schema_generation.rs
  crates/fraiseql-core/src/schema/compiled/mutation.rs
  crates/fraiseql-core/src/schema/compiled/tests.rs
Labels: none

feat(compiler): synthesize typed cascade payload surface
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/mod.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
Labels: none

fix(compiler): make synthesized cascade shape spec-faithful
  crates/fraiseql-cli/src/schema/converter/cascade_types.rs
  crates/fraiseql-cli/src/schema/converter/tests.rs
Labels: none

feat(server): send-warming ramp + daily cap gate (#539 hardening P02 C3)
  crates/fraiseql-server/src/inbound/email/mod.rs
  crates/fraiseql-server/src/inbound/email/smtp.rs
  crates/fraiseql-server/src/inbound/email/smtp/tests.rs
  crates/fraiseql-server/src/inbound/email/warming.rs
  crates/fraiseql-server/src/inbound/email/warming/tests.rs
Labels: none

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
