Repository fraiseql/fraiseql, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, types, sql, mutations, cli, config, ci, dependencies

refactor(finalize): remove development archaeology and fix all clippy warnings
  Cargo.lock
  benches/full_pipeline.rs
  crates/fraiseql-arrow/src/flight_server/mod.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-cli/src/lib.rs
  crates/fraiseql-cli/src/main.rs
  crates/fraiseql-cli/src/schema/converter.rs
  crates/fraiseql-core/src/runtime/aggregate_projector.rs
  crates/fraiseql-observers/src/lib.rs
  crates/fraiseql-secrets/src/lib.rs
  crates/fraiseql-webhooks/src/lib.rs
Labels: none

fix(arrow): wrap flight auth test in temp_env for session secret
  crates/fraiseql-arrow/tests/flight_auth_test.rs
Labels: none

chore(fmt): apply cargo fmt across workspace
  crates/fraiseql-arrow/tests/ta_integration_test.rs
  crates/fraiseql-auth/src/lib.rs
  crates/fraiseql-auth/src/session_postgres.rs
  crates/fraiseql-auth/src/state_store.rs
  crates/fraiseql-cli/src/commands/dependency_graph.rs
  crates/fraiseql-core/src/apq/metrics.rs
  crates/fraiseql-core/src/config/mod.rs
  crates/fraiseql-core/src/federation/saga_store.rs
  crates/fraiseql-core/src/graphql/fragments.rs
  crates/fraiseql-core/src/graphql/mod.rs
  crates/fraiseql-core/src/utils/operators.rs
  crates/fraiseql-core/src/validation/rich_scalars.rs
  crates/fraiseql-core/tests/property_tests.rs
  crates/fraiseql-observers/src/cache/redis.rs
  crates/fraiseql-observers/src/checkpoint/postgres.rs
  crates/fraiseql-observers/src/storage.rs
  crates/fraiseql-observers/src/transport/bridge.rs
  crates/fraiseql-observers/src/transport/mssql_bridge.rs
  crates/fraiseql-observers/src/transport/mysql_bridge.rs
  crates/fraiseql-secrets/src/lib.rs
  crates/fraiseql-secrets/src/secrets_manager/backends/env.rs
  crates/fraiseql-server/src/lib.rs
  crates/fraiseql-server/tests/graceful_degradation_test.rs
  crates/fraiseql-server/tests/security_audit_test.rs
  crates/fraiseql-webhooks/src/lib.rs
  crates/fraiseql-webhooks/src/signature/discord.rs
  crates/fraiseql-wire/tests/protocol_robustness_test.rs
Labels: none

chore: add gitignore entries for fuzz/ICE artifacts, include redis-test service
  .gitignore
  docker/docker-compose.test.yml
Labels: none

test(property): expand property-based testing from 22 to 101 properties (#20)
  crates/fraiseql-core/tests/property_error_handling.rs
  crates/fraiseql-core/tests/property_graphql.rs
  crates/fraiseql-core/tests/property_schema.rs
  crates/fraiseql-core/tests/property_sql_generation.rs
  crates/fraiseql-wire/tests/property_protocol_extended.rs
Labels: none

test(behavioral): rewrite shallow integration tests as behavioral tests (#22)
  crates/fraiseql-core/tests/where_sql_injection_prevention.rs
  crates/fraiseql-server/tests/security_stack_integration_test.rs
Labels: none

test(federation): split monolithic integration tests into 26 focused modules (#23)
  crates/fraiseql-core/tests/federation.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation/docker_federation.rs
  crates/fraiseql-core/tests/federation/docker_health.rs
  crates/fraiseql-core/tests/federation/docker_mutations.rs
  crates/fraiseql-core/tests/federation/docker_performance.rs
  crates/fraiseql-core/tests/federation/docker_queries.rs
  crates/fraiseql-core/tests/federation/entity_cross_db.rs
  crates/fraiseql-core/tests/federation/entity_resolution.rs
  crates/fraiseql-core/tests/federation/entity_where_clause.rs
  crates/fraiseql-core/tests/federation/mutation_cross_graph.rs
  crates/fraiseql-core/tests/federation/mutation_detection.rs
  crates/fraiseql-core/tests/federation/mutation_error.rs
  crates/fraiseql-core/tests/federation/mutation_extended.rs
  crates/fraiseql-core/tests/federation/mutation_local.rs
  crates/fraiseql-core/tests/federation/mutation_response.rs
  crates/fraiseql-core/tests/federation/requires_data_types.rs
  crates/fraiseql-core/tests/federation/requires_edge_cases.rs
  crates/fraiseql-core/tests/federation/requires_enforcement.rs
  crates/fraiseql-core/tests/federation/saga_basic_execution.rs
  crates/fraiseql-core/tests/federation/saga_compensation.rs
  crates/fraiseql-core/tests/federation/saga_e2e_failure.rs
  crates/fraiseql-core/tests/federation/saga_e2e_harness.rs
  crates/fraiseql-core/tests/federation/saga_e2e_lifecycle.rs
  crates/fraiseql-core/tests/federation/saga_e2e_recovery.rs
  crates/fraiseql-core/tests/federation/saga_e2e_state.rs
  crates/fraiseql-core/tests/federation/saga_failure.rs
  crates/fraiseql-core/tests/federation/saga_recovery.rs
Labels: none

fix(fuzz): fix schema_compile roundtrip assertion for f64 edge cases (#24)
  crates/fraiseql-core/fuzz/fuzz_targets/schema_compile.rs
Labels: none

test(error-paths): add failure injection infrastructure and error path tests (#25)
  Cargo.lock
  crates/fraiseql-auth/tests/error_rate_limiter_memory.rs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/error_cache_failures.rs
  crates/fraiseql-core/tests/error_database_failures.rs
  crates/fraiseql-core/tests/error_input_edge_cases.rs
  crates/fraiseql-core/tests/error_recovery.rs
  crates/fraiseql-test-utils/Cargo.toml
  crates/fraiseql-test-utils/src/failing_adapter.rs
  crates/fraiseql-test-utils/src/lib.rs
Labels: none

chore(deps): Upgrade all dependencies to latest versions
  pyproject.toml
  tests/conftest.py
  tests/fixtures/cascade/conftest.py
  tests/fixtures/database/database_conftest.py
  tests/fixtures/database/setup.py
  tests/fixtures/examples/conftest_examples.py
  tests/integration/database/repository/test_array_filter.py
  tests/integration/database/repository/test_db_integration.py
  tests/integration/database/repository/test_dict_where_mixed_filters_bug.py
  tests/integration/database/repository/test_fulltext_filter.py
  tests/integration/database/repository/test_hybrid_table_filtering_generic.py
  tests/integration/database/repository/test_hybrid_table_nested_object_filtering.py
  tests/integration/database/repository/test_jsonb_filter.py
  tests/integration/database/repository/test_jsonb_rust_deserialization.py
  tests/integration/database/repository/test_nested_object_filter_edge_cases.py
  tests/integration/database/repository/test_nested_object_filter_integration.py
  tests/integration/database/repository/test_nested_object_filter_logical_operators.py
  tests/integration/database/repository/test_pagination.py
  tests/integration/database/repository/test_repository_where_integration.py
  tests/integration/database/repository/test_string_filter_regex.py
  tests/integration/database/sql/test_sql_injection_real_db.py
  tests/integration/enterprise/audit/test_audit_bridge.py
  tests/integration/fastapi/test_fastapi_jsonb_integration.py
  tests/integration/graphql/test_jsonb_graphql_full_execution.py
  tests/integration/graphql/test_typename_in_responses.py
  tests/integration/monitoring/test_error_log_partitioning.py
  tests/integration/monitoring/test_error_notifications.py
  tests/integration/test_introspection/test_comment_descriptions_integration.py
  tests/integration/test_introspection/test_composite_type_generation_integration.py
  tests/integration/test_introspection/test_mutation_generation_integration.py
  tests/integration/test_vector_e2e.py
  tests/regression/test_issue_112_nested_jsonb_typename.py
  tests/regression/test_jsonb_nested_camelcase.py
  tests/regression/test_nested_jsonb_field_selection.py
  uv.lock
Labels: tests, config, dependencies

chore(release): Bump version to 1.9.18
  pyproject.toml
  uv.lock
Labels: config, dependencies

test(error-paths): add error type coverage and real database integration tests
  Cargo.lock
  crates/fraiseql-auth/tests/error_oidc_integration.rs
  crates/fraiseql-core/Cargo.toml
  crates/fraiseql-core/tests/common/mod.rs
  crates/fraiseql-core/tests/common/testcontainer.rs
  crates/fraiseql-core/tests/error_real_cache.rs
  crates/fraiseql-core/tests/error_real_database.rs
  crates/fraiseql-core/tests/fixtures/schema.sql
  crates/fraiseql-core/tests/fixtures/seed_data.sql
  crates/fraiseql-error/tests/auth_errors.rs
  crates/fraiseql-error/tests/config_errors.rs
  crates/fraiseql-error/tests/file_errors.rs
  crates/fraiseql-error/tests/http_responses.rs
  crates/fraiseql-error/tests/integration_errors.rs
  crates/fraiseql-error/tests/notification_errors.rs
  crates/fraiseql-error/tests/observer_errors.rs
  crates/fraiseql-error/tests/runtime_error.rs
  crates/fraiseql-error/tests/webhook_errors.rs
Labels: none

test(concurrency): add stress tests for rate limiter, cache, cancellation, and query execution
  crates/fraiseql-auth/tests/concurrency_rate_limiter.rs
  crates/fraiseql-core/tests/concurrency_cache.rs
  crates/fraiseql-core/tests/concurrency_cancellation.rs
  crates/fraiseql-core/tests/concurrency_query_execution.rs
Labels: none

fix(coercion): Add enum argument coercion and apply simplify linting
  src/fraiseql/core/graphql_type.py
  src/fraiseql/db.py
  src/fraiseql/gql/builders/schema_composer.py
  src/fraiseql/mutations/mutation_decorator.py
  src/fraiseql/mutations/result_processor.py
  src/fraiseql/mutations/types.py
  src/fraiseql/sbom/infrastructure/package_scanner.py
  src/fraiseql/sql/graphql_order_by_generator.py
  src/fraiseql/sql/where/core/field_detection.py
  src/fraiseql/sql/where_generator.py
  src/fraiseql/types/coercion.py
  tests/unit/core/type_system/test_enum_argument_coercion.py
Labels: tests, core, types, sql, mutations

fix(types): Fix ruff warnings (UP042, PYI034) and sync __version__ to 1.9.18
  src/fraiseql/__init__.py
  src/fraiseql/audit/security_logger.py
  src/fraiseql/config/schema_config.py
  src/fraiseql/debug/debug.py
  src/fraiseql/fastapi/config.py
Labels: none

chore: Remove development artifacts and update .gitignore
  .gitignore
  .pre-commit-config.yaml
  reports/quality/QA_REPORT.md
  reports/quality/TEST_COVERAGE_ANALYSIS.md
  reports/quality/link-validation-final-report.txt
  reports/quality/ruff_fixes.txt
  reports/test_evaluation/coverage_gap_analysis.md
  reports/test_evaluation/coverage_summary.txt
  reports/test_evaluation/fixture_quality_review.md
  reports/test_evaluation/line_counts.txt
  reports/test_evaluation/low_coverage_modules.txt
  reports/test_evaluation/marker_statistics.txt
  reports/test_evaluation/performance_profile.txt
  reports/test_evaluation/quality_review_batch1.md
  reports/test_evaluation/quality_scorecard.md
Labels: config

test(behavioral): rewrite 5 phantom test files to exercise real production APIs (#22)
  Cargo.lock
  crates/fraiseql-core/tests/query_validation_integration_test.rs
  crates/fraiseql-server/Cargo.toml
  crates/fraiseql-server/tests/api_query_tests.rs
  crates/fraiseql-server/tests/api_schema_tests.rs
  crates/fraiseql-server/tests/common/mod.rs
  crates/fraiseql-server/tests/common/test_app.rs
  crates/fraiseql-server/tests/endpoint_health_tests.rs
  crates/fraiseql-server/tests/observability_test.rs
  crates/fraiseql-test-utils/src/failing_adapter.rs
Labels: none

test: Add Rust extension skip handling and release automation
  Makefile
  src/fraiseql/sql/graphql_order_by_generator.py
  tests/unit/mutations/test_field_selection_performance.py
  tests/unit/mutations/test_named_fragments.py
Labels: tests, sql

test: Skip TOML workflow test when fraiseql-cli unavailable
  tests/integration/test_toml_workflow.py
Labels: tests

test: Skip TOML workflow tests when fraiseql-cli unavailable
  tests/integration/test_toml_workflow.py
Labels: tests

test: Skip test_toml_validation_errors when fraiseql-cli unavailable
  tests/integration/test_toml_workflow.py
Labels: tests

test(hardening): expand property tests and verify phase 2 completion [Phase 2]
  crates/fraiseql-core/tests/federation.rs
  crates/fraiseql-core/tests/federation/common.rs
  crates/fraiseql-core/tests/federation/docker_apollo_router.rs
  crates/fraiseql-core/tests/federation/docker_composite_keys.rs
  crates/fraiseql-core/tests/federation/docker_entity_resolution.rs
  crates/fraiseql-core/tests/federation/docker_federation.rs
  crates/fraiseql-core/tests/federation/docker_health.rs
  crates/fraiseql-core/tests/federation/docker_mutations.rs
  crates/fraiseql-core/tests/federation/docker_perf_gateway.rs
  crates/fraiseql-core/tests/federation/docker_perf_subgraph.rs
  crates/fraiseql-core/tests/federation/docker_queries.rs
  crates/fraiseql-core/tests/federation/docker_three_subgraph.rs
  crates/fraiseql-core/tests/federation/docker_two_subgraph.rs
  crates/fraiseql-core/tests/federation/entity_connection.rs
  crates/fraiseql-core/tests/federation/entity_perf.rs
  crates/fraiseql-core/tests/federation/entity_projection.rs
  crates/fraiseql-core/tests/federation/entity_resolution.rs
  crates/fraiseql-core/tests/federation/saga_complex_failures.rs
  crates/fraiseql-core/tests/federation/saga_crash_recovery.rs
  crates/fraiseql-core/tests/federation/saga_recovery.rs
  crates/fraiseql-core/tests/federation/saga_recovery_manager.rs
  crates/fraiseql-core/tests/federation_database_integration.rs
  crates/fraiseql-core/tests/federation_docker_compose_integration.rs
  crates/fraiseql-core/tests/federation_mutations_integration.rs
  crates/fraiseql-core/tests/federation_requires_runtime.rs
  crates/fraiseql-core/tests/federation_saga_e2e.rs
  crates/fraiseql-core/tests/federation_saga_e2e_scenarios.rs
  crates/fraiseql-core/tests/property_tests.rs
Labels: none

test(hardening): add 8 more property tests to reach 30+ proptest macros [Phase 2 Ext]
  crates/fraiseql-core/tests/property_error_handling.rs
  crates/fraiseql-core/tests/property_graphql.rs
  crates/fraiseql-core/tests/property_schema.rs
  crates/fraiseql-core/tests/property_sql_generation.rs
  crates/fraiseql-core/tests/property_tests.rs
  crates/fraiseql-wire/tests/property_protocol.rs
Labels: none

refactor(test-utils): extract saga test harness to reusable library [Phase 2 Ext]
  crates/fraiseql-server/tests/common/mod.rs
  crates/fraiseql-test-utils/src/lib.rs
  crates/fraiseql-test-utils/src/saga.rs
Labels: none

test: Remove v2 TOML workflow tests from v1.9.18 release
  tests/integration/test_toml_workflow.py
Labels: tests

test: Remove all v2-specific E2E and example tests from v1.9.18 release
  tests/e2e/python_e2e_test.py
  tests/e2e/velocitybench_all_languages_test.py
  tests/e2e/velocitybench_compilation_test.py
  tests/e2e/velocitybench_e2e_test.py
  tests/e2e/velocitybench_schemas.py
  tests/integration/examples/python_types_example.py
Labels: tests

ci: add optional workflow for ignored tests and document test requirements [Phase 2 Ext]
  .github/workflows/ci.yml
  IGNORED_TESTS.md
Labels: documentation, ci

docs: Fix markdownlint issues in CLAUDE.md
  .claude/CLAUDE.md
Labels: none

test(security): add 19 E2E SQL injection integration tests [P3C1]
  crates/fraiseql-core/tests/e2e_sql_injection_integration.rs
Labels: none

test(security): add 27 auth bypass & JWT tampering detection tests [P3C2]
  crates/fraiseql-server/tests/auth_bypass_detection_test.rs
Labels: none

test(security): add field authorization edge case coverage [P3C3]
  crates/fraiseql-server/tests/common/saga_executor.rs
  crates/fraiseql-server/tests/field_auth_edge_cases_test.rs
Labels: none

test(security): add error sanitization property tests [P3C4]
  crates/fraiseql-core/tests/property_error_sanitization.rs
Labels: none

chore(cleanup): fix clippy warnings in Phase 3 tests
  crates/fraiseql-core/tests/e2e_sql_injection_integration.rs
  crates/fraiseql-core/tests/property_error_handling.rs
  crates/fraiseql-server/tests/auth_bypass_detection_test.rs
Labels: none

docs: Remove broken .phases/ directory references
  docs/VERSION_STATUS.md
  docs/alpha-limitations.md
  docs/guides/common-mistakes.md
  docs/guides/trinity-pattern-guide.md
  docs/performance/projection-baseline-results.md
Labels: documentation

docs: Fix formatting in trinity-pattern-guide
  docs/guides/trinity-pattern-guide.md
Labels: documentation

chore(clippy): fix clippy warnings - const fn, redundant clones, unnecessary cast
  crates/fraiseql-core/tests/property_tests.rs
  crates/fraiseql-test-utils/src/saga.rs
  crates/fraiseql-wire/tests/property_protocol.rs
Labels: none

feat(secrets): wire SecretsManager into server (Phase 4, Cycle 4.1)
  crates/fraiseql-server/src/main.rs
  crates/fraiseql-server/src/routes/graphql.rs
  crates/fraiseql-server/src/server.rs
  crates/fraiseql-server/tests/secrets_manager_integration_test.rs
Labels: none

chore: Update release-check to run unit tests only (exclude chaos engineering tests)
  Makefile
Labels: none

feat(rbac): integrate RBAC Management API router into Server [Phase 6, Cycle 6.1]
  crates/fraiseql-server/src/server.rs
Labels: none

build: Optimize wheel distribution to exclude build artifacts
  pyproject.toml
Labels: config, dependencies

.github/labeler.yml:

# Configuration for automatic PR labeling

# Documentation changes
documentation:
  - docs/**/*
  - '*.md'
  - mkdocs.yml

# Test changes
tests:
  - tests/**/*
  - '**/test_*.py'
  - '**/*_test.py'

# Source code changes
core:
  - src/fraiseql/core/**/*

types:
  - src/fraiseql/types/**/*

sql:
  - src/fraiseql/sql/**/*

mutations:
  - src/fraiseql/mutations/**/*

cli:
  - src/fraiseql/cli/**/*

# Configuration changes
config:
  - pyproject.toml
  - ruff.toml
  - pyrightconfig.json
  - tox.ini
  - .pre-commit-config.yaml

# CI/CD changes
ci:
  - .github/workflows/*
  - .github/actions/*

# Dependencies
dependencies:
  - pyproject.toml
  - requirements*.txt
